
<p class="h1 mb20"><%= t("user.password_title") %></p>

<%= simple_form_for @user, url: update_password_path do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :current_password, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit t("app.submit"), :class => "btn btn-custom-primary" %>
  </div>
<% end %>