<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{(current_user.has_role? :admin) ? "Admin" : "Manager"} (#{Rails.env})", monitoring_path,:class=>"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">In Business<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "All", monitoring_in_business_ads_path %></li>
            <% if current_user.has_role? :admin %>
            <li><%= link_to "Kangalou", monitoring_in_business_ads_path(:api => ApiProvider.find_by_name("kangalou").id) %></li>
            <li><%= link_to "PrestigeMLS", monitoring_in_business_ads_path(:api => ApiProvider.find_by_name("prestigemls").id) %></li>
            <li><%= link_to "Centris", monitoring_in_business_ads_path(:api => ApiProvider.find_by_name("centris").id) %></li>
            <li><%= link_to "shareIMMO", monitoring_in_business_ads_path(:api => ApiProvider.find_by_name("shareimmo").id) %></li>
            <li><%= link_to "ZoomVisit", monitoring_in_business_ads_path(:api => ApiProvider.find_by_name("zoomvisit").id) %></li>
            <% end %>
          </ul>
        </li>

       <li><%= link_to "Youtube", monitoring_on_youtube_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Monitoring #1<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Users", monitoring_users_path %></li>
            <li><%= link_to "Managers", monitoring_managers_path %></li>
            <li><%= link_to "Services", monitoring_users_services_path %></li>
          </ul>
        </li>


        <% if current_user.has_role? :admin %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Monitoring #2<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Mails Tester", "/rails/mailers",:target=>"_blank"%></li>
            <li><%= link_to "Scrapping",scrapping_monitoring_path  %></li>
            <li><%= link_to "SideKiq", sidekiq_web_path, :target=>'blank'%></li>
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stats<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Stats Properties", admin_stats_properties_path %></li>
            <li><%= link_to "Stats Users", admin_stats_users_path %></li>
            <li><%= link_to "Stats Visibilities", admin_stats_visibilities_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rédaction<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Blog", blog_admin_path %></li>
            <li><%= link_to "Support", support_admin_path %></li>
          </ul>
        </li>
        <li><%= link_to "PDF", admin_pdf_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to t('back_office.close'), dashboard_path(current_user.username,:subdomain=>false) %></li>
      </ul>
    </div>
  </div>
</nav>


<%= yield %>
