<%= simple_form_for ServicesUser.new, :url => monitoring_users_services_update_path, :remote => true do |f| %>
<div class="modal-header">Services</div>
<div class="modal-body">
  <div><%= "Activated services" %></div>
  <ul class="list-unstyled">
    <% @my_user.services_user.order(:service_id).each do |s| %>
    <li class="mt10 mb10">
      <%= link_to "delete",monitoring_users_services_delete_path(s.id), :method => "delete",:data=>{:confirm => t('back_office.are_you_sure')} ,:class=>"btn btn-xs bg-red color-white",:remote => true %>
      <%= "#{s.service_id} -  #{s.service.name} (#{s.options == 1 ? "with options": 'with no options'})" %>
    </li>
    <% end %>
  </ul>
  <%= f.input :user_id, :input_html => {:value => @my_user.id}, :as =>"hidden" %>
  <% avalaible_services = Service.where.not(:id => @my_user.services.pluck(:id)) %>
  <% if avalaible_services.present? %>
  <hr>
  <div class="h3 center">Add a service</div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.association :service, :collection =>avalaible_services ,:include_blank => false %>
    </div>
    <div class="col-xs-6">
      <%= f.input :options, :collection => {"Option #1"=>1} %>
    </div>
  </div>
</div>
<% else %>
<div class="h3 center">No service to Add</div>
<% end %>
<div class="modal-footer mt10">
  <span class="btn btn-custom-default" data-dismiss="modal"><%= t('back_office.close') %></span>
  <%= f.submit t('back_office.order'), :class => "btn #{custom_button_class_secondary}" %>
</div>
<% end %>
