<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>sign_in_count</th>
      <% if  current_user.has_role? :admin %>
      <td>ADMIN</td>
      <% end %>
    </tr>
    <% @users.each do |u| %>
    <tr>
      <td><%= link_to "Log as",dashboard_path(u.username),:class=>"btn btn-xs btn-custom-primary" %></td>
      <td><%= "##{u.id} - #{u.profile.public_name } (#{u.email})" %></td>
      <td><%= u.sign_in_count %></td>
      <% if  current_user.has_role? :admin %>
      <td class="center">
        <%= link_to "Services", monitoring_users_services_manage_path(u), :remote => true, :class=>"btn btn-xs btn-custom-primary" %>
        <%= link_to "Clôturer", user_path(u),:disabled=> current_user.id==u.id ? true : false ,:data => { :confirm => "En validant, le compte sera supprimé ainsi que toutes ses propriétés !" }, :method => :delete,:class=>'btn btn-xs btn-danger' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
