<% @title_for_layout        = "#{@profile.public_name } | #{@property["title"][I18n.locale.to_s]}" %>
<% @description_for_layout  = "#{@property["listing"][I18n.locale.to_s]}, #{@property["classification"][I18n.locale.to_s]}, #{@property["address"]["locality"]} (#{@property["address"]["sublocality"]}) - #{@property["rooms"]["rooms"]} #{t('front_office.rooms')}, #{@property["rooms"]["bedrooms"]} #{t('front_office.bedrooms')},  #{@property["rooms"]["bathrooms"]} #{t('front_office.bathrooms')}. #{truncate(sanitize(@property["description"][I18n.locale.to_s]), :length=>40)}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.name}/#{@property["id"]}" : "http://#{@user.username}.1clic.immo/#{@property["id"]}"%>
<% @image_for_share_url     = @property["cover_url"] if @property["cover_url"].present?  %>

<%= render 'layouts/generic_meta' %>

<%= content_for (:head) do %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places,geometry&language=#{I18n.locale}"%> "></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
<% end %>

<div id="single_property">
  <%= render 'front_office/template_4/header' %>
  <section class="container">
    <section class="row" id="single_property_header">
      <section class="col-md-12 bg-white">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @count = 0 %>
            <% @property["pictures"].each_with_index do |picture, n| %>
              <li data-target="#myCarousel" data-slide-to="<%= @count %>" class="<%= n == 0 ? "active" : "" %>"></li>
            <% @count = @count + 1 %>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @property["pictures"].each_with_index do |picture, n| %>
              <div class="item text-center <%= n == 0 ? "active" : "" %>">
                <%= image_tag picture["large"],:class=>'img-responsive' %>
              </div>
            <% end %>
          </div>
          <% if @count > 1 %>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
        </div>
      </section>
    </section>
    <section class="row mt10" id="single_property_body">
      <section class="col-md-12">
        <div class="row" id="single_property_title">
          <div class="col-sm-9 col-xs-9"><h1 class="color-primary" id="single_property_title"><%= @property["title"][I18n.locale.to_s] %></h1></div>
          <div class="col-sm-3 col-xs-3"><h3 class="bg-primary"><%= @property["classification"][I18n.locale.to_s] %> - <%= @property["listing"][I18n.locale.to_s] %></h3></div>
        </div>
        <p>
          <h2 class="color-primary fs14 inline-block"><% if @property["address"]["address_visibility"].present? and @property["address"].present? %><%= "#{@property["address"]["street_number"]} #{@property["address"]["street_name"]} #{@property["address"]["zipcode"]}"%> - <% end %><%= @property["address"]["locality"] %> | </h2>
          <% if @property["availability_date"].present? %>
          <span class="color-black"><%= t('front_office.availability') %></span> : <span class="color-primary"><%= (@property["availability_date"] > Time.now) ? I18n.localize(@property["availability_date"].to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %> | </span>
          <% end %>
          <span class="color-black"><%= t('front_office.ad') %> :</span> <span class="color-primary"><%= "##{@property["id"]}" %></span>
        </p>
      </section>

      <section class="col-md-12 mt10">
        <section class="row">
          <section class="col-md-9 color-black">
            <% if @property["description"][I18n.locale.to_s].present? %>
              <%= @property["description"][I18n.locale.to_s].html_safe %>
            <% end %>
          </section>
          <section class="col-md-3" id="single_property_contact">
            <div id="single_property_thumbnail" style="background-image:url(<%= image_path @profile.avatar.url(:medium) if @profile.avatar? %>);"></div>
            <% if @profile.phone_visibility and @profile.phone.present? %>
              <p><i class="fa fa-phone"></i> <%= @profile.phone %></p>
            <% end %>
            <% if @agent.present? %>
            <hr>
            <div class="broker-info pt8 pl20">
              <%= image_tag @agent.picture.url(:medium),:class=>"broker-info__image f-left img-responsive mr10", :style=>"max-width:140px;" %>
              <div class="a-left">
                <div class="h4 mb5"><%= "#{@agent.first_name} #{@agent.last_name}" %></div>
                <div class="h5 mb3 mt0"><%= @agent.phone %></div>
                <div class="h5 mb3 mt0"><%= @agent.email %></div>
              </div>
            </div>
            <div class="clear-block"></div>
            <% end %>

            <ul class="list-inline mb5 text-center">
              <% if @user.profile.facebook.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.facebook) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.twitter.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.twitter) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.linkedin.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.linkedin) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.pinterest.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.pinterest) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.google_plus.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.google_plus) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.instagram.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.instagram) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
              <% end %>
            </ul>
            <span class="bg-primary" data-toggle="modal" data-target="#myContactModalMail"><%= t('front_office.contact_me') %></span>
          </section>
        </section>
      </section>

      <section class="col-md-12 mt10">
        <hr class="border-primary">
        <div class="mt10 h3 color-primary"><%= t('front_office.housing_characteristics') %></div>

        <!-- DÉBUT ROW CARACTÉRISTIQUES -->
        <div class="row pt15">
          <div class="col-md-6">
            <table class="table table-hover">
              <thead>
                <div class="col_head bold pAll8 color-primary"><%= t('front_office.general_informations') %></div>
              </thead>
              <tbody>
                <% if @property["classification"][I18n.locale.to_s].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.property_classification') %></th>
                  <td><%= @property["classification"][I18n.locale.to_s] %></td>
                </tr>
                <% end %>
                <% if @property["financial"]["price_formated"].present? %>
                <tr>
                  <th scope="row" class="row_head">
                    <%= "#{@property["listing_id"] == 1 ? t('front_office.price') : t('front_office.rent')}" %>
                  </th>
                  <td>
                    <%= @property["financial"]["price_formated"] %>
                  </td>
                </tr>
                <% end %>
                <% if @property["rooms"]["rooms"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.rooms') %></th>
                  <td><%= @property["rooms"]["rooms"] %></td>
                </tr>
                <% end %>
                <% if @property["rooms"]["bathrooms"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.bathrooms') %></th>
                  <td><%= @property["rooms"]["bathrooms"] %></td>
                </tr>
                <% end %>
                <% if @property["rooms"]["showerrooms"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.showerrooms') %></th>
                  <td><%= @property["rooms"]["showerrooms"] %></td>
                </tr>
                <% end %>
                <% if (@property["area"]["living"].present? and @property["area"]["living"].present?) %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.area_living') %></th>
                  <td><%= "#{@property["area"]["living"]} #{@property["area"]["unit"]}".html_safe %></td>
                </tr>
                <% end %>
                <% if (@property["area"]["land"].present? and @property["area"]["living"].present?) %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.land') %></th>
                  <td><% "#{@property["area"]["land"]} #{@property["area"]["unit"].symbol}".html_safe %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-hover">
              <thead>
                <div class="col_head bold pAll8 color-primary"><%= t('front_office.additional_informations') %></div>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.property_status') %></th>
                  <td><%= @property["status"][I18n.locale.to_s] %></td>
                </tr>
                <% if @property["financial"]["tax1_annual"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.tax_1') %></th>
                  <td><% "#{(@property["financial"]["tax1_annual"])} #{t('front_office.per_year')}"%></td>
                </tr>
                <% end %>
                <% if @property["financial"]["tax2_annual"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.tax_2') %></th>
                  <td><% "#{(@property["financial"]["tax2_annual"])} #{t('front_office.per_year')}"%></td>
                </tr>
                <% end %>
                <% if @property["financial"]["fees"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.fees') %></th>
                  <td><% (@property["financial"]["fees"]) %></td>
                </tr>
                <% end %>
                <% if @property["year_of_built"].present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.year_of_built') %></th>
                  <td><%= @property["year_of_built"] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </section>

      <%# if @hash.first[:lat].present? && @hash.first[:lng].present? %>
      <%# MAP %>
          <section class="bg-white full-width mb30">
              <%if @property["address"]["latitude"].present? && @property["address"]["longitude"].present? %>
              <div id='map' class="mb-5" style="width: 100%; height: 360px;"></div>
              <%  end %>
            </section>
      <%# end %>
    </section>
  </section>
</div>

<footer class="container-fluid mt10">
  <%= render 'front_office/template_4/footer_broker' %>
</footer>


<% if @property["address"]["latitude"].present? && @property["address"]["longitude"].present? %>
<%= content_for (:head) do %>
<script>
$(document).ready(function(){
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_TOKEN'] %>";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/bright-v9',
    center: [<%= @property["address"]["longitude"] %>, <%= @property["address"]["latitude"] %>],
    zoom: 13,
    pitch: 45
  });

  map.addControl(new mapboxgl.Navigation())
  map.scrollZoom.disable()
  map.on('load', function(){
    el = document.createElement('div')
    el.className = 'block'
    el.style.backgroundImage = 'url(/map_icons/1.png)'
    el.style.width = '26px'
    el.style.height = '42px'
    var marker = new mapboxgl.Marker(el, {offset: [-13, -21]}).setLngLat([<%= @property["address"]["longitude"] %>, <%= @property["address"]["latitude"] %>]).addTo(map);
  });
})
</script>
<% end %>
<% end %>
