<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Payment</h4>
    </div>
    <%= simple_form_for @payment ,:url => admin_payment_update_path(:invoice_id => @invoice.id, :id => @payment.id), :defaults => {:input_html=>{:class=>"form-control input-lg"}} do |f| %>
    <div class="modal-body">
      <%= f.input :invoice_id, :input_html => {:value => @invoice.id}, :as => :hidden %>

      <div class="row">
        <div class="col-md-4">
          <%= f.input :amount %>
        </div>
        <div class="col-md-4">
          <%= f.input :currency, :collection => ApplicationRecord.currency_codes, :include_blank => false %>
        </div>
        <div class="col-md-4">
          <%= f.input :due_date, :input_html => {:class =>"form-control input-lg datepicker"}, :as => :string  %>
        </div>
      </div>
      <% if type.present? && type == "new" %>
      <div class="row mt20">
        <div class="col-md-4">
          <%= f.input :number, :label => "Duplication number", :input_html => {:type => :number, :value => 1}, :hint => "Number of time the payment will be duplicated." %>
        </div>
        <div class="col-md-4">
          <%= f.input :recurrence, :label => "Recurrence", :collection => [["Month", "month"],["Year", "year"]], :include_blank => false, :hint => "If the payment is duplicated, this is the increment the due date will be increased by." %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= f.submit :class => 'btn btn-custom-secondary', :value => "Save" %>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$('.datepicker').pickadate({
  onRender: function() {
    $('.picker').appendTo('body');
  }
});
</script>
