<div class="f-right">
  <%= link_to "Add Invoice", admin_invoices_new_path, :class => "btn btn btn-sm btn-custom-primary" %>
</div>

<p class="h1 mb20">Invoices</p>


<table class="table table-condensed table-bordered">
  <thead>
    <th>id</th>
    <th>User</th>
    <td>Name</td>
    <th>Amount</th>
    <th>Action</th>
  </thead>
  <tbody id="extrasTable">
    <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.id %></td>
      <td><%= invoice.user.email %></td>
      <td><%= invoice.name %></td>
      <td><%= humanized_money_with_symbol invoice.amount %></td>
      <td>
        <ul class="list-inline mb0">
          <li><%= link_to "Edit", admin_invoices_edit_path(invoice), :class=>"color-link" %></li>
          <li><%#= link_to "Delete", admin_invoices_delete_path(invoice), :method => "delete", :data => {:confirm => "Are you sure?"}, :class=>"color-white" %></li>
          <% if invoice.file.present? %>
          <li><%= link_to "See", invoice.file.url, :class=>'ml20 color-link', :target => "_blank" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
