<div class="pull-right"><%= link_to "Back", admin_invoices_path, :class => "btn btn-custom-primary" %></div>
<div class="h1 mb20">New Invoice</div>


<%= minimal_form_for @invoice ,:url => admin_invoices_update_path(@invoice.id), :defaults => {:input_html=>{:class=>"form-control input-lg"}} do |f| %>
<%= f.input :draft, :input_html => {:value => 0}, :as => :hidden %>


<div class="row mb20">
  <div class="col-sm-6">
    <div class="row mb20">
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "Invoice Number" %></h5>
        <%= f.input :invoice_number %>
      </div>
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "User" %></h5>
        <%= f.input :user_id, :collection => User.all, :include_blank => false, :label_method => lambda { |user| "#{user.id} | #{user.email}" } %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "Amount" %></h5>
        <%= f.input :amount %>
      </div>
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "Currency" %></h5>
        <%= f.input :currency, :collection => ApplicationRecord.currency_codes, :include_blank => false %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "Invoice Date" %></h5>
        <%= f.input :invoice_date,:input_html => {:class =>"form-control input-lg datepicker"}, :as => :string  %>
      </div>
      <div class="col-sm-6">
        <h5 class="fs14 medium color-grey mt0 mb10"><%= "Name" %></h5>
        <%= f.input :name %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h5 class="fs14 medium color-grey mt0 mb10"><%= "File" %></h5>
    <%= f.input :file, :label => false %>
    <% if @invoice.file.present? %>
    <iframe src="<%= @invoice.file %>&embedded=true" frameborder="0" class="" height="250px"></iframe>
    <% end %>
  </div>
</div>
<%= f.submit "Save", :class => "btn btn-custom-primary" %>

<% end %>

<hr>

<div class="h4">
  Payments
  <%= link_to "Add Payment", admin_payment_add_path(:invoice_id => @invoice.id), :remote => true, :class => "btn btn-sm btn-custom-secondary" %>
</div>

<table class="table table-condensed table-bordered mt20">
  <thead>
    <th>Id</th>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Is Paid</th>
    <th>Action</th>
  </thead>
  <tbody id="extrasTable">
    <% @invoice.payments.each do |payment| %>
    <tr>
      <td><%= payment.secure_id %></td>
      <td><%= humanized_money_with_symbol payment.amount %></td>
      <td><%= payment.due_date %></td>
      <td>
        <%= "Paid on #{payment.payment_date}" if payment.is_paid == 1 %>
        <%  if payment.is_paid == 0 %>
        <ul class="list-inline mb0">
          <li><%= link_to "Send by email" , admin_payment_send_path(:invoice_id => @invoice.id, :id => payment.id), :class => "color-white",:data => {:confirm => "Are you sure?"} %></li>
          <li><%= link_to "Pay", make_payment_url(payment.secure_id,:subdomain => "payment"), :class => "color-white" %></li>
        </ul>
        <% end %>
      </td>
      <td>
        <ul class="list-inline mb0">
          <% if payment.is_paid == 0 %>
          <li><%= link_to "Edit", admin_payment_edit_path(:invoice_id => @invoice.id, :id => payment.id), :remote => true, :class=>"color-white" %></li>
          <li><%= link_to "Delete", admin_payment_delete_path(:invoice_id => @invoice.id, :id => payment.id), :method => "delete", :data => {:confirm => "Are you sure?"}, :class=>"color-white" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog"></div>



<script type="text/javascript">
$('.datepicker').pickadate()
</script>
