<table class="table">

  <tbody>
    <% @leads["myleads"].each do |i, group| %>
    <tr>
      <td colspan="2" class="bg-light-grey color-grey uppercase center h4"><%= i %></td>
    </tr>

    <% group.each do |lead| %>
    <% if lead['id'] > 300 %>
    
    <tr class="clickable-row" onclick="window.location = '<%= show_lead_url(:id => lead['id'], :subdomain => "lead") %>';">
      <td>
        <%= "#{lead["type"]["name"]} - #{lead["data"][":location"]}" %>
        <br>
        <span><%= lead["data"][":clients"] %></span>&nbsp;<span class="color-grey"><%= "Prioritaire" %></span>
      </td>
      <td>
        <%= lead["data"][":budget"] %>
        <br>
        <span class="color-grey"><%= "3 credits" %></span>
      </td>
    </tr>   

    <% end %>

    <% end %>
    <% end %>
    
  </tbody>
</table>