<p class="h1 mb20">Payments</p>


<table class="table table-condensed table-bordered mt20">
  <thead>
    <th>Id</th>
    <td>User</td>
    <td>Invoice Number</td>
    <td>Invoice Name</td>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Is Paid</th>
    <th>Action</th>
  </thead>
  <tbody id="extrasTable">
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.secure_id %></td>
      <td><%= payment.invoice.user.email %></td>
      <td><%= payment.invoice.invoice_number %></td>
      <td><%= payment.invoice.name %></td>
      <td><%= humanized_money_with_symbol payment.amount %></td>
      <td><%= payment.due_date %></td>
      <td>
        <%= "Paid on #{payment.payment_date}" if payment.is_paid == 1 %>
        <%  if payment.is_paid == 0 %>
        <ul class="list-inline mb0">
          <li><%= link_to "Send by email" , admin_payment_send_path(:invoice_id => payment.invoice.id, :id => payment.id), :class => "color-white",:data => {:confirm => "Are you sure?"} %></li>
          <li><%= link_to "Pay", make_payment_url(payment.secure_id,:subdomain => "payment"), :class => "color-white" %></li>
        </ul>
        <% end %>
      </td>
      <td>
        <ul class="list-inline mb0">
          <% if payment.is_paid == 0 %>
          <li><%= link_to "Edit", admin_payment_edit_path(:invoice_id => payment.invoice.id, :id => payment.id), :remote => true, :class=>"color-white" %></li>
          <li><%= link_to "Delete", admin_payment_delete_path(:invoice_id => payment.invoice.id, :id => payment.id), :method => "delete", :data => {:confirm => "Are you sure?"}, :class=>"color-white" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
