$primary_color: <%= color1 %>;
$secondary_color: <%= color2 %>;
$white:#ffffff;


//////////////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////////////
.color-primary,a.color-primary{color:$primary_color !important;}
.color-secondary,a.color-secondary{color: $secondary_color !important;}

//////////////////////////////////////////////////////////
// Backkground
//////////////////////////////////////////////////////////
.bg-primary{background-color: $primary_color !important}
.bg-secondary{background-color:  $secondary_color !important}


//////////////////////////////////////////////////////////
// Border
//////////////////////////////////////////////////////////
.border-primary{border-color:$primary_color !important;}
.border-secondary{border-color: $secondary_color !important;}



//////////////////////////////////////////////////////////
//  Buttons
//////////////////////////////////////////////////////////
.btn-primary{
  background-color: $primary_color !important;
  border:1.5px solid darken($primary_color, 5%) !important;
  color:$white;
  &:hover{
    color:darken($white,2%);
    background-color: darken($primary_color, 5%)!important;
  }
}

.btn-secondary{
  background-color: $secondary_color !important;
  border:1.5px solid darken($secondary_color, 5%) !important;
  color:$white;
  &:hover{
    color:darken($white,2%);
    background-color: darken($secondary_color, 5%) !important;
  }
}

a,.btn.btn-default{
  &:hover{
    color:$primary_color;
  }
}

//////////////////////////////////////////////////////////
//  WYSIWYG
//////////////////////////////////////////////////////////
#product-description{
  h2,h3,h4,h5,h6{
    color: $secondary_color !important;
  }
}


.twitter-typeahead{
  .tt-suggestion.tt-cursor {
    color: $white !important;
    background-color: $primary_color;
    .color-primary{
      color: $white !important;
    }
  }
}
