<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url => session_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<h3 class="mb20 color-white"><%= t('.title_new_session') %></h3>
<%= f.input :email,:label=>false,:placeholder=>"email",:wrapper_html  =>{:class=>'mb200'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.input :password,:label=>false,:placeholder=> "password",:wrapper_html  =>{:class=>'mb20'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<%= f.submit t('.sign_in'), :class => (@oneclic == true || @kangalou == true) ? "btn btn-custom-tertiary btn-block btn-lg lastElement" : "btn btn-custom-primary btn-block btn-lg lastElement" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>
