<div class="container mt40">
  <p>Please <%= link_to 'authorize', '/auth/google_oauth2',:class=>"btn btn-custom-primary btn-xs" %> via your Google account to continue.</p>
  <% if @googles.present? %>
  <div class="h5">Youtube</div>
  <ul>
    <% @googles.each do |g| %>
    <li><%= "#{g.uid} (#{g.name})" %></li>
    <% account = Yt::Account.new(:refresh_token =>g.refresh_token)%>
    <%= debug account.email %>
    <% end %>
  </ul>
  <% end %>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered a-left bg-white">
      <thead>
        <tr class="active">
          <th>Id</th>
          <th>Env</th>
          <th>Link</th>
          <th>Uid</th>
          <th>UploadedBy</th>
          <th>Youtube ID</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |v|%>
        <tr>
          <td><%= v.id %></td>
          <td><%= v.environment %></td>
          <td><%= link_to "download", v.backlink, :target =>"_blank" %></td>
          <td><%= v.uid %></td>
          <td><%= v.uploaded_by %></td>
          <td>
            <% if  v.youtube_id.present?  %>
            <a href='https://www.youtube.com/watch?v=<%="#{v.youtube_id}"%>' target='_blank'><span class="label label-success"><%= v.youtube_id %></span></a>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


