@charset "UTF-8";
/*NEWS TAGS HMTL5*/
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

img {-webkit-user-drag: none;}


/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important}
.h_100_oour_100{height:100% !important }
.bg-cover{
  background-size:cover;
  background-position: center center;
}

//////////////////////////
/////     COVERS     /////
//////////////////////////
.bg-cover-center{background-size:cover; background-position: center; background-repeat:no-repeat;}
.bg-cover-center-bottom{background-size:cover; background-position: center bottom; background-repeat:no-repeat;}
.bg-cover-center-top{background-size:cover; background-position: center top; background-repeat:no-repeat;}
.bg-contain{background-size:contain; background-repeat:no-repeat;}

.opacity-0{opacity:0;}
.opacity-1{opacity:1;}

.hide{display: hidden;}


.absolute-top-left{top:0;left:0;}
.absolute-top-right{top:0;right:0;}
.absolute-bottom-left{bottom:0;left:0;}
.absolute-bottom-right{bottom:0;right:0;}
.z-index-1000{z-index:1000;}
.z-index-10000{z-index:10000;}


.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}


/* --- */
ul.no-margin{margin:0;}
/* --- */
.bold{font-weight:bold;}
.lighter{font-weight:lighter;}
.underline{text-decoration:underline !important;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left;}
.a-right{text-align:right;}
.f-left{float:left;}
.f-right{float:right;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.block{display: block;}
.flex{display: flex;}
.flex_1{flex:1;}
.align-items{align-items:center}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
.no-border{border:none !important}
.no-border-radius{border-radius:0 !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
table.table-no-bordered td{border-top:none !important;}
.valignTop{vertical-align: top !important;}
.valignMiddle{vertical-align: middle !important;}
.borderTopNone{border-top:none !important;}
.border-dotted{border-style: border-dotted}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Bootstrap overwrite */
.img-responsive{display: inline-block;}
.btn{
  @include border-radius(2px);
  &.btn-default{
    &:hover{
      background:#FFF;
      color:$primary;
      border-color:#ccc;
    }
  }
}
.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$primary;
    }
    &.active{
      span{
        border-color:darken($primary,10%);
        background: $primary;
      }
    }
  }
}


h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0}

/* COLOR */
a{
  color:#444444;
  &:hover{
    color:$primary;
    text-decoration:none;
  }
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:$white !important;
}


.colorPrimary{color:$primary;}
.color-primary{color:$primary;}
.color-secondary{color:$secondary;}
.color-tertiary{color:$tertiary;}






.color-white{color:$white !important;}
.color-black{color:$black}
.color-green{color:$green}
.color-red{color:$red}
.color-dark-grey{color:$dark-grey;}
.color-light-grey{color:$light-grey;}
.color-grey{color:$grey;}

.color-twitter{color:$twitter;}
.color-facebook{color:$facebook;}
.color-google{color:$google;}
.color-youtube{color:$youtube;}
.color-linkedin{color:$linkedin;}
.color-instagram{color:$instagram;}


.bg-green{background: $green !important;}
.bg-blue{background: $blue !important;}
.bg-purple{background: $purple !important;}
.bg-red{background:$red !important;}
.bg-yellow{background:$yellow !important;}
.bg-black{background:$black !important;}
.bg-orange{background:$orange !important}
.bg-grey{background:$grey !important}


.bg-twitter{background:$twitter !important;}
.bg-facebook{background:$facebook !important;}
.bg-google{background:$google !important;}
.bg-youtube{background:$youtube !important;color:$white !important;}
.bg-linkedin{background:$linkedin !important;}
.bg-instagram{background:$instagram !important;}




.bg-transparency{background: transparent;}
.bg-light-grey{background: $light-grey;}
.bg-dark-grey{background: $dark-grey;}
.bg-white{background:$white;}
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary !important}
.bg-tertiary{background: $tertiary !important}


.border-light-grey{border:1px solid darken($light-grey,10%)}
.border-primary{border:3px solid $primary;}
.border-secondary{border:3px solid $secondary;}
.border-tertiary{border:3px solid $tertiary;}
.border-black{border:3px solid black;}


// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

//Font Size
$i:10;
@while $i <= 100{
  .fs#{$i}{
    font-size: ($i+(-3))*1px;
    @media (min-width: $screen-sm-min){
      font-size: $i*1px;
    }
  }
  .lh#{$i}{
    line-height: $i*1px ;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}


// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}


// font awesome size
$size:0;
@while $size <= 11{
  .br#{$size} {
    border-radius:$size *1px !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 150{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 9{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}



