<%= link_to t("app.back_to_home"), root_path, :class=>"color-secondary block pull-left" %>

<% if order.cart_items.count > 0 %>
<%= mode == "edit" ? link_to(t('cart.empty_cart'), cart_empty_path, :class => "color-secondary block a-right") : nil %>
<hr class="mt5 mb10">
<% order.cart_items.order(created_at: :desc).group_by{|item| item.pricing.is_a_plan?}.each do |is_a_plan, grouped_items| %>
<% if grouped_items.present? %>
<section class="mb30">
  <p class="fs14 normal color-dark-grey mt7"><%= is_a_plan ? t('app.subscriptions') : t('app.purchases') %></p>
  <div class="mt10">
    <% part_subtotal = 0 %>
    <% grouped_items.each do |item| %>
    <% part_subtotal += item.total_price %>
    <article class="cart-product mb5">
      <div class="thumb bg-cover" style="background-image:url(<%= item.pricing.product.logo.url(:medium) %>);"></div>
      <div class="infos">
        <%= link_to item.pricing.product.name,  product_show_path(item.pricing.product.id), :class=>"fs12 medium color-link mt0 mb10 ellipsis"  %>
        
        <% if mode == "edit" %>
        <div class="pull-right text-right pl20">
          <%= link_to t('app.edit').mb_chars.downcase, cart_display_update_path(item.id), :remote => true, :class=>"color-link fs12" %><br>
          <%= link_to t('app.delete').downcase, cart_remove_path(item), :method => :delete, :data=>{:confirm =>t('app.are_you_sure')}, :class=>"color-link fs12" %>
        </div>
        <% end %>

        <p class="h5 fs12 color-dark-grey mt3 mb0 normal"><%= item.pricing.name.present? ? item.pricing.name : nil %></p>
        <div class="row mt8">
          <div class="col-sm-5">
            <% if item.extras_data.present? %>
            <div class="options inline-block mr6">
              <div class="option-dropdown-bottom">
                <ul class="list-unstyled mb0">
                  <li class="color-white fs12 no-wrap bold"><%= t('app.options') %> :</li>
                  <hr class="mt3 mb5 bg-white">
                  <% item.extras_data.each do |extra| %>
                  <li class="color-white fs12 no-wrap"><%= "- #{extra['name']}" %></li>
                  <% end %>
                </ul>
              </div>
              <span><i class="fa fa-question-circle inline-block"></i></span>
            </div>
            <% end %>
            <span class="fs12 color-grey mr10 inline-block"><%= t('cart.quantities', :count => item.quantity).downcase %></span>
            <span class="price inline-block fs12 color-primary pl8 pr8 br2 border-primary bAll"><%= humanized_money_with_symbol item.total_price %></span>
          </div>
          <div class="col-sm-7 row">
            <% unless item.price_before_sale_cents == item.total_price_cents %>
            <span class="price inline-block fs12 color-primary ml10 br2 pb9"><strike><%= humanized_money_with_symbol item.price_before_sale %></strike></span>
            <% else %>

            <%= simple_form_for :sale, :url => cart_add_sale_path(:cart_item_id => item.id) do |f| %>
            <div class="col-xs-9">
              <%= f.input_field :code, :class => "string required form-control small-input", :placeholder => "Code promo ?" %>
            </div>
            <div class="col-xs-3">
              <%= f.submit :class => 'fs12 color-secondary inline-block mt5 ml5', :value => t('app.validate'), :data => {:disable_with => false} %>
            </div>
            <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </article>
    <% end %>
  </div>
  <div>
    <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= t('cart.sub_total') %> <%= is_a_plan ? t('app.subscriptions').downcase : t('app.purchases').downcase %> <small class="fs12 normal">(<%= t('cart.ht').upcase %>)</small></p>
    <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol part_subtotal %></span>
  </div>
</section>
<% else %>
<p class="h3 medium fs14 color-dark-grey"><%= t('cart.no_items') %></p>
<% end %>
<% end %>
<% else %>
<%# Cart Empty %>
<div class="clearfix mt20 mb20"></div>
<p class="color-grey h3"><%= t('cart.your_cart_is_empty') %></p>
<% end %>