

<%= content_for (:head) do %>
<script src="https://js.stripe.com/v2"></script>
<%= tag :meta, :name => "stripe-key", :content => @store.payment_api_key %>
<% end %>

<%= simple_form_for @cart, :url => checkout_checkout_path, :html => {:id => "cartCheckoutForm"} do |f| %>
<div class="container colored-sides">
  <div class="row same-height-col">
    <section class="col-md-8 pt25 pb60">
      <div class="inline-block full-width">
        <div class="pull-right text-right">
          <span class="fs14 color-dark-grey medium block"><%= t('cart.order_number') %></span>
          <span class="fs14 color-grey block">#395504</span>
        </div>

        <span class="pull-left fs14 color-grey mt10 mb15"><%= t('cart.tagline2') %></span>
      </div>

      <hr class="bg-light-grey mb0 mt10">

      <section class="pt20">
        <div class="row">
          <div class="col-md-4">
            <h4 class="fs16 medium color-primary mb30"><%= t('user.billing_address') %></h4>
          </div>

          <div class="col-md-8">

            <% unless client_signed_in? %>
            <div class="row row-10">
              <div class="col-md-8">
                <%= f.input :email, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.email"), :input_html => {:value => @cart.client.present? ? @cart.client.email : nil} %>
              </div>
            </div>
            <% end %>

            <div class="row row-10">
              <div class="col-md-8">
                <%= f.input :billing_address_company_name, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.company_name") %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <%= f.input :billing_address_last_name, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.last_name") %>
              </div>
              <div class="col-md-6">
                <%= f.input :billing_address_first_name, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.first_name") %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-12">
                <%= f.input :billing_address_address1, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.address") %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-12">
                <%= f.input :billing_address_address2, :required => false, :label_html => {:class => "fs14 medium color-grey"}, :label => "#{t('user.apt_bat_suit')} (#{t('user.optional').downcase})" %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-12">
                <%= f.input :billing_address_country, :required => true, :label_html => {:class => "fs14 medium color-grey"}, :label => t('user.country'), :prompt=>t('app.choose') %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <%= f.input :billing_address_city, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.city") %>
              </div>
              <div class="col-md-3">
                <%= f.input :billing_address_province, :required => false, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.region") %>
              </div>
              <div class="col-md-3">
                <%= f.input :billing_address_zipcode, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.postal_code") %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <% if @cart.will_be_shipped? %>
      <section class="pt30 pb25">
        <div class="row">
          <div class="col-md-4">
            <h4 class="fs16 medium color-primary mb30"><%= t('user.delivery_address') %></h4>
          </div>

          <div class="col-md-8">
            <div class="inline-checkbox">
              <%= f.input :shipping_same_as_billing, :required => false, :label_html => {:class => "full-width"}, :label => t("user.same_as_billing"), :as => :boolean, :input_html => {:checked => @cart.shipping_same_as_billing == 1 ? true : false, :class => "mt4"}, :boolean_style => :inline %>
            </div>

            <div class="row row-10 other_shipping_address" style="<%= @cart.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
              <div class="col-md-6">
                <%= f.input :shipping_address_last_name, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.last_name") %>
              </div>
              <div class="col-md-6">
                <%= f.input :shipping_address_first_name, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.first_name") %>
              </div>
            </div>

            <div class="row row-10 other_shipping_address" style="<%= @cart.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
              <div class="col-md-12">
                <%= f.input :shipping_address_address1, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.address") %>
              </div>
            </div>

            <div class="row row-10 other_shipping_address" style="<%= @cart.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
              <div class="col-md-12">
                <%= f.input :shipping_address_address2, :required => false, :label_html => {:class => "fs14 medium color-grey"}, :label => "#{t('user.apt_bat_suit')} (#{t('user.optional').downcase})" %>
              </div>
            </div>

            <div class="row row-10 other_shipping_address" style="<%= @cart.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
              <div class="col-md-12">
                <%= f.input :shipping_address_country, :required => true, :label_html => {:class => "fs14 medium color-grey"}, :label => t('user.country'), :prompt=>t('app.choose') %>
              </div>
            </div>

            <div class="row row-10 other_shipping_address" style="<%= @cart.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
              <div class="col-md-6">
                <%= f.input :shipping_address_city, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.city") %>
              </div>
              <div class="col-md-3">
                <%= f.input :shipping_address_province, :required => false, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.region") %>
              </div>
              <div class="col-md-3">
                <%= f.input :shipping_address_zipcode, required: true, :label_html => {:class => "fs14 medium color-grey"}, :label => t("user.postal_code") %>
              </div>
            </div>

          </div>
        </div>
      </section>

      <% else %>
      <%= f.input :shipping_same_as_billing, :as => :hidden, :input_html => {:checked => true} %>
      <% end %>

      <hr class="bg-light-grey mb0 mt0">

      <section class="pt20 pb20">
        <div class="row">
          <div class="col-md-4">
            <h4 class="fs16 medium color-primary"><%= t('app.payment_methods') %></h4>
            <%= link_to t("user.edit_cards"), dashboard_cards_path, :class => "color-link fs12 mt5 medium" if client_signed_in? %>

            <span class="fs12 medium color-dark-grey mt20 block"><%= t('cart.secured_paiement') %></span>
            <span class="fs12 color-grey block"><%= t('cart.operated_by').downcase %></span>

            <div class="mt15 mb-5">
              <%= render 'icons/stripe_logo' %>
            </div>
            <%= link_to t('app.know_more'), "https://stripe.com/", :target => :blank, :class=>"fs12 color-link medium" %>
          </div>

          <div class="col-md-8">
            <% if @cards.present? && client_signed_in? %>
            <% @cards.each do |card| %>
            <div class="inline-checkbox mb15">

              <input type="radio" class="mt4" value="<%= card.id %>" name="order[stripe_card_id]" id="card_<%= card.id %>" <%= @default_card == card.id ? "checked" : "" %>>
              <label class="full-width" for="card_<%= card.id %>">

                <span class="color-dark-grey"><%= card.name %> -</span> <small class="fs12 color-grey">terminant par <strong class="medium color-dark-grey"><%= card.last4 %></strong></small>
                <span class="medias">
                  <% if card.brand == "Visa" %>
                  <%= render 'icons/visa_card' %>
                  <% elsif card.brand == "MasterCard" %>
                  <%= render 'icons/mastercard_card' %>
                  <% elsif card.brand == "American Express" %>
                  <%= render 'icons/amex_card' %>
                  <% elsif card.brand == "Discover" %>
                  <%= render 'icons/discover_card' %>
                  <% else %>
                  <% end %>
                </span>
              </label>
            </div>
            <% end %>
            <% end %>

            <%# create new card  %>
            <% if client_signed_in? %>

            <div class="inline-checkbox mb15">
              <input type="radio" class="mt4" value="-1" name="order[stripe_card_id]" id="card_-1">
              <label class="full-width" for="card_-1">
                <span class="color-dark-grey">Nouvelle carte</span>
                <span class="medias">
                  <%= render 'icons/visa_card' %>
                  <%= render 'icons/mastercard_card' %>
                  <%= render 'icons/amex_card' %>
                </span>
              </label>
            </div>

            <div id="new-credit-card" class="hide">
              <%= render "credit_cards/new_card_form", :f => f %>
            </div>

            <% else %>

            <div id="new-credit-card">
              <%= render "credit_cards/new_card_form", :f => f %>
            </div>

            <% end %>

          </div>
        </div>
      </section>

      <%= f.submit t('cart.confirm_order'), :class => "btn-primary pt10 pb10 pl25 pr25 fs16 pull-right", :id => "infos_submit", :disable_with => t("app.processing") %>

    </section>

    <section class="col-md-4 pt20">
      <div class="bg-white bAll border-grey pt20 pb20 mb50 pl15 pr15 inline-block cart-total-box" data-spy="affix" data-offset-top="185" data-offset-bottom="100">
        <div>
          <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{t('cart.sub_total')} #{t('cart.global').downcase}" %> <small class="fs12 normal">(<%= t('cart.ht').upcase %>)</small></p>
          <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol @cart.subtotal %></span>
        </div>

        <% if @cart.will_be_shipped? %>
        <div class="mt15">

          <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= t('cart.delivery') %></p>

          <span id="cart_shipping_value" class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol @cart.shipping %></span>

          <div class="row row-5">
            <div class="form-group select optional order_shipping_shipping_mode col-xs-6">
              <select class="form-control select optional small-input" name="order[shipping][shipping_mode]" id="order_shipping_shipping_mode">
                <% @shippings.each do |s| %>
                <option value="<%= s.id %>" <%= s.id == @cart.shipping_id ? "selected" : nil %>><%= "#{s.shipping_mode.name} - #{humanized_money_with_symbol(s.price)}" %></option>
                <% end %>
                <% if @shippings.empty? %>
                <option><%= "#{t("cart.shipping_no_country")}" %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <% end %>

        <% if @cart.tax1.present? and @cart.tax1 > 0 %>
        <div class="mt15">
          <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{@cart.tax1_name} (#{@cart.tax1_value} %)" %></p>
          <span id="cart_tax1_value" class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.tax1) %></span>
        </div>
        <% end %>

        <% if @cart.tax2.present? and @cart.tax2 > 0 %>
        <div class="mt15">
          <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{@cart.tax2_name} (#{@cart.tax2_value} %)" %></p>
          <span id="cart_tax2_value" class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.tax2) %></span>
        </div>
        <% end %>

        <hr class="mt15 mt15 bg-light-grey">

        <div class="mt15">
          <p class="h4 medium color-dark-grey fs16 mt0 mb0 inline-block"><%= t('cart.total') %> <small class="fs12 normal">(<%= t('cart.ttc').upcase %>)</small></p>
          <% if ((Rails.env == "production" || Rails.env == "gercop") && (@store.payment_api_key.split("_")[1] == "live" || @store.payment_api_token.split("_")[1] == "live") && client_signed_in? && (current_client.email == "quentin@immosquare.com" || current_client.email == "contact@immosquare.com"))
            free = "gratuit"
          end
          %>
          <span id="cart_total_value" class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol @cart.total %><%= free.present? ? " (#{free})" : nil %></span>
        </div>

        <span class="fs12 color-grey mt5"><%= t('cart.to_pay_today') %></span>

        <%= f.submit t('cart.confirm_order'), :class => "btn-primary pt10 pb10 pl25 pr25 fs16 mt30 pull-right", :id => "infos_submit", :disable_with => t("app.processing") %>
      </div>
    </section>
  </div>
</div>

<% end %>


<%= javascript_tag do %>
window.store_id = <%= @store.id %>
<% end %>
