<div class="container colored-sides">
  <div class="row same-height-col">

    <section class="col-md-12">
      <div class="pt20 pb20 mb50 inline-block full-width">
        <div class="row">

          <div class="col-md-7">
            <%= render 'checkouts/cart_details', :mode => "edit", :order => @cart %>
          </div>

          <section class="col-md-4 col-md-offset-1">
            <div class="bg-white bAll border-grey pt20 pb20 mb50 pl15 pr15 inline-block cart-total-box" data-spy="affix" data-offset-top="185" data-offset-bottom="100">
              <div>
                <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{t('cart.sub_total')} #{t('cart.global').downcase}" %> <small class="fs12 normal">(<%= t('cart.ht').upcase %>)</small></p>
                <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.subtotal) %></span>
              </div>

              <% if @cart.will_be_shipped? %>
              <div class="mt15">
                <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= t('cart.delivery_estimate') %></p>
                <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.shipping) %></span>
              </div>
              <% end %>

              <% if @cart.tax1.present? and @cart.tax1 > 0 %>
              <div class="mt15">
                <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{@cart.tax1_name} (#{@cart.tax1_value} %)" %></p>
                <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.tax1) %></span>
              </div>
              <% end %>

              <% if @cart.tax2.present? and @cart.tax2 > 0 %>
              <div class="mt15">
                <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= "#{@cart.tax2_name} (#{@cart.tax2_value} %)" %></p>
                <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol(@cart.tax2) %></span>
              </div>
              <% end %>

              <hr class="mt15 mt15 bg-light-grey">

              <div class="mt15">
                <p class="h4 medium color-dark-grey fs16 mt0 mb0 inline-block"><%= t('cart.total') %> <small class="fs12 normal">(<%= t('cart.ttc').upcase %>)</small></p>
                <span class="fs18 color-primary medium pull-right lh17"><%= humanized_money_with_symbol @cart.total %></span>
              </div>

              <span class="fs12 color-grey mt5"><%= t('cart.to_pay_today') %></span>

              <%= link_to t('app.pay'), checkout_infos_path, :class => "btn-primary pt10 pb10 pl25 pr25 pull-right fs16 mt50 #{@cart.cart_items.count < 1 ? 'disabled' : nil}" %>
            </div>
          </section>
        </div>
      </div>
    </section>

  </div>
</div>

<%# Linked products %>
<% if @linked_products && @linked_products.size > 0 %>
<div class="bg-white pt20">
  <div class="container">
    <h3 class="mb10 fs18 color-dark-grey medium inline-block"><%= t('app.linked_products') %></h3>
    <hr class="mt0 mb30">
    <div class="row products">
      <% @linked_products.each do |p| %>
      <div class="col-sm-4 product mb50">
        <%= render 'pages/card_product', :p => p %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div id="prices_container">
  <div id="modal_cart_item" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog mt80">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">...</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>
