<%= render  :layout => "devise/layout" do %>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class=>"pl35 pr35 mt40" }) do |f| %>
<h1 class="fs25 uppercase color-white center mb10">Change your password</h1>
<%= f.error_notification %>

<%= f.input :reset_password_token, as: :hidden %>
<%= f.full_error :reset_password_token %>

<%= f.input_field :password, required: false, placeholder: "Password", :class=>"" %>
<%= f.input_field :password_confirmation, required: false, placeholder: "Password", :class=>"" %>

<%= f.submit "Change my password", class: "btn center-block button-primary fs20 uppercase bold pl45 pr45 mt25" %>
<% end %>
<% end %>
