
<%= render  :layout => "devise/layout" do %>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class=>"pl35 pr35 mt40" }) do |f| %>
  <h1 class="fs25 uppercase color-white center mb10">Forgot your password?</h1>
  <%= f.error_notification %>
  <%= f.input_field :email, required: false, autofocus: true,placeholder: "Email",:class=>"" %>
  <%= f.submit "Send me reset password instructions", class: "btn center-block button-primary fs20 uppercase bold pl45 pr45 mt25" %>
<% end %>
<% end %>
