/*
 *= require chosen
 *= require sweetalert
 *= require pickadate/default
 *= require pickadate/default.date
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require lighter
*/


/*
* Bootstrap
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";


/*
* Compass
*/
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";


/*
* Shared
*/
@import "app/variables";
@import "app/font-face";
@import "app/partials/*";

#logo{
  img{max-height:30px; float:left;}
  h1{font-family:Gotham-Light; float:left; font-size:25px; transition:opacity .2s;}
  &.big{
    img{max-height:50px;}
    h1{font-size:40px;}
  }
  &:hover{
    h1{opacity:.7;}
  }
}
