<div id="youtubeStep1">
  <div class="modal-content">
    <%= simple_form_for @youtube_post, :url=> youtube_step2_path, :remote => true do |f|  %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
      <h4 class="modal-title" id="myModalLabel">Youtube</h4>
    </div>
    <div class="modal-body">
      <% if @response.present? && @response["pictures"].present? %>
      <%# Pictures & filters %>
      <section>
        <div class="h5 mb10"><%= t('youtube.step1') %> (<span id="youtubepictureLimit" class="bg-white">1</span> <%= t('youtube.pictures_selected') %>)</div>
        <ul class="list-inline center">
          <% @response["pictures"].each_with_index do |picture,x| %>
          <%= content_tag(:li,:style=>"width:150px;",:data =>{:url =>picture["medium"]},:class=>"pAll5 image-ad mb5 #{'bg-youtube' if x == 0}") do  %>
          <%= image_tag picture["medium"], :class=>"img-responsive pointer" %>
          <% end %>
          <% end %>
        </ul>
        <p><%= t('youtube.choose_pictures') %></p>

        <%# Options %>
        <hr class="mt20 mb20">
        <div class="h5 mb10"><%= t('youtube.step2') %></div>
        <%= f.input :property_id, :as => :hidden, :input_html=>{:value=> @property_id} %>
        <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
        <%= f.input :pictures, as: :hidden, :input_html => {:value => @response["pictures"][0]["medium"] } %>
        <%= f.input :visibility_start, as: :hidden, :input_html=>{:value=> Time.now} %>
        <%= f.input :visibility_until, collection: [[t('youtube.oneweek'), DateTime.now + 1.week], [t('youtube.onemonth'), DateTime.now + 1.month], [t('youtube.oneyear'), DateTime.now + 1.year]], selected: "#{DateTime.now + 1.month}"  %>
        <%  caption = "#{@response["listing"]['fr']} - #{@response["financial"]["price_formated"]} #{@response["address"]["locality"].present? ? "- #{@response["address"]["locality"]}" : nil }"%>
        <%= f.input :video_title, :input_html => {:value => caption}%>
        <%= f.input :video_description, :input_html => {:class=>"textarea-noresize",:rows =>4,:value => convert_to_text(@response["description"][I18n.locale.to_s])}%>
      </section>
      <div class="alert alert-danger" style="display:none;"></div>
      <% else %>
      <div class="h4 center">Le partage Youtube n'est pas disponible pour les annonces sans images</div>
      <% end %>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
      <% if  @response["pictures"].present? %>
      <%= f.submit t('app.post'), :class => "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
