
<ul class="list-inline mt10 mb0">
  <li>
    <%= simple_form_for :search, :url => dashboard_search_cleaner_path(:redirect => url_for,:view => params[:view]), :html => {:id => "dashboard-sort", :class=>"mr30" } do |f| %>
    <%= f.input_field :keywords, :value => params[:keywords], :as => :hidden %>
    <%= f.input :sort,:label=>false, :collection => [["- Sort by -", ""],["Price - High to Low", "pa"],["Price - Low to High ", "pd"]], :class => "border-grey pl15 pr15 br0", :selected => params[:sort].present? ? params[:sort] : nil %>
    <% end %>
  </li>
  <li>
    <input id="view-all-checkbox" type="checkbox" class=" pointer">
    <label for="view-all-checkbox"  class="fs14 pl5 normal pointer ml-3">Select all</label>
  </li>
  <li>
    <%= simple_form_for :search, :url => dashboard_search_cleaner_path(:redirect => url_for,:view => params[:view]), :html => {:id => "dashboard-action", :class=>"relative inline-block" } do |f| %>
    <%= f.input_field :sort, :value => params[:sort], :as => :hidden %>
    <%= f.input_field :keywords, :value => params[:keywords], :as => :hidden %>
    <%= f.input :sort,:label=>false, :collection => [["Action", ""],["Create Flyer", "#1"],["Create Website", "#2"],["Share on Social Media", "#3"],["Send my email", "#3"]], :class => "border-grey pl15 pr15 br0", :selected => params[:sort].present? ? params[:sort] : nil %>
    <% end %>
  </li>

</ul>


<script>
$("#dashboard-sort #search_sort").change(function() {
  $("#dashboard-sort").submit();
});
$("#view-all-checkbox").change(function() {
  if(this.checked){
    $('input.the_checkbox').prop("checked", true);
  }
  else{
    $('input.the_checkbox').prop("checked", false);
  }
});
</script>
