<% @title_for_layout = @appName %>
<%= render 'layouts/partials/generic_meta' %>

<section class="row mr0 ml0 same-height-col">
  <section class="col-lg-2 pr0 pl0" id="main-sidebar">
    <div class="top bg-cover" style="background-image:url(<%= image_path("sidebar-top-bg.png") %>);">
      <div class="filigrane text-center pb65 pt15">
        <%= link_to root_path do %>
        <%= image_tag "logo-white.png", :class=>"img-responsive" %>
        <% end %>
      </div>
    </div>
    <div id="user-infos" class="text-center">
      <div class="avatar img-circle bg-cover inline-block" style="background-image:url(<%= current_user.avatar_to_display %>);"></div>
      <div class="mt-35">
        <div class="dropdown inline-block">
          <div class="dropdown-toggle fs15 bold  pointer ellipsis" type="button" id="dropdownSidebarMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= current_user.name_to_display %><i class="fa fa-angle-down color-grey ml4"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownSidebarMenu">
            <%= content_tag 'li', (link_to t('app.home._'), root_path) %>
            <%= content_tag 'li', (link_to t('app.map'), front_office_map_path) %>
            <%= content_tag 'li', (link_to t('app.dashboard'), dashboard_path) %>
            <li role="separator" class="divider"></li>
            <li><%= link_to t('back_office.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </div>
      </div>
      <%# Menu %>
      <ul id="sideBarMenu" class="mt20 pl70 pr20 text-left list-unstyled fs15">
        <% if  controller_name == "dashboard" %>
        <li class="pt5 pb5">
          <%= link_to dashboard_path, :class=> (current_page?(dashboard_path) ? "color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Listing.svg' %>
          <%= t('app.listing.listings') %>
          <% end %>
        </li>
        <li class="pt5 pb5">
          <%= link_to t('app.my_listings'), dashboard_path(:view => params[:view]), :class=> (current_page?(dashboard_path) ? "color-primary" : nil) %>
        </li>
        <li class="pt5 pb5">
          <%= link_to t('app.listing.office_listings'), dashboard_offices_path(:view => params[:view]), :class=> (current_page?(dashboard_offices_path) ? "color-primary" : nil) %>
        </li>
        <li class="pt5 pb5">
          <%= link_to t('app.listing.all_listings'), dashboard_all_listings_path(:view => params[:view]), :class=> (current_page?(dashboard_all_listings_path) ? "color-primary" : nil) %>
        </li>
        <li class="pt5 pb5">
          <%= link_to t('app.add_listing'),dashboard_listing_new_path, :class=>"" %>
        </li>
        <li class="mt20 pt5 pb5">
          <%= link_to dashboard_profile_path, :class=> (current_page?(dashboard_profile_path) ? "color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Users.svg' %>
          <%= t('app.my_profile') %>
          <% end %>
        </li>
        <% elsif controller_name == "listing" %>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_edit_path(@listing), :class=>(current_page?(dashboard_listing_edit_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Listing.svg' %>
          <%= t('app.listing._') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_location_path(@listing), :class=>(current_page?(dashboard_listing_location_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Locations.svg' %>
          <%= t('app.location') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_building_path(@listing), :class=>(current_page?(dashboard_listing_building_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Building.svg' %>
          <%= t('app.building') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_room_path(@listing), :class=>(current_page?(dashboard_listing_room_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Building.svg' %>
          <%= t('app.room') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_broker_path(@listing), :class=>(current_page?(dashboard_listing_broker_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Realtor.svg' %>
          <%= t('app.broker') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_photo_path(@listing), :class=>(current_page?(dashboard_listing_photo_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Photos.svg' %>
          <%= t('app.photos') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_document_path(@listing), :class=>(current_page?(dashboard_listing_document_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Documents.svg' %>
          <%= t('app.documents') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_taxes_path(@listing), :class=>(current_page?(dashboard_listing_taxes_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Tax.svg' %>
          <%= t('app.taxes') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_seller_path(@listing), :class=>(current_page?(dashboard_listing_seller_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Seller.svg' %>
          <%= t('app.seller') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_equipment_path(@listing), :class=>(current_page?(dashboard_listing_equipment_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Equipment.svg' %>
          <%= t('app.equipment_&_inventory') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_financing_path(@listing), :class=>(current_page?(dashboard_listing_financing_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Financing.svg' %>
          <%= t('app.financing') %>
          <% end %>
        </li>
        <li class="pt13 pb13">
          <%= link_to dashboard_listing_lease_path(@listing), :class=>(current_page?(dashboard_listing_lease_path(@listing)) ? "bold color-primary" : nil) do %>
          <%= embedded_svg 'icons/onglet_Lease.svg' %>
          <%= t('app.lease') %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
  <section class="col-lg-10 pr0 pl0 pb40" id="dashboard-content">
    <div class="header bg-secondary relative">
      <h1 class="inline-block bg-primary color-white bold fs19 pt15 pb15 pl25 pr25 absolute absolute-bottom-left ml40">
        <%= @listing.present? ? "#{t('app.listing._')} ##{@listing.id}" : @brand %>
      </h1>
    </div>
    <%= yield %>
  </section>
</section>
