<%= content_for (:head) do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
<% end %>




<%= render 'dashboard/layout' do %>


<div class="pl40 pr40">
  <%= render "dashboard/form_to_add_later" %>
  <div class="ads-display border-grey pAll25 bAll mt10">
    <div class="tabs-ads-display pull-right mt-70">
      <ul class="list-inline mb0">
        <li>
          <%= link_to url_for(:view => "grid", :keywords => params[:keywords], :sort => params[:sort]), :class=>"inline-block pl20 pr20 #{params[:view] == 'grid' || params[:view] == nil ? 'bg-light-grey bAll border-grey' : 'bg-secondary color-white'}" do %>
          <i class="fa fa-th mr5 color-primary"></i>
          <span class="uppercase fs13"><%= t('app.grid') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to url_for(:view => "list", :keywords => params[:keywords], :sort => params[:sort]), :class=>"inline-block pl20 pr20 #{params[:view] == 'list' ? 'bg-light-grey bAll border-grey' : 'bg-secondary color-white'}" do %>
          <i class="fa fa-list-ul mr5 color-primary"></i>
          <span class="uppercase fs13"><%= t('app.list') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to url_for(:view => "table", :keywords => params[:keywords], :sort => params[:sort]), :class=>"inline-block pl20 pr20 #{params[:view] == 'table' ? 'bg-light-grey bAll border-grey' : 'bg-secondary color-white'}" do %>
          <i class="fa fa-calculator mr5 color-primary"></i>
          <span class="uppercase fs13"><%= t('app.table') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to url_for(:view => "map", :keywords => params[:keywords], :sort => params[:sort]), :class=>"inline-block pl20 pr20 #{params[:view] == 'map' ? 'bg-light-grey bAll border-grey' : 'bg-secondary color-white'}" do %>
          <i class="fa fa-map-marker mr5 color-primary"></i>
          <span class="uppercase fs13"><%= t('app.map') %></span>
          <% end %>
        </li>
      </ul>
    </div>



    <% if params[:view] == "grid" || params[:view] == nil %>
    <% if @response.present? and @response[:results].size > 0 %>
    <div class="row properties grid">
      <% @response[:results][:features].each do |listing| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= render "front_office/listing_grid", :listing => listing[:properties] %>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="h1 center"><%= t('app.no_results') %></div>
    <% end %>
    <% elsif params[:view] == "list" %>
    <% if @response.present? and @response[:results].size > 0 %>
    <div class="properties list">
      <% @response[:results][:features].each do |listing| %>
      <%= render "front_office/listing_list", :listing => listing[:properties] %>
      <% end %>
    </div>
    <% else %>
    <div class="h1 center"><%= t('app.no_results') %></div>
    <% end %>
    <% elsif params[:view] == "table" %>
    <div class="properties table mb0">
      <table class="table table-striped table-bordered full-width bAll border-light-grey sortable">
        <thead class="fs16 bg-secondary color-white">
          <tr>
            <th class="pl15 pr15 pt20 pb20"></th>
            <th class="pl15 pr15 pt20 pb20">Listing ID</th>
            <th class="pl15 pr15 pt20 pb20">Transaction Type</th>
            <th class="pl15 pr15 pt20 pb20">Address</th>
            <th class="pl15 pr15 pt20 pb20">Price/Lease</th>
            <th class="pl15 pr15 pt20 pb20">Property Type</th>
            <th class="pl15 pr15 pt20 pb20">Total floor area</th>
            <th class="pl15 pr15 pt20 pb20">Building area</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% if @response.present? %>
          <% @response[:results][:features].each do |listing| %>
          <tr class="fs14 bb border-light-grey">
            <td>
              <label  class="checkbox-content centered-content pointer">
                <input type="checkbox"  class="pointer the_checkbox">
              </label>
            </td>
            <td class="pl15 pr15 pt10 pb10" sorttable_customkey="<%= listing[:properties][:id] %>"><%= link_to "##{listing[:properties][:id]}",dashboard_listing_edit_path(listing[:properties][:id])  %></td>
            <td class="pl15 pr15 pt10 pb10"><%= listing[:properties][:transaction_major_type][I18n.locale] %></td>
            <td class="pl15 pr15 pt10 pb10" sorttable_customkey="<%= listing[:properties][:locality] %>"><%= listing[:properties][:address] %><br><%= listing[:properties][:locality] %></td>
            <td class="pl15 pr15 pt10 pb10" sorttable_customkey="<%= listing[:properties][:price] %>"><%= listing[:properties][:price_formated] %></td>
            <td class="pl15 pr15 pt10 pb10"><%= listing[:properties][:listing_major_type][I18n.locale] %></td>
            <td class="pl15 pr15 pt10 pb10"><%= listing[:properties][:nb_of_floor] %></td>
            <td class="pl15 pr15 pt10 pb10" sorttable_customkey="<%= listing[:properties][:area] %>"><%= listing[:properties][:area_formated]  %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% elsif params[:view] == "map" %>
    <% if @response.present? and @response[:results].size > 0 %>
    <div class="relative">
      <div class="absolute absolute-top-left z-index-1000">
        <div id="mapStyleSwitcher" class="btn-group btn-group-sm mt5 ml5" role="group">
          <% @mapTheme.each do |theme| %>
          <%= content_tag :button, theme.camelize, class: "pointer btn btn-default #{current_user.current_map_theme == theme ? "bg-primary color-white bold" : nil }", data: {style: theme}  %>
          <% end %>
        </div>
      </div>
      <div id="mapDashboard" data-maptheme="<%= current_user.current_map_theme.present? ? current_user.current_map_theme : 'dark' %>" data-token="<%= ENV['MAPBOX_API_TOKEN'] %>" data-geojson="<%= @response[:results].to_json %>" style="width:100%;height:500px;"></div>
    </div>
    <% else %>
    <div class="h1 center"><%= t('app.no_results') %></div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>





