<%= render 'dashboard/layout' do %>


<%= simple_form_for @user, :url => dashboard_profile_update_path(@user), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<div class="mt70 pl40 pr40">
  <div class="row row-10">
    <div class="col-md-3 col-sm-push-9">
      <div class="center">
        <%= image_tag @user.picture.url(:medium), :class=>"img-responsive img-circle img-thumbnail", :style=>"max-width:100px" %>
        <%= f.input :picture, :label => false %>
      </div>
    </div>
    <div class="col-md-9 col-sm-pull-3">
      <%# Section #1 %>
      <section class="pt10 pl30 pr30 pb10 bg-white">
        <div class="h3 mb20"><%= t('app.personal_informations') %></div>
        <%# row #1 %>
        <div class="row row-10">
          <div class="col-md-2">
            <%= f.input :prefix, :collection => {'Mr.' => 'Mr.','Mrs'=> 'Mrs','Ms' =>'Ms',"Dr"=>"Dr"}, :include_blank =>  true %>
          </div>
          <div class="col-md-5">
            <%= f.input :first_name %>
          </div>
          <div class="col-md-5">
            <%= f.input :last_name %>
          </div>
        </div>
        <%# row #2 %>
        <div class="row row-10">
          <div class="col-md-4">
            <%= f.input :title %>
          </div>
          <div class="col-md-4">
            <%= f.input :suffix %>
          </div>
          <div class="col-md-4">
            <%= f.input :personal_corporate_name %>
          </div>
        </div>
        <%# row #3 %>
        <div class="row row-10">
          <div class="col-md-5">
            <%= f.input :mobile_phone %>
          </div>
          <div class="col-md-5">
            <%= f.input :business_phone %>
          </div>
          <div class="col-md-2">
            <%= f.input :business_phone_ext %>
          </div>
        </div>
        <%# row #3 %>
        <div class="row row-10">
          <div class="col-md-4">
            <%= f.input :phone_toll_free %>
          </div>
          <div class="col-md-4">
            <%= f.input :website %>
          </div>
          <div class="col-md-4">
            <%= f.input :languages %>
          </div>
        </div>
         <%# row #3 %>
        <div class="row row-10">
          <div class="col-md-4">
            <%= f.input :current_map_theme, :collection => @mapTheme, :include_blank=>false %>
          </div>
        </div>
        <%= f.input :qualifications, :input_html =>{:rows =>6} %>
        <%= f.input :specialties, :input_html =>{:rows =>6} %>
      </section>
      <%# Section #2 %>
      <section class="pt10 pl30 pr30 mt30 pb10 bg-white">
        <div class="h3 mb20"><%= t('app.agency_informations') %></div>
        <%# row #1 %>
        <div class="row row-10">
          <div class="col-md-4">
            <%= f.input :company_name %>
          </div>
          <div class="col-md-4">
            <%= f.input :company_phone %>
          </div>
          <div class="col-md-4">
            <%= f.input :company_website %>
          </div>
        </div>
        <%# row #2 %>
        <div class="row row-10">
          <div class="col-md-4">
            <%= f.input :company_email %>
          </div>
        </div>
      </section>

      <%= f.submit t('app.save._'), :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>
    </div>
  </div>
</div>
<% end %>
<% end %>



<script type="text/javascript">
$("#user_mobile_phone,#user_business_phone,#user_company_phone,#user_phone_toll_free").mask("+1 (999) 999-9999");
</script>
