<h2 class="color-twitter mb15 center"><%= t('app.thank_you') %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <div class="well center">
      <%= image_tag((@pixis_order.picture_url), width: 140, height: 94) %>

      <p class="mt20">
        <div class="color-primary h4"><%= "#{t("pixis.order")} ##{@pixis_order.emmobilier_order_id}" %></div>
        <% if @property.present? %>
        <div class="h5 color-primary mt10"><%= "##{@property["uid"].present? ? @property["uid"] : @property["id"]} #{@property["listing"]["fr"]} - #{@property["address"]["locality"]}" %></div>
        <div class="h6"><%= @property["address"]["address_formatted"] %></div>
        <div><%= @property["financial"]["formated"]["price"] %></div>
        <% end %>
        <div class="mt10">
          <%= t("pixis.ordered_on",  date: I18n.localize(@pixis_order.created_at.to_time,:format=>("%d %b %Y"))) %>
        </div>
        <div class="mt10">
          <%= "#{t('pixis.cost')}: #{t('app.tokens_c', :count => @pixis_order.token)}" %>
        </div>
      </p>
    </div>
    <%= link_to t('app.home'), dashboard_path, :class => "btn btn-primary" %>
  </div>
</div>