<% if @response["pictures"].present? %>

<div class="row">
  <div class="col-sm-4 mt20" style="border-right: 1px solid black;">

    <section id="part1" class="center">
      <div class="h4 mb20 color-twitter"><%= t("pixis.choose_tool") %></div>

      <div class="mt10 mb10">
        <span class="btn btn-primary option-btn active" data-cost="3" data-icon="magic"><i class="fa fa-magic fa-2x" aria-hidden="true"></i></span>
        <br>
        <%= @options.where(:token => 3).first.name %>
        <br>
        (<%= t("app.tokens_c", :count => 3) %>)
      </div>

      <div class="mt10 mb10">
        <span class="btn btn-primary option-btn" data-cost="1" data-icon="adjust"><i class="fa fa-adjust fa-2x" aria-hidden="true"></i></span>
        <br>
        <%= @options.where(:token => 1).first.name %>
        <br>
        (<%= t("app.tokens_c", :count => 1) %>)
      </div>

      <div class="h4 mt50 mb20 color-twitter"><%= t("pixis.example") %></div>
      <p><%= t("pixis.click_and_drag") %> :</p>
      <div class="slider responsive ">
        <div class="left image">
          <img src="http://emmobilier.fr/wp-content/uploads/2016/07/IMG_8989.jpg" id="left_example"/>
        </div>
        <div class="right image">
          <img src="http://emmobilier.fr/wp-content/uploads/2016/07/Chambre-Finale.jpg" id="right_example"/>
        </div>
      </div>
    </section>

  </div>

  <div class="col-sm-8 cursor_option mt20">
    <%= simple_form_for @pixis_order, :url => pixis_create_path do |f|  %>

    <div class="pull-right">
      <%= link_to t('app.cancel'), dashboard_path, :class => "btn btn-default text-center"  %>
      <%= f.submit t('app.order'), :class => "btn btn-primary confirm_tokens" %>
    </div>

    <section id="part2">
      <div class="h4 mb20 color-twitter center"><%= t('pixis.choose_photo') %></div>
      <ul class="list-inline center">
        <% @response["pictures"].each_with_index do |picture,x| %>
        <%= f.simple_fields_for :photo_options do |p| %>
        <li class="pAll5 image-ad mb5" data-oldCost="0" style="width:150px;">
          <%= image_tag picture["medium"], :class=>"img-responsive" %>
          <div class="selected_option" style="display: none;"></div>
          <div class="remove_option" style="display: none;" data-toggle="tooltip" data-placement="top" title="<%= t("pixis.remove_selected") %>"><i class='fa fa-lg fa-times' aria-hidden='true'></i></div>
          <%= p.input :picture_url, as: :hidden, :input_html => {:value => picture["medium"] } %>
          <%= p.input :option_id, collection: @options_map, include_blank: false, :label => false, :input_html => {:style => "display: none;", :class => "input_option"} %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </section>

    <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
    <%= f.input :picture_url, as: :hidden, :input_html => {:value => @response["pictures"][0]["medium"]} %>
    <%= f.input :property_id, as: :hidden, :input_html => {:value => @property_id} %>
    <%= f.input :token, as: :hidden, :input_html => {:value => 0} %>
    <%= f.input :reference_number, as: :hidden, :input_html => {:value => "#{@response["uid"].present? ? @response["uid"] : @response["id"]}" } %>

    <div class="mt40 text-center">
      <%= link_to t('app.cancel'), dashboard_path, :class => "btn btn-default text-center"  %>
      <%= f.submit t('app.order'), :class => "btn btn-primary confirm_tokens" %>
    </div>

    <% end %>
  </div>
</div>


<% else %>

<div class="mt40 text-center">
  <%= link_to t('app.cancel'), dashboard_path, :class => "btn btn-default text-center"  %>
</div>

<% end %>