/*Color*/
$white:#ffffff;
$blue:#2980b9;
$black:#000000;
$purple:#a95fbb;
$orange:#cc6600;
$yellow:#ffcc66;
$green:#209875;
$red:#cf1b2c;
$grey:#b7b7b7;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$grey-blue:#9eb8c1;


$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f6f6f6;


$color-link:#56A7FF;

$medium-grey:#2C2F41;
$dark-grey:#7b8994;
$dark-blue:#2b3442;
$dark-orange:#fa6132;
$dark-red:#531a1f;
$dark-grey-blue:#5b656d;



$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;



$primary:#E2A94A;
$secondary:#3E4855;
$tertiary:#A4B3CD;
$tertiary_bis:#858f9e;


