.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($primary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:lighten($primary,45%);
    background-color: lighten($primary, 10%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}


.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($secondary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:darken($secondary, 4%);
    background-color: darken($secondary, 10%);
    border:1.5px solid darken($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}





.btn-custom-tertiary {
  color:$white !important;
  background-color: $tertiary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($tertiary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:darken($tertiary, 4%);
    background-color: darken($tertiary, 10%);
    border:1.5px solid darken($tertiary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}