@font-face{
  font-family:'Helvetica Neue';
  font-weight: normal;
  src: asset-url("helveticaneue/regular/Helvetica.eot");
  src: asset-url('helveticaneue/regular/Helvetica.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/regular/Helvetica.woff') format('woff'),
  asset-url('helveticaneue/regular/Helvetica.ttf') format('truetype'),
  asset-url('helveticaneue/regular/Helvetica.svg#Helvetica') format('svg')
}

@font-face{
  font-family:'Helvetica Neue';
  font-weight: 500;
  src: asset-url("helveticaneue/medium/HelveticaNeue-Medium.eot");
  src: asset-url('helveticaneue/medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.woff') format('woff'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.ttf') format('truetype'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg')
}

@font-face{
  font-family:'Helvetica Neue';
  font-weight: bold;
  src: asset-url("helveticaneue/bold/HelveticaNeue-Bold.eot");
  src: asset-url('helveticaneue/bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.woff') format('woff'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.ttf') format('truetype'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg')
}

@font-face{
  font-family:'Lato';
  font-weight: normal;
  src: asset-url("Lato/regular/Lato-regular.eot");
  src: asset-url('Lato/regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
  asset-url('Lato/regular/Lato-regular.woff') format('woff'),
  asset-url('Lato/regular/Lato-regular.ttf') format('truetype'),
  asset-url('Lato/regular/Lato-regular.svg#Lato-regular') format('svg')
}

@font-face{
  font-family:'Lato';
  font-weight: bold;
  src: asset-url("Lato/semibold/Lato-Semibold.eot");
  src: asset-url('Lato/semibold/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  asset-url('Lato/semibold/Lato-Semibold.woff') format('woff'),
  asset-url('Lato/semibold/Lato-Semibold.ttf') format('truetype'),
  asset-url('Lato/semibold/Lato-Semibold.svg#Lato-Semibold') format('svg')
}