

<%= simple_form_for(resource,:as => resource_name,:url => confirmation_path(resource_name),:defaults => { :input_html => {autocomplete: 'on', :class => 'form-control input-lg' }},:html => {}) do |f| %>
<h3 class="bold center mb20">Renvoyer confirmation</h3>
<%= f.full_error :confirmation_token %>
<div class="row mb20">
  <div class="col-xs-12">
    <%= f.input :login, :wrapper => :prepend do %>
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <%= f.input_field :login,:autofocus => false,:placeholder=>'Email'%>
    <% end %>
  </div>
</div>
<%= f.submit 'Renvoyer la confirmation', :class => 'btn btn-custom-primary btn-block btn-lg' %>
<% end %>




