<%= render :layout => 'devise/layout' do %>
<%= minimal_form_for resource, :as=> resource_name, :url => session_path(resource_name),:html=>{:id =>"myDeviseForm"},:defaults =>{:input_html=>{:class=>"input-lg"}}  do |f| %>
<%= f.input :email, required: false, autofocus: true %>
<%= f.input :password, required: false %>
<%= f.submit :class => "btn btn-lg btn-block btn-custom-primary", :value => t('app.signin') %>
<%= f.input :remember_me, as: :boolean, :input_html => {:style=>"height:20px;"} if devise_mapping.rememberable? %>
<% end %>
<%= render "devise/shared/links" %>
<% end %>

