Allison, Gael, Jérôme<br>
Voici une nouvelle commande à traiter : <br>
<strong>Commande</strong> : <%= "##{@service_order.id}" %><br>
<strong>Property</strong> : <%= "##{@service_order.property_id}" %><br>
<strong>User</strong> :     <%= "##{@service_order.property.user.id} - #{@service_order.property.user.email} #{@service_order.property.user.profile.public_name}" %><br>
<strong>Service</strong> :  <%= "#{@service_order.service.name} (#{@service_order.service.company}) ##{@service_order.service_id}" %><br>
<% if @service_order.property.present? %>
<strong>Type de bien</strong> : <%= @service_order.property.property_classification.name %><br>
<strong>Surface</strong> : <%=  ("#{@service_order.property.area_living} #{@service_order.property.area_unit.present? ? @service_order.property.area_unit.symbol : nil}").html_safe %><br>
<strong>Adresse</strong> : <%=  "#{@service_order.property.address}" %><br>
<% end %>
