Allison,<br>
Il faut activer le service :<br>
<strong><%= @contact.service.present? ? "#{@contact.service.name} (##{@contact.service_id})" : nil %></strong><br>
à l'utilisateur<br>
<strong><%= "#{@contact.user.email}  (##{@contact.user_id})" %></strong>
