<ul class="mt5">
  <li>Id: <strong><%= @user.id %></strong></li>
  <li>Email : <strong><%= @user.email %></li></strong>
  <li>Username : <strong><%= @user.username %></strong></li>
  <li>Date : <strong><%= I18n.localize @user.created_at.to_time,:format =>("%d %b %Y  %H:%M ") %></strong></li>
  <li>From API : <strong><%= @user.api_providers.present? ? @user.api_providers.pluck(:name) : "NO" %></li></strong>
</ul>





