<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% link = @resource.class == Client ? edit_client_password_url(@resource, reset_password_token: @token, :host => request.host_with_port) : edit_user_password_url(@resource, reset_password_token: @token, :host => request.host_with_port)  %>
<p><%= link_to 'Change my password', link %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
