<% @title_for_layout = "#{request.subdomain} - #{t('front_office.real_estate')}" %>
<% @description_for_layout = "#{request.subdomain} - votre prochain site #{t('front_office.real_estate')} automatisé" %>
<% @canonical_for_layout = root_url(:subdomain=>request.subdomain) %>
<%= render 'layouts/partials/generic_meta' %>


<nav id="navbar-clicimmo" class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-toggle no-border collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars color-primary bold fa-2x"></i></span>
      <%= link_to root_url(:protocol=>ENV['PROTOCOL'],:subdomain=>false), :class=>'navbar-brand absolute' do %>
      <%= image_tag("logos/#{@my_provider.logo}",:id => "oneclic_logo") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if @my_provider != "kangalou" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('app.home'),root_url(:subdomain=>false)%> </li>
        <li <%= action_name== "tour" ? "class=active" : "" %>><%= link_to t('app.tour'),tour_url(:subdomain=>false)%> </li>
        <li><%= link_to t('front_office.sign_in') ,new_user_session_url(:subdomain=>false) %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>



<div id="video_container" class="bg-cover" style="background-image:url('<%= "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>');background-color:grey}">
  <div id="filter"></div>
  <div class="coverContentContainer z-index-10000">
    <div class="contentTable">
      <div class="headerText">
        <h1 class="color-white fs40 bold"><%= request.subdomain %></h1>
        <div class="h3 color-white"><%= "http://#{request.subdomain}.#{@my_provider.host}" %></div>
        <div class="h2 color-white"><%= t('front_office.website_available') %></div>
        <div class="center mt20 mb20">
          <%= link_to t('app.discover_from_nowhere'), root_url(:subdomain=>false), :class=>"btn #{custom_button_class_secondary} btn-lg bold" %>
        </div>
      </div>
    </div>
  </div>
</div>


