<% @site_name              = @profile.public_name %>
<% @title_for_layout       = @blog.title.html_safe %>
<% @description_for_layout = strip_tags(@blog.content.truncate(160).squish)  %>
<% @canonical_for_layout   = @main_domain.present? ?  "http://#{@main_domain.domain}/blog/#{@blog.slug}-#{@blog.id}" : "http://#{@user.username}.#{@my_provider.link_host}/blog/#{@blog.slug}-#{@blog.id}" %>
<% @image_for_share_url    = @blog.cover.url(:large,:timestamp=>false)  %>

<% @open_graph_type ='article' %>
<%= render 'layouts/partials/generic_meta' %>
<%= render "front_office/template_#{@theme.theme_id}/header" %>

<div class="container mt20">
  <div class="row">
    <div class="col-sm-8">
      <div class="bg-white pt5">
        <div class="pull-left pl10 pt5"><div class="color-secondary fs10"> <%= I18n.localize @blog.created_at.to_time,:format =>("%d %b %Y") %></div></div>
        <%= render :partial =>'front_office/partials/social_sharing',:locals =>{:canonical_for_layout => @canonical_for_layout} %>
          <h1 class="center pt10 pb10"><%= @blog.title %></h1>
        <%= image_tag @blog.cover.url(:large),:class=>'img-responsive' %>
        <section class="pl50 pr50 pt30 pb20">
          <div id="frontOfficeBlogContent" class="mt10">
            <%= @blog.content.html_safe %>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <%= render 'front_office/partials/right_contact' %>
    </div>
  </div>
</div>

