<% @title_for_layout = t('shareimmo.metas.home.title').html_safe %>
<% @description_for_layout = t('shareimmo.metas.home.description').html_safe %>
<% @canonical_for_layout = explore_shareimmo_url %>
<%= render 'layouts/partials/generic_meta' %>

<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=#{I18n.locale}"%> "></script>
<% end %>
<%= render 'front_office/explore/header' %>




<div class="container">
  <% @properties.in_groups_of(4,false) do |row_properties| %>
  <div class="row">
    <% row_properties.each do |property| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail mt10 mb10">
        <%= link_to explore_ad_path(property.id) do %>
        <%= image_tag property.property_assets.blank? ? PropertyAsset.new.picture.options[:default_url] :  property.property_assets[0].picture.url(:large,:timestamp => false),:class=>"img-responsive" %>
        <% end %>
        <hr class="mt0">
        <div class="caption">
          <h3><%= property.property_listing.name %></h3>
          <div class="h5"><%= my_beautiful_price(property) %></div>
          <div class="h5 color-grey"><%= property.locality %></div>
          <p><%= property.property_classification.name  %></p>
          <div class="center pl20 pr20">
            <%= link_to t('app.discover'), explore_ad_path(property.id), :class=> "btn #{custom_button_class_secondary} btn-block btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <%= will_paginate @properties, renderer: BootstrapPagination::Rails, :next_label=>t('back_office.next'),:previous_label=>t('back_office.previous') %>
</div>
