<% @title_for_layout        =  "#{@property.property_classification.name} - #{@property.title}" %>
<% @description_for_layout  =  "#{@property.property_listing.name}, #{@property.property_classification.name}, #{@property.locality} - #{@property.rooms} #{t('front_office.rooms')}, #{@property.bedrooms} #{t('front_office.bedrooms')},  #{@property.bathrooms} #{t('front_office.bathrooms')}  " %>
<% @canonical_for_layout    =  explore_ad_url(@property.id)%>
<% @image_for_share_url     = @property.property_assets[0].picture.url(:large,:timestamp =>false) if @property.property_assets.present?  %>


<%= render 'layouts/partials/generic_meta' %>
<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=#{I18n.locale}"%> "></script>
<% end %>
<%= render 'front_office/explore/header' %>

<header class="bg-cover" style="background-image: url('<%=  @property.property_assets[0].present? ? @property.property_assets[0].picture.url(:large,:timestamp =>false) : PropertyAsset.new.picture.options[:default_url] %>');"></header>
<div class="container">
  <div class="title mt20">
    <h1 class="inline-block"><%= @property.title.present? ? @property.title : "#{t('front_office.ad')} ##{@property.id}" %></h1>
    <div class="pull-right">
      <h5 class="inline-block fs16 color-dark-grey mr20"><%= "#{t('front_office.availability')} : <span class='color-primary'>#{@property.availability_date.present? ? (I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y"))) : t('front_office.immediately')}</span>".html_safe %></h5>
      <h4 class="inline-block color-primary mr20 pl20 pt5 pb5"><%= my_beautiful_price(@property) %></h4>
      <h3 class="inline-block uppercase bg-primary bold"><%= @property.property_listing.name %></h3>
    </div>
  </div>
  <h2 class="fs14 mt10 color-dark-grey"><%= "#{@property.street_number} #{@property.street_name} #{@property.zipcode}, #{@property.locality}"%></h2>
  <%= render :partial =>'front_office/partials/social_sharing',:locals =>{:canonical_for_layout => @canonical_for_layout} %>
  <div class="ad-infos inline-block full-width pb5">
    <ul>
      <li class="color-primary"><%= @property.property_classification.name %></li>
      <% if(@property.area_living.present? and @property.area_unit.present?)  %>
      <li><i class="color-primary fa fa-square-o mr5"></i> <span class="color-primary"><%= "#{@property.area_living}" %></span><%= @property.area_unit.symbol.html_safe %></li>
      <% end %>
      <% if @property.rooms.present? %>
      <li><i class="color-primary fa fa-square mr5"></i> <span class="color-primary"><%= @property.rooms %></span> <%= t('front_office.rooms') %></li>
      <% end %>
      <% if @property.bedrooms.present? %>
      <li><i class="color-primary fa fa-bed mr5"></i> <span class="color-primary"><%= @property.bedrooms %></span> <%= t('front_office.bedrooms') %></li>
      <% end %>
      <% if @property.showerrooms.present? %>
      <li><i class="color-primary fa fa-tint mr5"></i> <span class="color-primary"><%= @property.showerrooms %></span> <%= t('front_office.showerrooms') %></li>
      <% end %>
    </ul>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-8 mt20">
        <% if @property.description.present? %>
        <div class="fs16 mb30 color-dark-grey desc lh30"><%= @property.description.html_safe %></div>
        <% end %>
        <% if @property.property_assets.blank? || @property.property_assets.count == 1  %>
        <%= image_tag @property.property_assets.present? ? @property.property_assets.first.picture.url(:large) : PropertyAsset.new.picture.options[:default_url] ,:class=>'img-responsive' %>
        <% else %>
        <section id="propertySlider">
          <div class="customNavigation relative">
            <div id="sync1" class="owl-carousel">
              <% @property.property_assets.each do |picture| %>
              <div class="item">
                <%= image_tag picture.picture.url(:large),:class=>'img-responsive' %>
                <% unless picture.room.blank? %>
                <div class="owl-caption color-white fs16 bold"><span><%= picture.room.name %></span></div>
                <% end %>
              </div>
              <% end %>
            </div>
            <a class="shareimmo_controls shareimmo_control_left"><i class="fa fa-angle-left"></i></a>
            <a class="shareimmo_controls shareimmo_control_right"><i class="fa fa-angle-right"></i></a>
          </div>
          <div id="sync2" class="owl-carousel">
            <% @property.property_assets.each do |picture| %>
            <div class="item pt2 pr2 pb2 pl2">
              <%= image_tag picture.picture.url(:large),:class=>'img-responsive' %>
            </div>
            <% end %>
          </div>
        </section>
        <% end %>
      </div>
      <div class="col-md-4 mt20">
        <div class="contact-poster bg-primary pt15 pb15 pl15 pr15">
          <span class="color-white fs25 text-center block mb15"><%= t('front_office.contact_advertisor') %></span>
          <%= simple_form_for(Contact.new,:url=>create_contact_path,:remote =>true,:defaults =>{:input_html => {:class => 'form-control'}}) do |f| %>
          <%= f.input :first_name,:label =>false, :placeholder => t('activerecord.attributes.contact.first_name') %>
          <%= f.input :last_name,:label =>false, :placeholder => t('activerecord.attributes.contact.last_name') %>
          <%= f.input :email,:label =>false,:placeholder => t('activerecord.attributes.contact.email') %>
          <%= f.input :phone,:label =>false,:placeholder => t('activerecord.attributes.contact.phone') %>
          <%= f.input :message,:input_html=>{:class=>'form-control textarea-noresize',:rows=>6},:label=>false,:placeholder => t('activerecord.attributes.contact.message') %>
          <div class="mt5">
            <a class="fs13 underline color-white" href="#poster-infos"><%= t('front_office.other_contacts') %></a>
            <%= f.submit t('back_office.send'), :class => "color-white pull-right bold" %>
          </div>
          <% end %>
        </div>
        <div class="ad-map mt20">
          <% if @property.latitude.present? and @property.longitude.present? %>
          <%= link_to "https://www.google.com/maps/place/#{@property.latitude}+#{@property.longitude}/@#{@property.latitude},#{@property.longitude},15z",:target=>"_blank" do %>
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?key=#{ENV['GOOGLE_API_KEY']}&center=#{@property.latitude},#{@property.longitude}&zoom=13&size=600x600&scale=1&maptype=roadmap&markers=#{@property.latitude},#{@property.longitude}", :class => "img-responsive img-thumbnail" %>
          <% end %>
          <%= link_to t('front_office.see_in_google_map'), "https://www.google.com/maps/place/#{@property.latitude}+#{@property.longitude}/@#{@property.latitude},#{@property.longitude},15z",:class=>"bold italic #{custom_color_class_secondary}",:target=>"_blank"  %>
          <% end %>
        </div>
        <% if @property.videos(:status=>1).present? %>
        <% video =  @property.videos(:status=>1).last %>
        <div class="mt20">
          <div class="svgContainer ratio56">
            <iframe width="560" height="315" src="//www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row mt30">
      <div class="col-md-12 caracteristiques">
        <h2 class="bold underline <%= "bold #{custom_color_class_secondary}" %>"><%= t('front_office.housing_characteristics') %></h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="uppercase color-dark mt20 mb10"><%= t('front_office.general_informations') %></h3>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li><span class="<%= custom_color_class_secondary %>"><%= @property.property_listing.name %></span></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.property_classification') %></span> : <%= @property.property_classification.name %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= my_beautiful_price(@property) %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.level') %></span> : <%= @property.level %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.availability') %></span> : <%= "#{@property.availability_date.present? ? (I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y"))) : t('front_office.immediately')}" %></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.rooms') %></span> : <%= @property.rooms %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.bathrooms') %></span> : <%= @property.bathrooms %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.bedrooms') %></span> : <%= @property.bedrooms %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.showerrooms') %></span> : <%= @property.showerrooms %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.area') %></span> : <%=  %> <%= (@property.area_living.present? and @property.area_unit.present?) ? (("#{@property.area_living} #{@property.area_unit.symbol}").html_safe) : "" %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.land') %></span> : <%=  %> <%= (@property.area_land.present? and @property.area_unit.present?) ? (("#{@property.area_land} #{@property.area_unit.symbol}").html_safe) : "" %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="uppercase color-dark mt20 mb10"><%= t('front_office.additional_informations') %></h3>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.property_status') %></span> : <%= @property.property_status.name %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.tax_1') %></span> : <%= @property.tax_1.present? ? ("#{humanized_money_with_symbol(@property.tax_1)} #{t('front_office.per_year')}") : "" %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.tax_2') %></span> : <%= @property.tax_2.present? ? ("#{humanized_money_with_symbol(@property.tax_2)} #{t('front_office.per_year')}") : "" %></li>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.fees') %></span> : <%= humanized_money_with_symbol(@property.fees) %></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li><span class="<%= custom_color_class_secondary %>"><%= t('front_office.year_of_built') %></span> : <%= @property.year_of_built %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb30" id="poster-infos">
        <hr class="w50 mt40 mb40">
        <div>
          <h2 class="bold underline <%= "bold #{custom_color_class_secondary}" %>"><%= t('front_office.contact') %></h2>
          <span class="fs16  pull-right bold"><%= "#{t('front_office.ad')} ##{@property.id}" %></span>
        </div>
        <div class="mt20">
          <h3 class="fs20 color-primary inline-block"><%= @profile.public_name %></h3>
          <% if @profile.phone.present? and @profile.phone_visibility == 1 %>
          <a class="color-green ml10 fs14" href="tel:<%= @profile.phone %>"><%= @profile.phone %></a>
          <% end %>
          <div class="pull-right socials">
            <% if @profile.facebook.present? %>
            <a class="color-facebook" href="<%= my_url_with_protocol(@profile.facebook) %>" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <% end %>
            <% if @profile.twitter.present? %>
            <a class="color-twitter" href="<%= my_url_with_protocol(@profile.twitter) %>" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <% end %>
            <% if @profile.linkedin.present? %>
            <a class="color-linkedin" href="<%= my_url_with_protocol(@profile.linkedin) %>" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <% end %>
            <% if @profile.pinterest.present? %>
            <a class="color-pinterest" href="<%= my_url_with_protocol(@profile.pinterest) %>" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
            <% end %>
            <% if @profile.google_plus.present? %>
            <a class="color-google" href="<%= my_url_with_protocol(@profile.google_plus) %>" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            <% end %>
            <% if @profile.instagram.present? %>
            <a class="color-instagram" href="<%= my_url_with_protocol(@profile.instagram) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            <% end %>
            <% if @profile.website.present? %>
            <a class="ml25 fs16" href="<%= my_url_with_protocol(@profile.website) %>" target="_blank"><%= @profile.website %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
