<% @title_for_layout =  "#{@profile.public_name} Listing - #{@profile.job}"  %>
<% @description_for_layout =  "#{@profile.public_name } Listing - #{@profile.job} #{@profile.baseline} " %>
<% @canonical_for_layout = @main_domain.present? ?  "http://#{@main_domain.domain}/listings" : "http://#{@user.username}.1clic.immo/listings"%>
<%= render 'layouts/partials/generic_meta' %>


<%= render "front_office/template_#{@theme.theme_id}/header" %>

<div class="container center pt20 pb40">
  <% if @properties.present? %>
  <%= render :partial => "front_office/template_#{@theme.theme_id}/properties", locals: { :properties => @properties,:by_line=>@by_line,:username=>@user.username,:theme_id=>@theme_id} %>
  <% else %>
  <div class="h1"><%= t('front_office.no_result') %></div>
  <% end %>
</div>
