<% @title_for_layout = "#{request.subdomain} - Not Found" %>
<% @description_for_layout = "#{request.subdomain} - Not Found" %>
<%= render 'layouts/partials/generic_meta' %>


<div id="video_container" class="bg-cover" style="background-image:url('<%= "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>');background-color:grey}">
  <div id="filter"></div>
  <div class="coverContentContainer z-index-10000">
    <div class="contentTable">
      <div class="headerText">
        <div class="h2 color-white">Page not Found</div>
      </div>
    </div>
  </div>
</div>

<section class="bg-white pt20 pb20">
  <%= render 'front_office/partials/footer_broker' %>
</section>
