

<%= render :layout => 'admin/partials/layout' do %>

<div class="mb10 mt10 center">
  <%= link_to ad_support_detail_new_path,:class=>"btn btn-custom-primary btn-sm" do %><i class="fa fa-plus mr4"></i>Ajouter un support<% end %>
</div>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>Support</th>
    <th>Actions</th>
  </tr>
  <% @ad_support_details.group_by(&:ad_support).each do |support,ss| %>
  <% ss.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.name %></td>
    <td><%= s.ad_support.present? ? s.ad_support.name : "" %></td>
    <td>
      <%= link_to "edit", ad_support_detail_edit_path(s) %>
      <%= link_to "delete", ad_support_detail_delete_path(s),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>


<% end %>
