<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/generic_meta' %>



<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <div class="row">

    <%= simple_form_for @ad_support_detail, :url =>ad_support_detail_update_path do |f| %>
    <div class="col-sm-7">
      <div class="well well-sm">

        <%= f.input :draft, :as =>"hidden",:input_html=>{:value=>0} %>
        <%= f.association :ad_support, :include_blank => false %>
        <%= f.input :name %>
        <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-block" %>

      </div>
    </div>
    <div class="col-sm-5 center">
      <div class="well well-sm">
        <section>
          <%= f.input :picture %>
          <%= image_tag @ad_support_detail.picture, :class =>"img-responsive" %>

        </section>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>



