<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/generic_meta' %>



<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <%= simple_form_for @ad_support, :url =>ad_support_update_path do |f| %>
  <div class="row">

    <div class="col-sm-7">
      <div class="well well-sm">

        <%= f.input :draft, :as =>"hidden",:input_html=>{:value=>0} %>
        <%= f.input :name %>
        <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-block" %>

      </div>
    </div>
    <div class="col-sm-5">
      <div class="well well-sm">
        <section>
          <%= f.input :ad_support_type_id, :collection => {"Physique"=>1,"Digital" => 2}, :include_blank => false %>
        </section>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>



