

<%= render :layout => 'admin/partials/layout' do %>

<div class="mb10 mt10 center">
  <%= link_to ad_support_new_path,:class=>"btn btn-custom-primary btn-sm" do %><i class="fa fa-plus mr4"></i>Ajouter un support<% end %>
</div>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  <% @ad_supports.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.name %></td>
    <td><%= s.ad_support_type_id.present? ? (s.ad_support_type_id == 1 ? "Physique" : "Digital") : nil %></td>
    <td>
      <%= link_to "edit", ad_support_edit_path(s) %>
      <%= link_to "delete", ad_support_delete_path(s),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>


<% end %>
