<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/generic_meta' %>



<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <%= simple_form_for @post, :url =>post_update_path, :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
  <div class="row">
    <div class="col-sm-7">
      <div class="well well-sm">
        <%= f.input :draft, :as =>"hidden",:input_html=>{:value=>0} %>
        <%= f.input :title %>
        <%= f.input :status, :collection => {"offline"=>0,"online"=>1}, :include_blank => false %>
        <%= f.input :summary, :input_html =>{:class=>"textarea-noresize input-lg"} %>
        <%= f.input :content,:as=> 'text' ,:input_html=>{:class=>"froala"}%>
        <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-block" %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="well well-sm">
        <%= image_tag @post.picture, :class=>"img-responsive" %>
        <%= f.input :picture %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>



<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = false;
window.froala_upload_url = "";
window.frola_delete_url = "";
<% end %>



