

<%= render :layout => 'admin/partials/layout' do %>
<div class="mb10 mt10 center">
  <%= link_to post_new_path,:class=>"btn btn-custom-primary btn-sm" do %><i class="fa fa-plus mr4"></i>Ajouter un Article<% end %>
</div>
<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @posts.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.title %></td>
    <td><%= s.status == 0 ? "OFFLINE" : "ONLINE" %></td>
    <td>
      <%= link_to "edit", post_edit_path(s) %>
      <%= link_to "delete", post_delete_path(s),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>


<% end %>
