

<%= render :layout => 'admin/partials/layout' do %>
<div class="mb10 mt10 center">
  <%= link_to sport_level_new_path,:class=>"btn btn-custom-primary btn-sm" do %><i class="fa fa-plus mr4"></i>Ajouter un Level<% end %>
</div>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @sport_levels.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.name %></td>
    <td>
      <%= link_to "edit", sport_level_edit_path(s) %>
      <%= link_to "delete", sport_level_delete_path(s),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>


<% end %>
