<%= render :layout => 'admin/partials/layout' do %>

<div class="mb10 mt10 center">
  <%= link_to sport_new_path,:class=>"btn btn-custom-primary btn-sm" do %><i class="fa fa-plus mr4"></i>Ajouter un Sport<% end %>
</div>
<% @sports.group_by(&:sport_univer).each do |univer,group_s| %>
<div class="h1"><%= univer.present? ? univer.name : "Sans Univers" %></div>
<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>Projects Count</th>
    <th>Actions</th>
  </tr>
  <% group_s.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.name %></td>
    <td><%= s.projects.count %></td>
    <td>
      <%= link_to "edit", sport_edit_path(s) %>
      <%= link_to "delete", sport_delete_path(s),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<% end %>
