<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/generic_meta' %>



<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <div class="row">

    <div class="col-sm-7">
      <div class="well well-sm">
        <%= simple_form_for @sport_category, :url =>sport_category_update_path do |f| %>
        <%= f.input :draft, :as =>"hidden",:input_html=>{:value=>0} %>
        <%= f.input :name %>
        <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-block" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="well well-sm">
        <section>


        </section>
      </div>
    </div>
  </div>
</div>
<% end %>



