
<!-- Modal -->
<div class="modal fade" id="add_team_modal" tabindex="-1" role="dialog" aria-labelledby="add_team_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un morceau</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :team, :url => team_create_path do |f| %>
        <div class="well well-sm">
          <%= f.input :name %>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>