
<!-- Modal -->
<div class="modal fade" id="add_user_to_team_modal" tabindex="-1" role="dialog" aria-labelledby="add_user_to_team_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une personne a l'equipe</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :user, :url => team_add_user_path do |f| %>
        <div class="well well-sm">
          <%= f.hidden_field :team_id, :value => t.id %>
          <%= f.input :user_id, :label => "Ajouter : ", :collection => @users.map{ |u| [u.username, u.id] } %>
          <%= f.submit "Ajouter", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>