<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/partials/generic_meta' %>


<h1>Equipe : <%= @team.name %></h1>

<br/>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10">
    <%= simple_form_for @team, :url =>team_update_path do |f| %>
    <div class="form-group">
      <%= f.input :name, :input_html => { :class => "form-control" } %>
    </div>

    Personnes dans l'équipe :
    <ul>
      <% @team.users.each do |z| %>
      <li>
        <%= z.username %> - <%= link_to "Enlever de l'équipe", '/team/remove_user/'+z.id.to_s+'/'+@team.id.to_s, :method => :delete, data: { confirm: "Are you sure?"} %>

      </li>
      <% end %>
    </ul>

    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#add_user_to_team_modal">Ajouter une personne a l'équipe</button>

    <br/><br/>

    <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
  </div>
  <% end %>

      <%= render('add_user_to_team', :t => @team) %>


  <div class="col-md-1"></div>

</div>