<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/partials/generic_meta' %>


<div class="mb10 mt10 center">
    <a class="btn btn-custom-primary btn-sm" href="#" data-toggle="modal" data-target="#add_team_modal"><i class="fa fa-plus mr4"></i> Ajouter une team</a>
</div>

<%= render 'teams/add_team_form' %>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @teams.each do |z| %>
  <tr>
    <td><%= z.id %></td>
    <td><%= "#{z.name}" %></td>
    <td>
      <%= link_to "edit", team_edit_path(z) %> | 
      <%= link_to "delete", team_delete_path(z),:method => "delete", :data=>{:confirm=>"Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>

