<%= render  :layout => "devise/layout" do %>
<%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name),:html =>{:class=>"pl35 pr35 mt80"}) do |f| %>
<%= f.input_field :email, required: false, autofocus: true,placeholder: "Email",:class=>"" %>
<%= f.input_field :password, required: false, placeholder: "Password", :class=>"" %>
<%= f.input_field :password_confirmation, required: false, placeholder: "Password", :class=>"" %>
<%= f.submit "Sign up", class: "center-block button-primary fs20 uppercase bold pl45 pr45 mt25" %>
<% end %>

<% end %>
