<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%# @my_provider peut être vide si c'est l'API qui utilise ce render %>
  <%= favicon_link_tag @my_provider.present? ? "/favicon_#{@my_provider.provider_id}.ico" : "favicon_shareimmo.ico"  %>
  <%= favicon_link_tag @my_provider.present? ? "favicon_safari_shareimmo.png" : "favicon_safari_shareimmo.png", rel: 'apple-touch-icon', type: 'image/png' %>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= yield(:head) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 10]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body class='<%= "#{controller_name} #{action_name}  #{@my_provider.present? ? "#{@my_provider.provider_id}" : nil}" %>'>
  <%= render 'layouts/partials/messages' %>
  <%= yield %>
  <%= render 'layouts/partials/tracking_init' %>
</body>
</html>
