<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= favicon_link_tag "/favicon_#{@my_provider.provider_id}.ico"  %>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag "back_office", media: "all", "data-turbolinks-track" => true %>
  <%= yield(:head) %>
  <%= javascript_include_tag "back_office", "data-turbolinks-track" => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 10]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <% if @my_provider.provider_id == "kangalou" and Rails.env.production? %>
  <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
  <script type="text/javascript">FreshWidget.init("", {"queryString": "&widgetType=popup", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#f54029", "alignment": "2", "offset": "235px", "formHeight": "500px", "url": "https://kangalou.freshdesk.com"} );</script>
  <% end %>
  <% if @my_provider.provider_id == "shareimmo" and Rails.env.production? %>
  <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
  <script type="text/javascript">FreshWidget.init("", {"queryString": "&widgetType=popup", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "black", "buttonBg": "#ed5565", "alignment": "2", "offset": "200px", "formHeight": "500px", "url": "https://shareimmo.freshdesk.com"} );</script>
  <% end %>
</head>
<body class='<%= "#{controller_name} #{action_name} #{@my_provider.provider_id} #{browser.name.downcase}" %>' data-browser="<%= "#{browser.name.downcase}"%>" data-browser-version="<%= "#{browser.version}"%>" >

  <% if controller_name != "admin" %>
  <% if @remoteMenu.present? %>
  <%= @remoteMenu["menu"].html_safe %>
  <% else %>
  <div id="MyHeaderHeroNav" class="clearfix">
    <div class="comp pull-left">
      <%= link_to dashboard_path(@user.username) do %>
      <%= image_tag "logos/#{@my_provider.logo}", :id => "logo", :class=>"#{@my_provider.provider_id}_logo img-responsive" %>
      <% end %>
    </div>
    <div>
      <%# Main Menu %>
      <div class="comp pull-right block pointer">
        <div class="like_a">
          <div class="user-profile-image inline-block"><%= image_tag avatar_to_display(@user,30),:class=>'img-responsive' %></div>
          <span><%= t('back_office.menu')%></span>
        </div>
        <div class="drop-down-menu">
          <%# Kangalou Main Menu %>
          <% if @my_provider.provider_id == "kangalou"  %>
          <%= link_to t("front_office.dashboard"),dashboard_path(@user.username) %>
          <% if @website_activated.present? and  @website_options >= 1 %>
          <%= link_to t('back_office.posts'), dashboard_blog_path(@user.username)  %>
          <%= link_to t('back_office.testimonials'), dashboard_testimonials_path(@user.username) %>
          <% end %>
          <%= link_to t('back_office.website_setting'),dashboard_apps_path(@user.username,:website =>1) %>
          <% end %>
          <%= link_to t('back_office.profile'), dashboard_profile_path(@user.username) %>
          <% if @my_provider.provider_id != "kangalou" %>
          <%= link_to t('back_office.activate_my_services'),dashboard_services_home_path(@user.username)%>
          <%= link_to(t('back_office.settings'), dashboard_apps_path(@user.username,:website =>1))  %>
          <%= link_to t('back_office.account'), dashboard_account_path(@user.username)  %>
          <% end %>
          <%= link_to "Admin Menu", monitoring_path,:target=>"_blank" if current_user.has_any_role?(:admin, :manager)  %>
          <%= link_to t('back_office.sign_out'), destroy_user_session_path, :method=>'delete' %>
        </div>
      </div>
      <% if @my_provider.provider_id == "kangalou" %>
      <div class="comp pull-right pointer">
        <%= link_to t('back_office.see_my_website'),root_url(:subdomain=>@user.username,:protocol=>'http'),:target=>"_blank" %>
      </div>
      <% end %>
      <%# Contents %>
      <% if @my_provider.provider_id != "kangalou" %>
      <%# Services %>
      <div class="comp pull-right block pointer">
        <div class="like_a"><%= t('back_office.my_services') %> <i class="fa fa-angle-down ml3"></i></div>
        <div class="drop-down-menu">
          <% ServicesUser.where(:user_id=> @user.id).order(:service_id).each do |service_user| %>
          <% s = service_user.service %>
            <% if @my_provider.services.map(&:id).include?(s.id) %>
              <%= link_to dashboard_services_path(@user.username,:service =>s.slug,:ad => params[:ad].present? ? params[:ad] : nil) do %>
                <i class="fa fa-angle-right mr10 ml7"></i> <%= Globalize.with_locale(I18n.locale){s.name} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="comp pull-right pointer">
        <%= link_to t('back_office.dashboard'),dashboard_path(@user.username)%>
      </div>
      <% end %>
      <% if current_user.id != @user.id %>
      <div class="comp pull-right">
        <%= link_to dashboard_path(current_user.username),:class=>'ml5' do %>
        Close log as <strong><%= name_to_display(@user) %></strong><i class="fa fa-times"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
  <%= render 'layouts/partials/messages' %>
  <%= yield %>
</body>
</html>
