<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>

<body>
  <div class="container pt50 center">
    <div class="row pt50">
      <div class="col-xs-6 col-xs-offset-3">
        <%= image_tag ("logos/#{@my_provider.logo}"),:class=>'img-responsive' %>
      </div>
    </div>
    <div class="pt50">
      <%= yield %>
      <div class="fs20  mt30"><%= link_to t('back_office.back_to_home'),root_url(:subdomain=>false) %></div>
    </div>
  </div>
</body>
</html>
