<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta property="fb:app_id" content="<%=  ENV['FACEBOOK_APP_ID'] %>" />
  <%= favicon_link_tag "/favicon_#{@my_provider.provider_id}.ico"  %>
  <%= display_meta_tags %>
  <% if @profile.present? %>
  <link href="<%= Font.find(@profile.font_id).link_url %>" rel='stylesheet' type='text/css'>
  <link href="<%= Font.find(@profile.font_special_id).link_url %>" rel='stylesheet' type='text/css'>
  <% end %>
  <%= stylesheet_link_tag "front_office", media: "all", "data-turbolinks-track" => true %>
  <% if action_name != "explore" and action_name!= "explore_ad" %>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <% end %>
  <%= javascript_include_tag "front_office", "data-turbolinks-track" => true %>
  <%= yield(:head) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 10]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{controller_name} #{action_name}  #{@profile.present? ? "template_#{@theme.present? ? @theme.theme_id : "explore"}" : "available"} #{@mandate_website == 0 ? '' : 'mandate_website'}" %>'>
  <%= render 'layouts/partials/messages' %>
  <%= yield %>
  <%= render :partial => "front_office/partials/send_email_sms_modal", locals: {:property => @property.present? ? @property : nil } if @profile.present? %>
  <%= render 'front_office/partials/footer' %>
</body>

<% if action_name != "explore" and action_name!= "explore_ad" %>
<%= javascript_tag do %>
  window.analytics_id = "<%= (@profile.present? and @profile.google_analytics.present?) ? "#{@profile.google_analytics}" : nil %>";
<% end %>
</html>
<% end %>
