<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag  'map', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'map', 'data-turbolinks-track' => false %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= "#{controller_name} #{action_name}"%>'>
  <%= render 'layouts/partials/messages' %>
  <%= yield %>
</body>
</html>
