<p><%= @title %></p>
<hr>
<p><table>
	<thead>
		<tr>
			<td>Property</td>
			<td>Visibility</td>
			<td>Url</td>
	</thead>
	<tbody>
		<% @properties.each do |p| %>
		<tr>
			<td><%= p[:id] %></td>
			<td><%= p[:visibility_portal_id] %></td>
			<td><a href="https://www.shareimmo.com/api/v2/craigslist/<%= p[:id] %>?apiKey=123immo&apiToken=square456&locale=fr">link</a></td>
		</tr>
		<% end %>
	</tbody>

</table></p>