<table>
  <tr>
    <td>Prénom</td>
    <td><%= @contact.first_name %></td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><%= @contact.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><%= @contact.phone %></td>
  </tr>
  <tr>
    <td>Note</td>
    <td><%= @contact.message %></td>
  </tr>
</table>
