
<div class="center">
  <%= will_paginate @my_brokers, renderer: BootstrapPagination::Rails %>
</div>


<table  class="table table-condensed table-bordered mt20 table-striped bg-white">
  <thead>
    <tr>
      <th>Id</th>
      <th>Flag</th>
      <th>Next Step Date</th>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Zipcode</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @my_brokers.each do |broker| %>
    <tr>
      <td><%= broker.id %></td>
      <td><%= broker.flag.present? ? broker.flag.name : "" %></td>
      <td><%= I18n.localize broker.next_step_date.to_time,:format =>("%d %B %Y") if broker.next_step_date.present?  %></td>
      <td><%= "#{broker.first_name} #{broker.last_name}" %></td>
      <td><%= ("#{broker.phone}<br>#{broker.phone2}").html_safe %></td>
      <td><%= broker.email %></td>
      <td><%= ("#{broker.city}<br>#{broker.zipcode}").html_safe %></td>
      <td><%= link_to "Edit", edit_my_broker_path(broker), :class=>"btn btn-custom-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

