

<div class="container mt15">
  <%= simple_form_for @my_broker do |f| %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-xs-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :phone,:label=>"# de l'agence" %>
    </div>
    <div class="col-xs-6">
      <%= f.input :phone2,:label=>"Cellulaire" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :email %>
    </div>
    <div class="col-xs-6">
      <%= f.input :agency_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <%= f.input :street_number %>
    </div>
    <div class="col-xs-3">
      <%= f.input :street_name %>
    </div>
    <div class="col-xs-3">
      <%= f.input :city %>
    </div>
    <div class="col-xs-2">
      <%= f.input :province %>
    </div>
    <div class="col-xs-2">
      <%= f.input :zipcode %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <%= f.input :website %>
    </div>
    <div class="col-xs-4">
      <%= f.input :website_techno_id, :collection=>{"Perso"=>1,"EGP"=>2,"iD3"=>3,"Bannière"=>4} %>
    </div>
    <div class="col-xs-4">
      <%= f.input :phoner_id, :collection=>{"Fabien"=>1,"Geo"=>2,"Autre"=>3} %>
    </div>
  </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <%= f.association :flag, :include_blank => true %>
      </div>
      <div class="col-xs-4">
        <%= f.input :next_step_date,:as=>:string,:input_html=>{:class=>"datepicker"}%>
      </div>
      <div class="col-xs-4">
        <%= f.input :next_step_id, :collection =>{"Email"=>1,"Phone"=>2,"Other"=>3},:include_blank=>true  %>
      </div>
    </div>
    <button id="addNote" class="btn btn-custom-primary btn-xs" data-date=<%= Date.today.to_s %> >Ajoutez une note</button>
    <%= f.input :note,:label=>false, :input_html=>{:class=>"textarea-noresize", :rows=>15} %>
    <%= f.submit :class => 'btn btn-custom-primary', :value => 'Update' %>
  </div>
  <% end %>
</div>
