<div class="container">

  <%= form_for_filterrific @filterrific do |f| %>
  <div class="center">
    <ul class="list-inline">
      <li><%= render_filterrific_spinner %></li>
      <li><%= link_to "Réinitialiser les filtres", reset_filterrific_url,:class=>"btn btn-custom-tertiary btn-xs bold" %></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>SortBy</label>
        <%= f.select :sorted_by,[['ID (du - au +)', 'id_asc'],['ID (du + au -)', 'id_desc'],['City (A-Z)', 'city_desc'],['City (Z-A)', 'ity_asc'],['Date sens 1', 'next_step_date_asc'],['Date sens 2', 'next_step_date_desc']],{},{ :class => 'form-control' }  %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Drapeau</label>
        <%= f.select :by_flag,Flag.order('LOWER(name)').map { |e| [e.name, e.id] },{ :include_blank => '- Tous -' },{ :class => 'form-control' } %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
    Search
    <%= f.text_field(:search_query,class: 'filterrific-periodically-observed form-control') %>
  </div>
    </div>
  </div>
  <% end %>

  <%= link_to "New Broker", new_my_broker_path,:class=>"btn btn-custom-primary btn-sm color-white" %>

  <section id="brokers--section">
    <%= render :partial => 'my_brokers/brokers', :locals => { :my_brokers => @my_brokers } %>
  </section>

</div>
