<% @title_for_layout = t('app.signin') %>
<% @noindex_for_layout = true %>
<%= render 'layouts/generic_meta' %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="pt50 pb50">
            <%= link_to root_path, :id=>"logo", :class=>"big mb50 text-center inline-block full-width" do %>
              <div class="inline-block">
                <%= image_tag "logo.svg", :class=>"img-responsive logo mr10 mt0" %>
                <h1 class="uppercase mt3 mb0 color-primary hidden-xs"><%= ENV['SITE_NAME'] %></h1>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

