<%= render :layout => 'devise/layout' do %>

<div class="center h4 mb20"><%= ("#{@team_member.client.email}!<br>Merci d'avoir rejoint l'équipe #{@team_member.team.name}").html_safe %></div>

<% if @team_member.client.passowrd_generated_randomly == 1 %>

<%= minimal_form_for(@team_member, url: invitation_accept_path(@team_member), html: { method: :post, :id =>"myDeviseForm" },:defaults =>{:input_html=>{:class=>"input-lg"}}) do |f| %>
<%= f.hidden_field :invitation_token %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.submit :class => "btn btn-lg btn-block btn-primary", :value => t('app.signin') %>
<% end %>

<% else %>

<%= minimal_form_for @team_member.client, :url => client_session_path,:html=>{:id =>"myDeviseForm",:method=>"post"},:defaults =>{:input_html=>{:class=>"input-lg"}}  do |f| %>
<%= f.input :email, :input_html => {:value => @team_member.client.email} %>
<%= f.input :password%>
<%= f.input :store_id,:input_html =>{:value => @store.id}, :as => :hidden  %>
<%= f.submit :class => "btn btn-lg btn-block btn-primary", :value => t('app.signin') %>
<% end %>

<% end %>

<% end %>





