<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<%= f.error_notification %>
<%= f.input :email,:label=>false,:placeholder=>'email',:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.input :password,:label=>false,:placeholder=> 'password',:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<%= f.input :password_confirmation,:label=>false,:placeholder=> 'password Confirmation',:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>

<% if current_user.sign_in_count == 0 %>
<%= f.input :current_password,:label=>false,:placeholder=> 'Actual Password password',:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<% else %>
<%= f.input :current_password,:label=>false,:placeholder=> 'Actual Password password',:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<% end %>

<%= f.submit "Mettre à jour", :class => "btn btn-custom-tertiary btn-block btn-lg lastElement" %>
<% end %>
<% end %>


