<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url => registration_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<h3 class='mb20'><%= t('app.sign_up') %></h3>
<%= f.input :email,:label=>false,:placeholder=>t('app.email'),:input_html=>{:class=>'form-control input-lg  center'}%>
<%= f.input :password,:label=>false,:placeholder=> t('app.password'),:input_html=>{:class=>'form-control input-lg  center'}%>
<%= f.submit t('app.sign_up'), :class =>"btn btn-custom-primary btn-block btn-lg lastElement" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>


