<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= display_meta_tags %>
  <%= yield(:head) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>




<body class="<%= controller_name %> <%= action_name %><% if view_is_devise? %> deviseBody<% end %>">
  <% unless controller.action_name== "home" or view_is_devise?  %>
    <%= render 'layouts/partials/header' %>
  <% end %>
  <div class="container-fluid">
    <%= render 'layouts/partials/flash_messages' %>
    <%= yield %>
  </div>
</body>
</html>


