<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h2 class="color-yellow mb15"><%= t('app.thank_you') %></h2>

      <p><%= t("app.order.ordered_on",  date: I18n.localize(@ouiflash_order.created_at.to_time,:format=>("%d %b %Y"))) %></p>
      <p><%= t('app.reference') %>: <%= @ouiflash_order.reference_number %></p>
      <p><%= t('app.address') %>: <%= @ouiflash_order.address %></p>
      <p><%= t('app.address_complement') %>: <%= @ouiflash_order.address_complement %></p>
      <p><%= t('app.type_de_bien') %>: <%= @ouiflash_order.type_de_bien %></p>
      <p><%= t('app.surface') %>: <%= @ouiflash_order.surface %></p>
      <p><%= t('app.reportage_name') %>: <%= @ouiflash_order.reportage.name %></p>
      <p>----------</p>
      <p><%= t('app.first_name') %>: <%= @ouiflash_order.r_first_name %></p>
      <p><%= t('app.last_name') %>: <%= @ouiflash_order.r_last_name %></p>
      <p><%= t('app.tel') %>: <%= @ouiflash_order.r_tel %></p>
      <p><%= t('app.email') %>: <%= @ouiflash_order.r_email %></p>
      <p><%= t('app.company_name') %>: <%= @ouiflash_order.r_company_name %></p>
      <p><%= t('app.company_email') %>: <%= @ouiflash_order.r_company_email %></p>
      <p><%= t('app.notes') %>: <%= @ouiflash_order.r_notes %></p>
      <p>----------</p>
      <p><%= t('app.cost') %>: 1 credit</p>
    </div>
  </body>
</html>

