<div class="container center pt50">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well well-sm pt20">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= link_to root_path do %>
            <%= image_tag "logo_socialimmo_large.png", :class=>"img-responsive" %>
            <% end %>
          </div>
        </div>
        <hr>
        <%= minimal_form_for(User.new, :url =>  user_session_path) do |f| %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <div class="a-right">
          <%= f.submit :class => "btn btn-large btn-custom-primary", :value => t('app.signin') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
