<%= render :layout => 'devise/layout' do %>
<h2 class="fs20 color-secondary mt20 mb10 normal text-center medium"><%= t('app.signin') %></h2>
<p class="fs12 color-grey mb20 text-center"><%= t('connect_register.connect_tagline') %></p>
<%= minimal_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :id =>"myDeviseForm" },:defaults =>{:input_html=>{:class=>"input-lg"}}) do |f| %>
<%= f.error_notification %>
<%= f.input :email, required: true, autofocus: true %>
<%= f.submit :class => "btn btn-lg btn-block btn-custom-primary", :value => t('app.reset_password') %>
<% end %>
<% end %>
