<%#-- Default Meta -- %>
<% set_meta_tags :site => @site_name || @my_provider.name, :title => @title_for_layout ? @title_for_layout.html_safe : controller.action_name , :reverse => true %>
<% set_meta_tags :description => @description_for_layout.html_safe if @description_for_layout.present? %>
<% set_meta_tags :canonical   => @canonical_for_layout ? @canonical_for_layout : request.original_url   %>
<% set_meta_tags :noindex     => true if(@noindex_for_layout and @noindex_for_layout ==true)  %>
<% set_meta_tags :author      => @author_for_layout if @author_for_layout.present? %>
<% set_meta_tags :publisher   => @publisher_for_layout if @publisher_for_layout.present? %>


<% image = @image_for_share_url ? @image_for_share_url : image_url('logos/shareimmo.png') %>
<% infos = FastImage.size(image)  %>

<%# --Open Graph Meta-- %>
<% set_meta_tags :og => {
  :site_name =>  request.host,
  :title    => ("#{@title_for_layout ? @title_for_layout : controller.action_name} | #{@site_name || @my_provider.name}").html_safe,
  :type     => @open_graph_type ? @open_graph_type : 'website',
  :url      => @canonical_for_layout ?  @canonical_for_layout : request.original_url,
  :image => {
      :_    =>  image,
      :width  => infos.present? ? infos[0] : nil,
      :height => infos.present? ? infos[1] : nil
    },
} %>
<% set_meta_tags :og =>{:description => @description_for_layout.html_safe} if @description_for_layout.present? %>



<%# --Twitter Meta-- %>
<% set_meta_tags :twitter => {
    :card => "summary",
    :title    => ("#{@title_for_layout ? @title_for_layout : controller.action_name} | #{@site_name || @my_provider.name}").html_safe,
    :url      => @canonical_for_layout ?  @canonical_for_layout : request.original_url,
    :image => {
      :src =>  image,
      :width  => infos.present? ? infos[0] : nil,
      :height => infos.present? ? infos[1] : nil
    },
  }
%>
<% set_meta_tags :twitter =>{:description => @description_for_layout.html_safe} if  @description_for_layout.present?  %>

