<div>Le service <%= @services_user.service.name %> a été activé pour l'utilisateur <%= @services_user.user.email %></div>
---
<div><%= { :services_user_id => @services_user.id, :service_id => @services_user.service_id, :user_id => @services_user.user_id  }.to_json %></div>
