<p>Madame, Monsieur,</p>
<p>Veuillez trouver ci-dessous un lien vous permettant de télécharger le PDF de l'état des lieux.</p>
<p><a href="<%= url_for(files_inventory_path(:type => "inventory", :secure_id => @inventory.secure_id, :only_path => false)) %>">Cliquez ici pour télécharger</a><p>
<p>Le mot de passe est : <%= @inventory.secure_password %></p>
<p>Team Kangalou</p>
