<div>Une nouvelle vidéo vient d'être uploader sur Youtube pour l'annonce <%= @video.property.id %></div>
---
<div>Lien : <%= link_to "https://www.youtube.com/watch?v=#{@video.youtube_id}",  "https://www.youtube.com/watch?v=#{@video.youtube_id}" %> </div>
