/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContentContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1{
        font-size: 50px;
      }
    }
  }
}


/************************************************************************
/* Ribbon Management
*************************************************************************/
.ribbon_sold_rent{
  z-index: 100;
  width: 150px;
}

/************************************************************************
/* Button Slim....
*************************************************************************/
.btn-custom-slim{
  border:1px solid $white;
  color:$white !important;
  background-color: transparent;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  &:hover{
    color:$black !important;
    background-color: $white;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}




/************************************************************************
/* FlatIcons
*************************************************************************/
@font-face {
  font-family: "Flaticon";
  src: asset-url("flaticon.eot");
  src: asset-url("flaticon.eot#iefix") format("embedded-opentype"),
  asset-url("flaticon.woff") format("woff"),
  asset-url("flaticon.ttf") format("truetype"),
  asset-url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-shower5:before {content: "\e000";}
.flaticon-sms5:before {content: "\e001";}
.flaticon-three1:before {content: "\e002";}





