body.template_4{
  background:#f7f7f7;
  $primary : #c0392b;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  hr{border-color: rgba($primary,.3);}
  .navbar-collapse.collapse.in{
    background:rgba(255,255,255,0.7);
    a{color:$primary !important; opacity:1 !important;}
    a:hover{color:$primary !important; border-bottom:0 !important; padding-bottom:10px !important;}
  }

  a:focus{text-decoration:none;}

  @media (max-width: 768px) {
    .title{
      .h1{font-size:40px !important;}
    }

    .single_annonce{border-right:none !important;}

    #main-container #display_blog header h3{font-size: 20px !important; width:100% !important; height:40% !important;}

    #single_property_header{margin-top:0px !important;}
  }

  @media (max-width: 468px) {
    #single_property #single_property_body #single_property_title .col-sm-3 span{font-size:12px !important;}
    #single_property_title{margin-bottom: 10px;}
  }

  ///////// HEADER //////////
  #header{
    background-size:cover; background-position: bottom; height:45vh; width:100%;
    .navbar-default{
      background:none; color:white; border:none; z-index:100;
      a{color:white; font-size:20px; opacity:0.7; transition:all .2s;}
      a:hover{opacity:1; color:white !important; border-bottom:2px solid white; padding-bottom:7px;}
      .icon-bar{background-color:white;}
    }
    .title{
      position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.6); display:flex;justify-content:center;align-items:center; text-shadow:0 0 20px black;
      .h1{color:white; font-size:50px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; font-weight:200; text-align:center;}
      .h2{font-size:20px; color:$primary; text-align:right; font-weight:600;}
      i{color:white; font-size:40px; margin-bottom:20px;}
    }
  }
  &.broker_home{
    #header{height:100vh; width:100%;}
  }
  
  #display_annonce{
    .single_annonce{
      margin:0 0 40px 0;
      .bg-white{box-shadow:0 1px 3px rgba(0,0,0,.2);}
      &:nth-of-type(3n){border-right:none;}
      &:hover{cursor:default;}
      header{
        width:100%; height:200px; background-size:cover; background-position:bottom; position:relative; transition:all .2s; border-bottom:1px solid #E0E0E0;
        h5{font-size:25px; color:$primary; border-radius:0 2px 2px 0; padding:5px 15px 5px 15px; font-weight:200;}
        strong{text-align:center; color:white; font-size:35px; font-weight:400; border-top:3px solid white;}
      }
      .single_annonce_title{
        padding:5px 0 5px 0; width:100%; background-color:rgba(255,255,255, .65); text-shadow:0 0 10px rgba(255, 255, 255, 0.65);
        h3{margin:0px 0 0 10px; color:$primary; font-weight:200 !important; display: inline-block;}
        h4{padding:4px 5px 4px 5px; display:inline-block; float:right; font-weight:500 !important; color:$primary; border-left:2px solid $primary;}
      }
      .single_annonce_body{
        width:100%; position: relative;
        h5{padding:10px; margin:0; font-weight:300;}
        a{
          position:absolute; color:$primary; height:100%; bottom:0; right:0; font-size:18px; padding:5px 12px 0px 8px; transition:all .2s;
          i{transition:all .2s;}
          &:hover{
            padding-right:7px; color:$primary !important;
            i{margin-left:5px;}
          }
        }
      }
      hr{margin:5px 0 5px 0; border-color:#cecece;}
      p{padding:10px 0 0 0;}
      p strong{margin:0 0 0 10px; font-weight:400;}
      footer{padding:0 30px 0 30px;}
      .price{height:35px; line-height:31px; text-align:center; font-size:25px; color:$primary;}
      .view-more{
        background:$primary; color:white; height:35px; text-align:center; font-size:18px; line-height:35px; border-radius:3px; display:block; transition:all .2s;
        &:hover{
          color:white !important;
          i{margin-left:5px;}
        }
      }


    }
  }

  //////// MAIN CONTAINER ////////
  #main-container{
    margin:20px 0 0 0;
    .home_title{font-weight:200; color:#999; cursor:default;}

    #display_blog{
      padding-bottom:50px; cursor:default;
      header{
        width:100%; height:270px; background-size:cover; background-position:bottom; position:relative; margin:0 0 30px 0; transition:all .2s;
        h3{width:40%; height:100%; background:rgba(255,255,255,0.75); position:absolute; bottom:0; right:0; display:flex; align-items: center; padding:0 20px 0 20px; font-size:23px; font-weight:300; color:$primary; text-shadow:0 0 10px rgba(0,0,0, 0.2);}
        a{
          bottom:10px; right:15px; color:$primary; transition:all .2s;
          &:hover{color:$primary !important; text-decoration: underline;}
        }
      }
    }
  }

  ///////// FOOTER ///////////
  footer{
    background-color:white;
    .footer-thumbnail{
      height:215px; margin-top:15px; position:relative; padding-top:0; background-repeat:no-repeat; background-size:contain; background-position: 50% 50%;
    }
    .courtier-infos{
      color:$primary; display:flex; align-items: center; justify-content: center; height:230px;
      .h1{color:$primary; font-size:30px; font-weight:400;}
      .h2{color:$primary; font-size:20px; font-weight:300;}
      .h3{color:$primary; font-size:20px; font-weight:200;}
    }

    .footer-company-logo{
      height:230px; background-size:contain; background-repeat:no-repeat; background-position:50% 50%;
    }
    .company-infos{
      color:$primary; display:flex; align-items: center; justify-content: center; height:230px; text-align:right;
      h3{color:$primary; font-size:25px; font-weight:400;}
      h4{color:black; font-size:15px; font-weight:300;}
    }

  }

}

///////// SINGLE PROPERTY PAGE ////////////
///////////////////////////////////////////

#single_property{
  td, th{color:black;}
  .col_head{color:$primary; border-bottom: 0;}
  .row_head{max-width:30%;}
  thead th{width:60%;}
  tbody th{width:30%;}
  .container{box-shadow:0 0 20px rgba(0,0,0,0.1);}
  #single_property_header{
    margin-top:-50px;
  }

  #myCarousel{
    overflow:hidden; margin:0 -15px 0 -15px; background:rgba(0,0,0,.8);
    .item img{display:inline-block;}
    .left.carousel-control span::before{display:none;}
    .right.carousel-control span::before{display:none;}
    .carousel-indicators li{border-width:2px; box-shadow:0 0 10px rgba(0,0,0,.2);}
  }

  #single_property_body{
    color:$primary;
    h2{color:$primary; font-weight:200;}
    h3{color:$primary; font-weight:200;}
    #single_property_title {
      .col-sm-3{
        text-align:right;
      h3{background:$primary; color:white; border-radius:3px; padding:5px 10px 5px 10px; font-size:16px; font-weight:400; text-align: left; margin-top:5px; display:inline-block;}
      }
    }
    #single_property_contact{

      #single_property_thumbnail{height:215px; margin-bottom:10px; position:relative; padding-top:0; background-repeat:no-repeat; background-size:contain; background-position: 50% 50%;}
      p{display:block; text-align:center; color:black; margin-bottom: 5px;}
      span{
        width:100%; padding:7px 0; background:$primary; color:white; text-align:center; text-transform: uppercase; font-weight:600; display:block; transition:all .2s; cursor:pointer;
        &:hover{background-color:darken($primary, 5%);}
      }
    }
  }

  #single_property_map{
    overflow:hidden; height:300px; padding-left:0; padding-right:0; border-top:2px solid $primary;
    #mapContainer{height:300px;}
  }
}
