<footer id="main-footer">
  <div class="content pt10 pb10">
    <div class="container">
      <ul class="list-inline inline-block mb0">
        <% if @store.allow_user_creation == 1 %>
        <li class="ml20 pl0 pr0 hidden-sm hidden-xs"><%= link_to t('app.become_client'), new_client_registration_path, :class=>"fs14" %></li>
        <% end %>
        <li class="ml20 pl0 pr0 hidden-sm hidden-xs"><%= link_to t('app.contact'), contact_path, :class=> "fs14" %></li>
        <!-- <li class="ml20 pl0 pr0 hidden-sm hidden-xs"><%#= link_to t('app.faq'), faq_path, :class=> "fs14 color-grey uppercase" %></li> -->
      </ul>
      <%= link_to back_office_path do  %>
      <span class="pull-right">© <strong class="color-dark-grey bold"><%= @store.name %></strong></span>
      <% end %>
    </div>
  </div>
</footer>
