<nav id="main-navbar" class="navbar navbar-default navbar-inverse  navbar-fixed-top mb0" style="background:<%= @store.color2 %>;border:none;border-radius:0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url(:host => @store.store_domain.domain),:class=>"navbar-brand pt3 pl3 pr10 pb3" do %>
      <%= image_tag @store.logo.url(:large), :digest => false, :style=>"display:block;max-width: 100%;height: 45px;"%>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if client_signed_in? %>
        <li id="user-dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle color-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="bg-cover" style="background-image:url(<%= image_url @remoteProfile[:picture_url] %>);height:30px;width:30px;display:inline-block;border-radius:2px;border:1px solid white;margin:-5px 15px -10px 0;"></span>
            <%= @remoteProfile[:first_name].present? || @remoteProfile[:last_name].present? ? "#{@remoteProfile[:first_name]} #{@remoteProfile[:last_name]}"  : @remoteProfile[:public_email] %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to root_url do %>
              <i class="fa fa-home mr10"></i><%= t('app.home') %>
              <% end %>
            </li>
            <% if current_client.shareimmo_user_id.present? %>
            <li>
              <%= link_to dashboard_shareimmo_url(:type => "profile") do %>
              <i class="fa fa-user mr10"></i><%= t('app.profile') %>
              <% end %>
            </li>
            <% end %>
            <li role="separator" class="divider mt2 mb2"></li>
            <li>
              <%= link_to dashboard_url do %>
              <i class="fa fa-handshake-o mr5"></i><%= t('app.my_services') %>
              <% end %>
            </li>
            <% if current_client.shareimmo_user_id.present? %>
            <li>
              <%= link_to dashboard_shareimmo_url(:type => "property") do %>
              <i class="fa fa-building-o mr10"></i><%= t('app.my_properties') %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_shareimmo_url(:type => "contact") do %>
              <i class="fa fa-address-book-o mr10"></i><%= t('app.my_contacts') %>
              <% end %>
            </li>
            <% end %>
            <li role="separator" class="divider mt2 mb2"></li>
            <li>
              <%= link_to dashboard_profile_url do %>
              <i class="fa fa-cog mr5"></i><%= t('app.my_account') %>
              <% end %>
            </li>
            <% if current_client.work_for_himself? %>
            <li>
              <%= link_to dashboard_gateway_url do %>
              <i class="fa fa-toggle-on mr5"></i><%= t('app.gateways') %>
              <% end %>
            </li>
            <% end %>
            <li role="separator" class="divider mt2 mb2"></li>
            <li>
              <%= link_to contact_url, :class=>"support" do %>
              <i class="fa fa-life-ring mr5"></i><%= t('app.support') %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_client_session_url, :method => :delete, :class=>"disconnect" do %>
              <i class="fa fa-sign-out mr5 color-red"></i><%= t('app.signout') %>
              <% end %>
            </li>
          </ul>
        </li>
         <% else %>
        <li><%= link_to t('app.signin'), new_client_session_url %></li>
        <% if @store.allow_user_creation == 1 %>
        <li><%= link_to t('app.signup'), new_client_registration_url %></li>
        <% end %>
        <% end %>
        <% if action_name == "home" && controller_name == "pages" && @store.languages.present? && @store.languages.size > 1 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle color-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("locale.#{I18n.locale}") %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @store.languages.each do |l| %>
            <li><%= link_to t("locale.#{l}"), root_url(:locale =>l) %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if controller_name != "checkouts" && controller_name != "services" %>
        <li id="header_cart" class="dropdown over-padding user-basket">
          <%= render "orders/cart_header" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
