<div id="flashMessageContainer">
  <% flash.each do |name, msg| %>
  <div class="alert <%= "flash-#{name}" %> animated bounceInRight">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <% if msg.kind_of?(Array) %>
    <ul>
      <% msg.each do |m| %>
      <li><%= m %></li>
      <% end %>
    </ul>
    <% else %>
    <%= msg %>
    <% end %>
  </div>
  <% end %>
</div>
