<%# Spinner, call with "spin(true)" and "spin(false)" %>
<div class="layer" id="layer-full">
  <div id="layer-spinner">
    <a><i class="fa fa-spinner fa-pulse" style="font-size: 8em;"></i></a>
  </div>
</div>
