<!DOCTYPE html>


<html lang="<%= I18n.locale %>">
<head>
  <%# Meta %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta charset="utf-8">
  <%# Favicon %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%# Meta Tags %>
  <%= display_meta_tags %>
  <%# Stylesheets %>
  <%= stylesheet_link_tag    'front_office', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <%# Javascripts %>
  <%= javascript_include_tag 'front_office', 'data-turbolinks-track' => true %>
  <%# Rails Stuff %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>' >
  <%= render 'layouts/spinner' %>
  <%= render 'layouts/messages' %>
  <%= render 'layouts/header'if action_name != 'choose_store' %>
  <main>
    <%= yield %>
  </main>
  <%= render 'layouts/footer' if action_name != 'choose_store' %>
</body>


</html>
