<!DOCTYPE html>
<html>
<head>
  <title>STOREIMMO</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag  'back_office', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'back_office', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>' >
  <%= render 'layouts/spinner' %>
  <%= render 'layouts/messages' %>
  <%= render 'back_office/partials/header'%>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
