<div><strong>Bonjour <%= @feedback.full_name %>,</strong></div>
<br><br>
<div>Vous avez une visite programmé pour la propriété <strong><%= "##{@property.id}"%></strong>, située au <strong><%= "#{@property.street_number} #{@property.street_name}, #{@property.locality}, #{@property.zipcode}" %></strong>.</div>
<br>

<% if @feedback.visit_at.present?  %>
<div>Le rendez-vous est prévu le <%= "#{I18n.localize @report.feedback.visit_at.to_time,:format =>("%d %B %Y")}"  %> à <%= @feedback.visit_at.strftime("%I:%M %P") %></div>
<br>
<% end %>

<div>Cordialement</div>
<br>
<div><%= @property.user.profile.public_name%><br>
  <%= @property.user.profile.job %><br>
  <%= @property.user.profile.phone %><br>
  <%= @property.user.profile.email %>
</div>
