<div>Bonjour,<%= @contact_1["name"] %></div>
<br>
<div>Pour donner suite à votre visite de la propriété <strong><%= "##{@property.id}"%></strong>, située au <strong><%= "#{@property.street_number} #{@property.street_name}, #{@property.locality}, #{@property.zipcode}" %></strong>, nous vous transmettons la référence complète de la fiche : <%= link_to "ici", explore_ad_url(@property.secure_id,:locale=>I18n.locale) %>
</div>
<br>
<div>Nous restons à votre disposition pour toute information complémentaire.</div>
<br>
<div>Cordialement</div>
<br>
<div><%= @property.user.profile.public_name%><br>
  <%= @property.user.profile.job %><br>
  <%= @property.user.profile.phone %><br>
  <%= @property.user.profile.email %>
</div>
