<h4>Compte rendu de visite</h4>

<br><strong>Annonces : </strong><br>
<strong><%= "##{@property.id}"%></strong>, située au <strong><%= "#{@property.street_number} #{@property.street_name}, #{@property.locality}, #{@property.zipcode}" %></strong>

<br>
<br>
<strong>Date</strong>: <%= @report.feedback.visit_at.present? ? "#{I18n.localize @report.feedback.visit_at.to_time,:format =>("%d %B %Y")}" : "" %><br>
<strong>A</strong> : <%= JSON.parse(@report.contact_2)["name"] %><br>
<strong>Email</strong> : <%= JSON.parse(@report.contact_2)["email"] %><br>
<strong>Tél</strong> : <%= JSON.parse(@report.contact_2)["phone"] %><br>


<br><strong>Voici ses commentaires : </strong><br>
<%= @report.feedback.note_for_owner %>
<br>

<br><strong>Suites à donner :</strong>
<%= @report.feedback.note_internal %>
<br>
