<div>Bonjour,</div>
<br>
<div>Nous vous informons avoir effectué la visite suivante de votre propriété  <strong><%= "##{@property.id}"%></strong>, située au <strong><%= "#{@property.street_number} #{@property.street_name}, #{@property.locality}, #{@property.zipcode}" %></strong></div>
<br><br>
<strong>Date</strong>: <%= @report.feedback.visit_at.present? ? "#{I18n.localize @report.feedback.visit_at.to_time,:format =>("%d %B %Y")}" : "" %><br>
<strong>A</strong> : <%= JSON.parse(@report.contact_2)["name"] %>
<br>
<br>
<div>
<strong>Voici ses commentaires :</strong><br>
« <%= @report.feedback.note_for_owner %> »
</div>
<br>
<div>Nous restons à votre disposition pour toute information complémentaire.<br>
Retrouvez le suivi en ligne de votre propriété <%= link_to "ici", explore_ad_url(@property.secure_id,:locale=>I18n.locale) %>
</div>
<br>
<div>Cordialement</div>
<br>
<div><%= @property.user.profile.public_name%><br>
  <%= @property.user.profile.job %><br>
  <%= @property.user.profile.phone %><br>
  <%= @property.user.profile.email %>
</div>


