<footer class="container-fluid">
  <div class="container color-white">
    <div class="col-sm-6">
      <div class="row">
          <div class="col-md-4 footer-thumbnail" style="background-image:url(<%= image_path @profile.picture.url(:medium) if @profile.picture? %>);"></div>
          <div class="col-md-8 courtier-infos">
            <div>
              <h5 class="h1 color-primary"><%= @profile.public_name %></h5>
              <h6 class="h2 mb15 color-primary"><%= @profile.job %></h2>
              <% if @profile.phone_visibility == 1 and @profile.phone.present? %>
              <div class="h3 mb15 color-primary"><%= @profile.phone %></div>
              <% end %>
              <% if @profile.phone_sms.present? %>
              <a href="#" data-toggle="modal" data-target="#myContactModalSms"><i class="fa fa-phone mr10"></i> <%= t('front_office.send_my_a_sms') %></a><br>
              <% end %>
              <a href="#" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr10"></i> <%= t('front_office.send_my_a_mail') %></a>
            </div>
          </div>
      </div>

    </div>
    <% if @profile.is_a_pro_user == 1 %>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-4 col-lg-push-8 footer-company-logo" style="background-image:url(<%= image_path @profile.logo.url(:medium) if @profile.logo? %>);">
        </div>

        <div class="col-md-8 col-lg-pull-4 company-infos">
          <div>
            <div class="h3 color-primary"><%= @profile.agency_name %></div>
            <div class="h4 mb15"><%= @profile.agency_address %>,<br><%= "#{@profile.agency_city}  #{@profile.agency_zipcode}" %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</footer>
