<header style="background-image:url(http://1clic.immo/assets/oneclic/oneclic_bg-ceff878593b2acdb6e035511e9aae220.jpg);" class="relative" id="header">
  <nav class="navbar navbar-default absolute absolute-top-right">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mt10 mr10" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to @my_provider.provider_id == "kangalou" ? t('front_office.my_ads') : t('front_office.listings'), broker_listing_path %></li>
          <% if @profile.bio.present? %>
          <li><%= link_to t('front_office.about'), broker_about_path %></li>
          <% end %>
          <% if  @service_options >= 1 %>
          <% if @profile.page_testimonial_active == 1 %>
          <li><%= link_to t('front_office.testimonial'), broker_testimonial_path %></li>
          <% end %>
          <% if @profile.blog_active == 1 %>
          <li><%= link_to t('front_office.blog'), broker_blogs_path %></li>
          <% end %>
          <% end %>
          <% if @profile.custom_link_1_url.present? %>
          <li><%= link_to @profile.custom_link_1, @profile.custom_link_1_url  %></li>
          <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="title">
    <%= link_to "/#{I18n.locale}" do %>
    <hgroupe>
      <h5 class="h1"><%= @profile.public_name %></h5>
      <h6 class="h2 color-secondary"><%= @profile.job %></h6>
    </hgroupe>
    <% end %>
    <div class="absolute absolute-bottom-left absolute-bottom-right center">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>

</header>
