<section class="row" id="display_annonce">

  <% @properties.each do |property| %>
    <article class="col-md-4 col-sm-6 single_annonce">
      <div class="bg-white">
        <header style="background-image:url(<%= property.property_assets.present? ? property.property_assets.first.picture.url(:medium) : PropertyAsset.new.picture.options[:default_url] %>);">
          <div class="single_annonce_title absolute absolute-bottom-left text-left">
            <%= link_to broker_property_path(property.id), :target => (@mandate_website == 1 ? "_blank" : nil) do %>
            <h3 class="color-secondary"><%= property.locality %></h3>
            <% end %>
            <h4 class="color-primary border-primary">
              <%= property.property_listing.name %>
            </h4>
          </div>
          <h5 class="absolute absolute-top-left bg-white color-primary" >
            <%= my_beautiful_price(property) %>
          </h5>
        </header>
        <div class="single_annonce_body">
          <h5 class="text-left"><%= property.property_classification.name %></h5>
          <%= link_to broker_property_path(property.id), :target => (@mandate_website == 1 ? "_blank" : nil), :class=>"color-secondary" do %>
            <%= t('front_office.see_ad') %> <i class="fa fa-angle-right"></i>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>

</section>
