<% @title_for_layout        = "#{@profile.public_name}  - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name } - #{@profile.job} #{@profile.baseline} " %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.domain}" : "http://#{@user.username}.#{@my_provider.link_host}"%>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'front_office/template_4/header' %>

<section class="container">
  <section class="row pt15 pb15" id="main-container">
    <section class="col-sm-12">

      <h2 class="text-center uppercase mt0 mb30 home_title"><i class="fa fa-home mr10"></i> Annonces</h2>

      <%= render :partial =>"front_office/template_4/properties", locals: { :properties => @properties,:by_line=>@by_line,:username=>@user.username,:theme_id=>@theme_id} %>

      <h2 class="text-center uppercase mt0 mb30 home_title"><i class="fa fa-file-text-o mr10"></i> Blog</h2>

      <section class="row" id="display_blog">
        <% if @blogs[0].present? %>
          <article class="col-sm-6">
            <%= link_to broker_blog_path("#{@blogs[0].slug}-#{@blogs[0].id}") do  %>
            <header style="background-image:url(<%= image_path @blogs[0].cover.url(:medium) %>);">
              <h3 class="color-secondary"><%= @blogs[0].title %></h3>
            </header>
            <% end %>
          </article>
        <% end %>
        <% if @blogs[1].present? %>
          <article class="col-sm-6">
            <%= link_to broker_blog_path("#{@blogs[1].slug}-#{@blogs[1].id}") do  %>
            <header style="background-image:url(<%= image_path @blogs[1].cover.url(:medium) %>);">
              <h3 class="color-secondary"><%= @blogs[1].title %></h3>
            </header>
            <% end %>
          </article>
        <% end %>
      </section>

    </section>
  </section>
</section>

<footer class="container-fluid">
  <%= render 'front_office/template_4/footer_broker' %>
</footer>
