<% @title_for_layout        = "#{@profile.public_name } | #{@property.title}" %>
<% @description_for_layout  = "#{@property.property_listing.name}, #{@property.property_classification.name}, #{@property.locality} (#{@property.sublocality}) - #{@property.rooms} #{t('front_office.rooms')}, #{@property.bedrooms} #{t('front_office.bedrooms')},  #{@property.bathrooms} #{t('front_office.bathrooms')}. #{truncate(sanitize(@property.description), :length=>40)}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.domain}/#{@property.secure_id}" : "http://#{@user.username}.1clic.immo/#{@property.secure_id}"%>
<% @image_for_share_url     =  @property.property_assets[0].picture.url(:large) if @property.property_assets.present?  %>

<%= render 'layouts/partials/generic_meta' %>


<div id="single_property">
  <%= render 'front_office/template_4/header' %>
  <section class="container">
    <section class="row" id="single_property_header">
      <section class="col-md-12 bg-white">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @count = 0 %>
            <% @property.property_assets.each_with_index do |picture, n| %>
              <li data-target="#myCarousel" data-slide-to="<%= @count %>" class="<%= n == 0 ? "active" : "" %>"></li>
            <% @count = @count + 1 %>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @property.property_assets.each_with_index do |picture, n| %>
              <div class="item text-center <%= n == 0 ? "active" : "" %>">
                <%= image_tag picture.picture.url(:large),:class=>'img-responsive' %>
              </div>
            <% end %>
          </div>
          <% if @count > 1 %>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
        </div>
      </section>
    </section>
    <section class="row mt10" id="single_property_body">
      <section class="col-md-12">
        <div class="row" id="single_property_title">
          <div class="col-sm-9 col-xs-9"><h1 class="color-primary" id="single_property_title"><%= @property.title %></h1></div>
          <div class="col-sm-3 col-xs-3"><h3 class="bg-primary"><%= @property.property_classification.name %> - <%= @property.property_listing.name %></h3></div>
        </div>
        <p>
          <h2 class="color-primary fs14 inline-block"><% if @property.address_visibility.present? and @property.address.present? %><%= "#{@property.street_number} #{@property.street_name} #{@property.zipcode}"%> - <% end %><%= @property.locality %> | </h2>
          <% if @property.availability_date.present? %>
          <span class="color-black"><%= t('front_office.availability') %></span> : <span class="color-primary"><%= (@property.availability_date > Time.now) ? I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %> | </span>
          <% end %>
          <span class="color-black"><%= t('front_office.ad') %> :</span> <span class="color-primary"><%= "##{@property.id}" %></span>
        </p>
      </section>

      <section class="col-md-12 mt10">
        <section class="row">
          <section class="col-md-9 color-black">
            <% if @property.description.present? %>
              <%= @property.description.html_safe %>
            <% end %>
          </section>
          <section class="col-md-3" id="single_property_contact">
            <div id="single_property_thumbnail" style="background-image:url(<%= image_path @profile.picture.url(:medium) if @profile.picture? %>);"></div>
            <% if @profile.phone_visibility == 1 and @profile.phone.present? %>
              <p><i class="fa fa-phone"></i> <%= @profile.phone %></p>
            <% end %>
            <% if @agent.present? %>
            <hr>
            <div class="broker-info pt8 pl20">
              <%= image_tag @agent.picture.url(:medium),:class=>"broker-info__image f-left img-responsive mr10", :style=>"max-width:140px;" %>
              <div class="a-left">
                <div class="h4 mb5"><%= "#{@agent.first_name} #{@agent.last_name}" %></div>
                <div class="h5 mb3 mt0"><%= @agent.phone %></div>
                <div class="h5 mb3 mt0"><%= @agent.email %></div>
              </div>
            </div>
            <div class="clear-block"></div>
            <% end %>

            <ul class="list-inline mb5 text-center">
              <% if @user.profile.website.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.website) %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.facebook.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.facebook) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.twitter.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.twitter) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.linkedin.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.linkedin) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.pinterest.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.pinterest) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.google_plus.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.google_plus) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
              <% end %>
              <% if @user.profile.instagram.present? %>
              <li><a href="<%= my_url_with_protocol(@user.profile.instagram) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
              <% end %>
            </ul>
            <span class="bg-primary" data-toggle="modal" data-target="#myContactModalMail"><%= t('front_office.contact_me') %></span>
          </section>
        </section>
      </section>

      <section class="col-md-12 mt10">
        <hr class="border-primary">
        <div class="mt10 h3 color-primary"><%= t('front_office.housing_characteristics') %></div>

        <!-- DÉBUT ROW CARACTÉRISTIQUES -->
        <div class="row pt15">
          <div class="col-md-6">
            <table class="table table-hover">
              <thead>
                <div class="col_head bold pAll8 color-primary"><%= t('front_office.general_informations') %></div>
              </thead>
              <tbody>
                <% if @property.property_classification.name.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.property_classification') %></th>
                  <td><%= @property.property_classification.name %></td>
                </tr>
                <% end %>
                <% if @property.price.present? %>
                <tr>
                  <th scope="row" class="row_head">
                    <%= "#{@property.property_listing_id == 1 ? t('front_office.price') : t('front_office.rent')}" %>
                  </th>
                  <td>
                    <%= my_beautiful_price(@property) %>
                  </td>
                </tr>
                <% end %>
                <% if @property.rooms.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.rooms') %></th>
                  <td><%= @property.rooms %></td>
                </tr>
                <% end %>
                <% if @property.bathrooms.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.bathrooms') %></th>
                  <td><%= @property.bathrooms %></td>
                </tr>
                <% end %>
                <% if @property.showerrooms.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.showerrooms') %></th>
                  <td><%= @property.showerrooms %></td>
                </tr>
                <% end %>
                <% if (@property.area_living.present? and @property.area_living.present?) %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.area_living') %></th>
                  <td><%= "#{@property.area_living} #{@property.area_unit.symbol}".html_safe %></td>
                </tr>
                <% end %>
                <% if (@property.area_land.present? and @property.area_living.present?) %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.land') %></th>
                  <td><% "#{@property.area_land} #{@property.area_unit.symbol}".html_safe %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-hover">
              <thead>
                <div class="col_head bold pAll8 color-primary"><%= t('front_office.additional_informations') %></div>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.property_status') %></th>
                  <td><%= @property.property_status.name %></td>
                </tr>
                <% if @property.tax_1.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.tax_1') %></th>
                  <td><% "#{humanized_money_with_symbol(@property.tax_1)} #{t('front_office.per_year')}"%></td>
                </tr>
                <% end %>
                <% if @property.tax_2.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.tax_2') %></th>
                  <td><% "#{humanized_money_with_symbol(@property.tax_2)} #{t('front_office.per_year')}"%></td>
                </tr>
                <% end %>
                <% if @property.fees.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.fees') %></th>
                  <td><% humanized_money_with_symbol(@property.fees) %></td>
                </tr>
                <% end %>
                <% if @property.year_of_built.present? %>
                <tr>
                  <th scope="row" class="row_head"><%= t('front_office.year_of_built') %></th>
                  <td><%= @property.year_of_built %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </section>


      <%# MAP %>
      <% if @hash.first[:lat].present? && @hash.first[:lng].present? %>
      <section class="col-md-12 border-primary" id="single_property_map">
        <div class="svgContainer ratio_67">
          <div id="mapContainer"></div>
        </div>
      </section>
      <% end %>
    </section>
  </section>
</div>

<footer class="container-fluid mt10">
  <%= render 'front_office/template_4/footer_broker' %>
</footer>




<% if @property.longitude.present? && @property.latitude.present? %>
<%= content_for (:head) do %>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
<link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
<script>
$(document).ready(function(){
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_TOKEN'] %>";
  window.map = new mapboxgl.Map({
    container: 'mapContainer',
    style: 'mapbox://styles/mapbox/bright-v9',
    center: [<%= @property.longitude %>, <%= @property.latitude %>],
    zoom: 13,
    pitch: 45
  })
})
</script>
<% if @property.address_visibility.present? and @property.address.present? %>
<script>
$(document).ready(function(){
  map.scrollZoom.disable()
  map.on('load', function(){
    el = document.createElement('p')
    el.className = 'icon big marker'
    var marker = new mapboxgl.Marker(el).setLngLat([<%= @property.longitude %>,<%= @property.latitude %>]).addTo(map);
  });
  })
</script>
<% end %>
<% end %>
<% end %>




