<nav id="navbarTemplate3" class="navbar navbar-default mb0 z-index-1000 bg-transparency no-border bg-black">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to @profile.public_name.present? ? @profile.public_name : "#{@user.username}.#{@my_provider.host}"  , "/#{I18n.locale}", :class=>"navbar-brand color-primary bold uppercase" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if @menu_1 != 0 %><li><%= link_to "#{t('front_office.buy')}", broker_blog_category_path(1),:class=>"color-white bold uppercase fs12" %></li><% end %>
        <% if @menu_2 != 0 %><li><%= link_to "#{t('front_office.to_rent')}", broker_blog_category_path(2),:class=>"color-white bold uppercase fs12" %></li><% end %>
        <% if @menu_3 != 0 %><li><%= link_to "#{t('front_office.sell')}", broker_blog_category_path(3),:class=>"color-white bold uppercase fs12" %></li><% end %>
        <li><%#= link_to @my_provider.provider_id == "kangalou" ? t('front_office.my_ads') : t('front_office.listings'), broker_listing_path,:class=>"color-white bold uppercase fs12" %></li>
        <li><%= link_to t('front_office.about'), broker_about_path,:class=>"color-white bold uppercase fs12" %></li>
        <%# if  @service_options >= 1 %>
        <% if @profile.page_testimonial_active == 1 %>
        <li><%= link_to t('front_office.testimonial'), broker_testimonial_path,:class=>"color-white bold uppercase fs12" %></li>
        <% end %>
        <% if @profile.blog_active == 1 %>
        <li><%= link_to t('front_office.blog'), broker_blogs_path,:class=>"color-white bold uppercase fs12" %></li>
        <% end %>
        <%# end %>
        <%# if @profile.custom_link_1_url.present? %>
        <li><%#= link_to @profile.custom_link_1, @profile.custom_link_1_url ,:class=>"color-white bold uppercase fs12" %></li>
        <%# end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle bold color-white" data-toggle="dropdown"><%= I18n.locale.to_s.upcase %></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "English", url_for(:locale=>'en'), :class=> I18n.locale.to_s == "en" ? 'bg-primary color-white' : nil  %></li>
            <li><%= link_to "Français", url_for(:locale=>'fr'), :class=> I18n.locale.to_s == "fr" ? 'bg-primary color-white' : nil  %></li>
          </ul>
        </li>
        <li><button type="button" class="btn special_font fs12 bold uppercase btn-custom-primary navbar-btn mb10 bold" data-toggle="modal" data-target="#myContactModalMail"><%= t('front_office.contact') %></button></li>
      </ul>
    </div>
  </div>
</nav>

