<section class="mt10">
  <% @properties.in_groups_of(2,false) do |row_properties| %>
  <div class="row">
    <% row_properties.each do |property| %>
    <div class="<%= "col-md-#{12/2}"%>">
      <div class="bg-white relative">
        <%#= image_tag "back_office/ribbon_#{property.property_listing_id == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent" if property.property_flag_id == 5 %>
        <ul class="like--table pl0">
          <li  style="background-image:url(<%= property["pictures"].present? ? property["pictures"].first : "" %>); height:200px;" class="bg-cover relative with-overlay">
            <section class="absolute absolute-bottom-right absolute-bottom-left mb5">
              <%= link_to broker_property_path(property[:id]), :target => (@mandate_website == 1 ? "_blank" : nil) ,:class=>"btn btn-custom-slim" do %><%= t('front_office.see_ad') %><% end %>
            </section>
          </li>
          <li style="width:50%" class="a-left pl15 pt10 pr10 relative">
            <h3 class="mb0 h4"><%= link_to property[:locality], broker_property_path(property[:id]), :target => (@mandate_website == 1 ? "_blank" : nil),:class=>"color-primary" %></h3>
            <div class="h5 mt5"><%= "#{Globalize.with_locale(I18n.locale){property[:property_listing][:name]}} - #{Globalize.with_locale(I18n.locale){property[:property_classification][:name]}}" %></div>
            <div class="h4 mt5 bold"><%= property["price_formated"] %></div>
            <hr class="mb5 mt5">
            <div><%= "#{t('front_office.availability')} : #{(property["availability_date"].present? and property["availability_date"].to_time > Time.now)  ? (I18n.localize(property["availability_date"].to_time,:format=>("%d %B %Y"))) : t('front_office.immediately')}" %></div>
            <ul class="list-inline absolute absolute-bottom-left absolute-bottom-right pl10 mb5">
              <% if (property[:area_living].present? and property[:area_unit].present?) %><li><i class="flaticon-three1 mr3"></i><%#= "#{property.area_living} #{property.area_unit.ref}" %></li><% end %>
              <% if property[:bedrooms].present? %><li><i class="fa fa-bed mr3"></i><%= property[:bedrooms] %></li><% end %>
              <% if property[:bathrooms].present? %><li><i class="flaticon-shower5 mr3"></i><%= property[:bathrooms] %></li><% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</section>

