 <%= link_to t("print_template.add_pdf"), admin_print_template_pdf_edit_path(new_pdf.id, :print_template_id => print_template.id), :class=>"btn-sm btn btn-custom-primary center mt10 mb10", :remote => true %>

 <table class="table table-bordered table-condensed table-striped">
  <thead>
    <th><%= t("print_template.name") %></th>
    <th><%= t("print_template.locale") %></th>
    <th><%= t("print_template.property_count") %></th>
    <th><%= "Actions" %></th>
  </thead>
  <tbody>
    <% pdfs.order(:active => "desc").each do |pdf| %>
    <tr id="<%= "print_template_pdf_#{pdf.id}" %>" class="<%= pdf.active ? nil : "danger" %>">
      <td>
        <ul class="list-unstyled mb0">
          <li>Document : <b><%= link_to "#{pdf.document_file_name}", pdf.document.url, :target => "_blank" %></b></li>
          <li>Model : <b><%= link_to "#{pdf.model_file_name}", pdf.model.url, :target => "_blank" %></b></li>
          <li>Description : <b><%= pdf.description %></b></li>
        </ul>
      </td>
      <td><%= pdf.locale  %></td>
      <td><%= pdf.property_count %></td>
      <td>
        <ul class="list-inline mb0">
          <% if pdf.active %>
          <li><%= link_to t("print_template.see_dictionnary"), admin_print_template_pdf_dictionary_path(pdf.id),:class=>"btn btn-sm btn-link", :remote => true %></li>
          <li><%= link_to t("app.edit"), admin_print_template_pdf_edit_path(pdf.id),:class=>"btn btn-sm btn-link", :remote => true %></li>
          <% array =  Rails.env.development? ? ["59", "73", "131", "144", "145", "150", "211", "140", "130"] : ["32199", "14045", "23287", "23503", "23873", "24012", "30178", "35315", "35639"] %>
          <li><%= link_to t("app.test"), URI.decode(app_preview_path(:uids => array[0..pdf.property_count-1].join(","), :pdf => pdf.id,:debug =>"1",:locale => pdf.locale)), :target => "_blank", :class=>"btn btn-sm btn-link" %></li>
          <li><%= link_to t("app.unable"), admin_print_template_pdf_deactivate_path(pdf.id),:method=>'post',:class=>"btn btn-sm btn-link",:data=>{:confirm=> t("app.are_you_sure")} %></li>
          <% else %>
          <li><%= link_to t("app.enable"), admin_print_template_pdf_reactivate_path(pdf.id),:method=>'post',:class=>"btn btn-sm btn-link" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
