<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <%= simple_form_for pdf, :url =>admin_print_template_pdf_update_path(pdf), :remote => true do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= pdf.document_file_name %></h4>
    </div>
    <div class="modal-body">
      <%= f.input :print_template_id, :input_html=>{:value=>pdf.print_template_id.present? ? pdf.print_template_id : @print_template_id},:as =>"hidden" %>
      <%= f.input :draft, :input_html=>{:value=>0},:as =>"hidden" %>
      <div class="row">
        <div class="col-xs-6 mb10">
          <%= f.input :document, :label => "#{pdf.document.present? ? "Document: #{pdf.document.original_filename}" : "Document:"}" %>
        </div>
        <div class="col-xs-6 mb10">
          <%= f.input :model, :label => "#{pdf.model.present? ? "Model: #{pdf.model.original_filename}" : "Model:"}" %>
        </div>
      </div>

      <ul class="list-inline">
        <% (1..pdf.dictionary["document"]["page_count"]).each do |page| %>
        <li style="max-width: 120px;"><%= image_tag "#{File.dirname(pdf.model.url)}/#{pdf.id}_#{page}.png", :class => "img-responsive img-thumbnail" %></li>
        <% end if pdf.dictionary.present? && pdf.dictionary != true && pdf.model? %>
      </ul>

      <div class="row">
        <div class="col-xs-4">
          <%= f.input :property_count, :collection => 0..10, :include_blank => false %>
        </div>
        <div class="col-xs-4">
          <%= f.input :locale,:collection => I18n.available_locales, :include_blank => false %>
        </div>
        <div class="col-xs-4">
          <%= f.input :description %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
      <%= f.submit :class => 'btn-sm btn btn-custom-primary', :value => t("app.validate") %>
    </div>
    <% end %>
  </div>
</div>
