<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= pdf.document_file_name %></h4>
    </div>
    <div class="modal-body">
      <%= Pygments.highlight(JSON.pretty_generate(pdf.dictionary), lexer: :json).html_safe if pdf.dictionary.present? %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
    </div>
  </div>
</div>