<% @title_for_layout = "Print Template" %>
<%= render 'layouts/partials/generic_meta' %>


<div class="well well-sm bg-lightgrey">
  <%= simple_form_for(@print_template, :url =>admin_print_templates_update_path , :html => { :multipart => true,:class=>""}) do |f| %>
  <%= f.input :draft,:input_html => {:value =>0},:as=>'hidden'%>
  <div class="row">
    <div class="col-xs-9">
      <%= f.input :name %>
      <div class="row">
        <div class="col-xs-4">
          <%= f.association :print_template_type, :include_blank => false %>
        </div>
        <div class="col-xs-4">
          <%= f.association :print_template_size, :include_blank => false %>
        </div>
        <div class="col-xs-4">
          <%= f.input :color_editable,:collection=>{"yes"=>1,"no"=>0}, :include_blank => false %>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <%#= image_tag @print_template.cover.url(:small),:class=>'img-responsive mt10' %>
      <%#= f.input :cover %>
      <div class="h5">CMYK</div>
      <%= f.input_field :color_c, :class=>"bootstrapNumber",:min =>0, :max =>100 %>
      <%= f.input_field :color_m, :class=>"bootstrapNumber",:min =>0, :max =>100 %>
      <%= f.input_field :color_y, :class=>"bootstrapNumber",:min =>0, :max =>100 %>
      <%= f.input_field :color_k, :class=>"bootstrapNumber",:min =>0, :max =>100 %>
      <div id="color_test" style="background-color:<%= @color  %>; height:20px; width:100%;"></div>
    </div>
  </div>
  <%= f.submit :class => 'btn-sm mt5 btn btn-custom-primary', :value => t("app.validate") %>
  <% end %>
</div>



<div id="pdfList">
  <%= render :partial => "print_templates/print_template_pdfs", locals: {pdfs: @print_template.print_template_pdfs, print_template: @print_template, new_pdf: @new_pdf} %>
</div>



<div class="modal fade" id="myPdf_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="modal fade" id="myPdf_dictionary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>



