<% @title_for_layout = "Print Template" %>
<%= render 'layouts/partials/generic_meta' %>

<div class="mb10 mt10">
  <%=  link_to t("print_template.add"), admin_print_templates_new_path,:class=>"btn btn-custom-primary btn-sm" %>
</div>
<table class="table table-condensed table-bordered bg-white sortable">
  <thead>
    <tr>
      <th style="width:50px">ID</th>
      <th><%= t("print_template.name") %></th>
      <th><%= t("print_template.size") %></th>
      <th><%= t("print_template.type") %></th>
      <th><%= t("app.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @print_templates.each do |p| %>
    <tr>
      <td class="center"><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= p.print_template_size.present? ? p.print_template_size.name : nil  %></td>
      <td><%= p.print_template_type.present? ? p.print_template_type.name : nil  %></td>
      <td>
        <ul class="list-inline mb0">
          <li><%= link_to t("app.edit"), admin_print_templates_edit_path(p.id), :class=>"color-link" %></li>
          <li><%= link_to t("app.delete"),admin_print_templates_delete_path(p.id),:method =>"delete",:data=>{:confirm => t("app.are_you_sure")}, :class=>"color-link" %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


