<ul class="list-inline center mt10">
  <%- if controller_name != 'sessions' %>
  <li><%= link_to "Log in", new_session_path(resource_name),:class=>"color-white" %></li>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li><%= link_to "Sign up", new_registration_path(resource_name), :class=>"color-white" %></li>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <li><%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"color-white" %></li>
  <% end -%>
</ul>
