<% @title_for_layout = 'Connexion / Inscription' %>
<% @noindex_for_layout = true %>
<%= render 'layouts/partials/generic_meta' %>


<div class="container center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="mt50">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
