<div id="facebookStep2">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Facebook</h4>
    </div>
    <div class="modal-body">
      <div id="facebookStatus" class="h5"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
    </div>
  </div>
</div>

