<div id="facebookStep1">
  <%= simple_form_for @fb_post, :url => facebook_step2_path, :remote => true do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="facebookModalLabel">Facebook</h4>
    </div>
    <div class="modal-body">
      <% if @response.present? %>
      <% if @response["pictures"].present? %>
      <%# Pictures & filters %>
      <section>
        <div class="h5 mb10"><%= t('facebook.step1') %></div>
        <ul class="list-inline center">
          <% @response["pictures"].each_with_index do |picture,x| %>
          <%= content_tag(:li,:style=>"width:150px;",:data =>{:url =>picture["medium"]},:class=>"pAll5 image-ad mb5 #{'bg-facebook' if x == 0}") do  %>
          <%= image_tag picture["medium"], :class=>"img-responsive pointer" %>
          <% end %>
          <% end %>
        </ul>
        <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
        <%= f.input :picture_url, :as => :hidden, :input_html => {:value => @response["pictures"][0]["medium"] } %>
        <% end %>
      </section>
      <%# Texts %>
      <hr class="mt20 mb20">
      <div class="h5 mb10"><%= t('facebook.step3') %></div>
      <div class="row">
        <div class="col-xs-6">
          <% caption = "#{@response["listing"]['fr']} - #{@response["financial"]["price_formated"]} #{@response["address"]["locality"].present? ? "- #{@response["address"]["locality"]}" : nil }"%>
          <%= f.input :caption,:input_html=>{:value => caption} %>
          <%= f.input :link,:input_html=>{:value => "http://shareimmo.com/ad/#{@response["id"]}"} %>
        </div>
        <div class="col-xs-6">
          <%= f.input :description, :input_html => {:class=>"textarea-noresize",:rows =>10,:value =>"",:placeholder=>"Taper votre message ici"}%>
        </div>
      </div>
      <% end %>
      <%# Facebook Pages %>
      <hr class="mt20 mb20">
      <div class="h5 mb10"><%= t('facebook.step4') %></div>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input_field :user_uid,:class=>"ml5 mr5",:as=> :boolean, :boolean_style =>:inline,:checked_value =>@facebook.uid, :unchecked_value => nil %>
          <label for="facebook_post_user_uid" style="font-weight:normal;"><%= ("#{image_tag @facebook.image,:class=>"img-responsive mr5",:style=>"height:30px"} #{@facebook.name}").html_safe %></label>
          <hr class="mt4 mb5">
        </div>
      </div>
      <% if @pages.present? %>
      <div class="row">
        <% @pages.each_slice(6) do |grouped_pages| %>
        <div class="col-xs-6">
          <% grouped_pages.each do |page| %>
          <div class="ellipsis">
            <%= f.input_field :pages_ids,:class=>"ml5 mr5",:as=> :boolean, :boolean_style =>:inline,:name=>"facebook_post[pages_ids][]",:checked_value =>page["id"], :unchecked_value => nil, :id => "page_id_#{page["id"]}" %>
            <label for="<%= "page_id_#{page["id"]}" %>" style="font-weight:normal;"><%= ("#{image_tag "http://graph.facebook.com/#{page["id"]}/picture",:class=>"img-responsive img-circle mr5",:style=>"height:30px"} #{page["name"]}").html_safe %></label>
          </div>
          <hr class="mt4 mb5">
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="alert alert-danger" style="display:none;"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
      <input id="base64" type="hidden" value="" name="base64"/>
      <%= f.submit t('app.post'), :class => "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>


