<tr>
  <td><%= stat.id %></td>
  <td><strong><%=  stat.created_at.strftime("%d %b %Y") %></strong></td>
  <td><strong><%=  stat.created_at.strftime("%H:%M") %></strong></td>
  <td><%= stat.accounts_count %></td>
  <td><%= stat.properties_count %></td>
  <td><%= stat.units_count %></td>
</tr>
