<% @title_for_layout = 'Magex' %>
<%= render 'layouts/partials/generic_meta' %>

<div class="mb10">
  <ul id="sub_menu" class="list-inline mt10">
    <li><%= link_to 'Home', dashboard_magex_path,:class=>current_page?(dashboard_magex_path) ? "active" : "" %></li>
    <li><%= link_to 'Accounts', dashboard_magex_accounts_path,:class=>current_page?(dashboard_magex_accounts_path) ? "active" : "" %></li>
    <li><%= link_to 'Buildings', dashboard_magex_buildings_path,:class=>current_page?(dashboard_magex_buildings_path) ? "active" : "" %></li>
    <li><%= link_to 'Units', dashboard_magex_units_path,:class=>current_page?(dashboard_magex_units_path) ? "active" : ""%></li>
  </ul>
</div>

