<%= render 'submenu' %>


<h3 class="color-secondary pl10 pb5 pt5"><%= @accounts.size %> accounts</h3>
<div class="table-responsive">
  <table class="table table-bordered table-condensed bg-white">
    <thead>
      <tr class="active">
        <td>id</td>
        <td>uid</td>
        <td>Name</td>
        <td>Language</td>
        <td>Email</td>
        <td>Phone</td>
      </tr>
    </thead>
    <% @accounts.each do |account| %>
    <tr>
      <td>
        <% if account.is_active == 1 %>
        <span class="label label-success"><%= account.id %></span>
        <% else %>
        <span class="label label-danger"><%= account.id %></span>
        <% end %>
      </td>
      <td><%= account.uid %></td>
      <td><%= "#{account.first_name} #{account.last_name} " %></td>
      <td><%= account.language %></td>
      <td><%= account.email %></td>
      <td><%= account.phone %></td>
    </tr>
    <% end %>
  </table>
</div>


