<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @buildings.size %> buildings</h3>
<div class="table-responsive">
  <table class="table table-bordered table-condensed bg-white">
    <thead>
      <tr class="active">
        <td>id</td>
        <td>uid</td>
        <td>Owner</td>
        <td>Identification</td>
        <td>Address</td>
      </tr>
    </thead>
    <% @buildings.each do |building| %>
    <tr>
      <td>
        <% if building.is_active == 1 %>
        <span class="label label-success"><%= building.id %></span>
        <% else %>
        <span class="label label-danger"><%= building.id %></span>
        <% end %>
      </td>
      <td><%= building.uid %></td>
      <td><%= "#{building.magex_account.first_name} #{building.magex_account.last_name} ~  #{building.magex_account.uid} " %></td>
      <td><%= building.identification %></td>
      <td><%= building.address %></td>
    </tr>
    <% end %>
  </table>
</div>


