<%= render 'submenu' %>

<div class="center mb10">
  <%= link_to 'Sync Magex API',dashboard_magex_ftp_sync_path, :remote=>true, :class=>"btn btn-custom-primary btn-sm sync_btn" , :data => { :disable_with => 'Please wait... <i class="fa fa-spinner fa-spin"></i>' } %>
</div>

<pre id="syncDebugger">
  Debugger is ready...
</pre>

<div class="table-responsive">
  <table class="table table-condensed table-bordered a-left bg-white">
    <thead>
      <tr class="active">
        <th>Id</th>
        <th>Day</th>
        <th>Hour</th>
        <th>Accounts</th>
        <th>Buildings</th>
        <th>Units</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |stat|%>
      <%= render :partial => "magex/stat", locals: {stat: stat} %>
      <% end %>
    </tbody>
  </table>
</div>
