<%= render 'submenu' %>


<h3 class="color-secondary pl10 pb5 pt5"><%= @units.size %> units</h3>
<div class="table-responsive">
  <table class="table table-bordered table-condensed bg-white">
    <thead>
      <tr class="active">
        <td>id</td>
        <td>uid</td>
        <td>Owner</td>
        <td>Identification</td>
        <td>Type</td>
        <td>Rooms</td>
        <td>Rent</td>
        <td>Is Vancat</td>
      </tr>
    </thead>
    <% @units.each do |unit| %>
    <tr>
      <td>
        <% if unit.is_active == 1 %>
        <span class="label label-success"><%= unit.id %></span>
        <% else %>
        <span class="label label-danger"><%= unit.id %></span>
        <% end %>
      </td>
      <td><%= unit.uid %></td>
      <td><%= "#{unit.magex_account.first_name} #{unit.magex_account.last_name} ~ #{unit.magex_account.uid}" %></td>
      <td><%= unit.identification %></td>

      <td><%= "#{unit.unit_type}" %></td>
      <td><%= "#{unit.number_of_rooms}"%></td>
      <td><%= "#{unit.lease_next_dwelling_price} CAD" %></td>
      <td>
        <% if unit.is_vacant == 1 %>
        <span class="label label-primary">OUI</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>


