<%= render :layout => 'devise/devise_layout' do %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),:defaults => { :input_html => { :class => 'form-control'}}) do |f| %>
  <%= f.error_notification %>
  <h2>Inscription</h2>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="mt10">
    <%= f.submit :class => 'btn btn-custom-primary', :value => 'Inscription' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
