<p>Bonjour <%= @team_member.client.email %>,</p>
<div><%= @team_member.team.client.email  %> vous invite à rejoindre son équipe <%= "#{@team_member.team.name} (#{@team_member.team.company_name})" %></div>
<div><%= link_to "Cliquer-ici", invitation_url(:invitation_token => @team_member.invitation_token) %> pour rejoindre l'Équipe</div>


