/*Colors*/
$white:#ffffff;
$blue:#05266b;
$black:#2d353c;
$purple:#33006f;
$orange:#FF614C;
$yellow:#CC9f0e;
$green:#00acac;
$red:#f35958;
$grey:#8F8F8F;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$gold:#ffd700;

/*Light Colors*/
$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f3f3f3;
$light-orange:#ED8350;


$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;


$dark-grey:#545454;
$dark-blue:#2f4050;
$dark-orange:#fa6132;
$dark-green:#26D26E;
$dark-red:#531a1f;
$dark-grey-blue:#31373D;
$grey-blue:#9eb8c1;
$dark-brown:#281D23;

$facebook:#1357BE;
$google:#D0422A;
$twitter:#2DAAE1;
$linkedin:#1D87BD;

$primary:$orange;
$secondary:$dark-brown;
$tertiary:#b0a4a1;


$color-link: $blue;


