@import url('https://fonts.googleapis.com/css?family=Lato');

#flashMessage{
  position: fixed;
  top:30px;
  left: 20px;
  width: 420px;
  z-index:20000;
  .alert{
    border-width: 5px;
    &.alert-danger{
      border-color: #a94442;
    }
  }
}


#ContactModal{
  .centered-modal{
    display:flex; width:100%; height:100%; align-items:center; justify-content:center;
    .modal-content{
      border-radius:3px; border:none; box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); overflow:hidden;
      button{outline:none !important; font-size:25px; margin-top:1px; margin-right:5px; transition:all .2s;}
      .modal-body{
        padding:0; position:relative;
      }
      .modal-footer{
        background:#f4f4f4; margin-top:-6px;
      }
    }
    form{
      .col{padding:0;}
      .row{margin:0; margin-right:-1px;}
      input[type=text],input[type=email],input[type=tel], textarea{
        padding:20px 15px; width:100%;outline:none !important; transition:all .2s; border:none; border-bottom:1px solid #E5E5E5;
        &:focus{background:#f9f9f9;}
      }
      input:nth-child(odd){border-right:1px solid #e5e5e5;}
      textarea{resize:none; height:170px;}
      button[type=submit]{
        border-radius:3px; background:$primary; border:none; outline:none !important; font-size:16px; padding:5px 15px; color:white; text-transform:uppercase; transition:all .2s;
        &:hover{background:darken($primary, 5%);}
        &:focus{background:darken($primary, 15%);}
      }
    }
  }
}


input.form-control{
  border-radius: 0px;
}

body.front_office.map{
  #MapBoxView{
    height: 100%;
    width:100%;
  }
  .jlrMarker{
    display: block;
    cursor: pointer;
    padding: 0;
  }
}
