// Tablet + smartphone
@media (max-width:991px){
  #small-header, #main-header{
    nav{
      position:fixed; z-index:100; margin-top:0 !important; width:100vw; height:100vh; top:0; right:0; background:transparent; transform:translateX(100vw); opacity:0; transition:all .1s; cursor:pointer;
      ul{
        width:70%; height:100vh; float:right; background:white; border-left:1px solid $light-grey;box-shadow:-1px 0 10px rgba(0,0,0,.1); cursor:default;
        li{
          width:100%;
          a{width:100%; padding:15px; border-bottom:1px solid $light-grey;}
        }
      }
      &.opened{transform:translateX(0); opacity:1;}
    }
  }

  #main-header{
    .overlay{
      padding-top:10px !important;
      .hamburger{
        span{background:white !important;}
      }
      #main-nav ul li a{
        color:black;
        &.active{color:$primary;}
        &:hover{color:$primary;}
      }
    }
  }
}

// Smartphone
@media (max-width:767px){
  #small-header{
    form{
      margin-left:15px !important;
      input[type=text]{width:200px !important;}
    }
  }
  .reset-align{
    text-align:left !important;
  }
}

// Smartphone SMALL
@media (max-width:400px){
  #small-header{
    form{
      input[type=text]{width:140px !important;}
    }
  }
}

