body {
  font-family:'Lato', 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  background: white;
  &.pages.home{
    padding-top:0px;
  }
  &.devise{
    background: $light-grey;
  }
  &.front_office.map{
    overflow-y: hidden;
  }
}

input, textarea, select{
  outline:none !important; resize:none;
  &:focus{box-shadow:0 0 0 !important;}
}
input[type=checkbox]{margin:0;}
label{font-weight:500;}
select:hover{cursor:pointer;}
body label{margin-bottom:0;}
a{
  text-decoration: none; outline:none !important;
  &:focus{text-decoration:none;}
}
.modal-backdrop{background-color:#262324; opacity:.7; transition:all .2s;}
.modal-content{box-shadow:0 0 0;}

body.front_office.show{background:#f8f8f8;}

#main-search{
  i{position:absolute; top:50%; left:13px; transform:translateY(-50%);}
  input{width:250px; background:transparent;}
}


.highlightItem {
  border: 2px solid #33006f 
}

#map-page{
  #search-filters{
//    height: 140px;
    select{
      height:50px;
      border-radius:0 !important;
      height:45px;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      background:white;
      background-image:image-url("select-chevron.png");
      background-repeat:no-repeat;
      background-position:top right;
      background-size:contain;
    }
  }
  .page-content{
    height:calc(100vh - 190px);
    overflow: hidden;
    #map-section{
      .search-when-moved{box-shadow:0 0 15px rgba(0,0,0,.3);}
      .map{
        height:calc(100%)
      }
    }
    .middle-separator{
      height:calc(100% - 30px); margin-top:30px; margin-left:-1px; float:left; width:0; z-index:200;
      .col-switch{
        min-width:90px; height:90px;
        .invert{
          height:30px; width:30px; text-align:center; line-height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:100%; line-height:32px; padding-left:1px; cursor:pointer;
        }
        .switch-left-wrap, .switch-right-wrap{
          width:45px; overflow:hidden;
        }
        .switch-left, .switch-right{
          width:90px; height:90px; line-height:90px; border-radius:100%; cursor:pointer;
          &:hover{box-shadow:darken($secondary, 10%);}
        }
        .separator{position:absolute; top:0; left:50%; transform:translateX(-50%); width:1px; height:100%; background:rgba(white, .2);}
      }
    }
  }
  .ads-display{
    height:calc(100% - 40px);
    overflow-x:hidden;
    //overflow-y:scroll;
    overflow-y:hidden;
  }
}


#main-sidebar{
  background:#eeeeee;
  .top{
    height:100px;
    .filigrane{
      background:rgba(#281d22, .75);
      width:100%; height:100%;
    }
  }
  #user-infos{
    .avatar{
      height:80px;
      width:80px;
      background:white;
      transform:translateY(-50%);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  ul#sideBarMenu{
    padding-left:60px;
    li{
      padding:15px 0; position:relative;
      svg{max-height:22px; max-width:22px; position:absolute; left:-15px; top:50%; transform:translate(-100%, -50%);}
      a.color-primary svg{
        polygon, path, rect{fill:$primary;}
      }
    }
  }
}

#dashboard-content{
  background:#f8f8f8; min-height:100vh;
  select{height:45px; width:250px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:white; background-image:image-url("select-chevron.png"); background-repeat:no-repeat; background-position:top right; background-size:contain;}
  .header{
    height:100px;
    h1{border-radius:8px 8px 0 0;}
  }
  input[type=text],input[type=number],input[type=tel],input[type=email]{
    height:45px;
    width:250px;
  }
  input.date{background-image:image-url("date-input.png"); background-repeat:no-repeat; background-position:top right; background-size:contain;}
  textarea{resize:none;}
  tbody.bg-light-grey{background-color:#fbfbfb !important;}
  #dashboard-search{
    i{position:absolute; top:50%; left:13px; transform:translateY(-50%);}
    input[type=submit]{height:45px;}
  }
}

.ads-display{
  background:#fbfbfb;
}
.tabs-ads-display{
  position:relative; z-index:100;
  .bg-light-grey{background:#fbfbfb !important;}
  ul{
    li{
      a,div{
        height:45px; line-height:45px; border-radius:8px 8px 0 0; border-bottom:1px solid #fbfbfb;
      }
    }
  }
}

.properties.grid{
    overflow-y: scroll;
    height: 100%;
  .property{
    header{height:150px;}
    .title{
      position:relative;
      height:70px;
      background:#B0A4A1;
      padding:0 25px;
      color:white;
      h4{font-size:14px; font-weight:700;}
      h5{font-size:13px; font-weight:400; margin:5px 0 0 0;}
      .price{position:absolute; top:0; right:15px; transform:translateY(-50%); font-size:14px; font-weight:700; color:white; background:$primary; padding:7px 10px;}
    }
  }
}

.properties.list{
  overflow-y: scroll;
  display: inline-block;
  width: 100%;
  height: 100%;
  .property{
    display:flex;
    align-items:stretch;
    padding:5px; width:100%;
    margin-bottom:10px;
    box-shadow:0 10px 0 white;
    .listImage{
      width:200px;
    }
    .checkbox-content{float:left; width:30px; background:$tertiary; margin-right:5px;}
    .content{float:left; width:calc(100% - 35px);}
    &:last-child{margin-bottom:0;}
  }
}

.properties.table{
  overflow-y: scroll;
  height: 100%;
}

.property-gauge{
  width:80%; height:30px;
  .status{
    height:100%; position:relative;
    span{position:absolute; top:50%; right:0; transform:translate(50%, -50%);}
    &.full{
      position:static;
      span{right:4px; transform:translate(0, -50%);}
    }
  }
}

#property_agent_image{width:65px; height:65px;}

ul#building-details{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2;
}


.sync2_wrapper{
  position:relative;
  #sync2{
    padding:5px 35px;
    .owl-item{
      padding:0 5px;
      .item{
        padding:10px;
        height:60px;
        border:2px solid white;
      }
      &.synced{
        .item{border-color:$primary;}
      }
    }
  }
  .shareimmo_controls{
    position:absolute; top:50%; transform:translateY(-50%); font-size:25px; cursor:pointer; height:100%; width:35px; @extend .centered-content;
    &:hover{color:black !important;}
    &.shareimmo_control_left{left:0; padding-left:5px;}
    &.shareimmo_control_right{right:0; padding-right:5px;}
  }
}

#search-filters{
  .irs{
    .irs-line{height:1px; top:31px; background:$primary;}
    .irs-line-left,.irs-line-mid,.irs-line-right{background:$primary;}
    .irs-bar{height:1px; top:31px;}
    .irs-slider{
      background:$primary; border-radius:100%; height:13px; width:13px; top:25px; cursor:pointer; box-shadow:0 0 0; transition:box-shadow .3s;
      &:hover{cursor:-moz-grab; cursor:-webkit-grab; cursor:grab;}
      &:active{box-shadow:0 0 0 5px rgba($white, .4); cursor:-moz-grabbing; cursor:-webkit-grabbing; cursor:grabbing;}
    }
    .irs-from, .irs-to, .irs-single, .irs-min, .irs-max{
      background:transparent; font-size:12px; color:white; padding:0;
      &::after{display:none;}
    }
  }
  .more-filters{
    .icon{height:20px; width:20px; border:2px solid $primary; border-radius:50px;}
  }
  .button-secondary{background:#433338;}
}

.expandable-button{
  i{transition:transform .5s ease-in-out; will-change:transform;}
  &.opened{
    i{transform:rotate(-180deg);}
  }
}

#main-header{
  height:750px;
  .overlay{
    background:rgba(39, 39, 39, 0.65);
    .logo{
      max-width:125px;
      background: rgb(255, 255, 255); /* Fall back for unsupported browser*/
      background: rgba(255, 255, 255, 0.35);
      border-radius: 10px;
    }
    .top{
      z-index:50;
      nav{
        a{
          transition:all .2s; color:white;
          &:hover, &.active{color:$primary;}
        }
      }
    }
    .search-container{
      z-index:10;
      #advanced-search{
        form{
          background:#281D22;
          border-top:2px solid $primary;
          .row{margin:0 -7px;}
          .col{padding:0 7px;}
          input[type=text]{height:45px;}
          button[type=submit]{
            height:45px; border-radius:3px; background:#433338;
            &:hover{background:lighten(#433338, 5%);}
          }
        }
      }
    }
  }
}

.select-wrapper{
  width:100%; transition:all .2s;
  select{
    height:45px;-webkit-appearance:none; appearance:none;
  }
  &:before{content:''; width:10px; height:1px; background:black; position: absolute; top:50%; right:15px; transform:rotate(-40deg);}
  &:after{content:''; width:10px; height:1px; background:black; position: absolute; top:50%; right:22px; transform:rotate(40deg);}
  &:nth-of-type(1){transform:translateY(-150px);}
  &:nth-of-type(2){transform:translateY(150px);}
  &.active{display:inline-block; transform:translateY(0);}
}

#site-perks{
  li{
    &:before{content:"\f058"; font: normal normal normal 20px/1 FontAwesome; color:$tertiary; margin-right:10px;}
  }
}

#main-footer{
  background:#272324;
  hr{width:70%; opacity:.5;}
  .social{
    span{height:30px; line-height:30px; width:30px; text-align:center; display:inline-block; color:white; margin-right:10px;}
    a{display:block; margin-bottom:10px; color:white !important; font-weight:600;}
  }
}

.mobile-nav-button{
  .hamburger{
    width:25px; margin-top:15px; cursor:pointer; display:inline-block;
    span{
      height:3px; width:25px; background:black; float:left; margin:0 0 5px 0; border-radius:10px;
      &:last-child{margin:0;}
    }
  }
}

#main-nav{
  height:50px;
  #logoMap{
    height: 40px;
  }
}

.photos-grid{
  .photo{
    background:#fbfbfb; box-shadow:0 0 0 5px #fbfbfb, 0 0 0 6px lighten($grey, 30%); margin-bottom:20px;
    .image{height:155px;}
    input{height:auto !important;}
    .place-main{display:none;}
  }
  .col-md-3:nth-of-type(1) .photo{
    box-shadow:0 0 0 5px #fbfbfb, 0 0 0 6px $primary;
    .place-main{display:block;}
  }
  .col-md-3:nth-of-type(n+2) .photo{margin-top:28px;}
}

.mapboxgl-popup{
  .mapboxgl-popup-content{
    padding: 0;
    padding-top:7px;
    .property-list{
      max-height:170px;
      overflow-y:auto;
      overflow-x: hidden;
      td.popupCover a{
        height:90px;
        width:130px;
      }
      td.popupContent{
        width: 200px;
        padding: 0;
        td{
          padding: 2px;
        }
      }
    }
  }
}



.filterInput{
  position: relative;
  .filterInputPlaceholder,.filterInputPlaceholder{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: darken($grey,20%);
    border-radius: 0 0 3px 3px;
    background: $white;
    border: 1px solid darken($white,10%);
    border-top: none !important;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    max-width: 100%;
    input{
      max-width: 100%;
      border:none;
      outline:none;
    }
    &:after{
      color: $grey;
      position: absolute;
      right: 5px;
      content: "\f078";
      font-family: "FontAwesome";
      text-decoration: inherit;
    }
    &.area{
      &:after{
        content: "sq";
      }
    }
    &.price{
      &:after{
        content: "$";
      }
    }
  }
  .filterInputDropdown{
    font-size: 13px;
    color: darken($grey,30%);
    display: none;
    padding:3px 10px;
    background: $white;
    border-radius: 2px;
    border: 1px solid darken($white,10%);
    position: absolute;
    width: 100%;
    z-index: 10000000;
    li{
      padding: 1px 0;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      .active{
        color:$primary;
      }
    }
  }
}

