.block-dashed{
  @include border-radius(4px);
  border:2px dashed $dark-grey;
  color:darken($dark-grey,30%);
}

#dropzone {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  border: 2px dashed #ddd;
}