@charset "UTF-8";
/*NEWS TAGS HMTL5*/
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/*GENENAL*/
body{background:#ebeef0;}




/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important}

/* --- */
ul.no-margin{margin:0;}
/* --- */
.bold{font-weight:bold;}
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase;}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left;}
.a-right{text-align:right;}
.f-left{float:left;}
.f-right{float:right;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
table.table-no-border-top td{border-top:none !important}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


span.title-border {
  width: 40px;
  height: 2px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: $primary;
}



/* Bootstrap overwrite */
.btn{
  white-space: normal;
  &.btn-link-primary{
    color:$primary;
  }
  &.btn-link-secondary{
    color:$dark-grey;
  }
  &.btn-custom-primary{
    background: $primary;
    color:$white;
  }
  &.btn-custom-secondary{
    background: $secondary;
    color:$tertiary;
  }
}

hr.hr-dark{border-top-color:#B6B6B6}


.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$primary;
    }
    &.active{
      span{
        border-color:darken($primary,10%);
        background: $primary;
      }
    }
  }
}
.img-responsive{
  display: inline-block;
}

#immosquare_price{
  .tab-content{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
  }
}



h1,h2,h3,h4,h6{margin:0}

/* COLOR */
a{
  color:#444444;
  &:hover{
    color:$primary;
    text-decoration:none;
  }
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:#ffffff !important;
}


.colorPrimary{color:$primary;}
.color-primary{color:$primary;}
.color-secondary{color:$secondary;}
.color-tertiary{color:$tertiary}


.color-black{color:$black}
.color-white{color:$white}
.color-green{color:$green}
.color-red{color:$red}
.color-dark-grey{color:$dark-grey;}

.color-twitter{color:$twitter;}
.color-facebook{color:$facebook;}
.color-google{color:$google;}
.color-youtube{color:$youtube;}
.color-linkedin{color:$linkedin;}


.bg-white{background: $white !important;}


// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

//Font Size
$i:10;
@while $i <= 100{
  .fs#{$i}{
    font-size: ($i+(-3))*1px;
  }
  .lh#{$i}{
    line-height: $i*1px ;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}




.videoContainer, .svgContainer{
  width:100%;
  height:0;
  overflow:hidden;
  position:relative;
  iframe,svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }
}



// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 50{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  @if $a <= 9{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}




