body.welcome.home{
  h1{
    font-family: 'Shadows Into Light', cursive;
  }
}


#sub_menu{
  a{
    &.active{
      font-weight: bold;
      color:$primary;
    }
  }
}


#mapContainer{
  position:absolute;
  width:100% !important;
  height:100% !important;
  top:0;
  left:0;
  img {
    max-width: none;
  }
  label {
    width: auto; display:inline;
  }
}
