<%= render 'dashboard/header', :current => 3 %>
<div class="container pt20">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="grey-border">
        <div class="panel-header">Blog</div>
        <ul id="sidebar_my_services">
          <li id="stepone"class="active"><a href="#step1">Picture</a></li>
          <li id="steptwo"><a href="#step2">General</a></li>
        </ul>
      </div>
    </div>
    <div id="annonce_form_right" class="col-sm-8 col-md-9">
      <%= simple_form_for @post,:remote=>false, :url => dashboard_update_blog_path(@post.id), :html=>{:id=>"BlogForm"} do |f| %>
      <div class="mb20">
        <%= link_to "#{t('back_office.quit')}".html_safe, dashboard_blog_path, :class=> "btn btn-custom-default" %>
        <%= f.submit "Save".html_safe, :class=> "btn color-shareimmo-secondary" %>
      </div>
      <div id="step1" class="step">
        <%= f.input :draft,:input_html => {:value =>0},:as=>'hidden' %>
        <div class="row center">
          <div class="col-xs-8 col-xs-offset-2">
            <%= image_tag @post.cover.url(:small),:class=>"img-responsive img-thumbnail" %>
            <div class="pull-right mt5">
              <%= link_to t('back_office.delete') ,dashboard_blog_remove_picture_path(@post), :remote => true, :class => "color-red" %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p class="color-shareimmo-secondary center-block inline-block pointer withShadow pt4 pb6 pl10 pr10 mb0 mt10" id="input_file_button"><%= t('back_office.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
          <%= f.input :cover, label: false, :label_html=>{:class=>"text-info"}, :wrapper_html=>{:class=>"mb0 mt5"}, :input_html=>{:class=>"hide input-file"} %>
        </div>
      </div>
      
      <div id="step2" class="step" style="display:none">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12 mb40">
            <%= f.input :locale, :collection =>{'Français'=>'fr','English'=>'en'},:include_blank=>false %>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 mb40">
            <%= f.association :blog_category,:include_blank => false %>
          </div>
          <div class="col-xs-12 mb40">
            <%= f.input :title %>
          </div>
          <div class="col-xs-12 mb40">
            <%= f.input :content,:as=> 'text' ,:input_html=>{:class=>"froala"}%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = true;
window.froala_upload_url = "<%#= dashboard_wysiwyg_picture_manager_path(@user.username,:id => @post.id,:asset_type =>"blog") %>";
window.frola_delete_url = "<%#= dashboard_wysiwyg_picture_delete_path(@user.username,:id => @post.id) %>";
<% end %>
