<%= render 'dashboard/header', :current => 3 %>

<section class="pt20">
 <% if @posts.blank? %>
 <div class="center mt20">
  <div><%= image_tag "posts.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 color-shareimmo-primary"><%= t('back_office.any_posts') %></div>
</div>
<% else %>
  <% @posts.each_with_index do |post, x| %>
  <div id="post_<%= post.id %>">
    <div class="row condo-info pb10 pl15  <%= x == 0 ? "pt0" : "pt10" %>">
	<div class="col-md-8 col-md-offset-2">
      <section class="col-xs-12">
        <div class="image mr10" style="background-image:url(<%= post.cover.present? ? post.cover.url(:large) : Blog.new.cover.options[:default_url] %>);"></div>
        <div class="ellipsis">
          <div class="h5"><%= "#{post.title}"%></div>
          <div class="color-grey"><%= strip_tags post.content.truncate(160) %></div>
          <div class="color-grey"><%= post.blog_category.present? ? "Category : #{post.blog_category.name}" : "" %></div>
          <h6 class="mt5">
            <%= link_to t('back_office.edit'), dashboard_edit_blog_path(post.id )  %>
            <%= link_to "Delete", dashboard_delete_blog_path(post.id),:remote=>false,:method=>'delete', :data => { :confirm => "Are you sure?" } %>
          </h6>
        </div>
      </section>
    </div>
  </div>
  <% end %>
  <%#= will_paginate @posts, renderer: BootstrapPagination::Rails, :next_label=>t('back_office.next'),:previous_label=>t('back_office.previous') %>
</div>
<% end %>
</section>

