<%= render 'dashboard/header', :current => 6 %>

<div class="container">
<%= simple_form_for (@website), url: update_website_path do |f| %>
<%= f.input :name %>
<%= f.association :theme, include_blank: false %>
<%= f.input :font_1_id, as: :grouped_select, collection: FontType.all,:include_blank=>false, group_method: :fonts,:group_label_method => 'name' %>
<%= f.input :font_2_id, as: :grouped_select, collection: FontType.all,:include_blank=>false, group_method: :fonts,:group_label_method => 'name' %>
<%= f.input :color_1 %>
<%= f.input :color_2 %>
<%= f.input :google_analytics %>
<%= f.input :default_locale %>
<%= f.input :testimonial_active, input_html: {style: "width: 13px; height: 13px; padding: 0px; margin: auto; vertical-align: bottom; position: relative; "} %>
<%= f.input :blog_active, input_html: {style: "width: 13px; height: 13px; padding: 0px; margin: auto; vertical-align: bottom; position: relative; "} %>
<%= f.submit %>
<% end %>
</div>

