<%= render 'dashboard/header', :current => 5 %>

<div class="container">
<%= simple_form_for @domain, url: update_domain_path do |f| %>


  <div class="field">
    <%= f.input :name %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>