<%= render 'dashboard/header', :current => 6 %>


<div class="container">

<h1>Websites</h1>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website Configuration</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.name %></td>
        <td><%= "test" %></td>
        <td><%= link_to 'Edit website', edit_website_path(website) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
