<%= render 'dashboard/header', :current => 5 %>


<div class="container">

<h1>Domains</h1>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website Configuration</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= domain.website.name %></td>
        <td><%= link_to 'Edit domain name', edit_domain_path(domain) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= simple_form_for @domain, url: create_domain_path  do |f| %>
  <div class="row">
    <div class="col-md-8">
    	<%= f.input :name, label: false, placeholder: "Add a new domain" %>
    </div>
    <div class="col-md-4">
      <%= f.input :property_id, label: false, placeholder: "Property ID (optional)" %>
    </div>
  </div>
	<%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
	<%= f.submit %>
<% end %>
  
</div>