<%= render 'dashboard/header', :current => 6 %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>Create a new website configuration</p>
			<%= simple_form_for @website, url: create_website_path(domain_id: @domain.id)  do |f| %>
			<%= f.input :name %>
			<%= f.association :theme, include_blank: false %>
			<%= f.input :font_1_id, as: :grouped_select, collection: FontType.all,:include_blank=>false, group_method: :fonts,:group_label_method => 'name' %>
			<%= f.input :font_2_id, as: :grouped_select, collection: FontType.all,:include_blank=>false, group_method: :fonts,:group_label_method => 'name' %>
			<%= f.input :color_1 %>
			<%= f.input :color_2 %>
			<%= f.input :google_analytics %>
			<%= f.input :default_locale %>
			<%= f.input :testimonial_active, input_html: {style: "width: 13px; height: 13px; padding: 0px; margin: auto; vertical-align: bottom; position: relative; "} %>
			<%= f.input :blog_active, input_html: {style: "width: 13px; height: 13px; padding: 0px; margin: auto; vertical-align: bottom; position: relative; "} %>
			<%= f.submit %>
			<% end %>
		</div>

		<div class="col-md-4">
			<p>Or select an existing website configuration</p>
			<%= simple_form_for @domain, url: update_domain_path(@domain)  do |f| %>
				<%= f.input :website_id, collection: @websites, include_blank: false %>
				<%= f.submit "Select Website"%>
			<% end %>
		</div>
	</div>
