<%= render 'dashboard/header', :current => 4 %>

<div class="container">
<%= simple_form_for (@testimonial), url: dashboard_testimonials_update_path(@testimonial) do |f| %>
<%= f.input :title %>
<%= f.input :content %>
<%= f.submit %>
<% end %>
</div>