<%= render 'dashboard/header', :current => 4 %>

<section class="pt20">
	<% if @testimonials.blank? %>
	<div class="center mt20">
		<div><%= image_tag "testimonial.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
		<div class="h1 mt20 color-shareimmo-primary"><%= t('back_office.any_testimonial') %></div>
	</div>
	<% else %>
			<% @testimonials.each_with_index do |testi, x| %>
			<div id="testi_<%= testi.id %>" class="relative">
				<div class="row condo-info pb10 pl15 <%= x == 0 ? "pt0" : "pt10" %>">
				<div class="col-md-8 col-md-offset-2">
					<section class="col-xs-12">
						<div class="image mr10"></div>
						<div class="ellipsis">
							<div class="h5"><%= testi.title %></div>
							<div class="color-grey"><%= testi.full_name.present? ? "From : #{testi.full_name}" : nil %></div>
							<div class="color-grey elli"><%= strip_tags testi.content %><span class="ml5 pointer color-shareimmo-secondary"  data-toggle="popover" data-placement="bottom" title="<%= testi.title %>" data-content="<%= testi.content %>"><i class="fa fa fa-question-circle"></i></span></div>
							<h6 class="mt5">
								<% if testi.status == 0 %><%= link_to "Activate", dashboard_testimonials_active_path(testi.id), :method => :post %><% else %> <span class="color-success"><%= "Active" %> <i class="fa fa-check"></i></span><% end %> |
								<%= link_to "Edit", dashboard_testimonials_edit_path(testi.id),:remote=>false %> |
								<%= link_to "Delete", dashboard_testimonials_delete_path(testi.id),:remote=>false,:method=>'delete', :data => { :confirm => "Are you sure?" } %>
							</h6>
						</div>
					</section>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>
	</section>
