<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta property="fb:app_id" content="<%=  ENV['FACEBOOK_APP_ID'] %>" />
  <%= favicon_link_tag '/favicon.ico' %>
  <%= display_meta_tags %>
  <% if @website.present? %>
  <link href="<%= Font.find(@website.font_1_id).link_url %>" rel='stylesheet' type='text/css'>
  <link href="<%= Font.find(@website.font_2_id).link_url %>" rel='stylesheet' type='text/css'>
  <% end %>
  <%= stylesheet_link_tag "front_office", media: "all", "data-turbolinks-track" => true %>
  <% if action_name != "explore" and action_name!= "explore_ad" %>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <% end %>
  <%= javascript_include_tag "front_office", "data-turbolinks-track" => true %>
  <%= yield(:head) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 10]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{controller_name} #{action_name}  template_1  #{@mandate_website == 0 ? nil : 'mandate_website'}" %>'>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render :partial => "front_office/partials/send_email_sms_modal", locals: {:property => @property.present? ? @property : nil } if @profile.present? %>
  <%= render 'front_office/partials/footer' %>
</body>


<%= javascript_tag do %>
  window.analytics_id = "<%= (@website.present? and @website.google_analytics.present?) ? "#{@website.google_analytics}" : nil %>";
<% end %>
</html>

