<footer class="pt50 pb60" id="main-footer">
  <div class="container color-white">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div><%= link_to t('app.home._'), root_path, :class=>"color-white" %></div>
        <div><%= link_to t('app.sign_in'), new_user_session_path, :class=>"color-white" %></div>
        <div><%= link_to t('app.contact_us'),"#", :class=>"color-white",:data => {:toggle => "modal",:target => "#ContactModal"} %></div>
      </div>
      <div class="col-md-4 col-xs-6">
        <h6 class="bold fs14"><%= t('app.contact_us') %></h6>
        <div class="mt20 part">
          <span class="block"><%= t('app.address') %></span>
          <div class="mt5 color-tertiary">
            <i class="fa fa-map-marker pull-left fs16"></i>
            <p class="pl15">123 rue Lorem ipsum<br>Montréal, QC, Canada<br>J4Z 3P5</p>
          </div>
        </div>
        <div class="mt25 part fs13">
          <span class="block bold"><%= t('app.phone') %></span>
          <div class="mt5 color-tertiary">
            <i class="fa fa-phone pull-left fs16 mt3"></i>
            <p class="pl15">514-555-5555</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <h6 class="bold fs14"><%= t('app.connect_with_us') %></h6>
        <div class="mt25 social">
          <a href="http://facebook.com" target="_blank">
            <span class="bg-facebook"><i class="fa fa-facebook"></i></span>Facebook
          </a>
          <a href="http://google.com" target="_blank">
            <span class="bg-google"><i class="fa fa-google-plus"></i></span>Google Plus
          </a>
          <a href="http://linkedin.com" target="_blank">
            <span class="bg-linkedin"><i class="fa fa-linkedin"></i></span>Linkedin
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<%# MODAL %>
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="centered-modal">
    <div class="modal-dialog" role="document">
      <%= simple_form_for Contact.new,:url=> root_path, :remote=>true do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title color-primary bold" id="myModalLabel">Contact us</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 col">
                <%= f.input :first_name, :label=>false, :placeholder=>"First name *", :required=>true %>
              </div>
              <div class="col-md-6 col">
                <%= f.input :last_name, :label=>false, :placeholder=>"Last name *", :required=>true %>
              </div>
              <div class="col-md-6 col">
                <%= f.input :email, :label=>false, :placeholder=>"Email *", :required=>true %>
              </div>
              <div class="col-md-6 col">
                <%= f.input :phone, :as => :tel, :label=>false, :placeholder=>"Phone" %>
              </div>
              <div class="col-md-12 col">
                <%= f.input :message, :label=>false, :placeholder=>"Message *", :required=>true %>
              </div>
            </div>
            <!-- <%# Loading %>
            <div class="form-status">
              <div class="sending">
                <%= image_tag "loader.gif" %>
              </div>
              <div class="sent pl25 pr25">
                <span class="color-primary fs25 fw500">Thank you !</span>
                <p class="fs12 mt10 color-grey">We will get right back to you as soon as possible.</p>
              </div>
              <div class="error pl25 pr25">
                <span class="fs25 fw500">Error</span>
                <p class="fs12 mt10 color-grey">Please, try again later</p>
              </div>
            </div> -->
          </div>
          <div class="modal-footer">
            <p class="fs12 color-grey pull-left text-left mb0">
              <span class="color-black">JLR agency</span><br>
              <a href="mailto:contact@cpix.com">contact@jlr.com</a> - <a href="tel:5145555555">514-555-5555</a>
            </p>
            <button type="submit"><%= t('app.send') %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
