<nav class="navbar navbar-default bg-white mb0" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-header full-height">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class=>"navbar-brand  pl30 pb0 pt0 pr0" do %>
        <%= image_tag 'logo-secondary.png',:id => "logoMap", :class=>"img-responsive mt10" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= content_tag 'li', (link_to t('app.home._'), root_path, :class=>"bold") %>
        <% if user_signed_in? %>
        <%= content_tag 'li', (link_to t('app.dashboard'), dashboard_path, :class=>"bold") %>
        <%= content_tag 'li', (link_to t('app.sign_out'), destroy_user_session_path,:method => :delete, :class=>"bold") %>
        <% else %>
        <%= content_tag 'li', (link_to t('app.sign_in'), new_user_session_path, :class=>"bold") %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
