<div class="property bAll border-grey">
  <label  class="checkbox-content centered-content pointer">
    <input type="checkbox"  class="pointer the_checkbox">
  </label>
  <div class="content">
    <div class="row row-10 same-height-col fs14">
      <div class="col-lg-3">
        <%= link_to front_office_show_path(listing[:id]), :target =>"_blank" do %>
        <%= image_tag listing[:cover_url], :class=>"img-responsive"  %>
        <% end %>
      </div>
      <div class="col-lg-3 pt15 pb15">
        <span class="block mt10 ellipsis"><%= listing[:address] %></span>
        <span class="block bold ellipsis"><%= listing[:locality] %></span>
        <span class="block ellipsis"><%= listing[:listing_major_type][I18n.locale] %></span>
        <span class="block ellipsis"><%= listing[:area_formated] %></span>
        <span class="inline-block fs18 bold mt10 color-primary"><%= listing[:price_formated] %></span>
      </div>
      <div class="col-lg-3 pt15 pb15">
        <div class="row">
          <div class="col-md-6 bold">Listing ID</div>
          <div class="col-md-6 color-grey"><%= "##{listing[:id]}" %></div>
        </div>
        <div class="row">
          <div class="col-md-6 bold">Status</div>
          <div class="col-md-6 color-grey"><%= listing[:status] = 1 ? 'Online' : 'Offline' %></div>
        </div>
        <div class="row">
          <div class="col-md-6 bold">Expiry date</div>
          <div class="col-md-6 color-grey"><%= listing[:updated_at] %></div>
        </div>
      </div>
      <div class="col-lg-3 pt15 pb15">
        <% if controller_name == "dashboard" and action_name == "index" %>
        <div class="block">
          <%= link_to dashboard_listing_edit_path(listing[:id]), :class=> "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb4 pl10 pr10 fs20"  do  %>
          <i class="fa fa-pencil"></i>
          <% end %>
          <a href="#" class="inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb4 pl10 pr10 fs20">
            <i class="fa fa-search-plus"></i>
          </a>
          <a href="#" class="inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb4 pl10 pr10 fs20">
            <i class="fa fa-globe"></i>
          </a>
          <a href="#" class="inline-block br5 mb5 bAll border-light-grey bg-white pt3 pb4 pl10 pr10 fs20">
            <i class="fa fa-file-text-o"></i>
          </a>
        </div>
        <span class="inline-block bold fs14 mt25">Listing completeness</span>
        <div class="property-gauge bAll border-black br20 overflow-hidden relative mt10">
          <%# .full if status >= 90 | for design purpose %>
          <span class="inline-block status bg-primary <%= listing[:completeness] >= 90 ? 'full' : nil %>" style="width:<%= listing[:completeness] < 10 ? 10 : listing[:completeness] %>%;">
            <span class="bg-white color-black br8 fs14 bold pl1 pr1"><%= listing[:completeness] %>%</span>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
