<article class="property mb30">
  <div class="relative">
    <div class="absolute absolute-top-left">
      <div class="bg-white mt2 ml2 pl5 pr5 pt2 pb2 bold color-primary">
        <%= listing[:transaction_major_type][I18n.locale] %>
      </div>
    </div>
    <div class="absolute absolute-top-right">
      <% if controller_name == "dashboard" and action_name == "index" %>
      <label  class=" pull-right mr5">
        <input type="checkbox"  class="pointer the_checkbox">
      </label>
      <% end %>
    </div>
    <%= link_to front_office_show_path(listing[:id]), :target =>"_blank" do %>
    <%= image_tag listing[:cover_url], :class=>"img-responsive"  %>
    <% end %>
  </div>

  <div class="title centered-content pt10 pb5">
    <div class="price"><%=  listing[:price_formated] %></div>
    <div class="full-width">
      <div class="ellipsis h4 fs14"><%= listing[:address] %></div>
      <div class="ellipsis h4 fs14">
        <% if controller_name == "dashboard" and action_name == "index" %>
        <%= link_to dashboard_listing_edit_path(listing[:id]), :class=>"inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb4 pl10 pr10 fs20 pull-right" do %>
        <i class="fa fa-pencil"></i>
        <% end %>
        <% end %>
        <%= listing[:locality] %>
      </div>
    </div>
  </div>
  <footer class="pt15 pb10 pl15 pr15 bg-white fs13 bAll border-light-grey">
    <div class="row">
      <div class="col-xs-6">
        <div class="ellipsis"><%= t('app.type') %></div>
      </div>
      <div class="col-xs-6">
        <div class="ellipsis"><%= listing[:listing_major_type][I18n.locale] %></div>
      </div>
    </div>
    <hr class="mt4 mb4">
    <div class="row">
      <div class="col-xs-6">
        <div class="ellipsis"><%= t('app.area') %></div>
      </div>
      <div class="col-xs-6">
        <div class="ellipsis"><%= listing[:area_formated] %></div>
      </div>
    </div>
  </footer>
</article>

