<% @title_for_layout = @appName %>
<% @description_for_layout = "TODO"%>
<% @canonical_for_layout = root_url %>
<%= render 'layouts/partials/generic_meta' %>



<header id="main-header" class="bg-cover relative" style="background-image:url(<%= image_path 'home-bg.png' %>);">
  <div class="overlay full-width full-height pt45">
    <div class="container top relative">
      <%= link_to root_path do %>
      <%= image_tag 'logo-white.png', :class=>"logo", :alt => "Logo" %>
      <% end %>
      <div class="mobile-nav-button pull-right hidden-lg hidden-md">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="pull-right pb20 no-border" id="main-nav">
        <ul class="links list-unstyled pAll0 mAll0">
          <%= content_tag 'li', (link_to t('app.home._'), root_path, :class=>"color-primary fs14 bold"), :class=>"inline-block mr20" %>
          <%= content_tag 'li', (link_to t('app.contact_us'),"#", :class=>"fs14 bold",:data => {:toggle => "modal",:target => "#ContactModal"}), :class=>"inline-block mr20" %>
          <% if user_signed_in? %>
          <%= content_tag 'li', (link_to t('app.dashboard'), dashboard_path, :class=>"fs14 bold"), :class=>"inline-block mr20" %>
          <%= content_tag 'li', (link_to t('app.sign_out'), destroy_user_session_path,:method => :delete,  :class=>"fs14 bold"), :class=>"inline-block" %>
          <% else %>
          <%= content_tag 'li', (link_to t('app.sign_in'), new_user_session_path, :class=>"fs14 bold"), :class=>"inline-block" %>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="search-container centered-content absolute absolute-top-left full-width full-height pt40">
      <div class="container">
        <h1 class="text-center color-white fs45 bold"><%= t('app.home.hook') %></h1>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 mt45" id="advanced-search">
            <ul class="tabs list-inline mAll0">
              <li class="bg-primary pt15 pb15 pl25 pr25 fs18 bold brtl8 brtr8 pointer color-white" data-majortransaction="1" data data-tab="1"><%= t('app.buy') %></li>
              <li class="pt15 pb15 pl25 pr25 fs18 bold brtl8 brtr8 bg-secondary pointer ml-4 color-white" data-majortransaction="2" data-tab="2"><%= t('app.lease') %></li>
            </ul>
            <%= simple_form_for :search,:url=> front_office_search_cleaner_path,:method => "get", :html=>{:class=>"pt40 pr40 pb20 pl30 brbl8 brbr8"} do |f| %>
            <div class="row">
              <div class="col-md-5 col-xs-6 col mb20 relative">
                <div class="select-wrapper absolute absolute-top-left full-width pl7 pr7 active" data-tab="1">
                  <%= f.input_field :majortype,:prompt => t("app.all_properties"), :collection => ListingMajorType.all.order(:name), :class=>"full-width br8 pr45 pl20 color-black no-border fs16" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-6 col mb20">
                <%= f.input :address,:label=>false,:wrapper=>false, :placeholder=>t('app.type_city'), :input_html=>{:id=>"googleMapGeocoder", :class=>"no-border br8 pl20 pr20 fs16 color-black full-width"}%>
                <%= f.input :bounds, :as => :hidden %>
                <%= f.input :majortransaction, :input_html => {:value =>1},:as => :hidden  %>
              </div>
              <div class="col-md-3 col-xs-12 col mb20">
                <%= f.button :button, t('app.search'), :class=>"full-width button-secondary text-center br3 uppercase no-border color-white" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="pt100" style="background-color:#F9F9F9;">
    <div class="container">
      <h3 class="fs30 text-center fw300">IC&I Solutions for <span class="color-primary">Real Estate Associations</span> and <span class="color-primary">Agents</span></h3>
      <div class="row mt85 same-height-col">
        <div class="col-md-5 col-md-push-7 centered-content pt70 pb20">
          <ul class="list-unstyled" id="site-perks">
            <li class="mb13">Manage your listing <strong>with JLR</strong></li>
            <li class="mb13">Reach <strong>locally</strong> and <strong>internationally</strong></li>
            <li class="mb13">Create a <strong>personalized website</strong> for your listings</li>
            <li class="mb13"><strong>Personalize your JLR</strong> for an integrated solution</li>
            <li class="mb13">Integrate our <strong>search engines</strong> into your website</li>
            <li>Enjoy the integration to <strong>JLR</strong> and <strong>SABRE</strong></li>
          </ul>
        </div>

        <div class="col-md-7 col-md-pull-5">
          <%= image_tag "made-in-canada.png", :class=>"img-responsive" %>
        </div>
      </div>
    </div>
  </section>


  <% if @response.present? and @response[:results].size > 0 %>
  <section class="pt80" style="background-color:#F0EEEF;">
    <div class="container">
      <h3 class="fw300 fs30">Recent properties</h3>
      <div class="properties grid mt50 pb70">
        <div class="row">
          <% @response[:results][:features].each do |listing| %>
          <div class="col-md-3 col-sm-6">
            <%= render "front_office/listing_grid", :listing => listing[:properties] %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <% end %>
</main>

<%= render 'front_office/footer' %>








