<% @title_for_layout = "JLR" %>
<%= render 'layouts/partials/generic_meta' %>


<%= content_for (:head) do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
<% end %>


<%= content_tag "div",nil, id:"map-page", data: @datas %>

