<% @title_for_layout        = @appName %>
<% @description_for_layout  = "TODO"%>
<% @canonical_for_layout    = front_office_show_url(@listing[:id]) %>
<%= render 'layouts/partials/generic_meta' %>

<%= content_for (:head) do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />

<script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>

<%= render 'front_office/header' %>

<header id="property_show_title" class="bg-cover" style="background-image:url(<%= image_path 'home-bg-blurred.png' %>);">
  <div class="filigrane">
    <div class="container pt30 pb30">
      <div class="bread-crumb fs14">
        <%= link_to t('app.home._'), root_path, :class=>"color-white" %>
        <span class="color-white mr10 ml10">/</span>
        <span class="color-white"><%= @listing[:address][:locality] %></span>
        <span class="color-white mr10 ml10">/</span>
        <span class="color-white bold bg-primary pt2 pb2 pl5 pr5"><%= "#{@listing[:address][:street_number]} #{@listing[:address][:street_name]}, #{@listing[:address][:zipcode]}" %></span>
      </div>
    </div>
  </div>
</header>



<main class="pt10 pb40">
  <div class="container">
    <div class="row mt10 mb25">
      <div class="col-md-9">
        <div class="h2 color-primary bold pull-right"><%= @listing[:financial][:price_formated].present? ? @listing[:financial][:price_formated] : "n/m" %></div>
        <h1 class="inline-block fs29 bold"><%= "#{@listing[:address][:street_number]} #{@listing[:address][:street_name]}, #{@listing[:address][:zipcode]}, #{@listing[:address][:locality]}" %></h1>
      </div>
    </div>
    <div class="row mt5">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-7">
            <section class="bg-white full-width mb30">
              <% if @listing[:pictures].present? %>
              <section class="bg-white" id="propertySlider">
                <div class="customNavigation relative">
                  <div id="sync1" class="owl-carousel">
                    <% @listing[:pictures].each do |picture| %>
                    <div class="item">
                      <%= link_to picture[:large], :class=>"inline-block full-width" do %>
                      <%= image_tag picture[:medium], :class=>"img-responsive full-width" %>
                      <% end %>
                    </div>
                    <% end if @listing[:pictures].present? %>
                  </div>
                </div>
                <div class="sync2_wrapper">
                  <div id="sync2" class="owl-carousel">
                    <% @listing[:pictures].each do |picture| %>
                    <div class="item pointer bg-cover" style="background-image:url(<%= image_path picture[:small] %>);">
                    </div>
                    <% end if @listing[:pictures].present? %>
                  </div>
                  <a class="shareimmo_controls shareimmo_control_left">
                    <svg width="14" height="26" viewBox="995 277 14 26" xmlns="http://www.w3.org/2000/svg"><path d="M996.2 289.762l11.98-11.98.204-.202.406.406-.203.203-11.98 11.98 12.18 12.178-.407.406-12.18-12.18-.406-.404-.004-.006.406-.406.005.004z" fill-rule="evenodd"/></svg>
                  </a>
                  <a class="shareimmo_controls shareimmo_control_right">
                    <svg width="14" height="26" viewBox="995 277 14 26" xmlns="http://www.w3.org/2000/svg"><path d="M1008.38 290.57l-11.98 11.98-.204.204-.406-.406.203-.203 11.98-11.98-12.18-12.18.407-.405 12.18 12.18.406.404.004.006-.406.406-.005-.005z" fill-rule="evenodd"/></svg>
                  </a>
                </div>
              </section>
              <% end %>
            </section>
            <section class="mt20 inline-block full-width">
              <h3 class="light"><%= t('app.description') %></h3>
              <div class="mb20 fs13">
                <%= @listing[:description].html_safe %>
              </div>
            </section>
          </div>


          <div class="col-md-5">
            <section class="bg-white full-width pt10 pr15 pl15 pb5 mb20">
              <h3 class="light mb20"><%= t('app.property_summary') %></h3>
              <div class="type mt5 mt5">
                <i class="fa fa-check-circle color-primary fs22"></i>
                <h4 class="inline-block bold fs14 ml10"><%= @listing[:transaction_type][:en] %></h4>
              </div>
              <hr class="mt10 mb10 border-light-grey">
              <table class="table table-condensed table-no-bordered mb0 mt5">
                <tbody>
                  <tr>
                    <td>Listing #</td>
                    <td class="a-right"><%= @listing[:id] %></td>
                  </tr>
                  <tr>
                    <td>Property Type</td>
                    <td class="a-right"><%= @listing[:classification][:major_type][:en] %></td>
                  </tr>
                  <tr>
                    <td>Sub Type</td>
                    <td class="a-right">-</td>
                  </tr>
                  <tr>
                    <td>Total floor area</td>
                    <td class="a-right"><%= @listing[:area][:area_formated].present? ?  @listing[:area][:area_formated] : "-" %></td>
                  </tr>
                  <tr>
                    <td>Occupancy</td>
                    <td class="a-right"><%= "Tennant" %></td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="bg-white full-width mb30">
              <% if @listing[:address][:latitude].present? && @listing[:address][:longitude].present? %>
              <div id='map' class="mb-5" style="width: 100%; height: 360px;"></div>
              <% end %>
            </section>
          </div>
        </div>
        <section class="bg-white full-width pt30 pl30 pr30 pb15 mb30">
          <h3 class="light">Building details</h3>
          <ul class="list-unstyled mt20 mb0" id="building-details">
            <% @listing[:building].each do |prop| %>
            <li class="mb15">
              <h4 class="bold fs14 inline-block"><%= t("app.building.#{prop[0]}") %> : </h4>
              <span class="inline-block fs14"><%= prop[1].present? ? prop[1] : "-" %></span>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
      <div class="col-md-3">
        <section class="bg-white full-width pt10 pl20 pr20 mb30 expandable-card">
          <h3 class="light"><%= t('app.salesperson') %></h3>
          <div class="mt10 inline-block full-width">
            <div id="property_agent_image" class="img-circle bg-cover pull-left" style="background-image:url(<%= @listing[:user][:picture] %>);"></div>
            <div class="pull-left ml15">
              <h4 class="fw800 fs13 mt15"><%= "#{@listing[:user][:first_name]} #{@listing[:user][:last_name]}" %></h4>
              <%= link_to @listing[:user][:mobile_phone], "tel:#{@listing[:user][:mobile_phone]}", :class=>"color-primary fw400 fs13 mt5" if @listing[:user][:mobile_phone].present? %>
            </div>
          </div>
          <ul class="list-inline">
            <li>
              <%= link_to "https://www.facebook.com/JLR.ca", :target =>"_blank" do %>
              <i class="fa fa-facebook-square color-facebook fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://twitter.com/JLRimmo", :target =>"_blank" do %>
              <i class="fa fa-twitter-square color-twitter fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.linkedin.com/company/375826", :target =>"_blank" do %>
              <i class="fa fa-linkedin-square color-linkedin fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
          <hr class="mt10 mb10">
          <div class="light mb15 h4">Contact the salesperson</div>
          <%= simple_form_for Contact.new, :url=> contact_mail_path, :html=>{:class=>"expandable-area animated fadeIn display-hide"} do |f| %>
          <%= f.input :first_name, :label=>false, :placeholder=>"First name *", :input_html=>{:class=>"bAll border-light-grey br0"}, :required=>true %>
          <%= f.input :last_name, :label=>false, :placeholder=>"Last name *", :input_html=>{:class=>"bAll border-light-grey br0"}, :required=>true %>
          <%= f.input :email, :label=>false, :placeholder=>"Email *", :input_html=>{:class=>"bAll border-light-grey br0"}, :required=>true %>
          <%= f.input :phone, :as => :tel, :label=>false, :placeholder=>"Phone", :input_html=>{:class=>"bAll border-light-grey br0"} %>
          <%= f.input :message, :label=>false, :placeholder=>"Message *", :input_html=>{:class=>"bAll border-light-grey br0", :rows=>4}, :required=>true %>
          <%= f.input :property_id, :as => :hidden, :input_html=>{:value=>@listing[:id]} %>
          <div class="inline-block full-width text-right">
            <button type="submit" class="button-secondary color-white uppercase fs13 pt5 pb5 pl15 pr15"><%= t('app.send') %></button>
          </div>
          <% end %>
          <div class="expandable-button button-tertiary pointer mr-20 ml-20 text-center pt12 pb12 br0 mt25">
            <i class="fa fa-chevron-down fs20"></i>
          </div>
        </section>
        <section class="bg-white full-width pt10 pb10 center mb30">
          <%= link_to "mailto:?subject=#{t('mailto.subject')}&body=#{t('mailto.body',:link=>front_office_show_url(@listing[:id]))}", :class => "inline-block mr8 br5 bAll border-light-grey bg-white pt4 pb6 pl10 pr10 fs18" do %>
            <i class="fa fa-envelope-o"></i>
          <% end %>
          <%= link_to front_office_show_path(@listing[:id],:format =>:pdf,:print=>true),:target => "_blank", :class => "inline-block mr8 br5 bAll border-light-grey bg-white pt4 pb6 pl10 pr10 fs18" do %>
            <i class="fa fa-print"></i>
          <% end %>
          <%= link_to front_office_show_path(@listing[:id],:format =>:pdf),:target => "_blank", :class => "inline-block mr8 br5 bAll border-light-grey bg-white pt4 pb6 pl10 pr10 fs18" do %>
          <i class="fa fa-file-pdf-o"></i>
          <% end %>
        </section>
        <h3 class="light mb15">Similar listings</h3>
        <div class="mt25 properties grid">
          <% if @listings.present? and @listings[:results][:features].size > 0 %>
          <% @listings[:results][:features].each do |l| %>
          <article class="property mt20">
            <%= link_to front_office_show_path(l[:properties][:id])  do  %>
            <header class="bg-cover" style="background-image:url(<%= l[:properties][:cover_url] %>);"></header>
            <% end %>
            <div class="title centered-content pt5">
              <div class="price"><%= l[:properties][:price_formated] %></div>
              <div class="full-width">
                <h4 class="ellipsis"><%= l[:properties][:address] %></h4>
                <h4 class="ellipsis"><%= l[:properties][:locality] %></h4>
              </div>
            </div>
          </article>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>




<%= render 'front_office/footer' %>


<% if @listing[:address][:latitude].present? && @listing[:address][:longitude].present? %>
<%= content_for (:head) do %>
<script>
$(document).ready(function(){
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_TOKEN'] %>";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/bright-v9',
    center: [<%= @listing[:address][:longitude] %>, <%= @listing[:address][:latitude] %>],
    zoom: 13,
    pitch: 45
  });

  map.addControl(new mapboxgl.Navigation())
  map.scrollZoom.disable()
  map.on('load', function(){
    el = document.createElement('div')
    el.className = 'block'
    el.style.backgroundImage = 'url(/map_icons/1.png)'
    el.style.width = '26px'
    el.style.height = '42px'
    var marker = new mapboxgl.Marker(el, {offset: [-13, -21]}).setLngLat([<%= @listing[:address][:longitude] %>, <%= @listing[:address][:latitude] %>]).addTo(map);
  });
})
</script>
<% end %>
<% end %>
