<%= content_for (:head) do %>
<script src="https://js.stripe.com/v2"></script>
<%= tag :meta, :name => "stripe-key", :content => ENV["stripe_public_key"] %>
<% end %>

<div id="payment-list" class="mt40 pt15 pr10 pb15 pl10">
  <div class="center mb20">
    <button class="btn btn-custom-primary btn-sm" data-toggle="modal" data-target="#new_credit_card_modal">Add credit card</button>
  </div>

  <% if @cards.blank? %>
  <p class="h4 center"><%= "Add a card" %></p>
  <% else %>
  <% @cards.each do |card| %>
  <span class="medias pull-right hidden-xs">
    <% if card.brand == "Visa" %>
    <%= render 'icons/visa_card' %>
    <% elsif card.brand == "MasterCard" %>
    <%= render 'icons/mastercard_card' %>
    <% elsif card.brand == "American Express" %>
    <%= render 'icons/amex_card' %>
    <% elsif card.brand == "Discover" %>
    <%= render 'icons/discover_card' %>
    <% else %>
    <i class="fa fa-credit-card fa-4x"></i>
    <% end %>
  </span>
  <div class="payment mb20">
    <div class="actions pull-right mr15">
      <% if @default_card == card.id %>
      <span class="fs12 color-primary mr20"><i class="fa fa-check fs10"></i> <%= "Default card" %></span>
      <% else %>
      <%= link_to "Make as default Card", credit_cards_default_path(card.id), :class=>"color-link fs12 medium mr20", :method=>:post %>
      <% end %>
      <%= link_to "Delete", credit_cards_delete_path(card.id), :class=>"color-link fs12 medium", :data=>{:confirm => "Are you sure?"}, :method => :delete %>
    </div>
    <span><%= card.name %> -</span> <small class="color-grey"><%= "ending with" %> <strong class="medium color-grey"><%= card.last4 %></strong></small>
  </div>
  <% end %>
  <% end %>
</div>



<div class="modal fade" id="new_credit_card_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          New credit card
        </h4>
      </div>
      <%= simple_form_for :credit_card, :url => credit_cards_new_path, :html=>{:id=>"stripeCardForm"}, :defaults => {:input_html=>{:class=>"form-control input-lg"}} do |f| %>
      <div class="modal-body">
        <div class="payment-errors alert alert-danger hide shake mt15"></div>

        <div class="row mt15">
          <div class="col-md-5 mb25">
            <%= f.input :name, :label => "Cardholder name", :input_html => {:data=>{:stripe=>"name"}}, :autofocus=>true %>
          </div>
          <div class="col-md-7 mb25">
            <%= f.input :card_number, :label => "Card number", :input_html => {:data=>{:stripe=>"number"}} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb15">
            <%= f.input :exp_month, :label => "Expiration month", :collection=>1..12, :prompt=> "Month", :input_html => {:data=>{:stripe=>"exp-month"}} %>
          </div>
          <div class="col-md-4 mb25">
            <%= f.input :exp_year, :label => "Expiration year", :collection => DateTime.now.year..(DateTime.now.year + 10), :prompt=> "Year", :input_html => {:data=>{:stripe=>"exp-year"}} %>
          </div>
          <div class="col-md-4 mb25">
            <%= f.input :cvc,:label => "CVV <small class='normal fs12'>1234</small>".html_safe, :input_html => {:data=>{:stripe=>"cvc"}} %>
          </div>
        </div>

        <%= f.input :stripeToken, :as=>"hidden" %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Add", :class => "btn btn-custom-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
