
<%= render  :layout => "devise/layout" do %>
<%= minimal_form_for(resource, as: resource_name, url: session_path(resource_name),:html =>{:class=>"pl35 pr35 mt80"}) do |f| %>
  <%= f.input_field :email, required: false, autofocus: true,placeholder: "Email",:class=>"" %>
  <%= f.input_field :password, required: false, placeholder: "Password", :class=>"" %>
  <div class="inline-block full-width">
    <div class="inline-block">
      <%= f.input_field :remember_me, :class=>"pull-left",:type=>"checkbox", :id=>"remember-me-chckbox" %>
      <label for="remember-me-chckbox" class="fs14 pull-left mt4 ml10 color-white">Remember me</label>
    </div>
    <%= link_to "Forgot your password?", new_password_path(resource_name),:class=>"underline fs10 pull-right color-white mt5" %>
  </div>
  <%= f.submit "Connect", class: "center-block button-primary fs20 uppercase bold pl45 pr45 mt25" %>
<% end %>
<% end %>
