<div class="container center pt20">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well well-sm pt20">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= link_to root_path do %>
              <%= image_tag("logo_myprint_large.png", size: "253x253", :class=>"img-responsive")%>
            <% end %>
          </div>
        </div>
        <hr>
        <%= minimal_form_for User.new, :url =>  user_session_path , :defaults => {:input_html => {:class=>"form-control input-lg"}}  do |f| %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <div class="a-right">
          <%= f.submit :class => "btn btn-lg btn-custom-primary", :value => t('app.sign_in') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
