<nav id="MyHeaderHeroNav" class="pb5 pt5">
  <div class="container pl15 pr15">
    <div  class="nav__front-menu dropdown pull-right mr20">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle color-dark" href="/" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" title="Menu"><i class="fa fa-gear ml5"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu">
            <li role="presentation" class="dropdown-header">Menu</li>
            <li><%= link_to t('app.home'), root_path %></li>
            <li><%= link_to "Morceaux", tracks_path %></li>
            <li><%= link_to "Playlists", playlists_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Mon compte", "/user/"+current_user.id.to_s %></li>
            <% if Rails.env.development? %><li><%= link_to "Mails Tester", "/rails/mailers",:target=>"_blank" %></li><% end %>
            <li><%= link_to t('app.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="list-inline mb0 ml20 a-left inline-block pull-left">
      <li><%= link_to  root_path ,:id=>"logo" do  %><%= image_tag "immosquare_logo_hd.png" %><% end %></li>
      <li><%= link_to "Teams", teams_path, :class => " btn btn-link #{['teams'].include?(controller_name) ? 'btn-custom-primary' : nil}" %></li>
      <li><%= link_to "Mes tâches", tasks_path, :class => " btn btn-link #{['tasks'].include?(controller_name) ? 'btn-custom-primary' : nil}" %></li>
    </ul>
  </div>
</nav>
