<% if flash.present? %>
<ul id="flashMessage" class="list-unstyled">
  <% flash.each do |name, msg| %>
  <% if msg.present? %>
  <% name = name == "alert" ? "danger" : (name == "notice" ? "info" : name) %>
    <li class=" mb3 mt3 alert alert-<%= name.blank? ? "info" : name %>">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <div id="<%= "flash_#{name}" %>">
        <% if msg.kind_of?(Array) %>
        <ul>
          <% msg.each do |m| %>
          <li><%= m.html_safe %></li>
          <% end %>
        </ul>
        <% else %>
        <%= msg.html_safe %>
        <% end %>
      </div>
    </li>
  <% end %>
  <% end %>
</ul>
<% end %>
