/*
*= require animate
*= require sweetalert
*= require chosen
*= require ion.rangeSlider
*= require ion.rangeSlider.skinFlat
*/





@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";

@import "base/*";
@import "provider";


$menuHeight: 50px;
$leftSideWitdth: 250px;
body.map{
  #appView{
    height: calc(100vh);
    width: 100%;
    overflow: hidden;
  }
  menu{
    height:$menuHeight;
  }
  #FilterAndMap{
    height: calc(100vh - #{$menuHeight});
    width: 100%;
    #leftSide{
      width: $leftSideWitdth;
      height: calc(100%);
      background: $light-grey;
      float: right;
      #resultCount{
        border-bottom: 1px solid $grey;
      }
      ul.resultList{
        overflow-x: auto;
        height: calc(100% - 40px);
        li{
          border-bottom: 1px solid $grey;
          .withBg{
            background: rgba(0, 0, 0, 0.53);
          }
          .thumb{
            width: 80px;
            height: 60px;
            background-color: $dark-grey;
            border:1px solid $grey;
          }
        }
      }
    }
    #MapContainer{
      height: calc(100%);
      width: calc(100% - #{$leftSideWitdth});
      background: $light-grey;
      float:left;
      #search-when-moved{box-shadow:0 0 15px rgba(0,0,0,.3);}
      #mapHere{
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .mapboxgl-popup{
      .mapboxgl-popup-content{
        padding: 0;
        width: $leftSideWitdth;
        #property-list{
          max-height:170px;
          overflow-y:auto;
          overflow-x: hidden;

          li{
            border-bottom: 1px solid $grey;
            .thumb{
              width: 80px;
              height: 60px;
              background-color: $dark-grey;
              border:1px solid $grey;
            }
          }
        }
      }
    }
  }
  /************************************************************************
  /* Bar de Menu
  *************************************************************************/
  #MyHeaderHeroNav{
    background: #fff;
    font-size:13px;
    border-bottom: 1px solid #dce0e0;
    #logo{
      max-height: 15px;
    }
    .navbar{background: white;}
    .navbar-toggle{padding:0; font-size:30px; border:0; margin:9px 20px 0 0;}
    .navbar-toggle:hover{background: transparent;}
    .navbar-toggle:focus{background: transparent;}
    .dropdown.open .dropdown-toggle{background:#F2F2F2;}
    .navbar-collapse{
      font-size:15px; background:#f9f9f9;
    }
    .user-profile-image {
      height: 30px;
      width: 30px;
      top: 10px;
      background-position: 50% 7px;
      border-color: #c4c4c4;
      position: relative;
      height: 30px;
      width: 30px;
      top: 15px;
      background-position: 50% 7px;
      border-color: #c4c4c4;
      img {
        vertical-align: top;
        border-radius: 50%;
        border: 2px solid #dce0e0;
      }
    }
    #searchFormFake{
      i{
        top:15px;
        left:10px;
      }
      input{
        height: 50px;
        width: 100%;
        border: 0;
        outline: 0;
      }
    }
    .comp{
      height: 50px;
      line-height: 50px;
      border-left: 1px solid #dce0e0;
      position: relative;
      a,.like_a{
        margin: 0 19px;
        display: block;
      }
      &:hover{
        background: #f5f5f5;
        a{
          color: $black;
        }
      }
      .drop-down-menu {
        border-box: border-box;
        position: absolute;
        z-index: 3001;
        top: 61px;
        left: auto;
        right: -1px;
        display: none;
        min-width: 277px;
        max-width: 460px;
        line-height: normal;
        -moz-border-radius: 0 0 2px 2px;
        -webkit-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        background: $white;
        border: 1px solid #DCE0E0;
        padding: 0px;
        a{
          padding:15px 10px;
          display:block;
          margin:0;
          &:hover{
            background:#F7F7F7;
            color:black;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
}

