<% Provider.all.each do |p| %>

//////////////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////////////
.color-<%= p.provider_id %>-primary{color:<%= p.color_1 %> !important;}
.color-<%= p.provider_id %>-secondary{color:<%= p.color_2 %> !important;}

//////////////////////////////////////////////////////////
// Backkground
//////////////////////////////////////////////////////////
.bg-<%= p.provider_id %>-primary{background: <%= p.color_1 %> !important}
.bg-<%= p.provider_id %>-secondary{background: <%= p.color_2 %> !important}


//////////////////////////////////////////////////////////
// Border
//////////////////////////////////////////////////////////
.border-<%= p.provider_id %>-primary{border-color:<%= p.color_1 %> !important;}
.border-<%= p.provider_id %>-secondary{border-color:<%= p.color_2 %> !important;}



//////////////////////////////////////////////////////////
//  Buttons
//////////////////////////////////////////////////////////
.btn-custom-primary-<%= p.provider_id %>{
  white-space: normal;
  color:$white !important;
  background-color: <%= p.color_1 %>;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  &:hover{
    color:lighten(<%= p.color_1 %>,45%);
    background-color: lighten(<%= p.color_1 %>, 5%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
    &.btn-slim{
      background: rgba(255,255,255,0.3) !important;
    }
  }
  &.withShadow{
    box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;
  }
  &.btn-slim{
    background: none !important;
  }
}

.btn-custom-secondary-<%= p.provider_id %> {
  color:$white !important;
  background-color: <%= p.color_2 %>;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken(<%= p.color_2 %>, 5%);
  &:hover{
    color:darken($white, 4%);
    background-color: lighten(<%= p.color_2 %>, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
    &.btn-slim{
      background: rgba(255,255,255,0.3) !important;
    }
  }
  &.withShadow{
    box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;
  }
  &.btn-slim{
    background: none !important;
  }

}

<% end %>
