body.dashboard{

 #properties{
  .property{
    border:1px solid $light-grey;
    display:inline-block;
    width:100%;
    .thumb{height:120px; width:120px; margin:-1px 0 -1px -1px; background-color:#eee;}
    .social-network{
      height:29px; width:29px; line-height:29px; text-align:center; margin-top:-1px; margin-right:-1px; transition:box-shadow .2s;
      &:hover{box-shadow:0 0 10px 100px rgba($white, .2) inset;}
      &:active{box-shadow:0 0 10px 100px rgba($black, .2) inset;}
    }
  }
}


#history-list{
  border-right:1px solid $light-grey;
  .history{
    border:1px solid $light-grey; display:inline-block; width:100%;
    .thumb{height:82px; width:81px; margin:-1px 0 -1px -1px; background-color:#eee;}
    .infos{
      width:calc(100% - 80px);
      .bottom{
        .social-network{height:26px; width:26px; line-height:26px; text-align:center; margin-top:-1px; margin-right:-1px;}
      }
    }
  }
}


textarea, input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
  border-radius:3px;
  border:1px solid $grey;
  width:100%;
  resize:none;
  transition:border .2s;
  will-change:border;
  padding:0 15px;
  background:white;
  box-shadow:0 0 0;
  font-size:12px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  &:focus{
    outline:none;
    box-shadow:0 0 0;
    border-color:rgba($secondary, .5);
  }
}
input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
  height:40px; padding:0 15px;
  &.small-input{height:30px; font-size:12px; padding:0 10px;}
}
textarea{padding:10px 15px;}
select{
  appearance:none; -moz-appearance:none; -webkit-appearance:none; background-image:image-url('select-dropdown.svg'); background-repeat:no-repeat; background-position:center right; padding-right:40px; box-shadow:0 0 0; line-height:30px;
  &:hover{cursor:pointer;}
}
.inline-checkbox{
  position:relative;
  input[type=checkbox], input[type=radio]{display:inline-block; position:absolute; top:9px; left:15px;}
  input[type=checkbox]{width:10px; height:10px; top:11px;}
  label{
    padding:9px 15px; @extend .normal; font-size:14px; color:$grey; border:1px solid $light-grey; border-radius:3px; cursor:pointer; padding-left:40px; margin:0;
    .medias{
      float:right; margin-right:-13px; margin-bottom:-5px;
      svg{
        display:inline-block; max-height:30px; margin:-5px 2px;
      }
    }
  }
  input[type=checkbox]:checked + label, input[type=radio]:checked + label{
    border-color:rgba($secondary, .5); color:$secondary !important;
    *{color:$secondary !important;}
  }
}
input[type=checkbox], input[type=radio]{cursor:pointer; outline:none !important; margin:0;}
}

