<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if  mode == 1 %>
        <li class="<%= "#{ current == 1 ? 'active' : nil}"  %>"><%= link_to t('app.my_account'), dashboard_profile_path %></li>
        <li class="<%= "#{ current == 2 ? 'active' : nil}" %>"><%= link_to t('app.payment_methods'), dashboard_cards_path %></li>
        <li class="<%= "#{ current == 3 ? 'active' : nil}" %>"><%= link_to t('billing.my_billings'), dashboard_billing_path %></li>
        <!-- <li class="<%#= "#{ current == 4 ? 'active' : nil}" %>"><%#= link_to t('team.delegates'), dashboard_team_path %></li> -->
        <% elsif mode == 2 %>
        <li class="<%= "#{ action_name == "index" ? 'active' : nil}"  %>"><%= link_to t('app.all'),dashboard_path %></li>
        <li class="<%= "#{ action_name == "plans" ? 'active' : nil}"  %>"><%= link_to t('app.subscriptions'),dashboard_plans_path %></li>
        <li class="<%= "#{ action_name == "tokens" ? 'active' : nil}" %>"><%= link_to t('app.tokens'),dashboard_tokens_path %></li>
        <li class="<%= "#{ action_name == "purchases" ? 'active' : nil}" %>"><%= link_to t('app.purchases'),dashboard_purchases_path %></li>
        <li class="<%= "#{ action_name == "old_authorizations" ? 'active' : nil}" %>"><%= link_to t('app.inactifs'),dashboard_old_authorizations_path %></li>
        <% elsif mode == 3 %>
        <li class="<%= "#{ current == 1 ? 'active' : nil}"  %>"><%= link_to t('app.gateways'), dashboard_gateway_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
