<% @title_for_layout = @brand = t('app.billings') %>
<%= render 'layouts/generic_meta' %>


<%= render 'dashboard/header', :current => 3, :mode => 1 %>

<div class="container mt35">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% @grouped_bills.each do |month, bills| %>
      <div class="bAll border-grey br3 pl20 pr20 pb10 pt10 inline-block full-width mb20 bg-white" id="payment-list">
        <h2 class="fs18 medium color-black">
          <%= month %>
        </h2>
        <hr class="mt20 mb0">
        <div class="orders-list row">
          <% bills.each do |bill| %>
          <div class="order inline-block full-width pt15 pb15">
            <div class="col-xs-6 col-sm-offset-1 mt10">
              <h3 class="fs14 normal color-dark-grey"><%= t('billing.bill') %> <strong>#<%= bill.id %></strong> <%= t('billing.order_placed_the') %> <%= bill.date.strftime("%d/%m/%Y") %></h3>
              <ul class="list-unstyled ml15">
                <% bill.items_data.each do |item| %>
                <li class="fs11">
                  <%= "#{item["product_name"]} #{item["pricing_name"]}" %>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="col-xs-5 text-right mt10">
              <h4 class="fs18 medium color-primary mt-5"><%= humanized_money_with_symbol bill.total_price %></h4>
              <%= link_to(t("billing.download_bill_pdf").downcase, dashboard_redirect_to_bill_path(bill.id), :target => "_blank", :class=>"color-link medium fs12") %>
            </div>
          </div>
          <hr class="mt0 mb0 ml15 mr15">
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
