<% @title_for_layout = @brand = t('app.gateways') %>
<%= render 'layouts/generic_meta' %>
<%= render 'dashboard/header', :mode => 3, :current => 1 %>

<div class="container mt35">

  <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt10 inline-block full-width" id="payment-list">
    <button type="button" class="btn btn-custom-primary btn-sm pull-right" data-toggle="modal" data-target="#gatewayModalNew"><%= t('app.add') %></button>
    <h2 class="fs18 medium color-black"><%= t('app.gateways') %></h2>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-valign-middle mt30">
        <thead>
          <tr>
            <th><%= t('app.gateway') %></th>
            <th><%= t('app.username') %></th>
            <th><%= t('app.password') %></th>
            <th><%= t('app.last_sync') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @gateways.each do |activation| %>
          <tr>
            <td><%= activation.gateway.name %></td>
            <td><%= activation.username %></td>
            <td><%= "*"*activation.password.length %></td>
            <td>
              <% track = activation.import_trackings.last %>
              <% if track.present? %>
              <%= I18n.l track.date, :format =>("%d %b %Y %H:%M") %><br>
              <small><%= "#{track.nb_success} propriétés importées avec succès, #{track.nb_error} erreurs" %></small>
              <% end %>
            </td>
            <td>
              <ul class="list-inline mb0">
                <li><button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#<%= "gatewayModal_#{activation.id}" %>"><%= t('app.edit') %></button></li>
                <li><%= link_to t('app.delete'), dashboard_gateway_delete_path(activation), :method => :delete, :data=>{:confirm =>t('app.are_you_sure')}, :class=>"color-link fs12" %></li>
                <li><%= link_to t('app.sync'), dashboard_gateway_sync_path(activation), :class=>"color-link fs12", :onclick => "spin(true);" %></li>
              </ul>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





<%# Modal New %>
<div class="modal fade" id="gatewayModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog z-index-1000 modal-lg" role="document">
    <%= simple_form_for GatewayActivation.new , :url => dashboard_gateway_create_path, :remote => true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('app.gateway') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :store_id, :input_html => {:value => @store.id},:as => :hidden %>
        <%= f.input :client_id, :input_html => {:value => current_client.id},:as => :hidden %>
        <%= f.input :gateway_id, :collection => @store.gateways, :include_blank => false, :label => false %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :username %>
          </div>
          <div class="col-sm-6">
            <%= f.input :password %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%# Modal Edit %>
<% @gateways.each do |activation| %>
<div class="modal fade" id="<%= "gatewayModal_#{activation.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog z-index-1000 modal-lg" role="document">
    <%= simple_form_for activation , :url => dashboard_gateway_update_path(activation), :remote => true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('app.gateway') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :store_id, :input_html => {:value => @store.id},:as => :hidden %>
        <%= f.input :client_id, :input_html => {:value => current_client.id},:as => :hidden %>
        <%= f.input :gateway_id, :collection => @store.gateways, :include_blank => false, :label => false %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :username %>
          </div>
          <div class="col-sm-6">
            <%= f.input :password, :input_html => {:value => activation.password} %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
