<% @title_for_layout = @brand = t('app.dashboard') %>
<%= render 'layouts/generic_meta' %>

<%= render 'dashboard/header', :mode => 2 %>

<div class="container mt35 mb50">

  <div class="table-responsive bg-white">
    <table class="table table-condensed table-striped table-bordered sortable mb0">
      <thead>
        <tr>
          <th><%= t('app.name') %></th>
          <th><%= t('app.description') %></th>
          <th><%= "Échéance" %></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @authorizations.each do |auth| %>
        <tr id="<%= "auth_#{auth.id}" %>">
          <td class="center">
            <div><%= image_tag auth.pricing.product.logo_app.url(:small), :style => "width:100px;" %></div>
            <div><%= link_to auth.pricing.product.name, product_show_path(auth.pricing.product.id), :class=> "color-link h5", :target=>"_blank" %></div>
          </td>
          <td>
            <div><%= auth.pricing.name %></div>
            <% if auth.pricing.is_a_plan? %>
            <small><%= "(#{t('app.subscription')})"%></small><br>
            <small><%= "#{auth.item_data["total_price_formatted"]} #{auth.mode == "plan_month" ? t('app.per_month') : t('app.per_year')}" %></small>
            <% elsif auth.item_data["mode"] == "purchase" %>
            <%= auth.item_data["total_price_formatted"] %>
            <% end %>
            <% if action_name == "purchases" %>
            <div>Quantité : <%= auth.item_data["quantity"] %></div>
            <% end %>
            <div>
              <% if auth.extras.present? %>
              <ul class="list-unstyled mb0">
                <% auth.extras.each do |extra| %>
                <li><%= extra['name'] %></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </td>
          <td>
            <% if auth.pricing.is_a_plan? %>
            <% if auth.is_active? %>
            <%= "<small>#{t('app.renewal')} : #{I18n.localize(auth.next_bill_date, :format =>("%d %b %Y"))} </small>".html_safe if auth.next_bill_date.present? %>
            <%= link_to t('app.cancel'), dashboard_cancel_path(auth.id), :class=>"btn btn-xs btn-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} if auth.is_active? %>
            <% else %>
            <%= "#{t("authorizations.inactive_since")} #{I18n.localize(auth.inactive_date,  :format =>("%d %b %Y"))}" %>
            <% end %>
            <% elsif auth.item_data["mode"] == "tokens" %>
            <%= "<small>#{t('app.tokens')} : #{ t('authorizations.remaining', :count => auth.tokens)}</small>".html_safe %>
            <%= link_to t('app.refill'), dashboard_checkout_edit_path(:pricing_id => auth.item_data["pricing_id"]), :remote => true, :class => "btn btn-xs btn-link" %>
            <%= auth.limit_date.present? ? "#{I18n.localize(auth.limit_date, :format =>("%d %b %Y"))} <small>(#{t('app.expiration')})</small>".html_safe : nil %>

            <% end %>
          </td>
          <td>
            <% if auth.is_active? && auth.company.present? && auth.pricing.product.oauth_link.present? %>
            <%= link_to t('app.use'), "#{auth.pricing.product.oauth_link}?sku=#{auth.pricing.sku}&client=#{current_client.id}" , :class=>"btn btn-sm btn-primary pr10 pl10 pull-left mb10 mr10", :target => "_blank" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>








<div id="prices_container">
  <div id="modal_refill" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog mt80">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t("dashboard.authorization.refill_modal_title") %></h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>


