<% @title_for_layout = @brand = t('app.profile') %>
<%= render 'layouts/generic_meta' %>

<%= render 'dashboard/header', :current => 1, :mode => 1 %>

<div class="container mt35">
  <section class="row">
    <%= simple_form_for @profile, :url => dashboard_profile_update_path(@profile),:defaults =>{:input_html => {:class=>"input-lg"}} do |f| %>


    <div class="col-md-10 col-md-offset-1">
      <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt25  mb30 inline-block full-width">
        <h2 class="fs18 medium color-black"><%= t('user.billing_address') %></h2>
        <hr class="mt20 mb20">
        <div class="row row-10">
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.company_name') %></h5>
            <%= f.input_field :company_name %>
          </div>
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.company_email') %></h5>
            <%= f.input_field :company_email %>
          </div>
        </div>
        <div class="row row-10 mt20">
          <div class="col-md-12 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.address') %></h5>
            <%= f.input_field :billing_address_address1 %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-12 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= "#{t('user.apt_bat_suit')} (#{t('user.optional').downcase})" %></h5>
            <%= f.input_field :billing_address_address2 %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-4 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.country') %></h5>
            <%= f.input_field :billing_address_country, :prompt=>t('app.choose') %>
          </div>
          <div class="col-md-4 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.city') %></h5>
            <%= f.input_field :billing_address_city %>
          </div>
          <div class="col-md-2 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.region') %></h5>
            <%= f.input_field :billing_address_province %>
          </div>
          <div class="col-md-2 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.postal_code') %></h5>
            <%= f.input_field :billing_address_zipcode %>
          </div>
        </div>
        <h3 class="mt20 color-primary medium fs14"><%= t('user.delivery_address') %></h3>
        <div class="inline-checkbox mb10">
          <%= f.input :shipping_same_as_billing, :required => false, :label_html => {:class => "full-width"}, :label => t("user.same_as_billing"), :as => :boolean, :input_html => {:checked => @profile.shipping_same_as_billing == 1, :class => "mt4"}, :boolean_style => :inline %>
        </div>
        <div class="row row-10 other_shipping_address" style="<%= @profile.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
          <div class="col-md-12 mb10">
            <%= f.input :shipping_address_address1, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.address") %>
          </div>
        </div>
        <div class="row row-10 other_shipping_address" style="<%= @profile.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
          <div class="col-md-12 mb10">
            <%= f.input :shipping_address_address2, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => "#{t('user.apt_bat_suit')} (#{t('user.optional').downcase})" %>
          </div>
        </div>
        <div class="row row-10 other_shipping_address" style="<%= @profile.shipping_same_as_billing == 1 ? 'display:none;' : nil %>">
          <div class="col-md-4 mb10">
            <%= f.input :shipping_address_country, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.country"), :prompt=>t('app.choose') %>
          </div>
          <div class="col-md-4 mb10">
            <%= f.input :shipping_address_city, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.city") %>
          </div>
          <div class="col-md-2 mb10">
            <%= f.input :shipping_address_province, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.region") %>
          </div>
          <div class="col-md-2 mb10">
            <%= f.input :shipping_address_zipcode, :required => false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.postal_code") %>
          </div>
        </div>
        <hr class="mt20 mb20">
        <div class="row row-10">
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10 inline-block"><%= t('connect_register.password') %></h5>
            <%= link_to t('user.change_password'), edit_client_registration_path, :class=>"modify-password medium color-link fs12 pull-right mt3" %>
            <input class="fs24" type="password" placeholder="·······" disabled>
          </div>
        </div>
        <%= f.submit :class => "btn-primary pt10 pb10 pl25 pr25 pull-right fs16", :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </section>
</div>
