<% @title_for_layout = @brand = t('app.team.index') %>
<%= render 'layouts/generic_meta' %>

<%= render 'dashboard/header_account', :current => 4 %>

<div class="container mt35">
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <%#= render 'layouts/user_card', :editable=>false %>
    </div>

    <div class="col-md-9">
      <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt25 inline-block full-width" id="payment-list">
        <h2 class="fs18 medium color-black"><%= t('team.my_delegates') %></h2>
        <div class="mt20 ml-20 mr-20 infobulle br0 fs12">
          <%= t('team.tagline').html_safe %>
        </div>
        <div class="delegates-list">
          <% if @team.team_members.size > 1 %>
          <% @team.team_members.each do |member| %>
          <div class="delegate inline-block full-width pt25 pb15">
            <div class="pull-left">
              <h3 class="fs14 normal color-dark-grey medium"><%= member.client.email %></h3>
              <div>
                <%= link_to t('app.delete').downcase, dashboard_team_member_delete_path(member.id), :class=>"color-red medium fs12",:method => :delete,:data => {:confirm => t('app.are_you_sure')} %>
                <%= link_to t('team.resend_link').downcase, dashboard_team_member_resend_path(member.id), :class=>"color-link medium fs12 ml15" if member.status == 0 %>
              </div>
            </div>
            <div class="pull-right text-right mt5">
              <span class="color-grey <%= member.status == 1 ? "color-green" : "color-grey"  %> fs12"><%=  member.status == 1 ? t('app.validated').downcase : t('team.waiting_for_validation').downcase %></span>
            </div>
          </div>
          <hr class="mt0 mb0">
          <% end %>
          <% else %>
            <span class="color-grey fs12 mt15 inline-block"><%= t('team.no_delegates_yet') %></span>
          <% end %>
        </div>
        <div id="my_team_member_form_container" class="new-delegate hide">
          <hr class="mt15 mb30">
          <h3 class="color-primary fs16 mb15 medium"><%= t('team.new_delegate') %></h3>
          <%= minimal_form_for TeamMember.new, :url => dashboard_team_member_create_path ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
          <%= f.input :emails,:input_html => { :placeholder => t('team.enter_email_destination'),:data => { :error1 => t('app.team.error1'),:error2 => t('app.team.error2')}}, :autofocus=>true %>
          <%= f.input :emails_to_add_to_team, :as => "hidden" %>
          <div id="teamMessage" class="color-red"></div>
          <ul id="teamMemberPending" class="list-inline"></ul>
          <%= f.submit :class => "btn-primary pt10 pb10 pl25 pr25 fs16 mt10 pull-right", :value => t('app.send') %>
          <% end %>
        </div>
        <button class="add-new-delegate pt10 pb10 pl25 pr25 pull-right fs16 mt10 btn-primary"><%= t('team.add_delegate') %></button>
      </div>

      <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt20 inline-block full-width mt50 mb50" id="payment-list">
        <h2 class="fs14 normal color-dark-grey"><%= t('team.im_delegate_of') %></h2>
        <hr class="mt15 mb0">
        <div class="delegates-list">
          <% if current_client.teams.size > 1 %>
            <% current_client.teams.each do |team| %>
              <div class="delegate inline-block full-width pt25 pb15">
                <div class="pull-left">
                  <h3 class="fs14 normal color-dark-grey medium"><%= team.client.email %></h3>
                  <!-- <div><a href="#" class="color-red medium fs12"><%#= t('app.delete') %></a></div> -->
                </div>
                <div class="pull-right text-right mt5">
                  <span class="color-green fs12"><%= t('app.validated') %></span>
                </div>
              </div>
              <hr class="mt0 mb0">
            <% end %>
          <% else %>
            <span class="color-grey fs12 mt15 inline-block"><%= t('team.not_delegate_yet') %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<% member = Array.new %>
<% member << (current_client.email) %>
<% @team.team_members.each { |m| member << m.client.email } if @team.team_members.present? %>
<%= javascript_tag do %>
window.team_members     = <%= raw member.to_json %>
window.emails_to_add_to_team   = <%= raw Array.new.to_json %>
<% end %>


