<section class="mt40">
  <%= minimal_form_for(current_user, url: update_password_user_path, :defaults => {:input_html=>{:class=>"form-control input-lg"}}) do |f| %>
  <div class="form-inputs">
    <center class="mt30 mb30"><%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email" %></center>
    <center class="mt30 mb30"><%= f.input :current_password, required: true, label: false, placeholder: "Current Password" %></center>
    <br>
    <center class="mb30"><%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: "New Password" %></center>
    <center class="mb30"><%= f.input :password_confirmation, required: false, label: false, placeholder: "New Password confirmation" %></center>
  </div>
  <%= f.submit "Update", class: "center-block button-primary fs20 uppercase bold pl45 pr45 mt25" %>
  <% end %>
</section>

