iframe#myYoutubeIframe{
  z-index: 1;
}
#ytIframeOverlay{
  #layer-image{
    top:0;
    position:absolute;
    width:100%;
    height: 100%;
    z-index: 10;
  }
  #layer-play{
    position:absolute; width:100%; top:0; height: 100%; z-index: 10; background: rgba(0,0,0,0.6); display: flex; justify-content: center; align-items: center; color: white;
    .wrapper{line-height:0;}
    #play_video_start{
      height:65px; width:65px; line-height:70px; text-align:center; border:3px solid white; border-radius:100%; margin:0 auto; background:rgba($white, .1);
      i{font-size:30px; padding-left:5px;}
      &:hover{background:rgba($white, .2);}
    }
    .more-infos{
      background:rgba($white, .1); border-radius:2px; padding:5px 10px;
      &:hover{background:rgba($white, .2);}
    }
  }
  #layer-top{
    position:absolute; width:100%; height:40px; line-height:40px; background-color: rgba(0,0,0,.5); color: white; z-index: 100; font-size:14px; margin-top:0 !important;
    .contact-advertiser{
      background:#34495e;
      &:hover{box-shadow:0 0 20px 100px rgba($white,.1) inset;}
    }
    .scroll-left{
      position:relative; height:40px; overflow:hidden;
      div {position: absolute; width:100%; height: 100%; margin: 0; line-height: 40px; text-align: center;
        /* Starting position */
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);  
        transform:translateX(100%);
        /* Apply animation to this element */  
        -moz-animation: scroll-left 15s linear infinite;
        -webkit-animation: scroll-left 15s linear infinite;
        animation: scroll-left 15s linear infinite;
        span{
          font-weight:bold; padding:1px 11px 2px 15px; border-right:2px solid white;
          &:first-child{padding-left:0;}
          &:last-child{padding-right:0; border-right:0;}
        }
      }
    }
  }
  #layer-bottom{
    position:absolute; width:100%; height: 100%; background-color: rgba(0,0,0, .8); color: black; z-index: 100;
    .info-section{
      .image{height:90px; width:70px; border-radius:4px; background-color:white;}
      h2{font-size:18px;}
      h3{font-size:14px;}
      a{
        padding:3px 5px; border-radius:2px; background:rgba($white, .1); @extend .transition;
        &:hover{background:rgba($white, .2);}
      }
    }

    .form{
      width:550px; max-width:100% !important; padding:0 15px; margin:0 auto;
      h2{font-size:14px;}
      input[type=email]{height:35px; line-height:35px; background:rgba(0,0,0,.6); width:100%; border-radius:4px 4px 0 0; padding-left:10px; border:0; outline:0 !important; color:white;}
      textarea{height:120px; width:100%; background:rgba(0,0,0,.6); border-radius:0 0 4px 4px; padding-left:10px; border:0; outline:0 !important; resize:none; color:white;}
      input[type=submit]{
        background:rgba($white, .1); color:white; border:0; @extend .transition; border-radius:2px; outline:none !important;
        &:hover{background:rgba($white, .2);}
      }
    }

    .more-infos{
      background:rgba($white, .1); border-radius:2px; padding:5px 10px;
      &:hover{background:rgba($white, .2);}
    }
  }

  .clear{clear:both;}
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%); 
 }
}

// 
// RESPONSIVE
// 
@media (min-width: 768px) {
  #ytIframeOverlay{
    #layer-image{
      .wrapper{margin-top:-100px;}
    }
    #layer-bottom{
      .form{
        textarea{}
      }
    }
  }
}
@media (max-width: 550px) {
  #ytIframeOverlay{
    #layer-bottom{
      .form{
        textarea{height:70px;}
      }
    }
  }
}