<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div class="container">
    <p><%= t("mailer.confirmation_order.intro") %></p>
    <p><%= t("mailer.confirmation_order.infos") %></p>

    <ul>
      <li>
        <%= "#{t("mailer.confirmation_order.reference")}: #{@pixis_order.emmobilier_order_id}" %>
      </li>
      <li>
        <%= "#{t("mailer.confirmation_order.property")}: #{@pixis_order.reference_number}" %>
      </li>
      <li>
        <%= "#{t("mailer.confirmation_order.date")}: #{I18n.localize(@pixis_order.created_at.to_time, :format=>("%d %b %Y"))}" %>
      </li>
      <li>
        <%= "#{t("mailer.confirmation_order.cost")}: #{t("app.tokens_c", :count => @pixis_order.token)}" %>
      </li>
    </ul>
  </div>
</body>
</html>