<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url => session_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<%= f.input :login,:label=>false,:placeholder=>t('app.username_email'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.input :password,:label=>false,:placeholder=> t('app.password'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<%= f.submit t('app.sign_in'), :class => "btn-block btn-lg lastElement #{custom_button_class}" %>
<% if devise_mapping.rememberable? %>
<%= f.input :remember_me,:as =>"boolean",:wrapper_html  =>{:class=>'mb0'},:label_html  =>{:class=>'mb0 mt0'},:label=>("<span class='ml5 good_color'>Se souvenir</span>").html_safe,:input_html=>{:class=>'mt30'}%>
<% end %>
<%= render 'devise/shared/links' unless @my_provider.provider_id == "kangalou" %>
<% end %>
<% end %>
