<% @title_for_layout = 'Dashboard' %>
<%= render 'layouts/partials/generic_meta' %>


<%= debug @httparty.body %>

<%= form_for_filterrific @filterrific do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>API</label>
      <%= f.select :by_api,ApiProvider.order('LOWER(name)').map { |e| [e.name, e.id] },{ :include_blank => '- Tous -' },{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<% end %>

<%= link_to "(vider)", reset_filterrific_url%>
<%= render_filterrific_spinner%>

<table  class="table table-condensed table-bordered bg-white">
  <thead>
    <tr class="active">
      <th>ID</th>
      <th>API</th>
      <th>Ads Count</th>
      <th>Jour</th>
      <th>Heure</th>
    </tr>
  </thead>
  <tbody id="resultTable">
    <%= render :partial => 'monitoring/api', :locals => { :scraps => @scraps } %>
  </tbody>
</table>
