<% @title_for_layout = 'Depot' %>
<% @description_for_layout = 'Zone de depot' %>
<% @canonical_for_layout = root_url(:subdomain=>'depot') %>
<% @noindex_for_layout= true %>
<%= render 'layouts/partials/generic_meta' %>


<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<% end %>


<div class="row mt50 center">
<%= image_tag 'shareimmo_logo.png',:width=>400 %>
<h1>developer();</h1>
</div>
