<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name, :url => password_path(resource_name),:defaults => { :input_html => {autocomplete: 'on', :class => 'form-control input-lg'}}, :html => { :method => :put }) do |f| %>
<h3 class="bold center mb20 mt15">Change my password</h3>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.error_notification %>
    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>
    <%= f.input :password, :label => false,:placeholder=> 'New password', :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
    <%= f.submit 'Change my password', :class => "btn-block btn-lg lastElement #{custom_button_class}" %>
  </div>
</div>
<% end %>
<% end %>

