<%= render :layout => 'devise/layout' do %>
<%= minimal_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },:defaults =>{:input_html=>{:class=>"input-lg"}}) do |f| %>
<%= f.error_notification %>
<%= f.input :email, required: true, autofocus: true %>
<%= f.submit :class => "btn btn-lg btn-block btn-custom-primary", :value => t('app.reset_password') %>
<% end %>
<%= render "devise/shared/links" %>
<% end %>




