$("body.pixis_orders.new").ready ->

	##============================================================##
	## Init
	##============================================================##
	$('.confirm_tokens').attr('disabled', 'disabled')
	cost = 3
	sum = 0
	icon = "magic"
	confirm_text = $('.confirm_tokens').val()
	$('div.cursor_option').awesomeCursor icon

	$('.slider').slider({ showInstruction:false })

	##============================================================##
	## Manage clicks on options
	##============================================================##
	$("span.option-btn").on 'click', (e) ->
		$("span.option-btn").removeClass("active")
		$(@).addClass("active")
		cost = $(@).data("cost")
		icon = $(@).data("icon")
		$('div.cursor_option').awesomeCursor icon

		# change example
		if cost == 1
			$("#left_example").attr("src", "http://emmobilier.fr/wp-content/uploads/2016/07/IMG_1442-1.jpg")
			$("#right_example").attr("src", "http://emmobilier.fr/wp-content/uploads/2016/07/Cuisine-Finale.jpg")
		else
			$("#left_example").attr("src", "http://emmobilier.fr/wp-content/uploads/2016/07/IMG_8989.jpg")
			$("#right_example").attr("src", "http://emmobilier.fr/wp-content/uploads/2016/07/Chambre-Finale.jpg")

	##============================================================##
	## Manage clicks on images
	##============================================================##
	$("li.image-ad").on 'click', 'img', (e) ->
		if icon != "" && cost > 0
			# display selected option on image
			$(@).parent().find("div.selected_option").html("<i class='fa fa-lg fa-"+icon+"' aria-hidden='true'></i>").show()
			$(@).parent().find("div.remove_option").show()

			# select corresponding input (to get it in the form params)
			$(@).parent().find(".input_option option[data-tokens='"+cost+"']").prop('selected', true)

			# update token cost
			sum = sum - parseInt($(@).parent().data("oldcost")) + cost
			$(@).parent().data("oldcost", cost)
			update_tokens(sum)

	$("li.image-ad").on 'click', '.remove_option', (e) ->
			# hide selected option on image
			$(@).parent().find("div.selected_option").hide()
			$(@).hide()

			# select corresponding input (to get it in the form params)
			$(@).parent().find(".input_option option[data-tokens='0']").prop('selected', true)

			# update token cost
			sum = sum - parseInt($(@).parent().data("oldcost"))
			$(@).parent().data("oldcost", 0)
			update_tokens(sum)

	##============================================================##
	## Functions
	##============================================================##
	update_tokens = (sum) ->
		$('.confirm_tokens').val(confirm_text + ": " + sum + " <%= I18n.t('app.tokens') %>")
		$("#pixis_order_token").val(sum)
		if sum > 0
			$('.confirm_tokens').attr('disabled', false)
		else
			$('.confirm_tokens').attr('disabled', 'disabled')