@charset "UTF-8";
/*NEWS TAGS HMTL5*/
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

img {-webkit-user-drag: none;}


/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important;}
.h_100_oour_100{height:100% !important;}
.full-width{width:100% !important;}
.full-height{height:100% !important;}
.bg-cover{
  background-size:cover;
  background-position: center center;
}
.centered-content{display:flex; justify-content:center; align-items:center;}
.filigrane{background:rgba(0,0,0,.5);}
.lighter{font-weight:100;}
.transition{transition:all .2s;}

.opacity-0{opacity:0;}
.opacity-1{opacity:1;}


.absolute-top-left{top:0;left:0;}
.absolute-top-right{top:0;right:0;}
.absolute-bottom-left{bottom:0;left:0;}
.absolute-bottom-right{bottom:0;right:0;}
.z-index-1000{z-index:1000;}
.z-index-10000{z-index:10000;}


.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}


/* --- */
ul.no-margin{margin:0;}
/* --- */
.bold{font-weight:bold;}
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left !important;}
.a-right{text-align:right !important;}
.f-left{float:left !important;}
.f-right{float:right !important;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.block{display: block;}
.flex{display: flex;}
.flex_1{flex:1;}
.align-items{align-items:center}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
.no-border{border:none !important}
.no-border-radius{border-radius:0 !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
table.table-no-bordered td{border-top:none !important}
.valignTop{vertical-align: top !important;}
.valignMiddle{vertical-align: middle !important;}
.borderTopNone{border-top:none !important;}
.border-dotted{border-style: border-dotted}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Bootstrap overwrite */
.img-responsive{display: inline-block;}
.btn{
  @include border-radius(2px);
  &.btn-default{
    &:hover{
      background:#FFF;
      color:$primary;
      border-color:#ccc;
    }
  }
}
.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$grey;
    }
    &.active{
      span{
        border-color:darken($grey,10%);
        background: $grey;
      }
    }
  }
}


h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0}

/* COLOR */
a{
  color:#444444;
  &:hover{
    color:darken(#444444,10%);
    text-decoration:none;
  }
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:$white !important;
}


.colorPrimary{color:$primary;}
.color-primary{color:$primary !important;}
.color-secondary{color:$secondary !important;}
.color-link{color:$color-link !important;}




.color-warning{color:#8a6d3b}
.color-white{color:$white !important;}
.color-black{color:$black !important;}
.color-green{color:$green !important;}
.color-red{color:$red !important;}
.color-dark-grey{color:$dark-grey !important;}
.color-gold{color:$gold !important;}
.color-light-grey{color:$light-grey !important;}
.color-grey{color:$grey !important;}









//////////////////////////////////////////////////////////
//  LISTGLOBALLY
//////////////////////////////////////////////////////////
///////COLOR
.color-listglobally{color:$listglobally !important;}
///////BORDER
.border-listglobally{border-color:$listglobally !important;}
///////BACKGROUND
.bg-listglobally{background:$listglobally}


//////////////////////////////////////////////////////////
//  MAGEX
//////////////////////////////////////////////////////////
///////COLOR
.color-magex{color:$magex !important;}
///////BORDER
.border-magex{border-color:$magex !important;}
///////BACKGROUND
.bg-magex{background:$magex !important;}


//////////////////////////////////////////////////////////
//  KIJIJI
//////////////////////////////////////////////////////////
///////COLOR
.color-kijiji{color:$kijiji !important;}
///////BORDER
.border-kijiji{border-color:$kijiji !important;}
///////BACKGROUND
.bg-kijiji{background:$kijiji !important;}




//////////////////////////////////////////////////////////
//  SOLIHOME
//////////////////////////////////////////////////////////
///////COLOR
.color-solihome{color:$solihome !important;}
///////BORDER
.border-solihome{border-color:$solihome !important;}
///////BACKGROUND
.bg-solihome{background:$solihome !important;}


//////////////////////////////////////////////////////////
//  CRAIGLIST
//////////////////////////////////////////////////////////
///////COLOR
.color-craigslist{color:$craigslist !important;}
///////BORDER
.border-craigslist{border-color:$craigslist !important;}
///////BACKGROUND
.bg-craigslist{background:$craigslist !important;}


//////////////////////////////////////////////////////////
//  LESPAC
//////////////////////////////////////////////////////////
///////COLOR
.color-lespac{color:$lespac !important;}
///////BORDER
.border-lespac{border-color:$lespac !important;}
///////BACKGROUND
.bg-lespac{background:$lespac !important;}





//////////////////////////////////////////////////////////
//  PRESTIGE
//////////////////////////////////////////////////////////
///////COLOR
.color-prestige{color:$prestige !important;}
///////BORDER
.border-prestige{border-color:$prestige !important;}
///////BACKGROUND
.bg-prestige{background:$prestige !important;}


//////////////////////////////////////////////////////////
//  ATHOME
//////////////////////////////////////////////////////////
///////COLOR
.color-athome{color:$athome !important;}
///////BORDER
.border-athome{border-color:$athome !important;}
///////BACKGROUND
.bg-athome{background:$athome !important;}


//////////////////////////////////////////////////////////
//  IMMOTOP
//////////////////////////////////////////////////////////
///////COLOR
.color-immotop{color:$immotop !important;}
///////BORDER
.border-immotop{border-color:$immotop !important;}
///////BACKGROUND
.bg-immotop{background:$immotop !important;}


//////////////////////////////////////////////////////////
//  WORTIMMO
//////////////////////////////////////////////////////////
///////COLOR
.color-wortimmo{color:$wortimmo !important;}
///////BORDER
.border-wortimmo{border-color:$wortimmo !important;}
///////BACKGROUND
.bg-wortimmo{background:$wortimmo !important;}


//////////////////////////////////////////////////////////
//  HABITER_LU
//////////////////////////////////////////////////////////
///////COLOR
.color-habiter_lu{color:$habiter_lu !important;}
///////BORDER
.border-habiter_lu{border-color:$habiter_lu !important;}
///////BACKGROUND
.bg-habiter_lu{background:$habiter_lu !important;}


//////////////////////////////////////////////////////////
//  ISQUARE
//////////////////////////////////////////////////////////
///////COLOR
.color-isquare{color:$isquare !important;}
///////BORDER
.border-isquare{border-color:$isquare !important;}
///////BACKGROUND
.bg-isquare{background:$isquare !important;}


//////////////////////////////////////////////////////////
//  TWITTER
//////////////////////////////////////////////////////////
///////COLOR
.color-twitter{color:$twitter !important;}
///////BORDER
.border-twitter{border-color:$twitter !important;}
///////BACKGROUND
.bg-twitter{background:$twitter !important;}


//////////////////////////////////////////////////////////
//  FACEBOOK
//////////////////////////////////////////////////////////
///////COLOR
.color-facebook{color:$facebook !important;}
///////BORDER
.border-facebook{border-color:$facebook !important;}
///////BACKGROUND
.bg-facebook{background:$facebook !important;}


//////////////////////////////////////////////////////////
//  PINTEREST
//////////////////////////////////////////////////////////
///////COLOR
.color-pinterest{color:$pinterest !important;}
///////BORDER
.border-pinterest{border-color:$pinterest !important;}
///////BACKGROUND
.bg-pinterest{background:$pinterest !important;}



//////////////////////////////////////////////////////////
//  GOOGLE
//////////////////////////////////////////////////////////
///////COLOR
.color-google{color:$google !important;}
///////BORDER
.border-google{border-color:$google !important;}
///////BACKGROUND
.bg-google{background:$google !important;}


//////////////////////////////////////////////////////////
//  YOUTUBE
//////////////////////////////////////////////////////////
///////COLOR
.color-youtube{color:$youtube !important;}
///////BORDER
.border-youtube{border-color:$youtube !important;}
///////BACKGROUND
.bg-youtube{background:$youtube !important;color:$white !important;}


//////////////////////////////////////////////////////////
//  LINKEDIN
//////////////////////////////////////////////////////////
///////COLOR
.color-linkedin{color:$linkedin !important;}
///////BORDER
.border-linkedin{border-color:$linkedin !important;}
///////BACKGROUND
.bg-linkedin{background:$linkedin !important;}


//////////////////////////////////////////////////////////
//  INSTAGRAM
//////////////////////////////////////////////////////////
///////COLOR
.color-instagram{color:$instagram !important;}
///////BORDER
.border-instagram{border-color:$instagram !important;}
///////BACKGROUND
.bg-instagram{background:$instagram !important;}



//////////////////////////////////////////////////////////
//  HABITER_LU
//////////////////////////////////////////////////////////
///////COLOR
.color-centris{color:$centris !important;}
///////BORDER
.border-centris{border-color:$centris !important;}
///////BACKGROUND
.bg-centris{background:$centris !important;}





.bg-green{background: $green !important;}
.bg-blue{background: $blue !important;}
.bg-purple{background: $purple !important;}
.bg-red{background:$red !important;}
.bg-yellow{background:$yellow !important;}
.bg-black{background:$black !important;}
.bg-orange{background:$light-orange !important}
.bg-grey{background:$light-grey !important}


.bg-transparency{background: transparent;}
.bg-light-grey{background: $light-grey;}
.bg-dark-grey{background: $dark-grey;}
.bg-white{background:$white;}
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-link{background:$color-link;}


.border-light-grey{border:1px solid darken($light-grey,10%)}


// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

//Font Size
$i:10;
@while $i <= 100{
  .fs#{$i}{
    font-size: ($i+(-3))*1px;
    @media (min-width: $screen-sm-min){
      font-size: $i*1px;
    }
  }
  .lh#{$i}{
    line-height: $i*1px ;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}


// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}


// font awesome size
$size:0;
@while $size <= 11{
  .br#{$size} {
    border-radius:$size *1px !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 80{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 9{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}




