.has-error .form-control:-moz-placeholder {color: $dark-red;}
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}
.has-success .form-control:-moz-placeholder {color: $green;}
.has-success .form-control::-moz-placeholder {color: $green;}
.has-success .form-control:-ms-input-placeholder {  color: $green;}
.has-success .form-control::-webkit-input-placeholder {  color:$green;}


.form-group{
  input.input-xx-lg{
    height:60px;
    @include border-radius(2px);
  }
  input.input-shareimmo{
    @include border-radius(2px);
  }
  &.has-error,&.has-success{
    margin-bottom:6px;
    &.help-block{
      margin-bottom:4px;
    }
  }
}

.checkbox input[type="checkbox"]{
  position: inherit;
  margin-left:inherit;
}
