.btn-custom-default{
  color:#737373;
  background-color: #fff;
  border:1px solid #e4e4e4 !important;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  &:hover{
    color:#737373;
    background-color: lighten(#e4e4e4,5%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:white !important;
    background-color: lighten($primary, 10%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:darken($secondary, 4%);
    background-color: lighten($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

