body{
  font-family:"MontserratLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#444;
  -webkit-font-smoothing: antialiased;
  background:$white;
  &.pages.contact{
    #mapContainer {
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      top: 0;
      left: 0;
    }
  }
}


ul.like--table{
  display: table;
  width: 100%;
  li{
    display: table-cell;
    box-sizing: border-box;
  }
}


body.help.htmltotext{
  textarea{
    color:#000000;
  }
}


.flashMessage{
  position: fixed;
  top:30px;
  left: 20px;
  width: 420px;
  z-index:2000;
  .alert{
    border-width: 5px;
    &.alert-danger{
      border-color: #a94442;
    }
  }
}


p{
  @include transition-property(color);
  @include transition-duration(1s);
  font-size: 12pt;
  font-weight: 200;
  line-height: 23px;
}



h1,h2,h3,h4,h5,h6{
  color:$dark-grey-blue;
}

.nav-sticky{
  display: table;
  table-layout:fixed;
  width: 100%;
  margin:0;
  padding:0;
  list-style:none;
  .sticky--item{
    min-height: 43px;
    display: table-cell;
    text-align: center;
    line-height: 22px;
    &:first-child{
      border-left:none;
    }
  }
}

// NAV STICKY DANS LE BACKOFFICE
.nav-sticky{
  &.sticky-bordered-bottom{
    border-bottom: 1px solid $light-grey;
  }
  &.sticky-bordered-top{
    border-top: 1px solid $light-grey;
  }
  &.sticky-bordered-left{
    .sticky--item{
      border-left: 2px solid $light-grey;
    }
  }
  &.no--border{
    .sticky--item {
      border-left:none;
    }
  }
}



.btn-default{
  &:hover{
    color:$black !important;
  }
}




.bg-white{
  .form-control {
    color:black;
  }
  label{
    color:black;
  }
  input{
    color:black;
  }
}


