.flag {
  width: 16px;
  height: 11px;
  display:inline-block;
  background:asset-url('flags.png') no-repeat;
}

.flag.flag-be {background-position: -16px 0}
.flag.flag-ca {background-position: -32px 0}
.flag.flag-ch {background-position: 0 -11px}
.flag.flag-de {background-position: -16px -11px}
.flag.flag-fr {background-position: -32px -11px}
.flag.flag-us {background-position: 0 -22px}
