body.devise{
  color:#95A7B7;
  input.firstElement{
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }
  .lastElement{
    border-radius: 0 0 8px 8px;
  }
  .good_color, h3, a{
    color:#95A7B7;
  }
  &.shareimmo{
    background: $white;
  }
  &.oneclic{
    background: $white;
  }
  &.kangalou{
    background: $white;
  }
}


/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContent{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
