<% @title_for_layout = 'Connexion / Inscription' %>
<% @noindex_for_layout= true %>
<%= render 'layouts/partials/generic_meta' %>

<div class="container center pt50 pb50">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= yield %>
    </div>
  </div>
</div>
