<section class="container" id="visits">
  <div class="row mt15">
    <section class="col-sm-4 col-md-3 hidden-xs">
      <section id="service_sidebar">
        <div class="image relative pl5 pt5" style="background-image:url(<%= image_path @property.property_assets.present? ? @property.property_assets[0].picture.url(:medium) : PropertyAsset.new.picture.options[:default_url] %>)">
          <%=(image_tag "back_office/ribbon_#{@property.property_listing_id == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent", :style =>"width:80px")if @property.property_flag_id == 5 %>
          <span class="label label-danger color-white <%= @property.status == 1 ? "bg-green" : "bg-red" %>"><%= "#{@property.id} - #{@property.status == 1 ? "#{t('back_office.online')}" : "#{t('back_office.offline')}"} " %></span>
        </div>
        <h2 class="mt15 a-left">
          <%= link_to "#{@property.title.present? ? @property.title : "#{t('back_office.ad')} ##{@property.id}"}" , dashboard_property_edit_path(@user.username,@property.secure_id), :class=>"#{custom_color_class}" %>
        </h2>
        <h3 class="mt5 a-left"><%= "#{@property.street_number} #{@property.street_name}" %></h3>
        <h3 class="mt5 a-left mb4">
          <%= "#{@property.rooms.present? ? "#{@property.rooms} #{@property.withHalf == 1 ? '1/2' : nil} |" : nil}"%>
          <%= "#{@property.bedrooms.present? ?  "#{@property.bedrooms} #{t('back_office.bedrooms')} | " : nil}" %>
          <%= @property.property_listing.id == 1 ? humanized_money_with_symbol(@property.price) : (@property.rent.present? ? "#{humanized_money_with_symbol @property.rent} #{humanized_frequency @property.rent_frequency}" : nil) %>
        </h3>
        <%= link_to t('back_office.edit'),dashboard_property_edit_path(@user.username,@property.secure_id),:class=>"color-blue" %>
      </section>
    </section>
    <section class="col-sm-8 col-md-9" id="list">
      <%= yield %>
    </section>
  </div>
</section>

