<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title inline-block" id="myModalLabel"><%= "#{t('back_office.ad')} ##{@property.id}" %></h4>
</div>
<div class="modal-body">
  <div class="mt5 mb20">
    <% @my_vps.in_groups_of(3,false) do |row_portals|%>
    <div class="row">
      <% row_portals.each do |p| %>
      <div class="col-xs-4">
        <%= simple_form_for p[:vp], :remote => true, :url => dashboard_visibility_update_portal_path,:html=>{:id=>"visibility_portal_form_#{p[:portal][:id]}"} do |f| %>
        <div class="btn-group">
          <%= f.input :property_id,:as=>"hidden", :input_html=>{:value => @property.id} %>
          <%= f.input :portal_id,:as=>"hidden", :input_html=>{:value =>p[:portal][:id]} %>
          <%= f.input :visibility_start,:as=>"hidden", :input_html => {:value => Time.now} %>
          <%= f.input :visibility_until,:as=>"hidden", :input_html => {:value => "2099-12-31"} %>
          <%= f.input :posting_status, :as =>"boolean", :wrapper_html=>false, :label_html =>{:class=>"btn btn-default flex", :for=>"posting_status_#{p[:portal][:id]}"}, :label=>p[:portal][:name], :input_html=>{:class=>"mr5 ee", :onChange =>"$('#visibility_portal_form_#{p[:portal][:id]}').submit()", :id=>"posting_status_#{p[:portal][:id]}"} %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <span class="btn <%= custom_button_class_secondary %>" data-dismiss="modal"><%= t('back_office.close') %></span>
</div>
