<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title inline-block" id="myModalLabel"><%= "#{t('back_office.ad')} ##{@property.id}" %></h4>
</div>
<div class="modal-body">
  <% if  @vps.present? %>
  <table class="table table-condensed table-bordered">
    <thead>
      <th><%= t('back_office.portal') %></th>
      <th><%= t('back_office.until') %></th>
      <th></th>
    </thead>
    <tbody>
      <% @vps.each do |vp| %>
      <tr>
        <td><%= vp.portal.name %></td>
        <td><%= I18n.localize(vp.visibility_until.to_time,:format =>("%d %B %Y")) %></td>
        <td>
          <% if vp.backlink_url.present?  %>
          <%= link_to t('back_office.see_ad'), vp.backlink_url, :target => "_blank", :class => "btn btn-xs #{custom_button_class_secondary}" %>
          <% else %>
          <span class="label label-default"><%= t('back_office.processing') %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="center mt20">
    <div><%= image_tag "back_office/posts.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
    <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_visibility') %></div>
  </div>
  <% end %>
</div>
<div class="modal-footer">
  <span class="btn <%= custom_button_class_secondary %>" data-dismiss="modal"><%= t('back_office.close') %></span>
</div>
