<%= simple_form_for @service_order, :url => dashboard_services_order_update_path(@user.username,@service_order.id) do |f| %>
<div class="modal-header">
  <%= "#{t('back_office.ad')} ##{@service_order.property.id} (#{@service_order.service.name})" %>
</div>
<div class="modal-body">
  <div class="bold h3 center"><%= "#{t('back_office.your_order')} #{@service_order.service.company}" %></div>
  <div class="center">1 Reportage - 12 photos</div>
  <hr class="color-grey mt10 mb10">
  <div><%= t('back_office.after_order') %></div>
  <%= f.input :status,:as=>:hidden, :input_html => {:value =>1} %>
</div>
<div class="modal-footer">
  <%= link_to t('back_office.see_prices'), @service_order.service.immosquare_link  ,:class=>"btn btn-default",:target=>"_blank" %>
  <span class="btn btn-custom-default" data-dismiss="modal"><%= t('back_office.close') %></span>
  <%= f.submit t('back_office.order'), :class => "btn #{custom_button_class_secondary}" %>
</div>
<% end %>
