<div class="grey-border">
  <div class="panel-header"><%= t('back_office.my_services') %></div>
  <ul id="sidebar_my_services">
    <% provider_service = @my_provider.services.map(&:id) %>
    <% @user.services.order('services.id').each do |s| %>
    <% if provider_service.include?(s.id) %>
    <li>
      <%= link_to dashboard_services_path(@user.username,:service =>s.slug,:ad => params[:ad].present? ? params[:ad] : nil),:class=> "#{(@service.present? and @service.slug == s.slug) ? "#{custom_bg_class} #{custom_border_class} color-white active" : nil}"  do %>
      <%= Globalize.with_locale(I18n.locale){s.name} %><i class="fa fa-angle-right pull-right"></i>
      <% end %>
    </li>
    <% end %>
    <% end %>
    <% if @my_provider.provider_id != "kangalou" %>
    <li class="more-services">
      <%= link_to t('back_office.add_services'),  dashboard_services_home_path(@user.username),:class=>"color-link" %>
    </li>
    <% end %>
  </ul>
</div>
