<% if checkbox == true and params[:ad].blank? %>
<input type="checkbox" class="mr10">
<% end %>
<div class="image mr10 relative" style="background-image:url(<%= property.cover_url_small %>);">
  <%=(image_tag "back_office/ribbon_#{property.property_listing_id == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent", :style =>"width:50px")if property.property_flag_id == 5 %>
</div>
<div class="">
  <div class="h5 ellipsis" style="line-height:1em;"><%= "##{property.id} - #{property.title.present? ? property.title : "#{t('back_office.ad')} #{property.id}"}" %></div>
  <div class="color-grey ellipsis" style="line-height:1em;"><%= "#{property.street_number} #{property.street_name}#{property.locality.present? ? ", #{property.locality}" : nil }" %></div>
  <div class="color-grey ellipsis"><%= "#{my_beautiful_price(property)}" %></div>
  <% if property.api_provider.present? && property.api_provider.name != "shareimmo" %>
  <small class="color-grey lh0"><i class="fa fa-refresh mr5"></i><%= property.api_provider.display_name.present? ? property.api_provider.display_name : property.api_provider.name  %></small>
  <% end %>
  <div class="h6">
    <%= yield %>
  </div>
</div>

