<% @properties.each_with_index do |property, x| %>
<div class="condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
  <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
  <%= link_to t('back_office.manage_visits').html_safe, dashboard_manage_feedback_path(@user.username,property.secure_id),:class=> "" %>
  <% end %>
</div>
<% end %>
