<% if @my_provider.provider_id != "kangalou" %>
<div class="mb20">
  <%= link_to "#{t('back_office.see_my_website')}".html_safe, root_url(:subdomain=>@user.username,:protocol=>'http'), :target =>"_blank",:class => "btn #{custom_button_class_secondary}" %>
  <% if params[:ad].present? %>
  <%= link_to @user.profile.mandate_website == 1 ? t('back_office.website_mandate') : t('back_office.see_on_my_website'),short_link_path(params[:ad]), :target => "_blank",:class=>"btn #{custom_button_class_secondary}" %>
  <% end %>
  <% if @service_options >= 1 %>
  <%= link_to t('back_office.blog'),         dashboard_blog_path(@user.username),         :class=>"btn btn-default" %>
  <%= link_to t('back_office.testimonials'), dashboard_testimonials_path(@user.username), :class=>"btn btn-default" %>
  <% end %>
</div>
<% end %>


<% @properties.each_with_index do |property, x| %>
<div class="condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
  <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
  <%= link_to @user.profile.mandate_website == 1 ? t('back_office.website_mandate') : t('back_office.see_on_my_website'),short_link_path(property.id), :target => "_blank",:class=>"color-link" %>
  <% end %>
</div>
<% end %>
