<% @properties.each_with_index do |property, x| %>
<div class="condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
  <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
  <%= link_to t('back_office.create_showcase').html_safe, "http://myprint.io/showcase/select?provider=shareimmo&uid=#{property.id}",:class=> "",:target=>"_blank" %>
  <% end %>
</div>
<% end %>
