<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= t('back_office.warning') %></strong>, <%= @help %>
  <%= link_to t('back_office.connect_portals'), dashboard_apps_path(@user.username,:t =>"portals"),:class=> "alert-link ml5"  %>
</div>


<div class="mb20 hide">
  <a href="#" class="btn btn-default"><%= t('back_office.select_all') %></a>
  <button type="submit" class="<%= "btn #{custom_button_class}" %>"><%= t('back_office.add_visibility') %></button>
</div>

<% @properties.each do |property| %>
<div class="relative condo-line">
  <div class="condo-info pb10 pt10">
    <% count = VisibilityPortal.joins(:portal).where(:portals => {:country =>"int",:status => 1}).where(:property_id=> property.id,:posting_status=>1).where("visibility_until > ?", Time.now).count %>
    <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
    <%= link_to "#{t('back_office.manage_visibilities')}" , dashboard_visibility_manage_path(@user.username,property.id,:international=>true),:remote => true, :class=>"" %>
    <%= link_to "#{t('back_office.see_visibility')} #{t('back_office.portals_c', :count => count)}" , dashboard_visibility_show_path(@user.username,property.id,:international=>true),:remote => true, :class=>"",:id=>"property_link_portals_count_#{property.id}" %>
    <% end %>
  </div>
</div>
<% end %>



<%# Modal Visibility %>
<div class="modal fade" id="myModalVisibility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<%# Modal Visibility %>
<div class="modal fade" id="myModalShowVisibility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
