<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= t('back_office.warning') %></strong>, <%= @help %>
  <%= link_to t('back_office.connect_socials_networks'), dashboard_apps_path(@user.username,:t =>"socials_networks"),:class=> "alert-link ml5"  %>
</div>

<%= content_for :head do %>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<% end %>


<% @properties.each_with_index do |property, x| %>
<div class="row condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
    <section class="col-sm-8">
     <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
      <% end %>
    </section>
    <section class="col-sm-4">
      <table class="table table-condensed table-no-bordered mb0">
        <tr>
          <td class="pAll0">
            <div class="color-facebook inline-block">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="inline-block pl9">
              <%= link_to t('back_office.sharings_c',:count => @facebook.present? ? property.share_socials.where(:api_provider_id => @facebook.api_provider_id).count : 0 ),@facebook.present? ? @facebook.link : "#", :target =>"_blank" %>
            </div>
          </td>
          <td class="pAll0">
            <%= link_to(t('back_office.post'), dashboard_share_facebook_step1_path(@user.username,property.id),:remote=>true, :class=>"") if @facebook.present?  %>
          </td>
        </tr>
        <tr>
          <td class="pAll0">
            <div class="color-twitter inline-block">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="inline-block pl2">
              <%= link_to t('back_office.sharings_c',:count => @twitter.present? ? property.share_socials.where(:api_provider_id => @twitter.api_provider_id).count : 0 ), @twitter.present? ? @twitter.link : "#" ,:target =>"_blank" %>
            </div>
          </td>
          <td class="pAll0">
            <%= link_to(t('back_office.tweet'), dashboard_share_twitter_step1_path(@user.username,property.id),:remote=>true) if @twitter.present? %>
          </td>
        </tr>
        <tr>
          <td class="pAll0">
            <div class="color-youtube inline-block">
              <i class="fa fa-youtube"></i>
            </div>
            <div class="inline-block pl3">
              <% youtube_vid = property.videos(:status =>1).last %>
              <% if youtube_vid.present? %>
              <% if youtube_vid.youtube_id.blank? %>
              <%= "#{t('back_office.video_c',:count => 1 )} #{ t('back_office.processing')}" %>
              <% else %>
              <%= link_to t('back_office.video_c',:count => 1 ), "https://www.youtube.com/watch?v=#{youtube_vid.youtube_id}", :target =>"_blank",:class=>"color-grey" %>
              <%= link_to api_v2_youtube_enhanced_url(property.id),:target=>"_blank" do %><i class="fa fa-heart"></i><% end %>
              <% end %>
              <% else %>
              <%= t('back_office.video_c',:count => 0 ) %>
              <% end %>
            </div>
          </td>
          <td class="pAll0">
            <%= link_to(t('back_office.publish'), dashboard_share_youtube_step1_path(@user.username,property.id),:remote=>true, :class=>"", :data =>{:confirm =>"Confirmer la publication sur la chaine : #{@youtube.present?  ? @youtube.name : "shareIMMO"}"})   %>
          </td>
        </tr>
      </table>
    </section>
  </div>
<% end %>


<script type="text/javascript">
var pusher;

pusher = new Pusher("<%= ENV['pusher_key'] %>", {
  encrypted: true
});

pusher.subscribe("<%= @user.id %>").bind('my_event', function(data) {
  $('#youtubeStep').html(data.step)
  console.log(data);
  if (typeof data.display_link !== 'undefined') {
    $('#youtubeLink').show();
  }
  if (typeof data.video_link !== 'undefined') {
    $('#youtubeLink').attr('href',data.video_link)
    $('#youtubeStep').html("")
  }
});

</script>

