<% @properties.each_with_index do |property, x| %>
<div class="condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
  <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
  <%= link_to t('back_office.order'), dashboard_services_order_path(@user.username,property.id,@service.id),:class=> "",:remote =>true %>
  <% end %>
</div>
<% end %>


<div class="modal fade" id="<%= "myModal_#{@service.slug}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
