<% @title_for_layout = @brand = "#{@service.name}" %>
<%
  case @service.slug
    when "visibility"
      @help = t('back_office.visibility_intro')
    when "visibility_int"
      @help = t('back_office.visibility_int_intro')
    when "socials_networks"
      @help = t('back_office.socials_networks_intro')
    when "feedback"
      @help = t('back_office.feedback_intro')
    when "website"
      @help = t('back_office.website_intro')
    when "rhinov"
      @help = t('back_office.rhinov_intro')
    else
      ""
  end
%>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<section class="container">
  <div class="row mt15">
    <section class="col-sm-3 hidden-xs">
      <%= render "back_office/services/my_services" %>
    </section>
    <section class="col-sm-9">
      <% if @service_user.blank? %>
      <div class="center mt20">
        <div><%= image_tag "back_office/house.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
        <div class="h1 mt20 <%= custom_color_class %>"><%= "#{t('back_office.service_not_actif',:service => @service.name )}" %></div>
      </div>
      <% else %>
      <% if params[:ad].present?  %>
      <ul class="list-inline">
        <li><%= "#{t("back_office.filter")} : #{t('back_office.ad')} ##{params[:ad]}" %></li>
        <li><%= link_to url_for(:ad=>nil) do %><%= t('back_office.filter_reset') %><i class="fa fa-times ml5"></i><% end %></li>
      </ul>
      <% end %>
      <%= render "back_office/services/serv_#{@service.slug}" %>
      <%= will_paginate @properties, renderer: BootstrapPagination::Rails, :next_label=>t('back_office.next'),:previous_label=>t('back_office.previous') %>
      <% end %>
    </section>
  </div>
</section>
