<% @title_for_layout = t('app.sign_in_sign_up') %>
<% @noindex_for_layout = true %>
<%= render 'layouts/generic_meta' %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
    <div class="full-width connect pl20 pr20 pb15 pt15" style="background-image:url(<%= image_path 'mosaic-connect.svg' %>);">
      <%= yield %>
    </div>
  </div>
</div>
