/*Variables SCSS*/




/*Color*/
$white:#ffffff;
$blue:#9ec2e4;
$black:#122334;
$purple:#a95fbb;
$orange:#f85203;
$yellow:#ffcc66;
$green:#209875;
$red:#cf1b2c;
$grey:#7c7a7a;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;

$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#e4e9eb;


$dark-grey:#31373d;
$dark-blue:#5566c9;
$dark-orange:#fa6132;
$dark-green:#466e78;
$dark-red:#531a1f;
$dark-grey-blue:#5b656d;


$grey-blue:#9eb8c1;



$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$listglobally:#273f57;
$copilote:#7ca2a7;
$magex:#e4271c;





$primary:$light-green;
$secondary:$dark-green;
$tertiary:$raspberry;

