<ul class="list-inline mt20">
<%- if controller_name != 'sessions' %>
  <li><%= link_to t('app.sign_in'), new_session_path(resource_name) %></li>
<% end -%>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li><%= link_to t('app.sign_up'), new_registration_path(resource_name) %></li>
<% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
<% end -%>
</ul>
