body{
  &.back_office ,&.registrations.edit,&.registrations.update{
    font-weight: 300;
    background: $light-grey;
  }
  &.back_office.listglobally{
    overflow: hidden;
  }
}

.ribbon_sold_rent{
  z-index: 100;
  width: 150px;
}

/************************************************************************
/* Kangalou
*************************************************************************/
body.dashboard.kangalou{
  .kangalou-steps{
    .kangalou-step{
      border-radius:3px; background:white; border:1px solid #ddd;
      h3:first-child{color:#868686;}
      p{font-size:14px; line-height:22px; text-align:justify; color:#A7A7A7;}
      hr{border-color:#ddd;}
    }
  }
  .video-helpers{
    .video-helper{
      border-radius:3px; background:white; border:1px solid #ddd;
      .video{height:170px; background:#eee;}
      .title{font-size:12px; color:#868686; height:55px; overflow:hidden; text-overflow:ellipsis;}
    }
  }
}

/************************************************************************
/* Remove Unregistred Licence from Froala
*************************************************************************/
div.fr-box{
  a[href^="https:"]{
  display: none !important;
  }
}

/************************************************************************
/* Dashboard Filter
*************************************************************************/
#dashboardFilter{
  float:right;
  li{
    float:right;
    select{border:0; box-shadow: 0 0 0; outline:1px solid #ddd !important;}
    select:focus{border:0; outline-offset: 0;}
    input[type=submit]{border-radius:0 3px 3px 0; outline:none;}
  }
}

/************************************************************************
/* Bar de Menu
*************************************************************************/
#MyHeaderHeroNav{
  background: #fff;
  font-size:13px;
  border-bottom: 1px solid #dce0e0;
  #logo{
    max-height: 15px;
    &.kangalou_logo{
      max-height: 40px;
    }
  }
  .navbar{background: white;}
  .navbar-toggle{padding:0; font-size:30px; border:0; margin:9px 20px 0 0;}
  .navbar-toggle:hover{background: transparent;}
  .navbar-toggle:focus{background: transparent;}
  .dropdown.open .dropdown-toggle{background:#F2F2F2;}
  .navbar-collapse{
    font-size:15px; background:#f9f9f9;
  }
  .user-profile-image {
    height: 30px;
    width: 30px;
    top: 10px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    position: relative;
    height: 30px;
    width: 30px;
    top: 15px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    img {
      vertical-align: top;
      border-radius: 50%;
      border: 2px solid #dce0e0;
    }
  }
  .comp{
    height: 61px;
    line-height: 61px;
    border-left: 1px solid #dce0e0;
    position: relative;
    a,.like_a{
      margin: 0 19px;
      display: block;
    }
    &:hover{
      background: #f5f5f5;
      a{
        color: $black;
      }
    }
    .drop-down-menu {
      border-box: border-box;
      position: absolute;
      z-index: 3001;
      top: 61px;
      left: auto;
      right: -1px;
      display: none;
      min-width: 277px;
      max-width: 460px;
      line-height: normal;
      -moz-border-radius: 0 0 2px 2px;
      -webkit-border-radius: 0 0 2px 2px;
      border-radius: 0 0 2px 2px;
      background: $white;
      border: 1px solid #DCE0E0;
      padding: 0px;
      a{
        padding:15px 10px;
        display:block;
        margin:0;
        &:hover{
          background:#F7F7F7;
          color:black;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

.grey-border{
  background: $white;
  border: 1px solid #dce0e0;
  .panel-header{
    color: #565a5c;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
    padding:5px 15px;
  }
  .panel-body{
    padding: 20px;
  }

}

.primary-border{
  background: $white;
  border: 1px solid lighten($primary, 15%);
  .panel-header{
    color: white;
    font-size: 16px;
    border-bottom: 1px solid lighten($primary, 15%);
    background-color: lighten($primary, 5%);
    padding:5px 7px;
    button, a{background:transparent; border:0; color:white; font-size:16px; padding:0;}
    button:hover, a:hover, button:active, a:active{background:transparent; border:0; color:white !Important; box-shadow:0 0 0; opacity:1; transition: all .2s;}
    button:active, a:active{opacity:.7;}
  }
  .panel-body{
    padding: 20px;
  }

}

.subnav{
  border-bottom: 1px solid darken($light-grey, 10%);
  color:$grey;
  background: $light-grey;
  height:35px;
  line-height: 35px;
  font-size:16px;
  .pull-right{
    li{height:35px; line-height:35px;}
  }
}






.directionLinkContainer{
  .directionLink{
    opacity: 0;
  }
  &:hover{
    .directionLink{
      opacity: 1;
    }
  }
}



.list {
  position: relative;
  .item {
    position: relative;
    display: block;
    padding-top: 8px;
    padding-left: 106px;
    min-height: 100px;
  }
  img{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
  }
}




.widget-chart .chart-title {
  font-size: 18px!important;
  color: #fff;
  font-weight: 300!important;
  margin: 2px 5px 7px;
}


.widget.widget-stats {
  position: relative;
}
.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  padding: 15px;
  overflow: hidden;
}
.widget-stats .stats-icon.stats-icon-lg {
  font-size: 52px;
  top: 12px;
  right: 21px;
}
.widget-stats .stats-icon {
  font-size: 42px;
  height: 56px;
  width: 56px;
  text-align: center;
  line-height: 56px;
  margin-left: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: .2;
  filter: alpha(opacity=20);
}
.widget-stats .stats-title {
  position: relative;
  line-height: 1.1;
  margin: 2px 0 7px;
}
.widget-stats .stats-number {
  font-weight: 300;
  margin-bottom: 10px;
}
.widget-stats .stats-progress {
  background: rgba(0,0,0,.2);
  height: 2px;
  margin: 0 -15px 12px;
}
.widget-stats .stats-desc {
  font-weight: 300;
  margin-bottom: 0;
}
.widget-stats .stats-progress .progress-bar {
  background: #fff;
}



body.back_office.blog_edit{
  div.modal-backdrop{
    position: relative;
  }
}




.property--block{
  .img-wrap{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 200px;
    a{
      display: block;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.025, 1.025);
        -webkit-backface-visibility: hidden;
      }
    }
  }
  .meta--details{
    position: absolute;
    bottom: 15px;
    right: 15px;
    pointer-events: none;
    .status{
      display: block;
    }
    .price{
      display: block;
      position: relative;
      padding: 5px 10px;
      z-index: 100;
      overflow: hidden;
      font-size: 20px;
      clear: both;
      -webkit-transition: all 700ms ease;
      background: rgba(250,250,250,0.9)
    }
  }
  .content-wrap{
    border-radius: 0 0 3px 3px;
    .breadcrumb{
      background: transparent;
    }
    .title{
      font-size: 1.3em;
      line-height: 1.4em;
      a{
        color:#333;
      }
    }
  }
  .infosPropertyDashboard{
    padding-left: 220px;
  }
}


.quantityHelper{
  max-width: 150px;
  input{
    background-color: $white !important;
  }
}

.picture_item{
  a{
    position: absolute;
    top:0;
    right: 0;
  }
}


#dropzone {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  border:2px dashed #ddd;
  &.in {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: larger;
  }
  &.hover {
    background:rgba(206,232,246,.59);
    color:white;
  }
  &.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}


.img-wrap{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  article{
    display: block;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.025, 1.025);
      -webkit-backface-visibility: hidden;
    }
  }
}
.add--default{
  position: absolute;
  top:3px;
  left:5px;
}
.meta--details{
  position: absolute;
  bottom: 15px;
  right: 15px;
  pointer-events: none;
  .status{
    display: block;
  }
  .price{
    display: block;
    position: relative;
    padding: 5px 10px;
    z-index: 100;
    overflow: hidden;
    font-size: 20px;
    clear: both;
    -webkit-transition: all 700ms ease;
    background: rgba(250,250,250,0.9)
  }
}








body.back_office.website,body.back_office.inventories_parameters{
  div.setupContainer{
    background: darken($white,4%)
  }
  ul.nav-sticky{
    padding:10px 0;
    font-size:12px;
    cursor:pointer;
    &.is-open{
      li.withBigSpace{
        width: 70%;
      }
    }
    &:hover{
      background: darken($white,4%)
    }
  }
}


.property--preview{
  position: relative;
  float:left;
  span{
    position: absolute;
    top:5px;
    left:5px;
  }
}

.social--links{
  .btn.disabled{
    opacity: 0.40;
  }
}

.app--description{
  border-top:1px solid $white;
  border-bottom:1px solid $white;
}
.app--description--dark{
  border-top:1px solid $secondary;
  border-bottom:1px solid $secondary;
}






.form-group.profile_picture,.form-group.profile_logo{
  opacity: 0;
  display: none;
}








.navbar-estate{
  @include border-radius(0px);
  margin-bottom:0px;
  border:none;
}



#footer_shareimmo{
  background: $black;
  color:$white;
  a{
    color:$white;
  }
}


#setupCover{
  position:relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  #setupAvatar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    img{
      max-width:250px;
      max-height:250px;
      display:inline-block;
    }
  }
  #setupHook{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    top:0px;
    #hookColor{
      @include border-radius(10px);
      display:inline-block;
    }
    &.withoutBg{
      #hookColor{
        background:none!important;
      }
    }
  }
}






#mapContainer{
  position:absolute;
  width:100% !important;
  height:100% !important;
  top:0;
  left:0;
  img {
    max-width: none !important;
  }
  label {
    width: auto; display:inline;
  }
}



.block-dashed{
  @include border-radius(4px);
  border:2px dashed $light-grey;
  color:darken($light-grey,30%);
  h1,h2,h3,h4,h5{
    color:darken($light-grey,30%);
  }
}







#subdomain_hint{
  height: 17px;
}








#supportNavbar{
  border-radius: 0px;
}







.niveau_td{
  max-width: 150px;
}




.minicolors-swatch-color{
  border:1px solid lighten($dark-grey, 10%);
}






.spinContainer{
  z-index: 11000;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}





.nav-tabs > li.active > a{
  background: $primary;
  color:$white;
  &:hover{
    background: $primary;
    color:$white;
  }
}











.greyBorder {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: solid 2px #dddddd;
  padding-left: 15px;
  padding-right: 15px;
}



