#myTreeLeft{
  position: absolute;
  top:100px;
  left:0px;
  width:300px;
  bottom:0;
  overflow-y: auto;
}

#myTree{
  position: absolute;
  top:100px;
  left:300px;
  right:0;
  bottom:0;
  overflow-y: auto;
}

