.no-bold{font-weight:normal;}
.grey-b-r{border-right:1px solid #dedede;}
.grey-b-b{border-bottom:1px solid #dedede;}
.grey-b-t{border-top:1px solid #dedede;}
.absolute-bottom{position:absolute; bottom:0;}
.full-width{width:100%;}
.color-success{color:#5cb85c !important;}




.firefox #annonce_form_right .property_rooms{display:block !important;}


#annonce_form_right{
  *::-webkit-input-placeholder {color:#b2b2b2;}
  *:-moz-placeholder           {color:#b2b2b2;}
  *::-moz-placeholder          {color:#b2b2b2;}
  *:-ms-input-placeholder      {color:#b2b2b2;}
  input[type=text],input[type=number],input[type=tel],select{
    box-shadow:0 0 0;
    height:40px;
    line-height:39px;
    border:1px solid $grey;
    color:darken($grey, 30%);
    @include border-radius(4px);
    padding:0 8px;
    border-color:rgba($primary, .4);
  }
  input[type=checkbox]{
    height: inherit !important;
  }
  label{
    color:darken($grey, 30%);
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  hr{margin:30px 15px 25px 15px;}
  .form-group{margin-bottom:0;}
  .nav.nav-tabs{
    border-bottom:0;
    li{
      a{padding:5px 20px 4px 20px; background:#e6e6e6; border-radius:0; color:#969696; border:none;}
      &.active a{background:#222222; color:white;}
    }
  }
  .input_translate{
    input[type=text]{border-radius:0 0 4px 4px;}
  }
  .currency{position:absolute; right:0; width:85px; border:none; margin-top:-40px; background:transparent; border-left:1px solid $grey;}
  .currency-disabled{height:40px; line-height:40px; color:#aaa; position: absolute; right:25px; margin-top:-40px;}
  .surface_unit{position:absolute; right:0; width:65px; border:none; margin-top:-40px; background:transparent; border-left:1px solid $grey;}
  .surface-disabled{height:40px; line-height:40px; color:#aaa; position: absolute; right:25px; margin-top:-40px;}
  .input-unity{height:40px; line-height:40px; color:#d2d2d2; position: absolute; right:25px; margin-top:-40px;}
  .input-with-select{padding-right:90px !important;}
  .online.active{background:#27ae60 !important;}
  .offline.active{background:#e74c3c !important;}
  .btn-group.wide{
    display: block; height:40px;
    label{width:50%; background:#e6e6e6; color:#ababab; border:0; height:40px; line-height:40px; padding:0;}
    label:hover{background:#e6e6e6;}
    label:active{box-shadow:0 0 0;}
    label.active{background:$primary; box-shadow:0 0 0; color:white;}
  }
  .picture_item a{height:30px; width:30px; line-height:30px; text-align:center; padding:0;}
  .img-thumbnail{border-radius:3px;}
}



.testimonials{
  blockquote{
    p{font-size:14px; line-height:15px; height:300px;}
  }
}

#annonce_form_right_caract{
  h5{
    border-top:1px solid lighten($grey, 10%); padding-top:25px;
    &:first-child{border-top:0; padding-top:0;}
  }
}



.card_theme{
  opacity:0.8; transition:all .2s;
  .desc{height:220px; text-overflow: ellipsis;}
  .info-overlay{
    opacity:0; position:absolute; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1; transition:all .2s;
  }
  &:hover{
    opacity:1;
    .choose-theme{opacity:1;}
    .info-overlay{opacity:1;}
  }
}
.card_theme.selected{
  opacity:1;
  .grey-border{border:2px solid $primary;}
}

