body.back_office{
  #sidebar_my_services{
    list-style:none; margin:0; padding:0;
    li{
      &.active{
        background: $primary;
        a{
          color:$white;
        }
      }
      a{
        display:inline-block;
        height:35px;
        line-height:35px;
        width:100%;
        padding:0 15px;
        color:rgba(0,0,0,.6);
        border-bottom:1px solid #eee;
        font-size:12px;
        i{margin-top:10px; font-size:14px;}
        &:focus{text-decoration:none !important;}
      }
      &.more-services{
        background:#eee; height:25px; line-height:20px;
        a{height:25px; line-height:25px; color:#56A7FF;}
        i{font-size:10px; margin-top:13px;}
      }
      &:first-child{border-top:1px solid #eee;}
    }
  }
  h6,.h6{
    font-size:11px;
    color:$color-link;
    outline: none;
    a{
      color:$color-link;
      font-size: 11px;
      outline: none;
      text-decoration: none;
      border-right:1px solid $grey;
      padding-right: 8px;
      margin-right: 8px;
      &:last-child{
        padding-right:0 !important;
        border-right:0;
      }
    }
    i{
      font-size:10px;
    }
  }
  .condo-line{
    .popover{
      border-radius:3px 0 3px 3px; padding:0; border:0; margin-top:0; box-shadow: 0 0 0; z-index:10;
      .arrow{display: none;}
      .popover-content{
        padding:0;
        a{width:100%; border-radius:0; box-shadow: 0 0 0 !important;}
        a:first-child{border-radius:3px 0 0 0;}
        a:last-child{border-radius:0 0 3px 3px;}
      }
      border:1px solid rgba(204, 204, 204, 0.3); box-shadow:0 3px 5px rgba(0, 0, 0, 0.05);
      .popover-title{display: block !important;}
      .arrow{border-bottom-color:rgba(0, 0, 0, 0.18);}
    }
  }
  .condo-info{
    border-bottom:1px solid #ededed;
    display:flex;
    align-items:center;
    .image{
      border: 1px solid $light-grey;
      width:120px;
      height:80px;
      display:inline-block;
      background-size:cover;
      background-position:center;
      border-radius:4px;
      overflow: hidden;
      background-color:#ddd;
      float:left;
    }
  }
}



#service_sidebar{
  border-right:3px solid #eaeaea; padding-right:15px;
  .image{width:100%; height:180px; background-size:cover; background-position:center; border-radius:8px; border:1px solid rgba(0,0,0,.05);}
  h2{font-size:20px;}
  h3{font-size:16px; color:#bfbfbf}
}



#visits{
  select{width:160px; height:31px; box-shadow: 0 0 0; border:0; outline:1px solid #dedede; color:#bebebe; font-size:16px; display: inline-block;}
  .btn{box-shadow:0 -2px 0 rgba(#000, .2) inset; cursor:pointer; border:0;}
  .feedback-line{
    display:flex; align-items:center; border-bottom:1px solid #ededed; padding:15px 0 12px 0;
    input{margin:0;}
    .image{width:95px; height:55px; display: inline-block; background-size:cover; background-position:center; border-radius:4px; overflow: hidden; background-color:#ddd;}
    div{display: inline-block;}
    h3,h4,h5{display: inline-block; margin:0;}
    h3{font-size:18px;}
    h4,h5{font-size:16px; color:#bfbfbf;}
    h6{
      font-size:11px;
      a{color:#56A7FF;}
      i{font-size:10px;}
    }
    .btn1{padding:5px 10px 7px 10px; box-shadow:0 -2px 0 rgba(#000, .5) inset;}
    .action{margin-left:30px;}
    .fa-star{font-size:30px; color:#ffe400;}
    .fa-check{color:#5cb85c;}
    .fa-close{color:#d9534f;}
  }
}



.visibility-content{
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  transition:all .2s;
  overflow:hidden;
  color:white;
  z-index: 100;
  &.activated{
    width:100%;
    height:100%;
    padding:10px;
  }
}

.setting_edit{
  .panel-header{
    float:left;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size:18px;
    background:darken($light-grey,5%);
    padding:0 10px;
    color:#afafaf;
  }
  label{font-weight:normal;}
  .form-control:focus{box-shadow:0 0 0;}
  .panel-body{width:100%;}
  .panel-help{border-radius:0; font-size:12px;}
  .setting_edit_line{
    cursor:pointer;
    i.fa.fa-pencil{display: none;}
    &:hover{
      i.fa.fa-pencil{display:block;}
    }
    border-left: 1px solid #f3f3f3;border-right: 1px solid #f3f3f3;border-bottom: 1px solid #f3f3f3; padding-top:10px; padding-bottom:10px;
    input[type=text], input[type=email], input[type=tel], select{
      width:100%; border-radius:4px; border:2px solid #e6e6e6; box-shadow:0 0 0 !important; color:#555555; padding-left:7px;
      &:focus{border-color:rgba(52, 73, 94, 0.4);}
    }
    input[type=tel], .url{border-radius:0 4px 4px 0 !important;}
    .form{display:none;}
    &:hover{background:$light-grey;}
    &.active{
      background:$light-grey;
      .value{display:none;}
      .form{display:block;}
      &:hover{
        i.fa.fa-pencil{display: none;}
      }
    }
  }
}

body.back_office.services{
  #myModalVisibility{
    .modal-content{
      .btn-group{
        width:100%;
      }
      label{
        input[type=checkbox]{
          display:block;
          margin:4px 4px;
        }
      }
    }
  }
}







body.back_office.services_home{
  #services{
    .single-service{
      border:1px solid #ddd;
      border-radius:3px;
      overflow:hidden;
      margin-bottom:4px;
      .header{
        height:35px; line-height:35px;
        .title{
          font-size:16px; padding:0 15px;
          i{transition:all .2s;}
        }
        .use{
          color:white; background:#4A90E2; font-weight:bold; border-radius:0 2px 0 0;
          i{font-size:12px;}
        }
      }
      .more-infos{
        display:none; border-top:1px solid #ddd;
        .picto{
          height:150px; border-right:1px solid #ddd; position:relative;
          img{position:absolute; top:0; left:0;height: 100%;width: 100%;}
        }
        .right{
          position: relative;
          height:150px;
          p{
            font-size:12px;
            line-height:20px;
            color:rgba(0,0,0,.6);
          }
          .bottom-row{
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:30px;
            line-height:30px;
            background:#F2F2F2;
            padding:0 10px;
            font-size:12px;
            color:rgba(0,0,0,.6);
            label{font-weight:normal;}
          }
        }
      }
      &.toggled{
        overflow:visible;
        .title i{transform:rotate(90deg);}
      }

      &.form{
        display:none;
        .header{
          .title-input{
            input{
              border:0; height:35px; width:100%; padding:0 0 0 10px;
              &:focus{outline:none;}
            }
          }
          button{border:0; height:35px; line-height:32px; background:#2ECC71 !important;}
        }
        .more-infos{
          display:block !important;
          textarea{
            border:0; resize:none; background:transparent; height:120px; width:100%; margin-left:-15px; margin-right:-15px; padding:10px 15px;
            &:focus{outline:none;}
          }
          .bottom-row{
            padding:0;
            input{
              background:#F8F8F8; border:0; width:50%; border-left:1px solid #ddd; border-top:1px solid #ddd; padding:0 10px; border-radius:0 0 2px 0;
              &:focus{outline:none;}
            }
            button{border:0; background:transparent; color:#4A90E2; height:30px; line-height:28px; padding:0;}
          }
        }
      }
    }
    #not-activated-services{
      .single-service{
        .more-infos{
          display:block; border-top:0;
          h3{font-size:16px;}
          .activate{
            height:30px;
            background:#2ECC71;
            padding:0 10px; margin:0 -10px 0 0;
          }
        }
      }
    }
  }
}