<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url =>password_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<h3 class='mb20'><%= t('.password_new_title') %></h3>
<%= f.full_error :confirmation_token %>
<%= f.input :email,:label=>false,:placeholder=>t('.email'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.submit t('.reset_password'), :class => (@oneclic == true || @kangalou == true) ? "btn btn-custom-tertiary btn-block btn-lg lastElement" : "btn btn-custom-secondary btn-block btn-lg lastElement" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>
