.my_provider_logo{
  max-width: 120px;
}
#supportHeader{

  background: asset-url('support/search-header.jpg') no-repeat center center transparent ;
  background-size: cover;
  h1{
    color:$white;
  }
}



#videoHeroContainer{
  .bg-opaque{
    background:rgba(23, 22, 21, 0.65);
  }
}


.blogBlock{
  background-color: #fff;
  -moz-box-shadow: 0 0 1px 1px #EAE9E6;
  -webkit-box-shadow: 0 0 1px 1px #EAE9E6;
  box-shadow: 0 0 1px 1px #EAE9E6;
  border-style: solid;
  border-color: #d4d4d4;
  position: relative;
  h2{
    font-size: 20px;
    font-weight: normal;
  }
  .home_description{
    border-top: 1px solid $light-grey;
  }
}

#navbar-shareimmo, #navbar-clicimmo{
  #oneclic_logo,#shareimmo_logo{
    width: 120px;
  }
  .dropdown-menu{
    a{color:$dark-grey;}
  }
  .up-soon{background:#f54029; padding:0 5px; border-radius:3px; font-size:12px; display:inline-block; position:absolute; top:18px; right:-120px; color:white !important;}
}

#navbar-shareimmo-level2{
  top:51px;
  a{
    &.active{
      border-bottom:3px solid lighten($primary,20%);
      padding-bottom:4px;
    }
  }
}



#oneclicFooter{
  background: #232122;
  a{
    color:$white;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none !important;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}



/************************************************************************
/* VIDEO FullScreen HomePAge
*************************************************************************/
body.pages.home{
  #videoHeroContainer{
    background-image:asset-url('shareimmo/shareimmo_bg.jpg')
  }
}

body.shareimmo{
  #videoHeroContainer{
    background-image:asset-url('shareimmo/shareimmo_bg.jpg')
  }
}


body.shelterr{
  #videoHeroContainer{
    background-image:asset-url('shelterr/shelterr_bg.jpg')
  }
}


body.oneclic{
  #videoHeroContainer{
    background-image:asset-url('oneclic/oneclic_bg.jpg')
  }
}


body.kangalou{
  #videoHeroContainer{
    background-image:asset-url('kangalou/kangalou_bg.jpg')
  }
}


body.immopad{
  #videoHeroContainer{
    background-image:asset-url('shareimmo/shareimmo_bg.jpg')
  }
}
body.zoomvisit{
  #videoHeroContainer{
    background-image:asset-url('shareimmo/shareimmo_bg.jpg')
  }
}


#videoHeroContainer{
  &.inView{
    #navbar-shareimmo, #navbar-clicimmo{
      background: none;
      border-color: transparent;
      a{
        color:white;
        font-weight: bold;
      }
      .dropdown-menu{
        a{color:$dark-grey}
      }
    }
  }
  width: 100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  .myVideoHero{
    height:100%;
    height:100vh;
    video{
      display: block;
      height:auto;
      width: 100%;
      object-fit: contain;
      position: relative;
      top: auto;
    }
  }
  .coverContent{
    background: rgba(0,0,0,0.65);
  }
}

