#sync-kangalou-magex{
  min-height:100vh; background-size:cover; background-position:center;
  .color-primary{color:#f54029 !important;}
  .filigrane{
    height:100%; width:100%; background:rgba(0,0,0,.5); display:flex; justify-content:center; align-items:center;
    #texts{animation-delay:.2s;}
    .logo{min-height:75px;}
    .dots{opacity:.5; font-size:12px;}
    #choices{
      .choice{height:85px;}
      .btn-choice{
        background:rgba(0,0,0,.35); border-radius:3px; box-shadow:0 0 0 2px rgba(245,64,41, .5) inset; opacity:.8; transition:all .2s;
        p{display:block; height:50px; line-height:50px; padding:0px 15px; font-size:22px; font-weight:bold; margin:0;}
        a{
          height:35px; line-height:35px; width:100%; display:block; background:#F54029; text-align:right; padding:0 10px; font-size:14px; color:white; border-radius:0 0 3px 3px; text-decoration:none !important; transition:all .2s;
          &:hover{background:lighten(#f54020, 5%);}
          &:focus{outline:none;}
        }
        &:hover{opacity:1;}
      }
      #no{animation-delay: .4s;}
      #yes-email{animation-delay: .8s;}
      #or{line-height:85px; font-size:18px; animation-delay:1s;}
      #yes-new{animation-delay: 1.2s;}
      .separator{height:85px;}
    }
  }
  .modal{
    .modal-content{border-radius:3px; overflow:hidden;}
    .content{
      height:600px; background-size:cover; background-position:center; display:flex; justify-content: center; align-items:center;
      .close{position:absolute; right:10px; top:10px; font-size:20px; outline:none; opacity:.5;}
      .message{width:100%; padding-left:20px;}
    }
  }

  .steps{
    padding-top:15px; padding-bottom:15px; border-radius:5px; background:rgba(0,0,0,.7);
    .step{
      .num{
        font-size:35px; margin-bottom:20px;
        span{border:2px solid white; border-radius:100%; width:54px; display:inline-block;}
      }
      .info{
        text-align:left; font-size:20px; margin-bottom:35px;
        &.text-center{text-align:center;}
      }
      &:last-child{
        .info{margin-bottom:0;}
      }
    }
  }
  
  #contents{transition:all .2s;}
  #content2, #content3{display:none;}
}

