<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("immosquare_logo.png"), root_path %>
    </div>
  </div>
</nav>



<div class="container">
  <h2>Translate your website using the Immosquare translator</h2>
  <h4 style="color:grey;">Description</h4>
  <div class="description">Using Immosquare's translator, you can now translate your website quickly and efficiently.
    Under 'New Translation' upload your yaml file that you wish to translate and a table will appear for you to make the translations. 
    You can even download your file and continue your translation at a later date. 
    To continue working on your translation, first upload your original file and a 'Modify Translation' option will appear for you to upload your saved file. 
    Once you upload your saved file, the table will be populated with the values you had saved and you can continue finishing your translation right where you left off.
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-one" style="display:inline-block;">
            <%= simple_form_for :upload, url: fileupload_upload_path do |f| %>
            <h3>New Translation</h3>
            <p>
              <%= f.file_field :file %>
            </p>
            <p><%= submit_tag "Upload" %></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6"></div>
          <div class="form-two" style="display:inline-block;">
            <% if !@name.nil? %>
            <%= simple_form_for :modify, url: fileupload_modify_path do |f| %>
            <%= f.input :base_file, as: :hidden, input_html: { value: @name } %>
            <h3> Modify Translation</h3>
            <p><%= f.file_field :file %></p>
            <p><%= submit_tag "Upload" %></p>
            <% end %>
            <% end %>
          </div>
        </div>
     </div>  
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% if !@name.nil? && File.exist?("#{Rails.root}/tmp/formatted_uploaded_file/#{@name}")%>
      <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
          <th style="width:20%">Language: <%= File.foreach("#{Rails.root}/tmp/formatted_uploaded_file/#{@name}").first.split("|")[0] %></th>
        </tr>
        <%= simple_form_for :new_translation, url: fileupload_download_path( base_file: @name) do |f| %>
        <tr>
          <th style="width:20%">Key&nbsp;&nbsp;</th>
          <th style="width:40%">Value</th>
          <% if @modify.nil? %>
          <th style="width:40%"><%= f.input :locale, :label => "Language" %></th>
          <% else %>
          <th style="width:40%"><%= f.input :locale, :label => "Language", input_html: { value: File.foreach("#{Rails.root}/tmp/formatted_uploaded_file/#{@modify}").first.split("|")[0] } %></th>
          <% end %>
        </tr>
        <% File.open("#{Rails.root}/tmp/formatted_uploaded_file/#{@name}", "r").each_line do |line| %>
        <tr>
          <td style="width:20%"><%= line.split("|")[1] %>&nbsp;&nbsp;<br></td>
          <td style="width:40%"><%= line.split("|")[2].html_safe %><br></td>
          <% found = false %>
          <% File.open("#{Rails.root}/tmp/formatted_uploaded_file/#{@modify}", "r").each_line do |lin| %>

          <% if line.split("|")[1] == lin.split("|")[1] %>
          <% value = lin.split("|")[2].chomp.to_s.gsub("<br>", "\r\n") %>
          <td style="width:40%;"><%= f.input :"#{line.split("|")[1]}", as: :text, label: false, input_html: { value: value, class: "valu #{value.present? ? nil : "bkg-yellow"}"}, :required => false %><br></td>
          <% found = true %>
          <% break %>

          <% end %>

          <% end if !@modify.nil? %><!--small loop -->
          <% if !found %>
          <td style="width:40%"><%= f.input :"#{line.split("|")[1]}", as: :text, label: false, :required => false %><br></td>
          <% end %>
        </tr>
        <% end %>
        <tr>
          <td><br></td>
          <td><br></td>
          <td style="width:40%"><%= submit_tag "Download", data: { disable_with: false} %><br></td>
        </tr>
        <% end %><!--simple form -->
      </table>
      <% end %>
    </div>
  </div>
</div>
</div>
