<% if @result.present? %>

<% @result.group_by { |r| r[:type] }.each do |type,group| %>
<div class="h4"><%= type %></div>
<div class="well well-sm">
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striepd">
      <% group.each do |place| %>
      <tr>
        <td><%= truncate(place[:name],:length => 30) %></td>
        <td><%=  place[:duration] %></td>
        <td><%=  place[:distance_real] %></td>
        <td><%=  "#{place[:distance]} m" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>

<% else %>
<div class="h3">Aucun Résultat</div>
<% end %>
