<% @title_for_layout = t('app.metas.help.html.title').html_safe %>
<% @description_for_layout = t('app.metas.help.html.description').html_safe %>
<% @canonical_for_layout = tools_geocoder_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>
<%= render  "pages/header" %>

<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=#{I18n.locale}"%> "></script>
<% end %>


<div class="container pt50 mt50">

  <ol class="breadcrumb">
    <li><%= link_to t('app.home'), root_path %></li>
    <li><%= link_to t('app.tools'), tools_path %></li>
    <li class="active">Goecoder</li>
  </ol>


  <section class="mb20">
    <%= simple_form_for :finder, :url => tools_geocoder_find_path,:method=>:post, :remote => true do |f| %>
    <%= f.input :address,:input_html =>{:id => 'gmaps-input-address',:class=>"input-lg"},:placeholder=> "Taper ici votre adresse",:label=>false %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :type, :collection =>[['Bus & Metro','bus_and_subways'],['Trains','train_stations'],['Schools & Universities','schools_and_universities']], :include_blank => false, :input_html=>{:class=>"input-lg"}, :label => false %>
      </div>
    </div>
    <%= f.input :place_id,:input_html =>{:id => 'GmapsPlaceId'},:as => :hidden %>
    <%= f.submit :class => 'btn btn-block btn-custom-primary mt10', :value => 'Find',:data=>{:disable_with => 'Submitting...'},:name => nil %>
    <% end %>
  </section>

  <div id="geocoderResult">
  </div>


</div>
