<% @title_for_layout = t('app.metas.help.html.title').html_safe %>
<% @description_for_layout = t('app.metas.help.html.description').html_safe %>
<% @canonical_for_layout = html_to_text_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>


<%= render  "pages/header" %>

<div class="container pt50 mt50">

  <ol class="breadcrumb">
    <li><%= link_to t('app.home'), root_path %></li>
    <li><%= link_to t('app.tools'), tools_path %></li>
    <li class="active">HTML to Text Email Converter</li>
  </ol>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>HTML to Text Email Converter</h1>
      <hr>
      <section class="mb20">
        <p>It's always a good idea to send a plain-text version of your HTML email. Writing one from scratch can be tedious, so this handy tool automatically creates a text version of your HTML email.</p>
        <p>Paste your email's HTML below, click Convert, and you'll get a text version that's ready to send.</p>
        <%= simple_form_for :text, :url => html_to_text_parser_path, :remote => true do |f| %>
        <%= f.input :my_text, as: :text,:placeholder=>"Paste your HTML here to convert.", :label=>false, :input_html=>{:rows=>10,:class=>"textarea-noresize"} %>
        <%= f.submit :class => 'btn btn-lg btn-custom-primary mt10', :value => 'Convert',:data=>{:disable_with => 'Submitting...'} %>
        <% end %>
      </section>
      <section id="responseHtmlParser" class="mb50 hide">
        <div class="alert alert-success">
          <strong>Boom!</strong> Below is a text version of your email.
        </div>
        <textarea class="form-control textarea-noresize" rows="10"></textarea>
      </section>
    </div>
  </div>
</div>

<%= render  "pages/footer" %>
