<% @title_for_layout = "Tools" %>
<% @description_for_layout = "Tools" %>
<% @canonical_for_layout = tools_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>
<%= render  "pages/header" %>



<div class="container pt50">

  <ol class="breadcrumb mt20">
    <li><%= link_to t('app.home'), root_path %></li>
    <li class="active"><%= t('app.tools') %></li>
  </ol>

  <div class="h1"><%= t('app.tools') %></div>
  <ul>
    <li><%= link_to "Html", html_to_text_path %></li>
    <li><%= link_to "Géocoder", tools_geocoder_path %></li>
  </ul>
</div>
<%= render  "pages/footer" %>
