/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Colors*/
$white:#ffffff;
$blue:#348fe2;
$black:black;
$purple:#727cb6;
$orange:#F5A623;
$yellow:#FFD700;
$green:#2ECC71;
$red:#E74C3C;
$grey:#696969;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$gold:#ffd700;

/*Light Colors*/
$light-green:#7ac5c8;
$light-blue:#F9FAFF;
$light-red:#e6777a;
$light-grey:#f4f7f9;
$light-orange:#ED8350;


$dark-grey:#515151;
$dark-blue:#2f4050;
$dark-orange:#fa6132;
$dark-green:#3A6177;
$dark-red:#531a1f;
$dark-grey-blue:#31373D;
$grey-blue:#9eb8c1;




$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;


$primary:$dark-green;
$secondary:$yellow;



$color-link:#4A90E2;
$color-link-cross:#f35958;
