body{
  font-family:"Ubuntu";
  font-weight:400;
  letter-spacing:.2px;
  -webkit-font-smoothing: antialiased;
  background:$light-grey;
  &.devise{
    background-size:cover;
    background-image: image-url('diffuseimmo_back.jpg');
    height: calc(100vh);
  }
}


#DiffuseimmoNavbar{
  border-radius: 0px;
  #logoNavbar{
    height: 20px;
  }
}



#user-card{
  width:100%; background-image:image-url('mosaic-connect.svg'); background-repeat:no-repeat; background-position:top left;
  .profile-thumb,.company-thumb{width:130px; height:130px; border-radius:3px; border:1px solid $light-grey; background-color:white;}
  label.file{width:130px; text-align:center;}
}



#flashMessage{
  position: fixed; bottom:20px; left:50%; transform:translateX(-50%); width: 420px; max-width:calc(100% - 40px); z-index:2000;
  .alert{
    border-width: 0px; background:white; border:1px solid $light-grey; animation:flashMessageIn .2s; @extend .medium; border-left-width:5px; border-radius:0; border-color:$light-grey; box-shadow:0 0 5px rgba(0,0,0,.1);
    &.alert-danger{
      border-color:$red; color:$red;
      .close{color:$red; opacity:1;}
    }
    &.alert-success{
      border-color:$green; color:$green;
      .close{color:$green; opacity:1;}
    }
    &.alert-info{
      border-color:#31708f; color:#31708f;
      .close{color:#31708f; opacity:1;}
    }
  }
}




