<div id="footer_shareimmo" class="pt5 pb5 center">
  <div>
    <span class="mr5"><%= "#{t('front_office.powered_by')}"%> <%= link_to @my_provider.name, root_url(:host=> @my_provider.provider_id == "kangalou" ? "www.kangalou.com" : @my_provider.host ,:subdomain=>false),:target=>'_blank',:class=>"bold italic" %></span>
    <% if (user_signed_in? and @user.present? and current_user.id == @user.id) %>
    - <%= link_to "#{t('app.dashboard')}",dashboard_url(current_user.username,:host=>@my_provider.link_host,:subdomain=>false) %>
    <% else %>
    <%= link_to new_user_session_url(:host=>@my_provider.link_host,:subdomain=>false) do %><i class="fa fa-lock mr5 ml10"></i><%= t('front_office.sign_in') %><% end %>
    <% end %>
  </div>
  <div class="fs11 italic"><%= "© #{@my_provider.name} - #{Time.now.year} -  #{t("app.mentions")}"%></div>
</div>
