<div class="container">
  <div class="row">
    <div class="col-sm-6 <%= @profile.is_a_pro_user == 0 ? 'col-sm-offset-3' : '' %>">
      <div class="col-xs-4 center">
        <%= image_tag @profile.picture.url(:medium), :class=>"img-responsive" if @profile.picture? %>
      </div>
      <div class="col-xs-8">
        <h2><%= @profile.public_name %></h2>
        <h4 class="h6 mt5"><%= @profile.job %></h4>
        <ul class="list-unstyled">
          <% if @profile.phone_visibility == 1 and @profile.phone.present? %>
          <li class='mt5 mb5'><i class="fa fa-phone mr5"></i><%= @profile.phone %></li>
          <% end %>
          <% if @profile.phone_sms.present? %><li class='mt5 mb5'><div class="pointer" data-toggle="modal" data-target="#myContactModalSms"><i class="flaticon-sms5 mr5"></i><%= t('front_office.send_my_a_sms') %></div></li><% end %>
          <li class='mt5 mb5'><div class="pointer" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('front_office.send_my_a_mail') %></div></li>
        </ul>
        <ul class="list-inline mb30">
          <% if @user.profile.website.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.website,false) %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.facebook.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.twitter.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.twitter,true) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.linkedin.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.linkedin,true) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.pinterest.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.pinterest,true) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.google_plus.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.google_plus,true) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.instagram.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.instagram,true) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if @profile.is_a_pro_user == 1 %>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-8 a-right">
          <h2><%= @profile.agency_name %></h2>
          <div class="h6">
            <%= @profile.agency_address %><br>
            <%= "#{@profile.agency_city}  #{@profile.agency_zipcode}" %>
          </div>
        </div>
        <div class="col-xs-4">
          <%= image_tag @profile.logo.url(:medium), :class=>"img-responsive" if @profile.logo? %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

