<%= simple_form_for testimonial, :url => broker_testimonial_new_path, :remote=>true do |f| %>
<%= f.input :user_id,:as=>"hidden", :input_html=>{:value=>@user.id}%>
<%= f.input :title %>
<%= f.input :full_name %>
<%= f.input :content,:input_html=>{:class=>"textarea-noresize",:rows=>7} %>
<%= f.submit t('front_office.send'), :class => "btn btn-md btn-custom-primary bold mb20" %>
<% end %>
