<!DOCTYPE html>
<html>
<head>
  <title>MyPrint.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>


<body class='<%= "#{controller_name} #{action_name} admin"%>' >
  <%= render 'layouts/partials/messages' %>
  <%= render 'layouts/partials/header_admin' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
