<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>MyPrint.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>' >
  <%= @store_response["menu"].html_safe if @store_response.present? %>
  <%= render 'layouts/partials/messages' %>
  <%= render 'layouts/partials/spinner' %>
  <%= yield %>
  <%= render 'layouts/partials/footer' if(controller_name != "previews" and !devise_controller?) %>
</body>
</html>
