/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Colors*/
$white:#ffffff;
$blue:#348fe2;
$black:#2d353c;
$purple:#727cb6;
$orange:#f85203;
$yellow:#f59c1a;
$green:#00acac;
$red:#f35958;
$grey:#B3B3B3;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$gold:#ffd700;

/*Light Colors*/
$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f3f3f3;
$light-orange:#ED8350;


$dark-grey:#31373d;
$dark-blue:#2f4050;
$dark-orange:#fa6132;
$dark-green:#26D26E;
$dark-red:#531a1f;
$dark-grey-blue:#31373D;
$grey-blue:#9eb8c1;




$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;


$primary:#2979AF;
$secondary:#42B58B;
$color-link:#4875B4;




