@charset "UTF-8";
/*NEWS TAGS HMTL5*/
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

img {-webkit-user-drag: none;}


/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important;}
.h_100_oour_100{height:100% !important;}
.full-width{width:100% !important;}
.full-height{height:100% !important;}
.bg-cover{
  background-size:cover;
  background-position: center center;
}
.centered-content{display:flex; justify-content:center; align-items:center;}
.filigrane{background:rgba(0,0,0,.5);}
.lighter{font-weight:100}

.opacity-0{opacity:0;}
.opacity-1{opacity:1;}


.absolute-top-left{top:0;left:0;}
.absolute-top-right{top:0;right:0;}
.absolute-bottom-left{bottom:0;left:0;}
.absolute-bottom-right{bottom:0;right:0;}
.z-index-1000{z-index:1000 !important;}
.z-index-10000{z-index:10000 !important;}


.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}


/* --- */
ul.no-margin{margin:0;}
/* --- */
.bold{font-weight:bold;}
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left !important;}
.a-right{text-align:right !important;}
.f-left{float:left !important;}
.f-right{float:right !important;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.block{display: block;}
.flex{display: flex;}
.flex_1{flex:1;}
.align-items{align-items:center}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
.no-border{border:none !important}
.no-border-radius{border-radius:0 !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
table.table-no-bordered td{border-top:none !important}
.valignTop{vertical-align: top !important;}
.valignMiddle{vertical-align: middle !important;}
.borderTopNone{border-top:none !important;}
.border-dotted{border-style: border-dotted}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Bootstrap overwrite */
.img-responsive{display: inline-block;}
.btn{
  @include border-radius(2px);
  &.btn-default{
    &:hover{
      background:#FFF;
      color:$primary;
      border-color:#ccc;
    }
  }
}
.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$grey;
    }
    &.active{
      span{
        border-color:darken($grey,10%);
        background: $grey;
      }
    }
  }
}


h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0}

/* COLOR */
a{
  color:#444444;
  &:hover{
    color:darken(#444444,10%);
    text-decoration:none;
  }
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:$white !important;
}


.color-primary{color:$primary !important;}
.color-secondary{color:$secondary !important;}
.button-primary{
  border-radius:3px; background:$primary; transition:all .2s;
  &:hover{box-shadow:0 0 20px 100px rgba($white, .1) inset;}
  &:active{box-shadow:0 0 20px 100px rgba($black, .1) inset;}
  &:focus{text-decoration:none;}
}




.color-warning{color:#8a6d3b}
.color-white{color:$white !important;}
.color-black{color:$black !important;}
.color-green{color:$green !important;}
.color-red{color:$red !important;}
.color-dark-grey{color:$dark-grey !important;}
.color-gold{color:$gold !important;}
.color-light-grey{color:$light-grey !important;}
.color-grey{color:$grey !important;}





//////////////////////////////////////////////////////////
//  TWITTER
//////////////////////////////////////////////////////////
///////COLOR
.color-twitter{color:$twitter !important;}
///////BORDER
.border-twitter{border-color:$twitter !important;}
///////BACKGROUND
.bg-twitter{background:$twitter !important;}


//////////////////////////////////////////////////////////
//  FACEBOOK
//////////////////////////////////////////////////////////
///////COLOR
.color-facebook{color:$facebook !important;}
///////BORDER
.border-facebook{border-color:$facebook !important;}
///////BACKGROUND
.bg-facebook{background:$facebook !important;}


//////////////////////////////////////////////////////////
//  PINTEREST
//////////////////////////////////////////////////////////
///////COLOR
.color-pinterest{color:$pinterest !important;}
///////BORDER
.border-pinterest{border-color:$pinterest !important;}
///////BACKGROUND
.bg-pinterest{background:$pinterest !important;}



//////////////////////////////////////////////////////////
//  GOOGLE
//////////////////////////////////////////////////////////
///////COLOR
.color-google{color:$google !important;}
///////BORDER
.border-google{border-color:$google !important;}
///////BACKGROUND
.bg-google{background:$google !important;}


//////////////////////////////////////////////////////////
//  YOUTUBE
//////////////////////////////////////////////////////////
///////COLOR
.color-youtube{color:$youtube !important;}
///////BORDER
.border-youtube{border-color:$youtube !important;}
///////BACKGROUND
.bg-youtube{background:$youtube !important;color:$white !important;}


//////////////////////////////////////////////////////////
//  LINKEDIN
//////////////////////////////////////////////////////////
///////COLOR
.color-linkedin{color:$linkedin !important;}
///////BORDER
.border-linkedin{border-color:$linkedin !important;}
///////BACKGROUND
.bg-linkedin{background:$linkedin !important;}


//////////////////////////////////////////////////////////
//  INSTAGRAM
//////////////////////////////////////////////////////////
///////COLOR
.color-instagram{color:$instagram !important;}
///////BORDER
.border-instagram{border-color:$instagram !important;}
///////BACKGROUND
.bg-instagram{background:$instagram !important;}






.bg-green{background: $green;}
.bg-blue{background: $blue;}
.bg-purple{background: $purple;}
.bg-red{background:$red;}
.bg-yellow{background:$yellow;}
.bg-black{background:$black;}
.bg-orange{background:$light-orange}
.bg-grey{background:$light-grey}
.bg-transparency{background: rgba(255,255,255,0.6);}


.bg-transparency{background: transparent;}
.bg-light-grey{background: $light-grey;}
.bg-dark-grey{background: $dark-grey;}
.bg-white{background:$white;}
.bg-primary{background-color: $primary !important}
.bg-secondary{background-color: $secondary;}



.btn-custom-default{
  color:#737373;
  background-color: #fff;
  border:1px solid #e4e4e4 !important;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  &:hover{
    color:#737373;
    background-color: lighten(#e4e4e4,5%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:lighten($primary,45%);
    background-color: lighten($primary, 10%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:darken($secondary, 4%);
    background-color: lighten($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}




// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

// Line height
$lh:0;
@while $lh <= 30{
  .lh#{$lh}{
    line-height:$lh;
    $lh:$lh + 1;
  }
}

//Font Size
$i:10;
@while $i <= 100{
  .fs#{$i}{
    font-size: $i*1px;
  }
  .lh#{$i}{
    line-height: $i*1px ;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}


// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}


// font awesome size
$size:0;
@while $size <= 11{
  .br#{$size} {
    border-radius:$size *1px !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 120{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 9{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}




















































/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important;}
.h_100_oour_100{height:100% !important;}
.full-width{width:100% !important;}
.full-height{height:100% !important;}
.height-auto{height:auto !important;}
.bg-cover{
  background-size:cover;
  background-position: center center;
}
.centered-content{display:flex; justify-content:center; align-items:center;}
.filigrane{background:rgba(0,0,0,.5);}
.lighter{font-weight:100}
.infobulle{padding:10px 15px; background:#80B1EA; border:1px solid #6FA6E7; border-radius:3px; color:white;}
.overflow-hidden{overflow:hidden;}
.invisible{visibility:hidden;}

.opacity-0{opacity:0;}
.opacity-1{opacity:1;}


.absolute-top-left{top:0;left:0;}
.absolute-top-right{top:0;right:0;}
.absolute-bottom-left{bottom:0;left:0;}
.absolute-bottom-right{bottom:0;right:0;}
.z-index-1000{z-index:1000 !important;}
.z-index-10000{z-index:10000 !important;}


.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}


/* --- */
ul.no-margin{margin:0;}
/* --- */
.normal{font-weight:400 !important;}
.medium{font-weight:500 !important;}
.bold{font-weight:600 !important;}
/* --- */
.no-wrap{white-space:nowrap;}
/* --- */
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.lowercase{text-transform: lowercase}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left !important;}
.a-right{text-align:right !important;}
.f-left{float:left !important;}
.f-right{float:right !important;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.block{display: block;}
.flex{display: flex !important;}
.flex_1{flex:1;}
.align-items{align-items:center}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
.no-border{border:none !important}
.no-border-radius{border-radius:0 !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
table.table-no-bordered td{border-top:none !important}
.valignTop{vertical-align: top !important;}
.valignMiddle{vertical-align: middle !important;}
.borderTopNone{border-top:none !important;}
.border-dotted{border-style: border-dotted}

.ellipsis{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width:100%;}


/* Bootstrap overwrite */
.img-responsive{display: inline-block;}
.btn{
  @include border-radius(2px);
  &.btn-default{
    &:hover{
      background:#FFF;
      color:$primary;
      border-color:#ccc;
    }
  }
}
.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$grey;
    }
    &.active{
      span{
        border-color:darken($grey,10%);
        background: $grey;
      }
    }
  }
}

.row{
  &.row-0{
    margin:0;
  }
  &.row-5{
    margin:0 -5px;
    [class*='col-']{padding:0 5px;}
    .row-10{
      margin:0 -10px;
      [class*='col-']{padding:0 10px;}
    }
    .row-20{
      margin:0 -20px;
      [class*='col-']{padding:0 20px;}
    }
  }
  &.row-10{
    margin:0 -10px;
    [class*='col-']{padding:0 10px;}
    .row-5{
      margin:0 -5px;
      [class*='col-']{padding:0 5px;}
    }
    .row-20{
      margin:0 -20px;
      [class*='col-']{padding:0 20px;}
    }
  }
  &.row-20{
    margin:0 -20px;
    [class*='col-']{padding:0 20px;}
    .row-10{
      margin:0 -10px;
      [class*='col-']{padding:0 10px;}
    }
    .row-5{
      margin:0 -5px;
      [class*='col-']{padding:0 5px;}
    }
  }
}

.same-height-col{
  display: -webkit-flex; -webkit-align-items: stretch; display: flex; align-items: stretch;
}
@media (max-width:991px){
  .same-height-col{
    display:block;
  }
}

h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0}

/* COLOR */
a{
  color:#444444;
  &:hover{
    color:darken(#444444,10%);
    text-decoration:none;
  }
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:$white !important;
}


.color-primary{color:$primary !important;}
.color-secondary{color:$secondary !important;}
.color-link{color:$color-link !important;}
.button-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  border:none;
  outline:none !important;
  @include border-radius(2px);
  @include transition-property(color,background-color, box-shadow);
  @include transition-duration(0.2s);
  &:hover{box-shadow:0 0 20px 100px rgba($white, .1) inset !important; color:white;}
  &:active{box-shadow:0 0 20px 100px rgba($black, .1) inset !important;}
  &:focus{text-decoration:none; color:white;}
  &.withShadow{
    box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;
  }
  &.btn-slim{
    background: none !important;
  }
}

.button-secondary{
  color:$white !important;
  background-color: $secondary;
  outline:none !important;
  @include border-radius(2px);
  @include transition-property(color,background-color, box-shadow);
  @include transition-duration(0.2s);
  border:none;
  &:hover{box-shadow:0 0 20px 100px rgba($white, .1) inset; color:white;}
  &:active{box-shadow:0 0 20px 100px rgba($black, .1) inset;}
  &:focus{text-decoration:none; color:white;}
  &.withShadow{
    box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;
  }
  &.btn-slim{
    background: none !important;
  }

}






.color-warning{color:#8a6d3b}
.color-white{color:$white !important;}
.color-black{color:$black !important;}
.color-green{color:$green !important;}
.color-red{color:$red !important;}
.color-dark-grey{color:$dark-grey !important;}
.color-gold{color:$gold !important;}
.color-light-grey{color:$light-grey !important;}
.color-grey{color:$grey !important;}
.color-yellow{color:$yellow !important;}





//////////////////////////////////////////////////////////
//  TWITTER
//////////////////////////////////////////////////////////
///////COLOR
.color-twitter{color:$twitter !important;}
///////BORDER
.border-twitter{border-color:$twitter !important;}
///////BACKGROUND
.bg-twitter{background:$twitter !important;}


//////////////////////////////////////////////////////////
//  FACEBOOK
//////////////////////////////////////////////////////////
///////COLOR
.color-facebook{color:$facebook !important;}
///////BORDER
.border-facebook{border-color:$facebook !important;}
///////BACKGROUND
.bg-facebook{background:$facebook !important;}


//////////////////////////////////////////////////////////
//  PINTEREST
//////////////////////////////////////////////////////////
///////COLOR
.color-pinterest{color:$pinterest !important;}
///////BORDER
.border-pinterest{border-color:$pinterest !important;}
///////BACKGROUND
.bg-pinterest{background:$pinterest !important;}



//////////////////////////////////////////////////////////
//  GOOGLE
//////////////////////////////////////////////////////////
///////COLOR
.color-google{color:$google !important;}
///////BORDER
.border-google{border-color:$google !important;}
///////BACKGROUND
.bg-google{background:$google !important;}


//////////////////////////////////////////////////////////
//  YOUTUBE
//////////////////////////////////////////////////////////
///////COLOR
.color-youtube{color:$youtube !important;}
///////BORDER
.border-youtube{border-color:$youtube !important;}
///////BACKGROUND
.bg-youtube{background:$youtube !important;color:$white !important;}


//////////////////////////////////////////////////////////
//  LINKEDIN
//////////////////////////////////////////////////////////
///////COLOR
.color-linkedin{color:$linkedin !important;}
///////BORDER
.border-linkedin{border-color:$linkedin !important;}
///////BACKGROUND
.bg-linkedin{background:$linkedin !important;}


//////////////////////////////////////////////////////////
//  INSTAGRAM
//////////////////////////////////////////////////////////
///////COLOR
.color-instagram{color:$instagram !important;}
///////BORDER
.border-instagram{border-color:$instagram !important;}
///////BACKGROUND
.bg-instagram{background:$instagram !important;}



// Custom bg image
.noise-bg{background-image:image_url('noise-bg.png');}

.bg-green{background-color: $green}
.bg-blue{background-color: $blue}
.bg-purple{background-color: $purple}
.bg-red{background-color:$red}
.bg-yellow{background-color:$yellow}
.bg-black{background-color:$black}
.bg-orange{background-color:$light-orange}
.bg-lightgrey{background-color:$light-grey}
.bg-grey{background-color:$grey}
.bg-darkgrey{background-color:$dark-grey}
.bg-transparency{background: rgba(255,255,255,0.6)}


.bg-transparency{background-color: transparent;}
.bg-light-grey{background-color: $light-grey;}
.bg-light-blue{background-color: $light-blue;}
.bg-dark-grey{background-color: $dark-grey;}
.bg-white{background-color:$white !important;}
.bg-primary{background-color: $primary !important}
.bg-secondary{background-color: $secondary;}




.btn-custom-default{
  color:#737373;
  background-color: #fff;
  border:1px solid #e4e4e4 !important;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  &:hover{
    color:#737373;
    background-color: lighten(#e4e4e4,5%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:lighten($primary,45%);
    background-color: lighten($primary, 10%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  &:hover{
    color:darken($secondary, 4%);
    background-color: lighten($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
  &.withShadow{box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset !important;}
}


// Borders
.br{border-right:1px solid black;}
.bl{border-left:1px solid black;}
.bt{border-top:1px solid black;}
.bb{border-bottom:1px solid black;}
.bAll{border:1px solid black;}
.border-primary{border-color:$primary;}
.border-secondary{border-color:$secondary;}
.border-light-grey{border-color:$light-grey;}
.border-grey{border-color:$grey;}

.border-black{border:1px solid $black}


// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

// Line height
$lh:0;
@while $lh <= 30{
  .lh#{$lh}{
    line-height:$lh*1px !important;
    $lh:$lh + 1;
  }
}

//Font Size & Line height
$i:1;
@while $i <= 100{
  .fs#{$i}{
    font-size: $i*1px !important;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}


// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}


// border-radius
$size:0;
@while $size <= 11{
  .br#{$size} {
    border-radius:$size *1px !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 120{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}


// Négatives Margin and Padding
$a:0;
@while $a <= 40{
  // Margin
  .ml-#{$a}{margin-left: -$a*1px !important;}
  .mr-#{$a}{margin-right: -$a*1px !important;}
  .mt-#{$a}{margin-top: -$a*1px !important;}
  .mb-#{$a}{margin-bottom: -$a*1px!important;}
  .mAll-#{$a}{margin: -$a*1px !important;}
  // Padding
  .pl-#{$a}{padding-left: -$a*1px !important;}
  .pr-#{$a}{padding-right: -$a*1px !important;}
  .pt-#{$a}{padding-top: -$a*1px !important; }
  .pb-#{$a}{padding-bottom: -$a*1px !important;}
  .pAll-#{$a}{padding: -$a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}



