body {
  font-family:'Ubuntu';
  font-weight:400;
  background:$light-grey;
  letter-spacing:.2px;
  -webkit-font-smoothing: antialiased;
  #header-nav{
    .top-header{height:60px; line-height:60px;}
    #logo{img{margin-top:-10px;}}
  }
  &.devise,&.pages.home{
    background-size:cover;
    background-image: image-url('myprint_back.jpg');
    height: calc(100vh);
  }
  &.dashboard{
    padding-top: 50px;
  }
}


.svgContainer{
  height:0px;
  padding-bottom:56.25%;
  position:relative;
  width:100%;
  svg,iframe,object,canvas{
    position:absolute;
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
  }
}



#flashMessageContainer{
  position:fixed;
  right:20px;
  top:60px;
  width: 420px;
  max-width:calc(100% - 40px);
  z-index:2000;
  div{
    background:white;
    border:1px solid $light-grey;
    padding: 15px;
    margin-bottom: 5px;
    border-left-width:5px;
    border-radius:0;
    border-color:$light-grey;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    &.flash-danger{
      border-color:$red; color:$red;
      .close{color:$red; opacity:1;}
    }
    &.flash-success{
      border-color:$green; color:$green;
      .close{color:$green; opacity:1;}
    }
    &.flash-info,&.flash-notice{
      border-color:#31708f; color:#31708f;
      .close{color:#31708f; opacity:1;}
    }
  }
}




// spinner
.layer, .layer > *{
  position:absolute;
  left:0;
  width:100%;
}
#layer-full{
  top:0; height: 100%; z-index: 10;display:none;
}
#layer-spinner{
  top:0; height: 100%; z-index: 10; background: rgba(0,0,0,0.2);
  display: flex; justify-content: center; align-items: center;
  color: white;
}

