body.previews.show{
  $menuHeight: 50px;
  $leftSideWitdth: 300px;
  .draggableClone{
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  .bg-editable{
    background-color: rgba(206,214,2,0.28);
  }
  .bg-noneditable{
    background-color: rgba(0,0,0, 0.0);
  }
  #appView{
    height: calc(100vh);
    width: 100%;
    overflow: hidden;
    background: $light-grey;
    -webkit-font-smoothing: antialiased;
    #leftSide{
      width: $leftSideWitdth;
      height: calc(100%);
      float:left;
      #pictureContainer{
        overflow-x: auto;
        height: 100%;
        ul{
          li{
            z-index: 10000;
          }
        }
        .check_images{
          background-color: $white;
          border-radius: 10px;
          position: absolute;
          top: 0;
          right: 10px;
        }
      }
    }
    #rightSide{
      height: calc(100%);
      width: calc(100% - #{$leftSideWitdth});
      float:right;
      overflow-x: auto;
      .dragEnter{
        .dropzone-layer{
          background-color: rgba($red,0.5%);
        }
      }
      .delete_image{
        padding: 3px 3px 3px 3px;
        background-color: $white;
        border-radius: 10px;
        z-index: 10000;
        position: absolute;
        cursor: pointer;
        i{
          &:hover{
            color: $red !important;
          }
        }
      }
      div.dropzone{
        border: 1px solid $black;
        // z-index:10;
        display:table;
        // background-color: rgba($grey,0.8%);
      }
    }
  }
}


