<%= render 'layouts/generic_meta' %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
    <div class="full-width center pl20 pr20 pb20 pt20">
      <%= link_to dashboard_path do %>
        <%= image_tag "logo_pixis_large.png", :class=>"img-responsive" %>
      <% end %>
    </div>
  </div>
</div>
