<!-- Modal -->
<div class="modal fade" id="add_playlist_modal" tabindex="-1" role="dialog" aria-labelledby="add_playlist_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une playlist</h4>
      </div>
      <div class="modal-body">

        <%= simple_form_for :playlist, :url => playlist_create_path do |f| %>
        <div class="well well-sm">
          <%= f.input :name, :label => "Nom de la playlist" %>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>