       <h2>Playlist :  <%= @playlist.name %></h2>

       <br/>

       <table class="table table-striped">
       	<tr class="active">
       		<th style="width:50px">ID</th>
       		<th>Name</th>
       		<th>URL</th>
           <th>Video ID</th>
           <th>Actions</th>
         </tr>
         <% @playlist.tracks.each do |t| %>
         <tr>
           <td><%= t.id %></td>
           <td><%= t.name %></td>
           <td><a href="#{t.url}"><%= t.url %></a></td>
           <td><%= t.video_id %></td>
           <td>
            <% if current_user.id == @playlist.user_id %>
            <%= link_to "Enlever de la playlist", {controller: "tracks", action: "remove_from_playlist", id: t.id }, :method => "post", :class => "btn btn-custom-primary" %>
            <% else %>
            -
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>