<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/partials/generic_meta' %>

<h2>Mes playlists</h2>

<div class="mb10 mt10 center">
  <a class="btn btn-custom-primary btn-sm" href="#" data-toggle="modal" data-target="#add_playlist_modal"><i class="fa fa-plus mr4"></i> Ajouter une playlist</a>
</div>
<%= render 'playlists/add_playlist_form' %>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Nom</th>
    <th >Ajouté par</th>
    <th>Actions</th>
  </tr>
  <% @playlists.each do |z| %>
  <tr>
    <td><%= z.id %></td>
    <td><%= z.name %></td>
    <td><%= z.user.username %></td>
    <td>
      <%= link_to "Details", {controller: "playlists", action: "details", id: z.id },:method => "post", :class => "btn btn-custom-primary" %>

      <% if current_user.id == z.user_id %>
      <%= link_to "Supprimer", playlist_destroy_path(z),:method => "delete", :data=>{:confirm=>"Are you sure?"}, :class => "btn btn-custom-primary" %>
      <% end %>
    </td>
  </tr>

  <% end %>
</table>

<%= will_paginate @playlists, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>

