<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h2 class="color-green mb15"><%= t('app.thank_you') %></h2>

      <p><%= t("app.order.ordered_on",  date: I18n.localize(@diffuseimmo_order.created_at.to_time,:format=>("%d %b %Y"))) %></p>
      <p><%= t('app.reference') %>: <%= @diffuseimmo_order.reference_number %></p>
      <p><%= t('app.address') %>: <%= @diffuseimmo_order.address %></p>
      <p><%= t('app.room_type') %>: <%= @diffuseimmo_order.room_type %></p>
      <p><%= t('app.room_type_comments') %>: <%= @diffuseimmo_order.room_type_comments %></p>
      <p><%= t('app.photo') %>: <%= image_tag((@diffuseimmo_order.picture_url), width: 140, height: 94) %></p>
      <p><%= t('app.decoration_style') %>: <%= @diffuseimmo_order.decoration_style %></p>
      <p>----------</p>
      <p><%= t('app.first_name') %>: <%= @diffuseimmo_order.r_first_name %></p>
      <p><%= t('app.last_name') %>: <%= @diffuseimmo_order.r_last_name %></p>
      <p><%= t('app.tel') %>: <%= @diffuseimmo_order.r_tel %></p>
      <p><%= t('app.email') %>: <%= @diffuseimmo_order.r_email %></p>
      <p><%= t('app.company_name') %>: <%= @diffuseimmo_order.r_company_name %></p>
      <p><%= t('app.company_email') %>: <%= @diffuseimmo_order.r_company_email %></p>
      <p><%= t('app.notes') %>: <%= @diffuseimmo_order.r_notes %></p>
      <p>----------</p>
      <p><%= t('app.cost') %>: 1 credit</p>
    </div>
  </body>
</html>