 <% @scraps.each do |s| %>
 <tr>
  <td><%= s.id%></td>
  <td><%= s.api_provider.name%></td>
  <td><%= s.ads_count%></td>
  <td><strong><%=  s.created_at.strftime("%d %b %Y") %></strong></td>
  <td><strong><%=  s.created_at.strftime("%H:%M") %></strong></td>
</tr>
<% end %>
