<%= render :layout => 'devise/layout' do %>
<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
  <div class="full-width connect pl20 pr20 pb15 pt15" style="background-image:url(<%= image_path 'mosaic-connect.svg' %>);">
    <h2 class="fs20  color-secondary  mt20 mb10 normal text-center medium"><%= t('doorkeeper.authorizations.error.title') %></h2>
    <%= @pre_auth.error_response.body[:error_description] %>
  </div>
</div>
<% end %>
