<%= render :layout => 'devise/layout' do %>
<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
  <div class="full-width connect pl20 pr20 pb15 pt15 center" style="background-image:url(<%= image_path 'mosaic-connect.svg' %>);">
    <h2 class="fs20 color-secondary mt20 mb10 normal text-center medium"><%= t('doorkeeper.authorizations.new.title') %></h2>
    <p class="mt10 mb10"><%= raw t('doorkeeper.authorizations.new.prompt', client_name: "<strong class=\"text-info\">#{ @pre_auth.client.name }</strong>") %></p>
    <% if @pre_auth.scopes.count > 0 %>
    <p><%= t('doorkeeper.authorizations.new.able_to') %>:</p>
    <ul>
      <% @pre_auth.scopes.each do |scope| %>
      <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="center">
      <ul class="list-inline">
        <li>
          <%= form_tag oauth_authorization_path, method: :delete do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :scope, @pre_auth.scope %>
          <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn btn-default" %>
          <% end %>
        </li>
        <li>
          <%= form_tag oauth_authorization_path, method: :post do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :scope, @pre_auth.scope %>
          <%= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-default" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>
