<div id="MyHeaderHeroNav" class="clearfix">
  <div class="comp pull-left">
    <%= link_to root_url do %>
    <%= image_tag "logos/shareimmo.png", :class=>"img-responsive", :id => "logo" %>
    <% end %>
  </div>
  <div class="hidden-xs">
    <%= simple_form_for :search,:url=> map_shareimmo_path,:method => "get",:html=>{:id=>"searchFormFake"} do |f| %>
    <div class="comp pull-left search-bar-wrapper">
      <i class="fa fa-search fa-15x"></i>
      <%= f.input :locality,:as=>:string,:placeholder =>t('front_office.enter_a_city'),:wrapper=>false,:label => false,:input_html=>{:id =>"gmaps-input-address"} %>
      <%= f.input :bounds, :as =>"hidden" %>
    </div>
    <% end %>
    <%# Main Menu %>
    <div class="comp pull-right block mr2 pointer">
      <% if user_signed_in? %>
      <%= link_to map_shareimmo_path do %>
      <span class="hidden-sm hidden-xs"><%= current_user.email%></span>
      <div class="user-profile-image inline-block">
        <%= image_tag avatar_to_display(current_user,30),:class=>'img-responsive' %>
      </div>
      <i class="fa fa-angle-down ml5"></i>
      <% end %>
      <div class="drop-down-menu">
        <%= link_to t('app.dashboard'),dashboard_path(current_user.username) %>
        <%= link_to t('app.sign_out'), destroy_user_session_path, :method=>'delete' %>
      </div>
      <% else %>
      <%= link_to t('app.sign_in'), new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
