<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta charset="utf-8">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=drawing,places" if(controller_name == "front_office" || devise_controller? ||  action_name == "listing_location") %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>

<body class='<%="#{devise_controller? ? "devise" : nil} #{controller_name} #{action_name}"%>'>
  <%= render 'layouts/partials/messages' %>
  <%= yield %>
  <%= render 'layouts/partials/tracking_init' %>
</body>
</html>
