body.dashboard{

 #properties{
  .property{
    border:1px solid $light-grey;
    display:inline-block;
    width:100%;
    .thumb{height:120px; width:120px; margin:-1px 0 -1px -1px; background-color:#eee;}
    .social-network{
      height:29px; width:29px; line-height:29px; text-align:center; margin-top:-1px; margin-right:-1px; transition:box-shadow .2s;
      &:hover{box-shadow:0 0 10px 100px rgba($white, .2) inset;}
      &:active{box-shadow:0 0 10px 100px rgba($black, .2) inset;}
    }
  }
}


#history-list{
  border-right:1px solid $light-grey;
  .history{
    border:1px solid $light-grey; display:inline-block; width:100%;
    .thumb{height:82px; width:81px; margin:-1px 0 -1px -1px; background-color:#eee;}
    .infos{
      width:calc(100% - 80px);
      .bottom{
        .social-network{height:26px; width:26px; line-height:26px; text-align:center; margin-top:-1px; margin-right:-1px;}
      }
    }
  }
}


textarea, input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
  border-radius:3px;
  border:1px solid $grey;
  width:100%;
  resize:none;
  transition:border .2s;
  will-change:border;
  padding:0 15px;
  background:white;
  box-shadow:0 0 0;
  font-size:12px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  &:focus{
    outline:none;
    box-shadow:0 0 0;
    border-color:rgba($secondary, .5);
  }
}
input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
  height:40px; padding:0 15px;
  &.small-input{height:30px; font-size:12px; padding:0 10px;}
}
textarea{padding:10px 15px;}
select{
  appearance:none; -moz-appearance:none; -webkit-appearance:none; background-image:image-url('select-dropdown.svg'); background-repeat:no-repeat; background-position:center right; padding-right:40px; box-shadow:0 0 0; line-height:30px;
  &:hover{cursor:pointer;}
}
.inline-checkbox{
  position:relative;
  input[type=checkbox], input[type=radio]{display:inline-block; position:absolute; top:9px; left:15px;}
  input[type=checkbox]{width:10px; height:10px; top:11px;}
  label{
    padding:9px 15px; @extend .normal; font-size:14px; color:$grey; border:1px solid $light-grey; border-radius:3px; cursor:pointer; padding-left:40px; margin:0;
    .medias{
      float:right; margin-right:-13px; margin-bottom:-5px;
      svg{
        display:inline-block; max-height:30px; margin:-5px 2px;
      }
    }
  }
  input[type=checkbox]:checked + label, input[type=radio]:checked + label{
    border-color:rgba($secondary, .5); color:$secondary !important;
    *{color:$secondary !important;}
  }
}
input[type=checkbox], input[type=radio]{cursor:pointer; outline:none !important; margin:0;}
}



body.dashboard{
  #sidebar_my_services{
    list-style:none; margin:0; padding:0;
    li{
      &.active{
        background: $primary;
        a{
          color:$white;
        }
      }
      a{
        display:inline-block;
        height:35px;
        line-height:35px;
        width:100%;
        padding:0 15px;
        color:rgba(0,0,0,.6);
        border-bottom:1px solid #eee;
        font-size:12px;
        i{margin-top:10px; font-size:14px;}
        &:focus{text-decoration:none !important;}
      }
      &.more-services{
        background:#eee; height:25px; line-height:20px;
        a{height:25px; line-height:25px; color:#56A7FF;}
        i{font-size:10px; margin-top:13px;}
      }
      &:first-child{border-top:1px solid #eee;}
    }
  }
  h6,.h6{
    font-size:11px;
    color:$color-link;
    outline: none;
    a{
      color:$color-link;
      font-size: 11px;
      outline: none;
      text-decoration: none;
      border-right:1px solid $grey;
      padding-right: 8px;
      margin-right: 8px;
      &:last-child{
        padding-right:0 !important;
        border-right:0;
      }
    }
    i{
      font-size:10px;
    }
  }
  .condo-line{
    .popover{
      border-radius:3px 0 3px 3px; padding:0; border:0; margin-top:0; box-shadow: 0 0 0; z-index:10;
      .arrow{display: none;}
      .popover-content{
        padding:0;
        a{width:100%; border-radius:0; box-shadow: 0 0 0 !important;}
        a:first-child{border-radius:3px 0 0 0;}
        a:last-child{border-radius:0 0 3px 3px;}
      }
      border:1px solid rgba(204, 204, 204, 0.3); box-shadow:0 3px 5px rgba(0, 0, 0, 0.05);
      .popover-title{display: block !important;}
      .arrow{border-bottom-color:rgba(0, 0, 0, 0.18);}
    }
  }
  .condo-info{
    border-bottom:1px solid #ededed;
    display:flex;
    align-items:center;
    .image{
      border: 1px solid $light-grey;
      width:120px;
      height:80px;
      display:inline-block;
      background-size:cover;
      background-position:center;
      border-radius:4px;
      overflow: hidden;
      background-color:#ddd;
      float:left;
    }
  }
}



#service_sidebar{
  border-right:3px solid #eaeaea; padding-right:15px;
  .image{width:100%; height:180px; background-size:cover; background-position:center; border-radius:8px; border:1px solid rgba(0,0,0,.05);}
  h2{font-size:20px;}
  h3{font-size:16px; color:#bfbfbf}
}



#visits{
  select{width:160px; height:31px; box-shadow: 0 0 0; border:0; outline:1px solid #dedede; color:#bebebe; font-size:16px; display: inline-block;}
  .btn{box-shadow:0 -2px 0 rgba(#000, .2) inset; cursor:pointer; border:0;}
  .feedback-line{
    display:flex; align-items:center; border-bottom:1px solid #ededed; padding:15px 0 12px 0;
    input{margin:0;}
    .image{width:95px; height:55px; display: inline-block; background-size:cover; background-position:center; border-radius:4px; overflow: hidden; background-color:#ddd;}
    div{display: inline-block;}
    h3,h4,h5{display: inline-block; margin:0;}
    h3{font-size:18px;}
    h4,h5{font-size:16px; color:#bfbfbf;}
    h6{
      font-size:11px;
      a{color:#56A7FF;}
      i{font-size:10px;}
    }
    .btn1{padding:5px 10px 7px 10px; box-shadow:0 -2px 0 rgba(#000, .5) inset;}
    .action{margin-left:30px;}
    .fa-star{font-size:30px; color:#ffe400;}
    .fa-check{color:#5cb85c;}
    .fa-close{color:#d9534f;}
  }
}



.visibility-content{
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  transition:all .2s;
  overflow:hidden;
  color:white;
  z-index: 100;
  &.activated{
    width:100%;
    height:100%;
    padding:10px;
  }
}

.setting_edit{
  .panel-header{
    float:left;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size:18px;
    background:darken($light-grey,5%);
    padding:0 10px;
    color:#afafaf;
  }
  label{font-weight:normal;}
  .form-control:focus{box-shadow:0 0 0;}
  .panel-body{width:100%;}
  .panel-help{border-radius:0; font-size:12px;}
  .setting_edit_line{
    cursor:pointer;
    i.fa.fa-pencil{display: none;}
    &:hover{
      i.fa.fa-pencil{display:block;}
    }
    border-left: 1px solid #f3f3f3;border-right: 1px solid #f3f3f3;border-bottom: 1px solid #f3f3f3; padding-top:10px; padding-bottom:10px;
    input[type=text], input[type=email], input[type=tel], select{
      width:100%; border-radius:4px; border:2px solid #e6e6e6; box-shadow:0 0 0 !important; color:#555555; padding-left:7px;
      &:focus{border-color:rgba(52, 73, 94, 0.4);}
    }
    input[type=tel], .url{border-radius:0 4px 4px 0 !important;}
    .form{display:none;}
    &:hover{background:$light-grey;}
    &.active{
      background:$light-grey;
      .value{display:none;}
      .form{display:block;}
      &:hover{
        i.fa.fa-pencil{display: none;}
      }
    }
  }
}

body.back_office.services{
  #myModalVisibility{
    .modal-content{
      .btn-group{
        width:100%;
      }
      label{
        input[type=checkbox]{
          display:block;
          margin:4px 4px;
        }
      }
    }
  }
}







body.back_office.services_home{
  #services{
    .single-service{
      border:1px solid #ddd;
      border-radius:3px;
      overflow:hidden;
      margin-bottom:4px;
      .header{
        height:35px; line-height:35px;
        .title{
          font-size:16px; padding:0 15px;
          i{transition:all .2s;}
        }
        .use{
          color:white; background:#4A90E2; font-weight:bold; border-radius:0 2px 0 0;
          i{font-size:12px;}
        }
      }
      .more-infos{
        display:none; border-top:1px solid #ddd;
        .picto{
          height:150px; border-right:1px solid #ddd; position:relative;
          img{position:absolute; top:0; left:0;height: 100%;width: 100%;}
        }
        .right{
          position: relative;
          height:150px;
          p{
            font-size:12px;
            line-height:20px;
            color:rgba(0,0,0,.6);
          }
          .bottom-row{
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:30px;
            line-height:30px;
            background:#F2F2F2;
            padding:0 10px;
            font-size:12px;
            color:rgba(0,0,0,.6);
            label{font-weight:normal;}
          }
        }
      }
      &.toggled{
        overflow:visible;
        .title i{transform:rotate(90deg);}
      }

      &.form{
        display:none;
        .header{
          .title-input{
            input{
              border:0; height:35px; width:100%; padding:0 0 0 10px;
              &:focus{outline:none;}
            }
          }
          button{border:0; height:35px; line-height:32px; background:#2ECC71 !important;}
        }
        .more-infos{
          display:block !important;
          textarea{
            border:0; resize:none; background:transparent; height:120px; width:100%; margin-left:-15px; margin-right:-15px; padding:10px 15px;
            &:focus{outline:none;}
          }
          .bottom-row{
            padding:0;
            input{
              background:#F8F8F8; border:0; width:50%; border-left:1px solid #ddd; border-top:1px solid #ddd; padding:0 10px; border-radius:0 0 2px 0;
              &:focus{outline:none;}
            }
            button{border:0; background:transparent; color:#4A90E2; height:30px; line-height:28px; padding:0;}
          }
        }
      }
    }
    #not-activated-services{
      .single-service{
        .more-infos{
          display:block; border-top:0;
          h3{font-size:16px;}
          .activate{
            height:30px;
            background:#2ECC71;
            padding:0 10px; margin:0 -10px 0 0;
          }
        }
      }
    }
  }
}





body{
  &.back_office ,&.registrations.edit,&.registrations.update{
    font-weight: 300;
    background: $light-grey;
  }
  &.back_office.listglobally{
    overflow: hidden;
  }
}

.ribbon_sold_rent{
  z-index: 100;
  width: 150px;
}

/************************************************************************
/* Kangalou
*************************************************************************/
body.dashboard.kangalou{
  .kangalou-steps{
    .kangalou-step{
      border-radius:3px; background:white; border:1px solid #ddd;
      h3:first-child{color:#868686;}
      p{font-size:14px; line-height:22px; text-align:justify; color:#A7A7A7;}
      hr{border-color:#ddd;}
    }
  }
  .video-helpers{
    .video-helper{
      border-radius:3px; background:white; border:1px solid #ddd;
      .video{height:170px; background:#eee;}
      .title{font-size:12px; color:#868686; height:55px; overflow:hidden; text-overflow:ellipsis;}
    }
  }
}

/************************************************************************
/* Remove Unregistred Licence from Froala
*************************************************************************/
div.fr-box{
  a[href^="https:"]{
  display: none !important;
  }
}

/************************************************************************
/* Dashboard Filter
*************************************************************************/
#dashboardFilter{
  float:right;
  li{
    float:right;
    select{border:0; box-shadow: 0 0 0; outline:1px solid #ddd !important;}
    select:focus{border:0; outline-offset: 0;}
    input[type=submit]{border-radius:0 3px 3px 0; outline:none;}
  }
}

/************************************************************************
/* Bar de Menu
*************************************************************************/
#MyHeaderHeroNav{
  background: #fff;
  font-size:13px;
  border-bottom: 1px solid #dce0e0;
  #logo{
    max-height: 15px;
    &.kangalou_logo{
      max-height: 40px;
    }
  }
  .navbar{background: white;}
  .navbar-toggle{padding:0; font-size:30px; border:0; margin:9px 20px 0 0;}
  .navbar-toggle:hover{background: transparent;}
  .navbar-toggle:focus{background: transparent;}
  .dropdown.open .dropdown-toggle{background:#F2F2F2;}
  .navbar-collapse{
    font-size:15px; background:#f9f9f9;
  }
  .user-profile-image {
    height: 30px;
    width: 30px;
    top: 10px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    position: relative;
    height: 30px;
    width: 30px;
    top: 15px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    img {
      vertical-align: top;
      border-radius: 50%;
      border: 2px solid #dce0e0;
    }
  }
  .comp{
    height: 61px;
    line-height: 61px;
    border-left: 1px solid #dce0e0;
    position: relative;
    a,.like_a{
      margin: 0 19px;
      display: block;
    }
    &:hover{
      background: #f5f5f5;
      a{
        color: $black;
      }
    }
    .drop-down-menu {
      border-box: border-box;
      position: absolute;
      z-index: 3001;
      top: 61px;
      left: auto;
      right: -1px;
      display: none;
      min-width: 277px;
      max-width: 460px;
      line-height: normal;
      -moz-border-radius: 0 0 2px 2px;
      -webkit-border-radius: 0 0 2px 2px;
      border-radius: 0 0 2px 2px;
      background: $white;
      border: 1px solid #DCE0E0;
      padding: 0px;
      a{
        padding:15px 10px;
        display:block;
        margin:0;
        &:hover{
          background:#F7F7F7;
          color:black;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

.grey-border{
  background: $white;
  border: 1px solid #dce0e0;
  .panel-header{
    color: #565a5c;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
    padding:5px 15px;
  }
  .panel-body{
    padding: 20px;
  }

}

.primary-border{
  background: $white;
  border: 1px solid lighten($primary, 15%);
  .panel-header{
    color: white;
    font-size: 16px;
    border-bottom: 1px solid lighten($primary, 15%);
    background-color: lighten($primary, 5%);
    padding:5px 7px;
    button, a{background:transparent; border:0; color:white; font-size:16px; padding:0;}
    button:hover, a:hover, button:active, a:active{background:transparent; border:0; color:white !Important; box-shadow:0 0 0; opacity:1; transition: all .2s;}
    button:active, a:active{opacity:.7;}
  }
  .panel-body{
    padding: 20px;
  }

}

.subnav{
  border-bottom: 1px solid darken($light-grey, 10%);
  color:$grey;
  background: $light-grey;
  height:35px;
  line-height: 35px;
  font-size:16px;
  .pull-right{
    li{height:35px; line-height:35px;}
  }
}






.directionLinkContainer{
  .directionLink{
    opacity: 0;
  }
  &:hover{
    .directionLink{
      opacity: 1;
    }
  }
}



.list {
  position: relative;
  .item {
    position: relative;
    display: block;
    padding-top: 8px;
    padding-left: 106px;
    min-height: 100px;
  }
  img{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
  }
}




.widget-chart .chart-title {
  font-size: 18px!important;
  color: #fff;
  font-weight: 300!important;
  margin: 2px 5px 7px;
}


.widget.widget-stats {
  position: relative;
}
.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  padding: 15px;
  overflow: hidden;
}
.widget-stats .stats-icon.stats-icon-lg {
  font-size: 52px;
  top: 12px;
  right: 21px;
}
.widget-stats .stats-icon {
  font-size: 42px;
  height: 56px;
  width: 56px;
  text-align: center;
  line-height: 56px;
  margin-left: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: .2;
  filter: alpha(opacity=20);
}
.widget-stats .stats-title {
  position: relative;
  line-height: 1.1;
  margin: 2px 0 7px;
}
.widget-stats .stats-number {
  font-weight: 300;
  margin-bottom: 10px;
}
.widget-stats .stats-progress {
  background: rgba(0,0,0,.2);
  height: 2px;
  margin: 0 -15px 12px;
}
.widget-stats .stats-desc {
  font-weight: 300;
  margin-bottom: 0;
}
.widget-stats .stats-progress .progress-bar {
  background: #fff;
}



body.back_office.blog_edit{
  div.modal-backdrop{
    position: relative;
  }
}




.property--block{
  .img-wrap{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 200px;
    a{
      display: block;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.025, 1.025);
        -webkit-backface-visibility: hidden;
      }
    }
  }
  .meta--details{
    position: absolute;
    bottom: 15px;
    right: 15px;
    pointer-events: none;
    .status{
      display: block;
    }
    .price{
      display: block;
      position: relative;
      padding: 5px 10px;
      z-index: 100;
      overflow: hidden;
      font-size: 20px;
      clear: both;
      -webkit-transition: all 700ms ease;
      background: rgba(250,250,250,0.9)
    }
  }
  .content-wrap{
    border-radius: 0 0 3px 3px;
    .breadcrumb{
      background: transparent;
    }
    .title{
      font-size: 1.3em;
      line-height: 1.4em;
      a{
        color:#333;
      }
    }
  }
  .infosPropertyDashboard{
    padding-left: 220px;
  }
}


.quantityHelper{
  max-width: 150px;
  input{
    background-color: $white !important;
  }
}

.picture_item{
  a{
    position: absolute;
    top:0;
    right: 0;
  }
}


#dropzone {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  border:2px dashed #ddd;
  &.in {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: larger;
  }
  &.hover {
    background:rgba(206,232,246,.59);
    color:white;
  }
  &.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}


.img-wrap{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  article{
    display: block;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.025, 1.025);
      -webkit-backface-visibility: hidden;
    }
  }
}
.add--default{
  position: absolute;
  top:3px;
  left:5px;
}
.meta--details{
  position: absolute;
  bottom: 15px;
  right: 15px;
  pointer-events: none;
  .status{
    display: block;
  }
  .price{
    display: block;
    position: relative;
    padding: 5px 10px;
    z-index: 100;
    overflow: hidden;
    font-size: 20px;
    clear: both;
    -webkit-transition: all 700ms ease;
    background: rgba(250,250,250,0.9)
  }
}








body.back_office.website,body.back_office.inventories_parameters{
  div.setupContainer{
    background: darken($white,4%)
  }
  ul.nav-sticky{
    padding:10px 0;
    font-size:12px;
    cursor:pointer;
    &.is-open{
      li.withBigSpace{
        width: 70%;
      }
    }
    &:hover{
      background: darken($white,4%)
    }
  }
}


.property--preview{
  position: relative;
  float:left;
  span{
    position: absolute;
    top:5px;
    left:5px;
  }
}

.social--links{
  .btn.disabled{
    opacity: 0.40;
  }
}

.app--description{
  border-top:1px solid $white;
  border-bottom:1px solid $white;
}
.app--description--dark{
  border-top:1px solid $secondary;
  border-bottom:1px solid $secondary;
}






.form-group.profile_picture,.form-group.profile_logo{
  opacity: 0;
  display: none;
}








.navbar-estate{
  @include border-radius(0px);
  margin-bottom:0px;
  border:none;
}



#footer_shareimmo{
  background: $black;
  color:$white;
  a{
    color:$white;
  }
}


#setupCover{
  position:relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  #setupAvatar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    img{
      max-width:250px;
      max-height:250px;
      display:inline-block;
    }
  }
  #setupHook{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    top:0px;
    #hookColor{
      @include border-radius(10px);
      display:inline-block;
    }
    &.withoutBg{
      #hookColor{
        background:none!important;
      }
    }
  }
}






#mapContainer{
  position:absolute;
  width:100% !important;
  height:100% !important;
  top:0;
  left:0;
  img {
    max-width: none !important;
  }
  label {
    width: auto; display:inline;
  }
}



.block-dashed{
  @include border-radius(4px);
  border:2px dashed $light-grey;
  color:darken($light-grey,30%);
  h1,h2,h3,h4,h5{
    color:darken($light-grey,30%);
  }
}







#subdomain_hint{
  height: 17px;
}








#supportNavbar{
  border-radius: 0px;
}







.niveau_td{
  max-width: 150px;
}




.minicolors-swatch-color{
  border:1px solid lighten($dark-grey, 10%);
}






.spinContainer{
  z-index: 11000;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}





.nav-tabs > li.active > a{
  background: $primary;
  color:$white;
  &:hover{
    background: $primary;
    color:$white;
  }
}











.greyBorder {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: solid 2px #dddddd;
  padding-left: 15px;
  padding-right: 15px;
}



.no-bold{font-weight:normal;}
.grey-b-r{border-right:1px solid #dedede;}
.grey-b-b{border-bottom:1px solid #dedede;}
.grey-b-t{border-top:1px solid #dedede;}
.absolute-bottom{position:absolute; bottom:0;}
.full-width{width:100%;}
.color-success{color:#5cb85c !important;}




.firefox #annonce_form_right .property_rooms{display:block !important;}


#annonce_form_right{
  *::-webkit-input-placeholder {color:#b2b2b2;}
  *:-moz-placeholder           {color:#b2b2b2;}
  *::-moz-placeholder          {color:#b2b2b2;}
  *:-ms-input-placeholder      {color:#b2b2b2;}
  input[type=text],input[type=number],input[type=tel],select{
    box-shadow:0 0 0;
    height:40px;
    line-height:39px;
    border:1px solid $grey;
    color:darken($grey, 30%);
    @include border-radius(4px);
    padding:0 8px;
    border-color:rgba($primary, .4);
  }
  input[type=checkbox]{
    height: inherit !important;
  }
  label{
    color:darken($grey, 30%);
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  hr{margin:30px 15px 25px 15px;}
  .form-group{margin-bottom:0;}
  .nav.nav-tabs{
    border-bottom:0;
    li{
      a{padding:5px 20px 4px 20px; background:#e6e6e6; border-radius:0; color:#969696; border:none;}
      &.active a{background:#222222; color:white;}
    }
  }
  .input_translate{
    input[type=text]{border-radius:0 0 4px 4px;}
  }
  .currency{position:absolute; right:0; width:85px; border:none; margin-top:-40px; background:transparent; border-left:1px solid $grey;}
  .currency-disabled{height:40px; line-height:40px; color:#aaa; position: absolute; right:25px; margin-top:-40px;}
  .surface_unit{position:absolute; right:0; width:65px; border:none; margin-top:-40px; background:transparent; border-left:1px solid $grey;}
  .surface-disabled{height:40px; line-height:40px; color:#aaa; position: absolute; right:25px; margin-top:-40px;}
  .input-unity{height:40px; line-height:40px; color:#d2d2d2; position: absolute; right:25px; margin-top:-40px;}
  .input-with-select{padding-right:90px !important;}
  .online.active{background:#27ae60 !important;}
  .offline.active{background:#e74c3c !important;}
  .btn-group.wide{
    display: block; height:40px;
    label{width:50%; background:#e6e6e6; color:#ababab; border:0; height:40px; line-height:40px; padding:0;}
    label:hover{background:#e6e6e6;}
    label:active{box-shadow:0 0 0;}
    label.active{background:$primary; box-shadow:0 0 0; color:white;}
  }
  .picture_item a{height:30px; width:30px; line-height:30px; text-align:center; padding:0;}
  .img-thumbnail{border-radius:3px;}
}



.testimonials{
  blockquote{
    p{font-size:14px; line-height:15px; height:300px;}
  }
}

#annonce_form_right_caract{
  h5{
    border-top:1px solid lighten($grey, 10%); padding-top:25px;
    &:first-child{border-top:0; padding-top:0;}
  }
}



.card_theme{
  opacity:0.8; transition:all .2s;
  .desc{height:220px; text-overflow: ellipsis;}
  .info-overlay{
    opacity:0; position:absolute; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1; transition:all .2s;
  }
  &:hover{
    opacity:1;
    .choose-theme{opacity:1;}
    .info-overlay{opacity:1;}
  }
}
.card_theme.selected{
  opacity:1;
  .grey-border{border:2px solid $primary;}
}





.twitter-typeahead{
  width: 100%;
  .typeahead.tt-input{
    width: 100%;
  }
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}




body.back_office{
  #sidebar_my_services{
    list-style:none; margin:0; padding:0;
    li{
      &.active{
        background: $primary;
        a{
          color:$white;
        }
      }
      a{
        display:inline-block;
        height:35px;
        line-height:35px;
        width:100%;
        padding:0 15px;
        color:rgba(0,0,0,.6);
        border-bottom:1px solid #eee;
        font-size:12px;
        i{margin-top:10px; font-size:14px;}
        &:focus{text-decoration:none !important;}
      }
      &.more-services{
        background:#eee; height:25px; line-height:20px;
        a{height:25px; line-height:25px; color:#56A7FF;}
        i{font-size:10px; margin-top:13px;}
      }
      &:first-child{border-top:1px solid #eee;}
    }
  }
  h6,.h6{
    font-size:11px;
    color:$color-link;
    outline: none;
    a{
      color:$color-link;
      font-size: 11px;
      outline: none;
      text-decoration: none;
      border-right:1px solid $grey;
      padding-right: 8px;
      margin-right: 8px;
      &:last-child{
        padding-right:0 !important;
        border-right:0;
      }
    }
    i{
      font-size:10px;
    }
  }
  .condo-line{
    .popover{
      border-radius:3px 0 3px 3px; padding:0; border:0; margin-top:0; box-shadow: 0 0 0; z-index:10;
      .arrow{display: none;}
      .popover-content{
        padding:0;
        a{width:100%; border-radius:0; box-shadow: 0 0 0 !important;}
        a:first-child{border-radius:3px 0 0 0;}
        a:last-child{border-radius:0 0 3px 3px;}
      }
      border:1px solid rgba(204, 204, 204, 0.3); box-shadow:0 3px 5px rgba(0, 0, 0, 0.05);
      .popover-title{display: block !important;}
      .arrow{border-bottom-color:rgba(0, 0, 0, 0.18);}
    }
  }
  .condo-info{
    border-bottom:1px solid #ededed;
    display:flex;
    align-items:center;
    .image{
      border: 1px solid $light-grey;
      width:120px;
      height:80px;
      display:inline-block;
      background-size:cover;
      background-position:center;
      border-radius:4px;
      overflow: hidden;
      background-color:#ddd;
      float:left;
    }
  }
}



#service_sidebar{
  border-right:3px solid #eaeaea; padding-right:15px;
  .image{width:100%; height:180px; background-size:cover; background-position:center; border-radius:8px; border:1px solid rgba(0,0,0,.05);}
  h2{font-size:20px;}
  h3{font-size:16px; color:#bfbfbf}
}



#visits{
  select{width:160px; height:31px; box-shadow: 0 0 0; border:0; outline:1px solid #dedede; color:#bebebe; font-size:16px; display: inline-block;}
  .btn{box-shadow:0 -2px 0 rgba(#000, .2) inset; cursor:pointer; border:0;}
  .feedback-line{
    display:flex; align-items:center; border-bottom:1px solid #ededed; padding:15px 0 12px 0;
    input{margin:0;}
    .image{width:95px; height:55px; display: inline-block; background-size:cover; background-position:center; border-radius:4px; overflow: hidden; background-color:#ddd;}
    div{display: inline-block;}
    h3,h4,h5{display: inline-block; margin:0;}
    h3{font-size:18px;}
    h4,h5{font-size:16px; color:#bfbfbf;}
    h6{
      font-size:11px;
      a{color:#56A7FF;}
      i{font-size:10px;}
    }
    .btn1{padding:5px 10px 7px 10px; box-shadow:0 -2px 0 rgba(#000, .5) inset;}
    .action{margin-left:30px;}
    .fa-star{font-size:30px; color:#ffe400;}
    .fa-check{color:#5cb85c;}
    .fa-close{color:#d9534f;}
  }
}



.visibility-content{
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  transition:all .2s;
  overflow:hidden;
  color:white;
  z-index: 100;
  &.activated{
    width:100%;
    height:100%;
    padding:10px;
  }
}

.setting_edit{
  .panel-header{
    float:left;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size:18px;
    background:darken($light-grey,5%);
    padding:0 10px;
    color:#afafaf;
  }
  label{font-weight:normal;}
  .form-control:focus{box-shadow:0 0 0;}
  .panel-body{width:100%;}
  .panel-help{border-radius:0; font-size:12px;}
  .setting_edit_line{
    cursor:pointer;
    i.fa.fa-pencil{display: none;}
    &:hover{
      i.fa.fa-pencil{display:block;}
    }
    border-left: 1px solid #f3f3f3;border-right: 1px solid #f3f3f3;border-bottom: 1px solid #f3f3f3; padding-top:10px; padding-bottom:10px;
    input[type=text], input[type=email], input[type=tel], select{
      width:100%; border-radius:4px; border:2px solid #e6e6e6; box-shadow:0 0 0 !important; color:#555555; padding-left:7px;
      &:focus{border-color:rgba(52, 73, 94, 0.4);}
    }
    input[type=tel], .url{border-radius:0 4px 4px 0 !important;}
    .form{display:none;}
    &:hover{background:$light-grey;}
    &.active{
      background:$light-grey;
      .value{display:none;}
      .form{display:block;}
      &:hover{
        i.fa.fa-pencil{display: none;}
      }
    }
  }
}

body.back_office.services{
  #myModalVisibility{
    .modal-content{
      .btn-group{
        width:100%;
      }
      label{
        input[type=checkbox]{
          display:block;
          margin:4px 4px;
        }
      }
    }
  }
}







body.back_office.services_home{
  #services{
    .single-service{
      border:1px solid #ddd;
      border-radius:3px;
      overflow:hidden;
      margin-bottom:4px;
      .header{
        height:35px; line-height:35px;
        .title{
          font-size:16px; padding:0 15px;
          i{transition:all .2s;}
        }
        .use{
          color:white; background:#4A90E2; font-weight:bold; border-radius:0 2px 0 0;
          i{font-size:12px;}
        }
      }
      .more-infos{
        display:none; border-top:1px solid #ddd;
        .picto{
          height:150px; border-right:1px solid #ddd; position:relative;
          img{position:absolute; top:0; left:0;height: 100%;width: 100%;}
        }
        .right{
          position: relative;
          height:150px;
          p{
            font-size:12px;
            line-height:20px;
            color:rgba(0,0,0,.6);
          }
          .bottom-row{
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:30px;
            line-height:30px;
            background:#F2F2F2;
            padding:0 10px;
            font-size:12px;
            color:rgba(0,0,0,.6);
            label{font-weight:normal;}
          }
        }
      }
      &.toggled{
        overflow:visible;
        .title i{transform:rotate(90deg);}
      }

      &.form{
        display:none;
        .header{
          .title-input{
            input{
              border:0; height:35px; width:100%; padding:0 0 0 10px;
              &:focus{outline:none;}
            }
          }
          button{border:0; height:35px; line-height:32px; background:#2ECC71 !important;}
        }
        .more-infos{
          display:block !important;
          textarea{
            border:0; resize:none; background:transparent; height:120px; width:100%; margin-left:-15px; margin-right:-15px; padding:10px 15px;
            &:focus{outline:none;}
          }
          .bottom-row{
            padding:0;
            input{
              background:#F8F8F8; border:0; width:50%; border-left:1px solid #ddd; border-top:1px solid #ddd; padding:0 10px; border-radius:0 0 2px 0;
              &:focus{outline:none;}
            }
            button{border:0; background:transparent; color:#4A90E2; height:30px; line-height:28px; padding:0;}
          }
        }
      }
    }
    #not-activated-services{
      .single-service{
        .more-infos{
          display:block; border-top:0;
          h3{font-size:16px;}
          .activate{
            height:30px;
            background:#2ECC71;
            padding:0 10px; margin:0 -10px 0 0;
          }
        }
      }
    }
  }
}




/*
*   Owl Carousel Owl Demo Theme
* v1.3.3
*/

.owl-theme .owl-controls{
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}
