<div class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <div class="pt10">
          <%= I18n.localize Time.now,:format =>("%A %d %B %Y") %>
        </div>
      </div>
      <div class="col-sm-6 a-right uppercase">
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle bold" data-toggle="dropdown"><%= I18n.locale.to_s.upcase %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "English", url_for(:locale=>'en'), :class=> I18n.locale.to_s == "en" ? 'bg-primary color-white' : nil  %></li>
              <li><%= link_to "Français", url_for(:locale=>'fr'), :class=> I18n.locale.to_s == "fr" ? 'bg-primary color-white' : nil  %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav id="my_navbar" class="navbar navbar-default pt10 pb10 mb0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand hidden-xs uppercase bold"><%= split_name(@user.profile.public_name) %> <br><small></div>
      <div class="navbar-brand visible-xs uppercase bold"><%= split_name_mobile(@user.profile.public_name) %></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('front_office.home'), "/#{I18n.locale}", :class=>"bold uppercase fs11" %> </li>
        <li><%= link_to t('front_office.listings'), broker_listing_path,:class=>"bold uppercase fs11" %></li>
        <% if @profile.bio.present? %>
        <li><%= link_to t('front_office.about'), broker_about_path,:class=>"bold uppercase fs11" %></li>
        <% end %>
        <%# if  @service_options >= 1 %>
        <% if @profile.page_testimonial_active == 1 %>
        <li><%= link_to t('front_office.testimonial'), broker_testimonial_path,:class=>"bold uppercase fs11" %></li>
        <% end %>
        <% if @profile.blog_active == 1 %>
        <li><%= link_to t('front_office.blog'), broker_blogs_path,:class=>"bold uppercase fs11" %></li>
        <% end %>
        <%# end %>
        <% if @profile.phone_visibility and @profile.phone.present? %>
        <li class="hidden-xs"><button class="btn btn-link btn-sm bg-primary mt10 pt5 pb5 color-white"><i class="fa fa-phone mr5"></i><%= "#{@user.profile.phone}" %></button></li>
        <% else %>
        <li><button type="button" class="btn btn-custom-primary navbar-btn mb10" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('front_office.send_my_a_mail') %></button></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
