<% @title_for_layout        = "#{@profile.public_name } | #{@property["title"][I18n.locale.to_s]}" %>
<% @description_for_layout  = "#{@property["listing"][I18n.locale.to_s]}, #{@property["classification"][I18n.locale.to_s]}, #{@property["address"]["locality"]} (#{@property["address"]["sublocality"]}) - #{@property["rooms"]["rooms"]} #{t('front_office.rooms')}, #{@property["rooms"]["bedrooms"]} #{t('front_office.bedrooms')},  #{@property["rooms"]["bathrooms"]} #{t('front_office.bathrooms')}. #{truncate(sanitize(@property["description"][I18n.locale.to_s]), :length=>40)}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.name}/#{@property["id"]}" : "http://#{@user.username}.1clic.immo/#{@property["id"]}"%>
<% @image_for_share_url     = @property["cover_url"] if @property["cover_url"].present?  %>

<%= render 'layouts/generic_meta' %>




<%= content_for (:head) do %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places,geometry&language=#{I18n.locale}"%> "></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
<% end %>


<% if @mandate_website == 0 %> <%# MANDATE NOT ACTIVATED %>
<%= render 'front_office/template_1/header' %>
<% end %>

<section class="estateContainer pt10">
  <div class="container">
    <% if @mandate_website == 0 %> <%# MANDATE NOT ACTIVATED %>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline mb0 fs12">
          <%= link_to root_path,:class=>'btn btn-sm btn-custom-primary bold' do %><i class="fa fa-caret-left mr5"></i><%= t('front_office.see_my_offers') %><% end %></li>
          <li class="fs11"><i class="fa fa-long-arrow-right"></i></li>
          <li><%= link_to root_path(:property_listing=>@property["listing_id"]),:class=>"bold" do %><%= @property["listing"][I18n.locale.to_s] %><% end %></li>
          <li class="fs11"><i class="fa fa-long-arrow-right"></i></li>
          <li class=""><span class="hidden-xs"><%= @property["title"][I18n.locale.to_s]%></span> (<%=  @property["classification"][I18n.locale.to_s] %>)</li>
        </ul>
      </div>
    </div>
    <% else %>
    <div class="row pl0 pr0">
      <div id="template1Cover" class="bg-cover color-white  pb30 relative" style="background-image:url('<%= @property[:cover_url] %>')">
        <div class="absolute absolute-top-left full-height full-width">
          <div class="filigrane full-width full-height centered-content">
            <div class="pl15 pr15 text-center">
              <h2 class="color-white fs40"><%# if @property.address_visibility.present? and @property.address.present? %><%= "#{@property["address"]["street_number"]} #{@property["address"]["street_name"]} #{@property["address"]["zipcode"]}"%> - <%# end %><%= @property["address"]["locality"] %></h2>
              <hr>
              <h5 class="color-white fs30"><%= @property["financial"]["price_formated"] %></h5>
            </div>
          </div>
        </div>
        <header class="absolute absolute-bottom-left absolute-bottom-right container full-width">
          <div class="bg-primary color-white pt5 pb5 pl10 pr10 br4 bold h3 absolute absolute-bottom-right mb10 mr10">
            <%= "#{@property["classification"][I18n.locale.to_s]} -  #{@property["listing"][I18n.locale.to_s]} " %>
          </div>
          <h5 class="color-white bold">
            <% if @property["availability_date"].present? %>
            <%= t('front_office.availability') %> : <%= (@property["availability_date"] > Time.now) ? I18n.localize(@property["availability_date"].to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %>
            <% end %>
          </h5>
        </header>
      </div>
    </div>
    <% end %>
    <div class="row mt10 mb20">
      <div class="col-sm-8">
        <!-- NAVIGATION -->
        <div id="overviewSticky" class="hidden-xs">
          <div class="panel-sh bg-white">
            <ul id="nav--property--sticky" class="nav-sticky border-bottom-primary">
              <li class="sticky--item active border-right-primary"><a class="block pt10 pb10 bold" href="#overview"><%= t('front_office.pictures') %></a></li>
              <li class="sticky--item border-right-primary"><a class="block pt10 pb10 bold" href="#property-description">Description</a></li>
              <li class="sticky--item"><a class="block pt10 pb10 bold" href="#map"><%= t('front_office.map') %></a></li>
            </ul>
          </div>
        </div>
        <!-- INFOS -->
        <div class="bg-white">
          <!-- OVERVIEW SECTION -->
          <section id="overview">
            <% if @property["pictures"].blank? || @property["pictures"].count == 1  %>
            <%= image_tag @property["pictures"].present? ? @property["pictures"].first["large"] : "" ,:class=>'img-responsive' %>
            <% else %>
            <section id="propertySlider">
              <div class="customNavigation">
                <div id="sync1" class="owl-carousel">
                  <% @property["pictures"].each do |picture| %>
                  <div class="item">
                    <%= image_tag picture["large"],:class=>'img-responsive' %>
                    <% unless picture["room"].blank? %>
                    <div class="owl-caption color-white fs16 bold"><span><%= picture["room"]["name"] %></span></div>
                    <% end %>
                  </div>
                  <% end %>
                </div>
                <div class="shareimmo-caption pt8 pb4 pl10 hidden-xs">
                  <h1 class="color-white fs24 lh30"><%= @property["title"][I18n.locale.to_s] %></h1>
                  <h2 class="color-white fs17 lh20"><%= "#{@property["address"]["street_number"]} #{@property["address"]["street_name"]} #{@property["address"]["locality"]} #{@property["address"]["zipcode"]}" %></h2>
                </div>
                <a class="shareimmo_controls shareimmo_control_left"><i class="fa fa-chevron-left"></i></a>
                <a class="shareimmo_controls shareimmo_control_right"><i class="fa fa-chevron-right"></i></a>
              </div>
              <div id="sync2" class="owl-carousel">
                <% @property["pictures"].each do |picture| %>
                <div class="item pt5 pr5 pb5 pl5">
                  <%= image_tag picture["medium"],:class=>'img-responsive' %>
                </div>
                <% end %>
              </div>
            </section>
            <% end %>
            <ul class="nav-sticky border-top-primary border-bottom-primary  hidden-xs">
              <li class="sticky--item border-right-primary"><div class="block pt25 pb25 bold">
                <div class="sticky--title mb8"><%= t('front_office.rooms') %></div>
                <div class="fa-2x color-heading"><% unless @property["rooms"]["rooms"].blank? %><%= @property["rooms"]["rooms"] %><% else %>...<% end %></div>
              </li>
              <li class="sticky--item border-right-primary"><div class="block pt25 pb25 bold">
                <div class="sticky--title mb8"><%= t('front_office.bedrooms') %></div>
                <div class="fa-2x color-heading"><% unless @property["rooms"]["bedrooms"].blank? %><%= @property["rooms"]["bedrooms"] %><% else %>...<% end %></div>
              </li>
              <li class="sticky--item border-right-primary"><div class="block pt25 pb25 bold">
                <div class="sticky--title mb8"><%= t('front_office.bathrooms') %></div>
                <div class="fa-2x color-heading"><% unless @property["rooms"]["bathrooms"].blank? %><%= @property["rooms"]["bathrooms"] %><% else %>...<% end %></div>
              </li>
              <li class="sticky--item border-right-primary"><div class="block pt25 pb25 bold">
                <div class="sticky--title mb8"><%= t('front_office.area') %></div>
                <div class="fa-2x color-heading"><% if  ( @property["area"]["living"].present? and @property["area"]["unit"].present? )   %><%= @property["area"]["living"] %> <%= @property["area"]["unit"].symbol.html_safe %><% else %>...<% end %></div>
              </li>
              <li class="sticky--item"><div class="block pt25 pb25 bold">
                <div class="sticky--title mb8"><%= t('front_office.land') %></div>
                <div class="fa-2x color-heading"><% if ( @property["area"]["land"].present? and @property["area"]["unit"].present?) %><%= @property["area"]["land"]%> <%= @property["area"]["unit"].symbol.html_safe %><% else %>...<% end %></div>
              </li>
            </ul>
          </section>
          <!-- DESCRIPTION SECTION -->
          <section id="property-description" class="pt8 pl10 pr10">
            <h3 class='mb10 mt10 color-secondary'><%=("#{@property["classification"][I18n.locale.to_s]} - #{@property["listing"][I18n.locale.to_s]}") %></h3>
            <h4 class="mb20"><%= @property["title"][I18n.locale.to_s] %></h4>
            <%= render :partial =>'front_office/partials/social_sharing',:locals =>{:canonical_for_layout => @canonical_for_layout} %>
            <div id="property_desctiption" class="fs14 color-description pl10 pr5 justify">
              <% unless @property["description"][I18n.locale.to_s].blank? %>
              <%= @property["description"][I18n.locale.to_s].html_safe %>
              <% end %>
              <% if @property["videos"].present? %>
              <% video =  @property["videos"].last %>
              <div class="pl10 pr10 pt10 pb10">
                <div class="svgContainer ratio56">
                  <iframe width="560" height="315" src="//www.youtube.com/embed/<%#= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <% end %>
            </div>
            <ul class="nav-sticky sticky-bordered-bottom">
              <li class="sticky--item">
                <div class="sticky--title pt10 pb10 bold ">
                  <strong><%= t('front_office.additional_informations') %></strong>
                </div>
              </li>
            </ul>
            <div class="table-responsive">
              <table class='table table-condensed mb0'>
                <tr>
                  <td class="bold"><%= t('front_office.property_status') %></td>
                  <td class="a-right"><%= @property["status"][I18n.locale.to_s] %></td>
                </tr>
                <% unless @property["financial"]["tax1_annual"].blank?  %>
                <tr>
                  <td class="bold"><%= t('front_office.tax_1') %></td>
                  <td class="a-right"><%= (@property["financial"]["tax1_annual"]) %>/an</td>
                </tr>
                <% end %>
                <% unless @property["financial"]["tax2_annual"].blank?  %>
                <tr>
                  <td class="bold"><%= t('front_office.tax_2') %></td>
                  <td class="a-right"><%= (@property["financial"]["tax2_annual"]) %>/an</td>
                </tr>
                <% end %>
                <% unless @property["financial"]["fees"].blank?  %>
                <tr>
                  <td class="bold"><%= t('front_office.fees') %></td>
                  <td class="a-right"><%= (@property["financial"]["fees"]) %>/mois</td>
                </tr>
                <% end %>
                <% unless @property["year_of_built"].blank?  %>
                <tr>
                  <td class="bold"><%= t('front_office.year_of_built') %></td>
                  <td class="a-right"><%= @property["year_of_built"] %></td>
                </tr>
                <% end %>
                <% unless @property["availability_date"].blank?  %>
                <tr>
                  <td class="bold"><%= t('front_office.availability') %></td>
                  <td class="a-right"><%= (@property["availability_date"] > Time.now) ? I18n.localize(@property["availability_date"].to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %></td>
                </tr>
                <% end %>
              </table>
            </div>
            <% unless @property["url"][I18n.locale.to_s].blank? %>
            <div class="center">
              <a class="mt10 btn btn-custom-primary" href="<%= @property["url"][I18n.locale.to_s] %>" target="_blank"><%= t('front_office.see_ad') %></a>
            </div>
            <% end %>
          </section>
          <section class="bg-white full-width mb30">
              <%if @property["address"]["latitude"].present? && @property["address"]["longitude"].present? %>
              <div id='map' class="mb-5" style="width: 100%; height: 360px;"></div>
              <%  end %>
            </section>

        </div>
      </div>
      <div  class="col-sm-4">
        <!-- BROKER SECTION -->
        <section id="brokerSticky">
          <div class="panel-sh bg-white">
            <ul class="nav-sticky sticky-bordered-bottom">
              <li class="sticky--item">
                <div class="block pt10 pb10 bold color-price fs22">
                  <% if @property["listing_id"] ==1 %><%= (@property["financial"]["price_formated"]) %><% elsif @property["listing_id"] ==2 %><%= "#{(@property["financial"]["rent"])} /#{t('front_office.per_month')}" %><% end %>
                </div>
              </li>
            </ul>
            <%# if @complement.canada_mls.present? %>
            <ul class="nav-sticky sticky-bordered-bottom">
              <li class="sticky--item pt8 pb8">
                <div class="color-heading bold fs20"><%#= "# MLS #{@complement.canada_mls}" %></div>
              </li>
            </ul>
            <%# end %>
            <ul class="nav-sticky sticky-bordered-bottom">
              <li class="sticky--item pt8 pb8">
                <div class="color-heading bold fs20"><%#= ("#{@my_provider.provider_id == "kangalou"  ? (link_to "#{t('front_office.ad')} kangalou ##{@property.uid2}","https://kangalou.com/fr/ad/#{@property.uid2}",:target=>"_blank",:class=>"color-primary") : "#{t('front_office.ad')} ##{@property.id}"}").html_safe%></div>
              </li>
            </ul>
            <ul class="nav-sticky sticky-bordered-bottom">
              <li class="sticky--item pt8 pb8">
                <div class="broker-info bold pt8 pl10 fs12">
                  <%#= image_tag @user.profile.avatar.url(:large),:class=>"broker-info__image f-left img-responsive mr10" %>
                  <div class="a-left">
                    <div class="fs16"><%#= @user.profile.public_name %></div>
                    <%# unless @user.profile.job.blank? %><div class="fs13"><%#= @user.profile.job %></div><%# end %>
                    <%# unless @user.profile.spoken_languages.blank? %><div class="italic"><%# (JSON.parse(@user.profile.spoken_languages).each { |lang| concat lang + "\n" }) %></div><%# end %>
                  </div>
                </div>
                <div class="clear-block"></div>
                <%# if @profile.is_a_pro_user == 1 %>
                <div class="broker-info bold pt8 pl10 fs12">
                  <% if @user.profile.logo?  %>
                  <%= image_tag @user.profile.logo.url(:medium),:class=>"broker-info__image f-left img-responsive mr10" %>
                  <address class="a-left">
                    <div class="fs16"><%= @user.profile.company_name %></div>
                    <%= @user.profile.company_address %><br>
                    <%= "#{@user.profile.company_city} #{@user.profile.company_zipcode}" %><br>
                    <%= "#{@user.profile.company_province}" %><br>
                  </address>
                  <%# end %>
                </div>
                <div class="clear-block"></div>
                <% end %>
                <% if @agent.present? %>
                <hr>
                <div class="broker-info pt8 pl20">
                  <%= image_tag @agent.picture.url(:medium),:class=>"broker-info__image f-left img-responsive mr10", :style=>"max-width:140px;" %>
                  <div class="a-left">
                    <div class="h4 mb5"><%= "#{@agent.first_name} #{@agent.last_name}" %></div>
                    <div class="h5 mb3 mt0"><%= @agent.phone %></div>
                    <div class="h5 mb3 mt0"><%= @agent.email %></div>
                  </div>
                </div>
                <div class="clear-block"></div>
                <% end %>
              </li>
            </ul>
            <div class="center mt10">
              <ul class="list-inline mb5">
                <%# if @user.profile.website.present? %>
                <!-- <li><a href="<%#= my_url_with_protocol(@user.profile.website,false) %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li> -->
                <%# end %>
                <% if @user.profile.facebook.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.twitter.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.twitter,true) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.linkedin.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.linkedin,true) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.pinterest.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.pinterest,true) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.google_plus.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.google_plus,true) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.instagram.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.instagram,true) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                <% end %>
              </ul>
              <%# unless @user.profile.website.blank? %><div class="center mt10 fs15"><a href="<%#= "http://#{@user.profile.website}"%>" target="_blank"><%#= @user.profile.website %></a></div><%# end %>
              <ul class="list-unstyled mt10">
                <% if @user.profile.phone_visibility == 1 and @user.profile.phone.present? %><li class="fs20"><i class="fa fa-phone mr5"></i><%= @user.profile.phone %></li><% end %>
                <% if @user.profile.phone_sms.present? %><li class='mb5'><div class="pointer" data-toggle="modal" data-target="#myContactModalSms"><i class="flaticon-sms5 mr5"></i><%= t('back_office.send_me_a_sms') %></div></li><% end %>
              </ul>
              <div>
                <button type="button" class="btn btn-lg btn-block btn-custom-primary bold" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('back_office.contact_me') %></button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<% if @property["address"]["latitude"].present? && @property["address"]["longitude"].present? %>
<%= content_for (:head) do %>
<script>
$(document).ready(function(){
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_TOKEN'] %>";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/bright-v9',
    center: [<%= @property["address"]["longitude"] %>, <%= @property["address"]["latitude"] %>],
    zoom: 13,
    pitch: 45
  });

  map.addControl(new mapboxgl.Navigation())
  map.scrollZoom.disable()
  map.on('load', function(){
    el = document.createElement('div')
    el.className = 'block'
    el.style.backgroundImage = 'url(/map_icons/1.png)'
    el.style.width = '26px'
    el.style.height = '42px'
    var marker = new mapboxgl.Marker(el, {offset: [-13, -21]}).setLngLat([<%= @property["address"]["longitude"] %>, <%= @property["address"]["latitude"] %>]).addTo(map);
  });
})
</script>
<% end %>
<% end %>


