@font-face{
  font-family:'Gotham';
  font-weight: 400;
  font-style: normal;
  src: asset-url("Gotham-Book/Gotham-Book.eot");
  src: asset-url('Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  asset-url('Gotham-Book/Gotham-Book.woff') format('woff'),
  asset-url('Gotham-Book/Gotham-Book.ttf') format('truetype'),
  asset-url('Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg')
}

@font-face{
  font-family:'Gotham';
  font-weight: 500;
  font-style: normal;
  src: asset-url("Gotham-Medium/Gotham-Medium.eot");
  src: asset-url('Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  asset-url('Gotham-Medium/Gotham-Medium.woff') format('woff'),
  asset-url('Gotham-Medium/Gotham-Medium.ttf') format('truetype'),
  asset-url('Gotham-Medium/Gotham-Medium.svg#Gotham-Medium') format('svg')
}

@font-face{
  font-family:'Gotham';
  font-weight: 700;
  font-style: normal;
  src: asset-url("Gotham-Bold/Gotham-Bold.eot");
  src: asset-url('Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  asset-url('Gotham-Bold/Gotham-Bold.woff') format('woff'),
  asset-url('Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
  asset-url('Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg')
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,700,700italic,300italic,300);