.twitter-typeahead{
  width: 100%;
  .typeahead.tt-input{
    width: 100%;
  }
  .tt-hint {
    color: #999;
  }
  .tt-menu {
    width: 422px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
  .tt-suggestion {
  }
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: $primary;
  }
  .tt-suggestion p {
    margin: 0;
  }
}


