<% @brand = @title_for_layout = "Annonces en cours" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <% if current_user.has_role? :admin %>
        <p><%= link_to 'add Youtube Account', '/auth/google_oauth2',:class=>"btn #{custom_button_class} btn-xs" %></p>
        <% if @googles.present? %>
        <table class="table table-condensed table-bordered">
          <tr class="active">
            <th>Youtube</th>
            <th></th>
          </tr>
          <% @googles.each do |g| %>
          <% account = Yt::Account.new(:refresh_token =>g.refresh_token)%>
          <tr>
            <td><%= "#{g.uid} (#{g.name})" %></li></td>
            <td><%=  account.present? ? account.email : nil %></td>
          </tr>
          <% end %>
        </table>
        <% end %>
        <% end %>
        <section class="well well-sm">
          <div class="h4">Filter <%= link_to "Reset", url_for(:uid => nil, :id => nil, :uid2=>nil),:class=>"btn btn-link btn-sm"  %></div>
          <%= simple_form_for :search, :method => "get" do |f| %>
          <div class="row">
            <div class="col-xs-3">
              <%= f.input :id, :placeholder => "id",:label => false, :input_html=>{:value => params[:search].present? ? params[:search][:id] : nil} %>
            </div>
            <div class="col-xs-3">
              <%= f.input :uid, :placeholder => "uid",:label => false, :input_html=>{:value => params[:search].present? ? params[:search][:uid] : nil} %>
            </div>
            <div class="col-xs-3">
              <%= f.input :uid2, :placeholder => "uid2",:label => false, :input_html=>{:value => params[:search].present? ? params[:search][:uid2] : nil} %>
            </div>
            <div class="col-xs-3">
              <%= f.submit t('back_office.filter'), :class => "btn btn-sm btn-block btn-custom-primary #{custom_button_class}",:data=>{:disable_with => 'Please wait...'} %>
            </div>
          </div>
          <% end %>
        </section>

        <% in_business = @visibility_portals.group_by(&:property) %>
        <div class="h3"><%= "#{in_business.size} annonces" %></div>
        <table class="table table-condensed table-bordered">
          <tr class="active">
            <th>Property</th>
            <th>Provider</th>
            <th>Portal</th>
            <th>Backlink</th>
            <th>Start</th>
            <th>Until</th>
          </tr>
          <% in_business.each do |property,visibilities| %>
          <% visibilities.each_with_index do |v,i| %>
          <tr>
            <% if i == 0 %>
            <td rowspan="<%= visibilities.size%>">
              <ul class="list-inline mb0">
                  <li><%= link_to "##{property.id}", short_link_path(:subdomain=>nil,:id=>property.id),:target=>"_blank" %></li>
                  <li class="fs11">(<%= my_beautiful_price(property) %>)</li>
                  <li class="fs10"><%= property.uid.present? ? "(uid : ##{property.uid})" : "" %></li>
                  <% if property.uid2.present? %>
                  <li class="fs10">(uid2 : <%= (property.api_provider.present? and property.api_provider.name =="kangalou" and property.uid2.present?)  ? (link_to property.uid2 , "https://kangalou.com/fr/ad/#{property.uid2}",:target=>"_blank" ) : property.uid2 %>)</li>
                  <% end %>
                </ul>
              <div><small><%= link_to "(#{property.user_id}-#{property.user.profile.public_name.present? ? property.user.profile.public_name : property.user.email })",dashboard_path(property.user.username),:target=>"_blank"%></div></small>
              <div><%= link_to 'see json visibility',api_v1_properties_visibility_path(:id=>property.id),:target=>"_blank" %></div>
            </td>
            <td rowspan="<%= visibilities.size%>" class="valignMiddle center">
              <% if property.api_provider.present? %><label class="label <%= property.api_provider.name == "kangalou" ? "bg-kangalou-primary" : ( property.api_provider.name == "prestigemls" ? "bg-prestige" : (property.api_provider.name == "centris" ? "bg-centris" : "bg-primary")) %>"><%= "#{property.api_provider.name}" %></label><% end %>
            </td>
            <% end %>
            <td>
              <% if v.portal.slug == "craigslist" %>
              <%= link_to v.portal.name, api_v2_craigslist_path(property.id,:apiKey=>"123immo",:apiToken=>"square456"), :target=>"_blank" %>
              <% else %>
              <%= v.portal.name %>
              <% end %>
            </td>
            <td>
              <%# LesPac %>
              <% if v.portal.slug == "lespac" %>
              <% if v.backlink_url.present? %>
              <%= link_to ("<i class='fa fa-check-circle color-green'></i>").html_safe, v.backlink_url ,:target=>'_blank' %>
              <% else %>
              <i class='fa fa-check-circle mr5'></i><small>(pending)</small>
              <% end %>
              <%# Louer %>
              <% elsif v.portal.slug == "louer" %>
              <% if v.backlink_id.present?  %>
              <%= link_to ("<i class='fa fa-check-circle color-green'></i>").html_safe, "http://www.louer.com/#{v.backlink_id}" ,:target=>'_blank' %>
              <% else %>
              <i class='fa fa-check-circle mr5'></i><small>(pending)</small>
              <% end %>
              <%# ListGlobally %>
              <% elsif v.portal.slug == "listglobally" %>
              <%= link_to api_v2_international_path(:u=>property.user_id, :p=>property.id),:target => "_blank" do %><i class='fa fa-check-circle color-green'></i><% end %>
              <% else %>
              <%# Tous les autres %>
              <% if v.backlink_url.present? %>
              <%= link_to ("<i class='fa fa-check-circle color-green'></i>").html_safe, v.backlink_url ,:target=>'_blank' %>
              <% else %>
              <i class='fa fa-check-circle mr5'></i><small>(pending)</small>
              <% end %>
              <% end %>
            </td>
            <td><%= I18n.localize(v.visibility_start.to_time,:format =>("%d/%m/%y")) %></td>
            <td><%= I18n.localize(v.visibility_until.to_time,:format =>("%d/%m/%y")) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
