<%  @brand  = @title_for_layout = "Managers" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
      <tr>
        <th>User</th>
        <th>API</th>
        <th>sign_in_count</th>
        <% if  current_user.has_role? :admin %>
        <% end %>
      </tr>
      <% @users.each do |u| %>
      <% user_api = ApiProvider.where(:id=>u.can_manage_api_id).first %>
      <tr>
        <td><%= "##{u.id} - #{u.profile.public_name } (#{u.email})" %></td>
        <th><%= user_api.present? ? user_api.name : ""  %></th>
        <td><%= u.sign_in_count %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<% end %>



