<% @brand = @title_for_layout = "Monitoring" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="h1">Welcome on <%= "#{@my_provider.name}" %> monitoring</div>
    </div>
  </div>
</div>
<% end %>
