<% @brand = @title_for_layout = "Annonces en cours" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <div class="h3"><%= "#{@videos.size} videos" %></div>
        <table class="table table-condensed table-bordered">
          <tr class="active">
            <th>Property</th>
            <th>Provider</th>
            <th>Youtube</th>
            <th>Start</th>
            <th>Until</th>
          </tr>
          <% @videos.each do |v| %>
          <% property = v.property %>
          <% if property.present? %>
          <tr>
            <td>
              <ul class="list-inline mb0">
                <li><%= link_to "##{property.id}", short_link_path(:subdomain=>nil,:id=>property.id),:target=>"_blank" %></li>
                <li class="fs11">(<%= my_beautiful_price(property) %>)</li>
                <li class="fs10"><%= property.uid.present? ? "(uid : ##{property.uid})" : "" %></li>
                <% if property.uid2.present? %>
                <li class="fs10">(uid2 : <%= (property.api_provider.present? and property.api_provider.name =="kangalou" and property.uid2.present?)  ? (link_to property.uid2 , "https://kangalou.com/fr/ad/#{property.uid2}",:target=>"_blank" ) : property.uid2 %>)</li>
                <% end %>
              </ul>
              <div><small><%= link_to "(#{property.user_id}-#{property.user.profile.public_name.present? ? property.user.profile.public_name : property.user.email })",dashboard_path(property.user.username),:target=>"_blank"%></div></small>
              <div><%= link_to 'see json visibility',api_v1_properties_visibility_path(:id=>property.id),:target=>"_blank" %></div>
            </td>
            <td class="valignMiddle center">
              <% if property.api_provider.present? %><label class="label <%= property.api_provider.name == "kangalou" ? "bg-kangalou-primary" : ( property.api_provider.name == "prestigemls" ? "bg-prestige" : (property.api_provider.name == "centris" ? "bg-centris" : "bg-primary")) %>"><%= "#{property.api_provider.name}" %></label><% end %>
            </td>
            <td  class="valignMiddle center">
              <% if v.youtube_id.present? %>
              <%= link_to ("<i class='fa fa-check-circle color-green'></i>").html_safe, "https://www.youtube.com/watch?v=#{v.youtube_id}" ,:target=>'_blank' %>
              <% else %>
              <i class='fa fa-check-circle mr5'></i><small>(pending)</small>
              <% end %>
              <%= link_to("(Regen)", monitoring_regen_youtube_path(property.id),:class=>"block fs11",:data=>{:confirm =>t('back_office.are_you_sure')}) %>
            </td>
            <td><%= I18n.localize(v.visibility_start.to_time,:format =>("%d/%m/%y")) if v.visibility_start.present? %></td>
            <td><%= I18n.localize(v.visibility_until.to_time,:format =>("%d/%m/%y")) if v.visibility_until.present? %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
