<% @brand = @title_for_layout = "Annonces en cours" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>

<div class="container">
  <%= simple_form_for @pdf, :url => admin_pdf_upload_path(@pdf) do |f| %>
  <div class="row">
    <div class="col-xs-8">
      <% if @pdf.document? %>
      <div>Current PDF : <%= link_to @pdf.document_file_name, @pdf.document.url, :target => "_blank" %> </div>
      <%= Pygments.highlight(JSON.pretty_generate(@pdf.dictionary), lexer: :json).html_safe %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class="well well-sm">
        <%= f.input :document %>
        <%= f.submit t('back_office.add'), :class => "btn btn-sm btn-block btn-custom-primary #{custom_button_class}",:data=>{:disable_with => 'Please wait...'} %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
