<% @title_for_layout = "Blog" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1><%= @post.title %></h1>
    </div>
    <div class="panel-body">
      <%= simple_form_for(@post,:url=>post_update_path(@post.id), :html => { :multipart => true}, :defaults => { :input_html => { :class => 'form-control'}}) do |f| %>
      <div class="row">
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-8">
              <%= f.input :title %>
              <%= f.input :draft,:input_html => {:value =>0},:as=>'hidden'%>
            </div>
            <div class="col-xs-4">
              <%= f.input :web_app ,:collection=>{"shareIMMO"=>1,"oneClic"=>2,"Kangalou"=>3},:include_blank=>false %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <%= f.input :status, as: :select,:include_blank => false %>
            </div>
            <div class="col-xs-4">
              <%= f.input :locale, :collection=>I18n.available_locales ,:include_blank=>false %>
            </div>
            <div class="col-xs-4">
              <%= f.input :created_at,:as => :string,:input_html => {:class => 'form-control pickadate'} %>
            </div>
          </div>
          <%= f.input :summary,:input_html=>{:class=>'form-control textarea-noresize',:rows=>5} %>
        </div>
        <div class="col-xs-3">
          <%= image_tag @post.cover.url(:small),:class=>'img-responsive' %>
          <%= f.input :cover %>
        </div>
      </div>
      <%= f.input :content,:as=> 'text',:input_html=>{:class=>"froala"}%>
      <div id="epiceditor" class="mt20 mb20"></div>
      <%= f.submit :class => 'btn btn-custom-primary', :value => 'Valider' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>



<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = true;
window.froala_upload_url = "<%= dashboard_wysiwyg_picture_manager_path(@user.username,:id => @post.id,:asset_type =>"post") %>";
window.frola_delete_url = "<%= dashboard_wysiwyg_picture_delete_path(@user.username,:id => @post.id) %>";
<% end %>

