<% @title_for_layout = "Scrapping" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container-fluid">


  <table  class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>API</th>
        <th>Ads Count</th>
        <th>Jour</th>
        <th>Heure</th>
      </tr>
    </thead>
    <tbody>
     <% @scraps.each do |s| %>
     <tr>
      <td><%= s.id%></td>
      <td><%= s.api_provider.name%></td>
      <td><%= s.ads_count%></td>
      <td><strong><%=  s.created_at.strftime("%d %b %Y") %></strong></td>
      <td><strong><%=  s.created_at.strftime("%H:%M") %></strong></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end %>
