<% @title_for_layout = "Stats Visibilites" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container-fluid">
  <% Portal.where(:country => "ca").each do |p| %>
  <div class="well">
    <div class="h1"><%= p.name %></div>
    <%= line_chart(VisibilityPortal.joins(:portal).where(:portals=>{:slug=>p.slug}).where("visibility_start > ?", Time.now-2.months).group_by_day(:visibility_start).count) %>
    <%# sum = 0 %>
    <%#= line_chart(VisibilityPortal.joins(:portal).where(:portals=>{:slug=>"craigslist"}).group_by_day(:visibility_until).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum +=  +y)} }.reduce({}, :merge)) %>
  </div>
  <% end %>
</div>
<% end %>
