<% @title_for_layout = "Stats Properties" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container-fluid">
  <div class="well">
    <div class="h1">Properties</div>
    <%= line_chart(Property.group_by_day(:created_at).count) %>
    <% sum = 0 %>
    <%= line_chart(Property.group_by_day(:created_at).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum +=  +y)} }.reduce({}, :merge)) %>
  </div>
</div>
<% end %>
