<% @title_for_layout = "Support" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <%= simple_form_for(@support,:remote=>false,:url => support_update_path(@support), :defaults => { :input_html => { :class => 'form-control'}}) do |f| %>
<div class="row">
  <div class="a-right">
    <%= f.submit :class => "btn #{custom_button_class} btn-lg",:style => "position:fixed;top:120px; right:50px;", :value => 'Valider' %>
  </div>
  <div class="col-xs-9">
    <%= f.input :title %>
    <%= f.input :draft ,:input_html=>{:value =>0}, :as =>"hidden" %>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :status,:as=>'select',:collection =>{'HorsLigne' => 0,'En Ligne' => 1}, :include_blank=>false %>
      </div>
      <div class="col-xs-4">
        <%= f.input :locale, :collection=>I18n.available_locales ,:include_blank=>false %>
      </div>
      <div class="col-xs-4">
        <%= f.input :created_at,:as => :string,:input_html => {:class => 'form-control pickadate'} %>
      </div>
    </div>
    <%= f.input :summary,:input_html=>{:class=>'form-control textarea-noresize',:rows=>5} %>
  </div>
  <div class="col-xs-4">
    <%= f.association :support_type,:include_blank=>false %>
  </div>
</div>
<%= f.input :content,:label=>false,:input_html => {:rows=>25,'id'=>'post_content_textarea', :class => 'form-control textarea-noresize hide' } %>
<div id="epiceditor" class="mt20 mb20"></div>

<%= f.submit :class => 'btn btn-custom-primary', :value => 'Valider' %>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  var opts = {
   container: 'epiceditor',
   textarea: 'post_content_textarea',
   basePath: '',
   clientSideStorage: false,
   localStorageName: 'epiceditor',
   useNativeFullscreen: false,
   focusOnLoad: false,
   parser: marked,
   file: {
    name: 'epiceditor',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base:  '/epiceditor/base/epiceditor.css',
    preview: '/epiceditor/preview/preview-dark.css',
    editor: '/epiceditor/editor/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: false,
    bar: true
  },
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  },
  autogrow:{
    autogrow: true,
    minHeight: 500
  }
}
var editor = new EpicEditor(opts).load();
});
</script>

</div>

<% end %>
