<% @title_for_layout = "Support" %>
<%= render 'layouts/partials/generic_meta' %>
<% @brand = 'Support' %>

<%= render :layout => 'admin/partials/layout' do %>
<div class="container">
  <div class="panel mt30">
    <div class="panel-heading">
      <%= link_to "Ajouter une fiche support",support_new_path,:class=>'btn btn-custom-primary' %>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <th>Id</th>
            <th>Locale</th>
            <th>Status</th>
            <th>Title</th>
            <td>Actions</td>
          </tr>
          <% @supports.each do |s| %>
          <tr>
            <td><%= s.id %></td>
            <td><%= s.locale %></td>
            <td>
              <% if s.status == 1 %>
              <span class="label label-success">En Ligne</span>
              <% else %>
              <span class="label label-danger">Hors Ligne</span>
              <% end %>
            </td>
            <td><%= link_to s.title , support_edit_path(s) %></td>
            <td>
              <div class="btn-group">
                <%= link_to support_edit_path(s),:class=>'btn btn-default btn-xs' do %><i class="fa fa-pencil"></i><% end %>
                <%= link_to [s.support_type,s],:class=>'btn btn-default btn-xs',:target=>"_blank" do %><i class="fa fa-bullseye"></i><% end %>
                <%= link_to support_delete_path(s),:method=>'delete',:class=>'btn btn-default btn-xs',:data=>{:confirm=>t('back_office.are_you_sure')} do %><i class="fa fa-trash-o"></i> <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
