<%  @brand  = @title_for_layout = "Services" %>
<%= render 'layouts/partials/generic_meta' %>


<%= render :layout => 'admin/partials/layout' do %>
<div class="container-fluid">
  <div class="well well-sm  bg-grey">
    <table class="table table-condensed table-bordered">
      <thead>
        <td>User.id</td>
        <td>User.email</td>
        <td>Service</td>
      </thead>
      <tbody>
        <% @services_users.group_by(&:user).each do |user,services| %>
        <tr>
          <td><%=link_to "Log as",dashboard_path(user.username),:class=>"btn btn-xs btn-custom-secondary" %></td>
          <td>
            <ul>
              <li><%= "#{user.id} - #{user.email}" %></li>
              <li><%= "#{user.profile.public_name}" %></li>
              <li><%= "#{user.profile.email}" %></li>
              <li><%= "#{user.username}" %></li>
            </ul>
          </td>
          <td>
            <ul>
              <% services.sort_by { |ser| ser.service_id }.each do |s| %>
              <li><%= "#{s.service_id} -  #{s.service.name} #{s.options == 1 ? "(with options)": nil}" %></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
