<%  @brand  = @title_for_layout = "Users" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'admin/partials/layout' do %>
<div class="container-fluid">
  <section class="well well-sm">
  <div class="h4">Filter <%= link_to "Reset", url_for(:uid => nil, :id => nil, :uid2=>nil),:class=>"btn btn-link btn-sm"  %></div>
  <%= simple_form_for :search, :method => "get" do |f| %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :email, :placeholder => "email",:label => false, :input_html=>{:value => params[:search].present? ? params[:search][:email] : nil} %>
    </div>
    <div class="col-xs-3">
      <%= f.submit t('back_office.filter'), :class => "btn btn-sm btn-block btn-custom-primary #{custom_button_class}",:data=>{:disable_with => 'Please wait...'} %>
    </div>
  </div>
  <% end %>
</section>
  <div id="usersAdmin">
    <%= render 'admin/partials/users' %>
  </div>
</div>

<% end %>



<div class="modal fade" id="myModal_admin_user_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
