<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Referrals Market", :right_icon=>"back-icon.svg", :right_link=>details_referral_path} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Referral details</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <p class="fs14 mb0">By signing electronicaly bellow you accept
that this agreement is a contract of collaboration of business between two Prestige MLS Members wishing to make an international real estate transaction. </p>

    <h3 class="fs18 lato bold uppercase mt25">Collaboration conditions</h3>
  </section>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Referral condition</h4>
    <span class="fs14 pull-right">25%</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Referral agency</h4>
    <span class="fs14 pull-right">Agence Immosquare</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt6 pb4">
    <h4 class="fs14 pull-left normal">Referral agent</h4>
    <span class="fs14 pull-right">Jean-Marc Welsch</span>
  </div>

  <section class="bg-white border-top border-bottom border-grey pt30 pb30 pl30 pr30 relative text-center">
    <h3 class="fs18 lato bold uppercase mt25">Collaboration conditions</h3>

    <div class="electronic-signature mt15"></div>
  </section>
</main>

<!-- remove disabled to enable the button click -->
<a href="#" class="bottom-button fs16 color-white uppercase full-width absolute absolute-bottom-left text-center disabled">Accept the referral</a>
