<header class="text-center pt50">
  <h1 class="fs25 uppercase color-white">Refferal Market</h1>
  <%= image_tag 'logo-prestige-signature.png', :class=>"img-responsive pl35 pr35 mt15" %>
</header>

<form action="#" class="pl35 pr35 mt80">
  <input class="uppercase" type="email" placeholder="Email">
  <input class="uppercase" type="password" placeholder="Password">

  <div class="inline-block full-width">
    <div class="inline-block">
      <input class="pull-left" type="checkbox" id="remember-me-chckbox">
      <label for="remember-me-chckbox" class="fs14 pull-left mt4 ml10 color-white">Remember me</label>
    </div>

    <a href="#" class="underline fs10 pull-right color-white mt5">Forgot your password ?</a>
  </div>

  <input class="center-block button-primary fs20 uppercase bold pl45 pr45 mt25" type="submit" value="Connect">
</form>

<a href="#" class="absolute absolute-bottom-center color-white fs15 mb10">About</a>
