<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"My leads", :right_icon=>"line-menu.svg", :right_link=>root_path} %>

<main id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Referral follow up</h2>

  <section class="referral-toolbar bg-white border-bottom border-top border-grey">
    <div class="row ml0 mr0">
      <div class="col-xs-2">
        <span class="highlighted text-center border-right border-grey centered-content">
          <%= svg 'check-icon' %>
        </span>
      </div>

      <div class="col-xs-2">
        <%= link_to "tel:+15141234567", :class=>"highlighted text-center border-right border-grey centered-content" do %>
          <%= svg 'phone-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'clock-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'flame-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'dollar-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'trash-icon' %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="bg-white border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <span class="fs10 color-grey absolute absolute-top-right mt10 mr10">13/10/16 à 13h15</span>

    <div class="user-avatar bg-cover-center centered-content center-block" style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg);"></div>

    <h1 class="fs18 mt10 bold color-black">Florian MAS</h1>

    <h3 class="fs14 bold uppercase mt5">Buyer</h3>

    <h4 class="color-grey fs16 normal uppercase mt5">10M$</h4>

    <img src="http://www.sciencekids.co.nz/images/pictures/flags680/Canada.jpg" alt="" class="referal-flag mt5">

    <span class="fs12 mt10 block">fmas@moobz.fr</span>

    <span class="fs12 mt5 block">(+1) 514 692-0186</span>
  </section>

  <section class="pt15 pb15 pl10 pr10">
    <div class="row mr0 ml0" id="referral-actions">
      <div class="col-xs-4">
        <%= link_to "tel:+15141234567", :class=>"inline-block full-width" do %>
          <%= svg 'phone-circle-icon' %>
        <% end %>
      </div>

      <div class="col-xs-4">
        <%= link_to "sms:+15141234567", :class=>"inline-block full-width" do %>
          <%= svg 'sms-circle-icon' %>
        <% end %>
      </div>

      <div class="col-xs-4">
        <%= link_to "mailto:name@domain", :class=>"inline-block full-width" do %>
          <%= svg 'mail-circle-icon' %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <p class="fs14 mb0">Achat neuf inv - Plateau Mont Royal 4 1/2</p>

    <span class="lato color-grey fs14 mt20 inline-block">
      Projet Drummond prioritaire
    </span>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center mt10">
    <p class="fs14 mb0">Prospect contacté par téléphone. Projet à moins de 3 moins. A maison à vendre avant. Cherche 4 1/2 dans downtown. Priorité au projet Drummond.
Très bon contact. Parle Français.</p>
  </section>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Projet</h4>
    <span class="fs14 pull-right">Validé projet à - 3 mois</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Téléphone</h4>
    <span class="fs14 pull-right">Prospect joint au téléphone</span>
  </div>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Email</h4>
    <span class="fs14 pull-right">Validé</span>
  </div>
</main>
