<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Referrals Market", :right_icon=>"back-icon.svg", :right_link=>referrals_market_path} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Statut du leads</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <span class="fs10 color-grey absolute absolute-top-right mt10 mr10">13/10/16 à 13h15</span>

    <div class="user-avatar bg-cover-center centered-content center-block"><h3 class="color-white fs30 uppercase">FM</h3></div>

    <h3 class="fs14 bold uppercase mt10">Buyer</h3>

    <h4 class="color-grey fs16 normal uppercase mt5">10M$</h4>

    <p class="fs14 mt10 mb0">Wants to buy in Montréal</p>

    <span class="lato color-grey fs14 mt20 inline-block">
      Referral from<br>
      Jean-Marc Welsch - Agence Immosquare
    </span>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center mt10">
    <p class="fs14 mb0">Hi, I have a good client who want to invest in
a penthouse in Montréal. He want to be very central, closed to centre Bell for Hockey game. Clients ready to move fast (March 2017).</p>

    <div class="user-avatar bg-cover-center centered-content center-block mt20" style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg);"></div>
    <h3 class="fs14 normal mt10">Jean-Marc Welsch</h3>
  </section>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Referral condition</h4>
    <span class="fs14 pull-right">25%</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Referral agency</h4>
    <span class="fs14 pull-right">Agence Immosquare</span>
  </div>
</main>

<%= link_to "Accept the referral", acceptation_referral_path, :class=>"bottom-button fs16 color-white uppercase full-width absolute absolute-bottom-left text-center" %>
