<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"My referrals", :right_icon=>"back-icon.svg", :right_link=>my_referrals_path} %>

<main id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Referral follow up</h2>

  <section class="referral-toolbar bg-white border-bottom border-top border-grey">
    <div class="row ml0 mr0">
      <div class="col-xs-2">
        <span class="highlighted text-center border-right border-grey centered-content">
          <%= svg 'check-icon' %>
        </span>
      </div>

      <div class="col-xs-2">
        <%= link_to "tel:+15141234567", :class=>"highlighted text-center border-right border-grey centered-content" do %>
          <%= svg 'phone-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'clock-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'flame-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'dollar-icon' %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to "#", :class=>"text-center border-right border-grey centered-content" do %>
          <%= svg 'trash-icon' %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="bg-white border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <span class="fs10 color-grey absolute absolute-top-right mt10 mr10">13/10/16 à 13h15</span>

    <div class="user-avatar bg-cover-center centered-content center-block" style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg);"></div>

    <h1 class="fs18 mt10 bold color-black">Florian MAS</h1>

    <h3 class="fs14 bold uppercase mt5">Buyer</h3>

    <h4 class="color-grey fs16 normal uppercase mt5">10M$</h4>

    <img src="http://www.sciencekids.co.nz/images/pictures/flags680/Canada.jpg" alt="" class="referal-flag mt5">

    <span class="fs12 mt10 block">fmas@moobz.fr</span>

    <span class="fs12 mt5 block">(+1) 514 692-0186</span>
  </section>

  <section class="pt15 pb15 pl10 pr10">
    <div class="row mr0 ml0" id="referral-actions">
      <div class="col-xs-4">
        <%= link_to "tel:+15141234567", :class=>"inline-block full-width" do %>
          <%= svg 'phone-circle-icon' %>
        <% end %>
      </div>

      <div class="col-xs-4">
        <%= link_to "sms:+15141234567", :class=>"inline-block full-width" do %>
          <%= svg 'sms-circle-icon' %>
        <% end %>
      </div>

      <div class="col-xs-4">
        <%= link_to "mailto:name@domain", :class=>"inline-block full-width" do %>
          <%= svg 'mail-circle-icon' %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <p class="fs14 mb0">Wants to buy in Montréal</p>

    <span class="lato color-grey fs14 mt20 inline-block">
      Referral from<br>
      Jean-Marc Welsch - Agence Immosquare
    </span>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center mt10">
    <p class="fs14 mb0">Hi, I have a good client who want to invest in
a penthouse in Montréal. He want to be very central, closed to centre Bell for Hockey game. Clients ready to move fast (March 2017).</p>

    <div class="user-avatar bg-cover-center centered-content center-block mt20" style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg);"></div>
    <h3 class="fs14 normal mt10">Jean-Marc Welsch</h3>
  </section>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Referral condition</h4>
    <span class="fs14 pull-right">25%</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Referral agency</h4>
    <span class="fs14 pull-right">Agence Immosquare</span>
  </div>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Agent phone number</h4>
    <%= link_to "+1 514 692 0000", "tel:+15146920000", :class=>"fs14 pull-right underline" %>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Agent mail</h4>
    <span class="fs14 pull-right">jm@immosquare.com</span>
  </div>
</main>

<!-- Modal referral received (add .opened to make it visible) -->
<div class="modal-notif centered-content">
  <div class="text-center">
    <h1 class="lato bold color-white fs25 uppercase">Referral Received</h1>

    <div>
      <%= image_tag 'check-circle-icon.svg', :class=>"mt40" %>
    </div>

    <a href="#" class="fs18 color-white underline inline-block mt40">See the referral</a>
  </div>
</div>
