<header class="text-center pt50">
  <h1 class="fs25 uppercase color-white">Refferal Market</h1>
  <%= image_tag 'logo-prestige-signature.png', :class=>"img-responsive pl35 pr35 mt15" %>
</header>

<div class="text-center mt50 lato color-white">
  <h2 class="fs14 normal mb10">30 referrals on the market</h2>
  <h2 class="fs14 normal mb10">22 My referrals</h2>
  <h2 class="fs14 normal">5 referrals sent</h2>
</div>

<div class="container pl35 pr35 mt80" id="home-buttons">
  <div class="row same-height-col">
    <div class="col-xs-4">
      <%= link_to referrals_market_path, :class=>"inline-block" do %>
        <%= svg 'referrals-market-icon' %>
        <span class="inline-block color-white uppercase fs12 text-center full-width bold lato mt15">Referrals Market</span>
      <% end %>
    </div>

    <div class="col-xs-4">
      <%= link_to my_referrals_path, :class=>"inline-block" do %>
        <%= svg 'my-referrals-icon' %>
        <span class="inline-block color-white uppercase fs12 text-center full-width bold lato mt15">My Referrals</span>
      <% end %>
    </div>

    <div class="col-xs-4">
      <%= link_to send_referral_path, :class=>"inline-block" do %>
        <%= svg 'send-a-referral-icon' %>
        <span class="inline-block color-white uppercase fs12 text-center full-width bold lato mt15">Send a Referral</span>
      <% end %>
    </div>
  </div>
</div>

<a href="#" class="absolute absolute-bottom-center mb10">
  <%= image_tag 'gear-setting.svg' %>
</a>