<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Références disponibles", :right_icon=>"line-menu.svg", :right_link=>root_path} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Détails de la référence</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center">
    <span class="fs10 color-grey absolute absolute-top-right mt10 mr10">13/10/16 à 13h15</span>

    <div class="user-avatar bg-cover-center centered-content center-block"><h3 class="color-white fs30 uppercase">FM</h3></div>

    <h3 class="fs14 bold uppercase mt10">Buyer</h3>

    <h4 class="color-grey fs16 normal uppercase mt5">10M$</h4>

    <p class="fs14 mt10 mb0">Wants to buy in Montréal</p>

    <span class="lato color-grey fs14 mt20 inline-block">
      Referral from<br>
      Jean-Marc Welsch - Agence Immosquare
    </span>
  </section>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl15 pr15 relative text-center mt10">
    <p class="fs14 mb0">Prospect contacté par téléphone. Projet à moins de 3 moins. A maison à vendre avant. Cherche 4 1/2 dans downtown. Priorité au projet Drummond.
Très bon contact. Parle Français.</p>
  </section>

  <div class="pl15 pr15 inline-block full-width mt2 pt6 pb4">
    <h4 class="fs14 pull-left normal">Projet</h4>
    <span class="fs14 pull-right">Validé projet à - 3 mois</span>
  </div>

  <div class="pl15 pr15 inline-block full-width pt8 pb8 bg-white border-top border-bottom border-grey">
    <h4 class="fs14 pull-left normal">Téléphone</h4>
    <span class="fs14 pull-right">Prospect joint au téléphone</span>
  </div>

  <div class="pl15 pr15 inline-block border-bottom border-grey full-width pt6 pb8">
    <h4 class="fs14 pull-left normal">Email</h4>
    <span class="fs14 pull-right">Validé</span>
  </div>
</main>

<a href="#" class="bottom-button fs16 color-white uppercase full-width absolute absolute-bottom-left text-center">Acheter 3 crédits</a>
