<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"My referrals", :right_icon=>"referrals-sent-icon.svg", :right_link=>my_referrals_sent_path} %>

<main id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">New referral to contact</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Lilly Byrd - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Bob M. - Miami Real estate</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Max Sharp - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">To call back</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Lilly Byrd - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Bob M. - Miami Real estate</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Max Sharp - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Hot referral</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Lilly Byrd - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Bob M. - Miami Real estate</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to details_referral_open_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Max Sharp - Buyer</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">13 Sep 2016</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</main>
