<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Referrals Market", :right_icon=>"setting-icon.svg", :right_link=>"#"} %>

<main id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Last hours</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">10K$</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to details_referral_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">10K$</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Today</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">10K$</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to details_referral_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">10K$</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Yesterday</h2>

  <section class="border-top border-grey">
    <%= link_to details_referral_path, :class=>"inline-block full-width" do %>
      <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black">
        <div class="row same-height-col">
          <div class="col-xs-9 vertical-centered-content">
            <div class="full-width">
              <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
              <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
            </div>
          </div>

          <div class="col-xs-3 centered-content">
            <div class="text-center">
              <h4 class="uppercase fs16 normal">2,2M$</h4>
              <span class="color-grey fs10 uppercase mt5 inline-block">10K$</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Disabled case (striped bg & red text) -->
    <!-- variation here .striped-bg added -->
    <div class="pt15 pb15 pl15 pr15 bg-white border-bottom border-grey color-black striped-bg">
      <div class="row same-height-col">
        <div class="col-xs-9 vertical-centered-content">
          <div class="full-width">
            <h3 class="fs14 normal ellipsis">Want to buy in Miami</h3>
            <span class="fs14 color-grey mt5 block ellipsis">Prestige MLS referral</span>
          </div>
        </div>

        <div class="col-xs-3 centered-content">
          <div class="text-center">
            <h4 class="uppercase fs16 normal">2,2M$</h4>
            <!-- variation here .color-red instead of .color-grey, .fs8 -->
            <span class="color-red fs8 uppercase mt5 inline-block">Taken 15 minutes ago</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
