<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Referrals Market", :right_icon=>nil, :right_link=>nil} %>

<main class="main-content_with-button" id="main-content">
  <div class="full-width full-height centered-content absolute absolute-top-left pl30 pr30">
    <div class="text-center">
      <h1 class="lato color-black bold fs25 uppercase">Referral Acceptation</h1>

      <div>
        <%= image_tag 'check-circle-icon.svg', :class=>"mt40" %>
      </div>

      <span href="#" class="fs14 inline-block mt40">Thank you for your involvement and your collaboration in Prestige MLS.</span>
    </div>
  </div>
</main>

<%= link_to "Send another referral", send_referral_path, :class=>"bottom-button fs16 color-white uppercase full-width fixed fixed-bottom-left text-center" %>