<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Send a referral", :right_icon=>nil, :right_link=>nil} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Step 1 of 2 - Referral project</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl30 pr30 relative">
    <form action="">
      <select class="uppercase" name="" id="">
        <option value="1">Want to buy</option>
        <option value="2">Option 2</option>
      </select>

      <input class="uppercase" type="text" placeholder="City, Region or Country">

      <input class="uppercase" type="text" placeholder="Budget">

      <select class="uppercase" name="" id="">
        <option value="1">Eur</option>
        <option value="2">Usd</option>
      </select>

      <textarea class="uppercase" name="" id="" rows="8" placeholder="Message for other agent. Describe the referral projet in few words..."></textarea>
    </form>
  </section>
</main>

<%= link_to "Next step", send_referral_step2_path, :class=>"bottom-button fs16 color-white uppercase full-width fixed fixed-bottom-left text-center" %>
