<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Send a referral", :right_icon=>"back-icon.svg", :right_link=>send_referral_step2_path} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Step 2 of 3 - Diffusion of the referral</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl30 pr30 relative">
    <span class="fs14 inline-block full-width">
      <%= image_tag 'eye-icon.svg' %> In this step select who can see the referral.
    </span>

    <form class="mt20" action="">
      <select class="uppercase" name="" id="">
        <option value="1">Thomas Smith - Agence Varenne</option>
        <option value="2">Option 2</option>
      </select>

      <select class="uppercase" name="" id="">
        <option value="1">Bob Dylan - Agence Marseille</option>
        <option value="2">Option 2</option>
      </select>
    </form>

    <span class="fs50 color-black block text-center">+</span>
  </section>
</main>

<%= link_to "Send the referral", referral_sent_path, :class=>"bottom-button fs16 color-white uppercase full-width fixed fixed-bottom-left text-center" %>
