<%= render :partial=>'leads/partials/main_header', :locals=>{:title=>"Send a referral", :right_icon=>"back-icon.svg", :right_link=>send_referral_path} %>

<main class="main-content_with-button" id="main-content">
  <h2 class="color-grey fs12 text-center normal uppercase mt2 pt8 pb8">Step 2 of 2 - Referral details</h2>

  <section class="bg-white border-top border-bottom border-grey pt20 pb20 pl30 pr30 relative">
    <h3 class="fs18 lato bold uppercase text-center">Collaboration conditions</h3>

    <form class="mt15" action="">
      <select class="uppercase" name="" id="">
        <option value="1">% of commission</option>
        <option value="2">Option 2</option>
      </select>

      <input class="uppercase" type="text" placeholder="Amount">

      <h3 class="fs18 lato bold uppercase text-center mt25">Collaboration conditions</h3>

      <p class="fs12 mt10 text-center">This information will be lock until a Prestige MLS agent accept the referral</p>

      <input class="uppercase" type="text" placeholder="First name">

      <input class="uppercase" type="text" placeholder="Last name">

      <select class="uppercase" name="" id="">
        <option value="1">Country</option>
        <option value="2">Option 2</option>
      </select>

      <input class="uppercase" type="text" placeholder="Cellphone of the client">

      <input class="uppercase" type="text" placeholder="Email of the client">
    </form>

    <a class="text-center inline-block full-width color-grey underline mt10" href="#">or send the referral only to a selection of PRESTIGE MLS members</a>
  </section>
</main>

<%= link_to "Send the referral to prestige mls network", send_referral_step3_path, :class=>"bottom-button fs12 color-white uppercase full-width fixed fixed-bottom-left text-center" %>
