<div class="center">
  <p class="bg-light-grey color-grey uppercase center h4 pt10 pb10">DÉTAILS DE LA RÉFÉRENCE</p>
</div>

<div class="center">
  <div class="pull-right mt10"><p>13/10/16 à 13h15</p></div>
  <div class="clearfix"></div>
  <p><%= link_to image_tag("immosquare_logo.png", class: "img-circle", style: "width: 150px; height:150px;"), root_path%></p>
  <p class="h4">ACHETEUR</p>
  <p class="h4">$400K</p>
  <br>
  <p>Achat neuf Inv - <%= @lead['data'][':location'] %></p>
  <p>4 1/2</p>
  <p>Projet Drummond prioritaire</p>

  <hr>

  <div class="pl15 pr15">
    <p>Prospect contacté par téléphone. Projet à moins de 3 moins. A maison à vendre avant. Cherche 4 1/2 dans downtown. Priorité au projet Drummond.</p>
    <p>Très bon contact. Parle Français.</p>
  </div>

  <table class="table table-striped mt20">
    <tbody>
      <tr>
        <td class=""><%= "Projet" %></td>
        <td class="pr15"><div class="pull-right"><%= "Validé projet à - 3 mois" %></div></td>
      </tr>
      <tr>
        <td><%= "Téléphone" %></td>
        <td class="pr15"><div class="pull-right"><%= "Prospect joint au téléphone" %></div></td>
      </tr>
      <tr>
        <td class=""><%= "Email" %></td>
        <td class="pr15"><div class="pull-right"><%= "Validé" %></div></td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-lg btn-primary uppercase mt20 mb10" href="#">ACHETER 3 CRÉDITS</a>
</div>