<div>
  <center class="bg-light-grey color-grey uppercase center h4 pt10 pb10">STATUT DU LEADS</center>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">AB</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">CD</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">EF</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">GH</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">IJ</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">KL</button>
  </div>

</div>


<div>
  <div class="pull-right">13/10/16 à 13h15</div>
  <br>
  <center><%= link_to image_tag("immosquare_logo.png", class: "img-circle", style: "width: 150px; height:150px;"), root_path%></center>
  <br>
  <center class="h3">Florian Mas</center>
  <center class="h4">ACHETEUR</center>
  <center class="h4">$400K</center>
  <center class="h5">Flag</center>
  <center class="h5">fmas@moobz.fr</center>
  <center class="h5">(+1) 514 692-0186</center>
 
 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 bg-light-grey pt15 pb15 mt10 mb10">
        <center><%= link_to image_tag("immosquare_logo.png", class: "img-circle ", style: "width: 100px; height:100px;"), root_path%></center>
      </div>
      <div class="col-xs-4 bg-light-grey pt15 pb15 mt10 mb10">
          <center><%= link_to image_tag("immosquare_logo.png", class: "img-circle ", style: "width: 100px; height:100px;"), root_path%></center>
      </div>
      <div class="col-xs-4 bg-light-grey pt15 pb15 mt10 mb10">
          <center><%= link_to image_tag("immosquare_logo.png", class: "img-circle ", style: "width: 100px; height:100px;"), root_path%></center>
      </div>
    </div>
  </div>


  <center>Achat neuf Inv - Plateau Mont Royal</center>
  <center>4 1/2</center>
  <center class="color-grey">Projet Drummond prioritaire</center>
</div>

<hr>

<div>
  <center class="pl15 pr15">Prospect contacté par téléphone. Projet à moins de 3 moins. A maison à vendre avant. Cherche 4 1/2 dans downtown. Priorité au projet Drummond.</center>
  <br>
  <center class="pl15 pr15">Très bon contact. Parle Français.</center>
  <br>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class=""><%= "Projet" %></td>
        <td class="pr15"><div class="pull-right"><%= "Validé projet à - 3 mois" %></div></td>
      </tr>

      <tr>
        <td><%= "Téléphone" %></td>
        <td class="pr15"><div class="pull-right"><%= "Prospect joint au téléphone" %></div></td>
      </tr>

      <tr>
        <td class=""><%= "Email" %></td>
        <td class="pr15"><div class="pull-right"><%= "Validé" %></div></td>
      </tr>

    </tbody>
  </table>
</div>

<div>
  <center class="bg-green color-white uppercase center h4 pt10 pb10 mt30">ACHETER 3 CRÉDITS</center>
</div>