
<%= content_for :head do %>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<% end %>


<%= render 'dashboard/header', :current => 1 %>



<div class="container pt20">
  <% if @response.present?  %>
  <div class="row">

    <div class="col-md-8">
      <div class="h4 medium color-dark-grey mb25"><%= t('app.my_listings') %></div>
      <div id="properties">
        <% @response[:results][:features].each do |p| %>
        <div class="property bg-white bAll border-grey br3 relative">
          <div class="thumb bg-cover pull-left" style="background-image:url(<%= p[:properties][:cover_url] %>);"></div>
          <div class="infos pull-left">
            <div class="h5 ellipsis color-primary mt10 pr10 pl15"><%= "##{p[:properties][:uid].present? ? p[:properties][:uid] : p[:properties][:id]} #{p[:properties][:property_listing][:fr]} - #{p[:properties][:locality]}" %></div>
            <div class="h6 ellipsis pr10 pl15"><%= p[:properties][:address] %></div>
            <div class="color-dark-grey mt5 block ellipsis pl15"><%= p[:properties][:price_formated] %></div>
            <div class="absolute absolute-bottom-right">
              <div class="pull-right social-networks">
                
                <%= link_to 'Order: 1 credit', cedreo_new_path(p[:properties][:id]), :class=> "pull-left color-white bg-twitter " %>
                
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div id="history-list">
        <div class="h4 medium color-dark-grey mb25"><%= t("app.order.history") %></div>
        <% @cedreo_orders.sort_by(&:created_at).reverse.each do |order| %>
        <div class="history mb20">
          <div class="thumb bg-cover pull-left" style="background-image: url(<%= order.picture_url %>)";></div>
          <div class="infos pull-left pt10">
            <h3 class="ellipsis block medium fs12 color-link mt2 pr10 pl10"><p class="medium color-link fs12"><%= order.address%></p></h3>
            <span class="normal color-grey fs12 mt5 block ellipsis pr10 pl10"></span>
            <div class="bottom inline-block full-width bt border-light-grey mt8 fs10 pt5 pb5 pl10 relative">
              <div class="color-grey italic underline"> <%= t("app.order.ordered_on",  date: I18n.localize(order.created_at.to_time,:format=>("%d %b %Y"))) %></div>  
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    
  </div>

  <% else %>
  <div class="fs25 center"><%= t('app.welcome') %></div>

  <% end %>
</div>

