<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <canvas id="canvas"></canvas>
    </div>
    <div class="col-lg-6">
      <ul class="list-inline">
        <% @filters.each do |filter| %>
        <li>
          <div class="fs8 ellipsis"><%= filter %></div>
          <figure data-filter="<%= filter %>" class="<%= filter %> mb10 mt1 pointer" style="height:50px;width:50px;">
            <div style="height:100%;width:100%;background-size:cover;background-image:url('https://s3.amazonaws.com/shareimmo/development/properties/73/shareimmo_73_331_medium.jpg?1476302887')"></div>
          </figure>
        </li>
        <% end %>
      </ul>

      <hr>
      <ul class="list-inline">
        <% @filters2.each do |filter| %>
        <li>
          <div class="fs8 ellipsis"><%= filter %></div>
          <figure data-filter="<%= filter %>" class="<%= filter %> mb10 mt1 pointer" style="height:50px;width:50px;">
            <div style="height:100%;width:100%;background-size:cover;background-image:url('https://s3.amazonaws.com/shareimmo/development/properties/73/shareimmo_73_331_medium.jpg?1476302887')"></div>
          </figure>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>




