<html>
<head>
  <title>InstaFilter</title>
  <link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css">
</head>

<body style="margin:0;">
  <%= content_tag(:div, :class=>params[:filter],:style =>"width:#{@size[0]}px;height:#{@size[1]}px") do %>
    <%= image_tag params[:picture_url] %>
  <% end %>
</body>
</html>