<%= render 'layouts/generic_meta' %>

<div class="container pt40 pb40 mt20">
  <h1 class="mt50 mb25">Condition générale d'utilisation</h1>
  <section class="justify">
    <p>L'utilisation des services <span class="colo-primary bold">SocialIMMO</span> suppose que vous acceptiez les précédentes Conditions Générales constituant les Conditions Générales d’Utilisation (CGU). Si vous n'acceptez pas les CGU énoncées ci-après, n'utilisez pas les services de <span  class=" colo-primary bold"> SocialIMMO</span>.</p>
    <p><span class="colo-primary bold">SocialIMMO</span>  se réserve le droit de modifier ces Conditions Générales d’Utilisation  à tout moment lors d'une mise à jour de cette page. Nous vous conseillons de visiter cette page périodiquement afin de revoir les Conditions Générales  d’Utilisation car celles-ci vous sont opposables. Les termes « Vous » et « Utilisateur » tels qu'utilisés ci-après renvoient à tout individu et/ou toute entité accédant à <span class="colo-primary bold">  SocialIMMO</span>  pour quelque raison que ce soit.</p>
    <p><span class="colo-primary bold">SocialIMMO</span>  désigne le site Web et tout les produits et services distribués par <span  class=" ml5 colo-primary bold">  SocialIMMO</span>  et leur environnement associé.</p>
    </p>

    <h2 class="mt50 mb10">Introduction</h2>
    <p><span class="colo-primary bold">SocialIMMO</span>  est la propriété exclusive de "9303-3074 Québec inc".<span class="colo-primary bold">  SocialIMMO</span>  pourra effectuer des changements à l'information contenue sur ce site ou au produit des services décrits sur ce site en tout temps et ne s'engage d'aucune manière à mettre à jour l'information contenue aux présentes. Si toute disposition devait être jugée invalide, nulle ou pour toute autre raison inexécutable, les autres dispositions devront être réputées distinctes et en aucun temps voir leur validité et force exécutoire affectées.</p>


    <h2 class="mt50 mb10">Contenus mis en ligne et diffusés à des Tiers</h2>
    <p><span class="colo-primary bold">  SocialIMMO</span>  met à disposition des technologies permettant à ses utilisateurs de publier et diffuser des contenus sur le Web, comme un blogue, des annonces, des témoignages, des photos, des liens internet et du contenu sur les réseaux sociaux. L’intégralité des contenus sont établis sous l’entière responsabilité des utilisateurs qui devront s’assurer de posséder les droits d’auteur ainsi que les éventuels autorisation de référencement.</p>
    <p>En tant qu'utilisateur vous êtes responsable de vos propres communications et des conséquences de leur affichage. Vous ne devez pas afficher un contenu qui enfreindrait la législation. <span class="colo-primary bold">  SocialIMMO</span>  ne déclare pas ni ne garantit la véracité, l'exactitude ou la fiabilité des messages postés par les utilisateurs et n'endosse pas les opinions émises par les utilisateurs.</p>
    <p>Vous reconnaissez que la confiance accordée au contenu posté par un autre utilisateur est à vos risques et périls. <span  class=" ml5 colo-primary bold">  SocialIMMO</span>  se réserve le droit de retirer tout ou partie du contenu du site, y compris les communications Utilisateur sans qu'il soit nécessaire d'en aviser quiconque au préalable.</p>

    <h2 class="mt50 mb10">Enregistrement et Mot de passe</h2>
    <p>Vous êtes responsable du maintien de la confidentialité de vos informations et du mot de passe. Vous serez responsable pour toutes utilisations de votre enregistrement qu'elles aient été autorisées ou non par vous-même.</p>

    <h2 class="mt50 mb10">Avis de non responsabilité ou garantie et limitation de garantie</h2>
    <p><span class="colo-primary bold">  SocialIMMO</span> ne garantit pas que le site web fonctionne sans erreurs ou que le site web ou ses serveurs soient sans virus ou autre dispositif dommageable. le site et son contenu sont fournis en l'etat sans garantie de toute sorte expresse ou implicite incluant les garanties quant a la qualite marchande, d'adaptabilité pour des fins particulières ou de non empiètement. <span class="colo-primary bold">  SocialIMMO</span> ne garantit pas l'exactitude, la fiabilite, l'integralite, ou l'actualite des documents, site web, contenu du site web, services, logiciel, texte, graphiques et liens. <span class="colo-primary bold">  SocialIMMO</span> ne pourra être tenu responsable pour les dommages de toutes sortes issus de l'usage de ce site incluant, mais sans limitation, tout dommage direct, indirect, accidentel, punitif ou accessoire.</p>

    <h2 class="mt50 mb10">Loi applicable et juridiction</h2>
    <p>En utilisant les services de <span class="colo-primary bold">  SocialIMMO</span> , vous convenez que les termes d'utilisation et de déclaration de confidentialité devront être gouvernés et gérés en conformité avec les Loi de la province de Québec sans considération des principes de conflit de lois et que toute action réclamation basée sur ou alléguant un manquement à cette disposition devra être engagée dans une Cour provinciale ou fédérale située dans la province du Québec. De plus, consentez à vous soumettre à la juridiction personnelle et lieu de telle Cour.</p>
  </section>
</div>

