<% @title_for_layout        = "#{@profile.public_name}  - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name } - #{@profile.job} #{@profile.baseline} " %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.domain}" : "http://#{@user.username}.#{@my_provider.link_host}"%>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>
<%= render 'layouts/partials/generic_meta' %>

<%= content_for (:head) do %>
<script charset='ISO-8859-1' src='https://fast.wistia.com/assets/external/E-v1.js'></script>
<script charset='ISO-8859-1' src='https://fast.wistia.com/labs/crop-fill/plugin.js'></script>
<% if @theme.wistia_id.present? %>
<%= javascript_tag do %>
window.wistia_id = "<%= @theme.wistia_id %>";
<% end %>
<% end %>
<% end %>


<%= render 'front_office/template_3/header' %>
<div id="video_container" class="bg-cover"  style="background-image:url('<%= @theme.wistia_id.blank? ? (@theme.website_cover_full_size? ? @theme.website_cover_full_size.url(:large,:timestamp => false) : "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/#{@theme.img_id}") : nil  %>'); background-color:<%= @profile.primary_color %>" >
  <div id="filter"></div>
  <div class="coverContentContainer z-index-10000">
    <div class="contentTable">
      <div class="headerText">
        <h1 class="color-white h1 lighter fa-40x"><%= @profile.public_name %></h1>
        <div class="h1 color-white lighter ml40 mr40 mt15"><%= @profile.job %></div>
        <div class="center mt20 mb20">
          <% unless @properties.blank? %>
          <%= link_to  @my_provider.provider_id == "kangalou" ? t("front_office.my_ads") : t('front_office.see_listings'), broker_listing_path, :class=>"btn bold special_font #{@theme.with_slim_button == 1 ? 'btn-custom-slim' : 'btn-custom-primary'} btn-lg pt20 pb20 pl15 pr15 bold" %>
          <% end %>
        </div>
        <div class="h3 color-white"><%= @profile.baseline %></div>
      </div>
    </div>
  </div>
  <% if @theme.wistia_id.present? %>
  <div id="<%= "wistia_#{@theme.wistia_id}" %>" class="wistia_embed backgroundVideo"></div>
  <% end %>
</div>


<nav id="headerBottom" class="navbar navbar-default  bg-white mb0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right mr10">
       <% if @profile.phone.present? and @profile.phone_visibility == 1 %>
       <li class='navbar-text'><i class="fa fa-phone mr5"></i><%= @user.profile.phone %></li>
       <% end %>
       <li><button type="button" class="btn btn-custom-primary navbar-btn mb10" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('front_office.send_my_a_mail') %></button></li>
     </ul>
   </div>
 </div>
</nav>


<% if @properties.present? %>
<div class="container center pt20 pb40">
  <div class="sub-title uppercase"><%= @my_provider.provider_id == "kangalou" ? t("front_office.my_ads") :  t('front_office.properties') %></div>
  <%= render :partial => "front_office/template_3/properties", locals: { :properties => @properties,:by_line=>@by_line,:username=>@user.username,:theme_id=>@theme_id} %>
</div>
<% end %>

<% if @blogs.present? %>
<div class="center">
  <div class="sub-title mb0 uppercase mb20 center"><%= t('front_office.blog') %></div>
</div>
<%= render 'front_office/partials/kangalou_blog' %>
<% end %>

<section class="bg-white mt10 pt20 pb20">
  <%= render 'front_office/partials/footer_broker' %>
</section>


