<% @site_name               = @profile.public_name %>
<% @title_for_layout        = "#{Globalize.with_locale(I18n.locale){@property.property_listing.name}}, #{Globalize.with_locale(I18n.locale){@property.property_classification.name}}, #{@property.locality} #{my_beautiful_price(@property)}" %>
<% @description_for_layout  = "#{Globalize.with_locale(I18n.locale){@property.property_listing.name}}, #{Globalize.with_locale(I18n.locale){@property.property_classification.name}}, #{@property.locality} (#{@property.sublocality}) - #{@property.rooms} #{t('front_office.rooms')}, #{@property.bedrooms} #{t('front_office.bedrooms')},  #{@property.bathrooms} #{t('front_office.bathrooms')}. #{truncate(sanitize(@property.description), :length=>40)}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.domain}/#{@property.id}" : "http://#{@user.username}.#{@my_provider.link_host}/#{@property.id}"%>
<% @image_for_share_url     = @property.property_assets[0].picture.url(:large,:timestamp =>false) if @property.property_assets.present?  %>

<%= render 'layouts/partials/generic_meta' %>

<% if @mandate_website == 0 %>
<%= render "front_office/template_3/header" if params[:iframe].blank? %>
<% end %>

<% if @mandate_website == 0 %>
<%# MANDATE NOT ACTIVATED %>
<div id="template3Cover" class="bg-cover color-white pb30 mb10 relative" style="background-image: url('<%= @property.property_assets.present? ? @property.property_assets.first.picture.url(:large) : PropertyAsset.new.picture.options[:default_url] %>');">
  <%=(image_tag "back_office/ribbon_#{@property.property_listing_id == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent", :style =>"width:200px")if @property.property_flag_id == 5 %>
  <header class="absolute absolute-bottom-left absolute-bottom-right container">
    <h3 class="bg-primary color-white pt10 pb10 pl10 pr10 bold inline-block h3">
      <%= "#{@property.property_classification.name} -  #{@property.property_listing.name} " %>
    </h3>
    <h1 class="color-white">
      <%= my_beautiful_price(@property) %>
      <span class="ml10"><%= @property.locality %></span>
    </h1>
    <ul class="list-inline bold ">
      <% if @property.address_visibility.present? and @property.address.present? %><li><span><i class="fa fa-map-marker"></i> <%= "#{@property.street_number} #{@property.street_name} #{@property.zipcode}"%></span><span class="ml10">-</span></li><% end %>
      <% if @property.availability_date.present? %>
      <li class="pl0 ml0"><%= "#{t('front_office.availability')} : #{@property.availability_date.to_time > Time.now ? (I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y"))) : t('front_office.immediately')}" %> <span class="ml5">|</span></li>
      <% end %>
      <li><%= ("#{@my_provider.provider_id == "kangalou"  ? (link_to "#{t('front_office.ad')} kangalou ##{@property.uid2}","https://kangalou.com/fr/ad/#{@property.uid2}",:target=>"_blank",:class=>"color-white") : "#{t('front_office.ad')} ##{@property.id}"}").html_safe%></li>
    </ul>
  </header>
</div>
<% else %>
<%# MANDATE ACTIVATED %>
<div class="container pl0 pr0">
  <div id="template3Cover" class="bg-cover color-white pb30" style="background-image: url('<%= @property.property_assets.present? ? @property.property_assets.first.picture.url(:large) : PropertyAsset.new.picture.options[:default_url] %>');">
    <%=(image_tag "back_office/ribbon_#{@property.property_listing_id == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent", :style =>"width:200px")if @property.property_flag_id == 5 %>
    <div class="absolute absolute-top-left full-height full-width">
      <div class="filigrane full-width full-height centered-content">
        <div class="pl15 pr15 text-center">
          <h2 class="color-white fs40"><% if @property.address_visibility.present? and @property.address.present? %><%= "#{@property.street_number} #{@property.street_name} #{@property.zipcode}"%> - <% end %><%= @property.locality %></h2>
          <hr>
          <h5 class="color-white fs30"><%= my_beautiful_price(@property) %></h5>
        </div>
      </div>
    </div>
    <header class="absolute absolute-bottom-left absolute-bottom-right container">
      <div class="row">
        <div class="col-sm-6 a-left">
          <h3 class="bg-primary color-white pt5 pb5 pl10 pr10 br4 bold inline-block ellipsis"><%= "#{Globalize.with_locale(I18n.locale){@property.property_classification.name}} -  #{Globalize.with_locale(I18n.locale){@property.property_listing.name}} " %></h3>
        </div>
        <div class="col-sm-6 a-right">
          <h5 class="color-white bold">
            <% if @property.availability_date.present? %>
            <%= t('front_office.availability') %> : <%= (@property.availability_date > Time.now) ? I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %>
            <% end %>
          </h5>
        </div>
      </div>
    </header>
  </div>
</div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-8">
      <%= render :partial =>'front_office/partials/social_sharing',:locals =>{:canonical_for_layout => @canonical_for_layout} %>
      <h1 class="mb5 h3 mt20"><%= "#{Globalize.with_locale(I18n.locale){@property.property_classification.name}} - #{Globalize.with_locale(I18n.locale){@property.property_listing.name}} - #{@property.locality}  #{@property.sublocality.present? ? "(#{@property.sublocality})" : nil } #{@property.rooms.present? ? "- #{@property.rooms} #{t('front_office.rooms')}" : nil } " %></h1>
      <div class="h4"><%= my_beautiful_price(@property) %></div>
      <%# Video %>
      <% if @property.videos.where(:posting_status =>1).present? %>
      <% video =  @property.videos.where(:posting_status =>1).last %>
      <div class="mt25">
        <div class="svgContainer ratio56">
          <iframe width="560" height="315" src="<%= "https://www.shareimmo.com/api/v2/youtube/#{@property.id}/enhanced?locale=#{I18n.locale.to_s}" %>"></iframe>
        </div>
      </div>
      <% end %>
      <div class="fs14 mb30 mt30"><%= Globalize.with_locale(I18n.locale){@property.description.html_safe} %></div>
      <%# Slider %>
      <% if @property.property_assets.blank? || @property.property_assets.count == 1  %>
      <%= image_tag @property.property_assets.present? ? @property.property_assets.first.picture.url(:large) : PropertyAsset.new.picture.options[:default_url] ,:class=>'img-responsive' %>
      <% else %>
      <section id="propertySlider">
        <div class="customNavigation">
          <div id="sync1" class="owl-carousel">
            <% @property.property_assets.each do |picture| %>
            <div class="item">
              <%= image_tag picture.picture.url(:large),:class=>'img-responsive' %>
            </div>
            <% end %>
          </div>
          <a class="shareimmo_controls shareimmo_control_left"><i class="fa fa-angle-left"></i></a>
          <a class="shareimmo_controls shareimmo_control_right"><i class="fa fa-angle-right"></i></a>
        </div>
        <div id="sync2" class="owl-carousel">
          <% @property.property_assets.each do |picture| %>
          <div class="item pt2 pr2 pb2 pl2">
            <%= image_tag picture.picture.url(:large),:class=>'img-responsive' %>
          </div>
          <% end %>
        </div>
      </section>
      <% end %>
      <%# Rhinov %>
      <% if @property.rhinov_link.present? %>
      <div class="center pt10">
        <%= link_to t('front_office.rhinov_title'), @property.rhinov_link,:class=>"btn btn-custom-primary btn-sm",:target=>"_blank" %>
      </div>
      <% end %>


      <section class="mt40 fs12">
        <div class="h4 bold color-black mb20"><%= t('front_office.housing_characteristics') %></div>
        <%# General Informations %>
        <div class="h5 uppercase color-primary mt10 border-bottom-secondary mb10 pb3 border-dotted"><%= t('front_office.general_informations') %></div>
        <div class="row">
          <div class="col-xs-6">
            <div><strong><%= "#{Globalize.with_locale(I18n.locale){@property.property_listing.name}} #{@complement.france_mandat_exclusif == 1 ? "(#{t('front_office.mandat_exlusif')})" : nil}" %></strong></div>
            <div><strong><%= t('front_office.property_classification') %></strong> : <%= Globalize.with_locale(I18n.locale){@property.property_classification.name} %></div>
            <div><strong><%= t('front_office.price') %></strong> : <%= my_beautiful_price(@property) %></div>
            <% if @property.availability_date.present? %><div><strong><%= t('front_office.availability') %></strong> : <%= (@property.availability_date > Time.now) ? I18n.localize(@property.availability_date.to_time,:format=>("%d %B %Y")) : t('front_office.immediately') %></div><% end %>
            <% if @property.level.present? %><div><strong><%= t('front_office.level') %></strong> : <%= @property.level %></div><% end %>
            <% if @property.property_status == 1 %><div><strong><%= t('front_office.property_status') %></strong> : <%= @property.property_status.name %></div><% end %>
            <% if @property.tax_1.present? %><div><strong><%= t('front_office.tax_1') %></strong> : <%= @property.tax_1.present? ? ("#{humanized_money_with_symbol(@property.tax_1)} #{t('front_office.per_year')}") : "" %></div><% end %>
            <% if @property.tax_2.present? %><div><strong><%= t('front_office.tax_2') %></strong> : <%= @property.tax_2.present? ? ("#{humanized_money_with_symbol(@property.tax_2)} #{t('front_office.per_year')}") : "" %></div><% end %>
            <% if @property.fees.present? %><div><strong><%= t('front_office.fees') %></strong> : <%= humanized_money_with_symbol(@property.fees) %></div><% end %>
          </div>
          <div class="col-xs-6">
            <% if @property.rooms.present? %><div><strong><%= t('front_office.rooms') %></strong> : <%= @property.rooms %></div><% end %>
            <% if @property.bathrooms.present? %><div><strong><%= t('front_office.bathrooms') %></strong> : <%= @property.bathrooms %></div><% end %>
            <% if @property.bedrooms.present? %><div><strong><%= t('front_office.bedrooms') %></strong> : <%= @property.bedrooms %></div><% end %>
            <% if @property.showerrooms.present? %><div><strong><%= t('front_office.showerrooms') %></strong> : <%= @property.showerrooms %></div><% end %>
            <% if @property.toilets.present? %><div><strong><%= t('front_office.toilets') %></strong> : <%= @property.toilets %></div><% end %>
            <% if (@property.area_living.present? and @property.area_unit.present?) %><div><strong><%= t('front_office.area') %></strong> : <%=  %> <%= @property.area_living.present? ? (("#{@property.area_living} #{@property.area_unit.symbol}").html_safe) : "" %></div><% end %>
            <% if (@property.area_land.present? and @property.area_unit.present?) %><div><strong><%= t('front_office.land') %></strong> : <%=  %> <%= @property.area_land.present? ? (("#{@property.area_land} #{@property.area_unit.symbol}").html_safe) : "" %></div><% end %>
            <% if @property.year_of_built.present? %><div><strong><%= t('front_office.year_of_built') %></strong> : <%= @property.year_of_built %></div><% end %>
          </div>
        </div>
        <%# Complement France %>
        <% if @property.country_short.upcase == "FR" %>
        <div class="h5 uppercase color-primary mt10 border-bottom-secondary mb10 pb3 border-dotted"><%= t('front_office.others') %></div>
        <div class="row">
          <div class="col-xs-6">
            <% [:france_dpe_indice,:france_dpe_value,:france_ges_indice,:france_ges_value,:france_rent_honorary].each do |c|  %>
            <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c].present? ? @complement[c] : "-" %></div>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if  @complement.france_alur_is_condo.present? and @complement.france_alur_is_condo == 1 %>
            <% [:france_alur_is_condo,:france_alur_legal_action].each do |c|  %>
            <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c] == 1 ? t('front_office.yes_oui') : t('front_office.no_non') %></div>
            <% end %>
            <% [:france_alur_units,:france_alur_spending].each do |c|  %>
            <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c].present? ? @complement[c] : "-" %></div>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="row hidden-xs">
          <div class="col-sm-6">
            <% if @complement.france_dpe_value.present? %>
            <div class="svgContainer ratio_70 center">
              <div id="dpeContainer" data-value="<%= @complement.france_dpe_value %>"></div>
            </div>
            <% end %>
          </div>
          <div class="col-sm-6">
            <% if @complement.france_ges_value.present? %>
            <div class="svgContainer ratio_70 center">
             <div id="gesContainer" data-value="<%= @complement.france_ges_value %>"></div>
           </div>
           <% end %>
         </div>
       </div>
       <% end %>
       <%# Complement Belgium %>
       <% if @property.country_short.upcase == "BE" %>
       <div class="h5 uppercase color-primary mt10 border-bottom-secondary mb10 pb3 border-dotted"><%= t('front_office.others') %></div>
       <div class="row">
        <div class="col-xs-6">
          <% [:belgium_peb_indice,:belgium_peb_value,:belgium_peb_id,:belgium_building_permit,:belgium_done_assignments].each do |c|  %>
          <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c].present? ? @complement[c] : "-" %></div>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% [:belgium_preemption_property,:belgium_subdivision_permits,:belgium_sensitive_flood_area,:belgium_delimited_flood_zone,:belgium_risk_area].each do |c|  %>
          <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c].present? ? @complement[c] : "-" %></div>
          <% end %>
        </div>
      </div>
      <% end %>
      <%# Complement Canada %>
      <% if @property.country_short.upcase == "CA" %>
      <div class="h5 uppercase color-primary mt10 border-bottom-secondary mb10 pb3 border-dotted"><%= t('front_office.others') %></div>
      <div class="row">
        <div class="col-xs-6">
          <% [:canada_mls].each do |c|  %>
          <div><strong><%= t("activerecord.attributes.property_complement.#{c}") %></strong> : <%= @complement[c].present? ? @complement[c] : "-" %></div>
          <% end %>
        </div>
      </div>
      <% end %>
      <%# Google %>
      <% if @transport_google.present? %>
      <div class="h5 uppercase color-primary mt10 border-bottom-secondary mb10 pb3"><%= "#{t('front_office.public_transport')} (~200m)" %></div>
      <div class="row">
        <% @transport_google.group_by {|g| g["types"].first}.each do |a,b|%>
        <div class="col-xs-12">
          <% b.each do |bb| %>
          <div><strong><%= "#{ bb[:name]} (#{t("google.#{a}")})" %></strong><%= " : #{haversine(@property.latitude,@property.longitude,bb.lat,bb.lng).ceil}m" %></div>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <%# Inclusioms %>
      <% @my_inclusion.each do |i| %>
      <% if i[:inclus].size != 0 %>
      <div class="h5 uppercase color-primary mt20 border-bottom-secondary mb10 pb3"><%= i[:name] %></div>
      <div class="row">
        <% i[:inclus].each do |inclu| %>
        <div class="col-xs-6"><%= inclu %></div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </section>
    <% unless @property.property_url.blank? %>
    <div class="center mb30">
      <a class="mt10 btn btn-custom-primary" href="<%= @property.property_url %>" target="_blank"><%= t('front_office.see_original_ad') %></a>
    </div>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-4">
    <div class="bg-white mb10">
      <ul class="nav-sticky sticky-bordered-bottom">
        <% if @complement.canada_mls.present? %>
        <li class="sticky--item pt8 pb8">
          <div class="color-primary bold"> <%= "# MLS :#{@complement.canada_mls}" %></div>
        </li>
        <% end %>
        <li class="sticky--item pt8 pb8">
          <div class="color-primary bold"><%= ("#{@my_provider.provider_id == "kangalou"  ? (link_to "#{t('front_office.ad')} kangalou ##{@property.uid2}","https://kangalou.com/fr/ad/#{@property.uid2}",:target=>"_blank",:class=>"color-primary") : "#{t('front_office.ad')} ##{@property.id}"}").html_safe %></div>
        </li>
      </ul>
      <ul class="nav-sticky sticky-bordered-bottom pb15">
        <li class="sticky--item pt8 pb8">
          <div class="broker-info pt8 pl20">
            <%= image_tag @user.profile.picture.url(:medium),:class=>"broker-info__image f-left img-responsive mr10", :style=>"max-width:140px;" %>
            <div class="a-left">
              <div class="h4 mb5"><%= @user.profile.public_name %></div>
              <% if @user.profile.job.present? %><div class="h5 mb3 mt0"><%= @profile.job %></div><% end %>
              <% if @user.profile.spoken_languages.present? %><div class="italic h6 mt0 mb0">(<%= @profile.spoken_languages %>)</div><% end %>
            </div>
          </div>
          <div class="clear-block"></div>
          <% if @profile.is_a_pro_user == 1 %>
          <hr>
          <div class="broker-info pt8 pl20">
            <% if @profile.logo?  %>
            <%= image_tag @profile.logo.url(:medium),:class=>"broker-info__image f-left img-responsive mr10",:style=>"max-width:140px;" %>
            <address class="a-left ml10">
              <div class="h4 mb5"><%= @profile.agency_name %></div>
              <div class="mb3 mt0">
                <%= "#{@profile.agency_address.present? ? @profile.agency_address : ""}" %><br>
                <%= "#{@profile.agency_city.present?  ? @profile.agency_city : ""}" %><br>
                <% if @profile.agency_zipcode.present? %><%="#{@profile.agency_zipcode} #{@profile.agency_province}"  %><% end %>
              </div>
            </address>
            <% end %>
          </div>
          <div class="clear-block"></div>
          <% end %>
          <% if @agent.present? %>
          <hr>
          <div class="broker-info pt8 pl20">
            <%= image_tag @agent.picture.url(:medium),:class=>"broker-info__image f-left img-responsive mr10", :style=>"max-width:140px;" %>
            <div class="a-left">
              <div class="h4 mb5"><%= "#{@agent.first_name} #{@agent.last_name}" %></div>
              <div class="h5 mb3 mt0"><%= @agent.phone %></div>
              <div class="h5 mb3 mt0"><%= @agent.email %></div>
            </div>
          </div>
          <div class="clear-block"></div>
          <% end %>
        </li>
      </ul>
      <div class="center mt15">
        <ul class="list-inline mb5">
          <% if @user.profile.website.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.website,false) %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.facebook.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.twitter.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.twitter,true) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.linkedin.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.linkedin,true) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.pinterest.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.pinterest,true) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.google_plus.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.google_plus,true) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <% end %>
          <% if @user.profile.instagram.present? %>
          <li><a href="<%= my_url_with_protocol(@user.profile.instagram,true) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
          <% end %>
        </ul>
        <ul class="list-unstyled mt10">
          <ul class="list-unstyled mt10">
            <% if @user.profile.phone_visibility == 1 and @user.profile.phone.present? %><li class="fs20"><i class="fa fa-phone mr5"></i><%= @user.profile.phone %></li><% end %>
            <% if @user.profile.phone_sms.present? %><li class='mb5'><div class="pointer" data-toggle="modal" data-target="#myContactModalSms"><i class="flaticon-sms5 mr5"></i><%= t('back_office.send_me_a_sms') %></div></li><% end %>
          </ul>
        </ul>
        <div>
          <button type="button" class="btn btn-lg btn-block btn-custom-primary bold" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('front_office.contact_me') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<% if @documents.present? %>
<div class="container center">
  <div class="h2 bold color-black mb20"><%= t('front_office.documents') %></div>
  <table class="table table-bordered table-condensed table-striped">
    <% @documents.each do |document| %>
    <tr>
      <td><%= link_to document.title, document.document.url(:timestamp=>false),:target=>"_blank"  %></td>
      <td>
        <%= link_to document.document.url(:timestamp=>false),:target=>"_blank" do  %>
        <i class="fa <%= document.document_content_type == "application/pdf" ? 'fa-file-pdf-o' : (document.document_content_type == "text/plain" ? 'fa-file-text' : 'fa-file-word-o') %> mr5"></i>
        <%= t('app.download') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>




<% if @property.longitude.present? && @property.latitude.present? %>
<div class="container">
  <div class="svgContainer ratio_35 border-top-primary border-bottom-primary border-left-primary border-right-primary mt40">
    <div id="mapContainer"></div>
  </div>
</div>
<%= content_for (:head) do %>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
<link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
<script>
$(document).ready(function(){
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_TOKEN'] %>";
  window.map = new mapboxgl.Map({
    container: 'mapContainer',
    style: 'mapbox://styles/mapbox/bright-v9',
    center: [<%= @property.longitude %>, <%= @property.latitude %>],
    zoom: 13,
    pitch: 45
  })
})
</script>
<% if @property.address_visibility.present? and @property.address.present? %>
<script>
$(document).ready(function(){
  map.scrollZoom.disable()
  map.on('load', function(){
    el = document.createElement('p')
    el.className = 'icon big marker'
    var marker = new mapboxgl.Marker(el).setLngLat([<%= @property.longitude %>,<%= @property.latitude %>]).addTo(map);
  });
  })
</script>
<% end %>
<% end %>
<% end %>



<% if @complement.france_dpe_value.present? %>
<script>
var dpe = new DpeGes();
dpe.dpe({
  domId: 'dpeContainer',
  value: $("#dpeContainer").data('value'),
  width: 300,
  height: 250
});
</script>
<% end %>

<% if @complement.france_ges_value.present? %>
<script>
var ges = new DpeGes();
ges.ges({
  domId: 'gesContainer',
  value: $("#gesContainer").data('value'),
  width: 300,
  height: 250
});
</script>
<% end %>








