<div id="footer_shareimmo" class="pt5 pb5 center">
  <div>
    <span class="mr5"><%= "#{t('front_office.powered_by')}"%> <%= link_to "IMMOSQUARE", root_url(:host=> "http://immosquare.com" ,:subdomain=>false),:target=>'_blank',:class=>"bold italic" %></span>
    <% if (user_signed_in? and @user.present? and current_user.id == @user.id) %>
    - <%= link_to "#{t('app.dashboard')}",dashboard_url(current_user.username,:host=>"1clic.immo",:subdomain=>false) %>
    <% else %>
    <%= link_to new_user_session_path do %><i class="fa fa-lock mr5 ml10"></i><%= t('front_office.sign_in') %><% end %>
    <% end %>
  </div>
  <div class="fs11 italic"><%= "© IMMOSQUARE - #{Time.now.year} -  #{t("app.mentions")}"%></div>
</div>
