<div class="container mb20 mt20" id="posts-displayer">
  <% if  @blogs[0].present? %>
  <%= link_to broker_blog_path("#{@blogs[0].slug}-#{@blogs[0].id}") do  %>
  <article class="col-md-6 col-sm-6 first bg-cover pl0 pr0" style="background-image:url(<%= image_path @blogs[0].cover.url(:medium) %>);">
    <div class="fili">
      <h3><%= @blogs[0].title %></h3>
    </div>
  </article>
  <% end %>
  <% end %>
  <div class="col-md-6 col-sm-6">
    <% if  @blogs[1].present? %>
    <%= link_to broker_blog_path("#{@blogs[1].slug}-#{@blogs[1].id}") do  %>
    <article class="row second bg-cover pl0 pr0" style="background-image:url(<%= image_path @blogs[1].cover.url(:small) %>);">
      <div class="fili">
        <h3><%= @blogs[1].title %></h3>
      </div>
    </article>
    <% end %>
    <% end %>
    <div class="row">
      <% if  @blogs[2].present? %>
      <%= link_to broker_blog_path("#{@blogs[2].slug}-#{@blogs[2].id}") do  %>
      <article class="col-md-6 col-sm-6 third bg-cover pl0 pr0" style="background-image:url(<%= image_path @blogs[2].cover.url(:small) %>);">
        <div class="fili">
          <h3><%= @blogs[2].title %></h3>
        </div>
      </article>
      <% end %>
      <% end %>
      <% if  @blogs[3].present? %>
      <%= link_to broker_blog_path("#{@blogs[3].slug}-#{@blogs[3].id}") do  %>
      <article class="col-md-6 col-sm-6 fourth bg-cover pl0 pr0" style="background-image:url(<%= image_path @blogs[3].cover.url(:small) %>);">
        <div class="fili">
          <h3><%= @blogs[3].title %></h3>
        </div>
      </article>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
