<div class="bg-white pl20 pr20 pt30 pb20 center">
  <%= image_tag @profile.avatar.url(:large),:class=>"img-responsive", :style=>"max-width:200px" %>
  <div class="a-left mt10">
    <h4 class="mt5"><%= @profile.public_name %></h4>
    <div class="h5 mb5"><%= @profile.job %></div>
    <hr>
    <% if @profile.phone_visibility and @profile.phone.present? %>
    <div class="pointer center h1 color-primary"><%= @profile.phone %></div>
    <% end %>
    <ul class="list-unstyled pl0 center">
      <% if @profile.phone_sms.present? %>
      <li class='mt5 mb5'><div class="pointer" data-toggle="modal" data-target="#myContactModalSms"><i class="flaticon-sms5 mr5"></i>M'envoyer un sms</div></li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <button type="button" class="btn btn-lg btn-block btn-custom-primary bold" data-toggle="modal" data-target="#myContactModalMail"><i class="fa fa-envelope mr5"></i><%= t('front_office.contact_me') %></button>
</div>
<% if @profile.facebook.present? %>
<section class="mt30">
  <div class="fb-page" data-href="<%= @profile.facebook %>" data-width="500" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
</section>
<% end %>
