<div class="modal fade" id="myContactModalMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for(BrokerContact.new,:url=>contact_by_mail_path,:remote=>true, :defaults =>{:input_html => {:class => 'form-control'}}) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title color-primary bold" id="myModalLabel"><%= t('front_office.contact') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :full_name,:placeholder=> t('front_office.your_name'),:label=>false %>
        <%= f.input :email,:placeholder=>t('front_office.your_email'),:label=>false %>
        <%= f.input :phone,:label=>false,:placeholder=>t('front_office.your_phone') %>
        <%#= f.input :property_id, :input_html=>{:value => property.present? ? property.id : nil}, :as => :hidden %>
        <%= f.input :user_id,:input_html=>{:value=>@user.id},:as=>"hidden" %>
        <%#= f.input :message,:label=>false,:placeholder=> t('front_office.your_message'),:input_html=>{:class=>'form-control textarea-noresize',:rows=>6,:value=>"#{t('front_office.hello')} #{@user.profile.public_name},\n#{property.present? ? "#{t('front_office.hook')} #{property.address} (##{property.id})" : nil}"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('front_office.close') %></button>
        <%= button_tag :class=>'btn btn-custom-primary' do %><%= t('front_office.send') %><% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="myContactModalSms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= simple_form_for(BrokerContact.new,:url=>contact_by_sms_path,:remote=>true, :defaults =>{:input_html => {:class => 'form-control'}}) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SMS</h4>
      </div>
      <div class="modal-body">
        <%= f.input :email,:placeholder=>t('front_office.your_email'),:label=>"De" %>
        <%= f.input :full_name,:placeholder=> t('front_office.your_name'),:label=>false %>
        <%= f.input :phone,:label=>false,:placeholder=>t('front_office.your_phone') %>
        <%#= f.input :property_id, :input_html=>{:value => property.present? ? property.id : nil}, :as => :hidden %>
        <%= f.input :user_id,:input_html=>{:value=>@user.id},:as=>"hidden" %>
        <%= f.input :by_sms,:input_html=>{:value=>1},:as=>"hidden" %>
        <%= f.input :message,:label=>false,:placeholder=>"Votre message",:input_html=>{:class=>'form-control textarea-noresize',:rows=>6,:value=>"#{t('front_office.hello')} #{@user.profile.public_name},\n\n"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('front_office.close') %></button>
        <%= button_tag :class=>'btn btn-custom-primary' do %><%= t('front_office.send') %><% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
