<div class="a-right mt10 mr10">
  <span class="bold uppercase mr10 color-primary h6"><%= t('front_office.share') %></span>
  <button class="btn btn-sm  color-white share_twitter"      data-url="<%= canonical_for_layout %>"><i class="fa fa-twitter"></i></button>
  <button class="btn btn-sm  color-white share_facebook"    data-url="<%= canonical_for_layout %>"><i class="fa fa-facebook"></i></button>
  <button class="btn btn-sm  color-white share_gplus"         data-url="<%= canonical_for_layout %>"><i class="fa fa-google-plus"></i></button>
  <button class="btn btn-sm  color-white share_linkedin"    data-url="<%= canonical_for_layout %>"><i class="fa fa-linkedin"></i></button>
  <button class="btn btn-sm  color-white share_pinterest"  data-url="<%= canonical_for_layout %>"><i class="fa fa-pinterest"></i></button>
</div>
