

<%= simple_form_for @printTemplateSize do |f| %>
<%= f.input :draft, :input_html =>{:value =>0}, :as => "hidden" %>
<%= f.input :name %>
<div class="row">
  <div class="col-xs-4">
    <%= f.input :width %>
  </div>
  <div class="col-xs-4">
    <%= f.input :height %>
  </div>
  <div class="col-xs-4">
    <%= f.input :unit_id, :collection => {"cm" => 1, "in" => 2, "px" => 3 }, :include_blank => false  %>
  </div>
</div>
<%= f.submit "Save" %>
<% end %>
