<% @title_for_layout = "Print Template" %>
<%= render 'layouts/partials/generic_meta' %>

<div class="mb10 mt10">


<%= link_to "Add size", new_print_template_size_path,:class=>"btn btn-default" %>
<table class="table table-condensed table-bordered" style="margin-top:10px">
  <thead>
    <tr>
      <th><%= t("print.name") %></th>
      <th><%= t("print.size") %></th>
      <th><%= t("app.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @printTemplateSizes.each do |size| %>
    <tr>
      <td><%= size.name %></td>
      <td><%= "#{size.width} x #{size.height} #{size.unit_id == 1 ? "cm" : (size.unit_id == 2 ? "in" : "px")}" %></td>
      <td>
        <ul class="list-inline mb0">
          <li><%= link_to t("app.edit"), edit_print_template_size_path(size), :class=>"color-link" %></li>
          <li><%= link_to t("app.delete"), print_template_size_path(size), data: {:confirm => t("app.are_you_sure")}, :method => :delete, :class => "color-link" %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
