<% @title_for_layout = "Admin" %>
<%= render 'layouts/generic_meta' %>

<div class="container mt50">
  <ul class="list-inline mt30">
    <li><%= link_to "Général", admin_path, :class => " btn btn-link #{['index'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Ad Supports", admin_ad_supports_path, :class => " btn btn-link #{['ad_supports'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Ad Supports Details", admin_ad_support_details_path, :class => " btn btn-link #{['ad_support_details'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Sports Univers", admin_sport_univers_path, :class => " btn btn-link #{['sport_univers'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Sports", admin_sports_path, :class => " btn btn-link #{['sports'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Sports Levels", admin_sport_levels_path, :class => " btn btn-link #{['sport_levels'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Sports Categories", admin_sport_categories_path, :class => " btn btn-link #{['sport_categories'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>
    <li><%= link_to "Blog", admin_posts_path, :class => " btn btn-link #{['posts'].include?(action_name) ? 'btn-custom-primary' : nil}" %></li>

    <% if Rails.env.development? %><li><%= link_to "Mails Tester", "/rails/mailers",:target=>"_blank",:class=>"btn btn-link" %></li><% end %>
  </ul>
  <%= yield %>
</div>
