// Place all the styles related to the fileupload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 52px;
  width: 120px;
}

.navbar-default {
  margin-bottom: 0 !important;
}

.container {
  padding-bottom: 20px;
}

h2 {
  margin-bottom: 30px !important;
}

.description {
  padding-right: 50px;
}