body{
  font-family:"Ubuntu";
  font-weight:400;
  letter-spacing:.2px;
  -webkit-font-smoothing: antialiased;
  background:$light-grey;
  &.home, &.devise{
    background-size:cover;
    background-image: image-url('socialimmo_back.jpg');
    height: calc(100vh);
  }
  &.dashboard{
    padding-top: 50px;
  }
}


#SocialImmoNavbar{
  border-radius: 0px;
  #logoNavbar{
    height: 20px;
  }
}



#user-card{
  width:100%; background-image:image-url('mosaic-connect.svg'); background-repeat:no-repeat; background-position:top left;
  .profile-thumb,.company-thumb{width:130px; height:130px; border-radius:3px; border:1px solid $light-grey; background-color:white;}
  label.file{width:130px; text-align:center;}
}



#flashMessageContainer{
  position:fixed;
  right:20px;
  top:60px;
  width: 420px;
  max-width:calc(100% - 40px);
  z-index:2000;
  div{
    background:white;
    border:1px solid $light-grey;
    padding: 15px;
    margin-bottom: 5px;
    border-left-width:5px;
    border-radius:0;
    border-color:$light-grey;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    &.flash-danger{
      border-color:$red; color:$red;
      .close{color:$red; opacity:1;}
    }
    &.flash-success{
      border-color:$green; color:$green;
      .close{color:$green; opacity:1;}
    }
    &.flash-info,&.flash-notice{
      border-color:#31708f; color:#31708f;
      .close{color:#31708f; opacity:1;}
    }
  }
}


