<footer id="main-footer">
  <div class="container">
    <div class="row same-height-col">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4 col-xs-12 mt30">
            <h3 class="uppercase"><%= ENV['SITE_NAME'] %></h3>
            <ul class="list-unstyled">
              <li><%= link_to "À propros", about_path %></li>
              <li><%= link_to "Comment ça marche ?", about_path %></li>
              <li><%= link_to "Blog",blog_path %></li>
              <li><%= link_to "Politique de confidentialité", policy_path %></li>
              <li><%= link_to "Termes d'utilisation", terms_path %></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-6 mt30">
            <h3>Catégories</h3>
            <ul class="list-unstyled">
              <% SportUniver.limit(6).each do |s| %>
              <li><%= link_to s.name, explore_path(:sport_univer => s.id) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-6 mt30">
            <h3 class="hidden-sm hidden-xs">&#160;</h3>
            <ul class="list-unstyled">
              <% SportUniver.offset(6).each do |s| %>
              <li><%= link_to s.name, explore_path(:sport_univer => s.id) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl40 pr40 newsletter-wrapper mt30 centered-content">
        <div class="newsletter text-center">
          <h3>Newsletter</h3>
          <h4 class="mt10">Recevez les projets favoris de la semaine</h4>
          <form action="#" class="mt20">
            <input type="email" placeholder="Votre email...">
            <input type="submit" value="S'inscrire">
          </form>
          <p class="fs12 color-white mt15 text-left">Vous ne raterez plus aucun projet ....</p>
        </div>
      </div>
    </div>
    <div class="bottom pt30 pb25 mt25 color-white inline-block full-width">
      <div class="pull-left" id="logo">
        <%= image_tag "logo-white.svg", :class=>"img-responsive logo mr10 mt0" %>
        <h1 class="uppercase mt3 mb0 color-white hidden-xs"><%= ENV['SITE_NAME'] %></h1>
      </div>
      <div class="pull-left mt5 ml50 hidden-sm hidden-xs">

      </div>
      <div class="pull-right mt5">
        <p class="inline-block fs14 color-white mb0">© <%= Time.now.year %> <%= ENV['SITE_NAME'] %>. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
