<%#-- Default Meta -- %>
<% set_meta_tags :site => ENV['site_name'], :title => @title_for_layout ? @title_for_layout.html_safe : controller.action_name , :reverse => true %>
<% unless @description_for_layout.nil? %> <% set_meta_tags :description => @description_for_layout.html_safe %> <% end %>
<% if @keywords_for_layout %> <% set_meta_tags :keywords => @keywords_for_layout %><% end %>
<% set_meta_tags :canonical => @canonical_for_layout ? @canonical_for_layout : request.original_url   %>

<% if @noindex_for_layout and @noindex_for_layout ==true %>
<% set_meta_tags :noindex => true %>
<% end %>



<%# --Open Graph Meta-- %>
<% set_meta_tags :og => {
  :site_name =>  ENV['site_name'],
  :title    => ("#{@title_for_layout ? @title_for_layout : controller.action_name} | #{ENV['site_name']}").html_safe,
  :type     => @open_graph_type ? @open_graph_type : 'website',
  :url      => @canonical_for_layout ?  @canonical_for_layout : request.original_url,
  :image => {
      :_ =>  @image_for_share_url ? @image_for_share_url : "",
      :width => @image_for_share_width ? @image_for_share_width : 639,
      :height => @image_for_share_height ? @image_for_share_height : 426
    },
} %>
<% unless @description_for_layout.nil? %> <% set_meta_tags :og =>{:description => @description_for_layout.html_safe}  %> <% end %>



<%# --Twitter Meta-- %>
<% set_meta_tags :twitter => {
    :card => "summary",
    :title    => ("#{@title_for_layout ? @title_for_layout : controller.action_name} | #{ENV['site_name']}").html_safe,
    :url      => @canonical_for_layout ?  @canonical_for_layout : request.original_url,
    :image => {
      :src =>  @image_for_share_url ? @image_for_share_url : image_url('shareimmo_logo_squared_white.png'),
      :width => @image_for_share_width ? @image_for_share_width : 639,
      :height => @image_for_share_height ? @image_for_share_height : 426
    },
  }
%>
<% unless @description_for_layout.nil? %> <% set_meta_tags :twitter =>{:description => @description_for_layout.html_safe}  %> <% end %>

