<header id="top-header">
  <div class="container">
    <%= link_to root_path, :id=>"logo", :class=>"pull-left mt14" do %>
      <%= image_tag "logo.svg", :class=>"img-responsive logo mr10 mt0" %>
      <h1 class="uppercase mt3 mb0 color-primary hidden-xs"><%= ENV['SITE_NAME'] %></h1>
    <% end %>
    <a href="<%= project_new_path %>" class="fs14 color-light-grey medium pull-left start-project"><span class="mr7 fs20">+</span> Démarrer un projet</a>

    <nav class="pull-right">
      <ul class="mb0 pl0">
        <li class="how-it-works wrapper">
          <a href="<%= about_path %>" class="uppercase color-secondary fs12"><span class="hidden-xs hidden-sm">Comment ça marche</span><span class="hidden-md hidden-lg">?</span></a>
        </li>

        <% if user_signed_in? %>
          <li class="user-nav pointer">
            <div class="user-infos text-right">
              <div class="hamburger pull-right">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="thumb mAll7 pull-right mr20">
                <div class="bg-cover" style="background-image:url(<%= current_user.image_to_display %>);"></div>
              </div>
              <span class="color-grey fs14 mr10 pull-right hidden-xs name"><%= current_user.name_to_display %></span>
            </div>
            <div class="dropdown">
              <hr class="mt0 mb0 mr10 ml10">
              <ul>
                <li><%= link_to t('app.dashboard'),  dashboard_path, :class=>"" %></li>
                <li><%= link_to t('app.profile'),  dashboard_profile_path, :class=>"" %></li>

                <li><%= link_to t('app.add_project'),project_new_path, :class=>"" %></li>
                <% if current_user.has_role? :admin %>
                <li><%= link_to t('app.admin'),admin_path, :class=>"" %></li>
                <% end %>
                <li><%= link_to t('app.sign_out'), destroy_user_session_path, :method => :delete,:data => {:confirm => t("app.are_you_sure?")} %></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li class="mr30 ml30">
            <%= link_to t('app.signin'), new_user_session_path, :class=>"uppercase color-primary fs14", :id=>"connect" %>
          </li>
          <li class="register">
            <%= link_to t('app.signup'), new_user_registration_path, :class=>"color-primary uppercase fs14" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
