<% flash.each do |name, msg| %>

<%#=  Par défaut la class de Devise pour une erreur est alert %>
<% if name == "alert" %>
<% name = "danger" %>
<% elsif name == "notice" %>
<% name = "info" %>
<% end %>

<% unless msg.blank? %>
<div id="flashMessage">
  <div class=" mb3 mt3 alert alert-<%= name.blank? ? "info" : name %>">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <div id="<%= "flash_#{name}" %>">
      <%= msg.html_safe %>
    </div>
  </div>
</div>
<% end %>
<% end %>
