<%= render :layout => 'devise/layout' do %>



<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.input :email,:placeholder => "email",:label=>false,:input_html=>{:class=>"input-lg fullWidth form-control"} %>
<%= f.input :password,:placeholder=>"password",:label=>false,:input_html=>{:class=>"input-lg fullWidth form-control"} %>
<%= f.input :password_confirmation,:placeholder=>"password",:label=>false,:input_html=>{:class=>"input-lg fullWidth form-control"} %>
<%= f.button :submit, "Connexion",:class=>'btn btn-custom-primary btn-block mt5' %>


<%= render "devise/shared/links" %>
<%= render "devise/shared/socials" %>

<% end %>

<% end %>
