<nav id="SocialImmoNavbar" class="navbar navbar-default mt5">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path, :class=>"navbar-brand" do %>
      <%= image_tag "logo_socialimmo_mini.png", :class=>"img-responsive",:id => "logoNavbar" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= current == 1 ? "active" : nil %>"><%= link_to t('app.dashboard'), dashboard_path, :class=> current == 1 ? "color-primary" : nil  %></li>
        <li class="<%= current == 3 ? "active" : nil %>"><%= link_to t('dashboard.history'), dashboard_history_path, :class=> current == 3 ? "color-primary" : nil  %></li>
        <li class="<%= current == 4 ? "active" : nil %>"><%= link_to t('app.settings'), dashboard_settings_path, :class=> current == 4 ? "color-primary" : nil  %></li>
      </ul>
    </div>
  </div>
</nav>

