<%= render 'dashboard/header', :current => 3 %>

<div class="container">
  <h2><%= t("dashboard.history") %></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed mt10 sortable mb0 bg-white">
      <thead>
        <tr>
          <th><%= t("dashboard.picture") %></th>
          <th><%= t("dashboard.title") %></th>
          <th><%= t("dashboard.account") %></th>
          <th><%= t("dashboard.date") %></th>
        </tr>
      </thead>
      <tbody>
        <% @histories.each do |history| %>
        <tr>
          <td>
            <%= link_to history.backlink, target: "_blank" do %>
            <%= image_tag(history.caption.present? ? history.caption : history.url_avatar, size: "80") %>
            <% end %>
          </td>
          <td>
            <%= history.historable.video_title if history.historable_type == "YoutubePost"  %>
            <%= history.historable.tweet if history.historable_type == "TwitterPost"  %>
            <%= history.historable.message if history.historable_type == "FacebookPost" %>
          </td>
          <td><%= image_tag(history.url_avatar, width: 20, height: 20) %> <%= history.name %></td>
          <td><%= t("dashboard.posted_on", provider: history.historable_type[0...-4], date: I18n.localize(history.created_at.to_time,:format=>("%d %b %Y"))) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>