<%= content_for :head do %>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<% end %>


<%= render 'dashboard/header', :current => 1 %>


<% if @is_authorized %>
<div class="container pt20">
  <% if @have_1_social %>
  <div class="row">
    <div class="col-md-8">
      <% if @response.present? %>
      <div class="h4 medium color-dark-grey mb25"><%= t('app.my_listings') %></div>
      <div id="properties">
        <% @response[:results][:features].each do |p| %>
        <div class="property bg-white bAll border-grey br3 relative">
          <div class="thumb bg-cover pull-left" style="background-image:url(<%= p[:properties][:cover_url] %>);"></div>
          <div class="infos pull-left">
            <div class="h5 ellipsis color-primary mt10 pr10 pl15"><%= "##{p[:properties][:uid].present? ? p[:properties][:uid] : p[:properties][:id]} #{p[:properties][:property_listing][:fr]} - #{p[:properties][:locality]}" %></div>
            <div class="h6 ellipsis pr10 pl15"><%= p[:properties][:address] %></div>
            <div class="color-dark-grey mt5 block ellipsis pl15"><%= p[:properties][:price_formated] %></div>
            <div class="absolute absolute-bottom-right">
              <div class="pull-right social-networks">
                <% if @facebook.present? or @twitter.present? or @google.present? %>
                <span class="color-grey fs12 pull-left mt5 mr10"><%= t('app.share') %></span>
                <% end %>
                <%= link_to(('<i class="fa fa-facebook"></i>').html_safe, facebook_step1_path(p[:properties][:id]), :class=> "pull-left color-white bg-facebook fs13 social-network",:remote => true) if @facebook.present? %>
                <% if @twitter.present? %>
                <%= link_to(('<i class="fa fa-twitter"></i>').html_safe, twitter_step1_path(p[:properties][:id]), :class=> "pull-left color-white bg-twitter fs13 social-network",:remote => true) if @twitter.present? %>
                <% end %>
                <% if @google.present? %>
                <%= link_to(('<i class="fa fa-youtube"></i>').html_safe, youtube_step1_path(p[:properties][:id]), :class=> "pull-left color-white bg-youtube fs13 social-network",:remote => true) if @google.present? %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div id="history-list">
        <div class="h4 medium color-dark-grey mb25"><%= link_to t('dashboard.history'), dashboard_history_path %></div>
        <% @histories.each do |history| %>
        <div class="history mb20">
          <div class="thumb bg-cover pull-left" style="background-image: url(<%= history.caption.present? ? history.caption : history.url_avatar %>)";></div>
          <div class="infos pull-left pt10">
            <h3 class="ellipsis block medium fs12 mt2 pr10 pl10">
              <%= history.historable.video_title if history.historable_type == "YoutubePost"  %>
              <%= history.historable.tweet if history.historable_type == "TwitterPost"  %>
              <%= history.historable.message if history.historable_type == "FacebookPost" %>
            </h3>
            <span class="normal color-grey fs12 mt5 block ellipsis pr10 pl10"></span>
            <div class="bottom inline-block full-width bt border-light-grey mt8 fs10 pt5 pb5 pl10 relative">
              <%= link_to t("dashboard.posted_on", provider: history.historable_type[0...-4], date: I18n.localize(history.created_at.to_time,:format=>("%d %b %Y"))), history.backlink, class: "color-grey italic underline", target: "_blank" %>
              <%= link_to history.backlink, class: "absolute absolute-top-right color-white bg-#{history.icon} fs13 social-network", target: "_blank" do %>
              <i class="fa fa-<%= history.icon %>"></i>
              <% end %>
              <div class="clearfix"></div>
              <%= link_to image_tag(history.url_avatar, width: 20, height: 20), history.backlink, class: "color-grey italic", target: "_blank" %>
              <%= link_to history.name, history.backlink, class: "color-grey italic", target: "_blank" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="center">
    <div class="fs25 center">
      <%= t('app.welcome').html_safe %><br>
      Vous devez connecter vos réseaux sociaux en <%= link_to "cliquant ici", dashboard_settings_path, :class=>"color-link" %>
    </div>
    <% end %>
  </div>
</div>


<%# Facebook Modal %>
<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="facebookModalLabel">
  <div class="modal-dialog modal-lg" role="document">
  </div>
</div>


<!-- Twitter Modal -->
<div class="modal fade" id="twitterModal" tabindex="-1" role="dialog" aria-labelledby="twitterModalLabel">
  <div class="modal-dialog modal-lg" role="document">
  </div>
</div>


<!-- Youtube Modal -->
<div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="youtubeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
  </div>
</div>

<% else %>
<div class="fs40 center">
  <%= t("dashboard.no_auth") %>
</div>

<% end %>
