<%= render 'dashboard/header', :current => 4 %>
<div class="container">
  <div class="h4 mt30 mb20"><%= t('app.my_social_networks') %></div>
  <div class="row">
    <div class="col-sm-4">
      <table class="table table-condensed table-bordered table-valign-middle">
        <%# Facebook %>
        <tr>
          <td class="ellipsis" style="width:100px;">Facebook</td>
          <td class="ellipsis">
            <% if @facebook.present? %>
            <%= ("#{image_tag @facebook.image,:class=>"img-responsive mr5",:style=>"height:30px"} #{@facebook.name}").html_safe %>
            <% end %>
          </td>
          <td class="a-right">
            <% if @facebook.present? %>
            <%= link_to t('app.signout'), dashboard_delete_app_path(@facebook),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure')} %>
            <% else %>
            <%= link_to t('app.signin'),"/users/auth/facebook?user_id=#{current_user.id}",:class=>"btn btn-xs btn-default" %>
            <% end %>
          </td>
        </tr>
        <%# Twitter %>
        <tr>
          <td class="ellipsis" style="width:100px;">Twitter</td>
          <td class="ellipsis">
            <% if @twitter.present? %>
            <%= ("#{image_tag @twitter.image,:class=>"img-responsive mr5",:style=>"height:30px;"} @#{@twitter.nickname}").html_safe %>
            <% end %>
          </td>
          <td class="a-right">
            <% if @twitter.present? %>
            <%= link_to t('app.signout'), dashboard_delete_app_path(@twitter),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure')} %>
            <% else %>
            <%= link_to t('app.signin'),"/users/auth/twitter?user_id=#{current_user.id}",:class=>"btn btn-xs btn-default" %>
            <% end %>
          </td>
        </tr>
        <%# Google %>
        <tr>
          <td class="ellipsis" style="width:100px;">Youtube</td>
          <td class="ellipsis">
            <% if @google.present? %>
            <%= ("#{image_tag @google.image,:class=>"img-responsive mr5",:style=>"height:30px;"} #{@google.name}").html_safe %>
            <% end %>
          </td>
          <td class="a-right">
            <% if @google.present? %>
            <%= link_to t('app.signout'), dashboard_delete_app_path(@google),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure')} %>
            <% else %>
            <%= link_to t('app.signin'),"/users/auth/google_oauth2?user_id=#{current_user.id}",:class=>"btn btn-xs btn-default" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
