<header class="relative centered-content" id="main-header">
  <%= link_to root_path, :class=>"left-action absolute absolute-center-left pr20 pl20" do %>
    <%= image_tag "home-icon.svg" %>
  <% end %>

  <h1 class="fs16 lato uppercase color-white"><%= title %></h1>
  
  <% if right_icon && right_link %>
    <a href="#" class="right-action absolute absolute-center-right pr20 pl20">
    <%= link_to right_link, :class=>"right-action absolute absolute-center-right pr20 pl20" do %>
      <%= image_tag right_icon %>
    <% end %>
  <% end %>
</header>