<%= render :layout => 'devise/layout' do %>

<% if resource_name == :client  %>

<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
  <div class="full-width connect pl20 pr20 pb15 pt15" style="background-image:url(<%= image_path 'mosaic-connect.svg' %>);">
    <h2 class="fs20 color-secondary mt20 mb10 normal text-center medium"><%= t('app.signin') %></h2>
    <p class="fs12 color-grey mb20 text-center"><%= t('connect_register.connect_tagline') %></p>
    <%= minimal_form_for resource, :as=> resource_name, :url => session_path(resource_name),:defaults =>{:input_html=>{:class=>"input-lg"}}  do |f| %>
    <%= f.input_field :redirect_uri ,:value => params[:redirect_uri], :as => :hidden  %>
    <%= f.input :email, required: false, autofocus: true, :class=>"fs12 pt10 pb10 pl15 pr15 mb25", :placeholder=>t('app.email'), :wrapper_html=>{:class=>"mb25"}%>
    <%= f.input :password, required: false, :class=>"fs12 pt10 pb10 pl15 pr15", :placeholder=>t('app.password'), :wrapper_html=>{:class=>"mb0"}%>
    <%= link_to t('app.forget_password'), new_password_path(resource_name),:class=>"mt10 fs12 color-link pull-right" %>
    <%= f.input_field :store_id,:value => @store.id, :as=>"hidden" %>
    <div class="inline-block full-width mt30">
      <%= f.submit :class => "btn-primary pt10 pb10 pr20 pl20 pull-right fs16", :value => t('app.connect'), :onclick => "spin(true);" %>
      <%= f.input :remember_me, as: :boolean, :input_html => {:style=>"height:20px;"},:wrapper_html=>{:class=>"mt0 mb0 inline-block pull-right mr15 mt3"}, :label_html=>{:class=>"pl0 pr25"}, :label=>t('connect_register.remember_me'), :boolean_style=>:inline %>
    </div>
    <% end %>
    <% if @store.allow_user_creation == 1 %>
    <div class="block text-center color-grey fs12 mt15 pt15 bt border-grey">
      <%= t('connect_register.not_client_yet') %> <%= link_to t('connect_register.subscribe_here'), new_client_registration_path, :class=>"bold color-link underline"  %>
    </div>
    <% end %>
  </div>
</div>




<% else %>
<div class="h1 mt20 mb10">Admin Access</div>
<%= minimal_form_for resource, :as=> resource_name, :url => session_path(resource_name),:html=>{:class=>"mt10"},:defaults =>{:input_html=>{:class=>"input-lg"}}  do |f| %>
<%= f.input :email, required: false, autofocus: true, :class=>"fs12 pt10 pb10 pl15 pr15 mb25", :placeholder=>t('app.email'), :wrapper_html=>{:class=>"mb25"}%>
<%= f.input :password, required: false, :class=>"fs12 pt10 pb10 pl15 pr15", :placeholder=>t('app.password'), :wrapper_html=>{:class=>"mb0"}%>
<div class="a-right mt15">
  <%= f.submit :class => "btn btn-default", :value => t('app.connect'), :onclick => "spin(true);" %>
</div>
<% end %>
<% end %>

<% end %>
