<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title inline-block" id="myModalLabel"><%= t("app.select_portals") %></h4>
</div>

<div class="modal-body">
  <div class="mt5 mb20">
    <% @portals.in_groups_of(3,false) do |portal|%>
    <div class="row">
      <% portal.each do |p| %>
      <div class="col-xs-4">
        <%= simple_form_for :toto, :remote => true, :url => dashboard_all_visibility_update_portal_path,:html=>{:id=>"visibility_portal_form_#{p.id}"} do |f| %>
        <div class="btn-group">
          <%= f.input :property_id,:as=>"hidden", :input_html=>{:value => @property_ids} %>
          <%= f.input :user_id,:as=>"hidden", :input_html=>{:value => current_user.id} %>
          <%= f.input :portal_id,:as=>"hidden", :input_html=>{:value => p.id} %>
          <%= f.input :visibility_start,:as=>"hidden", :input_html => {:value => Time.now} %>
          <%= f.input :visibility_until,:as=>"hidden", :input_html => {:value => "2099-12-31"} %>
          <%= f.input :posting_status, :as =>"boolean", :wrapper_html=>false, :label_html =>{:class=>"btn btn-default flex", :for=>"posting_status_#{p.id}", style: "display: block; padding-left: 15px; text-indent: 0px;"}, :label=>p.name, :input_html=>{:class=>"mr5 ee", :onChange =>"$('#visibility_portal_form_#{p.id}').submit()", :id=>"posting_status_#{p.id}", style: "width: 13px; height: 13px; padding: 0px; margin: auto; vertical-align: bottom; position: relative;"} %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="modal-footer">
  <span class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></span>
</div>
