<nav id="DiffuseimmoNavbar" class="navbar navbar-default mt5">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path, :class=>"navbar-brand" do %>
      <%= image_tag "logo_diffuseimmo_mini.png", :class=>"img-responsive",:id => "logoNavbar" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= current == 1 ? "active" : nil %>"><%= link_to t('app.dashboard'), dashboard_path, :class=> current == 1 ? "color-primary" : nil  %></li>
        <li class="<%= current == 2 ? "active" : nil %>"><%= link_to t('app.my_account'), dashboard_profile_path, :class=> current == 2 ? "color-primary" : nil  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.profile.avatar.url(:large), :classs=>"img-responsive img-circle", :style =>"width:20px;height:20px;" %>
            <%= current_user.name_to_display %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('app.sign_out'), destroy_user_session_path, :method=>'delete', :class=>"" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

