
<%= content_for :head do %>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<% end %>


<%= render 'dashboard/header', :current => 1 %>



<div class="container pt20">
  <% if @response.present?  %>
  <div class="row">

    <div class="col-md-8">
      <div class="h4 medium color-dark-grey mb25"><%= t('app.my_listings') %> </div>
      <div id="properties">
      <div class="well well-sm pl0">
        <div class="pull-left pl15 pr15 pb10 pt10" style="padding: auto auto; margin-right: 257px;"><label style="text-align: center; display: block;"><%= check_box_tag 'all_properties', 'yes', false, class: 'all_properties' %>&nbsp;Select All</label></div>
        <%= link_to t('app.manage'), dashboard_all_visibility_manage_path, class: "btn btn-sm btn-default", id:"all_manage" %>
        <%= link_to t('app.see'), dashboard_all_visibility_show_path, class: "btn btn-sm btn-default", id:"all_see" %>
      </div>
        
        <% @response[:results][:features].each do |p| %>

        <div class="property bg-white bAll border-grey br3 relative">
          <div class="pull-left pt50 pl15 pr15" style="padding: auto auto;"><%= check_box_tag p[:properties][:id], 'yes', false, class: "checked_properties" %></div>
          <div class="thumb bg-cover pull-left" style="background-image:url(<%= p[:properties][:cover_url] %>);"></div>
          <div class="infos pull-left">
            <div class="h5 ellipsis color-primary mt10 pr10 pl15"><%= "##{p[:properties][:uid].present? ? p[:properties][:uid] : p[:properties][:id]} #{p[:properties][:property_listing][:fr]} - #{p[:properties][:locality]}" %></div>
            <div class="h6 ellipsis pr10 pl15"><%= p[:properties][:address] %></div>
            <div class="color-dark-grey mt5 block ellipsis pl15"><%= p[:properties][:price_formated] %></div>
            <div class="absolute absolute-bottom-right">
              <div class="pull-right social-networks mr5 mb5">
                
                <%= link_to t('app.manage'), dashboard_visibility_manage_path(p[:properties][:id]), :class=> "btn btn-sm btn-default", remote: true %>
                <%= link_to t('app.see'), dashboard_visibility_show_path(p[:properties][:id]), :class=> "btn btn-sm btn-default", remote: true %>
                
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div id="history-list">
        <div class="h4 medium color-dark-grey mb25"><%= t('app.history') %></div>
        <% @visibility_portals.sort_by(&:created_at).reverse.each do |order| %>
        <div class="history mb20">
          <div class="thumb bg-cover pull-left" style="background-image: url(<%= order.picture_url %>)";></div>
          <div class="infos pull-left pt10">
            <h3 class="ellipsis block medium fs12 color-link mt2 pr10 pl10"><p class="medium color-link fs12"><%= !order.backlink_url.nil? ? (link_to order.portal.name, order.backlink_url) : order.portal.name + " (link pending)" %></p></h3>
            <span class="normal color-grey fs12 mt5 block ellipsis pr10 pl10"></span>
            <div class="bottom inline-block full-width bt border-light-grey mt8 fs10 pt5 pb5 pl10 relative">
              <div class="color-grey italic underline"> <%= t("app.order.ordered_on",  date: I18n.localize(order.created_at.to_time,:format=>("%d %b %Y"))) %></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  
  </div>

  <% else %>
  <div class="fs25 center"><%= t('app.welcome') %></div>

  <% end %>
</div>

<%# Modal Visibility %>
<div class="modal fade" id="myModalVisibility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<%# Modal Visibility %>
<div class="modal fade" id="myModalShowVisibility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script type="text/javascript">

  $("#all_manage, #all_see").on('click', function(e) {
    e.preventDefault();
    console.log('alex');
    var array_of_id = [];
    for (var i = 0; i < $('.checked_properties').length; i++) {
      if ($('.checked_properties')[i].checked) {
        array_of_id.push($('.checked_properties')[i].id);
      }
    }
    if ($(this).attr('id') == "all_manage") {
      my_url = "all_visibility/";
    } else {
      my_url = "all_visibility/s";
    }
    

    $.ajax({
    method: "GET",
    url: my_url,
    data: {array_of_id: array_of_id}
    });
  });


  $('#all_properties').click(function(event) {
  if(this.checked) {
      // Iterate each checkbox
      $('.checked_properties').each(function() {
          this.checked = true;
      });
  }
  else {
    $('.checked_properties').each(function() {
          this.checked = false;
      });
  }
  });

</script>