

<%= render 'dashboard/header', :current => 2 %>


<div class="container mt35">
  <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt25 inline-block full-width">
  <section class="row">
    <%= minimal_form_for @profile, :url => dashboard_profile_update_path(@profile),:defaults =>{:input_html => {:class=>"input-lg"}} do |f| %>
    <div class="col-md-3 pb30">
      <div id="user-card" class="bAll border-grey br3 pl15 pr15 pb15 bg-white">
        <div class="text-center pt40">
          <div class="profile-thumb bg-cover inline-block" style="background-image:url(<%= image_path @profile.avatar.url(:large) %>);"></div>
          <div class="block mt10">
            <%= f.input_field :avatar,:label => false, :class=>"hide", :id=>"profilePictureInput" %>
            <label for="profilePictureInput" class="file pointer fs12 normal bAll br2 border-primary pt5 pb5 color-primary mb0"><i class="fa fa-picture-o fs14 mr10"></i> <%= t('user.edit_picture') %></label>
          </div>
        </div>
      </div>

      <div id="user-card" class="bg-white bAll border-grey br3 pt40 pl15 pr15 pb15 text-center mt20">
        <div class="company-infos">
          <div class="inline-block full-width text-center">
            <div class="inline-block full-width">
              <div class="company-thumb inline-block bg-cover" style="background-image:url(<%= image_path @profile.logo.url(:large) %>);"></div>
            </div>
            <%= f.input_field :logo,:label => false, :class=>"hide", :id=>"companyPictureInput" %>
            <label for="companyPictureInput" class="bg-white mt10 file pointer fs12 normal bAll br2 border-primary pt5 pb5 color-primary mb0"><i class="fa fa-picture-o fs14 mr10"></i> <%= t('user.edit_logo') %></label>
          </div>
        </div>
      </div>
      <div>
        <!-- <p class="mt20"><%#= t('app.tokens') %>: <%#= @testApi["authorizations"]["tokens"].first["tokens"] %></p> -->
      </div>
    </div>
    <div class="col-md-9">
        <div class="row row-10">
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.first_name') %></h5>
            <%= f.input_field :first_name %>
          </div>
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.last_name') %></h5>
            <%= f.input_field :last_name %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-8 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.email') %></h5>
            <%= f.input_field :email %>
          </div>
          <div class="col-md-4 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.phone') %></h5>
            <%= f.input_field :phone %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.company_name') %></h5>
            <%= f.input_field :company_name %>
          </div>
          <div class="col-md-6 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.company_email') %></h5>
            <%= f.input_field :company_email %>
          </div>
        </div>
        <div class="row row-10 mt20">
          <div class="col-md-12 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.address') %></h5>
            <%= f.input_field :company_address %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-12 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.apt_bat_suit') %></h5>
            <%= f.input_field :company_address2 %>
          </div>
        </div>
        <div class="row row-10">
          <div class="col-md-4 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.country') %></h5>
            <%= f.input_field :company_country, :prompt=>t('app.choose') %>
          </div>
          <div class="col-md-4 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.city') %></h5>
            <%= f.input_field :company_city %>
          </div>
          <div class="col-md-2 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.region') %></h5>
            <%= f.input_field :company_province %>
          </div>
          <div class="col-md-2 mb25">
            <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.zipcode') %></h5>
            <%= f.input_field :company_zipcode %>
          </div>
        </div>
        <div class="a-right">
          <%= f.submit :class => "btn btn-custom-primary", :value => t('app.save._') %>
        </div>

    </div>
    <% end %>
    </div>
  </section>

</div>



