<!-- Modal -->
<div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="add_task_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une tâche</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :task, :url =>task_create_path do |f| %>
        <div class="well well-sm">
          <div class="form-group">
            <%= f.input :name %>
          </div>
          <div class="form-group">
            <%= f.label :content, 'Contenu : ' %>
            <%= f.text_area :content, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :user_id, :label => "Assigner a : ", :collection => @users.map{ |u| [u.username, u.id] } %>
          </div>
          <div class="form-group">
            <%= f.label :priority, 'Priorité : ' %>
            <%= f.select :priority, [['Haute','1'], ['Moyenne','2'], ['Basse','3']], {},  :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :content, 'Date limite : ' %>
            <%= f.date_field :due_date, :class => "form-control", :value => Time.now.strftime('%Y-%m-%d') %>
          </div>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>