<!-- Modal -->
<div class="modal fade" id="edit_task_modal<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="edit_task_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une tâche</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :task, :url => {:action => "update", :id => t.id } do |f| %>
        <div class="well well-sm">
          <div class="form-group">
            <%= f.input :name, :input_html => { :value => t.name } %>
          </div>
          <div class="form-group">
            <%= f.label :content, 'Contenu : ' %>
            <%= f.text_area :content, :class => "form-control", :value => t.content %>
          </div>
          <div class="form-group">
            <%= f.input :user_id, :label => "Assigner a : ", :collection => @users.map{ |u| [u.username, u.id] }, :selected => t.user_id %>
          </div>
          <div class="form-group">
            <%= f.label :priority, 'Priorité : ' %>
            <%= f.select :priority, [['Haute','1'], ['Moyenne','2'], ['Basse','3']], {},  :class => "form-control", :selected => t.priority %>
          </div>
          <div class="form-group">
            <%= f.label :content, 'Date limite : ' %>
            <%= f.date_field :due_date, :class => "form-control", :value => t.due_date.strftime('%Y-%m-%d') %>
          </div>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>