<h2>Mes tâches</h2>

<div class="mb10 mt10 center">
  <a class="btn btn-custom-primary btn-sm" href="#" data-toggle="modal" data-target="#add_task_modal"><i class="fa fa-plus mr4"></i> Ajouter une tâche</a>
</div>

<%= render 'tasks/add_task_form' %>

<% @tasks.each do |z| %>

<% if z.status == 0 %>
<div class="panel panel-default">
  <% else case z.priority
    when 1 %>
    <div class="panel panel-danger">
      <% when 2 %>
      <div class="panel panel-warning">
        <% when 3 %>
        <div class="panel panel-info">
          <% end
          end %>

          <div class="panel-heading">
            <h3 class="panel-title">
              <%= z.name %> - <%= z.user.username %>
              <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#edit_task_modal<%= z.id %>"><i class="fa fa-pencil"></i></button>
                <% if z.status != 0 %> 
                <%= link_to raw('<i class="fa fa-archive" action="/"></i>'), task_over_path(z),:method => "post", :class => "btn btn-default btn-xs", :data => {:toggle => "tooltip", :placement => "top", :confirm=>"Are you sure?"}, :title => "Tâche terminée" %>
                <% else %>
                  Terminée
                <% end %> 
              </div>
            </h3>
          </div>
          <div class="panel-body">
            <p><%= z.content %></p>
            <span class="badge">Pour le <quote><%= z.due_date.strftime("%d %b %Y") %></quote></span>       
          </div>
        </div>

        <%= render 'tasks/edit_task_form', :t => z %>

        <% end %>

        <%= will_paginate @tasks, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>

        <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
        });
        </script>