<%= render :layout => 'devise/layout' do %>
<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl0 pr0" id="connectForm-wrapper">
  <div class="full-width connect pl20 pr20 pb15 pt15" style="background-image:url(<%= image_path 'mosaic-connect.svg' %>);">
    <h2 class="fs20 color-secondary mt20 mb10 normal text-center medium"><%= t('app.forget_password') %></h2>
    <p class="fs12 color-grey mb20 text-center"><%= t('app.reset_password') %></p>
    <%= minimal_form_for resource, :as=> resource_name, :url => password_path(resource_name),html: { method: :put },:defaults =>{:input_html=>{:class=>"input-lg"}}  do |f| %>
    <%= f.error_notification %>
    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.input :password, required: false, :class=>"fs12 pt10 pb10 pl15 pr15", :placeholder=>t("app.password"), :wrapper_html=>{:class=>"mb10"}%>
    <%= f.input :password_confirmation, required: false, :class=>"fs12 pt10 pb10 pl15 pr15", :placeholder=>t("app.password"), :wrapper_html=>{:class=>"mb0"}%>
    <%= f.input_field :store_id,:value => @store.id, :as=>"hidden"  if resource_name == :client  %>
    <div class="inline-block full-width mt30">
      <%= f.submit :class => "btn-primary pt10 pb10 pr20 pl20 pull-right fs16", :value => t('app.reset_password') %>
    </div>
    <% end %>
    <div class="block text-center color-grey fs12 mt15 pt15 bt border-grey">
      <%= t('connect_register.not_client_yet') %> <%= link_to t('connect_register.subscribe_here'), new_client_registration_path, :class=>"bold color-link underline"  %>
    </div>
  </div>
</div>
<% end %>
