<%= render :layout => 'files/layout' do %>

 	<%= link_to files_inventory_download_path(:secure_id => params[:secure_id], :secure_token => params[:secure_token],:format=>"pdf"), :target => "_blank", :class=>"btn btn-default" do %>
		Cliquez-ici pour télécharger votre fichier PDF de manière sécurisée
 	<% end %>

<% end %>
