<%= render :layout => 'files/layout' do %>

	<h3><%= @object.designation %></h3>
	<br />
	<%= simple_form_for(@object, :url => files_inventory_path, :method => :post, :defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
		<%= f.input :secure_password,:label=>false,:placeholder=> t('app.password'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
		<br />
		<%= f.submit t('files.show.get_file'), :class => "btn-block btn-lg lastElement #{custom_button_class}" %>

	<% end %>
	<% if @errors.count > 0 %>
		<div id="errors"><%= @errors.first %></div>
	<% end %>
<% end %>
