<div class="<%= custom_color_class %>">
  <i class="fa fa-100x fa-bus mb20"></i>
  <div class="h1">Error 404</div>
  <div class="h3">Oops....The page you are looking for does not seem to exist!</div>
</div>
