Dear Sir, Madam,<br>

Here you will find the link for the payment process: <%= link_to "payment link", make_payment_url(@payment.secure_id) %><br>

Your login is your e-mail address mentioned in this e-mail and the associated password is also your e-mail address.<br>

For the first payment, you must add the credit card of your choice (AMEX, VISA, MASTERCARD). Then, this card will be used for future payments.

You will be able to change these settings in your account.<br>

We have defined a payment plan according to our previous discussions. We remain at your disposal if you want to modify something.<br>

You can contact us by:<br>

- email: info@prestige-MLS.com<br>

- telephone: +33 977 555 035 or +1 514 700 1963, UTC / GMT - 5<br>

We can contact you in English, Spanish or French.<br>
Best regards<br>
<br>

The Prestige MLS team.<br>

PS: For security reasons, we advise you to change your password directly in your account.<br>