<% @title_for_layout = "Kangalou" %>
<% @description_for_layout = "Kangalou Mini site - website for realestate" %>
<% @canonical_for_layout = root_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>


<iframe style="overflow-x:hidden" src="<%= "http://kangalou.wgroupe.com"  %>" width="100%" height="600%"></iframe>

<script type="text/javascript">
$(document).ready(function (){
  window.scrollTo(0,0);
  $(window).resize(function(){
    $("iframe").css("height",$(window).height()-5)
  }).trigger('resize');
});
</script>
