body.front_office.template_1{
  #template1Cover{height:400px;}
  padding-top: 0px;
  background: #eeeeee;
  color:#333;
  .header-top{
    background-color: rgba(0, 0, 0, 0.0235294);
    color: rgb(51, 51, 51);
    cursor: auto;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 42px;
    line-height: 22.3999996185303px;
    max-height: 100px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    .navbar-nav{
      a{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  #my_navbar{
    background: $white;
    .navbar-brand{
      font-size: 1.5em;
    }
  }
  .sub-title{
    font-size: 1em;
    display: inline-block;
    padding: 0 35px;
    position: relative;
    opacity: 0.6;
    margin: 10px 0;
    &:before{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #ccc;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #ccc;
      position: absolute;
      right: 0;
      top: 50%
    }
  }
  #overviewSticky, #brokerSticky{
    .panel-sh{
      z-index: 100
    }
    .broker-info__image{
      width: 100px;
      height: 100px;
      @include border-radius(2px);
    }
  }
  #mapContainer{
    position:absolute;
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
    img {
      max-width: none !important;
    }
    label {
      width: auto; display:inline;
    }
  }
  @media (max-width:992px){
    #posts-displayer{
      .first{height:430px !important;}
      .second{height:215px !important;}
      .third{height:215px !important;}
      .fourth{height:215px !important;}
    }
    h3{font-size:18px;}
  }
  @media (max-width:768px){
    #posts-displayer{
      .first{margin-bottom:15px; height:230px !important;}
      .second{margin-bottom:15px;}
      .third{margin-bottom:15px;}
    }
  }
  #posts-displayer{
    .fili{
      width:100%; height:100%; position:relative; padding:0 10px;
      h3{
        color:white; position:absolute; bottom:0; left:0; padding:30px 10px 10px 10px; width:100%; text-align:center;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 87%, rgba(0,0,0,0.78) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 87%,rgba(0,0,0,0.78) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 87%,rgba(0,0,0,0.78) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 );
      }
    }
    .first{height:565px; background-color:#ddd;}
    .second{height:282.5px; background-color:#ddd;}
    .third{height:282.5px; background-color:#ddd;}
    .fourth{height:282.5px; background-color:#ddd;}
  }
  .estateContainer{
    background-size: cover;
    background-attachment:fixed;
    table{
      td{
        word-break: break-all;
      }
    }
    .estateWell{
      background:rgba(255,255,255,0.9);
      @include border-radius(5px);
      #estate_infos{
        table{
          td{
            border:none;
          }
        }
        .property_int{
          font-weight:900;
          padding-left:10px;
          border-left:3px solid $primary;
        }
      }
    }
    .nav-tabs{
      li{
        a{
          background:$white;
          color:$primary;
          font-weight:900;
        }
        &.active{
          a{
            background:$primary;
            color:$white;
          }
        }
      }
    }
    .videoCarouselItem{
      cursor:pointer;
      background-size:cover;
      background-position:center center;
      position:relative;
      .playContainer{
        text-align:center;
      }
    }
  }
  #propertySlider{
    background: $white;
    .customNavigation{
      position: relative;
      .shareimmo-caption{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        background: rgba(0,0,0,0.3);
        text-align: left;
        bottom:inherit;
        h1,h2{
          text-shadow: 1px 1px #444444;
        }
      }
      .owl-caption{
        position: absolute;
        left:0;
        right: 0;
        bottom:10px;
        z-index: 100;
        text-align:center;
        span{
          padding:5px;
          background: rgba(0,0,0,0.8);
        }
      }
      .shareimmo_controls{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
        &.shareimmo_control_left{
          span,i{
            left: 50%;
            margin-left: -10px;
          }
        }
        &.shareimmo_control_right{
          right: 0;
          left: auto;
          background-repeat: repeat-x;
          span,i{
            right: 50%;
            margin-right: -10px;
          }
        }
        span, i{
          cursor:pointer;
          width: 30px;
          height: 30px;
          margin-top: -15px;
          font-size: 30px;
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;
        }
      }
    }
  }
  #sync2{
    .item{
      cursor: pointer;
    }
    .synced{
      .item{
        background: $primary;
      }
    }
  }
  #owl-demo {
    .owl-wrapper-outer{
      height: 100%;
      .owl-wrapper{
        height: 100%;
        .owl-item{
          height: 100%;
        }
      }
    }
  }
  .hero{
    background-size: cover;
    height: 350px;
    position: relative;
    background: #eee;
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      .item{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        img{
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    .hero-card{
      position: absolute;
      bottom: 40px;
      left: 15px;
      right: 15px;
      z-index: 100;
      max-width: 450px;
      background: rgba(255, 255, 255, 0.9);
      .card-head{
        padding: 10px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.025);
        background: rgba(0, 0, 0, 0.05);
        a{
          color:$grey;
          i{
            position: absolute;
            right: 25px;
            display: block;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
            top: 20px;
          }
          &:hover{
            i{
              right: 20px;
            }
          }
        }
      }
      .card-price{
        font-size: 22px;
        line-height: 1.5em;
        float: left;
        padding: 0 15px;
        color: #fff;
        background: #70b001;
      }
    }
    .carousel{
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .owl-controls{
      position: absolute;
      top:10px;
      right:15px;
      .owl-page{
        display: inline-block;
        zoom: 1;
        *display: inline;/*IE7 life-saver */
        span{
          display: block;
          width: 12px;
          height: 12px;
          margin: 5px 7px;
          filter: Alpha(Opacity=50);
          opacity: 0.5;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          background: #869791;
          &.owl-numbers{
            height: auto;
            width: auto;
            color: #FFF;
            padding: 2px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
          }
        }
        &.active span, &.clickable .owl-page:hover span{
          filter: Alpha(Opacity=100);/*IE7 fix*/
          opacity: 1;
        }
      }
    }
  }
  .property--block{
    .img-wrap{
      border-radius: 3px 3px 0 0;
      overflow: hidden;
      a{
        display: block;
        transition: all 1s ease;
        &:hover {
          transform: scale(1.025, 1.025);
          -webkit-backface-visibility: hidden;
        }
      }
    }
    .meta--details{
      position: absolute;
      bottom: 15px;
      right: 15px;
      pointer-events: none;
      .status{
        display: block;
      }
      .price{
        display: block;
        position: relative;
        padding: 5px 10px;
        z-index: 100;
        overflow: hidden;
        font-size: 20px;
        clear: both;
        -webkit-transition: all 700ms ease;
        background: rgba(250,250,250,0.9)
      }
    }
    .content-wrap{
      border-radius: 0 0 3px 3px;
      .breadcrumb{
        background: transparent;
      }
      .title{
        font-size: 1.3em;
        line-height: 1.4em;
        a{
          color:#333;
        }
      }
    }
  }
}


