body.front_office.template_3,body.front_office.template_4{
  @media (max-width:992px){
    #posts-displayer{
      .first{height:430px !important;}
      .second{height:215px !important;}
      .third{height:215px !important;}
      .fourth{height:215px !important;}
    }
    h3{font-size:18px;}
  }
  @media (max-width:768px){
    #posts-displayer{
      .first{margin-bottom:15px; height:230px !important;}
      .second{margin-bottom:15px;}
      .third{margin-bottom:15px;}
    }
  }
  #posts-displayer{
    .fili{
      width:100%; height:100%; position:relative; padding:0 10px;
      h3{
        color:white; position:absolute; bottom:0; left:0; padding:30px 10px 10px 10px; width:100%; text-align:center;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 87%, rgba(0,0,0,0.78) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 87%,rgba(0,0,0,0.78) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 87%,rgba(0,0,0,0.78) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 );
      }
    }
    .first{height:565px; background-color:#ddd;}
    .second{height:282.5px; background-color:#ddd;}
    .third{height:282.5px; background-color:#ddd;}
    .fourth{height:282.5px; background-color:#ddd;}
  }
}

body.front_office.template_3{
  padding-top: 0px;
  background: #eeeeee;
  color:#333;
  padding-top: 70px;
  .sub-title{
    font-size: 1em;
    display: inline-block;
    padding: 0 35px;
    position: relative;
    opacity: 0.6;
    margin: 10px 0;
    &:before{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #ccc;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #ccc;
      position: absolute;
      right: 0;
      top: 50%
    }
  }
  &.broker_home{
    padding-top: 0px !important;
    #navbarTemplate3{
      position: relative;
    }
  }
  &.broker_property{
    padding-top: 50px;
  }
  #navbarTemplate3{
    border-radius: 0px;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
  }
  #template3Cover{
    height: 400px;
    position:relative;
  }
  .frequency{
    font-size: .5em;
  }
  #video_container{
    background-size:cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  #filter{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
  }
  #propertySlider{
    background: $white;
    .customNavigation{
      position: relative;
      .shareimmo-caption{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        background: rgba(0,0,0,0.3);
        text-align: left;
        bottom:inherit;
        h1,h2{
          text-shadow: 1px 1px #444444;
        }
      }
      .owl-caption{
        position: absolute;
        left:0;
        right: 0;
        bottom:10px;
        z-index: 100;
        text-align:center;
        span{
          padding:5px;
          background: rgba(0,0,0,0.8);
        }
      }
      &:hover{
        .shareimmo_controls{
          color:rgba($white, .5); background:rgba($white, .1); text-shadow:1px 1px 5px rgba($black, .3);
        }
      }
      .shareimmo_controls{
        position: absolute; top:0; height:100%; width:60px; text-align:center; display:flex; justify-content:center; align-items:center; color:rgba($white, .2); font-size:50px; cursor:pointer; background:rgba($white, .05); transition:all .2s;
        &.shareimmo_control_left{left:0;}
        &.shareimmo_control_right{right:0;}
        &:hover{color:rgba($white, 1) !important; text-shadow:1px 1px 5px rgba($black, .5); background:rgba($white, .3);}

      }
    }
  }
  #sync2{
    .synced{
      .item{
        background: white;
      }
    }
    .owl-item{
      opacity:.7; cursor:pointer; transition:all .2s;
      &.synced{opacity:1;}
      &:hover{opacity:.9;}
    }
  }
  #mapContainer{
    position:absolute;
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
    img {
      max-width: none !important;
    }
    label {
      width: auto; display:inline;
    }
  }

}
