body.explore,body.explore_ad{
  /************************************************************************
/* Bar de Menu
*************************************************************************/
#MyHeaderHeroNav{
  background: #fff;
  font-size:13px;
  border-bottom: 1px solid #dce0e0;
  #logo{
    max-height: 15px;
    &.kangalou_logo{
      max-height: 40px;
    }
  }
  .navbar{background: white;}
  .navbar-toggle{padding:0; font-size:30px; border:0; margin:9px 20px 0 0;}
  .navbar-toggle:hover{background: transparent;}
  .navbar-toggle:focus{background: transparent;}
  .dropdown.open .dropdown-toggle{background:#F2F2F2;}
  .navbar-collapse{
    font-size:15px; background:#f9f9f9;
  }
  .user-profile-image {
    height: 30px;
    width: 30px;
    top: 10px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    position: relative;
    height: 30px;
    width: 30px;
    top: 15px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
    img {
      vertical-align: top;
      border-radius: 50%;
      border: 2px solid #dce0e0;
    }
  }
  .comp{
    height: 61px;
    line-height: 61px;
    border-left: 1px solid #dce0e0;
    position: relative;
    padding: 0 19px;
    &:hover{
      background: #f5f5f5;
      a{
        color: $black;
      }
    }
    .drop-down-menu {
      border-box: border-box;
      position: absolute;
      z-index: 3001;
      top: 61px;
      left: auto;
      right: -1px;
      display: none;
      min-width: 282px;
      max-width: 460px;
      line-height: normal;
      -moz-border-radius: 0 0 2px 2px;
      -webkit-border-radius: 0 0 2px 2px;
      border-radius: 0 0 2px 2px;
      background: $white;
      border: 1px solid #dce0e0;
      padding: 0 10px;
      a{
        padding:15px;
        display:block;
        border-bottom: 1px solid #dce0e0;
        padding-left: 15px;
        &:hover{
          padding-left: 20px;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

  .comp.search-bar-wrapper{
    color: #B4BCBF;
    input{
      width: 500px;
      border: 0;
      height: auto;
      display: inline-block;
      box-shadow: inherit;
      line-height: 21px;
      font-size: 17px;
      color: rgb(86, 90, 92);
      &:focus{
        outline: 0;
      }
    }
    &:hover{
      background: transparent;
    }
  }
}

  background:white;
  header{height:400px; border-radius:0 0 5px 5px; overflow:hidden;}

  .title{
    border-radius:4px; border:1px solid rgba($black, .1);
    h1{font-size:18px; padding:15px; color:#747474;}
    h3{font-size:18px; color:white; background:$primary; padding:16px 40px; border-radius:0 4px 4px 0; margin:-1px -2px -1px 0px;}
    h4{border-left:1px solid #E5E5E5;}
    h5{margin:0;}
  }

  .social-shares{
    .facebook, .twitter{font-size:22px; color:white; width:65px; height:40px; line-height:40px; text-align:center;}
    .facebook{background:#47639E;}
    .twitter{background:#1DA1F2;}
  }

  .ad-infos{
    border-bottom:1px solid #eee;
    ul{
      list-style:none; margin:0; padding:0;
      li{display:inline-block; margin-left:30px; font-size:14px;}
      li:first-child{margin-left:0;}
    }
  }

  .content{
    .contact-poster{
      border-radius:4px;
      form{
        input{height:35px; width:100%; background:white; border:0; border-radius:3px; margin-bottom:5px; font-size:14px; padding:0 10px; color:$dark-grey;}
        textarea{height:100px; width:100%; background:white; border:0; border-radius:3px; font-size:14px; margin-top:15px; padding:10px; color:$dark-grey; resize:none;}
        input[type=submit]{display:inline-block; width:auto; height:auto; background:transparent; color:white; font-size:16px; text-transform:uppercase; padding:0;}
      }
      *:focus{outline:none;}
    }
    .ad-map{border-radius:4px; overflow:hidden;}
    .video-slider{height:400px; background:#eee;}
    .caracteristiques{
      h2{color:black; font-size:20px;}
      h3{font-size:16px;}
      ul{
        list-style:none; margin:0; padding:0;
        li{font-size:14px; display:block; margin-bottom:5px;}
      }
    }
    #poster-infos{
      h2{color:black; font-size:20px;}
      h3{font-size:20px;}
      a{
        color:#337ab7; margin-left:7px; font-size:14px;
        i{font-size:20px;}
      }
    }
    .desc{
      *{line-height:30px;}
    }
  }

  #propertySlider{
    .customNavigation{
      &:hover{
        .shareimmo_controls{
          color:rgba($white, .5); background:rgba($white, .1);
        }
      }
      .shareimmo_controls{
        position: absolute; top:0; height:100%; width:60px; text-align:center; display:flex; justify-content:center; align-items:center; color:rgba($white, .2); font-size:50px; cursor:pointer; background:rgba($white, .05); transition:all .2s;
        &.shareimmo_control_left{left:0;}
        &.shareimmo_control_right{right:0;}
        &:hover{color:rgba($white, 1); background:rgba($white, .3);}

      }
    }
    #sync2{
      .owl-item{
        opacity:.7; cursor:pointer; transition:all .2s;
        &.synced{opacity:1;}
        &:hover{opacity:.9;}
      }
    }
  }
}

