<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url =>password_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<h3 class='mb20'><%= t('app.reset_password') %></h3>
<%= f.full_error :confirmation_token %>
<%= f.input :email,:label=>false,:placeholder=>t('app.email'),:input_html=>{:class=>'form-control input-lg  center'}%>
<%= f.submit t('app.reset_password'), :class =>"btn btn-custom-primary btn-block btn-lg" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>
