<tr>
  <td><%= stat.id %></td>
  <td><strong><%=  stat.created_at.strftime("%d %b %Y") %></strong></td>
  <td><strong><%=  stat.created_at.strftime("%H:%M") %></strong></td>
  <td><%= stat.offices_count %></td>
  <td><%= stat.members_count %></td>
  <td><%= stat.properties_count %></td>
  <td><%= stat.pictures_count %></td>
</tr>
