<% @title_for_layout = 'Centris' %>
<%= render 'layouts/partials/generic_meta' %>


<div class="mb10">
  <ul id="sub_menu" class="list-inline mt10">
    <li><%= link_to 'Home', dashboard_centris_path,:class=>current_page?(dashboard_centris_path) ? "active" : "" %></li>
    <li><%= link_to 'Banners', dashboard_centris_banners_path,:class=>current_page?(dashboard_centris_banners_path) ? "active" : "" %></li>
    <li><%= link_to 'Firms',  dashboard_centris_firms_path,:class=>current_page?(dashboard_centris_firms_path) ? "active" : "" %></li>
    <li><%= link_to 'Offices',dashboard_centris_offices_path,:class=>current_page?(dashboard_centris_offices_path) ? "active" : "" %></li>
    <li><%= link_to 'Brokers',dashboard_centris_brokers_path,:class=>current_page?(dashboard_centris_brokers_path) ? "active" : "" %></li>
    <li><%= link_to 'Inscriptions',dashboard_centris_inscriptions_path,:class=>current_page?(dashboard_centris_inscriptions_path) ? "active" : "" %></li>
    <li><%= link_to 'Neighborhoods',dashboard_centris_neighborhoods_path,:class=>current_page?(dashboard_centris_neighborhoods_path) ? "active" : "" %></li>
    <li><%= link_to 'Cities',dashboard_centris_cities_path,:class=>current_page?(dashboard_centris_cities_path) ? "active" : "" %></li>
    <li><%= link_to 'Regions',dashboard_centris_regions_path,:class=>current_page?(dashboard_centris_regions_path) ? "active" : "" %></li>
  </ul>
</div>
