<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @banners.size %> banners</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Code</th>
        <th>French Name</th>
        <th>English Name</th>
      </tr>
    </thead>
    <% @banners.each do |banner| %>
    <tr>
      <td>
        <% if banner.is_active == 1 %>
        <span class="label label-success"><%= banner.id %></span>
        <% else %>
        <span class="label label-danger"><%= banner.id %></span>
        <% end %>
      </td>
      <td><%= banner.code %></td>
      <td><%= banner.nom_francais %></td>
      <td><%= banner.nom_anglais %></td>
    </tr>
    <% end %>
  </table>
</div>


