<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @brokers.size %> brokers</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Broker Code</th>
        <th>Name</th>
        <th>Office</th>
        <th>Certificat Type</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @brokers.each do |broker| %>
    <tr>
      <td>
        <% if broker.is_active == 1 %>
        <span class="label label-success"><%= broker.id %></span>
        <% else %>
        <span class="label label-danger"><%= broker.id %></span>
        <% end %>
      </td>
      <td><%= broker.code %></td>
      <td><%= "#{broker.prenom} #{broker.nom} (#{broker.no_certificat})"%></td>
      <td><%= broker.bur_code %></td>
      <td><%= broker.type_certificat %></td>
      <td><%= broker.telephone_1 %></td>
      <td><%= broker.courriel %></td>
    </tr>
    <% end %>
  </table>
</div>

