<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @cities.size %> cities</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Code</th>
        <th>Region Code</th>
        <th>Description</th>
      </tr>
    </thead>
    <% @cities.each do |city| %>
    <tr>
      <td>
        <% if city.is_active == 1 %>
        <span class="label label-success"><%= city.id %></span>
        <% else %>
        <span class="label label-danger"><%= city.id %></span>
        <% end %>
      </td>
      <td><%= city.code %></td>
      <td><%= city.region_code %></td>
      <td><%= city.description %></td>
    </tr>
    <% end %>
  </table>
</div>

