<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @firms.size %> firms</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Code</th>
        <th>Legal Name</th>
        <th>Banner Code</th>
      </tr>
    </thead>
    <% @firms.each do |firm| %>
    <tr>
      <td>
        <% if firm.is_active == 1 %>
        <span class="label label-success"><%= firm.id %></span>
        <% else %>
        <span class="label label-danger"><%= firm.id %></span>
        <% end %>
      </td>
      <td><%= firm.code %></td>
      <td><%= firm.nom_legal %></td>
      <td><%= firm.banniere_code %></td>
    </tr>
    <% end %>
  </table>
</div>


