<%= render 'submenu' %>


<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Day</th>
        <th>Hour</th>
        <th>Offices</th>
        <th>Members</th>
        <th>Inscriptions</th>
        <th>Pictures</th>
      </tr>
    </thead>
    <tbody>
      <% @import_stats.each do |stat|%>
      <%= render :partial => "centris/stat", locals: {stat: stat} %>
      <% end %>
    </tbody>
  </table>
</div>
