<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @inscriptions.size %> inscriptions (<%= @inscriptions.where(:is_active=>1).size %> actives)</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th># Inscription</th>
        <th>Broker</th>
        <th>Office</th>
        <th>Price</th>
        <th>Address</th>
      </tr>
    </thead>
    <% @inscriptions.each do |inscription| %>
    <tr>
      <td>
        <% if inscription.is_active == 1 %>
        <span class="label label-success"><%= inscription.id %></span>
        <% else %>
        <span class="label label-danger"><%= inscription.id %></span>
        <% end %>
      </td>
      <td><%= inscription.no_inscription %></td>
      <td><%= inscription.courtier_inscripteur_1 %></td>
      <td><%= inscription.bureau_inscripteur_1 %></td>
      <td><%= inscription.prix_demande %></td>
      <td><%= "#{inscription.no_civique_debut} #{inscription.nom_rue_complet}" %></td>
    </tr>
    <% end %>
  </table>
</div>
