<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @neighborhoods.size %> neighborhoods</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Mun Code</th>
        <th>Code</th>
        <th>French Description</th>
        <th>English Description</th>
      </tr>
    </thead>
    <% @neighborhoods.each do |neighborhood| %>
    <tr>
      <td>
        <% if neighborhood.is_active == 1 %>
        <span class="label label-success"><%= neighborhood.id %></span>
        <% else %>
        <span class="label label-danger"><%= neighborhood.id %></span>
        <% end %>
      </td>
      <td><%= neighborhood.mun_code %></td>
      <td><%= neighborhood.code %></td>
      <td><%= neighborhood.description_francaise %></td>
      <td><%= neighborhood.description_anglaise %></td>
    </tr>
    <% end %>
  </table>
</div>

