<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @offices.size %> offices</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Code</th>
        <th>Firme Code</th>
        <th>Legal Name</th>
        <th>Address</th>
        <th>Website</th>
      </tr>
    </thead>
    <% @offices.each do |office| %>
    <tr>
      <td>
        <% if office.is_active == 1 %>
        <span class="label label-success"><%= office.id %></span>
        <% else %>
        <span class="label label-danger"><%= office.id %></span>
        <% end %>
      </td>
      <td><%= office.code %></td>
      <td><%= office.firme_code %></td>
      <td><%= "#{office.nom_legal}"%></td>
      <td><%= "#{office.no_civique} #{office.nom_rue}"%></td>
      <td><%= office.site_web %></td>
    </tr>
    <% end %>
  </table>
</div>

