<%= render 'submenu' %>

<h3 class="color-secondary pl10 pb5 pt5"><%= @regions.size %> regions</h3>
<div class="table-responsive">
  <table class="table table-condensed table-bordered bg-white">
    <thead>
      <tr class="active">
        <th>ID</th>
        <th>Code</th>
        <th>French Description</th>
        <th>English Description</th>
      </tr>
    </thead>
    <% @regions.each do |region| %>
    <tr>
      <td>
        <% if region.is_active == 1 %>
        <span class="label label-success"><%= region.id %></span>
        <% else %>
        <span class="label label-danger"><%= region.id %></span>
        <% end %>
      </td>
      <td><%= region.code %></td>
      <td><%= region.description_francaise %></td>
      <td><%= region.description_anglaise %></td>
    </tr>
    <% end %>
  </table>
</div>

