<%= simple_form_for @pricing, :url => back_office_combinations_update_path(@pricing.id), :html=>{:class=>"mt20"}, :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>

<% @combinations.each do |c| %>

<%= simple_fields_for c, :defaults => {:input_html=>{:class=>"input-lg"}} do |ff| %>

<%= ff.input :id, :input_html => {:name => "combinations["+c.id.to_s+"][id]"}, :as => :hidden %>

<div class="row">
  <div class="col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1 pt25 mt2 center">
    <%= ff.input :display, :input_html => {:name => "combinations["+c.id.to_s+"][display]", :style=>"height:13px;", :checked => c.display == 1}, :as => :boolean, :label => false %>
  </div>
  <div class="col-sm-2 col-xs-4 pt30 mt7">
    <%= c.name %>
  </div>
  <div class="col-sm-4 col-xs-3">
    <%= ff.input :sku, wrapper: :append_prepend do %>
    <span class="input-group-addon"><%= "#{@pricing.sku}-V-" %></span>
    <%= ff.input_field :sku, :class=>"form-control input-lg",:name => "combinations["+c.id.to_s+"][sku]", :value => c.sku.present? && c.sku.start_with?("#{@pricing.sku}-V-") ? c.sku.split("#{@pricing.sku}-V-")[1] : c.sku %>
    <% end %>
  </div>
  <div class="col-sm-4 col-xs-3">
    <%= ff.input :price_percentage, :input_html => {:name => "combinations["+c.id.to_s+"][price_percentage]"} %>
  </div>

</div>

<% end %>
<% end %>

<%= f.submit :class => 'btn btn-custom-secondary center-block', :value => t('app.save') %>
<% end %>