<% @extras.each do |extra| %>
<tr>
  <td><%= extra.name %></td>
  <td><%= humanized_money_with_symbol(extra.price) %></td>
  <td><%= humanized_money_with_symbol(extra.price2) if extra.price2.present? %></td>
  <td>
    <ul class="list-inline">
      <li><%= link_to t("app.edit"), back_office_extras_edit_path(@store,extra.pricing.product_id,extra.pricing_id,extra), :remote => true, :class => "color-link" %></li>
      <li><%= link_to t("app.delete"), back_office_extras_delete_path(@store,extra.pricing.product_id,extra.pricing_id,extra), :remote => true, :class => "color-link", :method => :delete,:data=>{:confirm =>t('app.are_you_sure')} %></li>
    </ul>
  </td>
</tr>
<% end %>
