<% currency_symbol = Money::Currency.find(@store.country.currency).symbol %>
<%= simple_form_for @extra,:remote => true,:url => @extra.id.present? ? back_office_extras_update_path(@store,@pricing.product_id,@pricing.id,@extra) : back_office_extras_create_path(@store,@pricing.product_id,@pricing.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Extra</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :name %>
        <%= f.input :pricing_id , :input_html=>{:value => @pricing.id},:as =>:hidden %>
      </div>
      <div class="col-xs-3">
        <%= f.input :price, wrapper: :append_prepend do %>
        <%= f.input_field :price, :class=>"form-control input-lg" %>
        <span class="input-group-addon"><%= currency_symbol  %></span>
        <% end %>
      </div>
      <div class="col-xs-3">
        <%= f.input :price_quantity %>
      </div>
      <div class="col-xs-3">
        <%= f.input :price2, wrapper: :append_prepend do %>
        <%= f.input_field :price2, :class=>"form-control input-lg" %>
        <span class="input-group-addon"><%= currency_symbol %></span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :obligatory, :input_html => {:style=>"height:13px;"} %>
        <%= f.input :is_linked_to_pricing_quantity, :input_html => {:style=>"height:13px;"} %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
    <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
  </div>
</div>
<% end %>
