<nav class="navbar navbar-default navbar-inverse navbar-fixed-top mb0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Admin", back_office_path, :class=>"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user.has_role? :admin %>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('app.stores') %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Store.all.order(:position).each do |store| %>
            <li><%= link_to store.name, back_office_stores_edit_path(store.id) %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to t('app.users'), back_office_users_path %></li>
        <li><%= link_to t('app.connectedApplications'),oauth_applications_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag gravatar_url(current_user.email,20),:class=>"img-responsive img-circle" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if Rails.env.development? %>
            <li><%= link_to "Mails Tester", "/rails/mailers",:target=>"_blank" %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to t('app.sign_out'), destroy_user_session_path, :method => :delete,:data => {:confirm => "app.are_you_sure"} %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
