<% @title_for_layout  = @store.name %>
<%= render 'layouts/generic_meta' %>


<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "##{@store.id} - #{@store.name}" %>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <%= link_to t('app.general'), back_office_stores_edit_path(@store), :class=> current_page?(back_office_stores_edit_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.taxs'), back_office_taxes_path(@store), :class=> current_page?(back_office_taxes_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.companies'), back_office_companies_path(@store), :class=> current_page?(back_office_companies_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.categories'), back_office_categories_path(@store), :class=> current_page?(back_office_categories_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.shippings'), back_office_shippings_path(@store), :class=> current_page?(back_office_shippings_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.checkouts_units'), back_office_checkouts_path(@store), :class=> current_page?(back_office_checkouts_path(@store)) ? "color-primary bold" : nil %>
          </li>
          <li>
            <%= link_to t('app.products'), back_office_products_path(@store),    :class=> current_page?(back_office_products_path(@store)) ? "color-primary bold" : nil %>
            <ul>
              <% @store.products.where(:draft => 0).order(:slug).each do |product| %>
              <li><%= link_to truncate(product.name,:length =>18), back_office_products_edit_path(@store,product.id) %></li>
              <% if (@product.present? and @product.id == product.id) or  (@pricing.present? and @pricing.product_id == product.id)  %>
              <ul class="list-unstyled pl20">
                <li><%= link_to t('app.general'),back_office_products_edit_path(@store.id,product.id), :class=> current_page?(back_office_products_edit_path(@store.id,product.id)) ? "color-primary bold" : nil %></li>
                <li>
                  <%= link_to t('app.pricings'), back_office_pricings_path(@store.id,product.id), :class=> current_page?(back_office_pricings_path(@store.id,product.id)) ? "color-primary bold" : nil %>
                  <ul>
                    <% product.pricings.where(:status => "active").each do |pricing| %>
                    <li>
                      <%= link_to pricing.name.present? ? pricing.name : "#{t('app.pricing')} ##{pricing.id}", back_office_pricings_edit_path(@store.id,product.id,pricing.id), :class=> current_page?(back_office_pricings_edit_path(@store.id,product.id,pricing.id)) ? "color-primary bold" : nil %>
                      <% if (@pricing.present? and @pricing.id == pricing.id) %>
                      <ul>
                        <li><%= link_to t('app.general'),       back_office_pricings_edit_path(@store.id,product.id,@pricing.id),  :class=> current_page?(back_office_pricings_edit_path(@store.id,product.id,pricing.id)) ? "color-primary bold" : nil %></li>
                        <li><%= link_to t('app.pricings'),      back_office_pricing_prices_path(@store.id,product.id,@pricing.id), :class=> current_page?(back_office_pricing_prices_path(@store.id,product.id,@pricing.id)) ? "color-primary bold" : nil %></li>
                        <li><%= link_to t('app.extras'),        back_office_extras_path(@store.id,product.id,@pricing.id),         :class=> current_page?(back_office_extras_path(@store.id,product.id,@pricing.id)) ? "color-primary bold" : nil %></li>
                        <li><%= link_to t('app.promotions'),    back_office_sales_path(@store.id,product.id,@pricing.id),          :class=> current_page?(back_office_sales_path(@store.id,product.id,@pricing.id)) ? "color-primary bold" : nil %></li>
                        <li><%= link_to t('app.variants'),      back_office_variants_path(@store.id,product.id,@pricing.id),       :class=> current_page?(back_office_variants_path(@store.id,product.id,@pricing.id)) ? "color-primary bold" : nil %></li>
                      </ul>
                      <% end %>
                    </li>
                    <% end %>
                  </ul>
                </li>
                <li>
                  <%= link_to t('app.visibilities'), back_office_visibilities_path(:store_id => @store.id, :id => product.id), :class=> current_page?(back_office_visibilities_path(:store_id => @store.id, :id => product.id)) ? "color-primary bold" : nil %>
                </li>
              </ul>
              <% end %>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to t('app.orders'), back_office_bills_path(:store_id => @store.id), :class=> current_page?(back_office_bills_path(:store_id => @store.id)) ? "color-primary bold" : nil%>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <%= yield %>
  </div>
</div>


