<%= simple_form_for @pricing_plan,:remote => true,:url => back_office_pricing_plans_update_path(:id => @pricing_plan), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">pricing_plan</h4>
  </div>
  <div class="modal-body">
    <%= f.input :pricing_id , :input_html=>{:value => @pricing.id},:as =>:hidden %>
    <div class="row">
      <div class="col-xs-6 ">
        <%= f.input :price_month, wrapper: :append_prepend do %>
        <%= f.input_field :price_month, :class=>"form-control input-lg" %>
          <span class="input-group-addon"><%= currency_symbol %></span>
        <% end %>
      </div>
      <%= f.input :price_year, wrapper: :append_prepend do %>
        <%= f.input_field :price_year, :class=>"form-control input-lg" %>
          <span class="input-group-addon"><%= currency_symbol %></span>
        <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
    <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
  </div>
</div>
<% end %>
