<% @pricing.pricing_checkouts.each do |c| %>
<tr>
  <td><%= "#{c.quantity_min}-#{c.quantity_max}" %></td>
  <td><%= humanized_money_with_symbol(c.price) %></td>
  <td>
    <ul class="list-inline">
      <li><%= link_to t("app.edit"), back_office_pricing_checkouts_edit_path(@store,c.pricing.product.id,c.pricing_id,c.id), :remote => true, :class => "color-link" %></li>
      <li><%= link_to t("app.delete"), back_office_pricing_checkouts_delete_path(@store,c.pricing.product.id,c.pricing_id,c.id), :remote => true, :class => "color-link", :method => :delete,:data=>{:confirm =>t('app.are_you_sure')} %></li>
    </ul>
  </td>
</tr>
<% end %>
