<%= simple_form_for @pricing_checkout,:remote => true,
:url => @pricing_checkout.id.present? ? back_office_pricing_checkouts_update_path(@store,@pricing.product_id,@pricing.id,@pricing_checkout.id) : back_office_pricing_checkouts_create_path(@store,@pricing.product_id,@pricing.id),
:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Pricing checkout</h4>
  </div>
  <div class="modal-body">
    <%= f.input :pricing_id , :input_html=>{:value => @pricing.id},:as =>:hidden %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :price, wrapper: :append_prepend do %>
        <%= f.input_field :price, :class=>"form-control input-lg" %>
          <span class="input-group-addon"><%= currency_symbol %></span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :quantity_min %>
      </div>
      <div class="col-xs-6">
        <%= f.input :quantity_max %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
    <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
  </div>
</div>
<% end %>
