<tr>
  <td><%= humanized_money_with_symbol(@pricing.pricing_plan.price_month) %></td>
  <td><%= humanized_money_with_symbol(@pricing.pricing_plan.price_year) %></td>
  <td>
    <ul class="list-inline">
      <li><%= link_to t("app.edit"), back_office_pricing_plans_edit_path(:id => @pricing.pricing_plan), :remote => true, :class => "color-link" %></li>
    </ul>
  </td>
</tr>
