<div class="modal-dialog">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><%= t('app.promotion') %></h4>
    </div>
    <%= simple_form_for @sale,:remote => true, :url => @sale.id.present? ? back_office_sales_update_path(@store,@pricing.product_id,@pricing.id,@sale.id) : back_office_sales_create_path(@store,@pricing.product_id,@pricing.id) , :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <%= f.input :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= f.input :sale_type, :collection => [["percentage", "percentage"], ["amount", "amount"]], :include_blank => false %>
        </div>
        <div class="col-sm-4">
          <%= f.input :percentage, wrapper: :append_prepend do %>
          <%= f.input_field :percentage, :class => "form-control input-lg",:min => 0, :max => 100 %>
          <span class="input-group-addon">%</span>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= f.input :amount, wrapper: :append_prepend do %>
          <%= f.input_field :amount, :class=>"form-control input-lg" %>
          <span class="input-group-addon"><%= currency_symbol %></span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :start, :input_html => {:id => "datepick_start", :type => "string", :value => @sale.start.present? ? @sale.start.strftime("%d-%m-%Y") : ""}, html5: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :end, :input_html => {:id => "datepick_end", :type => "string", :value => @sale.end.present? ? @sale.end.strftime("%d-%m-%Y") : ""}, html5: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :code %> 
        </div>
        <div class="col-sm-6">
          <%= f.input :pricing_id,:input_html => {:value => @pricing.id},:as=>"hidden" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="integer optional control-label" for="chosen-select-client">Client</label>
          <select id="chosen-select-client-modal" name="sale[client_id]">
            <option value=""></option>
            <% Client.all.each do |client|%>
            <option value="<%= client.id %>" <%= @sale.client.present? && @sale.client.id == client.id ? "selected" : "" %>><%= "#{client.name} (#{client.store.name})" %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
      <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
    </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#datepick_start").datepick({dateFormat: 'dd-mm-yyyy'});
  $("#datepick_end").datepick({dateFormat: 'dd-mm-yyyy'});
});
</script>
