<% @pricing.sales.each do |sale| %>
<tr>
  <td>
    <ul class="list-unstyled">
      <%= content_tag :li, "Client : #{sale.client.present? ? sale.client.name : t("app.all")}"  %>
      <%= content_tag :li, "Pricing : #{sale.pricing.present? ? sale.pricing.name : nil}"  %>
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      <%= content_tag :li, ("Amount : <strong>#{humanized_money_with_symbol(sale.amount)}</strong>").html_safe if sale.amount.present?  %>
      <%= content_tag :li, ("Percentage : <strong>#{sale.percentage}%</strong>").html_safe if sale.amount.present?  %>
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      <%= content_tag :li, ("From : <strong>#{sale.start.strftime("%d-%m-%Y")}</strong>").html_safe if sale.start.present?  %>
      <%= content_tag :li, ("To : <strong>#{sale.end.strftime("%d-%m-%Y")}</strong>").html_safe if sale.end.present?  %>
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      <li><%= link_to t("app.edit"), back_office_sales_edit_path(@store,sale.pricing.product_id,sale.pricing_id,sale.id), :remote => true, :class => "color-link" %></li>
      <li><%= link_to t('app.delete'), back_office_sales_delete_path(@store,sale.pricing.product_id,sale.pricing_id,sale.id), :remote => true, :class => "color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
    </ul>
  </td>
</tr>
<% end %>
