<form action="<%= request.fullpath %>" method="get" class="mt20 mb10">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for... NOT WORKING YET!!!!!!!!!">
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="Search!">
    </span>
  </div>
</form>


