<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit Shipping #<%= @shipping.id %></h4>
    </div>
    <%= simple_form_for @shipping, :url => back_office_shippings_update_path(@store.id,@shipping.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <%= f.input :country_id, :collection => Country.all, :include_blank => false %>
        </div>
        <div class="col-sm-4">
          <%= f.input :max_weight, :wrapper => :append_prepend do %>
          <%= f.input_field :max_weight, :class=>"form-control input-lg" %>
          <span class="input-group-addon">g</span>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= f.input :price, :wrapper => :append_prepend do %>
          <%= f.input_field :price, :class=>"form-control input-lg" %>
          <span class="input-group-addon"><%= Money::Currency.find(@store.country.currency).symbol %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
      <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      <% end %>
    </div>
  </div>
</div>

