<%= simple_form_for @category, :remote => true, :url => @category.id.present? ? back_office_variants_update_path(@category) : back_office_variants_create_path, :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Variant</h4>
  </div>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :pricing_id , :input_html=>{:value => @pricing.id}, :as =>:hidden %>

    <div class="form-group string variant_category_variants"> 
      <label class="string control-label" for="<%= @category.id %>">Lala</label> 
      <input id="<%= @category.id %>" class="string selectized pt3 pb2" type="text" name="variant_category[values]" value="<%= @category.values %>" tabindex="-1" style="display: none;"> 
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
  <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
</div>
</div>
<% end %>