<% @pricing.variant_categories.each do |category| %>
<tr data-id="<%= category.id %>">
  <td><%= category.name %></td>
  <td>
    <ul class="list-inline">
      <% if category.values.present? %>
      <% category.values.split(",").each do |variant| %>
      <li><%= variant %></li>
      <% end %>
      <% end %>
    </ul>
  </td>
  <td>
    <ul class="list-inline">
      <li><%= link_to t("app.edit"), back_office_variants_edit_path(@store,category.pricing.product_id,category.pricing_id,category), :remote => true, :class => "color-link" %></li>
      <li><%= link_to t("app.delete"), back_office_variants_delete_path(@store,category.pricing.product_id,category.pricing_id,category), :remote => true, :class => "color-link", :method => :delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
    </ul>
  </td>
</tr>
<% end %>
