

<%= link_to t('.new'), new_oauth_application_path, class: 'btn btn-custom-primary btn-sm pull-right' %>
<div class="h3"> <%= t('.title') %></div>


<table class="table table-striped table-bordered table-condensed mt30">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.callback_url') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
    <tr id="application_<%= application.id %>">
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.redirect_uri %></td>
      <td>
        <ul class="list-inline">
          <li><%= link_to t('doorkeeper.applications.buttons.show'), oauth_application_path(application), class: 'color-link' %></li>
          <li><%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application), class: 'color-link' %></li>
          <li><%= render 'delete_form', application: application %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
