

<%= link_to t('app.back'), oauth_applications_path, :class=>"color-link pull-left" %>
<div class="h3 center mb20"><%= @application.name %></div>



<h4><%= t('.application_id') %>:</h4>
<p><code id="application_id"><%= @application.uid %></code></p>
<h4><%= t('.secret') %>:</h4>
<p><code id="secret"><%= @application.secret %></code></p>
<h4><%= t('.scopes') %>:</h4>
<p><code id="scopes"><%= @application.scopes %></code></p>



<h4><%= t('.callback_urls') %>:</h4>
<table class="table table-condensed table-bordered">
  <% @application.redirect_uri.split.each do |uri| %>
  <tr>
    <td><code><%= uri %></code></td>
    <td><%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-custom-primary btn-sm', target: '_blank' %></td>
  </tr>
  <% end %>
</table>

