<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url =>password_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<%= f.full_error :confirmation_token %>
<%= f.input :login,:label=>false,:placeholder=>t('app.email'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.submit t('app.reset_password'), :class => "btn-block btn-lg lastElement #{custom_button_class}" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>
