<li class="mt5 mb5 ml10 mr10 relative" id="<%= "project_asset_#{project_asset.id}" %>" data-id="<%= project_asset.id %>">
  <div class="relative picture_item inline-block">
    <%= image_tag project_asset.image.url(:small), :class=>'img-responsive img-thumbnail' %>
    <%= link_to back_office_project_asset_delete_path(project_asset.id),:method=>'delete',:class=>'absolute absolute-top-right btn btn-default bold', :remote=>true, :data=>{:confirm=>t("app.are_you_sure?")} do %>
    <i class="fa fa-times color-red"></i>
    <% end %>
  </div>
</li>
