<% if !@contact.property_id.blank? %>
  You've been contacted by <%= "#{@contact.first_name} #{@contact.last_name}" %> about <%= link_to "this property", Rails.application.routes.url_helpers.front_office_show_path(:id => @contact.property_id) %><br><br>
<% else %>
  You've been contacted by <%= "#{@contact.first_name} #{@contact.last_name}" %><br><br>
<% end %>

Infos :<br>
First name :
<%= @contact.first_name %><br>
Last name :
<%= @contact.last_name %><br>
Email :
<%= @contact.email %><br>
Phone :
<%= @contact.phone %><br><br>

Message :<br>
<%= @contact.message %>
