<div class="container">
	<h2 class="color-yellow mb15"><%= t('app.thank_you') %></h2>

	<p><%= t("app.order.ordered_on",  date: I18n.localize(@rhinov_order.created_at.to_time,:format=>("%d %b %Y"))) %></p>
	<p><%= t('app.reference') %>: <%= @rhinov_order.reference_number %></p>
	<p><%= t('app.address') %>: <%= @rhinov_order.address %></p>
	<p><%= t('app.room_type') %>: <%= @rhinov_order.room_type %></p>
	<p><%= t('app.room_type_comments') %>: <%= @rhinov_order.room_type_comments %></p>
	<p><%= t('app.photo') %>: <%= image_tag((@rhinov_order.picture_url), width: 140, height: 94) %></p>
	<p><%= t('app.decoration_style') %>: <%= @rhinov_order.decoration_style %></p>
	<p>----------</p>
	<p><%= t('app.first_name') %>: <%= @rhinov_order.r_first_name %></p>
	<p><%= t('app.last_name') %>: <%= @rhinov_order.r_last_name %></p>
	<p><%= t('app.tel') %>: <%= @rhinov_order.r_tel %></p>
	<p><%= t('app.email') %>: <%= @rhinov_order.r_email %></p>
	<p><%= t('app.company_name') %>: <%= @rhinov_order.r_company_name %></p>
	<p><%= t('app.company_email') %>: <%= @rhinov_order.r_company_email %></p>
	<p><%= t('app.notes') %>: <%= @rhinov_order.r_notes %></p>
	<p>----------</p>
	<p><%= t('app.cost') %>: 1 credit</p>

	<%= link_to t('app.home'), root_path, class: "btn btn-primary" %>
</div>
