
<%= simple_form_for @rhinov_order, :url=> rhinov_create_path do |f|  %>

<div class="container pt10">
  <% if @response["pictures"].present? %>

  <section id="part1">
    <div class="h4 mb20 text-center color-yellow"><%= t('app.choose_photo') %></div>
    <div class="h5 mb25 text-center color-grey"><%= @response["address"]["address_formatted"] %></div>
    <ul class="list-inline center">
      <% @response["pictures"].each_with_index do |picture,x| %>
      <%= content_tag(:li,:style=>"width:150px;",:data =>{:url =>picture["medium"]},:class=>"pAll5 image-ad mb5 #{'bg-twitter' if x == 0}") do  %>
      <%= image_tag picture["medium"], :class=>"img-responsive pointer" %>
      <% end %>
      <% end %>
    </ul>
    <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
    <%= f.input :picture_url, as: :hidden, :input_html => {:value => @response["pictures"][0]["medium"] } %>
    <%= f.input :address, as: :hidden, :input_html => {:value => @response["address"]["address_formatted"] } %>
    <%#= debug @response%>
    <%= f.input :reference_number, as: :hidden, :input_html => {:value => "#{@response["uid"].present? ? @response["uid"] : @response["id"]}" } %>
    <% end %>
    <div class="mt40 text-center">
      <%= link_to t('app.previous'), :back, class: "btn btn-default text-center"  %>
      <a href="#" class="btn btn-primary text-center" id="button1"><%= t('app.next') %></a>
    </div>
  </section>

  <section id="part2">

    <div class="row">
      <h4 class="color-grey text-center mb30"><%= t('app.requests') %></h4>
      <div class="col-xs-6 color-grey" id="filterPreview">
        <%= image_tag @response["pictures"][0]["medium"],:class=>"img-responsive" %>
      </div>
      <div class="col-xs-6 color-grey">
        <%= f.input :room_type, class: "color-grey", :input_html => { placeholder: t('app.room_placeholder') } %>
        <%= f.input :room_type_comments, class: "color-grey", :input_html => { :rows => 8, placeholder: t('app.demands') } %>
      </div>
    </div>
    <div class="color-grey mt40 text-center">
      <a href="#" class="btn btn-default" id="button2"><%= t('app.previous') %></a>
      <a href="#" class="btn btn-primary" id="button3"><%= t('app.next') %></a>
    </div>

  </section>

  <section id="part3">
    <h4 class="text-center color-yellow"><%= t('app.decoration') %></h4><br>
    <h5 class="mb20 text-center color-grey"><%= t('app.layouts') %></h5><br>
    <div class="row text-center">
      <div class="col-sm-1"></div>
      <% @styles.each do |style| %>
        <div class="col-xs-12 col-sm-2 style-images" data-style="<%= style %>">
          <p class="bg-white pt10 pb10 text-center">
            <%= image_tag(style[1], class: "img-responsive",:style=>"width:150px;height:225px") %>
            <br><%= style[0] %>
          </p>
        </div>
        <% end %>
      </div>
      <%= f.input :decoration_style, as: :hidden %>
      <div class="mt40 text-center">
        <a href="#" class="btn btn-default" id="button4"><%= t('app.previous') %></a>
        <a href="#" class="btn btn-primary" id="button5"><%= t('app.next') %></a>
      </div>
    </section>

    <section id="part4">
      <div class="row">
        <h4 class="mb20 text-center color-yellow"><%= t('app.responsable') %></h4>
        <h5 class="mb30 text-center color-grey"><%= t('app.info_used') %></h5>
        <div class="col-xs-6 color-grey">
          <%= f.input :r_first_name,:input_html=>{:value => current_user.profile.first_name} %>
          <%= f.input :r_email,:input_html=>{:value => current_user.profile.email} %>
          <%= f.input :r_company_name,:input_html=>{:value => current_user.profile.company_name} %>
        </div>
        <div class="col-xs-6 color-grey">
          <%= f.input :r_last_name,:input_html=>{:value => current_user.profile.last_name}  %>
          <%= f.input :r_tel,:input_html=>{:value => current_user.profile.phone} %>
          <%= f.input :r_company_email,:input_html=>{:value => current_user.profile.company_email} %>
        </div>
        <div class="col-xs-12 color-grey">
          <%= f.input :r_notes, :input_html => { :rows => 6 } %>
        </div>
      </div>

      <div class="color-grey mt40 text-center">
        <a href="#" class="btn btn-default" id="button6"><%= t('app.previous') %></a>
        <%= f.submit 'Confirm order', :class => "btn btn-primary" %>
      </div>
    </section>
    <% end %>
  </div>



