<script src="https://www.youtube.com/iframe_api"></script>

<div id="ytIframeOverlay" style='max-width:800px'>
  <div class="embed-responsive embed-responsive-16by9">
    <div id="myYoutubeIframe" class="embed-responsive-item" data-video="<%= @video_id %>"></div>
    <div class="layer bg-cover" id="layer-image" style="background-image:url(<%= image_path(@property.property_assets.present? ? @property.property_assets[0].picture.url(:large) : PropertyAsset.new.picture.options[:default_url]) %>);">
      <div id="layer-play">
        <div class="text-center wrapper">
          <div class="h2 color-whit hidden-xs"><%= @property.title %></div><br>
          <div class="h3 hidden-xs mt20 mb20"><%= my_beautiful_price(@property) %></div><br>
          <div class="color-white pointer transition" id="play_video_start">
            <i class="fa fa-play"></i>
          </div>
        </div>
        <%= link_to short_link_url(@property.id), :target => "_blank",:class=>"color-white" do %>
        <div class="more-infos absolute absolute-bottom-left ml15 mb15 pointer transition">
          <i class="fa fa-info-circle mr5"></i> <%= t('front_office.more') %>
        </div>
        <% end %>
        <div class="grats-shareimmo absolute absolute-bottom-right mr15 mb15">
          <%= t('front_office.ad_published_via').html_safe %> <a href="https://shareimmo.com" target="_blank" class="underline color-white">ShareIMMO</a>
        </div>
      </div>
    </div>
    <div class="layer" id="layer-top" hidden>
      <div class="col-xs-8 scroll-left">
        <div>
          <span><%= my_beautiful_price(@property) %></span>
          <span><%= @property.rooms.present? ? "#{@property.rooms} #{t('front_office.rooms')}" : nil %></span>
          <span><%= @property.bedrooms.present? ? "#{@property.bedrooms} #{t('front_office.bedrooms')}" : nil %></span>
          <span><%= @property.showerrooms.present? ? "#{@property.showerrooms} #{t('front_office.showerrooms')}" : nil %></span>
          <span><%= (@property.area_living.present? and @property.area_unit.present?) ? "#{@property.area_living} #{@property.area_unit.symbol}".html_safe : nil %></span>
        </div>
      </div>
      <%= link_to short_link_url(@property.id), :target=>"_blank", :class=>"color-white"  do %>
      <div class="col-xs-4 contact-advertiser uppercase transition pointer text-center"><%= t('front_office.contact_advertisor') %></div>
      <% end %>
    </div>
    <div class="layer" id="layer-bottom" hidden>
      <div class="hidden-xs">
        <div class="info-section broker-info pull-left mt15 ml15 color-white">
          <div class="image bg-cover pull-left" style="background-image:url(<%= @profile.picture.url(:large) %>);"></div>
          <div class="pull-left">
            <h2 class="ml10 mt5 color-white"><%= @profile.public_name %></h2>
            <h3 class="ml10 mt3 color-white"><%= @profile.job %></h3>
          </div>
        </div>
        <% if @profile.is_a_pro_user == 1 %>
        <div class="info-section agency-info pull-right text-right mt15 mr15 color-white">
          <div class="image bg-cover pull-right" style="background-image:url(<%= @profile.logo.url(:large) %>);"></div>
          <div class="pull-right">
            <h2 class="mr10 mt5 color-white"><%= @profile.agency_name %></h2>
            <h3 class="mr10 mt3 color-white"><%= @profile.agency_city %></h3>
          </div>
        </div>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="form mt20">
        <div class="alert alert-info absolute absolute-top-right mt5 mr5" style="display:none"></div>
        <h2 class="color-white"><%= t('front_office.want_more_infos') %></h2>
        <%= simple_form_for BrokerContact.new, :url=>api_v2_youtube_contact_url(@property), :remote=>true  do |f| %>
        <%= f.input :user_id,    :input_html=>{:value=>@property.user_id},:as=>"hidden" %>
        <%= f.input :property_id,:input_html=>{:value=>@property.id},:as=>"hidden" %>
        <%= f.input :email,:placeholder => t('front_office.your_email'),:wrapper_html => {:class=>"mb0"} ,:label =>false, :input_html =>{:class=>"mt10"} %>
        <%= f.input :message,
        :label=>false,
        :placeholder=> t('front_office.your_message'),
        :wrapper_html => {:class=>"mb5"},
        :input_html=>{:class=>'form-control textarea-noresize mt5'} %>
          <div class="color-white inline-block pointer" id="play_video_end">
            <i class="fa fa-refresh mr5"></i> <%= t('front_office.replay_video') %>
          </div>
          <%= f.submit :class => 'pull-right bg-primary', :value => t('front_office.send') %>
        <% end %>
      </div>
      <%= link_to short_link_url(@property.id), :target => "_blank",:class=>"color-white" do %>
      <div class="more-infos absolute absolute-bottom-left ml15 mb15 pointer transition color-white">
        <i class="fa fa-info-circle mr5"></i> <%= t('front_office.more') %>
      </div>
      <% end %>
      <div class="grats-shareimmo absolute absolute-bottom-right mr15 mb15 color-white">
        <%= t('front_office.ad_published_via').html_safe %> <a href="https://shareimmo.com" target="_blank" class="underline color-white">ShareIMMO</a>
      </div>
    </div>
  </div>
</div>
