<% if @properties.blank? %>
<div class="center mt20">
  <div><%= image_tag "back_office/house.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_property') %></div>
</div>
<% else %>
<div id="list">
  <% @properties.each_with_index do |property,x| %>
  <div id="property_<%= property.id %>" class="relative">
    <div class="row condo-info pb10 pl15  <%= x == 0 ? "pt0" : "pt10" %>">
      <%= render :layout => "back_office/services/property", :locals => {:property => property, :checkbox => false} do %>
      <%= link_to t('back_office.edit'), dashboard_property_edit_path(@user.username,property.secure_id ),:class=>"color-link"%>
      <%= link_to t('back_office.delete').html_safe, dashboard_delete_property_path(@user.username,property.secure_id),:remote=>true,:method=>'delete', :data => { :confirm => t('back_office.are_you_sure') },:class=>"color-link" %>
      <% if @remoteMenu.blank? %>
      <div class="dropdown inline-block">
        <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('back_office.services') %><span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li class="dropdown-header"><%= t('back_office.services') %></li>
          <% @user.services.order("services.id").each do |s| %>
          <% if @my_provider.services.map(&:id).include?(s.id) %>
          <li><%= link_to Globalize.with_locale(I18n.locale){s.name} ,dashboard_services_path(@user.username,:service =>s.slug,:ad=>property.id)%></li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <%= link_to t('back_office.marketing_card'), "http://#{@user.username}.immosquare.com/#{property.id}", :target => "_blank",:class=>"color-link" %>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails, :next_label=>t('back_office.next'),:previous_label=>t('back_office.previous') %>
<% end %>
