 <% if @buildings.blank? %>
 <div class="center mt20">
  <div><%= image_tag "back_office/house.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_building') %></div>
</div>
<% else %>
<div id="list">
  <% @buildings.each_with_index do |building, x| %>
  <div id="building_<%= building.id %>">
    <div class="row condo-info pb10 pl15  <%= x == 0 ? "pt0" : "pt10" %>">
      <section class="col-xs-12">
        <div class="image mr10" style="background-image:url(<%= building.building_assets.present? ? building.building_assets[0].picture.url(:small) : BuildingAsset.new.picture.options[:default_url] %>);"></div>
        <div class="ellipsis">
          <div class="h5"><%= " ##{building.id} - #{building.name}" %></div>
          <div class="color-grey"><%= "#{building.street_number} #{building.street_name}" %></div>
          <div class="color-grey">
            <%= t('back_office.units_c', :count => building.properties.count) %>
          </div>
          <h6 class="mt5">
            <%= link_to t('back_office.edit'), dashboard_edit_building_path(@user.username,building.secure_id )  %>
            <%= link_to t('back_office.delete').html_safe, dashboard_delete_building_path(@user.username,building.secure_id),:remote=>false,:method=>'delete', :data => { :confirm => t('back_office.are_you_sure') } %>
            <%= link_to t('back_office.add_ad'), dashboard_new_ad_from_building_path(@user.username,building.secure_id) %>
          </h6>
        </div>
      </section>
    </div>
  </div>
  <% end %>
</div>
<% end %>

