<li class="mt5 mb5 ml5 mr5" id="<%= "building_asset_#{building_asset.id}" %>" data-id="<%= building_asset.id %>">
  <div class="relative picture_item">
    <%= image_tag building_asset.picture.url(:small),:class=>'img-responsive img-thumbnail' %>
    <%= link_to dashboard_delete_building_asset_path(user.username,secure_id,building_asset),:method=>'delete',:class=>'btn btn-default bold', :remote=>true,:data=>{:confirm=>"Are you sure?"} do %><i class="fa fa-times color-red"></i><% end %>
  </div>
</li>
