<div class="bg-light-grey pl10 pr10 pb15 pt5 border-light-grey mt10">
  <button type="button" class="close closeCard"><span aria-hidden="true">&times;</span></button>
  <%= simple_form_for @card ,:url => dashboard_update_card_path(@user.username),:html=>{:id=>"stripeCardForm"} do |f| %>
  <%= f.input :user_id, :input_html=>{:value=>@user.id},:as=>"hidden" %>
  <div class="payment-errors alert alert-danger hide shake"></div>
  <%= f.input :name,:label=>false,:placeholder=>t('back_office.card_name'),:input_html=>{:class=>"input-lg br",:data=>{:stripe=>"name"}} %>
  <%= f.input :card_number,:label=>false,:placeholder=>t('back_office.card_number'),:input_html=>{:class=>"input-lg br",:data=>{:stripe=>"number"}} %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.input :exp_month,:label=>false,:placeholder=>"MM",:input_html=>{:class=>"input-lg br0",:data=>{:stripe=>"exp-month"}} %>
    </div>
    <div class="col-xs-4">
      <%= f.input :exp_year,:label=>false,:placeholder=>"YYYY",:input_html=>{:class=>"input-lg br0",:data=>{:stripe=>"exp-year"}} %>
    </div>
    <div class="col-xs-4">
      <%= f.input :cvc,:label=>false,:placeholder=>"CVC",:input_html=>{:class=>"input-lg br0",:data=>{:stripe=>"cvc"}} %>
    </div>
  </div>
  <%= f.input :stripeToken, :as=>"hidden" %>
  <%= f.submit t('back_office.add'),:class => 'btn btn-custom-secondary btn-lg btn-block' %>
  <% end %>
</div>
