<div class="bg-white br5 pl10 pr10 pt10 pb10">
  <h3 class="mb10"><%= t('back_office.credit_card') %></h3>
  <% if @default_card.present? %>
  <div class="flex">
    <div>
      <% if @default_card.brand == "Visa" %>
      <i class="fa fa-cc-visa fa-4x"></i>
      <% elsif @default_card.brand == "MasterCard" %>
      <i class="fa fa-cc-mastercard fa-4x"></i>
      <% elsif @default_card.brand == "American Express" %>
      <i class="fa fa-cc-amex fa-4x"></i>
      <% elsif @default_card.brand == "Discover" %>
      <i class="fa fa-cc-discover fa-4x"></i>
      <% else %>
      <i class="fa fa-credit-card fa-4x"></i>
      <% end %>
    </div>
    <div class="pl15">
      <div class="h3"><strong><%= "#{@default_card.name}" %></strong></div>
      <div><%= "**** **** **** #{@default_card.last4} (#{@default_card.exp_month}/#{@default_card.exp_year})" %></div>
    </div>
  </div>
  <div class="row mt20">
    <div class="col-xs-6">
      <%= link_to t('back_office.change'), dashboard_cards_path(@user.username),:remote=>true,:class=>"btn btn-default btn-lg btn-block" %>
    </div>
    <div class="col-xs-6">
      <%= link_to t('back_office.add'), dashboard_new_card_path(@user.username),:remote=>true,:class=>"btn btn-default btn-lg btn-block" %>
    </div>
  </div>
  <% else %>
  <div class="mb20 center">
      <div class="h4">Aucune carte enregistrée</div>
    <%= link_to t('back_office.add'), dashboard_new_card_path(@user.username),:remote=>true,:class=>"btn btn-link btn-lg" %>
  </div>
  <% end %>
  <div id="cardInfos"></div>
</div>
