<% cards.each do |card| %>
<div id="card_<%= card.id -%>" class="bg-light-grey pl10 pr10 pb15 pt5 border-light-grey mt10">
  <div class="flex">
    <div>
      <% if card.brand == "Visa" %>
      <i class="fa fa-cc-visa fa-4x"></i>
      <% elsif card.brand == "MasterCard" %>
      <i class="fa fa-cc-mastercard fa-4x"></i>
      <% elsif card.brand == "American Express" %>
      <i class="fa fa-cc-amex fa-4x"></i>
      <% elsif card.brand == "Discover" %>
      <i class="fa fa-cc-discover fa-4x"></i>
      <% else %>
      <i class="fa fa-credit-card fa-4x"></i>
      <% end %>
    </div>
    <div class="pl15">
      <div class="h3"><strong><%= "#{card.stripe_infos['name']}" %></strong></div>
      <div><%= "**** **** **** #{card.stripe_infos['last4']} (#{card.exp_month}/#{card.exp_year})" %></div>
      <div class="flex1">
        <% if @default_card["id"] ==  card.stripe_infos["id"] %>
        <span class="label label-warning">Default</span>
        <% else %>
        <%= link_to t('back_office.define_by_default'), dashboard_default_card_path(@user.username,card.id), :class=>"btn btn-link btn-xs" %>
        |
        <%= link_to t('back_office.delete'), dashboard_delete_card_path(@user.username,card.stripe_id),:remote=>true, :class=>"btn btn-link btn-xs" %>
        <% end %>
    </div>
    </div>
  </div>
</div>
<% end %>
