<% if @my_provider.provider_id != "kangalou" %>
<div class="grey-border mt20">
  <div class="panel-header"><%= t('back_office.contents') %></div>
  <ul id="sidebar_my_services">
    <li><%= (link_to t('back_office.ads_c',:count => @user.properties.where(:status=>1).where.not(:draft=>1).count), dashboard_path(@user.username)) %></li>
    <li><%= (link_to t('back_office.buildings_c',:count => @user.buildings.where.not(:draft=>1).count), dashboard_buildings_path(@user.username)) %></li>
    <li><%= (link_to t('back_office.contacts_c',:count => @user.property_contacts.count), dashboard_property_contacts_path(@user.username)) %></li>
  </ul>
</div>
<% end %>

<% if @my_provider.provider_id == "kangalou" and @website_activated.present? and  @website_options >= 1 %>
<div class="grey-border mt20">
  <div class="panel-header"><%= t('back_office.contents') %></div>
  <ul id="sidebar_my_services">
    <li><%= (link_to t('back_office.posts_c',:count => @user.blogs.where.not(:draft=>1).count), dashboard_blog_path(@user.username)) %></li>
    <li><%= (link_to t('back_office.testimonials_c',:count => @user.testimonials.count), dashboard_testimonials_path(@user.username)) %></li>
  </ul>
</div>
<% end %>
