<div class="container pb30 pt20">
  <div class="row">
    <%# COLONNE DE GAUCHE %>
    <div class="col-sm-3 hidden-xs mb20">
      <%# Profile Box %>
      <div id="userAvatar" class="grey-border text-center">
        <%= image_tag @user.profile.picture.url(:large),:class=>'img-responsive' %>
        <h3 id="userName" class="text-center pt20 pl10 pr10 pb10"><%= @user.profile.public_name %></h3>
        <ul class="list-unstyled">
          <% if @my_provider.provider_id != "kangalou" && @remoteMenu.blank? %>
          <li><%= link_to "#{t('back_office.marketing_card')}", "http://#{@user.username}.immosquare.com",:target =>"blank",:class=>"mb10 color-link h5 block" %></li>
          <% end %>
          <% if action_name != "profile" %>
          <li><%= link_to t('back_office.update_profile'), dashboard_profile_path(@user.username),:class=>"mb10 color-link h5 block" %></li>
          <% end %>
        </ul>
      </div>
      <%# Content Box %>
      <div id="contentDashboard" class="mb20">
        <%= render :partial => 'back_office/partials/content_dashboard' %>
      </div>
      <% if action_name == "dashboard"  or action_name == "buildings" or action_name == "property_contacts" %>
      <%# Services Box %>
      <% if @my_provider.provider_id != "kangalou" && @remoteMenu.blank? %>
      <div><%= render "back_office/services/my_services" %></div>
      <% end %>
      <% end %>
    </div>
    <%# COLONNE DE DROITE %>
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div>
</div>
