<%= minimal_form_for document, :url => dashboard_property_document_update_path(@user.username,document.id), :remote => true do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t('back_office.document') %></h4>
</div>
<div class="modal-body">
  <%= f.input :draft, :input_html => {:value =>0}, :as => :hidden %>
  <%= f.input :title %>
  <%= f.input :note,:input_html=>{:class=>"textarea-noresize",:rows=>6} %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :visible_on_front,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.document.visible_on_front') %>
    </div>
    <div class="col-xs-6">
      <%= f.input :document %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span class="btn btn-custom-default" data-dismiss="modal"><%= t('back_office.close') %></span>
  <%= f.submit t('back_office.add'), :class => "btn #{custom_button_class_secondary}" %>
</div>
<% end %>
