<div><%= (t('back_office.domain_add_on',:domain=>@hosting.domain, :date => I18n.localize(Time.at(@hosting.created_at),:format =>("%d %B %Y")))).html_safe %></div>
<hr>
<div><%= t('back_office.domain_steps') %></div>
<ul class="mt10">
  <li><%= (t('back_office.domain_step_1',:ip=>ENV['ip_prod'])).html_safe %></li>
  <li><%= (t('back_office.domain_step_2',:ip=>ENV['ip_prod'])).html_safe %></li>
</ul>
<hr>
<div><%= t('back_office.domain_step_final') %></div>



