<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for @share, :url=> dashboard_share_facebook_step2_path(@user.username, @property.id), :remote =>false do |f|  %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Facebook</h4>
      </div>
      <div class="modal-body pt0 pb0">
        <div class="row">
          <div class="col-xs-5">
            <%= f.input :user_id,         :as=>"hidden",:input_html=>{:value=>@user.id} %>
            <%= f.input :property_id,     :as=>"hidden",:input_html=>{:value=>@property.id}  %>
            <%= f.input :api_provider_id, :as=>"hidden",:input_html=>{:value=>@facebook.api_provider_id}  %>
            <div class="checkbox mt0 mb0 boolean optional">
              <label class="boolean optional control-label checkbox">
                <%= f.input_field :myself,:class=>"boolean optional ml5 mr5",:as=> :boolean, :boolean_style =>:inline %>
                <%= ("#{@facebook.name}").html_safe %>
              </label>
            </div>
            <% if @pages.present? %>
            <% @pages.each do |page| %>
            <div class="checkbox mt0 mb0 boolean optional">
              <label class="boolean optional control-label checkbox">
                <input class="boolean optional ml5 mr5" type="checkbox" value="<%= page["id"] %>" name="share_social[facebook_pages_id][]">
                <%= "#{page["name"]}" %>
              </label>
            </div>
            <% end %>
            <% end %>
          </div>
          <div class="col-xs-7">
            <div class="mt10">
              <%= image_tag @property.cover_url_large,:class=>"img-responsive" %>
              <% tweet = "#{@property.property_listing.name} - #{my_beautiful_price(property)} #{@property.locality.present? ? @property.locality : @property.title.truncate(60)}\nhttp://#{@my_provider.link_host}/ad/#{@property.id}"%>
              <%= f.input :note, :input_html => {:value => tweet,:class=>"textarea-noresize mt10"},:label=>false %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.post'), :class => "btn #{custom_button_class_secondary}" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
