<%= simple_form_for @feedback, :url=> dashboard_update_feedback_path(@user.username,@feedback.id), :remote=>true, :defaults => { :input_html => { :class => 'form-control input-lg' }} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-calendar"></i> <%= "#{feedback.visit_at.present? ? (I18n.localize feedback.visit_at.to_time,:format =>("%d %B %Y")) : nil } #{feedback.visit_at.present? ? "#{t('back_office.at')} #{(I18n.localize feedback.visit_at.to_time,:format =>("%H:%M"))}" : nil}"%></h4>
</div>
<div class="modal-body pt0 pb0">
  <div class="row">
    <div class="col-xs-12 col-12 pl15 pr15 mb5 text-center">
      <%= f.input :advice, :input_html=>{:class=>"rating",:min=>0,:max=>5,:step=>1}, :label_html=>{:class=>"hide"} %>
    </div>
  </div>
  <div class="row mt15 relative">
    <p class="name"><%= @user.profile.public_name %></p>
    <div class="col-xs-12 col-12 pl15 pr15">
    <%= f.input :note_internal %>
    </div>
  </div>
  <div class="row mt15 relative">
    <p class="name"><%= @feedback.property.owner_name %></p>
    <div class="col-xs-12 col-12 pl15 pr15">
      <%= f.input :note_for_owner %>
    </div>
  </div>
  <div class="row mt15 relative">
    <p class="name"><%= feedback.full_name %></p>
    <div class="col-xs-12 col-12 pl15 pr15">
      <%= f.input :note_for_visitor %>
    </div>
  </div>

</div>
<div class="modal-footer">
  <%= f.submit t('back_office.validate_visit'), :class=>"btn btn-custom-primary" %>
</div>
<% end %>


<script type="text/javascript">
$('.reportEmailchechbox').on('change',function(){
  my_check = $(this)
  if(my_check.is(':checked')){
   data = my_check.data('check')
 }
 else{
  data = my_check.data('uncheck')
}
$("#feedback_report_contact_"+my_check.data('contact')).val(JSON.stringify(data))
});
$(".rating").rating({showCaption:false,showClear:false, glyphicon:false, ratingClass:'rating-fa', symbol:' '});
</script>
