<% feedbacks.each do |feedback| %>
<div class="row <%= "feedback_#{feedback.id}" %> feedback-line ml0 mr0">
  <section class="col-xs-6 pl0 pr0 condo-info">
    <div>
      <%= link_to dashboard_edit_feedback_path(@user.username,feedback.id), :remote=>true do %>
      <h3 class="<%= custom_color_class %>"><%= feedback.full_name.present? ? feedback.full_name : "#{t('back_office.visit')} ##{feedback.id}" %></h3><br>
      <% end %>
      <h4><%= feedback.visit_at.present? ? "#{(I18n.localize feedback.visit_at.to_time,:format =>("%d %B %Y"))}" :nil %> <%= feedback.visit_at.present? ? "#{t('back_office.at')} #{(I18n.localize feedback.visit_at.to_time,:format =>("%H:%M"))}" : nil %></h4><br>
      <h5>Sms <%= (feedback.reminder_phone == 1 ? "<i class='fa fa-check mr3'></i>" : "<i class='fa fa-close mr5'></i>").html_safe %> <%= t('back_office.email') %> <%= (feedback.reminder_email == 1 ? "<i class='fa fa-check mr3'></i>" : "<i class='fa fa-close mr5'></i>").html_safe %></h5>
      <h6 class="mt5">
        <%= link_to t('back_office.edit'),dashboard_edit_feedback_path(@user.username,feedback.id), :remote=>true %> | <%= link_to t('back_office.delete').html_safe, dashboard_delete_feedback_path(@user.username,feedback.id),:remote=>true,:method=>'delete', :data => { :confirm => t('back_office.are_you_sure') } %> |
        <% if feedback.advice.present? %>
        <%= link_to dashboard_new_feedback_report_path(@user.username,feedback.id), :remote=>true do %><%= t('back_office.send') %><i class="fa fa-chevron-right ml3"></i><% end %>
        <% else %>
        <%= link_to dashboard_visiting_feedback_path(@user.username,feedback.id), :remote=>true do %>Faire la visite <i class="fa fa-user ml5"></i><% end %>
        <% end %>
      </h6>
    </div>
  </section>
  <section class="col-xs-6 col-sm-3 text-right pl0 pr0">
    <% if feedback.advice.present? %>
    <%= ("<i class='fa fa-star'></i>"*feedback.advice).html_safe %><br>
    <h6 class="mt5"><%= link_to t('back_office.edit') , dashboard_visiting_feedback_path(@user.username,feedback.id), :class=> '', :remote=> true   %></h6>
    <% end %>
  </section>
  <section class="col-xs-3 hidden-xs text-right pr0 pl0 action">
    <% if feedback.advice.present? %>
    <%= link_to dashboard_new_feedback_report_path(@user.username,feedback.id), :class=> "btn #{custom_button_class} withShadow", :remote=>true do %><%= t('back_office.send') %><i class="fa fa-chevron-right ml5"></i><% end %>
    <% else %>
    <%= link_to dashboard_visiting_feedback_path(@user.username,feedback.id), :class=>"btn btn-shadow #{custom_button_class} withShadow", :remote=>true do %>Faire la visite <i class="fa fa-user ml5"></i><% end %>
    <% end %>
  </section>
</div>
<% end %>
