<%= simple_form_for report, :url => dashboard_send_feedback_report_path(@user.username,report.id) do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-share"></i> <%= t('back_office.report') %></h4>
</div>
<%= f.input :is_sent,:as=>"hidden",:input_html=>{:value=>1} %>
<div class="modal-body pt0 pb0">
  <div class="btn-group row ml0 mr0" data-toggle="buttons">

    <h5 class="mb7"><%= t('back_office.prospect') %></h5>
    <label class="btn btn-primary col-xs-12 text-left ellipsis">
      <% if report.feedback.email.present? %>
      <input type="checkbox" <%= report.feedback.email.blank? ? "disabled" : ""  %> class="reportEmailchechbox" value="" data-contact="1" data-check="<%= {:send => true,:name => report.feedback.full_name,:phone => report.feedback.phone,:email => report.feedback.email}.to_json %>" data-uncheck="<%= {:send => false,:name => report.feedback.full_name,:phone => report.feedback.phone,:email => report.feedback.email}.to_json %>">
      <span class='mr10'><i class='fa fa-check'></i></span> <%= report.feedback.email %>
      <% else %>
      <span class='mr10'><i class='fa fa-close'></i></span>
      <%= t('back_office.prospect_email_not_set') %>
      <% end %>
    </label>

    <%= f.input :contact_1,:as=>"hidden",:label=>false,:input_html=>{:value=>{
      :send => false,
      :name => report.feedback.full_name,
      :phone => report.feedback.phone,
      :email => report.feedback.email,
    }.to_json} %>

    <h5 class="inline-block mt20 mb7"><%= t('back_office.owner') %></h5>
    <label class="btn btn-primary col-xs-12 text-left ellipsis">
      <% if report.feedback.property.owner_mail.present? %>
      <input type="checkbox"  <%= report.feedback.property.owner_mail.blank? ? "disabled" : ""  %>  class="reportEmailchechbox" value="" data-contact="2" data-check="<%= {:send => true,:name => report.feedback.property.owner_name,:phone => report.feedback.property.owner_phone,:email => report.feedback.property.owner_mail}.to_json %>" data-uncheck="<%= {:send => false,:name => report.feedback.property.owner_name,:phone => report.feedback.property.owner_phone,:email => report.feedback.property.owner_mail}.to_json %>">
      <span class='mr10'><i class='fa fa-check'></i></span> <%= report.feedback.property.owner_mail %>
      <% else %>
      <span class='mr10'><i class='fa fa-close'></i></span>
      <%= t('back_office.owner_email_not_set') %>
      <% end %>
    </label>
    <%= f.input :contact_2,:as=>"hidden",:label=>false,:input_html=>{:value=>{
      :send => false,
      :name => report.feedback.property.owner_name,
      :phone => report.feedback.property.owner_phone,
      :email => report.feedback.property.owner_mail,
    }.to_json} %>
    <div style="clear:both;"></div>

    <h5 class="inline-block mt20 mb7"><%= t('back_office.to_yourself') %></h5>
    <label class="btn btn-primary col-xs-12 text-left ellipsis">
      <input type="checkbox" class="reportEmailchechbox" value="" data-contact="3" data-check="<%= {:send => true,:name => @user.profile.public_name,:phone => @user.profile.phone,:email => @user.email}.to_json %>" data-uncheck="<%= {:send => false,:name => @user.profile.public_name,:phone => @user.profile.phone,:email => @user.email}.to_json %>">
      <span class='mr10'><i class='fa fa-check'></i></span> <%= @user.email %>
    </label>
    <%= f.input :contact_3,:as=>"hidden",:label=>false,:input_html=>{:value=>{
      :send => false,
      :name => @user.profile.public_name,
      :phone => @user.profile.phone,
      :email => @user.email,
    }.to_json} %>


  </div>
</div>
<div class="modal-footer">
  <%= f.submit t('back_office.send_report'), :class => 'btn btn-custom-primary' %>
</div>
<% end %>


<script type="text/javascript">
$('.reportEmailchechbox').on('change',function(){
  my_check = $(this)
  if(my_check.is(':checked')){
   data = my_check.data('check')
 }
 else{
  data = my_check.data('uncheck')
}
$("#feedback_report_contact_"+my_check.data('contact')).val(JSON.stringify(data))
})
</script>
