<%= simple_form_for @feedback, :url=> dashboard_update_feedback_path(@user.username,@feedback.id), :remote=>true, :defaults => { :input_html => { :class => 'form-control input-lg' }} do |f| %>
<%= f.input :draft,:input_html => {:value =>0},:as=>'hidden'%>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-calendar-plus-o"></i> <%= t('back_office.add_visit') %></h4>
</div>
<div class="modal-body pt0 pb0">
  <div class="row">
    <div class="col-xs-6 col-6 pl15 pr8">
      <i class="fa fa-calendar-o"></i>
      <%= f.input :day,:as => :string,:placeholder=>t('back_office.day'),:input_html=>{:class=>"pickadate",:data=>{:value=>feedback.visit_at.present? ? (I18n.localize feedback.visit_at.to_time,:format =>("%Y/%m/%d")) : ""}},:label=>false %>
    </div>
    <div class="col-xs-6 col-6 pl8 pr15">
      <i class="fa fa-clock-o"></i>
      <%= f.input :hour,:as => :string,:placeholder=>t('back_office.hour'),:input_html=>{:class=>"timepicker"},:label=>false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 pl15 pr15">
      <i class="fa fa-user"></i>
      <%= f.input :full_name,:placeholder=> t('activerecord.attributes.feedback.full_name'),:label=>false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 pl15 pr15">
      <i class="fa fa-phone"></i>
      <%= f.input :phone, :placeholder=> t('activerecord.attributes.feedback.phone'),:label=>false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 pl15 pr15">
      <i class="fa fa-envelope"></i>
      <%= f.input :email, :placeholder=> t('activerecord.attributes.feedback.email'),:label=>false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 pl15 pr15">
      <i class="fa fa-info-circle"></i>
      <%= f.input :help_sms,:placeholder=> t('back_office.help_sms'),:label=>false %>
    </div>
  </div>

  <h4 class="mt15"><%= t('back_office.feedback_notifier') %></h4>
  <div class="btn-group row ml0 mr0" data-toggle="buttons">
    <%= f.input :reminder_phone,:as =>"boolean",:label_html => {:class=>"btn btn-primary col-xs-12 #{@feedback.reminder_phone == 1 ? 'active' : nil } mt15"},:checked => @feedback.reminder_phone == 1 ? true : false , :label=>("<span class='mr10'><i class='fa fa-check'></i></span> #{t('back_office.feedback_notif_sms')}").html_safe %>
    <%= f.input :reminder_email,:as =>"boolean",:label_html => {:class=>"btn btn-primary col-xs-12 #{@feedback.reminder_email == 1 ? 'active' : nil } mt10"},:checked => @feedback.reminder_email == 1 ? true : false, :label=>("<span class='mr10'><i class='fa fa-check'></i></span> #{t('back_office.feedback_notif_email')}").html_safe %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit t('back_office.save').html_safe, :class=>"btn btn-custom-primary" %>
</div>
<% end %>
<script type="text/javascript">
$('.pickadate').pickadate({
  format: 'yyyy-mm-dd'
});
$('.timepicker').pickatime({
  format: 'HH:i',
  formatSubmit: 'HH:i:00',
  hiddenName: true,
  min: [8,00],
  max: [22,0]
});
$(".rating").rating({showCaption:false,showClear:false});
</script>

