<table class="table table-bordered table-condensed">
  <% elements.each do |e| %>
  <tr id="glossary_<%= e.id %>">
    <td class="flex">
      <div class="h5"><%= e.content %></div>
      <div class="flex_1 a-right">
        <div class="btn-group btn-group-xs">
          <%= link_to dashboard_edit_glossary_element_path(@user.username,e.id),:class=>'btn btn-default',:remote=>true do %><i class="fa fa-pencil"></i><% end %>
          <%= link_to dashboard_remove_glossary_element_path(@user.username,e.id),:method=>'delete',:class=>'btn btn-default',:data=>{:confirm =>t('back_office.are_you_sure')},:remote=>true do %><i class="fa fa-times"></i><% end %>
        </div>
      </div>
    </td>
  </tr>
  <% end %>
</table>
