<%= simple_form_for @glossary_element, :url=> dashboard_update_glossary_element_path(@user.username,@glossary_element.id), :remote=>true, :defaults => { :input_html => { :class => 'form-control' }} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= t('back_office.glossary') %></h4>
</div>
<div class="modal-body">
  <%= f.input :content %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
  <%= f.submit t('back_office.save'), :class => "btn btn-custom-primary #{custom_button_class}" %>
  <% end %>
</div>
