<%= simple_form_for @hosting, :url=> dashboard_update_hosting_path(@user.username,@hosting.id), :remote=>false, :defaults => { :input_html => { :class => 'form-control' }} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= t('back_office.hosting') %></h4>
</div>
<div class="modal-body">
  <%= f.input :property_id,:collection=>@user.properties, :label_method=>lambda { |p| ("Annonce ##{p.id} - #{p.title}") } %>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-dismiss="modal"><%= t('back_office.close') %></button>
  <%= f.submit t('back_office.save'), :class => 'btn btn-custom-secondary' %>
  <% end %>
</div>
