<% if @inventories.present?  %>
<div class="table-container mt40">
  <table class="table table-bordered table-condensed bg-white">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.inventory.designation') %></th>
        <th><%= t('activerecord.attributes.inventory.created_at') %></th>
        <th><%= t('back_office.actions') %></th>
      </tr>
    </thead>
    <% @inventories.each do |i| %>
    <tr id="property_<%= i.id %>">
      <td class="flex">
        <div class="h5">
          <%= "#{t('back_office.inventory', :count=>1)} ##{i.id}" %><br>
          <%= i.designation %>
        </div>
        <div class="flex_1 a-right">
          <div class="btn-group btn-group-xs">
            <%= link_to dashboard_inventories_show_path(user.username,i.id,:format=>"pdf"), :target => "_blank", :class=>"btn btn-default" do %><i class="fa fa-file-pdf-o"></i><% end %>
            <%= link_to i.xml.url,:target=>"_blank",:class=>'btn btn-default',:remote=>false do %><i class="fa fa-download"></i><% end %>
          </div>
        </div>
      </td>
      <td><%= "#{I18n.localize i.created_at.to_time,:format =>("%d %B %Y")}" %></td>
      <td>
	      <%= link_to dashboard_inventory_destroy_path(:id => i.id), :method => :get, :class=>'btn btn-default',:remote=>false do %><i class="fa fa-ban"></i><% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% else %>
<h3 class="mt40 center"><%= t('back_office.any_result') %></h3>
<% end %>
