<%= simple_form_for @inventory, :url=> dashboard_inventory_create_path(@user.username), :remote=>true, :defaults => { :input_html => { :class => 'form-control' }} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= t('back_office.inventory') %></h4>
</div>
<div class="modal-body">
  <%= f.input :user_id,:as=>"hidden",:input_html=>{:value=>@user.id} %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :designation, :placeholder => t('activerecord.attributes.inventory.designation') %>
    </div>
    <div class="col-xs-6">
      <%= f.input :property_id, :collection=> @user.properties.where.not(:draft=>1) %>
    </div>
  </div>
  <%= f.input :xml, :placeholder => t('activerecord.attributes.inventory.xml') %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
  <%= f.submit t('back_office.save'), :class => "btn #{custom_button_class}" %>
  <% end %>
</div>
