<% elements.each do |e,  children| %>
<tr  class="<%= (e.status== 0)  ? 'danger' : '' %> <%= (status== 0)  ? 'warning' : '' %>">
  <td class="<%= "pl#{(e.depth*10).to_s}" %>">
    <div class="directionLinkContainer inline-block">
      <span class="ml10 <%= e.depth==1 ? "bold" : "" %>"><%= "#{e.name}" %></span>
      <div class="inline-block directionLink">
        <%  if e.class.name  == "NomenclatureElement" %>
        <%= link_to dashboard_nomenclature_element_edit_path(:id=>e.id),:remote=>true do %><i class="fa fa-pencil"></i><% end %>
        <%= link_to dashboard_nomenclature_element_sort_path(:id=>e.id,:direction=>"up"),:method=>"post",:remote=>true do %><i class="fa fa-arrow-circle-up"></i><% end %>
        <%= link_to dashboard_nomenclature_element_sort_path(:id=>e.id,:direction=>"down"),:method=>"post",:remote=>true do %><i class="fa fa-arrow-circle-down"></i><% end %>
        <% end %>
      </div>
    </div>
  </td>
  <td><%= e.value  %></td>
  <td class="center"><%= (e.element_type == 2 ? "<i class='fa fa-check-circle'></i>": "").html_safe %></td>
</tr>
<%= (render :partial =>'back_office/partials/nomenclature_tree', :locals=>{:elements => children,:status=> status == 0 ? 0 : e.status}) if children.present? %>
<% end %>

