<%= simple_form_for @nomenclature_element, :url=> dashboard_nomenclature_element_update_path(@user.username,@nomenclature_element.id), :remote=>true, :defaults => { :input_html => { :class => 'form-control' }} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= t('back_office.nomenclature',:name=>"") %></h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6">
      <label><%= t('back_office.name') %></label>
      <%= f.input :name, :label=>false, :placeholder=>t('back_office.name') %>
    </div>
    <div class="col-sm-6">
      <label><%= t('back_office.value') %></label>
      <%= f.input :value, :label=>false, :placeholder=>t('back_office.value') %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label><%= t('back_office.various_element') %></label>
      <%= f.input :element_type, :label=> false, :collection =>{t("back_office.no")=>1,t('back_office.yes')=>2},:include_blank=>false %>
    </div>
    <div class="col-sm-6">
      <label><%= t('back_office.status') %></label>
      <%= f.input :status, :label=> false, :collection =>{t("back_office.inactf")=>0,t('back_office.actif')=>1},:include_blank=>false %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <% if @nomenclature_element.root? %>
      <%= f.input :is_the_standard_element, :collection =>{t("back_office.no")=>0,t('back_office.yes')=>1},:include_blank=>false %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
  <%= f.submit t('back_office.save'), :class => "btn btn-custom-primary #{custom_button_class}" %>
  <% end %>
</div>
