<% @elements = nomenclature.user_id.blank? ? nomenclature.nomenclature_element_defaults :  nomenclature.nomenclature_elements   %>
<% @elements.where(:ancestry=>nil).order(:position).each do |node| %>
<div class="container-fluid mt20">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="directionLinkContainer inline-block <%= (node.is_the_standard_element== 1)  ? "bg-primary" : '' %>">
        <span class="h2"><%= "#{node.name}" %></span>
        <span class="h5"><%= "#{node.is_the_standard_element== 1 ?  "(standard)" : ""}" %></span>
        <div class="inline-block directionLink">
          <%  if node.class.name  == "NomenclatureElement" %>
          <%= link_to dashboard_nomenclature_element_edit_path(:id=>node.id),:remote=>true do %><i class="fa fa-pencil"></i><% end %>
          <%= link_to dashboard_nomenclature_element_sort_path(:id=>node.id,:direction=>"up"),:method=>"post",:remote=>true do %><i class="fa fa-arrow-circle-up"></i><% end %>
          <%= link_to dashboard_nomenclature_element_sort_path(:id=>node.id,:direction=>"down"),:method=>"post",:remote=>true do %><i class="fa fa-arrow-circle-down"></i><% end %>
          <% end %>
        </div>
      </div>
      <table class="table table-bordered table-condensed bg-white no-shadow">
        <thead>
          <tr class="active">
            <th><%= t('back_office.name') %></th>
            <th><%= t('back_office.value') %></th>
            <th><%= t('back_office.various_element') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial =>'back_office/partials/nomenclature_tree',:locals =>{:elements => node.descendants.arrange(:order => :position),:status=>node.status} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
