<% if property_contacts.blank? %>
<div class="center mt20">
  <div><%= image_tag "back_office/house.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_contact') %></div>
</div>
<% else %>
<table class="table table-condensed table-bordered mt20">
  <thead>
    <tr>
      <th></th>
      <th><%= t('back_office.infos') %></th>
      <th><%= t('back_office.address') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% property_contacts.each do |contact| %>
    <tr>
      <td style="width:65px">
        <%= image_tag contact.picture.url(:medium),:class=>"img-responsive" %>
      </td>
      <td>
        <%= content_tag(:div, "#{contact.first_name} #{contact.last_name} (#{contact.property_contact_type.name})",:class=>"ellipsis") %>
        <%= content_tag(:div, contact.email,:class=>"ellipsis") if contact.email.present? %>
        <%= content_tag(:div, contact.phone,:class=>"ellipsis") if contact.phone.present? %>
      </td>
      <td>
        <%= content_tag(:div, contact.address,:class=>"ellipsis") if contact.address.present? %>
        <%= content_tag(:div, contact.zipcode,:class=>"ellipsis") if contact.zipcode.present? %>
        <%= content_tag(:div, contact.city,:class=>"ellipsis") if contact.city.present? %>
        <%= content_tag(:div, contact.country,:class=>"ellipsis") if contact.country.present? %>
      </td>
      <td>
        <ul class="list-unstyled">
          <% if @property.present? %>
          <li><%= link_to t('back_office.delete'), dashboard_property_contact_property_delete_path(@user.username,@property.id,contact.id),:remote=>true, :data=>{:confirm => t('back_office.are_you_sure')},:method => :delete, :class=>"color-link" %></li>
          <% else %>
          <li><%= link_to t('back_office.edit'), dashboard_property_contact_edit_path(@user.username,contact.id),:remote=>true, :class=>"color-link" %></li>
          <li><%= link_to t('back_office.delete'), dashboard_property_contact_delete_path(@user.username,contact.id),:remote=>true, :data=>{:confirm => t('back_office.are_you_sure')},:method => :delete, :class=>"color-link" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
