<table class="table">
  <tr>
    <td>Facebook</td>
    <td class="center"><% if  @profile.facebook.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
  <tr>
    <td>Twitter</td>
    <td class="center"><% if  @profile.twitter.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
  <tr>
    <td>Google +</td>
    <td class="center"><% if  @profile.google_plus.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td class="center"><% if  @profile.linkedin.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
  <tr>
    <td>Pinterest</td>
    <td class="center"><% if  @profile.pinterest.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
  <tr>
    <td>Instagram</td>
    <td class="center"><% if  @profile.instagram.present? %><i class="fa fa-check color-green"></i><% end %></td>
  </tr>
</table>
