<li class="mt5 mb5 col-xs-4 col-sm-6 col-md-4 col-lg-3" id="<%= "property_asset_#{property_asset.id}" %>" data-id="<%= property_asset.id %>" style="border-left:0;">
  <div class="relative picture_item inline-block">
    <%= image_tag property_asset.picture.url(:medium),:class=>'img-responsive img-thumbnail' %>
    <%= link_to dashboard_property_asset_delete_path(user.username,secure_id,property_asset),:method=>'delete',:class=>'btn btn-default bold', :remote=>true,:data=>{:confirm=>"Are you sure?"} do %><i class="fa fa-times color-red"></i><% end %>
  </div>
</li>
