<% if documents.blank? %>
<div class="center mt20">
  <div><%= image_tag "back_office/house.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_document') %></div>
</div>
<% else %>
<table class="table table-condensed table-bordered mt20">
  <thead>
    <tr>
      <th><%= t('back_office.tilte') %></th>
      <th><%= t('back_office.note') %></th>
      <th><%= t('activerecord.attributes.document.visible_on_front') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% documents.each do |document| %>
    <tr>
      <td>
        <%= content_tag(:div,link_to(document.title,document.document.url,:target=>"_blank"),:class=>"ellipsis") if document.title.present? %>
      </td>
      <td>
        <%= content_tag(:div, document.note,:class=>"ellipsis") if document.note.present? %>
      </td>
      <td>
        <%= content_tag(:div, document.visible_on_front == 1 ? t('back_office.yes_oui') : t('back_office.no_non') ,:class=>"ellipsis") %>
      </td>
      <td>
        <ul class="list-unstyled">
          <li><%= link_to t('back_office.edit'), dashboard_property_document_edit_path(@user.username,document.id),:remote=>true, :class=>"color-link" %></li>
          <li><%= link_to t('back_office.delete'), dashboard_property_document_delete_path(@user.username,document.id),:remote=>true, :data=>{:confirm => t('back_office.are_you_sure')},:method => :delete, :class=>"color-link" %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
