<ul class="list-inline mb0">
  <li><i class="fa fa-square" style="color:<%= @profile.primary_color %>"></i></li>
  <li><i class="fa fa-square" style="color:<%= @profile.secondary_color %>"></i></li>
</ul>
