<%= simple_form_for @property_contact,:remote => true, :url=> @property_contact.id.present? ? dashboard_property_contact_update_path(@user.username,@property_contact) : dashboard_property_contact_create_path(@user.username) do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t('back_office.contact') %></h4>
</div>
<div class="modal-body">
  <%= f.input :user_id, :input_html => {:value => @user.id}, :as =>"hidden" %>
  <div class="row mb10">
    <div class="col-xs-4">
      <%= f.input :civility_id, :collection => Civility.all.map{|c| [c.value, c.id]}, :include_blank => false %>
    </div>
    <div class="col-xs-4">
      <%= f.input :first_name %>
    </div>
    <div class="col-xs-4">
      <%= f.input :last_name %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-xs-4">
      <%= f.input :email %>
    </div>
    <div class="col-xs-4">
      <%= f.input :phone %>
    </div>
    <div class="col-xs-4">
      <%= f.input :mobile %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-xs-8">
      <%= f.input :address %>
    </div>
    <div class="col-xs-4">
      <%= f.input :city %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-xs-4">
      <%= f.input :zipcode %>
    </div>
    <div class="col-xs-4">
      <%= f.input :country,:input_html=>{:class=>"form-control"} %>
    </div>
    <div class="col-xs-4">
      <%= f.input :picture %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-xs-8">
      <%= f.input :iban %>
    </div>
    <div class="col-xs-4">
      <%= f.association :property_contact_type, :include_blank => false %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
  <%= f.submit "#{t('back_office.save')}".html_safe, :class=> "btn #{custom_button_class}" %>
</div>
<% end %>



