<%= "#{@profile.agency_address}" %><%= @profile.agency_city.blank? ? "" : ", #{ @profile.agency_city}" %>
<br><%= @profile.agency_zipcode.blank? ? "" : "#{@profile.agency_zipcode}" %><%= @profile.agency_province.blank? ? "" : ", #{profile.agency_province}" %>
