<div class="subnav">
  <div class="container">
    <ul class="list-inline mb0 pull-left">
      <% if @brand.present?  %>
      <li>
        <span class="<%= custom_color_class_secondary %> bold"><%= @brand %></span>
        <% if @help.present? %><span class="ml5 pointer" style="color:#a3a3a3;"  data-toggle="popover" data-placement="bottom" title="<%= t('back_office.help') %>" data-content="<%= @help %>"><i class="fa fa fa-question-circle"></i></span><% end %>
      </li>
      <% end %>
    </ul>
    <%= yield %>
  </div>
</div>


