<div class="modal fade" id="twitterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for @share, :url=> dashboard_share_twitter_step2_path(@user.username, @property.id), :remote =>false do |f|  %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Twitter</h4>
      </div>
      <div class="modal-body pt10 pb0">
        <% tweet = "#{@property.property_listing.name} - #{my_beautiful_price(property)} - #{@property.locality.present? ? @property.locality : @property.title.truncate(60)}\nhttp://#{@my_provider.link_host}/ad/#{@property.id}"%>
        <%= f.input :user_id,:as=>"hidden",:input_html=>{:value=>@user.id} %>
        <%= f.input :property_id,:as=>"hidden",:input_html=>{:value=>@property.id}  %>
        <%= f.input :api_provider_id,:as=>"hidden",:input_html=>{:value=>@twitter.api_provider_id}  %>
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag @property.cover_url_large,:class=>"img-responsive" %>
          </div>
          <div class="col-xs-7">
            <%= f.input :note, :input_html => {:value => tweet,:class=>'textarea-noresize',:id=>"my_tweet"} ,:label => "#{t('back_office.tweeter_limit')}"  %>
            <div><%= "#{t('back_office.tweeter_remainingCharacters')} : " %><span id="tweetLimit"></span></div>
          </div>
        </div>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.tweet'), :class => "btn #{custom_button_class_secondary}",:id=>"tweeter_submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<script type="text/javascript">
$("#tweetLimit").html(140 - twttr.txt.getTweetLength($('#my_tweet').val()))

$("#my_tweet").keyup(function() {
  var remainingCharacters = 140 - twttr.txt.getTweetLength($(this).val());
  $("#tweetLimit").html(remainingCharacters)
  if(remainingCharacters>=0){
    $('#tweeter_submit').prop('disabled', false)
  }
  else{
    $('#tweeter_submit').prop('disabled', true)
  }
})




</script>
