<div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Youtube</h4>
      </div>
      <div class="modal-body pt0 pb0 center">
        <div class="mt10 mb20">
          <div class="alert alert-info">Vous pouvez fermer cette fenêtre, la génération ne sera pas interrompue!</div>
          <div id="youtubeStep" class="h3  mt15 mb15"></div>
          <a id="youtubeLink" href="#" target="_blank" class="btn btn-sm bg-youtube color-white" style="display:none"><%= t('back_office.see_on_youtube') %></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=  %></button>
      </div>
    </div>
  </div>
</div>
