<section class="panel">
  <h6>À</h6>
  <div><%= @broker_contact.user.profile.phone_sms %></div>
</section>
<section class="panel">
  <h6>Message</h6>
  <div><%=simple_format(@broker_contact.message) %></div>
</section>
