<%= render :layout => 'devise/layout' do %>
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 mt50 pl20 pr20 pt15 pb15 box-edit">
    <div class="inline-block full-width">
      <h2 class="fs20 color-secondary mt20 mb20 normal text-center medium"><%= t('user.change_password') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>


          <%= f.input :current_password, required: true, :label_html => {:class => "fs14 medium color-dark-grey mb10"}, :label => t("user.current_password") %>
          <%= f.input :password, autocomplete: "off", required: false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("user.new_password") %>
          <%= f.input :password_confirmation, required: false, :label_html => {:class => "fs14 medium color-grey mb10"}, :label => t("app.confirm") %>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-primary pt10 pb10 pr20 pl20 pull-right fs16"><%= t('app.save') %></button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
