<%= render :layout => 'devise/layout' do %>
  <div class="col-md-10 col-md-offset-1 mt50" id="registerForm-wrapper">
    <div class="row same-height-col">
      <div class="col-md-6 connect pl20 pr20 pb15 pt15 bg-cover register-info" style="background-image:url(<%= image_path 'register-bg.png' %>);"></div>
      <div class="col-md-6 register pl20 pr20 pb15 pt15" style="background-image:url(<%= image_path 'mosaic-register.svg' %>);">
        <h2 class="fs20 color-secondary mt20 mb10 normal text-center medium"><%= t('app.become_client') %></h2>
        <p class="fs12 color-grey mb20 text-center pr30 pl30"><%= t('connect_register.register_tagline') %></p>
        <% if @store.allow_user_creation == 1 %>
        <%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name),:defaults =>{:input_html=>{:class=>"input-lg"}}) do |f| %>
          <%= f.error_notification %>
          <%= f.input_field :store_id,:value => @store.id, :as=>"hidden"%>
          <%= f.input :email, required: true, :class=>"pt10 pb10 pl15 pr15 mb25", :placeholder=>t('connect_register.email'), :input_html=>{:class=>"fs12"}, :wrapper_html=>{:class=>"mb25"} %>
          <div class="row row-10">
            <div class="col-md-6">
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), :class=>"pt10 pb10 pl15 pr15 mb25", :placeholder=>t('connect_register.password'), :input_html=>{:class=>"fs12"}, :wrapper_html=>{:class=>"mb25"} %>
            </div>
            <div class="col-md-6">
              <%= f.input :password_confirmation, required: true, :class=>"pt10 pb10 pl15 pr15", :placeholder=>t('connect_register.password_confirmation'), :input_html=>{:class=>"fs12"}, :wrapper_html=>{:class=>"mb25"}, :autocomplete=>"off" %>
            </div>
          </div>
          <div class="inline-block full-width mt30">
            <%= f.submit :class => "btn-primary pt10 pb10 pr20 pl20 pull-right fs16", :value => t('app.signup'), :onclick => "spin(true);" %>
            <p class="fs12 color-grey lh16 pull-right mb0 text-right mr15 mt6"><%= t('connect_register.register_tagline2').html_safe %></p>
          </div>
        <% end %>
        <% end %>
        <div class="block text-center color-grey fs12 mt15 pt15 bt border-grey">
          <%= t('connect_register.already_client') %> <%= link_to t('connect_register.connect_here'), new_client_session_path, :class=>"bold color-link underline"  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
