
    <%= simple_form_for @ouiflash_order, :url=> ouiflash_create_path do |f|  %>
  

    <div class="modal-body">
      <% if @response["pictures"].present? %>
      <%# Pictures & filters %>
      <section id="part1">
        <div class="h4 mb20 text-center color-grey"><%= t('app.order_report') %></div>
        <%= f.input :reference_number, :input_html => {:value => "#{@response["uid"].present? ? @response["uid"] : @response["id"]}" }, readonly: true %>
        <%= f.input :surface, :input_html => {:value => @response["area"]["living"] }, readonly: true %>
        <%= f.input :type_de_bien, :input_html => {:value => @response["classification"]["en"] }, readonly: true %>
        <%= f.input :address, :input_html => {:value => @response["address"]["address_formatted"] }, readonly: true %>
        <%= f.input :address_complement, :input_html => {placeholder: t('app.complement_address_placeholder') } %>
        <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
        <%= f.input :picture_url, :as => :hidden, :input_html=>{:value=> @response["pictures"][0]["medium"]} %>
        <% end %>
        <div class="mt40 text-center">
            <%= link_to t('app.previous'), :back, class: "btn btn-default text-center"  %>
            <a href="#" class="btn btn-primary text-center" id="button1"><%= t('app.next') %></a> 
          </div>
      </section>
      
      <br>

      <section id="part2">
        <div class="container-fluid">
          <div class="row">
            <h4 class="color-grey text-center mb30"><%= t('app.order_report') %></h4>
            <%= f.input :reportage_id, collection: @photo_report ,:label => t('app.cliches'), include_blank: false %>
            <label class="control-label select optional" for="ouiflash_order_report_date">Report Date</label><br>
            <%= f.input_field :report_date, as: :string, class: "date mb15" %>
            <%= f.input :report_time %>
            <%= f.input :report_comments %>
          </div>
        </div>

          <div class="color-grey mt40 text-center">
            <a href="#" class="btn btn-default" id="button2"><%= t('app.previous') %></a> 
            <a href="#" class="btn btn-primary" id="button3" <%= @photo_report.empty? ? "disabled" : nil %> ><%= t('app.next') %></a> 
          </div>                  
    
      </section>

      <section id="part3">
        <div class="row">
          <h4 class="mb20 text-center color-yellow"><%= t('app.responsable') %></h4>
          <h5 class="mb30 text-center color-grey"><%= t('app.info_used') %></h5>
          <div class="col-xs-6 color-grey">
            <%= f.input :r_first_name %>
            <%= f.input :r_email %>
            <%= f.input :r_company_name %>
          </div>
          <div class="col-xs-6 color-grey">
            <%= f.input :r_last_name %>
            <%= f.input :r_tel %>
            <%= f.input :r_company_email %>
          </div>
          <div class="col-xs-12 color-grey">
            <%= f.input :r_notes, :input_html => { :rows => 6 } %>
          </div>
        </div>
            
          <div class="color-grey mt40 text-center">
            <a href="#" class="btn btn-default" id="button4"><%= t('app.previous') %></a> 
            <%= f.submit 'Confirm order', :class => "btn btn-primary" %>
          </div>
            
      </section>



    </div>

    <% end %>
