<div class="pt5 pb5 center">
  <div class="fs11 italic">
    <%= "© IMMOSQUARE - #{Time.now.year} -  #{t("app.mentions")} - "%>
    <% if user_signed_in? %>
    <%= link_to t("admin.title"), admin_print_templates_path %>
    <% else %>
    <%= link_to t("admin.manager_access"), new_user_session_path, :class=>"" %>
    <% end %>
  </div>
</div>
