<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("admin.title").upcase, admin_print_templates_path, :class =>"navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user.has_role? :admin %>
      <ul class="nav navbar-nav">
        <li><%= link_to t("admin.templates"), admin_print_templates_path %></li>
        <li><%= link_to t("admin.fonts"), fonts_path %></li>
        <li><%= link_to t("admin.paper_size"), print_template_sizes_path %></li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t("app.menu") %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user.has_role? :admin %>
            <li><%= link_to "Mails", "/rails/mailers",:target=>"_blank"%></li>
            <li><%= link_to "SideKiq", sidekiq_web_path, :target=>'blank'%></li>
            <% end %>
            <li><%= link_to t("app.sign_out"), destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
