<%= f.simple_fields_for :credit_card do |ff| %>

<div class="payment-errors alert alert-danger hide shake mt15"></div>

<div class="row row-10">
  <div class="col-md-5 mb15">
    <%= ff.input :name,:label=>"Nom sur la carte", :label_html => {:class => "fs14 medium color-grey"},:input_html => {:data=>{:stripe=>"name"}} %>
  </div>
  <div class="col-md-7 mb15">
    <%= ff.input :card_number,:label=>"Numéro de carte", :label_html => {:class => "fs14 medium color-grey"},:input_html => {:data=>{:stripe=>"number"}} %>
  </div>
</div>

<div class="row row-10">
  <div class="col-md-8 mb15">
    <h5 class="fs14 medium color-grey mt0"><abbr title="required">*</abbr> Expiration</h5>
    <div class="row row-5">
      <div class="col-md-6">
        <%= ff.input :exp_month, :collection=>1..12, :prompt=>t('credit_card.month'),:label=> false, :input_html => {:data=>{:stripe=>"exp-month"}} %>
      </div>
      <div class="col-md-6">
        <%= ff.input :exp_year, :collection=>DateTime.now.year..(DateTime.now.year + 10), :prompt=>t('credit_card.year'), :label => false, :input_html => {:data=>{:stripe=>"exp-year"}} %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb15">
    <%= ff.input :cvc, :label=>'CVV <small class="normal fs12">3 à 4 chiffres</small>'.html_safe, :label_html => {:class => "fs14 medium color-grey"},:input_html => {:data=>{:stripe=>"cvc"}} %>
  </div>
</div>

<%= ff.input :stripeToken, :as => "hidden" %>

<% end %>