<% @title_for_layout = @brand = t('app.credit_cards') %>
<%= render 'layouts/generic_meta' %>

<%= content_for (:head) do %>
<script src="https://js.stripe.com/v2"></script>
<%= tag :meta, :name => "stripe-key", :content => @store.payment_api_key %>
<% end %>

<%= render 'dashboard/header', :current => 2, :mode => 1 %>

<div class="container mt35">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="bg-white bAll border-grey br3 pl20 pr20 pb25 pt25 inline-block full-width mb50" id="payment-list">
        <h2 class="fs18 medium color-black"><%= t('credit_card.my_payment_methods') %></h2>

        <hr class="mt20 mb20">

        <% if @cards.blank? %>
          <span class="color-grey fs12 mb20 inline-block"><%= t('credit_card.no_credit_card_yet') %></span>
        <% else %>
          <% @cards.each do |card| %>
            <div class="payment bAll border-grey br3 mb20">
              <div class="infos pAll5 inline-block full-width">
                <div class="inline-block mt5 ml10">
                  <span class="color-dark-grey"><%= card.name %> -</span> <small class="fs12 color-grey"><%= t('credit_card.ending_with').downcase %> <strong class="medium color-dark-grey"><%= card.last4 %></strong></small>
                </div>

                <div class="pull-right">
                  <span class="medias pull-right hidden-xs">
                    <% if card.brand == "Visa" %>
                        <%= render 'icons/visa_card' %>
                      <% elsif card.brand == "MasterCard" %>
                        <%= render 'icons/mastercard_card' %>
                      <% elsif card.brand == "American Express" %>
                        <%= render 'icons/amex_card' %>
                      <% elsif card.brand == "Discover" %>
                        <%= render 'icons/discover_card' %>
                      <% else %>
                      <i class="fa fa-credit-card fa-4x"></i>
                    <% end %>
                  </span>

                  <div class="actions pull-right mt5 mr15">
                    <% if @default_card == card.id %>
                      <span class="fs12 color-green mr20"><i class="fa fa-check fs10"></i> <%= t('credit_card.main_card').downcase %></span>
                    <% else %>
                      <%= link_to t('credit_card.use_as_main_card'), dashboard_card_default_path(card.id), :class=>"color-link fs12 medium mr20",:method=>:post %>
                    <% end %>
                    <%= link_to t('app.delete'), dashboard_card_delete_path(card.id), :class=>"color-link fs12 medium",:data=>{:confirm => t('app.are_you_sure')},:method => :delete %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="new-credit-card hide">
          <%= simple_form_for :credit_card ,:url => dashboard_card_new_path,:html=>{:id=>"stripeCardForm", :class=>"inline-block full-width"} do |f| %>
            <hr class="mt15 mb30">

            <h3 class="color-primary fs16 medium"><%= t('credit_card.new_credit_card') %></h3>

            <div class="payment-errors alert alert-danger hide shake mt15"></div>

            <div class="row row-10 mt15">
              <div class="col-md-5 mb25">
                <h5 class="fs14 medium color-grey mt0 mb10"><%= t('app.credit_card.cardholder_name') %></h5>
                <%= f.input_field :name,:label=>false,:data=>{:stripe=>"name"}, :autofocus=>true %>
              </div>
              <div class="col-md-7 mb25">
                <h5 class="fs14 medium color-grey mt0 mb10"><%= t('app.credit_card.card_number') %></h5>
                <%= f.input_field :card_number,:label=>false, :data=>{:stripe=>"number"} %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-8">
                <h5 class="fs14 medium color-grey mt0 mb10"><%= t('credit_card.expiry') %></h5>
                <div class="row row-10">
                  <div class="col-md-7 mb15">
                    <%= f.input_field :exp_month,:label=>false, :collection=>1..12, :prompt=>t('credit_card.month'), :data=>{:stripe=>"exp-month"} %>
                  </div>
                  <div class="col-md-5 mb25">
                    <%= f.input_field :exp_year,:collection=>DateTime.now.year..(DateTime.now.year + 10), :prompt=>t('credit_card.year'),:data=>{:stripe=>"exp-year"} %>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb25">
                <h5 class="fs14 medium color-grey mt0 mb10"><%= t('credit_card.cvv') %> <small class="normal fs12"><%= t('credit_card.cvv_format') %></small></h5>
                <%= f.input_field :cvc,:label=>false,:data=>{:stripe=>"cvc"} %>
              </div>
            </div>

            <%= f.input :stripeToken, :as=>"hidden" %>
            <%= f.submit t('app.add'),:class => "btn-primary pt10 pb10 pl25 pr25 pull-right fs16", :value=>t('app.save') %>
          <% end %>
        </div>

        <button class="add-new-card btn-primary pt10 pb10 pl25 pr25 pull-right fs16"><%= t('credit_card.add_credit_card') %></button>
      </div>
    </div>
  </div>
</div>
