<% @title_for_layout = "Print Template" %>
<%= render 'layouts/partials/generic_meta' %>

<div class="mb10 mt10">


<%= link_to t("font.add"), new_font_path,:class=>"btn btn-default" %>
<table class="table table-condensed table-bordered" style="margin-top:10px">
  <thead>
    <tr>
      <th><%= t("font.name") %></th>
      <th><%= t("font.name_pdflib") %></th>
      <th><%= t("app.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Arial</td>
      <td></td>
      <td></td>
    </tr>
    <% @fonts.each do |font| %>
    <tr>
      <td><%= font.font_file_name %></td>
      <td><%= font.font_file_name.chomp(File.extname(font.font_file_name)) if font.font_file_name.present? %></td>
      <td><%= link_to t("app.delete"), font_path(font), data: {:confirm => t("app.are_you_sure")}, :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
