body {
  // font-family: 'DinPro';
  -webkit-font-smoothing: antialiased;
  background: rgb(245, 245, 247);
  &.pages.home{
    padding-top:0px;
  }
}

a{text-decoration: none !important;}


// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
  z-index: 1051 !important;
}





/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContentContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

#homeCover{
  background-image: asset-url('cover.jpg');
  &:before{
    content: "";
    display: block;
    background-color: rgba(224, 224, 224, 0.22);
    width: 100%;
    height: 100%;
    position: absolute;

  }
}






.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($primary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:lighten($primary,45%);
    background-color: lighten($primary, 10%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}


.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($secondary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:darken($secondary, 4%);
    background-color: darken($secondary, 10%);
    border:1.5px solid darken($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}





.btn-custom-tertiary {
  color:$white !important;
  background-color: $tertiary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border:1.5px solid darken($tertiary, 5%);
  text-decoration:none;
  &:focus{
    text-decoration:none;
  }
  &:hover{
    color:darken($tertiary, 4%);
    background-color: darken($tertiary, 10%);
    border:1.5px solid darken($tertiary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}



.sub-title{
  display: inline-block;
  padding: 0 35px;
  position: relative;
  opacity: 0.6;
  margin: 10px 0;
  &:before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
  }
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%
  }
}

.my_vertical_align {
  top: 50%;
  transform: translateY(-50%);
}


input[type="range"] {
    position: relative;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}