/************************************************************************
/* Remove Unregistred Licence from Froala
*************************************************************************/
div.fr-box{
  a[href^="https:"]{
    display: none !important;
  }
}


/************************************************************************
/* Bar de Menu
*************************************************************************/
#MyHeaderHeroNav{
  #logo{
    img{
      height: 50px;
    }
  }
  border-bottom: 1px solid $light-grey;
  background-color: white;
  box-shadow:0px 0px 4px #717171;
}

#to-do{
  ul{
    list-style:none;
    li{
      border-bottom:solid 1px #EAEAEA;
    }
  }
  .img-thumbnail{
    background-color: #E0E0E0;
  }
  .well{
    background-color:white;
  }
  i{
    color:grey;
    font-size:31px;
  }
  i.done{
    color:rgb(95, 235, 179);
  }
  img{
    height: 160px;
  }
}
greyColor{
  color: grey;
}



body{
  &.pages.home,&.devise,&.dashboard.index{
    background: asset-url('app-bg.png');
  }
}
