/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContent{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

#flashMessage{
  position: fixed;
  top:30px;
  left: 20px;
  width: 420px;
  z-index:20000;
  .alert{
    border-width: 5px;
    &.alert-danger{
      border-color: #a94442;
    }
  }
}
