<footer id="oneclicFooter" class="hidden-print">
  <div class="container">
    <section id="footer-top" class="pt25">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
           <div class="col-xs-6 col-sm-4">
            <div class="fs13 mb20 bold <%= custom_color_class_secondary %>"><%= @my_provider.name %></div>
            <ul class="list-unstyled">
              <% if user_signed_in? %>
              <li><%= link_to t('app.dashboard'),dashboard_path(current_user.username) %></li>
              <% else %>
              <li><%= link_to t('app.sign_in'),new_user_session_path%></li>
              <% end %>
              <li><%= link_to t('app.home'), root_path %></li>
              <li><%= link_to t('app.blog'), blog_path %></li>
              <li><%= link_to t('app.terms'),terms_path %></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="fs13 uppercase mb20 bold <%= custom_color_class_secondary %>"><%= t('app.support') %></div>
            <ul class="list-unstyled">
              <li><%= link_to t('app.documentation_api'), "http://docs.shareimmo.com", :target =>"_blank" %></li>
              <li><%= link_to t('app.support'), support_path %></li>
              <li><%= link_to contact_path do %><%=  t('app.contact')%><% end %></li>
            </ul>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-xs-6 col-sm-4">
            <div class="fs13 uppercase mb20 bold <%= custom_color_class_secondary %>"><%= t('app.follow') %></div>
            <ul class="list-unstyled">
              <li><a href="https://instagram.com/shareimmo" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-instagram"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span>Instagram</a></li>
              <li><a href="https://www.facebook.com/pages/shareIMMO/1405700709713639" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-facebook"></i><i class="fa fa-facebook fa-stack-1x fa-inverse mr5"></i></span>Facebook</a></li>
              <li><a href="https://plus.google.com/102501446181975626006" rel="publisher" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-google"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse mr5"></i></span>Google +</a></li>
              <li><a href="https://www.youtube.com/shareimmo" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-youtube"></i><i class="fa fa-youtube fa-stack-1x fa-inverse mr5"></i></span>Youtube</a></li>
              <li><a href="https://www.linkedin.com/company/5217795" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-linkedin"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse mr5"></i></span>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <a class="twitter-timeline" href="https://twitter.com/IMMO_SQUARE" data-widget-id="507268713754533888"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </section>
</div>
<section>
  <div class="container">
    <div class="a-right">
      <div class="fs11 mt5 mb5 color-white">©  <%= @my_provider.name %> - <%= Time.now.year %> - <%= t("app.mentions") %></div>
    </div>
  </div>
</section>
</footer>



