<nav id="navbar-shareimmo" class="navbar navbar-default  navbar-fixed-top bg-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-toggle no-border collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars color-primary bold fa-2x"></i></span>
      <%= link_to root_url(:protocol=>ENV['PROTOCOL'],:subdomain=>false), :class=>'navbar-brand absolute' do %>
      <%= image_tag("logos/#{@my_provider.logo}",:class=>"my_provider_logo",:id => "#{@my_provider.provider_id}_logo",:timestamp => false) %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('app.home'),root_path%> </li>
        <% if user_signed_in? %>
        <li><%= link_to t('app.dashboard'),dashboard_path(current_user.username) %></li>
        <% if current_user.has_any_role? :admin, :manager %>
        <li><%= link_to  "Admin", monitoring_path,:target=>"_blank"   %></li>
        <% end %>
        <li><%= link_to t('back_office.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
        <li><%= link_to t('app.sign_in'),new_user_session_path%></li>
        <li><%= link_to t('app.sign_up'),new_user_registration_path%></li>
        <% end %>
        <li class="dropdown pr0">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.locale.to_s.upcase %> <b class="caret"></b></a>
          <ul class="dropdown-menu pt0 pb0 a-left dropdown-menu-right">
            <li><%= link_to root_path(:locale =>'fr') do %>Français<% end %></li>
            <li><%= link_to root_path(:locale =>'en') do %>English<% end %></li>
            <li><%= link_to root_path(:locale =>'es') do %>Espagnol<% end %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
