<% @canonical_for_layout = blog_show_url(@post,:protocol => ENV['PROTOCOL']) %>
<% @title_for_layout = @post.title.html_safe %>
<% @description_for_layout = @post.summary.html_safe %>
<% @image_for_share_url =  @post.cover.url(:large) if @post.cover.present?  %>
<% @open_graph_type ='article' %>

<%= render 'layouts/partials/generic_meta' %>



<%= render  "pages/header" %>

<section id="supportHeader">
  <div class="container center pt50 pb50 mb20">
    <h1 class="mt50 mb50"><%= @post.title %></h1>
  </div>
</section>
<div class="container">
  <ol class="breadcrumb">
    <li> <%= link_to  @my_provider.name, root_path %></li>
    <li> <%= link_to blog_path do %>Blog<% end %></li>
    <li class="active"><%= @post.title %></li>
  </ol>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="well well-sm">
      <%= image_tag(@post.cover.url(:large),:class=>'img-responsive img-thumbnail') %>
      <div class="fs12 mt5"> <%= I18n.localize @post.created_at.to_time,:format =>("%d %b %Y") %></div>

        <div class="pl20 pr20"><%=  markdown(@post.content,true) %></div>
      </div>
    </div>
  </div>
</div>


<%= render  "pages/footer" %>

