<% @title_for_layout = t('app.metas.blog.title').html_safe %>
<% @description_for_layout = t('app.metas.blog.description').html_safe %>
<% @canonical_for_layout = blog_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>


<%= render  'pages/header'  %>


<section id="supportHeader">
  <div class="container center pt50 pb50 mb20">
    <h1 class="mt50 mb50"><%= t('.title') %></h1>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><%= @my_provider.name %><% end %></li>
    <li class="active">Blog</li>
  </ol>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <% @posts.each do |p| %>
      <div class="blogBlock mt40 mb40 clearfix">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <%= link_to blog_show_path(p) do %>
            <%= image_tag(p.cover.url(:large),:class=>'img-responsive') %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="pl10 pb10 pr10 pt8">
              <h2><%= link_to blog_show_path(p),:title=>p.title,:class=>'fw100' do %><%= p.title %><% end %></h2>
              <span class="fs12 mt5"> <%= I18n.localize p.created_at.to_time,:format =>("%d %b %Y") %> | </span>
              <div itemprop="description" class="home_description mt10 pt8 mb5"><%= p.summary %></div>
              <%= link_to blog_show_path(p),:class=>"btn #{custom_button_class}" do %> <%= t('app.read_more') %> <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render  'pages/footer'  %>
