<% @title_for_layout = "Contact" %>
<% @canonical_for_layout = contact_url(:protocol => ENV['PROTOCOL']) %>
<% @description_for_layout = " Nous contacter, retrouvez ici toutes les informations pour rentrer en contact avec #{@my_provider.name}" %>
<%= render 'layouts/partials/generic_meta' %>

<%= render  "pages/header" %>


<div class="container pt50">
  <div class="row mt15">
    <div class="col-xs-12 col-md-7">
      <div class="well" id="wellContact">
        <div id="messageSuccess" class="alert alert-success hide"><%= t('.tank_you').html_safe %></div>
        <%= simple_form_for(Contact.new,:url=>create_contact_path,:remote =>true,:defaults =>{:input_html => {:class => 'form-control'}}) do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :first_name %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :email %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :phone %>
          </div>
        </div>
        <%= f.input :message,:input_html=>{:class=>'form-control textarea-noresize',:rows=>6} %>
        <%= button_tag :class=>"btn #{custom_button_class}   btn-xl btn-block" do %><i class="fa fa-pencil-square-o fa-2x"></i><% end %>
        <% end %>
      </div>
    </div>
    <div class="hidden-xs col-md-5">
      <div class="well well-sm">
        <address>
          <strong><%= @my_provider.name %></strong><br/>

          <% if @my_provider.provider_id != "kangalou" %>
          460 rue Sainte Catherine <br>
          H3B 1A7 Montréal, Qc<br>
          Tél : <%= @my_provider.phone %><br>
          <% end %>


          Email : <%= link_to "#{@my_provider.email}", "mailto:#{@my_provider.email}" %></a>
        </address>
      </div>
    </div>
  </div>
</div>


<%= render  "pages/footer" %>

