<% @title_for_layout = t("#{@my_provider.provider_id}.metas.home.title").html_safe %>
<% @description_for_layout = t("#{@my_provider.provider_id}.metas.home.description").html_safe %>
<% @canonical_for_layout = root_url %>
<%= render 'layouts/partials/generic_meta' %>


<div id="videoHeroContainer" class="relative bg-cover">
  <%= render 'pages/header' %>
  <div class="coverContent center">
    <section class="contentTable">
      <section class="headerText">
        <section class="hidden-xs">
          <h1 class="color-white fs40 bold"><%= t("#{@my_provider.provider_id}.baseline").html_safe %></h1>
          <div class="h2 color-white"><%= t("#{@my_provider.provider_id}.baseline_2") %></div>
        </section>
        <%= link_to user_signed_in? ? t('app.dashboard') : t('app.sign_up') , user_signed_in? ? dashboard_path(current_user.username) : new_user_registration_path , :class=>"btn #{custom_button_class_secondary} btn-lg bold mt10" %>
      </section>
    </section>
  </div>
</div>



<%= render 'pages/footer' if @my_provider[:provider_id] == "shareimmo" %>
