<% @title_for_layout = "Magex/Kangalou" %>
<%= render 'layouts/partials/generic_meta' %>


<div id="sync-kangalou-magex" class="relative" style="background-image:url(https://www.kangalou.com/images/slides/02-interieur-appartement.jpg);">
  <div class="filigrane absolute">
    <a href="https://s3.amazonaws.com/shareimmo/shared/documents/kangalou_magex_v1_fr.pdf" target="_blank" class="absolute absolute-top-right mt20 mr30 fs25 color-white"><i class="fa fa-info-circle mr10"></i> Voir guide</a>
    <div class="content container text-center color-white">
      <div class="animated fadeIn">
        <img src="https://www.kangalou.com/images/logo-kangalou.svg" alt="" class="logo img-responsive">
        <h1 class="mt50 bold color-white">Activer la liaison Magex - kangalou</h1>
        <h3 class="mt15 color-white"><%= params[:email] %></h3>
        <p class="dots mt80 mb80 animated fadeIn"><i class="fa fa-circle mr5"></i> <i class="fa fa-circle mr5"></i> <i class="fa fa-circle"></i></p>
      </div>


      <div id="contents">
        <div id="content1">
          <div id="texts" class="animated fadeIn">
          <h3 class="color-white">Avez-vous déjà un compte kangalou ?</h3>
          </div>

          <div class="mt60" id="choices">
            <div class="row">
              <div class="col-md-4">
                <div class="choice btn-choice animated fadeIn" id="no">
                  <p class="uppercase text-left">Non</p>
                  <a href="https://www.kangalou.com/fr/membre/creer-un-compte-proprietaire?&email=<%= params[:email] %>">Créer un compte <i class="fa fa-chevron-right ml5"></i></a>
                </div>
              </div>
              <div class="separator visible-xs visible-sm hidden-md hidden-lg">

              </div>
              <div class="col-md-3 col-md-offset-1">
                <div class="choice btn-choice animated fadeIn" id="yes-email">
                  <p class="uppercase text-left">Oui</p>
                  <a href="#"><%= params[:email] %> <i class="fa fa-check ml5"></i></a>
                </div>
              </div>
              <div class="col-md-1 choice uppercase bold animated fadeIn" id="or">
                ou
              </div>
              <div class="col-md-3">
                <div class="choice btn-choice animated fadeIn" id="yes-new">
                  <p class="uppercase text-left">Oui</p>
                  <a href="#" data-toggle="modal" data-target="#callUs">Avec une autre adresse <i class="fa fa-chevron-right ml5"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="content2">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 color-white steps">
              <div class="row step">
                <div class="col-md-2 num">
                  <span>1</span>
                </div>
                <div class="col-md-10 info">
                  Retourner dans Proprio Expert pour sélectionner les données à synchroniser avec votre compte Kangalou.
                </div>
              </div>
              <div class="row step">
                <div class="col-md-2 num">
                  <span>2</span>
                </div>
                <div class="col-md-10 info">
                  Une fois la synchronisation effectuée, vos propriétés seront visibles dans Kangalou en 2 heures.
                </div>
              </div>
              <div class="row step">
                <div class="col-md-12 info">
                  Si vous avez déjà effectué la synchronisation, <a class="color-white underline" href="https://www.kangalou.com/">connectez-vous ici</a> à votre compte Kangalou pour gérer vos annonces.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="content3">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 color-white steps">
              <div class="row step">
                <div class="col-md-12 info text-center">
                  Contactez <b>Magex Technologies</b> pour modifier votre courriel.
                  <h3 class="inline-block full-width mt10 color-white">(866) 886 2439</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
