User-agent: *

<% if ['1clic.immo','shareimmo.com','lvh.me','myimmopad.com','mykangalou.com','monkangalou.com','myzoomvisit.com'].include?(request.domain.to_s) %>
Sitemap: <%= "#{ENV["PROTOCOL"]}://#{request.domain}/sitemap.xml" %>
<% else %>
Disallow: /
<% end %>



