<% @title_for_layout =  @support.title %>
<%= render 'layouts/partials/generic_meta' %>

<%= render  "pages/header" %>
<section id="supportHeader">
  <div class="container center pt50 pb50 mb20">
    <h1 class="mt50 mb50"><%= @title_for_layout %></h1>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><%= @my_provider.name %><% end %></li>
    <li><%= link_to t('app.support'), support_path %></li>
    <li><%= link_to support_type_path(@support.support_type) do %><%= @support.support_type.name %><% end %></li>
    <li class="active"><%= @support.title %></li>
  </ol>
</div>


<div class="container">
  <strong><%= " #{t('app.updated_at')} #{I18n.localize @support.updated_at.to_time,:format =>("%d %B %Y")}" %></strong>
  <div class="well well-sm">
    <div class="pl20 pr20"><%=  markdown(@support.content,true) %></div>
  </div>
</div>

<%= render  "pages/footer" %>
