<% @title_for_layout = t('app.metas.support.title').html_safe %>
<% @description_for_layout = t('app.metas.support.description').html_safe %>
<% @canonical_for_layout = support_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>


<%= render  "pages/header" %>
<section id="supportHeader">
  <div class="container center pt50 pb50 mb20">
    <h1 class="mt50 mb50"><%= @title_for_layout %></h1>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><%= @my_provider.name %><% end %></li>
    <li class="active">Support</li>
  </ol>
</div>



<div class="container center">
  <ul class="list-unstyled a-left">
    <% @support_types.each do |s| %>
    <li class="mb20">
      <div class="well well-sm">
        <%= link_to support_type_path(s) do %>
        <h2><%= s.name %><i class="fa fa-2x ml10 <%= s.icon %>"></i></h2><% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>


<%= render  "pages/footer" %>
