<% @title_for_layout =  @support_type.name %>
<%= render 'layouts/partials/generic_meta' %>



<%= render  "pages/header" %>
<section id="supportHeader">
  <div class="container center pt50 pb50 mb20">
    <h1 class="mt50 mb50"><%= @title_for_layout %></h1>
  </div>
</section>


<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><%= @my_provider.name %><% end %></li>
    <li><%= link_to support_path do %><%= t('app.support') %><% end %></li>
    <li class="active"><%= @support_type.name %></li>
  </ol>
</div>


<div class="container">
<% @supports.each do |s| %>
  <%= link_to [s.support_type,s] do %>
  <div class="well well-sm">
    <h1><%= s.title %></h1>
    </div>
  <% end %>
<% end %>

</div>

<%= render  "pages/footer" %>
