<% @properties.in_groups_of(3,false) do |row_properties| %>
<div class="row">
  <% row_properties.each do |property| %>
  <div class="<%= "col-md-#{12/3}"%>">
    <div class="property--block mt10 mb10 relative">
      <div class="img-wrap relative">
        <%#= image_tag "back_office/ribbon_#{property[:property_listing][:id] == 1 ? "sold": "rent"}_#{I18n.locale}.png", :class=>"absolute absolute-top-right ribbon_sold_rent" if property[:property_flag][:id] == 5 %>
        <%= link_to broker_property_path(property[:id]), :target => (@mandate_website == 1 ? "_blank" : nil) do %>
        <%= image_tag property[:cover_url],:class=>'img-responsive' %>
        <% end %>
        <div class="meta--details a-right">
          <div class="block">
            <span class="bg-secondary pr4 pl3 color-white fs14"><%= property[:property_listing][:name] %></span>
          </div>
          <div class="price">
            <%= property[:price_formated] %>
          </div>
        </div>
      </div>
      <div class="content-wrap bg-white a-left pl10">
        <div class="title pt10  pr10">
          <%= link_to broker_property_path(property[:id]), :target => (@mandate_website == 1 ? "_blank" : nil) do %>
           <%= "#{property[:street_number]} #{property[:street_name]}" %>
          <% end %>
        </div>
        <ol class="breadcrumb pt0 pb0 pl0">
          <li class="active"><%= property[:locality] %></li>
          <li class="active"><%= property[:property_classification][:name] %></li>
        </ol>
        <div class="row uppercase">
          <ul class="col-xs-6 list-inline a-left">
            <% if (property[:area_living].present? and property[:area_unit].present?) %>
            <li><i class="flaticon-three1 mr3"></i><%= ("#{property[:area_living]} #{property[:area_unit][:symbol]}").html_safe %></li>
            <% end %>
          </ul>
          <ul class="col-xs-6 list-inline a-right">
            <% if property[:bedrooms].present? %>
            <li><i class="fa fa-bed mr3"></i><%= property[:bedrooms] %></li>
            <% end %>
            <% if property[:bathrooms].present? %>
            <li><i class="flaticon-shower5 mr3"></i><%= property[:bathrooms] %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
