body{
  padding-top:70px;
}

/************************************************************************
/* Remove Unregistred Licence from Froala
*************************************************************************/
div.fr-box{
  a[href^="https://froala.com/wysiwyg-editor"]{
    display: none !important;
  }
}
