<div><strong>Bonjour,</strong></div>
<br><br>
<div>Ci-dessous un rapport de votre recherche quotidienne</div>
<br/>
<div class="row">
<% @properties.each do |property| %>
	<div class="col-xs-4"><%= property.id %></div>
	<div class="col-xs-4"><%= property.name %></div>
	<div class="col-xs-4"><% link_to("link", root_path %></div>
	<br />
<% end %>
</div>