<div><strong>Bonjour,</strong></div>
<br><br>
<div>Ci-dessous un compte-rendu de l'import Prestige / Shareimmo + génération du flux</div>
<br/>
<div class="row">
	<%= "prestige:in_prestige #{@infos[:prestige_properties_total}" %>
</div>

<div class="row">
	<%= "prestige:in_prestige:deactivated #{@infos[:prestige_properties_by_status_0}" %>
</div>

<div class="row">
	<%= "prestige:in_prestige:activated #{@infos[:prestige_properties_by_status_1}" %>
</div>

<div class="row">
	<%= "prestige:in_shareimmo #{@infos[:prestige_in_shareimmo_properties}" %>
</div>

<div class="row">
	<%= "prestige:in_shareimmo:missing #{@infos[:properties_missing}" %>
</div>

<div class="row">
	<%= "prestige:in_shareimmo:deactivated #{@infos[:prestige_in_shareimmo_by_status_0}" %>
</div>

<div class="row">
	<%= "prestige:in_shareimmo:activated #{@infos[:prestige_in_shareimmo_by_status_1}" %>
</div>

<div class="row">
	<%= "prestige:in_xml #{@infos[:properties_in_xml}" %>
</div>
