<div><strong>Bonjour <%= @user.username %>,</strong></div>
<br><br>
<% if @property.auto_renewal == 0 %>
<div>Attention, la visibilité pour votre propriété <strong><%= "'#{@property.id} - #{@property.title}'" %></strong> arrive à échéance dans moins de 48 heures.</div>
<div>Si vous souhaitez reconduire la visibilité, rendez-vous dans votre <%= link_to "tableau de bord", dashboard_url(@user.username,:locale=>I18n.locale) %>.</div>
<br>
<div><strong>Astuce</strong> : Vous pouvez activer le renouvellement automatique pour chacune de vos annonces!</div>
<% else %>
<div>Soyez tranquille, vous êtes en renouvellement automatique et la visiblité de l'annonce <strong><%= "'##{@property.id} - #{@property.title}'" %></strong> sera automatiquement reconduite, dans moins de 48h, selon les options sélectionnées.</div>
<br>
<div><strong>Attention</strong> : Assurez-vous que  le nombre de jetons soit suffisant pour permettre ce renouvellement.</div>
<% end %>
