<div><strong>Bonjour <%= @user.username %>,</strong></div>
<br><br>
<div>Oups, nous n’avons pas réussi à renouveler la visibilité de votre annonce <strong><%= "'##{@property.id} - #{@property.title}'" %></strong> car il n’y avait pas assez de jetons dans votre compte.</div>
<br/>
<div>Pour réactiver la visibilité de votre annonce, rechargez votre cagnotte <%= link_to "ici", dashboard_refill_url(@user.username,:locale=>I18n.locale) %> et choisissez la visibilité souhaitée sur votre annonce.</div>
