<%  if @iframe_url.present? %>
<iframe  width="100%;" height="600px" src="<%= @iframe_url %>"></iframe>
<script type="text/javascript">
$(document).ready(function (){$("iframe").css("height",$(window).height()-5)});
</script>
<% else %>
  <div class="container center">
    <div class="h1 mt30">Diffusion internationale en cours de création</div>
  </div>
<% end %>



