<div id="twitterStep1">
  <div class="modal-content">
    <%= simple_form_for @twitter_post, :url=> twitter_step2_path, :remote => true do |f|  %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
      <h4 class="modal-title" id="myModalLabel">Twitter</h4>
    </div>



    <div class="modal-body">
      <% if @response.present? %>
      <% if @response["pictures"].present? %>
      <%# Pictures & filters %>
      <section>
        <div class="h5 mb10"><%= t('twitter.step1')  %> (<span id="twitterpictureLimit" class="bg-white">1</span> <%= t('twitter.pictures_selected') %>)</div>
        <ul class="list-inline center">
          <% @response["pictures"].each_with_index do |picture,x| %>
          <%= content_tag(:li,:style=>"width:150px;",:data =>{:url =>picture["medium"]},:class=>"pAll5 image-ad mb5 #{'bg-twitter' if x == 0}") do  %>
          <%= image_tag picture["medium"], :class=>"img-responsive pointer" %>
          <% end %>
          <% end %>
        </ul>
        <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} %>
        <%= f.input :picture_url1, as: :hidden, :input_html => {:value => @response["pictures"][0]["medium"] } %>
        <%= f.input :picture_url2, as: :hidden %>
        <%= f.input :picture_url3, as: :hidden %>
        <%= f.input :picture_url4, as: :hidden %>
      </section>
      <p><%= t('twitter.choose_pictures') %></p>
      <% end %>
      <%# Texts %>
      <hr class="mt20 mb20">
      <div class="h5 mb10"><%= t('twitter.step2') %></div>
      <div class="row">
        <div class="col-xs-6">
          <% caption = "#{@response["listing"]['fr']} - #{@response["financial"]["price_formated"]} #{@response["address"]["locality"].present? ? "- #{@response["address"]["locality"]}" : nil }"%>
        </div>
        <div class="col-xs-12">
          <%= f.input :tweet, :input_html => {:class=>"textarea-noresize",:rows =>4, :value => caption, :id=>"my_tweet"}%>
          <p><span id="tweetLimit" class="bg-white"></span> <%= t('twitter.remaining_characters') %></p>
        </div>
      </div>
      <% end %>
      <div class="alert alert-danger" style="display:none;"></div>
    </div>




    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.close') %></button>
      <%= f.submit t('app.post'), :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>

</div>