<%= render 'back_office/partials/layout_store' do  %>

<table class="table table-condensed table-bordered table-striped sortable">
  <thead>
    <tr>
      <td>#</td>
      <td>Commandes</td>
      <td>Prix Total</td>
      <td>Date</td>
      <td><%= t("app.shipping_address") %></td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>

    <% @bills.each do |bill| %>
    <tr>
      <td sorttable_customkey="<%= bill.number %>">
        <%= bill.number %>
      </td>
      <td sorttable_customkey="<%= bill.id %>">

        <% bill.items_data.group_by{|item| item["mode"]}.each do |mode, grouped_items| %>
        <div class="mt5">
          <% grouped_items.each do |item| %>

          <ul>
            <li>
              <%= item["product_name"] %>
              <p class="h5 fs12 color-dark-grey mt3 mb0 normal"><%= item["pricing_name"].present? ? item["pricing_name"] : nil %></p>
              <% if false #item.extras_data.present? TODO %>
              <div class="options inline-block mr6">
                <i class="fa fa-question-circle inline-block"></i>
                <div class="option-dropdown">
                  <ul class="list-unstyled mb0">
                    <li class="color-white fs12 no-wrap bold"><%= t('app.options') %> :</li>
                    <hr class="mt3 mb5 bg-white">
                    <% item.extras_data.each do |extra| %>
                    <li class="color-white fs12 no-wrap"><%= "- #{extra['name']}" %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
              <span class="fs12 color-grey mr10 inline-block"><%= t('cart.quantities', :count => item["quantity"]).downcase %></span>
            </li>
          </ul>

          <% end %>
        </div>
        <% end %>

      </td>

      <td sorttable_customkey="<%= bill.total_price_cents %>">
        <%= humanized_money_with_symbol bill.total_price %>
      </td>
      <td sorttable_customkey="<%= bill.date %>">
        <%= bill.date.strftime("%d/%m/%Y %H:%M") %>
      </td>
      <td sorttable_customkey="<%= bill.shipping_address_country %>">
        <% if bill.shippable %>
        <%= "#{bill.shipping_address_first_name} #{bill.shipping_address_last_name}" %><br>
        <%= "#{bill.shipping_address_address1} #{bill.shipping_address_address2}" %><br>
        <%= "#{bill.shipping_address_zipcode}, #{bill.shipping_address_city}" %><br>
        <%= "#{ISO3166::Country[bill.shipping_address_country]}" %><br>
        <% else %>
        <%= t("back_office.orders.nothing_to_ship") %>
        <% end %>
      </td>
      <td sorttable_customkey="<%= bill.shippable && !bill.has_been_shipped %>">
        <% if bill.has_been_shipped && bill.shippable %>
        <p class="mb15"><i class="fa fa-check-square-o" aria-hidden="true"></i> <%= t("app.sent") %></p>
        <% elsif bill.shippable %>
        <%= link_to t("app.send"), back_office_bills_send_path(:id => bill.id), :class => "btn btn-sm btn-custom-primary mt10" %>
        <% end %>
        <%= link_to t("billing.see_bill"), dashboard_redirect_to_bill_path(:id => bill.id), :target => "_blank", :class => "btn btn-sm btn-custom-secondary mt10" %>
        <%= link_to t("billing.regenerate_bill"), dashboard_regenerate_bill_path(:id => bill.id), :target => "_blank", :class => "btn btn-sm btn-custom-secondary mt10" %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<% end %>