
<%= render 'back_office/partials/layout_store' do  %>

<div class="center a-right">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#productCategoryModal"><%= t('back_office.categories.add_category') %></button>
</div>

<div id="categoriesList" class="panel-group mt20" role="tablist" data-sort_url="<%= back_office_categories_sort_path(@store) %>">
  <% @categories.each do |category| %>
  <div class="panel panel-default" data-id=<%= category.id %>>
    <div class="panel-heading" role="tab" id="heading_<%= category.id %>">
      <div class="pull-right">
        <a href="#" data-toggle="modal" class="color-link" data-target="#productCategoryModal_<%= category.id %>"><%=  t('app.edit') %></a> |
        <%= link_to t('app.delete'),back_office_categories_delete_path(@store,category),:class=>"color-link",:method =>:delete,:data=>{:confirm =>t('app.are_you_sure')} %> |
        <a href="#" data-toggle="modal" class="color-link" data-target="#productSubcategoryModalCreate_<%= category.id %>"><%=  t('back_office.categories.add_subcategory') %></a>
      </div>
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= category.id %>" aria-controls="collapse_<%= category.id %>">
          <%= "#{category.name}" %>
        </a>
      </h4>
    </div>
    <div class="panel-body" role="tabpanel" id="collapse_<%= category.id %>" aria-labelledby="heading_<%= category.id %>">
      <ul>
        <% category.subcategories.order('name').each do |subcategory| %>
        <li>
          <%= "#{subcategory.name}" %>
          <a class="ml20 color-link" href="#" data-toggle="modal" data-target="#productSubcategoryModal_<%= subcategory.id %>"><%=  t('app.edit') %></a> |
          <%= link_to t('app.delete'),back_office_subcategories_delete_path(@store,subcategory),:class=>"color-link",:method =>:delete,:data=>{:confirm =>t('app.are_you_sure')} %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>


<%##============================================================##
## Add modals
##============================================================##%>
<div class="modal fade" id="productCategoryModal" tabindex="-1" role="dialog" aria-labelledby="productCategoryModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for Category.new, :url => back_office_categories_create_path(@store) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @store.languages.each do |lang| %>
          <div class="col-xs-6">
            <%= f.input "name_#{lang}".to_sym %>
          </div>
          <% end %>
            <%= f.input :store_id, :input_html =>{:value => @store.id}, :as => :hidden %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% @categories.each do |category| %>
<div class="modal fade" id="productSubcategoryModalCreate_<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="productSubcategoryModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for Subcategory.new, :url => back_office_subcategories_create_path(@store) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel">Add Subcategory</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @store.languages.each do |lang| %>
          <div class="col-xs-6">
            <%= f.input "name_#{lang}".to_sym %>
          </div>
          <% end %>
            <%= f.input :category_id, :input_html => {:value=> category.id}, :as => :hidden %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>


<%##============================================================##
## Edit modals
##============================================================##%>

<% @categories.each do |category| %>
<div class="modal fade" id="productCategoryModal_<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="productCategoryModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for category, :url => back_office_categories_update_path(@store,category) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel">Edit Category</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @store.languages.each do |lang| %>
          <div class="col-xs-6">
            <%= f.input "name_#{lang}".to_sym %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% category.subcategories.each do |subcategory| %>
<div class="modal fade" id="productSubcategoryModal_<%= subcategory.id %>" tabindex="-1" role="dialog" aria-labelledby="productSubcategoryModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for subcategory, :url => back_office_subcategories_update_path(@store,subcategory) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel">Edit Subcategory</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @store.languages.each do |lang| %>
          <div class="col-xs-6">
            <%= f.input "name_#{lang}".to_sym %>
          </div>
          <% end %>
          <div class="col-xs-12">
            <%= f.association :category, :include_blank => false %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
<% end %>


