<%= render 'back_office/partials/layout_store' do  %>
<div class="a-right mb10">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#modal_add_cu"><%= t("back_office.checkout_unit.index.add") %></button>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @checkout_units.each do |cu| %>
    <tr>
      <td>
        <ul class="list-unstyled">
          <% @store.languages.each do |lang| %>
          <li><%= "#{lang} : #{Globalize.with_locale(lang){cu.name}}" %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul class="list-inline">
          <li><a data-toggle="modal" class="color-link" data-target="#modal_edit_cu_<%= cu.id %>" href="#"><%= t("back_office.checkout_unit.index.edit") %></a></li>
          <li><%= link_to t('app.delete'), back_office_checkout_units_delete_path(@store,cu),:class=>"color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>




<div id="modal_add_cu" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Checkout Unit</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for CheckoutUnit.new, :url => back_office_checkout_units_update_path(@store), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
        <%= f.input :store_id, :input_html =>{:value => @store.id}, :as => :hidden %>
        <% @store.languages.each do |lang| %>
        <%= f.input "name_#{lang}".to_sym %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @checkout_units.each do |cu| %>
<div id="modal_edit_cu_<%= cu.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Checkout Unit</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for cu, :url => back_office_checkout_units_update_path(@store,cu.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
        <%= f.input :store_id, :input_html =>{:value => @store.id}, :as => :hidden %>
        <% @store.languages.each do |lang| %>
        <%= f.input "name_#{lang}".to_sym %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<% end %>
