<%= render 'back_office/partials/layout_store' do  %>
<div class="a-right mt10">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#modal_add_cie"><%= t("app.add") %></button>
</div>



<table class="table table-condensed table-bordered table-striped sortable">
  <thead>
    <tr>
      <td>Name</td>
      <td>Products Count</td>
      <td>Link</td>
      <td>Suppliers</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |cie| %>
    <tr>
      <td>
        <div><%= cie.name %></div>
      </td>
      <td><%= cie.products.count %></td>
      <td>
        <div>apiKey : <%= cie.api_key %></div>
        <div>apiToken : <%= cie.api_token %></div>
      </td>
      <td>
        <ul class="list-unstyled">
          <% cie.users.each do |u| %>
          <li>
            <%= u.email %>
          </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul class="list-inline">
          <li><a data-toggle="modal" class="color-link" data-target="#modal_edit_cie_<%= cie.id %>" href="#"><%= t("app.edit") %></a></li>
          <li><%= link_to t('app.delete'), back_office_companies_delete_path(:id => cie, :store_id => @store.id), :class=>"color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



<div id="modal_add_cie" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Company</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for Company.new, :url => back_office_companies_update_path(:store_id => @store.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
        <%= f.input :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @companies.each do |cie| %>
<div id="modal_edit_cie_<%= cie.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Company</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for cie, :url => back_office_companies_update_path(:id => cie.id, :store_id => @store.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
        <%= f.input :name %>
        <%= f.input :regenerate, :label => "Régénérer les clés API ?", :collection => [["Non", 2], ["Oui", 1]], :include_blank => false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<% end %>
