<%= render :layout => 'back_office/partials/layout_store' do %>

<div class="a-right mb10">
  <%= link_to t("back_office.product.pricing.add_extra"), back_office_extras_new_path(@store,@pricing.product_id,@pricing.id), :remote => true, :class => "btn btn-sm btn-custom-secondary" %>
</div>


<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Prix</th>
    <th>Prix annuel</th>
    <th>Action</th>
  </thead>
  <tbody id="extrasTable">
    <%= render "back_office/partials/extras"  %>
  </tbody>
</table>
<% end %>


<div class="modal fade" id="extraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>
