<%= render 'back_office/partials/layout_store' do  %>



<% if @pricing.is_a_checkout? %>
<div class="a-right mb10">
  <%= link_to t("app.add"), back_office_pricing_checkouts_new_path(@store,@pricing.product_id,@pricing.id), :remote => true, :class => "btn btn btn-custom-secondary" %>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th>Min-Max</th>
    <th>Price</th>
    <th>Action</th>
  </thead>
  <tbody id="pricingCheckoutTable">
    <%= render 'back_office/partials/pricing_checkouts' %>
  </tbody>
</table>

<div class="well well-sm">
  <p>Explications: </p>
  <p>- "min-max" represents the min and max quantites where this pricing is applyable.</p>
  <p>- "price" represents the price for this range of quantity.</p>
  <br>
  <p>You have several possibilities:</p>
  <p>- To allow the user to select the quantity, with the price growing proportionnaly, just leave the max blank (you must have selected the "quantity editable" checkbox previously). </p>
  <p>- To allow the user to select the quantity but create "ranges" of prices, you can set different min-max ranges with corresponding prices (you also must have selected the "quantity editable" and the "display range price" checkboxes previously) </p>
  <p>- To do the same but showing the unit price, you must also have selected the "display unit price" checkbox previously. </p>
  <p>- To allow the customer to select only packs with a fixed quantity, create your ranges (only the max value will be taken into account). You must NOT have selected the "quantity editable" checkbox.</p>
</div>

<% end %>



<% if @pricing.is_a_plan? %>
<span class="mr10 h3">Plan</span>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th>Month</th>
    <th>Year</th>
    <th>Action</th>
  </thead>
  <tbody id="pricingPlanTable">
    <%= render 'back_office/partials/pricing_plan' %>
  </tbody>
</table>

<div class="well well-sm">
  <p>Explications: </p>
  <p>- "Month" represents the monthly price of your plan.</p>
  <p>- "Year" represents the yearly price of your plan.</p>
  <p>If you leave a value blank, it means you have no plan for this type. For example, if you leave "month" blank, the customer will only be able to choose the year plan.</p>
</div>
<% end %>
<% end %>



<div class="modal fade" id="pricingCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>


<div class="modal fade" id="pricingPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>
