<%= render 'back_office/partials/layout_store' do  %>

<div class="a-right mb10">
  <%= link_to ('<i class="fa fa-plus" aria-hidden="true"></i> '+t("back_office.product.pricing.add_pricing_checkout")).html_safe, back_office_pricings_new_path(@store, :product_id => @product.id, :type => "checkout"), :class => "btn btn-sm btn-custom-secondary" %>
  <%= link_to ('<i class="fa fa-plus" aria-hidden="true"></i> '+t("back_office.product.pricing.add_pricing_plan")).html_safe, back_office_pricings_new_path(@store, :product_id => @product.id, :type => "plan"), :class => "btn btn-sm btn-custom-secondary" %>
</div>

<table class="table table-condensed table-bordered mt15 table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td style="width:100px;">Type</td>
      <td style="width:100px;">Primary Price</td>

      <td>Actions</td>
    </tr>
  </thead>
  <tbody id="pricings-table" data-sort_url="<%= back_office_pricings_sort_path %>">
    <% @pricings.each do |pricing| %>
    <tr class="item" data-id="<%= pricing.id %>">
      <td><%= pricing.name.present? ? pricing.name : "#{t('app.pricing')} ##{pricing.id}" %></td>
      <td><%= pricing.is_a_checkout? ? "Checkout" : 'Plan' %></td>
      <td class="center"><%= pricing.price_to_home ? "<i class='fa fa-times'>".html_safe : nil %></td>

      <td>
        <ul class="list-inline">
          <li><%= link_to t("app.edit"), back_office_pricings_edit_path(@store,pricing.product_id,pricing), :class => "color-link" %></li>
          <li><%= link_to t("app.duplicate"), back_office_pricings_duplicate_path(@store,pricing.product_id,pricing), :class => "color-link duplicate_link" %></li>
          <li><%= link_to t('app.delete'), back_office_pricings_delete_path(@store,pricing.product_id,pricing), :class => "color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>