<%= render :layout => 'back_office/partials/layout_store' do %>

<div class="well">
  <%= simple_form_for @pricing, :url => back_office_pricings_update_path(@store,@pricing.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>

  <div class="row">
    <div class="col-sm-6 mt25">
      <%= f.input :shippable, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_shippable") %>
      <%= f.input :price_from, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_price_from") %>
      <%= f.input :price_to_home, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_price_to_home") %>
      <%= f.input :is_publipostage, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => "Seulement pour Remax" %>
      <%= f.input :is_ready, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => "Api is Ready?" %>
    </div>
    <div class="col-sm-6 mt25">
      <% if @pricing.is_a_checkout? %>
      <%= f.input :quantity_editable, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_quantity_editable") %>
      <%= f.input :display_range_price, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_display_range_price") %>
      <%= f.input :display_unit_price, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_display_unit_price") %>
      <%= f.input :rechargeable, :as => :boolean, :input_html => {:style=>"height:13px;"}, :hint => t("back_office.product.pricing.hint_rechargeable") %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.input :quantity, :label => "Nombre de jetons" %>
    </div>
    <div class="col-sm-3">
      <%= f.input :weight %>
    </div>
    <div class="col-sm-3">
      <%= f.input :sku, wrapper: :append_prepend do %>
      <%= f.input_field :sku, :class=>"form-control input-lg" %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= (f.input :checkout_unit_id,:collection => CheckoutUnit.where(:store_id => @store.id) , :include_blank => false)  if @pricing.is_a_checkout? %>
    </div>
  </div>

</div>

<div class="well">

  <ul class="nav nav-tabs" role="tablist">
    <% @store.languages.each_with_index do |lang,index| %>
    <li role="presentation" class="<%= index == 0 ? "active" : nil %>"><a href="#<%= "tab_#{index}" %>" aria-controls="<%= "tab_#{index}" %>" role="tab" data-toggle="tab"><%= lang %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @store.languages.each_with_index do |lang,index| %>
    <div role="tabpanel" class="tab-pane <%= index == 0 ? "active" : nil %>" id="<%= "tab_#{index}" %>">
      <%= f.input "name_#{lang}" %>
      <%= f.input "description_#{lang}".to_sym,:as=>:text, :input_html => {:class=>"textarea-noresize",:rows=>5} %>
      <%= f.input "warning_#{lang}".to_sym %>
    </div>
    <% end %>
  </div>



</div>
<%= f.submit :class => 'btn btn-custom-secondary btn-block center-block', :value => t('app.save') %>
<% end %>

<% end %>
