<%= render 'back_office/partials/layout_store' do  %>


<div class="row">
  <div class="col-xs-6">
    <div class="h4"><%= "#{@products.count} products" %></div>
  </div>
  <div class="col-xs-6 a-right">
    <%= link_to t('back_office.product.add_product'), back_office_products_new_path, :class=>"btn btn-sm btn-custom-secondary" %>
    <%= link_to t('back_office.product.add_myprint'), back_office_products_new_path(:type => "myprint"), :class=>"btn btn-sm btn-custom-secondary" %>
  </div>
</div>


<table class="table table-condensed table-bordered table-striped sortable mt10">
  <thead>
    <tr>
      <th style="width:50px"></th>
      <th>Name</th>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to back_office_products_edit_path(@store,product.id) do %>
        <%= image_tag product.logo.url(:small) %>
        <% end %>
      </td>
      <td>
        <div><%= link_to product.name, back_office_products_edit_path(@store,product.id), :class => "ellipsis" %></div>
        <div><%= link_to product.baseline, back_office_products_edit_path(@store,product.id), :class => "ellipsis" %></div>
      </td>
      <td><%= product.company.present? ? product.company.name : nil  %></td>
      <td>
        <ul class="list-inline">
          <li><%= link_to t("app.edit"), back_office_products_edit_path(@store,product.id), :class => "color-link" %></li>
          <li><%= link_to t('app.delete'), back_office_products_delete_path(@store,product.id), :class =>"color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
          <li>
            <div class="btn-group">
              <a href="#" class="color-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t("app.duplicate") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <%Store.all.order(:position).each do |store| %>
                <li><%= link_to store.name, back_office_products_duplicate_path(@store,product.id, :new_store_id => store.id), :class => "duplicate_link" %></li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
