<%= render 'back_office/partials/layout_store' do  %>

<%= simple_form_for @product, :url => back_office_products_update_path(@store,@product.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>


<div class="alert alert-danger">
  <strong>Administrateur</strong><br>
  <%= f.input :oauth_link %>
  <%= f.input :sku %>
</div>



<div class="well">
  <%= f.input :draft, :input_html => {:value =>0}, :as=> :hidden %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.input :subcategory_id, collection: Category.where(:store_id => @store.id).order('name'), as: :grouped_select, group_method: :subcategories, :include_blank => false %>
    </div>
    <div class="col-xs-4">
      <%= f.input :company_id, :collection => Company.where(:store_id => @store.id).order(:name), :include_blank => false %>
    </div>
    <div class="col-xs-4">
      <%= f.input :is_favorite,:collection => {"Non" => 0 ,"Oui" => 1}, :include_blank => false %>
    </div>
  </div>
  <div class="row mt10">
    <div class="col-xs-4">
      <div>Logo</div>
      <%= f.input_field :logo %>
      <%= image_tag @product.logo(:large), :class => "img-responsive img-thumbnail" %>
    </div>
    <div class="col-xs-4">
      <div>Logo App</div>
      <%= f.input_field :logo_app %>
      <%= image_tag @product.logo_app(:large), :class => "img-responsive img-thumbnail" %>
    </div>
    <div class="col-xs-4">
      <div>Cover</div>
      <%= f.input_field :cover %>
      <%= image_tag @product.cover(:large), :class => "img-responsive img-thumbnail" %>
    </div>
  </div>
  <%= f.input :video_url %>
  <div class="row mt10">
    <div class="col-md-6">
      <%= f.association :left_associations, :label => t("back_office.product.linked_products"), :collection => Product.where(:store => @store) - [@product], :include_blank => false, :input_html => {:class => "chosen-select"}, :selected => @product.associations.pluck(:id) %>
    </div>
    <div class="col-md-6">
      <% if @product.is_printable %>
      <%= f.input :print_template_id, :label => "MyPrint Template", :collection => @templates.map{|t| [t["name"], t["id"]]}, :include_blank => false, :selected => @product.print_template_id %>
      <% end %>
    </div>
  </div>
  <%# Tabs %>
  <ul class="nav nav-tabs" role="tablist">
    <% @store.languages.each_with_index do |lang,index| %>
    <li role="presentation" class="<%= index == 0 ? "active" : nil %>"><a href="#<%= "tab_#{index}" %>" aria-controls="<%= "tab_#{index}" %>" role="tab" data-toggle="tab"><%= lang %></a></li>
    <% end %>
  </ul>
  <%# Tabs Content %>
  <div class="tab-content">
    <% @store.languages.each_with_index do |lang,index| %>
    <div role="tabpanel" class="tab-pane <%= index == 0 ? "active" : nil %>" id="<%= "tab_#{index}" %>">
      <%= f.input "name_#{lang}" %>
      <%= f.input "baseline_#{lang}".to_sym %>
      <%= f.input "summary_#{lang}".to_sym,:as=>:text, :input_html => {:class=>"textarea-noresize",:rows=>5} %>
      <%= f.input "description_#{lang}".to_sym,:as => :text, :input_html=>{:class=>"froala"}%>
    </div>
    <% end %>
  </div>

  <%= f.submit t('app.save'),:class => 'btn btn-custom-secondary btn-lg btn-block' %>
  <% end %>

</div>



<%# Product Assets %>
<label>Pictures</label>
<div id="upload_progess_bar"></div>
<div id="dropzone" class="well well-sm">
  <div class="h4 center"><%= t('back_office.drop_here') %></div>
  <p class="pointer mt20 center" id="input_file_button"><%= t('back_office.product.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
</div>

<ul id="uploaded_pictures" class="list-inline row" data-sort_url="<%= back_office_product_asset_sort_path(@store,@product) %>">
  <% @product.product_assets.each do |asset| %>
  <%= render :partial => "back_office/partials/product_asset", locals: {product_asset: asset} %>
  <% end %>
</ul>



<%# product assets form %>
<%= simple_form_for ProductAsset.new, :url => back_office_product_asset_create_path, :remote => true, :html =>{:multipart => true,:class=>""} do |ff| %>
<%= ff.input :product_id, :input_html=>{:value=>@product.id},:as =>"hidden" %>
<%= ff.input :image,:label => false, :input_html => { :multiple => true,:name => 'product_asset[image]',:class=>"hide", :id=>"input-file" } %>
<% end %>



<% end %>


<%= javascript_tag do %>
nothing_found = "<%= I18n.t("app.nothing_found") %>"
window.froala_init = true;
window.picture_module = true;
window.froala_upload_url = "<%= wysiwyg_picture_manager_path(:id => @product.id, :asset_type =>"product") %>";
window.frola_delete_url = "<%= wysiwyg_picture_delete_path(:id => @product.id) %>";
<% end %>
