<% if @product.errors.any? %>
swal("Failed to upload picture: <%= j @product.errors.full_messages.join(', ').html_safe %>");
<% else %>
$('#uploaded_logo').html('<%= image_tag @product.logo(:large), :class => "img-responsive img-thumbnail" %>')
$('#uploaded_cover').html('<%= image_tag @product.cover(:large), :class => "img-responsive img-thumbnail" %>')
<% end %>
