<%= render :layout => 'back_office/partials/layout_store' do %>

<div class="a-right mb10">
  <%= link_to t("back_office.product.sale.add_sale"),back_office_sales_new_path(@store,@pricing.product_id,@pricing.id), :remote => true,:class=>"btn btn-sm btn-custom-secondary"  %>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Details</td>
      <td>Amount/Percentage</td>
      <td>Date</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody id="salesTable">
    <%= render 'back_office/partials/sales' %>
  </tbody>
</table>

<% end %>


<div id="modal_edit_sale" class="modal fade" tabindex="-1" role="dialog"></div>
