

<%= render 'back_office/partials/layout_store' do  %>

<div class="a-right mb15">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#modal_add_country_shipping_mode"><%= t("app.add") %></button>
</div>

<% @shippings_mode.each do |ship_mode| %>


<div class="h4">
  <%= ship_mode.name %>
  <button type="button" class="btn btn-sm btn-link color-link" data-toggle="modal" data-target="#modal_add_country_<%= ship_mode.id %>"><%= t("app.add") %></button>
  <%= link_to t('app.delete'), back_office_shippings_mode_delete_path(@store,ship_mode),:class=>"btn btn-sm btn-link color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Pays de livraison</td>
      <td>Poids Max</td>
      <td>Prix</td>
      <td>Actions</td>
    </tr>
  </thead>
  <% ship_mode.shippings.order("country_id, max_weight").each do |s| %>
  <tr>
    <td><%= s.country.name %></td>
    <td><%= Unit.new("#{s.max_weight} g")  %></td>
    <td><%= humanized_money_with_symbol(s.price) %> / kg</td>
    <td>
      <ul class="list-inline">
        <li><%= link_to t("app.edit"), back_office_shippings_edit_path(@store,s),:class=>"color-link", :remote => true %></li>
        <li><%= link_to t('app.delete'), back_office_shippings_delete_path(@store,s),:class=>"color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<% end %>





<div id="modal_add_country_shipping_mode" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Shipping Mode</h4>
      </div>
      <%= simple_form_for ShippingMode.new, :url => back_office_shippings_mode_create_path(@store), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
      <div class="modal-body">
        <div class="row">
            <% @store.languages.each do |lang| %>
            <div class="col-sm-12">
            <%= f.input "name_#{lang}".to_sym %>
            </div>
            <% end %>
            <%= f.input :store_id ,:input_html =>{:value => @store.id}, :as => :hidden %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<% @shippings_mode.each do |ship_mode| %>
<div id="modal_add_country_<%= ship_mode.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Shipping</h4>
      </div>
      <%= simple_form_for Shipping.new, :url => back_office_shippings_create_path(@store.id), :defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <%= f.input :shipping_mode_id ,:input_html =>{:value => ship_mode.id}, :as => :hidden %>
            <%= f.input :country_id, :collection => Country.all, :include_blank => false %>
          </div>
          <div class="col-sm-4">
            <%= f.input :max_weight, :wrapper => :append_prepend do %>
            <%= f.input_field :max_weight, :class=>"form-control input-lg",:value => 250 %>
            <span class="input-group-addon">g</span>
            <% end %>
          </div>
          <div class="col-sm-4">
            <%= f.input :price, :wrapper => :append_prepend do %>
            <%= f.input_field :price, :class=>"form-control input-lg" %>
            <span class="input-group-addon"><%= Money::Currency.find(@store.country.currency).symbol %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<div id="modal_edit_shipping" class="modal fade" tabindex="-1" role="dialog"></div>
