
<%= render 'back_office/partials/layout_store' do  %>

<div class="well">
  <%= simple_form_for @store, :url => back_office_stores_update_path(@store),:defaults => {:input_html => {:class=>"input-lg"}} do |f| %>

  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="h3 mb10">General</div>
        </div>
        <div class="col-xs-9">
          <%= f.input :name %>
        </div>
        <div class="col-xs-3">
          <%= f.input :country_id, :collection => Country.all, :include_blank => false %>
        </div>
      </div>
      <% @store.languages.each do |lang| %>
      <%= f.input "baseline_#{lang}".to_sym %>
      <% end %>

      <div class="row">
        <div class="col-sm-4">
          <%= f.input :allow_user_creation, :collection => {"Non"=> 0, "Oui" => 1}, :include_blank => false, :selected => @store.allow_user_creation %>
        </div>
        <div class="col-sm-4">
          <%= f.input :pay_without_connection, :collection => {"Non"=> 0, "Oui" => 1}, :include_blank => false, :selected => @store.pay_without_connection ? 1 : 0 %>
        </div>
        <div class="col-sm-4">
          <%= f.input :calculate_taxes_with_shipping, :collection => {"Non"=> 0, "Oui" => 1}, :include_blank => false, :selected => @store.calculate_taxes_with_shipping ? 1 : 0 %>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-12">
          <div class="h3 mb10">Mentions sur la facturation et contact</div>
          <%= f.input :address, :input_html => {:class=>"textarea-noresize",:rows=>5} %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
          <%= f.input :company_registration_number %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :contact_email %>
        </div>
        <div class="col-xs-6">
          <%= f.input :contact_phone %>
        </div>
      </div>
      <hr>
      <div class="alert alert-danger">
        <strong>Admin</strong><br>
        <%= f.input :slug %>
        <%= f.input :shareimmo_api_url %>
        <%= f.input :shareimmo_api_key %>
        <%= f.input :shareimmo_api_token %>
        <%= f.input :payment_api_type, :collection => [["stripe", "stripe"], ["paymill", "paymill"]], :include_blank => false %>
        <%= f.input :payment_api_key %>
        <%= f.input :payment_api_token %>
        <div class="row">
          <div class="col-xs-12">
            <div class="h3 mb10">Styles</div>
          </div>
          <div class="col-xs-6">
            <%= f.input :color1, :placeholder => "#fff" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :color2, :placeholder => "#fff" %>
          </div>
          <div class="col-xs-12">
            <%= f.input :theme, :input_html => {:class=>"textarea-noresize",:rows=>5} %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="center" >
        <%= image_tag @store.logo(:medium_transparent), :class=>"img-responsive",:style=>"background-color:#{@store.color2}" %>
        <%= f.input :logo,:label => false %>
      </div>
      <hr>
      <%= f.input :languages, :collection => I18n.available_locales, :input_html => { :multiple => true,:style=>"height:20px;" }, :as => :check_boxes,:include_hidden=>false %>
      <div><%= f.input :default_language, :collection => @store.languages, :include_blank => false %></div>
    </div>
  </div>

  <%= f.submit t('app.save'),:class => 'btn btn-custom-secondary btn-lg btn-block' %>
  <% end %>
</div>
<% end %>

