

<%= render 'back_office/partials/layout_store' do  %>

<div class="a-right mb15">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#my_tax_modal"><%= t('app.add') %></button>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Is A current Tax</td>
      <td>Name</td>
      <td>Tax1 Name</td>
      <td>Tax1 Value</td>
      <td>Tax2 Name</td>
      <td>Tax2 Value</td>
      <td>Delete</td>
    </tr>
  </thead>
  <% @taxes.each do |tax| %>
  <tr>
    <td><%= tax.id %></td>
    <td>
      <%= tax.is_current_tax == 1 ? "YES" : "NO" %>
      <%= link_to "Define as current tax",back_office_taxes_current_path(@store,tax.id),:class=>"color-link" if tax.is_current_tax != 1   %>
    </td>
    <td><%= tax.name %></td>
    <td><%= tax.tax1_name %></td>
    <td><%= tax.tax1_value %></td>
    <td><%= tax.tax2_name %></td>
    <td><%= tax.tax2_value %></td>
    <td>
      <ul class="list-inline">
        <li><a href="#" data-toggle="modal" class="color-link" data-target="#my_tax_modal_<%= tax.id %>"><%= t('app.edit') %></a></li>
        <li><%= link_to t('app.delete'),back_office_taxes_delete_path(@store,tax),:class=>"color-link",:method =>:delete,:data=>{:confirm =>t('app.are_you_sure')} %></li>
      </ul>
    </td>
  </tr>
  <% end %>
</table>





<%# Tax new %>
<div class="modal fade" id="my_tax_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for Tax.new, :url => back_office_taxes_new_path(@store) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Tax</h4>
      </div>
      <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :store_id, :input_html => {:value => @store.id}, :as => :hidden %>
        <div class="row">
          <div class="col-xs-4">
            <%= f.input :tax1_name %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax1_number %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax1_value %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <%= f.input :tax2_name %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax2_number %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax2_value %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%# Taxs %>
<% @taxes.each do |tax| %>
<div class="modal fade" id="my_tax_modal_<%= tax.id %>" tabindex="-1" role="dialog" aria-labelledby="my_tax_modal_<%= tax.id %>Label">
  <div class="modal-dialog" role="document">
    <%= simple_form_for tax, :url => back_office_taxes_update_path(@store,tax.id) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="my_tax_modal_<%= tax.id %>Label"><%= tax.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :name %>
        <div class="row">
          <div class="col-xs-4">
            <%= f.input :tax1_name %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax1_number %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax1_value %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <%= f.input :tax2_name %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax2_number %>
          </div>
          <div class="col-xs-4">
            <%= f.input :tax2_value %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<% end %>
