<% @title_for_layout = @brand = t('app.users') %>
<%= render 'layouts/generic_meta' %>

<div class="a-right mb10">
  <button type="button" class="btn btn-sm btn-custom-secondary" data-toggle="modal" data-target="#userModal"><%= t('app.add') %></button>
</div>


<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Email</td>
      <td>Cie</td>
      <td>Role</td>
      <td>Actions</td>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.company.present? ? "#{user.company.name} (#{user.company.store.name})" : nil %></td>
    <td>
      <ul class="list-unstyled">
        <% user.roles.each do |role| %>
        <li><%= role.name %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul class="list-inline">
        <li><a data-toggle="modal" class="color-link" data-target="#modal_edit_user_<%= user.id %>" href="#"><%= t("app.edit") %></a></li>
        <% unless user.id == current_user.id %>
        <li><%= link_to t('app.delete'),back_office_users_delete_path(user),:class=>"color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>


<div class="modal fade" id="userModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= simple_form_for User.new, :url => back_office_users_create_path ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
        <%= f.input :email, required: true %>
        <%= f.input :company_id, :collection => Company.all.map{|c| c.name = c.name + " (#{c.store.name})"}, :include_blank => false %>
        <%= f.association :roles, required: true, as: :check_boxes, :input_html => {:style => "height: 13px;"} %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% @users.each do |user| %>
<div class="modal fade" id="modal_edit_user_<%= user.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= simple_form_for user, :url => back_office_users_update_path(user.id) ,:defaults => {:input_html=>{:class=>"input-lg"}} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productCategoryModalLabel"><%= user.email %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :company_id, :collection => Company.all.map{|c| c.name = c.name + " (#{c.store.name})"}, :include_blank => false %>
        <%= f.association :roles, required: true, as: :check_boxes, :input_html => {:style => "height: 13px;"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("app.close") %></button>
        <%= f.submit :class => 'btn btn-custom-secondary', :value => t('app.save') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
