<%= render :layout => 'back_office/partials/layout_store' do %>

<div class="a-right mb10">
  <%= link_to t("back_office.product.pricing.add_variant"), back_office_variants_new_path(@store,@pricing.product_id,@pricing.id), :remote => true, :class => "btn btn-sm btn-custom-secondary" %>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Values</th>
    <th>Action</th>
  </thead>
  <tbody id="variantsTable" data-sort_url="<%= back_office_variants_sort_path %>">
    <%= render "back_office/partials/variants"  %>
  </tbody>
</table>

<div id="combinationsTable">
  <%= render "back_office/partials/combinations"  %>
</div>

<% end %>

<div class="modal fade" id="variantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>
