<%= render :layout => 'back_office/partials/layout_store' do %>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <td>Client</td>
      <td>Actions</td>
    </tr>
  </thead>

  <% @visibilities.each do |visibility| %>
  <tr>
    <td><%= visibility.client.present? ? "#{visibility.client.name} (#{visibility.client.email})" : t("app.all") %></td>
    <td>
      <ul class="list-inline">
        <li>
          <%= link_to t('app.delete'), back_office_visibilities_delete_path(visibility), :class => "color-link", :method =>:delete, :data=>{:confirm =>t('app.are_you_sure')} %>
        </li>
      </ul>
    </td>
  </tr>
  <% end %>
</table>

<%= simple_form_for ProductUser.new, :url => back_office_visibilities_add_path(@product.id), :html => {:class => "inline-block"} do |f| %>
<select id="chosen-select-client" class="select optional form-control" name="product_user_store[client_id]">
  <% @all_clients.each do |client|%>
  <option value="<%= client.id %>"><%= "#{client.name} (#{client.email})" %></option>
  <% end %>
</select>
<%= f.submit t("back_office.product.visibility.add_client"), :class => "btn btn-custom-secondary ml20"%>
<% end %>

<% end %>
