<% @title_for_layout = @brand = t('back_office.account') %>
<% @help = t('back_office.security_intro') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<%= render :layout => 'back_office/partials/dashboard' do %>
<div class="grey-border">
  <div class="panel-header"><%= t('back_office.account') %></div>
  <div class="panel-body">
    <%= simple_form_for(@user, :url => user_registration_path,:remote=>true,:defaults => { :input_html => { :class => 'form-control' }}) do |f| %>
    <%= f.input :email,:input_html=>{:class=>"input-lg br"},:label=>false,:placeholder=>"email" %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :password,:input_html=>{:class=>"input-lg br"},:label=>false,:placeholder=>t('back_office.password_new') %>
      </div>
      <div class="col-sm-6">
        <%= f.input :password_confirmation,:input_html=>{:class=>"input-lg br"},:label=>false,:placeholder=>t('back_office.password_confirmation') %>
      </div>
    </div>
    <%= f.input :current_password,:input_html=>{:class=>"input-lg br"},:label=>false,:placeholder=>t('back_office.password_actual') %>
    <div class="mt10">
      <%= f.submit t('back_office.update'), :class => "btn #{custom_button_class} bold" %>
      <div class="center">
        <% if @my_provider.provider_id != "kangalou" %>
        <h4 class="mt15"><%= t('back_office.not_happy') %> <%= link_to t('back_office.close_my_account'), registration_path(current_user), :data => { :confirm =>t('back_office.are_you_sure')}, :method => :delete,:class=>'btn btn-danger btn-xs' %></h4>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<% end %>
