<% @title_for_layout = @brand = t('back_office.units',:count=>0) %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'back_office/partials/submenu' do %>
<ul class="nav navbar-nav navbar-right hidden-xs mr10">
  <li><%= button_to t('back_office.add_unit'), dashboard_property_new_path, :method => "get",:class=>"btn navbar-btn #{custom_button_class}" %></li>
</ul>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% if @properties.present?  %>
      <div class="table-container mt40">
        <table class="table table-bordered table-condensed bg-white no-shadow">
          <thead>
            <tr>
              <th><%= t('back_office.name') %></th>
              <th><%= t('back_office.building') %></th>
              <th>N# EDL</th>
            </tr>
          </thead>
          <% @properties.each do |p| %>
          <tr id="property_<%= p.id %>">
            <td class="flex">
              <div class="h5"><%= "#{t('back_office.unit')} ##{p.id}" %></div>
              <div class="flex_1 a-right">
                <div class="btn-group btn-group-xs">
                  <%= link_to dashboard_property_edit_path(@user.username,p.secure_id),:class=>'btn btn-default',:remote=>false do %><i class="fa fa-pencil"></i><% end %>
                  <%= link_to dashboard_delete_property_path(@user.username,p.secure_id),:method=>'delete',:class=>'btn btn-default',:data=>{:confirm =>t('back_office.are_you_sure')},:remote=>true  do%><i class="fa fa-times"></i><% end %>
                </div>
              </div>
            </td>
            <td class="<%= p.building.blank? ? 'center' : "" %>">
              <%= (p.building.present? ? p.building.name : "<i class='fa fa-ban'></i>").html_safe %>
            </td>
            <td>
              <% if p.inventories.count > 0  %>
              <%= link_to t('back_office.inventories', :count => p.inventories.count), dashboard_inventories_path(@user.username,:unit=>p.id) %>
              <% else %>
              <%=  t('back_office.inventories', :count => p.inventories.count)%>
              <% end %>

            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% else %>
      <h3 class="mt40 center"><%= t('back_office.any_result') %></h3>
      <% end %>
    </div>
  </div>
</div>

