<% @title_for_layout = @brand = t('back_office.settings') %>
<% @help = t('back_office.settings_intro') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<section class="container">
  <div class="row mt15">
    <%# SIDEBAR %>
    <section class="col-sm-3 hidden-xs">
      <div class="grey-border">
        <div class="panel-header"><%= t('back_office.settings') %></div>
        <ul id="sidebar_my_services">
          <li>
            <%= link_to dashboard_apps_path(@user.username,:website =>1),:class=> "#{ params[:website].present? ? "#{custom_bg_class} color-white active" : nil}"  do %>
            <%= t("back_office.website") %><i class="fa fa-angle-right pull-right"></i>
            <% end %>
          </li>
          <% if @my_provider.provider_id != "kangalou" %>
          <% PortalType.all.order(:position).each do |p| %>
          <li>
            <%= link_to dashboard_apps_path(@user.username,:t =>p.slug),:class=> "#{(@portal_type.present? and @portal_type.slug == p.slug) ? "#{custom_bg_class} color-white active" : nil}"  do %>
            <%= p.name %><i class="fa fa-angle-right pull-right"></i>
            <% end %>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </section>
    <section class="col-sm-9" id="list">
      <% if @portal_type.present? %>
      <div class="table-responsive">
        <%# SOCIALS NETWORKS %>
        <% if @portal_type.slug == "socials_networks" %>
        <table class="table table-condensed table-valign-middle">
          <%# Facebook %>
          <tr>
            <td class="bold">Facebook</td>
            <td>
              <% if @facebook.present? %>
              <%= ("#{image_tag @facebook.image,:class=>"img-responsive mr5",:style=>"height:30px"} #{@facebook.name}").html_safe %>
              <% else %>
              <%= "<span class='ml10'>#{t('back_office.facebook')}</span>".html_safe %>
              <% end %>
            </td>
            <td class="a-right">
              <% if @facebook.present? %>
              <%= link_to t('back_office.log_out'), dashboard_delete_app_path(@facebook),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('back_office.are_you_sure')} %>
              <% else %>
              <%= link_to t('back_office.log_in'),"/auth/facebook?user_id=#{@user.id}",:class=>"btn btn-xs color-white #{custom_bg_class_secondary}" %>
              <% end %>
            </td>

          </tr>
          <%# Twitter %>
          <tr>
            <td class="bold">Twitter</td>
            <td>
              <% if @twitter.present? %>
              <%= ("#{image_tag @twitter.image,:class=>"img-responsive mr5",:style=>"height:30px;"} @#{@twitter.nickname}").html_safe %>
              <% else %>
              <%= "<span class='ml10'>#{t('back_office.twitter')}</span>".html_safe %>
              <% end %>
            </td>
            <td class="a-right">
              <% if @twitter.present? %>
              <%= link_to t('back_office.log_out'), dashboard_delete_app_path(@twitter),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('back_office.are_you_sure')} %>
              <% else %>
              <%= link_to t('back_office.log_in'),"/auth/twitter?user_id=#{@user.id}",:class=>"btn btn-xs color-white #{custom_bg_class_secondary}" %>
              <% end %>
            </td>
          </tr>
          <%# Google %>
          <tr>
            <td class="bold">Youtube/Google</td>
            <td>
              <% if @google.present? %>
              <%= ("#{image_tag @google.image,:class=>"img-responsive mr5",:style=>"height:30px;"} #{@google.name}").html_safe %>
              <% else %>
              <%= "<span class='ml10'>#{t('back_office.google')}</span>".html_safe %>
              <% end %>
            </td>
            <td class="a-right">
              <% if @google.present? %>
              <%= link_to t('back_office.log_out'), dashboard_delete_app_path(@google),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('back_office.are_you_sure')} %>
              <% else %>
              <%= link_to t('back_office.log_in'),"/auth/google_oauth2?user_id=#{@user.id}",:class=>"btn btn-xs color-white #{custom_bg_class_secondary}" %>
              <% end %>
            </td>
          </tr>
        </table>
        <% end %>
        <table class="table table-condensed table-valign-middle">
          <% @apps.each do |country,grp_portals| %>
          <% locale =  ISO3166::Country.find_country_by_alpha2(country) %>
          <tr >
            <td colspan="3" class="h4 pt50 pb15  <%= custom_color_class_secondary %>"><%= locale.present? ?  locale : t('back_office.international') %></td>
          </tr>
          <% grp_portals.each do |p| %>
          <% activation = PortalActivation.where(:user_id=>@user.id,:portal_id=>p.id).first_or_create %>
          <tr>
            <td class="bold"><%= "#{p.name}" %></td>
            <td>
              <% if params[:t] == "portals" %>
              <%= "#{p.free == 0 ? "Payant" : "Gratuit"}  #{(activation.present? and activation.login.present?) ?  " - #{activation.limitation} max"  : nil}" %>
              <% end %>
              <% if params[:t] == "apps" %>
              <ul class="list-unstyled">
                <li><%= "#{t('back_office.login')} : #{activation.login}" %></li>
                <li><%= "#{t('back_office.password')} : #{activation.password.present? ? "****" : "" }" %></li>
                <li><%= "FTP : #{activation.ftp}" %></li>
              </ul>
              <% end %>
            </td>
            <td class="a-right">
              <% if p.with_user_connexion == 1 %>
              <% if activation.present? and activation.login.present? %>
              <a href="#" class="btn btn-xs pl10 pr10 btn-link" data-toggle="modal" data-target="#myModal_<%= p.id %>"><%= t('back_office.update') %></a>
              <%= link_to t('back_office.delete'), dashboard_delete_portal_path(@user.username,activation.id), :method=>"delete", :class=>"btn btn-xs pl10 pr10 btn-link", :data=>{:confirm =>t('back_office.are_you_sure')}  %>
              <% else %>
              <a href="#" class="btn btn-xs color-white pl10 pr10 bg-link" data-toggle="modal" data-target="#myModal_<%= p.id %>"><%= t('back_office.log_in') %></a>
              <% end %>
              <% else %>
              <div class="bold">Aucune activation requise</div>
              <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <% end %>
      <%# Website %>
      <% if params[:website].present? %>
      <% if @website_activated.blank? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= t('back_office.warning') %></strong>, <%= "#{t('back_office.service_not_actif',:service => t('back_office.website') )}" %>
        <%= link_to t('back_office.activate'), dashboard_services_home_path(@user.username),:class=> "alert-link ml5"  %>
      </div>
      <% end %>
      <section>
        <section class="setting_edit">
          <% if !(@my_provider.provider_id == "kangalou" && @website_options < 1) %>
            <button type="button" class="btn <%= custom_button_class_secondary %> mb10" data-toggle="modal" data-target="#DomainAdddModal"><i class='fa fa-plus mr5'></i><%= "#{t('back_office.add_domain')}".html_safe %></button>
            <% end %>
          <div class="panel-header">
            <%= t('back_office.hostings') %>
            <% if @my_provider.provider_id == "kangalou" %>
            <span class="ml5 pointer" style="color:#a3a3a3;"  data-toggle="popover" data-placement="bottom" title="<%= t('back_office.help') %>" data-content="<%= t('back_office.website_hostname_info').html_safe %>"><i class="fa fa fa-question-circle"></i></span>
            <% end %>
          </div>
          <div class="panel-body pt0 pb0 pr0 pl0 inline-block">
            <%# Domain %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= "#{t('back_office.domain')} #1" %></div>
              <div class="col-sm-8">
                <div class="value"><%= ("http://<span class='bold'>#{@user.username}</span>.#{@my_provider.host}").html_safe %></div>
                <div class="form">
                  <%= simple_form_for @user,:url=>dashboard_user_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <div class="col-sm-12 pr0 pl0">
                      <%= f.input :username,:label=>false, :include_blank=>false, :wrapper_html=>{:class=>"mb10"} %>
                    </div>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% @hostings.each_with_index do |hosting,n| %>
            <div id="<%= "hosting_#{hosting.id}" %>" class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4">
                <%= "#{t('back_office.domain')} ##{n+2}" %>
              </div>
              <div class="col-sm-8">
                <div class="value">
                  <%= link_to "http://#{hosting.domain}", "http://#{hosting.domain}", :target=>"_blank" %>
                  <%= (link_to t('back_office.action_required'), dashboard_hosting_detail_path(@user.username,hosting),:remote=>true,:class => "color-red bold pull-right mr30") if check_ip_from_domain(hosting.domain) != true  %>
                </div>
                <div class="form">
                  <%= link_to "http://#{hosting.domain}", "http://#{hosting.domain}", :target=>"_blank" %>
                  <%= (link_to t('back_office.action_required'), dashboard_hosting_detail_path(@user.username,hosting),:remote=>true,:class => "color-red bold pull-right mr30") if check_ip_from_domain(hosting.domain) != true  %>
                </div>
                <div class="absolute absolute-top-right mr10"><%= link_to dashboard_remove_hosting_path(@user.username,hosting.id),:method=>'delete',:class=>"#{custom_color_class}",:data=>{:confirm =>t('back_office.are_you_sure')},:remote=>true do %><i class="fa fa-times"></i><% end %></div>
              </div>
            </div>
            <% end %>
          </div>
        </section>
        <section class="setting_edit mt40">
          <div class="panel-header"><%= t('back_office.general_settings') %></div>
          <div class="panel-body pt0 pb0 pr0 pl0 inline-block">
            <%# FONTS %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4">
                <%= t('back_office.fonts') %>
              </div>
              <div class="col-sm-8">
                <div id="setupFont_info" class="value"><%= "#{@user.profile.font.present? ? @user.profile.font.name : ""} / #{@user.profile.font_special.present? ? @user.profile.font_special.name : ""}" %></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <span><%= t('back_office.font_standard') %></span>
                    <%= f.input :font_id, collection: FontType.all,:label=>false,:include_blank=>false, as: :grouped_select, group_method: :fonts,:group_label_method => 'name',:label_method => lambda { |support_teme| "#{support_teme.name}"} %>
                    <span><%= t('back_office.font_title') %></span>
                    <%= f.input :font_special_id, collection: FontType.all,:label=>false,:include_blank=>false, as: :grouped_select, group_method: :fonts,:group_label_method => 'name',:label_method => lambda { |support_teme| "#{support_teme.name}"} %>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <%# COLORS %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= t('back_office.colors') %></div>
              <div class="col-sm-8">
                <div id="setupColors_info" class="value"><%= render :partial => "back_office/partials/profile_colors", locals: {profile: @profile} %></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <div class="col-sm-12 pr0 pl0">
                      <label><%= t('back_office.color_1').html_safe %></label>
                      <%= f.input :primary_color, as: :minicolors,:label=>false, :input_html=>{:class=>"form-control pl40",:data =>{ minicolors: {theme: :bootstrap, :position =>"bottom left"}}} %>
                      <label><%= t('back_office.color_2').html_safe %></label>
                      <%= f.input :secondary_color, as: :minicolors,:label=>false, :input_html=>{:class=>"form-control pl40",:data =>{ minicolors: {theme: :bootstrap, :position =>"top left"}}} %>
                    </div>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% if @my_provider.provider_id != "kangalou" %>
            <%# MANDATE WEBSITE %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= t('back_office.mandate_website') %></div>
              <div class="col-sm-8">
                <div id="mandate_website_info" class="value"><%= @user.profile.mandate_website == 0 ? t('back_office.inactive') : t('back_office.active') %></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0"><%= f.input :mandate_website, :collection =>{t('back_office.inactive')=>0,t('back_office.active') => 1}, :include_blank => false, :label => false %></div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </section>
        <section class="setting_edit mt40">
          <div class="panel-header"><%= "#{t('back_office.seo')}".html_safe %></div>
          <div class="panel-body pt0 pb0 pr0 pl0 inline-block">
            <%# GoogleAnalytics  %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= t('activerecord.attributes.profile.google_analytics') %></div>
              <div class="col-sm-8">
                <div id="setupGoogleAnalytics_info" class="value"><%= @profile.google_analytics %></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <%= f.input :google_analytics %>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% if @website_options >= 1 %>
        <section class="profile--settings setting_edit mt40">
          <div class="panel-header"><%= t('back_office.pages_actives') %></div>
          <div class="panel-body pt0 pb0 pr0 pl0 inline-block">
            <%# BLOG %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= t('back_office.blog') %></div>
              <div class="col-sm-8">
                <div id="setupBlog_info" class="value"><%= @profile.blog_active == 0 ? t('back_office.inactive') : t('back_office.active')%></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <%= f.input :blog_active, :collection =>{t('back_office.inactive')=>0, t('back_office.active') => 1} ,:label=>false,:include_blank=>false %>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <%# TESTIMONIAL %>
            <div class="setting_edit_line row ml0 mr0">
              <div class="col-sm-4"><%= t('back_office.testimonial') %></div>
              <div class="col-sm-8">
                <div id="setupTestimonial_info" class="value"><%= @profile.page_testimonial_active == 0 ? t('back_office.inactive') : t('back_office.active')%></div>
                <div class="form">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <div class="row mr0 ml0">
                    <%= f.input :page_testimonial_active, :collection =>{t('back_office.inactive')=>0, t('back_office.active') => 1} ,:label=>false,:include_blank=>false %>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% end %>
        <div id="cards_theme" class="setting_edit mt40">
          <div class="panel-header mb20" style="float:none;"><%= t('back_office.theme') %></div>
          <div class="row pb20">
            <% @themes.each do |theme| %>
            <div class="col-sm-12 col-md-6 col-lg-6 card_theme mb20 <% if theme.id == @selected_theme %>selected <%= "#{custom_border_class}" %><% end %>">
              <div class="grey-border relative <%= theme.id == @selected_theme ? "#{custom_border_class}" : "" %>">
                <% if theme.id != @selected_theme %>
                <div class="info-overlay centered-content">
                  <div>
                    <div class="full-width text-center mb10">
                      <%= link_to t('back_office.choose_template'), dashboard_set_theme_path(@user.username,theme.id),:method=>"post",:class=>"btn btn-lg #{custom_button_class_secondary} choose-theme" %>
                    </div>
                    <div class="full-width text-center">
                      <%= link_to t('back_office.see_demo'), "http://demo#{theme.id}#{@my_provider.provider_id=="kangalou" ? "kangalou" : nil}.#{@my_provider.link_host}" ,:target=>"_blank", :class=>"btn btn-default  btn-sm" %>
                    </div>
                  </div>
                </div>
                <% end %>
                <div class="relative">
                  <%= image_tag "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/themes_demo/demo#{theme.id}#{@my_provider.provider_id=="kangalou" ? "kangalou" : nil}.png",:class=>'img-responsive' %>
                </div>
                <div class="panel-body relative">
                  <div class="h4"><%= theme.name %><% if theme.id == @selected_theme %><i class="fa fa-check color-success ml10"></i><% end %></div>
                  <div class="mt10 pb35 desc"><%= theme.description %></div>
                  <ul class="row full-width list-unstyled mb20 absolute-bottom pl15 pr20">
                    <% if theme.id == @selected_theme %>
                    <%= link_to "<i class='fa fa-eye mr3'></i> #{t('back_office.see_my_website')}".html_safe, root_url(:subdomain=>@user.username,:protocol=>'http'), :target =>"_blank",:class => "btn #{custom_button_class} btn-sm mb10"  %>
                    <li>
                      <%= link_to t('back_office.theme_settings'), dashboard_set_theme_colors_path(@user.username,theme),:class=> "btn #{custom_button_class_secondary} btn-sm" if  theme.with_cover != 0 or theme.with_background != 0 %>
                      <%= link_to t('back_office.update_profile'), dashboard_profile_path(@user.username), :class=>"ml7 btn btn-default btn-sm" %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <%# MODAL ADD DOMAIN %>
        <div class="modal fade" id="DomainAdddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <%= simple_form_for Hosting.new, :url =>dashboard_hosting_new_path(@user.username) do |f|%>
            <%= f.input :user_id ,:as=>"hidden", :input_html=>{:value=>@user.id} %>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h4 class="modal-title" id="myModalLabel"><%= "#{t('back_office.add_domain')}" %></h4>
              </div>
              <div id="newDomainInput" class="modal-body pt20 mb10" data-checkdomain="<%= dashboard_hosting_checker_path %>">
                <%= f.input :domain,:label=>false,:wrapper => :prepend do %>
                <span class="input-group-addon">http://</span>
                <%= f.input_field :domain, :class=>"mb0" %>
                <span class="glyphicon form-control-feedback">
                  <i class="fa fa-check text-success hide"></i>
                  <i class="fa fa-close text-danger hide"></i>
                </span>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
                <%= f.submit t('back_office.add') ,:class =>"btn #{custom_button_class_secondary}",:style=>"display:none", :id=>"addDomain" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <%# MODAL DOMAIN ACTIVATION %>
        <div class="modal fade" id="DomainDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h4 class="modal-title" id="myModalLabel"><%= t('back_office.hosting') %></h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><%= t('back_office.close') %></button>
                <%= link_to  t('back_office.see_documentation'), @my_provider.provider_id == "kangalou" ?  "https://www.corpiq.com/monkangalou/aide.html" : "https://www.shareimmo.com/fr/support/domaines/comment-creer-votre-domaine-avec-godaddy-ou-1and1-com-4462645c-ae18-463c-9f85-90a042a5fe3c", :class=>"btn #{custom_button_class_secondary}",:target =>"_blank" %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% end %>

    </section>
  </div>
</section>


<% if @portal_type.present? %>
<%# MODAL FOR EACH PORTALS %>
<% @apps.each do |country,grp_portals| %>
<% grp_portals.each do |p| %>
<div class="modal fade" id="myModal_<%= p.id  %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% if p.with_user_connexion == 1 %>
      <% activation = PortalActivation.where(:user_id=>@user.id,:portal_id=>p.id).first_or_create %>
      <%= simple_form_for activation, :url => dashboard_update_portal_path(@user.username,activation.id) do |f| %>
      <div class="modal-header pb0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h4 class="modal-title color-white" id="myModalLabel"> <%= p.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :ftp,:label =>"ftp", :placeholder=> "ftp"  if params[:t] == "apps"  %>
        <%= f.input :login,:label =>t('back_office.login') , :placeholder=>t('back_office.login') %>
        <%= f.input :password,:label =>t('back_office.password'), :placeholder=>t('back_office.password'),:as => :string %>
        <%= f.input :limitation,:label =>t('activerecord.attributes.portal_activation.limitation'), :placeholder=>t('activerecord.attributes.portal_activation.limitation') if params[:t] == "portals" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.add') ,:class => "btn #{custom_button_class_secondary}" %>
      </div>
      <% end %>
      <% else %>
      <div class="modal-header pb0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h4 class="modal-title color-white" id="myModalLabel"> <%= p.name %></h4>
      </div>
      <div class="modal-body center">
        <div class="h3"><%= t('back_office.no_credentials_required') %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>
