<% @title_for_layout = @brand = t('back_office.blog') %>
<%= render 'layouts/partials/generic_meta' %>
<% @help = t('back_office.blog_intro') %>
<%= render 'back_office/partials/submenu' %>


<%= render :layout => 'back_office/partials/dashboard' do %>
<% if @my_provider.provider_id != "kangalou" %>
<%= link_to "<i class='fa fa-chevron-left'></i> #{t('back_office.back')}".html_safe,dashboard_services_path(@user.username, "website"),:class=>"btn btn-default" %>
<% end %>
<%= link_to "<i class='fa fa-plus'></i> #{t('back_office.add_blog')}".html_safe, dashboard_new_blog_path(@user.username), :class=>"btn #{custom_button_class_secondary}" %>

<section class="pt20">
 <% if @posts.blank? %>
 <div class="center mt20">
  <div><%= image_tag "back_office/posts.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_posts') %></div>
</div>
<% else %>
<div id="list">
  <% @posts.each_with_index do |post, x| %>
  <div id="post_<%= post.id %>">
    <div class="row condo-info pb10 pl15  <%= x == 0 ? "pt0" : "pt10" %>">
      <section class="col-xs-12">
        <div class="image mr10" style="background-image:url(<%= post.cover.present? ? post.cover.url(:large) : Blog.new.cover.options[:default_url] %>);"></div>
        <div class="ellipsis">
          <div class="h5"><%= "#{post.title}"%></div>
          <div class="color-grey"><%= strip_tags post.content.truncate(160) %></div>
          <div class="color-grey"><%= post.blog_category.present? ? "#{t('back_office.category')} : #{post.blog_category.name}" : "" %></div>
          <h6 class="mt5">
            <%= link_to t('back_office.edit'), dashboard_edit_blog_path(@user.username,post.id )  %>
            <%= link_to t('back_office.delete').html_safe, dashboard_delete_blog_path(@user.username,post.id),:remote=>false,:method=>'delete', :data => { :confirm => t('back_office.are_you_sure') } %>
          </h6>
        </div>
      </section>
    </div>
  </div>
  <% end %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails, :next_label=>t('back_office.next'),:previous_label=>t('back_office.previous') %>
</div>
<% end %>
</section>
<% end %>



