<% @title_for_layout =  @brand  = t('back_office.buildings') %>
<% @help = t('back_office.building_intro') %>
<%= render 'layouts/partials/generic_meta' %>

<%= render 'back_office/partials/submenu' %>


<%= render :layout => 'back_office/partials/dashboard' do %>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "<i class='fa fa-plus'></i> #{t('back_office.add_building')}".html_safe, dashboard_building_new_path(@user.username),:class=>"btn #{custom_button_class_secondary}" %>
  </div>
</div>
<section id="MyAds" class="pt20">
  <%= render :partial => 'back_office/partials/buildings', :locals => { :buildings => @buildings } %>
</section>

<% end %>
