<% @title_for_layout = @brand = "#{t('back_office.building')} ##{@building.id}" %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=#{I18n.locale}"%> "></script>
<% end %>


<div class="container pt20">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="grey-border">
        <div class="panel-header"><%= @brand %></div>
        <ul id="sidebar_my_services">
          <li class="active"><a href="#step1"><%= t('back_office.address') %></a></li>
          <li><a href="#step2"><%= t('back_office.general') %></a></li>
          <li><a href="#step3"><%= t('back_office.pictures') %></a></li>
        </ul>
      </div>
    </div>
    <div id="annonce_form_right" class="col-sm-8 col-md-9">
      <%= simple_form_for @building, :url=> dashboard_building_path(@user.username,@building.secure_id), :remote=>false,:html => {:id=>'PropertyGeneralForm',:data =>{:model=>"building"}}, :defaults => { :input_html => { :class => 'form-control' }} do |f| %>
      <div class="mb20">
        <%= link_to "#{t('back_office.quit')}".html_safe, dashboard_buildings_path(@user.username), :class=> "btn btn-custom-default" %>
        <%= f.submit "#{t('back_office.save')}".html_safe, :class=> "btn #{custom_button_class_secondary}" %>
      </div>
      <%# MAP %>
      <div id="step1" class="step">
        <label><%= t('back_office.hint_address') %><a class="mt20 ml10 fs12 collapse-link collapsed color-link" role="button" data-toggle="collapse" href="#address-details" aria-expanded="false" aria-controls="collapseExample"><%= "(#{t('back_office.address_details')})" %></a></label>
        <%= f.input :address,:input_html =>{:id => 'gmaps-input-address'},:label=> false %>
        <div class="row mt10">
          <div class="col-sm-12">
            <div class="svgContainer ratio_50"><div id="mapContainer"></div></div>
          </div>
        </div>
        <div class="collapse mt20" id="address-details">
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :street_number %>
            </div>
            <div class="col-sm-6">
              <%= f.input :administrative_area_level_2 %>
              <%= f.input :latitude, :input_html => {:value => @building.latitude   ||    @lat},:as =>"hidden"  %>
              <%= f.input :longitude,:input_html => {:value => @building.longitude  ||   @lng}, :as =>"hidden" %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :street_name %>
            </div>
            <div class="col-sm-6">
              <%= f.input :administrative_area_level_1 %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :sublocality %>
            </div>
            <div class="col-sm-6">
              <%= f.input :country_short  %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :locality %>
            </div>
            <div class="col-sm-6 ">
              <%= f.input :zipcode %>
            </div>
          </div>
        </div>
      </div>
      <%# GENERAL %>
      <div id="step2" class="step" style="display:none">
        <div class="row">
          <div class="col-sm-12 mb40">
            <%= f.input :name, :placeholder => t('activerecord.attributes.building.name') %>
            <%= f.input :draft,:input_html => {:value =>0},:as=>'hidden'%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 pl15 mb40">
            <%= f.input :number_of_units,:placeholder => t('activerecord.attributes.building.number_of_units') %>
          </div>
          <div class="col-sm-6 pr15 mb40">
            <%= f.input :number_of_levels,:placeholder => t('activerecord.attributes.building.number_of_levels') %>
          </div>

          <div class="col-xs-12 pl15 pb15">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#desc_fr" aria-controls="desc_fr" role="tab" data-toggle="tab"><%= t('back_office.languages.french') %></a></li>
              <li role="presentation"><a href="#desc_en" aria-controls="desc_en" role="tab" data-toggle="tab"><%= t('back_office.languages.english') %></a></li>
              <li role="presentation"><a href="#desc_de" aria-controls="desc_de" role="tab" data-toggle="tab"><%= t('back_office.languages.german') %></a></li>
              <li role="presentation"><a href="#desc_ml" aria-controls="desc_ml" role="tab" data-toggle="tab"><%= t('back_office.languages.dutch') %></a></li>
              <li role="presentation"><a href="#desc_it" aria-controls="desc_it" role="tab" data-toggle="tab"><%= t('back_office.languages.italian') %></a></li>
              <li role="presentation"><a href="#desc_es" aria-controls="desc_es" role="tab" data-toggle="tab"><%= t('back_office.languages.spanish') %></a></li>
              <li role="presentation"><a href="#desc_pt" aria-controls="desc_pt" role="tab" data-toggle="tab"><%= t('back_office.languages.portuguese') %></a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="desc_fr">
                <%= f.input :description_short_fr, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_fr,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_en">
                <%= f.input :description_short_en, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_en,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_de">
                <%= f.input :description_short_de, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_de,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_nl">
                <%= f.input :description_short_nl, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_nl,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_it">
                <%= f.input :description_short_it, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_it,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_es">
                <%= f.input :description_short_es, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_es,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="desc_pt">
                <%= f.input :description_short_pt, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
                <%= f.input :description_pt,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%# PICTURES %>
      <div id="step3" class="step" style="display:none">
        <%= simple_form_for BuildingAsset.new, :url=>dashboard_create_building_asset_path(@user.username,@building.secure_id),:html =>{:multipart => true} do |f| %>
        <%= f.input :building_id, :input_html=>{:value=>@building.id},:as=>'hidden' %>
        <div id="dropzone" class="block-dashed fade well">
          <h4><%= t('back_office.drop_here') %></h4>
          <p class="<%= custom_button_class %> inline-block pointer withShadow pt4 pb6 pl10 pr10 mt20 mb0" id="input_file_button"><%= t('back_office.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
          <%= f.file_field :picture, :multiple => true, :name => 'building_asset[picture]', :class=>"hide input-file" %>
        </div>
        <script id="template-upload" type="text/x-tmpl">
        <div class="upload"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">{%=o.name%}</div></div></div>
        </script>
        <% end %>
        <ul id="my-ui-list-picture" class="list-inline" data-sort_url="<%= dashboard_sort_building_pictures_path(@user.username,@building.secure_id)%>">
          <% @building.building_assets.each do |asset| %>
          <%= render :partial => "back_office/partials/building_asset", locals: {building_asset: asset, :user => @user, :secure_id=>@building.secure_id} %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>















<%= javascript_tag do %>
window.model_lat = <%= @lat %>;
window.model_lng = <%= @lng %>;
<% end %>


<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = false;
window.froala_upload_url = "<%= dashboard_wysiwyg_picture_manager_path(@user.username,:id => @building.id,:asset_type =>"building") %>";
window.frola_delete_url = "<%= dashboard_wysiwyg_picture_delete_path(@user.username,:id => @building.id) %>";
<% end %>



