<% @title_for_layout = @brand = t('back_office.credit_cards') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>

<%= content_for (:head) do %>
<script src="https://js.stripe.com/v2"></script>
<%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
<% end %>

<%= render :layout => 'back_office/partials/dashboard' do %>

<%= render 'back_office/partials/card_default',:locals=>{:default_card=>@default_card} %>

<% end %>
