<div class="panel mt30 ml20 mr20">
    <div class="panel-heading">
      <h1>Mes comptes</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <th>Email</th>
            <th>Phone</th>
            <td>Nom</td>
            <td>Actions</td>
          </tr>
          <% @users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td><%= u.profile.phone %></td>
            <td><%= u.profile.public_name %></td>
            <td><%= link_to "Log as...",dashboard_path(u.username),:class=>"btn btn-xs btn-custom-primary" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
