$("#MyAds").html("<%= j render :partial => 'back_office/partials/ads',:locals => { :properties => @properties }  %>");
new_url = '<%= raw dashboard_path(@user.username,:online => params[:online],:listing => params[:listing]) %>'
history.pushState(null, null, new_url)

