<% @title_for_layout = @brand = t('back_office.dashboard') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render "back_office/partials/submenu" %>


<%= render :layout => 'back_office/partials/dashboard' do %>


<% if  @my_provider.provider_id == "kangalou" %>
<% content_for :head do  %>
<script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
<% end %>

<div class="row kangalou-steps">
  <div class="col-md-4 mb30">
    <div class="kangalou-step pl15 pr15 relative">
      <h3 class="block text-center pt15 pb15"><%= "#{t('kangalou.step')} 1" %></h3>
      <hr class="mt0 mb0">
      <h3 class="block text-center bold uppercase <%= "#{custom_color_class}" %> pt15 pb15"><%= t('kangalou.dashboard_1').html_safe %></h3>
      <p><%= t('kangalou.dashboard_1_content').html_safe %></p>
      <div class="absolute absolute-bottom-left absolute-bottom-right center pb10">
        <%= link_to t('back_office.update_profile'), dashboard_profile_path(@user.username),:class=>"btn btn-xs #{custom_button_class}" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb30">
    <div class="kangalou-step pl15 pr15 relative">
      <h3 class="block text-center pt15 pb15"><%= "#{t('kangalou.step')} 2" %></h3>
      <hr class="mt0 mb0">
      <h3 class="block text-center bold uppercase <%= "#{custom_color_class}" %> pt15 pb15"><%= t('kangalou.dashboard_2').html_safe %></h3>
      <p><%= t('kangalou.dashboard_2_content').html_safe %></p>
      <div class="absolute absolute-bottom-left absolute-bottom-right center pb10">
        <%= link_to t('back_office.website_setting'),dashboard_apps_path(@user.username,:website =>1),:class=>"btn btn-xs #{custom_button_class}" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb30">
    <div class="kangalou-step pl15 pr15 relative">
      <h3 class="block text-center pt15 pb15"><%= "#{t('kangalou.step')} 3" %></h3>
      <hr class="mt0 mb0">
      <h3 class="block text-center bold uppercase <%= "#{custom_color_class}" %> pt15 pb15"><%= t('kangalou.dashboard_3').html_safe %></h3>
      <p><%= t('kangalou.dashboard_3_content').html_safe %></p>
      <div class="absolute absolute-bottom-left absolute-bottom-right center pb10">
        <% if @website_activated.present? and  @website_options >= 1 %>
        <%= link_to t('back_office.posts'), dashboard_blog_path(@user.username),:class=>"btn btn-xs #{custom_button_class}"  %>
        <%= link_to t('back_office.testimonials'), dashboard_testimonials_path(@user.username),:class=>"btn btn-xs #{custom_button_class}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row video-helpers mt20">
  <div class="h2 ml20"><%= t('kangalou.video_tutos') %></div>
  <hr class="mt5">
  <div class="col-md-4 mb30">
    <div class="video-helper">
      <div class="video">
        <iframe src="//fast.wistia.net/embed/iframe/<%= I18n.locale.to_s == 'fr' ? "wr889wylhr"  : "nju54j1yny"  %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="170"></iframe>
      </div>
      <div class="title pl15 pr15 pb10 pt10 bold <%= "#{custom_color_class}" %>">
        <%= t('kangalou.video_1') %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb30">
    <div class="video-helper">
      <div class="video">
        <iframe src="//fast.wistia.net/embed/iframe/<%= I18n.locale.to_s == 'fr' ? "3ox39v792s"  : "rbcat9xfd9"  %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="170"></iframe>
      </div>
      <div class="title pl15 pr15 pb10 pt10 bold <%= "#{custom_color_class}" %>">
        <%= t('kangalou.video_2') %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb30">
    <div class="video-helper">
      <div class="video">
        <iframe src="//fast.wistia.net/embed/iframe/<%= I18n.locale.to_s == 'fr' ? "75vzjwt2do "  : "r1hxeugpft"  %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="170"></iframe>
      </div>
      <div class="title pl15 pr15 pb10 pt10 bold <%= "#{custom_color_class}" %>">
        <%= t('kangalou.video_3') %>
      </div>
    </div>
  </div>
</div>

<% else %>
<%= link_to "<i class='fa fa-plus mr5'></i>#{t('back_office.add_ad')}".html_safe , dashboard_property_new_path, :class=> "pull-left btn #{custom_button_class_secondary}" %>
<%= form_tag dashboard_path(@user.username), :remote =>true, :method => 'get',:class=>"a-right hidden-xs", :id =>"filterForm" do %>
<ul class="list-inline" id="dashboardFilter">
  <li class="pAll0">
    <select name="listing" class="form-control">
      <option <%= params[:listing].blank? ? 'selected' : nil %>  value="" ><%= t('back_office.filter_sell') %></option>
      <option <%= params[:listing] == "1" ? 'selected' : nil %>  value="1"><%= PropertyListing.find(1).name %></option>
      <option <%= params[:listing] == "2" ? 'selected' : nil %>  value="2"><%= PropertyListing.find(2).name %></option>
    </select>
  </li>
  <li class="pAll0">
    <select name="online" class="form-control">
      <option <%= params[:online] == "1" ? 'selected' : nil %>  value="1"><%= t('back_office.online') %></option>
      <option <%= params[:online] == "0" ? 'selected' : nil %>  value="0"><%= t('back_office.offline') %></option>
    </select>
  </li>
</ul>
<% end %>
<div class="clear-block"></div>


<section id="MyAds">
  <%= render :partial => 'back_office/partials/ads', :locals => { :properties => @properties } %>
</section>


<% end %>


<% end %>

