<% @title_for_layout = @brand = t('back_office.feedback') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>



<%= render :layout => 'back_office/services/layout_detail' do %>

<%= link_to dashboard_new_feedback_path(@user.username, @property.secure_id), :remote=>true, :class=>"btn #{custom_button_class_secondary} inline-block" do %><i class="fa fa-calendar-plus-o mr5"></i><%= t('back_office.schedule_a_visit') %>
<% end %>
<div id="feedsContainer">
  <%= render :partial => 'back_office/partials/feedbacks', :locals => { :feedbacks => @feedbacks } %>
</div>
<% end %>


<%# MODAL : AJOUTER UNE VISITE  %>
<div class="modal fade" id="addVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<%# MODAL : FAIRE UNE VISITE  %>
<div class="modal fade" id="makeVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<%# MODAL : ENVOYER COMPTE RENDU  %>
<div class="modal fade" id="sendVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

