<%  if  @listglobally_link.code == 200 %>
<iframe  width="100%;" height="600px" src="<%= "https://mylistglobally.com/Security/LoginByToken?accessToken=#{JSON.parse(@listglobally_link.body)['AccessToken']}&ReturnUrl=#{(@id.present?) ? "/AdvertExternal/#{@id}" : "/Listings" }?nav=0" %>"></iframe>
<script type="text/javascript">
$(document).ready(function (){
  $("iframe").css("height",$(window).height()-$('#MyHeaderHeroNav').height()-6)
});
</script>
<% else %>
<div class="container center">
  <div class="h1 mt30">Aucune diffusion internationale pour le moment</div>
</div>
<% end %>

