<% @title_for_layout =  @brand  = t('back_office.nomenclatures') %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'back_office/partials/submenu' do %>
<ul class="nav navbar-nav navbar-right hidden-xs mr10">
  <li><button type="button" class="btn navbar-btn btn-default mr5" data-toggle="modal" data-target="#NomenclatureImportModal"><%= t('back_office.import') %></button></li>
  <li><button type="button" class="btn navbar-btn <%= custom_button_class %>" data-toggle="modal" data-target="#NomenclatureNewModal"><%= t('back_office.add_nomenclature') %></button></li>
</ul>
<% end %>



<div class="container-fluid pt30">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% if @nomenclatures.present?  %>
      <% @nomenclatures.in_groups_of(3,false) do |n_row| %>
      <div class="row">
        <% n_row.each do |n| %>
        <div class="col-xs-4">
          <div class="well well-sm mb10 mt10 pt20 center relative">
            <div class="absolute absolute-top-right mt5 mr5">
              <div class="btn-group btn-group-xs">
                <% if n.user_id.present? %>
                <%= link_to dashboard_show_nomenclature_path(@user.username,n.id,:format=>"csv"),:class=>'btn btn-default' do %><i class="fa fa-download"></i><% end %>
                <%= link_to dashboard_edit_nomenclature_path(@user.username,n.id),:class=>'btn btn-default',:remote=>true do %><i class="fa fa-pencil"></i><% end %>
                <%= link_to dashboard_remove_nomenclature_path(@user.username,n.id),:method=>'delete',:class=>'btn btn-default',:data=>{:confirm =>t('back_office.are_you_sure')},:remote=>false do %><i class="fa fa-times"></i><% end %>
                <% end %>
              </div>
            </div>
            <div class="h2"><%= n.name %></div>
            <div class="italic"><%= n.description %></div>
            <% if n.user_id.present? %>
            <%= link_to t('back_office.edit'), dashboard_show_nomenclature_path(@user.username,n.id), :class=>"btn btn-sm #{custom_button_class}" %>
            <% else %>
            <%= link_to t('back_office.see'), dashboard_show_nomenclature_default_path(@user.username,n.id), :class=>"btn btn-sm #{custom_button_class}" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="NomenclatureNewModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for Nomenclature.new, :url => dashboard_new_nomenclature_path(@user.username) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewGLossaryElementModalLabel"><%= t('back_office.nomenclature',:name=>"") %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :user_id,:as =>"hidden" ,:input_html=>{:value=>@user.id} %>
        <%= f.input :name %>
        <%= f.input :description %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.add'), :class => "btn #{custom_button_class}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="NomenclatureImportModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for Nomenclature.new, :url=> dashboard_import_nomenclature_path(@user.username), :remote=>false,:html=>{:mulipart=>true},:defaults => {:input_html => { :class => 'form-control' }} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('back_office.import') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :file, :as=>"file" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.import'), :class => "btn btn-custom-primary #{custom_button_class}" %>
      </div>
    </div>
    <% end %>
  </div>
</div>



<div class="modal fade" id="NomenclatureEditModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
