<% @title_for_layout =  @brand  = t('back_office.glossary') %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout => 'back_office/partials/submenu' do %>
<ul class="nav navbar-nav navbar-right hidden-xs mr10">
  <li><button type="button" class="btn navbar-btn <%= custom_button_class %>" data-toggle="modal" data-target="#myNewGLossaryElementModal"><%= t('back_office.add_expression') %></button></li>
</ul>
<% end %>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="myGlossary" class="table-container bg-white no-shadow mt30">
        <% if @glossary.glossary_elements.present? %>
          <%= render 'back_office/partials/glossary', elements: @glossary.glossary_elements %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="myNewGLossaryElementModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for GlossaryElement.new, :url => dashboard_new_glossary_path(@user.username),:remote=>true do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewGLossaryElementModalLabel"><%= t('back_office.glossary') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :glossary_id,:as =>"hidden" ,:input_html=>{:value=>@glossary.id} %>
        <%= f.input :content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></button>
        <%= f.submit t('back_office.add'), :class => "btn #{custom_button_class}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EditGLossaryElementModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
