<% @title_for_layout =  @brand  = t('back_office.inventories', :count=>"") %>
<%= render 'layouts/partials/generic_meta' %>

<%= render :layout =>'back_office/partials/submenu' do %>
<ul class="nav navbar-nav navbar-right hidden-xs mr10">
  <li class="mr10"><%= button_to t('back_office.import'),dashboard_inventory_new_path(@user.username),:class=>"btn navbar-btn #{custom_button_class}", :method=> :get,:remote=>true %></li>
</ul>
<% end %>



<div class="container-fluid">
  <div class="row">
    <div id="myEdls" class="col-xs-10 col-xs-offset-1">
      <%= render :partial => "back_office/partials/inventories",:locals=>{ :inventories => @inventories,:user=>@user} %>
    </div>
  </div>
</div>


<div class="modal fade" id="ImportEdlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
