<% @title_for_layout = @brand = t('back_office.parameters') %>
<% @help = t('back_office.profile_intro') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<section class="container-fluid pt10">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="bg-white no-shadow mt30 h4 pl20 pr20 pt10 pb10 inline-block"><%= t('back_office.parameters') %></div>
      <div id="profile--settings" class="bg-white pl10 pr10 pt10 mb20">
        <%# Label_1 %>
        <ul class="nav-sticky no--border no-processing" data-form="setupState1">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.state1') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="setupState1_info"><%= @parameter.state1_name %></div>
              <div id="setupState1_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :state1_name %>
                <%= f.input :state1_label %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# Label_2 %>
        <ul class="nav-sticky no--border no-processing" data-form="setupState2">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.state2') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="setupState2_info"><%= @parameter.state2_name %></div>
              <div id="setupState2_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :state2_name %>
                <%= f.input :state2_label %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
       </ul>
        <%# Label_3 %>
        <ul class="nav-sticky no--border no-processing" data-form="setupState3">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.state3') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="setupState3_info"><%= @parameter.state3_name %></div>
              <div id="setupState3_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :state3_name %>
                <%= f.input :state3_label %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# Label_4 %>
        <ul class="nav-sticky no--border no-processing" data-form="setupState4">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.state4') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="setupState4_info"><%= @parameter.state4_name %></div>
              <div id="setupState4_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :state4_name %>
                <%= f.input :state4_label %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# Label_5 %>
        <ul class="nav-sticky no--border no-processing" data-form="setupState5">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.state5') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="setupState5_info"><%= @parameter.state5_name %></div>
              <div id="setupState5_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :state5_name %>
                <%= f.input :state5_label %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# PDF intro Title %>
        <ul class="nav-sticky no--border no-processing" data-form="pdfIntroTtile">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.inventory_pdf_intro_title') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="pdfIntroTtile_info"><%= @parameter.pdf_introduction_title %></div>
              <div id="pdfIntroTtile_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :pdf_introduction_title %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# PDF intro Content %>
        <ul class="nav-sticky no--border no-processing" data-form="pdfIntroContent">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.inventory_pdf_intro_content') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="pdfIntroContent_info"><%= truncate(@parameter.pdf_introduction_content,:length=>150) %></div>
              <div id="pdfIntroContent_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :pdf_introduction_content,:input_html=>{:class=>'textarea-noresize',:rows=>10} %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
        <%# PDF FreeSection Title %>
        <ul class="nav-sticky no--border no-processing" data-form="pdfFreeSectionTitle">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.pdf_free_section_title') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="pdfFreeSectionTitle_info"><%= @parameter.pdf_free_section_title %></div>
              <div id="pdfFreeSectionTitle_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :pdf_free_section_title %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>
         <%# PDF Free section Content %>
        <ul class="nav-sticky no--border no-processing" data-form="pdfFreeSectionContent">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.pdf_free_section_content') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="pdfFreeSectionContent_info"><%= truncate(@parameter.pdf_free_section_content,:length=>150) %></div>
              <div id="pdfFreeSectionContent_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.input :pdf_free_section_content,:input_html=>{:class=>'textarea-noresize',:rows=>10} %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>

         <%# Nomenclature par defaut %>
        <ul class="nav-sticky no--border no-processing" data-form="nomenclatureDefault">
          <li class="sticky--item"><div class="a-left bold"><%= t('back_office.inventory_parameters.nomenclature_default') %></div></li>
          <li class="sticky--item">
            <div class="a-left">
              <div id="nomenclatureDefault_info"><%= @parameter.default_nomenclature.name %></div>
              <div id="nomenclatureDefault_form" class="hide">
                <%= simple_form_for @parameter,:url=>dashboard_update_inventory_parameters_path,:remote=>true do |f| %>
                <%= f.select :nomenclature_id, options_for_select(current_user.nomenclatures.collect{ |u| [u.name, u.id] }) %>
                <a href="#" class="closeAction btn btn-default btn-sm"><%= t('back_office.cancel') %></a>
                <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class}"%>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <section class="edit_section">
              <div class="a-right color-primary"><span class="hide edit--pencil"><%= t('back_office.edit') %></span><i class="fa fa-pencil ml5"></i></div>
            </section>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
