<% @title_for_layout =  @brand  = t('back_office.nomenclature', :name => @nomenclature.name) %>
<%= render 'layouts/partials/generic_meta' %>
<%= render :layout =>'back_office/partials/submenu' do %>
<ul class="nav navbar-nav navbar-right hidden-xs mr10">
  <li class="mr10"><%= button_to t('back_office.back'), dashboard_nomenclatures_path(@user.username) ,:class=>"btn btn-default navbar-btn", :method=> :get %></li>
</ul>
<% end %>



<section id="myTreeLeft" class="bg-dark-grey">
  <div class="container-fluid mt20">
    <% if  @nomenclature.user_id.present? %>
    <%= simple_form_for NomenclatureElement.new, :url => dashboard_new_nomenclature_element_path(@user.username), :remote=>true do |f| %>
    <%= f.input :nomenclature_id,:as=>"hidden", :input_html=>{:value => @nomenclature.id } %>
    <label class="color-white"><%= t('back_office.name') %></label>
    <%= f.input :name, :label=>false, :placeholder=>t('back_office.name') %>
    <label class="color-white"><%= t('back_office.value') %></label>
    <%= f.input :value, :label=>false, :placeholder=>t('back_office.value') %>
    <label class="color-white"><%= t('back_office.parent') %></label>
    <%= f.input :parent_id, :label=> false, :collection => @my_list,:include_blank=>false %>
    <label class="color-white"><%= t('back_office.various_element') %></label>
    <%= f.input :element_type, :label=> false, :collection =>{t("back_office.no")=>1,t('back_office.yes')=>2},:include_blank=>false %>
    <%= f.submit t('back_office.add'), :class => "btn btn-custom-primary #{custom_button_class}" %>
    <% end %>
    <% end %>
  </div>
</section>
<div id="myTree">
  <%= render 'back_office/partials/nomenclature_trees', nomenclature: @nomenclature %>
</div>


<div class="modal fade" id="NomenclatureElementEditModal" tabindex="-1" role="dialog" aria-labelledby="myNewGLossaryElementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
