<% @title_for_layout = @brand = t('back_office.profile') %>
<% @help = t('back_office.profile_intro') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>



<%= render :layout => 'back_office/partials/dashboard' do %>
<section class="mb20">
  <div class="row">
    <div class="col-sm-12">
      <div class="setting_edit">
        <div class="panel-header">
          <%= t('back_office.general') %>
          <div class="pull-right small mr5"></div>
        </div>
        <div class="panel-body pt0 pb0 pl0 pr0 inline-block bg-white">
          <%# APP LANGUAGE %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.language') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div class="value"><%= @profile_locale.present? ? @profile_locale.name : t('back_office.languages.french') %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>false do |f| %>
                <%= f.input :default_locale, :collection =>{t('back_office.languages.french')=>"fr",t('back_office.languages.english') =>"en"} ,:label=>false, :include_blank=>false, :wrapper_html=>{:class=>"mb10"} %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# COUNTRY %>
          <div class="setting_edit_line row ml0 mr0" data-form="setupCountry">
            <div class="col-sm-4"><%= t('back_office.country') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupCountry" class="value"><%= @profile.country_name %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :country,:label=>false,:include_blank=>false,:input_html=>{:id=>'chosen-select-country'} %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt10 mb20">
  <div class="row">
    <div class="col-sm-12">
      <% if @my_provider.provider_id == "kangalou" %>
      <div class="greyBorder a-left bg-white center mb20">
        <div class="well well-sm mt10"><%= t('back_office.profile_warning') %></div>
        <div class="center mt10"><%= image_tag @profile.picture.url(:medium), :class => "img-responsive img-thumbnail" %></div>
        <div><%= "#{"#{t('back_office.first_name')} & #{t('back_office.last_name')}"} : #{@profile.first_name} #{@profile.last_name}"  %></div>
        <div><%= "#{t('back_office.email')} : #{@profile.email}"  %></div>
        <div><%= "#{t('back_office.phone')} : #{@profile.phone}"  %></div>
        <div class="a-right mb10"><%= link_to t('back_office.manage_kangalou_profile'),"https://client.kangalou.com/fr/membre/informations/", :class => "btn btn-md #{custom_button_class_secondary} ",:target => "blank" %></div>
      </div>
      <% end %>
      <div class="setting_edit">
        <div class="panel-header">
          <%= t('back_office.contact') %>
          <div class="pull-right small mr5"></div>
        </div>
        <div class="panel-body pt0 pb0 pl0 pr0 inline-block bg-white">
          <% unless @my_provider.provider_id == "kangalou" %>
          <%# PROFIL PICTURE %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4">
              <%= t('back_office.profile_picture') %>
            </div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupPicture_info" class="value"><%= image_tag @profile.picture.url(:small),:style=>"width:75px;",:class=>"img-thumbnail bg-grey" %></div>
              <div id="setupPicture_form" class="form">
                <%= image_tag @profile.picture.url(:small),:style=>"width:75px;",:class=>"img-thumbnail bg-grey" %>
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true,:html=>{:id=>'form_setupPicture'} do |f| %>
                <%= f.input :picture,:label=>false %>
                <a id="changePictureLink" href="#"><%= t('back_office.change') %></a> | <%= link_to t('back_office.delete'), dashboard_profile_remove_picture_path(@user.username),:remote=>true %> | <a href="#" class="closeAction"><%= t('back_office.cancel') %></a>
                <% end %>
              </div>
            </div>
          </div>
          <%# FIRST NAME & LAST NAME %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= "#{t('back_office.first_name')} & #{t('back_office.last_name')}" %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupPublicName_info" class="value"><%= "#{@profile.first_name} #{@profile.last_name}" %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <div class="row">
                  <div class="col-sm-6 pr5">
                    <%= f.input :first_name,:label=>false, :placeholder=>t('activerecord.attributes.profile.first_name'), :wrapper_html=>{:class=>"mb10"} %>
                  </div>
                  <div class="col-sm-6 pl5">
                    <%= f.input :last_name,:label=>false,:placeholder=>t('activerecord.attributes.profile.last_name'), :wrapper_html=>{:class=>"mb10"} %>
                  </div>
                </div>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# EMAIL %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4">
              <%= t('back_office.email_communication') %>
            </div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupMail_info" class="value"><%= @profile.email %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :email, :wrapper_html=>{:class=>"mb10"}, :label=>false %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# PHONE %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.phone') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div class="value"><span id="setupPhone_info" class="ml5"><%= @profile.phone %></span></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :phone,:label=>false,:wrapper => :prepend, :wrapper_html=>{:class=>"mb10"} do %>
                <%= f.input_field :phone,:class=>'withUpdate',:data=>{:input=>'phoneDiv'}, :wrapper_html=>{:class=>"mb10"} %>
                <% end %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <%# PHONE SMS %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.phone_sms') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div class="value"><span id="setupPhoneSms_info" class="ml5"><%= @profile.phone_sms %></span></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :phone_sms,:label=>false,:wrapper => :prepend, :wrapper_html=>{:class=>"mb10"} do %>
                <%= f.input_field :phone_sms,:class=>'withUpdate',:data=>{:input=>'phoneSmsDiv'}, :wrapper_html=>{:class=>"mb10"} %>
                <% end %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# PHONE VISIBILITY %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.phone_visibility') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupPhoneVisiblity_info" class="value"><%= @profile.phone_visibility == 0 ? t('back_office.no_non') : t('back_office.yes_oui')%></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :phone_visibility, :collection =>{t('back_office.no_non')=>0,t('back_office.yes_oui') => 1} ,:label=>false, :include_blank=>false, :wrapper_html=>{:class=>"mb10"} %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# LANGUAGES  %>
          <div class="setting_edit_line row ml0 mr0" data-form="setupLanguages">
            <div class="col-sm-4"><%= t('back_office.spoken_languages') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupLanguages_info" class="value">
                <%= render :partial => "back_office/partials/profile_languages", locals: { :my_languages => @profile.spoken_languages.present? ? @profile.spoken_languages.split(",") : nil }  %>
              </div>
              <div class="form" id="setupLanguages_form">
                <select multiple id="chosen-select-languages">
                  <% LanguageList::ALL_LANGUAGES.each do |lang|%>
                  <option <% if @profile.spoken_languages.present? and @profile.spoken_languages.split(",").include?(lang.iso_639_1) %> selected <% end %>  value="<%= lang.iso_639_1 %>"><%= lang.name %></option>
                  <% end %>
                </select>
                <div class="mt10">
                  <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                  <%= f.input :spoken_languages,:label=>false,:as=>"hidden" %>
                  <div class="pull-right">
                    <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                    <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt10 mb20">
  <div class="row">
    <div class="col-sm-12">
      <div class="setting_edit">
        <div class="panel-header">
          <%= t('back_office.company') %>
          <div class="pull-right small mr5"></div>
        </div>
        <div class="panel-body panel-body pt0 pb0 pl0 pr0 inline-block bg-white">
          <%# Logo %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.logo') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupLogo_info" class="value"><%= image_tag @profile.logo.url(:small),:style=>"width:75px;",:class=>"img-thumbnail bg-grey" %></div>
              <div id="setupLogo_form" class="form">
                <%= image_tag @profile.logo.url(:small),:style=>"width:75px;",:class=>"img-thumbnail bg-grey" %>
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true,:html=>{:id=>'form_setupLogo'} do |f| %>
                <%= f.input :logo,:label=>false %>
                <a id="changeLogoLink" href="#"><%= t('back_office.change') %></a> | <%= link_to t('back_office.delete'), dashboard_profile_remove_logo_path(@user.username),:remote=>true %> | <a href="#" class="closeAction"><%= t('back_office.cancel') %></a>
                <% end %>
              </div>
            </div>
          </div>
          <%# Agency Name %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.agency_name') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupAgencyName_info" class="value"><%= @profile.agency_name %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :agency_name,:label=>false ,:input_html=>{:class=>'withUpdate',:data=>{:input=>'agencyNameDiv'}}%>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# Agency Address %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.agency_address') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupAgencyAddress_info" class="value"><%= render :partial => "back_office/partials/profile_agency_address", locals: {profile: @profile} %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :agency_address,:input_html=>{:class=>'withUpdate',:data=>{:input=>'agency_addressDiv'}}%>
                <%= f.input :agency_city,:input_html=>{:class=>'withUpdate',:data=>{:input=>'agencyCityDiv'}}%>
                <%= f.input :agency_zipcode ,:input_html=>{:class=>'withUpdate',:data=>{:input=>'agencyZipDiv'}}%>
                <%= f.input :agency_province ,:input_html=>{:class=>'withUpdate',:data=>{:input=>'agencyProvinceDiv'}}%>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# PRO USER %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.show_pro_page') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupProUser_info" class="value"><%= @profile.is_a_pro_user == 0 ? t('back_office.no_non') : t('back_office.yes_oui') %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :is_a_pro_user, collection: {t('back_office.no_non')=>0,t('back_office.yes_oui') => 1},:label=>false,:include_blank=>false %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt20 mb20">
  <div class="row">
    <div class="col-sm-12">
      <div class="setting_edit">
        <div class="panel-header">
          <%= t('back_office.other') %>
          <div class="pull-right small mr5"></div>
        </div>
        <div class="panel-body panel-body pt0 pb0 pl0 pr0 inline-block bg-white">
          <%# COLORS %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.colors') %></div>
            <div class="col-sm-8">
              <div id="setupColors_info" class="value"><%= render :partial => "back_office/partials/profile_colors", locals: {profile: @profile} %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <div class="row mr0 ml0">
                  <div class="col-sm-12 pr0 pl0">
                    <label><%= t('back_office.color_1').html_safe %></label>
                    <%= f.input :primary_color, as: :minicolors,:label=>false, :input_html=>{:class=>"form-control pl40",:data =>{ minicolors: {theme: :bootstrap, :position =>"bottom left"}}} %>
                    <label><%= t('back_office.color_2').html_safe %></label>
                    <%= f.input :secondary_color, as: :minicolors,:label=>false, :input_html=>{:class=>"form-control pl40",:data =>{ minicolors: {theme: :bootstrap, :position =>"top left"}}} %>
                  </div>
                </div>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# Job (texte de prรฉsentation) %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.baseline_of_presentation').html_safe %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupJob_info" class="value"><%= @profile.job %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <span><%= t('back_office.languages.french') %></span>
                <%= f.input :job_fr,:label=>false %>
                <span><%= t('back_office.languages.english') %></span>
                <%= f.input :job_en,:label=>false %>
                <span><%= t('back_office.languages.german') %></span>
                <%= f.input :job_de,:label=>false %>
                <span><%= t('back_office.languages.dutch') %></span>
                <%= f.input :job_nl,:label=>false %>
                <span><%= t('back_office.languages.italiano') %></span>
                <%= f.input :job_it,:label=>false %>
                <span><%= t('back_office.languages.spanish') %></span>
                <%= f.input :job_es,:label=>false %>
                <span><%= t('back_office.languages.portuguese') %></span>
                <%= f.input :job_pt,:label=>false %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# Baseline %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.baseline') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupBaseline_info" class="value"><%= @profile.baseline %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <span><%= t('back_office.languages.french') %></span>
                <%= f.input :baseline_fr,:label=>false %>
                <span><%= t('back_office.languages.english') %></span>
                <%= f.input :baseline_en,:label=>false %>
                <span><%= t('back_office.languages.german') %></span>
                <%= f.input :baseline_de,:label=>false %>
                <span><%= t('back_office.languages.dutch') %></span>
                <%= f.input :baseline_nl,:label=>false %>
                <span><%= t('back_office.languages.italiano') %></span>
                <%= f.input :baseline_it,:label=>false %>
                <span><%= t('back_office.languages.spanish') %></span>
                <%= f.input :baseline_es,:label=>false %>
                <span><%= t('back_office.languages.portuguese') %></span>
                <%= f.input :baseline_pt,:label=>false %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# Bio %>
          <div class="setting_edit_line row ml0 mr0" data-form="setupBio">
            <div class="col-sm-4"><%= t('back_office.about') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupBio_info" class="value"><%= truncate(strip_tags(simple_format(@profile.bio)),:length=>100) %></div>
              <div class="form" id="setupBio_form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#bio_fr" aria-controls="bio_fr" role="tab" data-toggle="tab"><%= t('back_office.languages.french') %></a></li>
                  <li role="presentation"><a href="#bio_en" aria-controls="bio_en" role="tab" data-toggle="tab"><%= t('back_office.languages.english') %></a></li>
                  <li role="presentation"><a href="#bio_de" aria-controls="bio_de" role="tab" data-toggle="tab"><%= t('back_office.languages.german') %></a></li>
                  <li role="presentation"><a href="#bio_ml" aria-controls="bio_ml" role="tab" data-toggle="tab"><%= t('back_office.languages.dutch') %></a></li>
                  <li role="presentation"><a href="#bio_it" aria-controls="bio_it" role="tab" data-toggle="tab"><%= t('back_office.languages.italian') %></a></li>
                  <li role="presentation"><a href="#bio_es" aria-controls="bio_es" role="tab" data-toggle="tab"><%= t('back_office.languages.spanish') %></a></li>
                  <li role="presentation"><a href="#bio_pt" aria-controls="bio_pt" role="tab" data-toggle="tab"><%= t('back_office.languages.portuguese') %></a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="bio_fr">
                    <%= f.input :bio_fr,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_en">
                    <%= f.input :bio_en,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_de">
                    <%= f.input :bio_de,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_nl">
                    <%= f.input :bio_nl,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_it">
                    <%= f.input :bio_it,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_es">
                    <%= f.input :bio_es,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bio_pt">
                    <%= f.input :bio_pt,:as=> 'text',:label=>false,:input_html=>{:rows=>20,:class=>"froala"} %>
                  </div>
                </div>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# WEBSITE %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.website') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupWebsite_info" class="value"><%= @profile.website %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :website, :label=>false,:wrapper => :prepend do %>
                <span class="input-group-addon"><span class="">http://</span></span>
                <%= f.input_field :website, :class=>"url" %>
                <% end %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <%# SOCIAL NETWORKS %>
          <div class="setting_edit_line row ml0 mr0">
            <div class="col-sm-4"><%= t('back_office.socials_networks') %></div>
            <div class="col-sm-8">
              <i class="fa fa-pencil pull-right"></i>
              <div id="setupSocialLinks_info" class="value"><%= render :partial => "back_office/partials/profile_social_links", locals: {profile: @profile} %></div>
              <div class="form">
                <%= simple_form_for @profile,:url=>dashboard_profile_update_path,:remote=>true do |f| %>
                <%= f.input :facebook %>
                <%= f.input :twitter %>
                <%= f.input :linkedin %>
                <%= f.input :pinterest %>
                <%= f.input :google_plus %>
                <%= f.input :instagram %>
                <div class="pull-right">
                  <a href="#" class="closeAction btn btn-custom-default  btn-sm"><%= t('back_office.cancel') %></a>
                  <%= f.submit t("back_office.save"), :class => "btn btn-sm #{custom_button_class_secondary} "%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = true;
window.froala_upload_url = "<%= dashboard_wysiwyg_picture_manager_path(@user.username,:id => @profile.id,:asset_type =>"profile") %>";
window.frola_delete_url = "<%= dashboard_wysiwyg_picture_delete_path(@user.username,:id => @profile.id) %>";
<% end %>




