<% @title_for_layout = @brand = "#{t('back_office.ad')} ##{@property.id}" %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>


<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=#{I18n.locale}"%> "></script>
<% end %>


<div class="container pt20">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="grey-border">
        <div class="panel-header"><%= @brand %></div>
        <ul id="sidebar_my_services">
          <li class="active"><a href="#step1"><%= t('back_office.address') %></a></li>
          <li><a href="#step2"><%= t('back_office.general') %></a></li>
          <li><a href="#step3"><%= t('back_office.descriptions') %></a></li>
          <li><a href="#step4"><%= t('back_office.other') %></a></li>
          <li><a href="#step5"><%= t('back_office.pictures') %></a></li>
          <li><a href="#step6"><%= t('back_office.features') %></a></li>
          <li><a href="#step7"><%= t('back_office.contacts') %></a></li>
          <li><a href="#step8"><%= t('back_office.documents') %></a></li>
        </ul>
      </div>
    </div>
    <div id="annonce_form_right" class="col-sm-8 col-md-9">
      <%= simple_form_for @property, :url=>dashboard_property_update_path, :remote =>false, :defaults => {:input_html => { :class => 'form-control' },:label_html=> { :class=> '' }},:html => {:id=>'PropertyGeneralForm',:data =>{:model=>"property"}} do |f| %>
      <div class="mb20">
        <%= link_to "#{t('back_office.quit')}".html_safe, dashboard_path(@user.username), :class=> "btn btn-custom-default" %>
        <%= f.submit "#{t('back_office.save')}".html_safe, :class=> "btn #{custom_button_class_secondary}" %>
      </div>
      <%# ADDRESS %>
      <div id="step1" class="step" >
        <label><%= t('back_office.hint_address') %><a class="mt20 ml10 fs12 collapse-link collapsed color-link" role="button" data-toggle="collapse" href="#address-details" aria-expanded="false" aria-controls="collapseExample"><%= "(#{t('back_office.address_details')})" %></a></label>
        <%= f.input :address,:input_html =>{:id => 'gmaps-input-address'},:label=> false %>
        <div class="row mt10">
          <div class="col-sm-12">
            <div class="svgContainer ratio_50"><div id="mapContainer"></div></div>
          </div>
        </div>
        <div class="collapse mt20" id="address-details">
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :street_number %>
            </div>
            <div class="col-sm-6">
              <%= f.input :administrative_area_level_2 %>
              <%= f.input :latitude, :input_html => {:value => @property.latitude ||    @lat},:as =>"hidden"  %>
              <%= f.input :longitude,:input_html => {:value => @property.longitude ||   @lng}, :as =>"hidden" %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :street_name %>
            </div>
            <div class="col-sm-6">
              <%= f.input :administrative_area_level_1 %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :sublocality %>
            </div>
            <div class="col-sm-6">
              <%= f.input :country_short  %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6">
              <%= f.input :locality %>
            </div>
            <div class="col-sm-6 ">
              <%= f.input :zipcode %>
            </div>
          </div>
        </div>
        <hr>
        <%# BUILDING %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :unit %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :level,collection: 1..100, :include_blank=>false, :prompt=> t('activerecord.attributes.property.no_floor') %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :building_id, :collection => Proc.new{ @buildings.map{ |b| ["##{b.id}-#{b.name} #{b.address.present? ? "(#{b.address})" : nil }", b.id]}}, :include_blank=>true %>
          </div>
        </div>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :address_visibility, :collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
          </div>
        </div>
      </div>

      <%# GENERAL %>
      <div id="step2" class="step" style="display:none">
        <%# LINE 1 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :draft,:input_html => {:value =>0},:as=>'hidden' %>
            <%= f.input :status, :collection => { t('back_office.offline') => 0, t('back_office.online') => 1}, :include_blank => false %>
          </div>
          <div class="col-sm-6 col-md-4">
            <% if @property.api_provider.present? and ApiProvider.where.not(:name => "shareimmo").pluck(:id).include?(@property.api_provider_id) %>
            <%= f.input :is_sync_with_api,:collection => ApiProvider.where(:id =>UserPortalProvider.where(:user_id=>@user.id).pluck(:api_provider_id)), :label => "#{t('back_office.sync_with')}",:include_blank => t('activerecord.attributes.property.not_specified'),:label_method => lambda { |api_provider| api_provider.display_name.present? ?  api_provider.display_name : api_provider.name } %>
            <% end %>
          </div>
        </div>
        <%# LINE 2 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.association :property_listing,:include_blank => false %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :property_classification_id, collection: PropertyClassificationCategory.all,:include_blank=>false, as: :grouped_select, group_method: :property_classifications,:group_label_method => 'name',:label_method => lambda { |cat| "#{cat.name}"}, :label_html => {:class=>"mt0"} %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.association :property_flag, :include_blank => t('activerecord.attributes.property.not_specified') %>
          </div>
        </div>
        <%# LINE 3 %>
        <div class="row mt5 mb20" id="general-sell">
          <div class="col-sm-6 col-md-4">
            <div class="relative">
              <%= f.input :price, :input_html=>{:class=>"input-with-select"} %>
              <%= f.input :currency, :input_html => {:class => "currency"}, :collection=>@currencies,:label=> false, :label_method=>lambda { |cur| ("#{cur.symbol} #{cur.iso_code}") },:value_method=>:iso_code,:include_blank=> false,:selected => @property.currency.blank? ? 'CAD' : @property.currency %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <%= f.input :price_from, :as=>"boolean", :wrapper_html => false,:input_html=>{:class=>"mr5"} %>
            <%= f.input :price_with_tax, :as=>"boolean", :wrapper_html => false,:input_html=>{:class=>"mr5"} %>
          </div>
        </div>
        <hr>
        <%# LINE 3 RENT %>
        <div id="general-rent">
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <div class="relative">
                <%= f.input :rent, :input_html=>{:class=>"input-with-select"} %>
                <%= f.input :currency, :input_html => {:class => "currency"}, :collection=>@currencies,:label=> false ,:label_method=>lambda { |cur| ("#{cur.symbol} #{cur.iso_code}") },:value_method=>:iso_code,:include_blank=> false,:selected => @property.currency.blank? ? 'CAD' : @property.currency %>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= f.input :rent_frequency, :collection => {"journalier (1 jour)"=>1,"hebdomadaire (7 jours)"=>7,"mensuel (30 jours)"=>30,"trimestriel (3 mois)"=>90,"semestriel (6 mois)"=>180,"annuel (12 mois)"=>360},:include_blank=>false %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= f.input :fees, :input_html=>{:class=>"input-with-select"} %>
              <span class="currency-disabled">$ CAD</span>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= f.input :deposit, :input_html=>{:class=>"input-with-select"} %>
              <span class="currency-disabled">$ CAD</span>
            </div>
          </div>
        </div>
        <hr>
        <%# LINE 4 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <div class="relative">
              <%= f.input :area_living, :input_html => {:class=>"input-with-select"} %>
              <%= f.association :area_unit, :input_html => {:class => "surface_unit"}, :label_html => {:style=>'display:none;'} ,:label_method=>lambda { |area| ("#{area.ref}") }, :include_blank=>false %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :area_land, :input_html=>{:class=>"input-with-select"} %>
            <span class="surface-disabled">m2</span>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :area_balcony, :input_html=>{:class=>"input-with-select"} %>
            <span class="surface-disabled">m2</span>
          </div>
        </div>
        <hr>
        <%# LINE 5 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :rooms,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>100} %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :bedrooms,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>100} %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :bathrooms, :input_html => {:class=>"bootstrapNumber",:min =>1, :max =>100} %>
          </div>
        </div>
        <%# LINE 6 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :showerrooms,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>100} %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :toilets,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>100} %>
          </div>
        </div>
      </div>
      <%# DESCRIPTION %>
      <div id="step3" class="step" style="display:none">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#desc_fr" aria-controls="desc_fr" role="tab" data-toggle="tab"><%= t('back_office.languages.french') %></a></li>
          <li role="presentation"><a href="#desc_en" aria-controls="desc_en" role="tab" data-toggle="tab"><%= t('back_office.languages.english') %></a></li>
          <li role="presentation"><a href="#desc_de" aria-controls="desc_de" role="tab" data-toggle="tab"><%= t('back_office.languages.german') %></a></li>
          <li role="presentation"><a href="#desc_nl" aria-controls="desc_nl" role="tab" data-toggle="tab"><%= t('back_office.languages.dutch') %></a></li>
          <li role="presentation"><a href="#desc_it" aria-controls="desc_it" role="tab" data-toggle="tab"><%= t('back_office.languages.italian') %></a></li>
          <li role="presentation"><a href="#desc_es" aria-controls="desc_es" role="tab" data-toggle="tab"><%= t('back_office.languages.spanish') %></a></li>
          <li role="presentation"><a href="#desc_pt" aria-controls="desc_pt" role="tab" data-toggle="tab"><%= t('back_office.languages.portuguese') %></a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="desc_fr">
            <%= f.input :title_fr, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_fr, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_fr,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_fr, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_en">
            <%= f.input :title_en, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_en, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_en,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_en, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_de">
            <%= f.input :title_de, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_de, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_de,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_de, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_nl">
            <%= f.input :title_nl, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_nl, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_nl,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_nl, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_it">
            <%= f.input :title_it, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_it, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_it,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_it, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_es">
            <%= f.input :title_es, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_es, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_es,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_es, :wrapper_html=>{:class=>"mt10"} %>
          </div>
          <div role="tabpanel" class="tab-pane" id="desc_pt">
            <%= f.input :title_pt, :wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_short_pt, :input_html => {:class=>"textarea-noresize",:rows=>5}, :as => :text,:wrapper_html=>{:class=>"mt10 mb10"} %>
            <%= f.input :description_pt,:as=> 'text',:input_html=>{:class=>"froala"},:label =>false  %>
            <%= f.input :property_url_pt, :wrapper_html=>{:class=>"mt10"} %>
          </div>
        </div>
      </div>
      <%# DIVERS %>
      <div id="step4" class="step" style="display:none">
        <%# LINE 1 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :tax_1, :input_html=>{:class=>"input-with-select"} %>
            <span class="currency-disabled">$ CAD</span>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :tax_2, :input_html=>{:class=>"input-with-select"} %>
            <span class="currency-disabled">$ CAD</span>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :income, :input_html=>{:class=>"input-with-select"} %>
            <span class="currency-disabled">$ CAD</span>
          </div>
        </div>
        <hr>
        <%# LINE 2 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :year_of_built, :label_html => {:class=>"mt0"},:placeholder =>"YYYY" %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :cadastre,:placeholder => "xxx-xxx-xxx-xxx" %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.association :property_status,:include_blank => false %>
          </div>
        </div>
        <hr>
        <%# LINE 3 %>
        <div class="row mt5 mb20">
          <div class="col-sm-6 col-md-4">
            <%= f.input :availability_date,:as => :string,:input_html => {:class => 'form-control pickadate'} %>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= f.input :is_luxurious, :collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
          </div>
        </div>
        <%# LINE 4 %>
        <div class="row mt5 mb20">
          <div class="col-sm-12 col-md-8">
            <%= f.input :rhinov_link ,:as => :string %>
          </div>
        </div>
        <hr>
        <%= f.simple_fields_for :property_complement do |ff| %>
        <%# FRANCE LINES %>
        <section id="complement_FR" class="complement_infos" style="display:none">
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_dpe_indice, :collection => {"A"=>"A","B"=>"B","C"=>"C","D"=>"D","E"=>"E","F"=>"F","G"=>"G"} %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_dpe_value,:input_html=>{:class=>"input-with-select"} %>
              <span class="input-unity">kWh/m²</span>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_dpe_id, :placeholder => "xxx-xxx-xxx-xxx" %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_ges_indice, :collection => {"A"=>"A","B"=>"B","C"=>"C","D"=>"D","E"=>"E","F"=>"F","G"=>"G","H"=>"H","I"=>"I"} %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_ges_value %>
              <span class="input-unity">Kg co²/m²/an</span>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_rent_honorary,:input_html=>{:class=>"input-with-select"} %>
              <span class="currency-disabled">$ CAD</span>
            </div>
          </div>
          <div class="h3 bold color-secondary">Loi Alur</div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_alur_is_condo, :collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_alur_units,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>50} %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_alur_uninhabitables,:input_html => {:class=>"bootstrapNumber",:min =>1, :max =>50} %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_alur_spending,:input_html=>{:class=>"input-with-select"} %>
              <span class="currency-disabled">$ CAD</span>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_alur_legal_action,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :france_mandat_exclusif, :collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
            </div>
          </div>
        </section>
        <%# BELGIUM LINES %>
        <section id="complement_BE" class="complement_infos" style="display:none">
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_peb_indice, :collection => {"A"=>"A","B"=>"B","C"=>"C","D"=>"D","E"=>"E","F"=>"F","G"=>"G"} %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_peb_value,:input_html=>{:class=>"input-with-select"} %>
              <span class="input-unity">kWh/m²</span>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_peb_id,:placeholder => "xxx-xxx-xxx-xxx"  %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_building_permit,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_done_assignments,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_preemption_property,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_subdivision_permits,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_sensitive_flood_area,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_delimited_flood_zone,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
          </div>
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :belgium_risk_area,:collection => { t('back_office.no_non') => 0 , t('back_office.yes_oui') => 1}, :include_blank => t('activerecord.attributes.property.not_specified') %>
            </div>
          </div>
        </section>
        <%# CANADA LINES %>
        <section id="complement_CA" class="complement_infos" style="display:none">
          <div class="row mt5 mb20">
            <div class="col-sm-6 col-md-4">
              <%= ff.input :canada_mls,:placeholder => "xxx-xxx-xxx-xxx" %>
            </div>
          </div>
        </section>
        <% end %>
      </div>
      <% end %>
      <%# PHOTOS %>
      <div id="step5" class="step" style="display:none">
        <%= simple_form_for PropertyAsset.new, :url=>dashboard_property_asset_create_path(@user.username,@property.secure_id),:html =>{:multipart => true} do |f| %>
        <%= f.input :property_id, :input_html=>{:value=>@property.id},:as=>'hidden' %>
        <div id="dropzone" class="block-dashed">
          <h4 ><%= t('back_office.drop_here') %></h4>
          <p class="<%= custom_button_class %> inline-block pointer withShadow pt4 pb6 pl10 pr10 mt20 mb0" id="input_file_button"><%= t('back_office.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
          <%= f.file_field :picture, :multiple => true, :name => 'property_asset[picture]', :class=>"hide input-file" %>
        </div>
        <script id="template-upload" type="text/x-tmpl">
        <div class="upload"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">{%=o.name%}</div></div></div>
        </script>
        <% end %>
        <ul id="my-ui-list-picture" class="list-inline row mt20 pl10 pr10" data-sort_url="<%= dashboard_sort_property_pictures_path(@user.username,@property.secure_id)%>">
          <% @property.property_assets.each do |asset| %>
          <%= render :partial => "back_office/partials/property_asset", locals: {property_asset: asset, :user => @user, :secure_id=>@property.secure_id} %>
          <% end %>
        </ul>
      </div>
      <%# FEATURES %>
      <div id="step6" class="step" style="display:none">
        <div id="annonce_form_right_caract">
          <%= simple_form_for @inclusion,:remote=>true,:url=> dashboard_property_inclusion_update_path(@user.username,@property.secure_id,@inclusion.id),:defaults => {:input_html => { :class => 'mr5' }} do |f| %>
          <h5><%= t('back_office.orientation') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :orientation_north, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :orientation_south, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :orientation_west, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :orientation_east, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5 class="mt0"><%= t('back_office.equipments') %></h5>
          <ul class="list-inline mb40">
            <li> <%= f.input :inclusion_air_conditioning, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_hot_water,        :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_heated,           :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_electricity,      :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_furnished,        :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_fridge,           :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_cooker,           :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_dishwasher,       :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_washer,           :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_dryer,            :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li> <%= f.input :inclusion_microwave,        :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.details') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :detail_elevator, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_laundry, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_garbage_chute, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_common_space, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_janitor, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_gym, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_sauna, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_spa, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_inside_pool, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_outside_pool, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_inside_parking, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_outside_parking, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_parking_on_street, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :detail_garagebox, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.indoor_features') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :indoor_attic, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_cellar, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_central_vacuum, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_entries_washer_dryer, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_entries_dishwasher, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_fireplace, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_storage, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_walk_in, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_no_smoking, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_double_glazing, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :indoor_triple_glazing, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.exterior_features') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :exterior_land_access, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_back_balcony, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_front_balcony, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_private_patio, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_storage, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_terrace, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_veranda, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :exterior_garden, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.floor_covering') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :floor_carpet, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_wood, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_floating, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_ceramic, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_parquet, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_cushion, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_vinyle, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_lino, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :floor_marble, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.half_furnsihed') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :half_furnsihed_living_room, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :half_furnsihed_rooms, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :half_furnsihed_kitchen, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :half_furnsihed_other, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.senior') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :senior_autonomy, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_half_autonomy, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_no_autonomy, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_meal, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_nursery, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_domestic_help, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_community, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_activities, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_validated_residence, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :senior_housing_cooperative, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.accessibility') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :accessibility_elevator, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :accessibility_balcony, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :accessibility_grab_bar, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :accessibility_wider_corridors, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :accessibility_lowered_switches, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :accessibility_ramp, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.pets') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :pets_allow, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :pets_cat, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :pets_dog, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :pets_little_dog, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :pets_cage_aquarium, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :pets_not_allow, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.services') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :service_internet, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :service_tv, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :service_tv_sat, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :service_phone, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.heating') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :heating_electric, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_solar, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_gaz, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_condensation, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_fuel, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_heat_pump, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :heating_floor_heating, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.composition') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :composition_bar, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :composition_living, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :composition_dining, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :composition_separe_toilet, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :composition_open_kitchen, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.transport') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :transport_bicycle_path, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :transport_public_transport, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :transport_public_bike, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :transport_subway, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :transport_train_station, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <h5><%= t('back_office.security') %></h5>
          <ul class="list-inline mb40">
            <li><%= f.input :security_guardian, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :security_alarm, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :security_intercom, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :security_camera, :as=>"boolean", :wrapper => "my_checkbox" %></li>
            <li><%= f.input :security_smoke_dectector, :as=>"boolean", :wrapper => "my_checkbox" %></li>
          </ul>
          <% end %>
        </div>
      </div>
      <%# CONTACTS %>
      <div id="step7" class="step" style="display:none">
        <%= minimal_form_for :property_contact , :url => dashboard_property_contact_property_add_path(@user.username,@property.id),:html => {:id => "propertyContactForm"}, :remote => true do |f| %>
        <div class="input-group">
          <%= f.input :property_contact_id, :as => :hidden %>
          <%= f.input_field :contact, :placeholder =>"#{t('back_office.first_name')} - #{t('back_office.last_name')} - #{t('back_office.email')}",:class=>"form-control typeahead" %>
          <span class="input-group-btn">
            <%= f.submit :class =>"btn btn-default", :value => t('back_office.add'),:wrapper_html => nil %>
          </span>
        </div>
        <% end %>
        <div class="mt5" id="myPropertyContacts">
          <%= render :partial => "back_office/partials/property_contacts", locals: {property_contacts: @property.property_contacts} %>
        </div>
      </div>
      <%# DOCUMENTS %>
      <div id="step8" class="step" style="display:none">
        <%= link_to t('back_office.add'), dashboard_property_document_new_path(@user.username,@property.id),:class=>"btn btn-default",:remote => true %>
        <div class="mt5" id="myPropertyDocuments">
          <%= render :partial => "back_office/partials/property_documents", locals: {documents: @property.documents} %>
        </div>
      </div>
    </div>
  </div>
</div>


<%# Document %>
<div class="modal fade" id="myModalPropertyDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<%= javascript_tag do %>
window.model_lat = <%= @lat %>;
window.model_lng = <%= @lng %>;
<%end %>

<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = false;
window.froala_upload_url = "<%= dashboard_wysiwyg_picture_manager_path(@user.username,:id => @property.id,:asset_type =>"property") %>";
window.frola_delete_url = "<%= dashboard_wysiwyg_picture_delete_path(@user.username,:id => @property.id) %>";
window.property_contacts = <%= raw @property_contacts.to_json %>;
<% end %>

