<% @title_for_layout = @brand = t('back_office.contacts') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render "back_office/partials/submenu" %>


<%= render :layout => 'back_office/partials/dashboard' do %>


<div class="modal fade" id="myModalPropertyContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<%= link_to t('back_office.add'),dashboard_property_contact_new_path,:remote => true ,:class=>"btn #{custom_button_class}" %>
<div class="mt5" id="myPropertyContacts">
  <%= render :partial => "back_office/partials/property_contacts", :locals => {:property_contacts => @property_contacts} %>
</div>
<% end %>
