<% @title_for_layout = @brand = t('back_office.services') %>
<%= render 'layouts/partials/generic_meta' %>
<%= render "back_office/partials/submenu" %>


<%= render :layout => 'back_office/partials/dashboard' do %>
<div id="services" class="mt20">
  <%# Activated services %>
  <div class="mb10 color-secondary h4"><%= t('back_office.services_activated') %></div>
  <% @services_activated.each do |service_activated| %>
  <% sa = service_activated[:service] %>
  <div class="single-service mb5">
    <div class="header relative">
      <div class="title pointer">
        <i class="fa fa-angle-right mr7"></i><%= sa.name %>
      </div>
    </div>
    <div class="more-infos row mr0 ml0">
      <div class="col-md-3 picto pr0 pl0">
        <%= image_tag "shareimmo/services/#{sa.slug}_color.svg", :class=>"img-responsive" %>
      </div>
      <div class="col-md-9 right">
        <p class="pt10"><%= sa.description %></p>
        <div class="bottom-row">
          <div class="row">
            <div class="col-xs-6">
              <%= simple_form_for service_activated[:services_user], :remote => true,  :url => dashboard_services_display_path(@user.username,service_activated[:services_user].id),:html=>{:id=>"service_display_form_#{service_activated[:services_user].id}"} do |f|  %>
              <%= f.input :on_marketing_page, :as =>"boolean", :wrapper_html=>false, :label_html =>{:class=>"mt0 mb0"},:label=>t('back_office.display_on_my_marketing_page'), :input_html=>{:class=>"mr5", :onChange =>"$('#service_display_form_#{service_activated[:services_user].id}').submit()"} %>
              <% end %>
            </div>
            <div class="col-xs-6 a-right">
              <%= link_to t('back_office.more'), sa.immosquare_link, :class=>"color-link",:target=>"_blank" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%# Others Services %>
  <div class="my-services mt50">
    <div class="mb10 color-secondary h4"><%= t('back_office.services_others') %><small class="pointer color-grey ml10" data-toggle="modal" data-target="#myModal">(<i class="fa fa-plus mr5"></i><%= t('back_office.add') %>)</small></div>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= t('back_office.warning') %></strong>, <%= t('back_office.help_service') %>
    </div>
    <% CustomService.where(:user_id => @user.id).each do |sa| %>
    <div class="single-service">
      <div class="header relative">
        <div class="title pointer">
          <i class="fa fa-angle-right mr7"></i><%= sa.name %>
        </div>
      </div>
      <div class="more-infos row mr0 ml0">
        <div class="col-md-3 picto pr0 pl0">
          <%= image_tag sa.cover.url(:small), :class=>"img-responsive" %>
        </div>
        <div class="col-md-9 right">
          <p class="pt10"><%= sa.description %></p>
          <div class="bottom-row">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t('back_office.delete'),dashboard_services_delete_custom_path(@user.username,sa.id), :class=>"color-link mr5",:method=>"delete", :data=> {:confirm => t('back_office.are_you_sure')} %>
                <span data-toggle="modal" data-target="#<%= "myModalCustomService_#{sa.id}" %>" class="pointer color-link"><%= t('back_office.edit') %></span>
              </div>
              <div class="col-xs-6 a-right">
                <%= link_to t('back_office.more'), sa.link, :class=>"color-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%# services_inactivated %>
  <% if @services_inactivated.present? %>
  <div id="not-activated-services" class="mt50 pt20">
    <div class="mb10 color-secondary h4"><%= t('back_office.services_inactivated') %></div>
    <% @services_inactivated.each do |si| %>
    <div class="single-service mb15">
      <div class="more-infos row mr0 ml0">
        <div class="col-md-3 picto pr0 pl0">
          <%= image_tag "shareimmo/services/#{si.slug}_color.svg", :class=>"img-responsive" %>
        </div>
        <div class="col-md-9 right pt15">
          <h3><%= si.name %></h3>
          <p class="pt10"><%= si.description %></p>
          <div class="bottom-row">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t('back_office.more'), si.immosquare_link, :class=>"color-link", :target=>"_blank" %>
              </div>
              <div class="col-xs-6 a-right">
                <span data-toggle="modal" data-target="#<%= "myModalServiceInactive_#{si.id}" %>" class="activate color-white bold pt7 pointer pb8"><%= t('back_office.activate') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= simple_form_for CustomService.new(:user_id=>@user.id), :url => dashboard_services_add_custom_path(@user.username) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('back_office.services') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :user_id, :as => "hidden",:input_html => {:value => @user.id} %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :link %>
        <%= f.input :video_url %>
        <%= f.input :cover %>
      </div>
      <div class="modal-footer">
        <span class="btn btn-custom-default" data-dismiss="modal"><%= t('back_office.close') %></span>
        <%= f.submit t('back_office.add'), :class => "btn #{custom_button_class_secondary} withShadow" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<% CustomService.where(:user_id => @user.id).each do |sa| %>
<div class="modal fade" id="<%= "myModalCustomService_#{sa.id}"  %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= simple_form_for sa, :url => dashboard_services_edit_custom_path(@user.username,sa.id) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('back_office.services') %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :video_url %>
        <%= f.input :link %>
        <%= f.input :cover %>
      </div>
      <div class="modal-footer">
        <span class="btn btn-default" data-dismiss="modal"><%= t('back_office.close') %></span>
        <%= f.submit t('back_office.add'), :class => "btn #{custom_button_class_secondary} withShadow" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% @services_inactivated.each do |si| %>
<div class="modal fade" id="<%= "myModalServiceInactive_#{si.id}"  %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= simple_form_for Contact.new, :url => dashboard_services_activation_path(@user.username,si.id) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= si.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.input :user_id,:input_html => {:value => @user.id},:as =>"hidden" %>
        <%= f.input :service_id, :input_html => {:value => si.id},:as =>"hidden" %>
        <%= f.input :activation_required , :input_html => {:value => 1},:as =>"hidden"  %>
        <%= t('back_office.services_activation',:service =>  si.name).html_safe %>
      </div>
      <div class="modal-footer">
        <%= link_to t('back_office.see_prices'), si.immosquare_link, :class=>"btn btn-custom-default",:target => "_blank" %>
        <span class="btn btn-custom-default" data-dismiss="modal"><%= t('back_office.close') %></span>
        <%= f.submit t('back_office.activate'), :class => "btn #{custom_button_class_secondary} " %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

