<% @title_for_layout = @brand = t('back_office.testimonials') %>
<%= render 'layouts/partials/generic_meta' %>
<% @help = t('back_office.testimonials_intro') %>
<%= render 'back_office/partials/submenu'%>

<%= render :layout => 'back_office/partials/dashboard' do %>
<% if @my_provider.provider_id != "kangalou" %>
<%= link_to "<i class='fa fa-chevron-left'></i> #{t('back_office.back')}".html_safe,dashboard_services_path(@user.username, "website"),:class=>"btn btn-default" %>
<% end %>

<section class="pt20">
 <% if @testimonials.blank? %>
 <div class="center mt20">
  <div><%= image_tag "back_office/testimonial.png",:class=>"img-responsive",:style=>"max-width:200px" %></div>
  <div class="h1 mt20 <%= custom_color_class %>"><%= t('back_office.any_testimonial') %></div>
</div>
<% else %>
<div>
  <% @testimonials.each_with_index do |testi, x| %>
  <div id="testi_<%= testi.id %>" class="relative">
    <div class="row condo-info pb10  <%= x == 0 ? "pt0" : "pt10" %>">
      <section class="col-xs-12">
        <div class="image mr10"></div>
        <div class="ellipsis">
          <div class="h5"><%= testi.title %></div>
          <div class="color-grey"><%= testi.full_name.present? ? "#{t('back_office.from')} : #{testi.full_name}" : nil %></div>
          <div class="color-grey elli"><%= strip_tags testi.content %><span class="ml5 pointer <%= custom_color_class_secondary %>"  data-toggle="popover" data-placement="bottom" title="<%= testi.title %>" data-content="<%= testi.content %>"><i class="fa fa fa-question-circle"></i></span></div>
          <h6 class="mt5">
            <% if testi.status == 0 %><%= link_to t('back_office.activate'), dashboard_testimonials_active_path(@user.username,testi.id), :method => :post %><% else %> <span class="color-success"><%= t('back_office.active') %> <i class="fa fa-check"></i></span><% end %> |
            <%= link_to t('back_office.delete').html_safe, dashboard_testimonials_delete_path(@user.username,testi.id),:remote=>false,:method=>'delete', :data => { :confirm => t('back_office.are_you_sure') } %>
          </h6>
        </div>
      </section>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
