<% @title_for_layout = @brand = "#{t('back_office.theme')} - #{@theme_setting.theme.name}" %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'back_office/partials/submenu' %>

<%= content_for :head do %>
<script src="https://fast.wistia.net/assets/external/E-v1.js"></script>
<% end %>

<div class="container mt20 mb20">
  <%= link_to "<i class='fa fa-chevron-left'></i> #{t('back_office.back')}".html_safe,dashboard_apps_path(@user.username,:website =>1),:class=>"btn btn-default" %>
  <%= simple_form_for @theme_setting ,:url=>update_theme_setting_path(@user.username,@theme_setting.id),:remote=>true,:defaults => { :input_html => { :class => 'form-control' }},:html=>{:id=>'TemplateForm'} do |f| %>
  <%# Cover #1 %>
  <% if @theme_setting.theme.with_cover == 1 %>
  <div class="h3 mt20 mb5 underline"><span class="underline"><%= t('back_office.upload_your_picture') %></span><small class="ml10"><%= link_to "(#{t('back_office.delete')})", dashboard_theme_remove_cover_path(@user.username,@theme_setting,:cover_type => "website_cover"),:remote=>true,:method =>"delete"%></small></div>
  <%= f.input :id, :as=>:hidden %>
  <div id="coverContainer">
    <%= f.input :website_cover %>
    <%= image_tag @theme_setting.website_cover(:large), :class=>"img-responsive" %>
  </div>
  <hr>
  <% end %>
  <%# Cover #2 %>
  <% if @theme_setting.theme.with_cover_full_size == 1 %>
  <div class="h3 mt20 mb5 underline"><span class="underline"><%= t('back_office.upload_your_picture') %></span><small class="ml10"><%= link_to "(#{t('back_office.delete')})", dashboard_theme_remove_cover_path(@user.username,@theme_setting,:cover_type => "website_cover_full_size" ),:remote=>true,:method =>"delete",:id=>"removeWebsiteCoverFullSize" %></small></div>
  <%= f.input :id, :as=>:hidden %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= f.input :website_cover_full_size %>
      <div id="coverContainerFullSize">
        <%= image_tag @theme_setting.website_cover_full_size(:large), :class=>"img-responsive" %>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
  <%# Cover Background %>
  <% if @theme_setting.theme.with_background == 1 %>
  <div class="h3 mt30 mb20 underline"><%= t('back_office.or_choose_an_image') %></div>
  <%= f.input :wistia_id, :as=>"hidden"%>
  <%= f.input :img_id, :as =>"hidden" %>
  <% Array(1..55).in_groups_of(3,false) do |image_row| %>
  <div class="row mt5 mb5">
    <% image_row.each do |image| %>
    <div class="col-xs-4">
      <div class=" relative">
        <div class="absolute absolute-top-right mt5 mr8">
          <span class="labelActivBackground bg-primary pr4 pl3 color-white fs14 <%= @theme_setting.img_id ==  image ? "" : "hide"  %>"><%= t('back_office.actif') %></span>
          <button class="wistiaBtn btn <%= custom_button_class %>" data-type="video"  data-img="<%= "templates_backgrounds/bg_#{image}.jpg" %>"><%= t('back_office.choose_picture') %></button>
        </div>
        <%= image_tag "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{image}.jpg",:class=>"img-responsive" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>

