<footer>
  <div class="center fs10 mb5 mt20">
    © Copyright <%= Time.now.year %> IMMOSQUARE, Inc. All Rights Reserved.
    <% if user_signed_in? %>
    <%= link_to t("admin.title"), dashboard_path %>
    <% else %>
    <%= link_to t("admin.manager_access"), new_user_session_path, :class=>"" %>
    <% end %>
  </div>
</footer>
