<nav id="PixisNavbar" class="navbar navbar-default mt50">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path, :class=>"navbar-brand" do %>
      <%= image_tag "logo_pixis_large.png", :class=>"img-responsive",:id => "logoNavbar" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= controller_name == "dashboard" && action_name == "index" ? "active" : nil %>"><%= link_to t('app.dashboard'), dashboard_path, :class=> controller_name == "dashboard" && action_name == "index" ? "color-primary" : nil  %></li>
        <li class="<%= controller_name == "dashboard" && action_name == "history" ? "active" : nil %>"><%= link_to t('app.history'), history_path, :class=> controller_name == "dashboard" && action_name == "history" ? "color-primary" : nil  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @store_api.present? && @store_api["authorizations"]["tokens"].present? %>
        <li>
          <a href="#">
            <%= t('app.tokens_available') %>: <%= @store_api["authorizations"]["tokens"].first["tokens"] %>
          </a>
        </li>
        <li>
          <a href="<%= @store_api["authorizations"]["tokens"].first["refill_link"] %>" target="_blank"><%= t("app.refill") %></a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>