<!DOCTYPE html>
<html>
<head>
  <title>Pixis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>'>
  <%= @store_api["menu"].html_safe if @store_api.present? %>

  <%= render 'layouts/messages' %>
  <%= render 'layouts/header' if action_name != "home"  %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>


</html>
