<%= render :layout => 'devise/layout' do %>
<%= simple_form_for(resource,:as => resource_name,:url => registration_path(resource_name),:defaults => { :input_html => {autocomplete: 'off'}}) do |f| %>
<%= f.input :email,:label=>false,:placeholder=>t('app.email'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center firstElement'}%>
<%= f.input :password,:label=>false,:placeholder=> t('app.password'),:wrapper_html  =>{:class=>'mb0'},:input_html=>{:class=>'form-control input-lg input-xx-lg center'}%>
<%= f.submit t('app.sign_up'), :class => "btn-block btn-lg lastElement #{custom_button_class}" %>
<%= render 'devise/shared/links' %>
<% end %>
<% end %>


