<div class="header relative" style="background-image: url('<%= image_url 'dash.png' %>');">
  <div class="absolute absolute-bottom-left absolute-bottom-right mb10">
    <div class="h3 center mb10 color-white"><%= t('back_office.profile') %></div>
  </div>
</div>


<div class="container mt20 mb30">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Update",:class=>"btn btn-custom-primary btn-sm" %>
      </div>
      <% end %>
      <hr>
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
