<%= render :layout => 'devise/layout' do %>
<%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name),:defaults =>{:input_html=>{:class=>"input-lg"}}) do |f| %>
<%= f.error_notification %>
<%= f.input :email, required: true, autofocus: true %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :password, required: true %>
<%= f.input :password_confirmation, required: true %>
<%= f.submit :class => "btn btn-lg btn-block btn-custom-primary", :value => t('app.signup') %>
<% end %>
<%= render "devise/shared/links" %>
<% end %>

