<% main_pricing = p.pricing  %>

<article class="relative bg-white">
  <table class="table table-no-bordered mb0">
    <tr>
      <td class="valignMiddle relative">
        <%= link_to product_show_path(p.id) do %>
        <%= image_tag p.logo_app(:medium),:class=>"img-responsive" %>
        <% if main_pricing.present? and main_pricing.primary_sale.present? %>
        <div class="absolute absolute-top-right">
          <div class="bg-yellow color-white inline-block mt5 mr5 pt3 pb3 pl5 pr5 br2"><%= main_pricing.primary_sale.percentage.present? ? "-#{main_pricing.primary_sale.percentage}%" : "-#{humanized_money_with_symbol(main_pricing.primary_sale.amount)}"  %></div>
        </div>
        <% end %>
        <% end %>
      </td>
      <td class="relative">
        <h3 class="fs14 medium mb5 ellipsis"><%= link_to p.name, product_show_path(p.id),:class=>"color-black ellipsis" %></h3>
        <h4 class="fs11 color-dark-grey mb6 normal ellipsis"><%= p.baseline %></h4>
        <%= content_tag :p, truncate(strip_tags(p.summary),:length => 100), :class => "fs11 color-grey lh13 mb2 mt10", :style => "height:45px;"  %>
        <div class="ml5 mr5 fs12 lh12 a-right">
          <%# Plan %>
          <% if main_pricing.present? && main_pricing.is_a_plan? %>
          <% plan = main_pricing.pricing_plan %>
          <span class="fs11"><%= main_pricing.price_from == 1 ?  t('app.price_from') : nil %></span>
          <span class="color-primary"><%= "#{plan.present? ? "#{humanized_money_with_symbol(plan.price_month_cents == 0 ? plan.price_year :  plan.price_month)} #{plan.price_month_cents == 0 ? t('app.per_year') : t('app.per_month')}" : nil}" %></span>
          <%# Checkout %>
          <% elsif main_pricing.present? && main_pricing.is_a_checkout? %>
          <% checkout = main_pricing.pricing_checkouts.last %>
          <span class="fs11"><%= main_pricing.price_from == 1 ?  t('app.price_from') : nil %></span>
          <span class="color-primary"><%= checkout.present? ? "#{humanized_money_with_symbol(checkout.price)}#{main_pricing.checkout_unit.present? ? "#{main_pricing.checkout_unit.name}" : nil}" : nil %></span>
          <% end %>
        </div>
        <section class="absolute absolute-bottom-right mb2 mr5">
          <%= link_to t('app.more_infos'), product_show_path(p.id), :class=>"btn btn-xs btn-primary pull-right ml10" %>
        </section>
      </td>
    </tr>
  </table>
</article>

