<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= " #{current == 1 ? 'active' : nil}" %>"><%= link_to t('app.contact'), contact_path %></li>
        <li class="<%= " #{current == 2 ? 'active' : nil}" %>"><%= link_to t('app.faq'), faq_path %></li>
      </ul>
    </div>
  </div>
</nav>
