<section id="newsletter-card" class="pAll15 mt30">
  <h2 class="fs16 color-primary bold mb5"><%= t('newsletter.newsletter') %></h2>
  <p class="color-grey fs12 mb10"><%= t('newsletter.tagline') %></p>
  <form action="#">
    <input type="email" placeholder="Votre email" class="fs12">
    <input type="submit" value="GO!" class="pl10 pr10 lh30">
  </form>
  <p class="text-center fs12 color-grey mt15 mb0"><%= t('newsletter.tagline2') %></p>
</section>
