<%
is_a_checkout = pricing.is_a_checkout?
is_a_plan = !is_a_checkout
primary_sale = pricing.primary_sale

prices = []
if is_a_checkout
  pricing.pricing_checkouts.each {|c| prices << {:min => c.quantity_min, :max => c.quantity_max, :price => c.price_cents} }
else
  prices << {:price_month => pricing.pricing_plan.price_month_cents, :price_year => pricing.pricing_plan.price_year_cents}
end

sale = {}
if primary_sale.present?
  sale = {:type => primary_sale.sale_type, :value => primary_sale.sale_type == "percentage" ? primary_sale.percentage : primary_sale.amount_cents}
end

combinations = []
if pricing.variant_categories.present?
  pricing.variant_categories.first.variant_combinations.each do |c|
    combinations << {:name => c.name, :price_percentage => c.price_percentage}
  end
end

currency = Money::Currency.find(@store.country.currency)

data = {
  :checkout_type        => is_a_plan ? "plan" : "checkout",
  :prices               => prices,
  :sale                 => sale,
  :combinations         => combinations,
  :currency             => currency,
  :quantity_editable    => pricing.quantity_editable,
  :display_range_price  => pricing.display_range_price,
  :display_unit_price   => pricing.display_unit_price,
  :print_order_id       => params[:order],
  :is_a_print_product   => pricing.product.is_printable
}


%>


<div class="price-card-wrapper">
  <%= simple_form_for :pricing, :remote => true, :url => path, :method => :post, :html => {:class => "pricing_cart_form full-height"}, :data => data do |f| %>
  <%= f.input :pricing_id, :input_html => {:value => pricing.id}, :as => :hidden %>
  <%= f.input :sale_id, :input_html => {:value => primary_sale.present? ? primary_sale.id : ""}, :as => :hidden %>

  <article class="price-card pAll20 pb60 bg-white relative">
    <div class="inline-block full-width text-center">
      <h3 class="fs16 bold color-secondary mt0 mb0"><%= pricing.name.present? ? pricing.name : pricing.product.name %></h3>
      <% if primary_sale.present? %>
      <%= f.input_field :sale_id, :value => primary_sale.id, :as => :hidden %>
      <div>
        <%= primary_sale.name %>
        <span class="bg-yellow color-white inline-block fs12 pt3 pb3 pl10 pr10 br2 mt10"><%= primary_sale.sale_type == "percentage" ? "-#{primary_sale.percentage}%" : "-#{humanized_money_with_symbol(primary_sale.amount)}"  %></span>
        <div><%= primary_sale.end.present? ? "#{t('app.until')} : #{I18n.localize(primary_sale.end, :format =>("%d/%m/%Y"))}" : nil %></div>
      </div>
      <% end %>
    </div>
    <hr class="mt10 mb10">
    <p class="color-grey fs12 lh22 mb0 center"><%= pricing.description %></p>
    <% if is_a_checkout && pricing.pricing_checkouts.count == 1 %>
    <div class="block text-right fs14 color-primary mt15"><%= "#{t('app.price')} : " %><span class="fs18 medium singlePrice"></span></div>
    <% end %>
    <% if pricing.warning.present? %>
    <div class="warning pt7 pb7 pl15 pr30 fs12 lh20 color-grey br2 mt20">
      <%= pricing.warning.html_safe %>
      <%= render 'icons/warning_triangle' %>
    </div>
    <% end %>

    <% if pricing.is_publipostage == 1 %>
    <div class="center">
      <button id="publipostageBtn" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#publipostageModal"><%= t('app.print.calculate_road')%></button>
    </div>
    <div id="my_custom_quantity" class="row row-20 option pt10 pb10" style="display: none;">
      <div class="col-xs-6 color-grey fs12">
        <%= f.input_field :quantity, :class => "mr10", :type => "radio", :value => "", :checked => false %>
        <span id="my_custom_value"></span>
        <span data-toggle="modal" class="pointer color-link fs10" data-target="#publipostageModal"><%= t('app.print.recalculate')%></span>
      </div>
      <div id="my_custom_price" class="col-xs-6 text-right medium color-primary fs12 quantity-price"></div>
    </div>
    <% end %>


    <%# PLAN %>
    <% if is_a_plan %>
    <div class="subscription-choices mt5 <%= pricing.pricing_plan.price_year == 0 && pricing.pricing_plan.price_month == 0 ? 'hide' : nil %>">
      <div class="text-center mt60">
        <div class="inline-block">
          <div class="pull-left text-right mt-20 bold <%= pricing.pricing_plan.price_month != 0 ? nil : 'invisible' %>">
            <%= t('app.by_month') %>
            <span class="block color-primary mt3"><%= humanized_money_with_symbol(pricing.pricing_plan.price_month) %></span>
          </div>
          <div class="pull-left mr10 ml10">
            <%
            checked = nil
            disabled = nil
            if pricing.pricing_plan.price_year == 0
              disabled = "disabled"
            elsif pricing.pricing_plan.price_month == 0
              checked = "checked"
              disabled = "disabled"
            elsif @item.present? && @item.chosen_plan == "year"
              checked = "checked"
            end
            %>
            <input type="checkbox" name="pricing[plan_type]" class="hide" <%= checked %>>
            <input type="checkbox" id="switchbox<%= pricing.pricing_plan.id %>" class="hide switchbox-input" <%= "#{checked} #{disabled}" %>>
            <label for="switchbox<%= pricing.pricing_plan.id %>" class="switchbox">
              <span class="bg-primary"></span>
            </label>
          </div>
          <div class="pull-left text-left mt-20 bold <%= pricing.pricing_plan.price_year == 0 ? 'invisible' : nil %>">
            <%= t('app.by_year') %>
            <span class="block color-primary mt3"><%= humanized_money_with_symbol(pricing.pricing_plan.price_year) %></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <%# Variant %>
    <% if pricing.variant_categories.present? %>
    <div class="options mt5">
      <% pricing.variant_categories.each do |variant| %>
      <%= f.simple_fields_for variant do |ff| %>
      <div class="option mb10 pt5 pb5 pl10 pr10 bAll border-grey bg-white br2 inline-block full-width">
        <%= ff.input_field :name, :name => "pricing[variants][#{variant.id}][name]", :class=>"form-control variants pull-right lh20", :collection => variant.values.split(","), :include_blank => false, :selected => @item.present? ? @item.variant_combination.name.split("|*|") & variant.values.split(",") : nil %>
        <span class="color-dark-grey fs12 medium pull-left"><%= variant.name %></span>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>

    <%# Checkout %>
    <% if is_a_checkout && pricing.pricing_checkouts.count > 1 %>
    <div class="quantity mt5">
      <div class="row">
        <div class="col-xs-12 text-right medium color-dark-grey fs14"><%= t('app.price') %></div>
      </div>
      <div class="quantity-options">
        <% pricing.pricing_checkouts.each do |c| %>
        <div class="row row-20 option  <%= pricing.is_publipostage == 1  ? "pt2 pb2" : "pt3 pb3" %>">
          <div class="col-xs-6 color-grey fs12">
            <% if pricing.quantity_editable == true || (pricing.is_publipostage == 1) %>
            <%= "#{c.quantity_min}-#{c.quantity_max}" %>
            <% else %>
            <% if pricing.is_publipostage != 1 %>
            <%= f.input_field :quantity, :class => "mr10",:id=>"pricing_quantity_#{c.id}",:type => "radio", :value => c.quantity_max, :checked => @item.present? && @item.quantity >= c.quantity_min && @item.quantity <= c.quantity_max ? true : false %>
            <% end %>
            <label class="mb0" for="<%= "pricing_quantity_#{c.id}" %>"><%= c.quantity_max %></label>
            <% end %>
          </div>
          <div class="col-xs-6 text-right medium color-primary fs12 quantity-price"></div>
        </div>
        <% end %>

      </div>
    </div>
    <% end %>


    <% if pricing.quantity_editable == true %>
    <% pl = pricing.pricing_checkouts.order(:quantity_min).last %>
    <% min = pl.quantity_min if pl.present? %>
    <% max = pl.quantity_max if pl.present? %>
    <% quantity_min = pricing.pricing_checkouts.any? && pricing.pricing_checkouts.order(:quantity_min).first.present? ? pricing.pricing_checkouts.order(:quantity_min).first.quantity_min : 1 %>
    <div style="<%= is_a_plan || (min.present? && max.present? && min == max) ? "display:none" : "display:inline-block"  %>" class="global-quantity pt5 pb5 pl20 pr20 mr-20 ml-20 mt20">
      <span class="medium color-dark-grey fs14 inline-block pull-left mt5 mr15"><%= t('app.quantity') %></span>
      <div class="form-group">
        <%= f.input_field :quantity, :class => "form-control bootstrapNumber", :min => quantity_min.present? ? quantity_min : 1, :max => is_a_checkout && max.present? ? max : 1000, :value => @item.present? ? @item.quantity : quantity_min %>
      </div>
    </div>
    <% end %>

    <%# Quentin : je ne sais pas pourquoi on avait écrit ça mais je l'ai enlevé parce que sinon la quantité d'un produit vaut toujours 1. %>
    <%# if is_a_checkout && pricing.pricing_checkouts.count == 1 %>
    <%#= f.input_field :quantity, :class => "form-control", :value => 1, :as => :hidden %>
    <%# end %>


    <%# EXTRAS %>
    <% extras = pricing.extras.where(:status => "active") %>
    <% if extras.present? %>
    <div class="options mt10">
      <h4 class="mb0 medium color-primary fs14 mb10"><%= t('app.options') %></h4>
      <%# sorted so that the extras included are displayed first and the ones where you have to choose the quantity are last %>
      <% extras.sort_by {|e| e.position }.each do |e| %>
      <%= f.simple_fields_for e do |ff| %>
      <div class="option pl5 pr5 inline-block full-width">
        <%# Si non-inclus %>
        <% if e.price != 0 %>
        <div class="color-dark-grey fs12 medium pull-left">
          <label for='<%= "extra_#{e.id}" %>' class="mb0 pt2 pr10 pointer pull-left">
            <%= ff.input_field :checked, :name => "pricing[extras][#{e.id}][checked]", :as => :boolean, :checked =>(@item.present? && @item.extras_id.include?(e.id.to_s) || e.obligatory == true ),:disabled => e.obligatory == true , :data => {:id => e.id, :price => e.price_cents, :price2 => e.price2_cents, :type => "extra",:is_linked_to_pricing_quantity => e.is_linked_to_pricing_quantity, :price_quantity => e.price_quantity.present? ? e.price_quantity : 1}, :id=>"extra_#{e.id}" %>
            <%# send the value if disabled %>
            <%= ff.input_field :checked, :name => "pricing[extras][#{e.id}][checked]", :as => :hidden, :value => 1 if e.obligatory == true %>
          </label>
          <span class="pull-left">
            <%= e.name %><br>
            <span class="color-grey normal">
              <%
              if e.price_quantity.present? && e.price_quantity != 1
                currency    = Money::Currency.find(@store.country.currency)
                extra_price = currency.symbol_first == false ? "#{(e.price_cents.to_f / e.price_quantity.to_f).round(1) / 100}#{currency.symbol}" : "#{currency.symbol}#{(e.price_cents.to_f / e.price_quantity.to_f).round(1) / 100}"
              else
                extra_price = humanized_money_with_symbol(e.price)
              end
              %>
              <%= "#{is_a_checkout ? ("+#{extra_price} #{e.is_linked_to_pricing_quantity && pricing.checkout_unit.present? ? "#{pricing.checkout_unit.name}" : nil }") : "+#{humanized_money_with_symbol(e.price)}/mois ou +#{humanized_money_with_symbol(e.price2)}/an" }" %>
            </span>
          </span>
        </div>
        <% hidden = e.is_linked_to_pricing_quantity || e.obligatory  %>
        <span class="color-green fs12 medium pull-right mt4 mb4 pl10 <%= hidden ? 'hide' : nil %>">
          <span class="pull-left mt7 mr10 color-dark-grey fs12 medium"><%= t('app.quantity') %></span>
          <% item_extra = @item.extras_data.select {|elem| elem["id"] == e.id } if @item.present? %>
          <%= ff.input_field :qte, :name => "pricing[extras][#{e.id}][qte]", :class=>"form-control bootstrapNumber", :min => 1, :value => item_extra.present? ? item_extra.first["quantity"] : 1 %>
        </span>
        <%# Si inclus %>
        <% else %>
        <span class="color-green fs12 medium pull-right">inclus</span>
        <span class="color-dark-grey fs12 medium pull-left"><%= e.name %></span>
        <%# this field is to send the data even when checkbox is disabled  %>
        <%= ff.input_field :checked, :name => "pricing[extras][#{e.id}][checked]", :as => :hidden, :value => 1 %>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>

    <% if pricing.is_ready == 1 %>
    <button style="display:none;" class="add-cart btn btn-primary btn-block fs14 medium pl20 pr20 pt10 pb10 br0 absolute absolute-bottom-left">
      <%= t('app.add_to_cart') %><span class="final-price fs14 medium color-white ml5"></span>
    </button>
    <% else %>
    <button type="button" class="btn btn-primary btn-block fs14 medium pl20 pr20 pt10 pb10 br0 absolute absolute-bottom-left" data-toggle="modal" data-target="#myModal">
      <%= t('app.be_contacted') %>
    </button>
    <% end %>


  </article>
  <% end %>
</div>




<!-- Modal -->
<div class="modal fade z-index-10000" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('app.be_contacted') %></h4>
      </div>
      <%= simple_form_for Contact.new, :url => contact_create_path do |f| %>
      <div class="modal-body">
        <%= f.input :store_id ,:input_html => {:value => @store.id}, :as => :hidden %>
        <%= f.input :pricing_id ,:input_html => {:value => pricing.id}, :as => :hidden %>
        <%= f.input :client_id ,:input_html => {:value => current_client.id}, :as => :hidden if client_signed_in? %>
        <div class="row">
          <div class="col-md-6 mb10">
            <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.first_name') %></h5>
            <%= f.input :first_name, :label => false %>
          </div>
          <div class="col-md-6 mb10">
            <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.last_name') %></h5>
            <%= f.input :last_name, :label => false %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb10">
            <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.email') %></h5>
            <%= f.input :email, :label => false %>
          </div>
          <div class="col-md-6 mb10">
            <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.phone') %></h5>
            <%= f.input :phone, :label => false %>
          </div>
        </div>
        <%= f.input_field :message, :class=>".textarea-noresize", :rows=>8, :cols=>"30", :placeholder  =>  t('contact_faq.type_your_message'), :value => t('app.price_contact') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn  btn-primary" value="<%= t('contact_faq.send_message') %>">
      </div>
      <% end %>
    </div>
  </div>
</div>
