
<div class="container">
  <% @stores.in_groups_of(3,false) do |row_stores| %>
  <div class="row">
    <% row_stores.each do |store| %>
    <div class="col-xs-4">
      <div class="h4 center"><%= store.name %></div>
      <%= link_to "http://#{store.domain}" do  %>
      <div class="well well-sm center" style="<%= "background-color:#{store.color2}" %>">
        <%= image_tag store.logo.url(:medium_transparent), :class=>"img-responsive" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
