<% @title_for_layout = @brand = t('app.contact') %>
<%= render 'layouts/generic_meta' %>

<%= render 'pages/header_support', :current=> 1 %>

<div class="container colored-sides">
  <div class="left-light-blue-bg"></div>
  <div class="row row-20 same-height-col">
    <section class="col-md-4 bg-light-blue pt25 pb60">
      <h2 class="fs16 medium color-black mb10"><%= t('contact_faq.contact_title') %></h2>
      <p class="color-grey fs14"><%= t('contact_faq.contact_tagline') %></p>
      <section class="mt5 pt10 pb10 pl10 pr10 bg-white br2 border-grey bAll">
        <h3 class="fs14 color-primary normal"><%= @store.name %></h3>
        <p class="fs12 color-grey lh18 mt5 mb5"><%= simple_format(@store.address) %></p>
        <% if @store.contact_email.present? %>
        <div><i class="fa fa-at"></i> : <a href="mailto:<%= @store.contact_email %>" class="color-link"><%= @store.contact_email %></a></div>
        <% end %>
        <% if @store.contact_phone.present? %>
        <div><i class="fa fa-phone"></i> : <a href="tel:<%= @store.contact_phone %>" class="color-link"><%= @store.contact_phone %></a></div>
        <% end %>
      </section>
    </section>
    <section class="col-md-8 pt25 pb60">
      <span class="infobulle inline-block fs12 mb10"><%= t('contact_faq.contact_infobulle').html_safe %></span>
      <%= simple_form_for Contact.new, :url => contact_create_path do |f| %>
      <%= f.input :store_id ,:input_html => {:value => @store.id}, :as => :hidden %>
      <%= f.input :client_id ,:input_html => {:value => current_client.id}, :as => :hidden if client_signed_in? %>
      <div class="row">
        <div class="col-md-6 mb10">
          <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.first_name') %></h5>
          <%= f.input :first_name, :label => false %>
        </div>
        <div class="col-md-6 mb10">
          <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.last_name') %></h5>
          <%= f.input :last_name, :label => false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb10">
          <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.email') %></h5>
          <%= f.input :email, :label => false %>
        </div>
        <div class="col-md-6 mb10">
          <h5 class="fs14 medium color-grey mt0 mb5"><%= t('user.phone') %></h5>
          <%= f.input :phone, :label => false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb10">
          <h5 class="fs14 medium color-grey mt0 mb10"><%= t('user.company') %></h5>
          <%= f.input :company, :label => false %>
        </div>
      </div>
      <textarea name="" id="" cols="30" rows="8" placeholder="<%= t('contact_faq.type_your_message') %>"></textarea>
      <input type="submit" class="btn btn-primary pt10 pb10 pl25 pr25 pull-right fs16 mt15" value="<%= t('contact_faq.send_message') %>">
      <% end %>
    </section>
  </div>
</div>
