<% @title_for_layout = @brand = t('app.faq') %>
<%= render 'layouts/generic_meta' %>

<%= render 'pages/header_support', :current=> 2 %>

<div class="container colored-sides">
  <div class="left-light-blue-bg"></div>
  <div class="row row-20 same-height-col">
    <section class="col-md-4 bg-light-blue pt25 pb60">
      <h2 class="fs16 medium color-black mb10"><%= t('contact_faq.questions') %></h2>
      <p class="color-grey fs14 mb0"><%= t('contact_faq.questions_tagline') %></p>

      <form action="#" id="faq-form" class="inline-block full-width mt30">
        <button type="submit" class="pt9 pl7 pull-left">
          <svg width="16" height="16" viewBox="11 10 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M20.604 19.97c-1.02.932-2.378 1.5-3.87 1.5-3.166 0-5.734-2.567-5.734-5.735C11 12.568 13.568 10 16.735 10c3.168 0 5.736 2.568 5.736 5.735 0 1.037-.275 2.01-.756 2.85l4.35 4.35c.344.343.346.898 0 1.245-.346.345-.91.338-1.248.002l-4.212-4.213zm-3.87-.264c2.194 0 3.972-1.778 3.972-3.97 0-2.194-1.778-3.97-3.97-3.97-2.194 0-3.97 1.776-3.97 3.97 0 2.192 1.776 3.97 3.97 3.97z" fill="#a5a5a5" fill-rule="evenodd"/></svg>
        </button>

        <input class="pull-left pt3 pb3 pl10 fs12 mt4" type="text" placeholder="Rechercher une solution...">
      </form>

      <div class="inline-block full-width">
        <span class="color-grey fs12 pull-right">9 questions</span>
      </div>

      <ul class="list-unstyled block mt20 mb0" id="faq-questions">
        <li class="mb20">
          <a class="pt10 pb10 pl15 pr15 inline-block full-width current" href="#">
            <h3 class="fs14 lh18 color-link medium">J’ai perdu mon mot de passe, comment le réinitialiser ?</h3>
            <p class="color-grey fs12 mt5 mb0 ellipsis">
              Ut sed erat ut felis feugiat scelerisque. Quisque erat mi, efficitur
            </p>
          </a>
        </li>
        <li class="mb20">
          <a class="pt10 pb10 pl15 pr15 inline-block full-width" href="#">
            <h3 class="fs14 lh18 color-link medium">Comment changer mon mot de passe ?</h3>
            <p class="color-grey fs12 mt5 mb0 ellipsis">
              Ut sed erat ut felis feugiat scelerisque. Quisque erat mi, efficitur
            </p>
          </a>
        </li>
        <li class="mb20">
          <a class="pt10 pb10 pl15 pr15 inline-block full-width" href="#">
            <h3 class="fs14 lh18 color-link medium">Comment consulter la facture d’une commande antérieure ?</h3>
            <p class="color-grey fs12 mt5 mb0 ellipsis">
              Ut sed erat ut felis feugiat scelerisque. Quisque erat mi, efficitur
            </p>
          </a>
        </li>
        <li class="mb20">
          <a class="pt10 pb10 pl15 pr15 inline-block full-width" href="#">
            <h3 class="fs14 lh18 color-link medium">Comment annuler un abonnement en cours ?</h3>
            <p class="color-grey fs12 mt5 mb0 ellipsis">
              Ut sed erat ut felis feugiat scelerisque. Quisque erat mi, efficitur
            </p>
          </a>
        </li>
      </ul>
    </section>

    <section class="col-md-8 pt25 pb60" id="faq-question">
      <h1 class="fs18 color-primary medium mb20">J’ai perdu mon mot de passe, comment puis-je le réinitialiser ?</h1>

      <div class="description">
        <p>Ut sed erat ut felis feugiat scelerisque. Quisque erat mi, efficitur sed urna iaculis, laoreet consequat metus. Nulla et tempor justo. Vivamus a laoreet lectus. Praesent nec lacus dui. Morbi commodo sodales turpis, quis ultrices ligula scelerisque non. Phasellus massa felis, pulvinar nec volutpat ac, dignissim nec magna.</p>
        <%= image_tag 'faq-picture.png' %>
        <p>Sed venenatis pellentesque turpis. Nam in blandit odio. Curabitur eget turpis eu ipsum lacinia euismod non a nisl. Cras sit amet finibus dolor, eget fringilla ligula. Mauris elementum convallis ipsum, eget fermentum nisl pellentesque sit amet. Aenean ac ligula feugiat neque finibus maximus. Etiam sollicitudin dolor sed leo porta, eu pellentesque nibh venenatis. Curabitur purus arcu, volutpat eget vehicula id, bibendum quis sem.</p>
      </div>
    </section>
  </div>
</div>
