<% @title_for_layout =  @category.present? ? @category.name : t('app.home') %>
<%= render 'layouts/generic_meta' %>

<% if action_name == "home" %>
<section class="pt15 pb15 bg-dark-grey noise-bg center">
  <h1 class="color-white h1 mb15"><%= @store.baseline.present? ? @store.baseline.html_safe : nil %></h1>
  <div class="container" style="<%= "height:500px;" if @products_for_slider.present? %>">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @products_for_slider.each_with_index do |product,x| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= x %>" class="<%= x == 0 ? "active" : nil %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @products_for_slider.each_with_index do |product,x| %>
        <div class="item <%= x == 0 ? "active" : nil %>">
          <%= link_to product_show_path(product.id) do %>
          <%= image_tag product.cover.url(:large), :class=>"img-responsive" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>


<div class="container pt35">
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-12 pb50">
      <div id="home-sidebar" class="bg-white bAll border-grey mb5 pl5 pr5 pt5 pb5" data-spy="affix" data-offset-top="<%= action_name == 'home' ? '635' : '90' %>" data-offset-bottom="100">
        <h2 class="fs18 color-dark-grey medium mt5"><%= t('app.categories') %></h2>
        <hr class="mt10 mb15 bg-light-grey">
        <%= link_to t("app.home"), root_path, :class=>"fs13 medium inline-block ellipsis ml5" %>
        <div aria-multiselectable="true" class="ml5">
          <% @store.categories.each_with_index do |c,index| %>
          <a role="button" data-toggle="collapse" data-parent="#home-sidebar" href="#<%= "collpase_#{index}" %>" aria-expanded="true" aria-controls="<%= "collpase_#{index}" %>" class="fs13 medium inline-block ellipsis"><%= c.name %></a>
          <div id="<%= "collpase_#{index}" %>" class=" collapse <%= index != 0 ? nil : nil %>" role="tabpanel">
            <ul class="list-unstyled ml15">
              <% c.subcategories.sort_by { |sub| sub.name }.each do |sc| %>
              <li class="mb2"><%= link_to sc.name, category_show_path(sc.id), :class=>"fs11 color-link medium inline-block ellipsis" %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9 pr30">
      <% @products_with_category.sort_by { |p| p.category.position }.group_by(&:category).each do |category,products_by_category| %>
      <% products_by_category.sort_by { |p| p.subcategory.name }.group_by(&:subcategory).each do |subcat,products| %>
      <section class="mb30">
        <h2 class="fs20 color-dark-grey medium inline-block uppercase"><%= "#{subcat.category.name} <span class='fs13'>/ #{subcat.name}</span>".html_safe %></h2>
        <hr class="mt5 mb20 bg-light-grey">
        <% products2 = action_name == "home" ?  products.shuffle![0..3] : products  %>
        <% products2.in_groups_of(2,false).each do |row_products| %>
        <div class="row products">
          <% row_products.each do |p| %>
          <div class="col-sm-6 product mb10">
            <%= render 'pages/card_product', :p => p %>
          </div>
          <% end %>
        </div>
        <% end %>
        <%= link_to "#{t('app.view_all')} (#{products.size})", category_show_path(subcat.id),:class=>"color-link lowercase" if products.size > 4 and action_name == "home"  %>
      </section>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
