<% @title_for_layout = @brand = @product.name %>
<%= render 'layouts/generic_meta' %>

<% if @product.cover? %>
<section id="product-slider" class="noise-bg bg-dark-blue">
  <div class="centered-content flex pt25 pb25">
    <%= image_tag @product.cover.url(:large), :class=>"img-responsive inline-block" %>
  </div>
</section>
<% end %>

<header id="product-header">
  <div class="container">
    <div class="row wrapper">
      <div class="col-md-12">
        <div class="pull-left hidden-xs">
          <%= image_tag @product.logo.url(:medium),:class=>"img-responsive mt8" %>
        </div>
        <div class="titles pull-left pt10 pb15 pl15">
          <h1 class="fs18 color-dark-grey medium mt5"><%= @product.name %></h1>
          <p class="fs13 color-grey mt4 mb0 inline-block hidden-xs hidden-sm"><%= @product.baseline %></p>
          <h2 class="fs14 color-grey normal inline-block ml10"><%= @product.subcategory.present? ? link_to(@product.subcategory.name, category_show_path(@product.subcategory.id),:class=>"color-link medium") : link_to(t('app.others'), category_show_path,:class=>"color-link medium") %></h2>
        </div>
        <% main_pricing = @product.pricing  %>
        <% if main_pricing.present? %>
        <div class="pull-right hidden-xs">
          <div class="pt20 pb20 pl20 pr5 ml20 mt4 mb4 inline-block button-box">
            <span class="color-primary lh70 fs14">
              <%= main_pricing.price_from == 1 ? t('app.price_from') : nil %>
              <strong>
                <% if main_pricing.is_a_checkout? %>
                <% checkout = main_pricing.pricing_checkouts.last %>
                <%= (checkout.present? and main_pricing.checkout_unit.present?) ? "#{humanized_money_with_symbol checkout.price}#{main_pricing.checkout_unit.present? ? "#{main_pricing.checkout_unit.name}" : nil}" : nil %>
                <% end %>
                <% if  main_pricing.is_a_plan? %>
                <% plan = main_pricing.pricing_plan %>
                <%= "#{plan.present? ? "#{humanized_money_with_symbol plan.price_month_cents == 0 ? plan.price_year :  plan.price_month} #{plan.price_month_cents == 0 ? t('app.per_year') : t('app.per_month')}" : nil}" %>
                <% end %>
              </strong>
            </span>
          </div>
          <a href="#prices_container" class="btn btn-sm btn-primary"><%= t('app.pricings') %></a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="hide" id="fake-product-header"></div>


<div class="bg-white pt20">
  <%# Product description %>
  <div class="container">
    <div class="row">
      <section class="col-md-9 pr40">
        <% if  @product.summary.present? %>
        <div class="italic bg-light-grey mb25 pAll5 mt10">
          <div class="color-grey justify ml5 mr5"><%= @product.summary %></div>
        </div>
        <% end %>
        <div class="product-description justify">
          <%= @product.description.html_safe %>
        </div>
      </section>
      <section class="col-md-3 center">
        <% if @product.product_assets.present? %>
        <div class="bg-light-grey pt10 pb10">
          <ul id="image-gallery" class="list-inline mb0 ml0">
            <% @product.product_assets.each do |asset| %>
            <li class="pl2 pr2 br3 bAll border-grey"><a href="<%= asset.image.url(:medium) %>" class="zoombox zgallery1 bg-cover block" style="height:80px; width:80px;background-image:url(<%= asset.image.url(:small) %>);"></a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% if @product.video_url.present? %>
        <div class="svgContainer ratio56 mt5 mb20">
          <iframe width="560" height="315" src="<%= @product.video_url %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <% end %>
      </section>
    </div>
  </div>

  <% if @product.is_printable && client_signed_in? %>
  <%# Print Management %>
  <div class="bg-dark-blue center mt20">
    <div class="container">
      <% if @print_call.present? %>
      <%# Show selected print %>
      <div class="h3 color-white mt10 mb10">Votre impression</div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <%= image_tag @print_call[:preview], :class=>"img-responsive" %>
        </div>
      </div>
      <% elsif @pdfs.present? %>
      <%# Select Print %>
      <div class="row mb30">
        <%= minimal_form_for :property ,:url => ENV['myprint_server'], :method => :get , :html=> {:id => "myprint_form", :class=>"form-inline"} do |f| %>
        <div class="col-sm-4">
          <div class="h4 color-white mt30 mb10"><%= t('app.print.step2') %></div>
          <div class="form-group">
            <%= f.input_field :pdf_id, :collection => @pdfs["pdfs"].map{|t| ["#{t["name"]} #{t["property_count"].present? ? "(#{t('app.properties', :count => t["property_count"])})" : nil}", t["id"], {'data-count'=> t["property_count"]} ]}, :class=>"form-control", :include_blank => false, :selected => @selected_pdf_id %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="h4 color-white mt30 mb10"><%= t('app.print.step3') %></div>
          <% if @pdfs["max_properites"].to_i >= 1 %>
          <% (1..@pdfs["max_properites"].to_i).each do |i| %>
          <div>
            <div class="form-group">
              <%= f.input_field :query, :placeholder =>"#{t('app.property')} ##{i}", :class=>"form-control typeaheadPrint #{i > @pdfs["pdfs"][0]["property_count"] ? "hide" : nil }", :data => {:i => i} %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="h4 color-white mt30 mb10"><%= t('app.preview') %></div>
          <%= link_to t('app.preview'), "#", :class=>"btn btn-default" ,:id=>"linkPreview" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>


  <%# Price %>
  <% if !@product.is_printable || (@product.is_printable && client_signed_in? ) %>
  <div class="bg-light-grey noise-bg pt20" id="prices_container">
    <div class="container">
      <% @product.pricings.where(:status => "active").group_by(&:is_a_plan?).each do |is_a_plan, grouped_pricings| %>
      <hr class="mt0 mb30">
      <% grouped_pricings.in_groups_of(3,false).each  do |row_pricings| %>
      <div class="row same-height-col">
        <% row_pricings.each do |pricing| %>
        <div class="col-sm-6 col-md-6 col-lg-4 mb80">
          <%= render "pages/price_card", :pricing => pricing, :path => cart_add_or_update_path %>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <%# Linked products %>
  <% if @linked_products && @linked_products.size > 0 %>
  <div class="bg-white pt20">
    <div class="container">
      <h3 class="mb10 fs18 color-dark-grey medium inline-block"><%= t('app.linked_products') %></h3>
      <hr class="mt0 mb30">
      <div class="row products">
        <% @linked_products.each do |p| %>
        <div class="col-sm-4 product mb50">
          <%= render 'pages/card_product', :p => p %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <%# Signin printable %>
  <% if @product.is_printable && !client_signed_in? %>
  <div class="center pb40">
    <hr>
    <div class="h1 mt15"><%= t('app.print.warning_signin') %></div>
    <%= link_to t('app.signin'), new_client_session_path(:redirect_uri => request.url), :class=>"btn btn-primary mt10" %>
  </div>
  <% end %>
</div>


<%# Publipostage %>
<div class="modal fade z-index-10000" id="publipostageModal" tabindex="-1" role="dialog" aria-labelledby="publipostageModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="publipostageModal"><%= t('app.print.publipostage') %><small class="ml10"><%= t('app.print.step1') %></small></h4>
      </div>
      <div class="modal-body bg-light-grey">
        <%= minimal_form_for PostCanadaPublipostage.new , :url => publipostage_path, :remote => true, :html=>{:class=>"form-inline"} do |f| %>
        <div class="form-group">
          <%= f.input_field :zipcode, :placeholder =>"XXX",:class=>"form-control" %>
        </div>
        <%= f.submit :class =>"btn btn-default", :value =>t('app.find'),:wrapper_html => nil %>
        <% end %>
        <div id="RoadsResults"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('app.validate') %></button>
      </div>
    </div>
  </div>
</div>



<% if client_signed_in? %>
<%= javascript_tag do %>
window.clients_ads          = <%= raw @clients_ads.to_json %>;
window.myprint_server       = "<%= "#{ENV['myprint_server']}/#{I18n.locale}" %>"

<%# selected pdf id %>
window.myprint_pdf_id       = "<%= @selected_pdf_id %>"

<%# maximum number of properties %>
window.max_properties       = "<%= @pdfs.present? ? @pdfs["max_properites"] : 0 %>"

<%# selected property ids %>
window.myprint_uids         = []

<%# current number of properties %>
window.n                    = "<%= @n %>"

window.store_url            = "<%= request.url %>"
<% end %>
<% end %>

