<% @title_for_layout = @brand = t('app.home') %>
<%= render 'layouts/generic_meta' %>

<div class="layer flex-image">
  <div class="h1 flex-centered">
    <div class="new-line"></div>
    <div class="new-line"></div>

    <div class="text-center" style="width: 100%;">
      <p><%= t("thanks.title") %></p>
    </div>
    <%= link_to t("thanks.to_home"), root_path, :class => "btn btn-lg btn-custom-secondary mr15 ml15" %>
    <% if client_signed_in? %>
    <%= link_to t("thanks.to_services"), dashboard_path, :class => "btn btn-lg btn-custom-secondary mr15 ml15" %>
    <% end %>

    <div class="new-line"></div>
    <div class="new-line"></div>
  </div>
</div>