<div class="panel panel-default">
	<div class="panel-heading relative">

		<% if current_user.has_any_role? :admin %>
		<div class="pull-right absolute absolute-top-right mr15 my_vertical_align">
			<%= link_to raw('<i class="fa fa-gear" action="/"></i>'), dashboard_manage_path, :method => "get", :target => "_blank", :class => "btn btn-default btn-xs", :data => {:toggle => "tooltip", :placement => "top"}, :title => "Gérer la playlist" %>
		</div>
		<% end %>

		<h2 class="center">Musique</h2>
	</div>
	<div class="panel-body">

		<div class="embed-responsive embed-responsive-16by9">
			<div id="video-placeholder" class="embed-responsive-item"></div>
		</div>

		<br/>

		Volume : <input id="volume_selector" type="range" value="" max="100" min="0" step="1"/>

		<br/>

<!-- 		<form class="form-inline" id="playlist_form" >
			<div class="form-group">
				<label for="playlist_id_select">Lire la playlist :</label>
				<select class="form-control" id="playlist_id_select" name="playlist_id_select">
					<#% @playlists.each do |p| %>
					<option value="<%#= p.id %>"><%#= p.name %></option>
					<#% end %>
				</select>

			</div>
			<button type="submit" class="btn btn-custom-primary btn-sm">Go</button>
		</form> -->

		<!-- <br/> -->

		<!-- <button id="direct_mode_go" class="btn btn-custom-primary btn-sm" style="display: none;">Passer en mode direct</button> -->
<!--
		<form id="direct_mode_add" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="direct_mode_add_url" name="url" placeholder="Lien Youtube"/>
			</div>
			<button type="submit" class="btn btn-custom-primary btn-sm"><i class="fa fa-plus mr4"></i>Ajouter</button>
		</form> -->

		<!-- <br/> -->

		<!-- <div id="alert_direct" class="" role="alert" hidden>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<p id="alert_direct_message"></p>
		</div> -->
	</div>
</div>


<script src="https://www.youtube.com/iframe_api"></script>

<script>
// player script
var player;
var current_playlist;
var current_index_in_playlist;
var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
	encrypted: true
});

function onYouTubeIframeAPIReady() {
	player = new YT.Player('video-placeholder', {
		playerVars: {
			controls: 1,
			fs: 0,
			iv_load_policy: 3,
			modestbranding: 1,
			rel: 0,
			showinfo: 1
		},
		events: {
			'onStateChange': onPlayerStateChange,
			'onReady': init
		}
	});

	function init(){
		// get and cue the tracks
		$.ajax({
			method: "GET",
			contentType: 'json',
			url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/direct/create"
		}).success(function(response) {
			// get list
			getAndPlay();
		});

		// set volume
		$.ajax({
			method: "POST",
			contentType: 'json',
			url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/volume/"+player.getVolume()
		});


		$("#volume_selector").on("change", function(){
			$.ajax({
				method: "POST",
				contentType: 'json',
				url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/volume/"+$("#volume_selector").val()
			});
		});
	}


	function onPlayerStateChange(event) {
		switch(event.data){
			case 0:
			// when playing the next video
			// remove current
			$.ajax({
				method: "POST",
				contentType: 'json',
				url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/direct/remove"
			}).success(function(response) {
				// get list
				getAndPlay();
			});
			break;
		}
	}

	var channel_volume = pusher.subscribe('<%= ENV["VOLUME_CHANNEL"] %>');
	channel_volume.bind('update', function(data) {
		player.setVolume(parseInt(data.message));
		$("#volume_selector").val(parseInt(data.message));
	});


	// util
	function getAndPlay() {
		$.ajax({
			method: "GET",
			url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/direct/get_list"
		}).success(function(response) {
			player.loadPlaylist(response.video_ids);
		}).error(function(response){
			alert(JSON.parse(response.responseText).errors);
		});
	}
}
</script>

<script>
$(document).ready(function() {
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
});
</script>
