<div class="panel panel-default">
  <div class="panel-heading relative">

    <% if current_user.has_any_role? :admin %>
    <div class="pull-right absolute absolute-top-right mr15 my_vertical_align">
      <%= link_to raw('<i class="fa fa-gear" action="/"></i>'), dashboard_manage_path, :method => "get", :target => "_blank", :class => "btn btn-default btn-xs", :data => {:toggle => "tooltip", :placement => "top"}, :title => "Gérer la playlist" %>
    </div>
    <% end %>

    <h2 class="center">Musique</h2>
  </div>
  <div class="panel-body">

    <div class="row mt10 ml10 mr10 mb40">
      <div class="col-md-12 well well-sm">
        <div id="playing_now"><%= Redis.current.llen(ENV["REDIS_PLAYER_QUEUE_KEY"]) > 0 ? JSON.parse(Redis.current.lrange(ENV["REDIS_PLAYER_QUEUE_KEY"], 0, 0)[0])["name"] + " - " + JSON.parse(Redis.current.lrange(ENV["REDIS_PLAYER_QUEUE_KEY"], 0, 0)[0])["username"] : "-" %></div>
      </div>
      <input id="volume_selector" type="range" value="" max="100" min="0" step="1"/>
    </div>

    <div id="next">
      <p class="h3">Suivants : </p>
      <table class="table table-striped">
        <tbody id="next_tracks">
          <tr>
            <th>Titre</th>
            <th>Ajouté par</th>
          </tr>
          <% if Redis.current.llen(ENV["REDIS_PLAYER_QUEUE_KEY"]) > 0
            Redis.current.lrange(ENV["REDIS_PLAYER_QUEUE_KEY"], 1, ENV['REDIS_PLAYER_QUEUE_SIZE'].to_i-1).each do |d| %>
            <tr>
              <td><%= JSON.parse(d)["name"] %></td>
              <td><%= JSON.parse(d)["username"] %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script>
  $(document).ready(function(){

    /************* Actions ****************/

    $("#volume_selector").on("change", function(){
      $.ajax({
        method: "POST",
        contentType: 'json',
        url: "http://<%= request.env['HTTP_HOST']%>/api/v1/tracks/volume/"+$("#volume_selector").val()
      });
    });

    /**************************************/


    /************* Listeners **************/

    var volume_channel = pusher.subscribe('<%= ENV["VOLUME_CHANNEL"] %>');
    // get current player volume
    $("#volume_selector").val("<%= Redis.current.get(ENV['REDIS_PLAYER_VOLUME_KEY']) %>");
    // listen for change
    volume_channel.bind('update', function(data) {
      $("#volume_selector").val(parseInt(data.message));
    });

    var playing_now_channel = pusher.subscribe("<%= ENV['PLAYING_NOW_CHANNEL'] %>");
    // get current playing_now
    playing_now_channel.bind('update', function(data) {
      $("#playing_now").text(data.name + " - " + data.username);
    });

    var next_channel = pusher.subscribe("<%= ENV['NEXT_CHANNEL'] %>");
    // get current next_tracks
    next_channel.bind('update', function(data) {
      $("#next_tracks").html(generate_playlist_table(data.playlist));
    });

    function generate_playlist_table(data) {
      var content =  "<tr>\
      <th>Titre</th>\
      <th>Ajouté par</th>\
      </tr>";
      for (var i = 0; i < data.length; i++) {
        content += "<tr>\
        <td>"+data[i].name+"</td>\
        <td>"+data[i].username+"</td>\
        </tr>";
      }
      return content;
    }

    /**************************************/

  });
</script>