<div class="panel panel-default">
  <div class="panel-heading"><h2 class="center"><%= t("dashboard.opus.title") %></h2></div>
  <div class="panel-body">
    <p><%= t("dashboard.opus.monitoring.day", :count => @opus[:monitoring][:day]) %></p>
    <p><%= t("dashboard.opus.monitoring.hours", :count => @opus[:monitoring][:hours]) %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Statut</th>
        </tr>
      </thead>

      <tbody id="scrapers">
        <% @opus[:monitoring][:down].each do |server| %>
        <tr class="danger">
          <th><%= server %></th>
          <th>DOWN</th>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p id="time_last"><%= t("dashboard.opus.monitoring.last_update", :date => @opus[:monitoring][:last_update]) %></p>
  </div>
</div>
