<div class="panel panel-default">
  <div class="panel-heading"><h2 class="center">Serveurs</h2></div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Statut</th>
          <th>Uptime</th>
        </tr>
      </thead>
      <tbody id="servers">
        <%
        if @server_uptime.present?
          rep = JSON.parse(@server_uptime)

          statut = ""
          for i in 0..rep['total'].to_i-1

            m = rep['monitors']['monitor'][i]

            if m['status'] == "9"
              %>
              <tr class="danger">
                <%
                statut = "DOWN"
              elsif m['status'] == "0"
                %>
                <tr class="warning">
                  <%
                  statut = "PAUSED"
                elsif m['status'] == "2"
                  %>
                  <tr class="success">
                    <%
                    statut = "UP"
                  end
                  %>
                  <td><a href="<%=m['url']%>"><%=m['friendlyname']%></a></td><td><%=statut%></td><td><%=m['alltimeuptimeratio']%>%</td></tr>
                  <%
                end
              end
              %>
            </tbody>
          </table>
          <p id="time_last">Dernier update a : <%= @time_last %></p>
        </div>
      </div>





      <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
        encrypted: true
      });

      var channel = pusher.subscribe('server_channel');

      channel.bind('update', function(data) {

        var rep = JSON.parse(data.message);
        var contenu = "";
        var statut;
        var m;

        for (i = 0; i < rep.total; i++) {

          m = rep.monitors.monitor[i];

          if (m.status == 9) {
            contenu += '<tr class="danger">';
            statut = "DOWN";
          } else if (m.status == 0){
            contenu += '<tr class="warning">';
            statut = "PAUSED";
          } else if (m.status == 2){
            contenu += '<tr class="success">';
            statut = "UP";
          }

          contenu += '<td><a href="' + m.url + '">' + m.friendlyname + '</a></td><td>' + statut + '</td><td>' + m.alltimeuptimeratio + '%</td></tr>';
        }

        $("#servers").html(contenu);
        $("#time_last").html("Dernier update a : " + data.time);

      });

      </script>

