<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="center">
			Tâches 
		</h2>
	</div>
	<div class="panel-body">
		<p>
			Filtres : 
		</p>
		<%= simple_form_for :task, :remote => true, :url => root_path, :html => {:class => "form-inline"} do |f| %>

		<div class="btn-group form-group" data-toggle="buttons">
			<label class="btn btn-primary <%= (params[:priority].present? && params[:priority].include?('1') ? 'active' : '') %>">
				<input name="priority[]" type="checkbox" autocomplete="off" value="1" <%= (params[:priority].present? && params[:priority].include?('1') ? 'checked' : '') %>>Haute
			</label>
			<label class="btn btn-primary <%= (params[:priority].present? && params[:priority].include?('2') ? 'active' : '') %>">
				<input name="priority[]" type="checkbox" autocomplete="off" value="2" <%= (params[:priority].present? && params[:priority].include?('2') ? 'checked' : '') %>>Normale
			</label>
			<label class="btn btn-primary <%= (params[:priority].present? && params[:priority].include?('3') ? 'active' : '') %>">
				<input name="priority[]" type="checkbox" autocomplete="off" value="3" <%= (params[:priority].present? && params[:priority].include?('3') ? 'checked' : '') %>>Basse
			</label>
		</div>

		<%= f.input :u_id, :label => false, :collection => @users.map{ |u| [u.username, u.id] }, :include_blank => 'Tous' %>

		<%= f.submit "Go", :class => "btn btn-custom-primary" %>

		<br/>
		<br/>

		<% @tasks.each do |z| %>

		<% if z.status == 0 %>
		<div class="panel panel-default">
			<% else case z.priority
			when 1
				concat raw '<div class="panel panel-danger">'
			when 2 
				concat raw '<div class="panel panel-warning">'
			when 3 
				concat raw '<div class="panel panel-info">'
			end
			end %>

			<div class="panel-heading relative">

				<% if z.user.avatar.present? %>
				<div class="pull-right absolute absolute-top-right mr10 my_vertical_align">
					<%= image_tag z.user.avatar(:large), :class => "img-responsive", :width => "35px", :height => "35px" %>
				</div>
				<% end %>

				<h3 class="panel-title">
					<%= z.name %> - <%= z.user.username %>
				</h3>
			</div>
			<div class="panel-body">
				<p><%= z.content %></p>
				<span class="badge">Pour le <quote><%= z.due_date.strftime("%d %b %Y") %></quote></span>       
			</div>
		</div>

		<% end %>


		<div class="btn-group form-group">
			<%#= f.submit 'Précédent', :name => 'page', :class => params[:page].nil? || params[:page] == 1 ? "btn btn-default disabled" : "btn btn-default", :value => params[:page].nil? ? 1 : params[:page].to_i-1 %>

			<% for i in 1..@tasks.total_pages %>
			<%= f.submit i.to_s, :name => 'page', :data => i.to_s, :class => (params[:page].nil? && i==1) || params[:page] == i.to_s ? "btn btn-custom-primary disabled" : "btn btn-default" %>
			<% end %>
		</div>

		<% end # end form %>

	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="center">
			ShareImmo
		</h2>
	</div>
	<div class="panel-body">
		<p>Nombre d'utilisateurs :</p>
		<p>Nombre de propriétés :</p>
		<p>Nombre d'annonces actives :</p>
		<p>Annonces en attente : </p>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Nombre</th>
				</tr>
			</thead> 

			<tbody id="shareimmo">
				<tr>
					<th>Craigslist</th>
					<th>10</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
// var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
// 	encrypted: true
// });

// var channel = pusher.subscribe('task_channel');

// channel.bind('update', function(data) {

// 	var task = JSON.parse(data.message);
// console.log(task);
	// var contenu = "";
	// var statut;
	// var m;

	// for (i = 0; i < rep.total; i++) {

	// 	m = rep.monitors.monitor[i];

	// 	if (m.status == 9) {
	// 		contenu += '<tr class="danger">';
	// 		statut = "DOWN";
	// 	} else if (m.status == 0){
	// 		contenu += '<tr class="warning">';
	// 		statut = "PAUSED";
	// 	} else if (m.status == 2){
	// 		contenu += '<tr class="success">';
	// 		statut = "UP";
	// 	}

	// 	contenu += '<td><a href="' + m.url + '">' + m.friendlyname + '</a></td><td>' + statut + '</td><td>' + m.alltimeuptimeratio + '%</td></tr>';
	// }

	// $("#servers").html(contenu);
	// $("#time_last").html("Dernier update a : " + data.time);

// });

</script>