<h2>Playlist du mode direct</h2>

<br/>

<div id="alert_direct" class="" role="alert" hidden>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p id="alert_direct_message"></p>
</div>

<br/>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th>Titre</th>
    <th>Ajouté par</th>
    <th>UID</th>
    <th>Actions</th>
  </tr>
  <% @playlist_redis.each do |z| %>
  <tr id="<%= z["uid"] %>">
    <td><%= z["name"] %></td>
    <td><%= z["username"] %></td>
    <td><%= z["uid"] %></td>
    <td>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Supprimer", "/api/v1/tracks/direct/admin_remove/"+z["uid"], :remote => true, :method => :delete, :data=>{:confirm=>"Are you sure?"}, :class => "btn btn-custom-primary", :id => "ajax_trigger" %>
      </div>
    </td>
  </tr>
  <% end %>
</table>


<script>
$(document).ready(function(){

  $("#ajax_trigger")
  .bind("ajax:success", function(evt, data, status, xhr){
    rep = JSON.parse(xhr.responseText);
    $("tr#"+rep.uid).remove();
    $("#alert_direct_message").text(rep.message);
    $("#alert_direct").attr("class", "alert alert-dismissible alert-success").fadeTo(2000, 500).slideUp(500, function(){
      $("#success-alert").alert('close');
    });
  })
  .bind("ajax:failure", function(evt, data, status, xhr){
    rep = JSON.parse(xhr.responseText);
    $("#alert_direct_message").text(rep.message);
    $("#alert_direct").attr("class", "alert alert-dismissible alert-danger").fadeTo(2000, 500).slideUp(500, function(){
      $("#success-alert").alert('close');
    });
  });

});
</script>