<% @title_for_layout = "Dashboard" %>
<%= render 'layouts/partials/generic_meta' %>

<div class="row mt20">
  <div class="col-md-6">
    <%= render 'dashboard/servers' %>
  </div>
  <div class="col-md-6">
    <%= render  (@mode.present? && @mode == "master") ? 'dashboard/music' : "dashboard/music2" %>
  </div>
</div>
