<%= simple_form_for Task.new, :url => task_create_path(current_user.username) do |f| %>
<div class="row">
  <div class="col-xs-6">
    <%= f.input :name %>
  </div>
  <div class="col-xs-6">
    <%= f.association :team, :label_method=>lambda { |team| ("#{team.first_name} #{team.last_name}") },:include_blank=>false %>
  </div>
</div>
<%= f.input :content,:input_html => {:class=>"textarea-noresize",:rows=>5} %>

<div class="mt10 mb10">
  <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-block" %>
</div>

<% end %>






<%= content_for :head do %>
<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
<% end %>





<div id="to-do" class="container mt20">
  <% @teams.in_groups_of(3,false) do |row_teams| %>
  <div class="row">
    <% row_teams.each do |team| %>
    <div class="col-sm-6">
      <div class="well">
        <div class="center"><%= image_tag team.avatar,:class=>"img-responsive img-circle img-thumbnail" %></div>
        <h1 class="center pt25 pb25"><%= "#{team.first_name} #{team.last_name}" %></h1>
        <ul class="tasks team-id-<%= "#{team.id}" %>">
          <% team.tasks.each do |t| %>
          <li><div class="row pt4 pb4"><div class="col-sm-1"><i class="fa fa-check-circle done"></i></div><div class="col-sm-11 pt5"><span class="bold pull-left"> <%= t.name %></span> <span class="greyColor pull-right">1 hour</span></div></div></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>








<script>

var pusher = new Pusher('af47cfb384744a6628d6', {encrypted: true});
pusher.subscribe('task_listener').bind('my_event', function(data) {
  console.log(data);
  $('.tasks.team-id-'+data.task.team_id+'').append('<li><div class="row pt4 pb4"><div class="col-sm-1"><i class="fa fa-check-circle done"></i></div><div class="col-sm-11 pt5"><span class="bold pull-left"> '+data.task.name+'</span> <span class="greyColor pull-right">1 hour</span></div></div></li>');
});
</script>
