<% @title_for_layout        = "#{@profile.public_name} #{t('front_office.about')} - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name} #{t('front_office.about')} - #{@profile.job} #{@profile.baseline}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.name}/about" : "http://#{@user.username}.1clic.immo/about" %>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>
<%= render 'layouts/generic_meta' %>
<%= render "front_office/template_#{@theme.id}/header" %>



<div class="container mt20">
  <div class="row">
    <div class="col-sm-8">
      <div class="bg-white">
        <section class="pt10 pl10 pr10">
          <div class="row">
            <div class="col-xs-6">
              <div class="color-primary bold h1"><%= t('front_office.about') %></div>
            </div>
            <div class="col-xs-6 a-right">
              <ul class="list-inline mb5">
                <%# if @user.profile.website.present? %>
                <!-- <li><a href="http://<%#= @user.profile.website %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li> -->
                <%# end %>
                <% if @user.profile.facebook.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.twitter.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.twitter,true) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.linkedin.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.linkedin,true) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.pinterest.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.pinterest,true) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.google_plus.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.google_plus,true) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.instagram.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.instagram,true) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </section>
        <section class="pl50 pr50 pt30 pb20">
          <div class="mt10"><%= @profile.bio.present? ? simple_format(@profile.bio) : nil %></div>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <%= render 'front_office/partials/right_contact' %>
    </div>
  </div>
</div>
