<% @title_for_layout        = "#{@profile.public_name} #{t('front_office.blog')} - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name} #{t('front_office.blog')} - #{@profile.job} #{@profile.baseline}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.name}/blog/" : "http://#{@user.username}.1clic.immo/blog"%>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>
<%= render 'layouts/generic_meta' %>

<%= render "front_office/template_#{@theme.id}/header" %>
<%= render 'front_office/partials/kangalou_blog' if @blogs.present? %>




<div class="container">
  <% if @cat.present? %>
  <h1 class="mb20 h3"><%= @cat.name %></h1>
  <%  end %>
  <div class="row">
    <div class="col-md-8">
      <% if @blogs.blank? and @blogs2.blank? %>
      <div class="h1"><%= t('front_office.no_blog_result') %></div>
      <% else %>
      <% @blogs2.each do |p| %>
      <div class="bg-white mb40 relative">
        <%= link_to t('app.read_more'), broker_blog_path("#{p.slug}-#{p.id}"),:class=>"btn btn-custom-primary absolute absolute-bottom-right mb10 mr10 z-index-1000" %>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <%= link_to broker_blog_path("#{p.slug}-#{p.id}") do %>
            <%= image_tag(p.cover.url(:large),:class=>'img-responsive') %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="a-right mt5 mr15 color-secondary fs10"><%= I18n.localize p.updated_at.to_time,:format =>("%d %b %Y") %></div>
            <div class="pl10 pb10 pr10 pt8 a-left">
              <h2 class="lh17"><%= link_to broker_blog_path("#{p.slug}-#{p.id}"),:title=>p.title,:class=>'fw100 h4' do %><%= p.title %><% end %></h2>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="bg-white pl15 pr10 pt5 pb30">
        <div class="color-primary mb15"><%= t('front_office.categories') %></div>
        <ul class="list-unstyled">
          <li><%= link_to t('front_office.all'), broker_blogs_path, :class=>"bold" %></li>
          <% if @menu_1 != 0 %><li><%= link_to "#{t('front_office.buy')} (#{@menu_1})", broker_blog_category_path(1),:class=>"bold" %></li><% end %>
          <% if @menu_2 != 0 %><li><%= link_to "#{t('front_office.to_rent')} (#{@menu_2})", broker_blog_category_path(2),:class=>"bold" %></li><% end %>
          <% if @menu_3 != 0 %><li><%= link_to "#{t('front_office.sell')} (#{@menu_3})", broker_blog_category_path(3),:class=>"bold" %></li><% end %>
          <% if @menu_4 != 0 %><li><%= link_to "#{t('front_office.engagements')} (#{@menu_4})", broker_blog_category_path(4),:class=>"bold" %></li><% end %>
        </ul>
      </div>
      <% if @user.profile.facebook.present? %>
      <section class="mt30">
        <div class="fb-page" data-href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" data-width="500" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
      </section>
      <% end %>
    </div>
  </div>
</div>
