<% @title_for_layout        = "#{@profile.public_name} #{t('front_office.testimonial')} - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name} #{t('front_office.testimonial')} - #{@profile.job} #{@profile.baseline}" %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.name}/testimonial" : "http://#{@user.username}.1clic.immo/testimonial" %>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>




<%= render 'layouts/generic_meta' %>
<%= render "front_office/template_#{@theme.id}/header" %>



<div class="container mt20">
  <div class="row">
    <div class="col-sm-8">
      <div class="bg-white">
        <section class="pt10 pl10 pr10">
          <div class="row">
            <div class="col-xs-6">
              <div class="color-primary bold h1"><%= t('front_office.testimonial') %></div>
            </div>
            <div class="col-xs-6 a-right">
              <ul class="list-inline mb5">
                <%# if @user.profile.website.present? %>
                <!-- <li><a href="<%#= my_url_with_protocol(@user.profile.website,false) %>" target="_blank"><i class="fa fa-globe fa-2x"></i></a></li> -->
                <%# end %>
                <% if @user.profile.facebook.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.facebook,true) %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.twitter.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.twitter,true) %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.linkedin.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.linkedin,true) %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.pinterest.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.pinterest,true) %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.google_plus.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.google_plus,true) %>" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <% end %>
                <% if @user.profile.instagram.present? %>
                <li><a href="<%= my_url_with_protocol(@user.profile.instagram,true) %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </section>
        <section class="pl50 pr50 pt30 pb20">
          <div class="mt10">
            <% @user.testimonials.where(:status=>1).reverse_order.each do |t| %>
            <div class="well well-sm bg-light-grey">
              <div class="h4 bold mb15 color-primary"><%= t.title %></div>
              <p class="pl10 pr10"><%= t.content %></p>
              <div class="a-right italic"><%= t.full_name %></div>
            </div>
            <% end %>
          </div>
        </section>
        <div class="pl20 pr20">
          <hr>
          <div class="h3 color-primary"><%= t('front_office.write_a_testimonial') %></div>
          <div id="testionalForm">
            <%= render :partial =>'front_office/partials/testimonial_form', :locals => {:testimonial => Testimonial.new} %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <%= render 'front_office/partials/right_contact' %>
    </div>
  </div>
</div>
