  <h1>Informations utilisateur : </h1>

  <br/>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-6">
      <%= simple_form_for @user, :url =>user_update_path do |f| %>
      <div class="form-group">
        <%= f.input :username, :input_html => { :class => "form-control" } %>
      </div>
      <div class="form-group">
        <%= f.input :email, :input_html => { :class => "form-control" } %>
      </div>

      Mes Equipes :
      <ul>
        <% @user.teams.each do |z| %>
        <li>
          <%= z.name %>
        </li>
        <% end %>
      </ul>

      <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
    </div>

    <div class="col-sm-4">
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-12">
            <%= image_tag @user.avatar(:large), :class => "img-responsive" %>
            <%= f.input :avatar %>
          </div>
        </div>
      </div>
    </div> 
    <% end %>

    <div class="col-md-1"></div>

  </div>

