<footer id="oneclicFooter" class="hidden-print">
  <div class="container">
    <section id="footer-top" class="pt25">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
           <div class="col-xs-6 col-sm-4">
            <div class="fs13 mb20 bold color-zoomvisit"><%= @my_provider.name %></div>
            <ul class="list-unstyled">
              <li><%= link_to t('app.home'),root_path %></li>
              <li><%= link_to t('app.tour'),tour_path %></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="fs13 uppercase mb20 bold color-zoomvisit"><%= t('app.support') %></div>
            <ul class="list-unstyled">
              <li><%= link_to t('app.support'), support_path %></li>
            </ul>
            <div class="fs13 uppercase mb20 bold color-primary-oneclic"><%= t('app.demos') %></div>
            <ul class="list-unstyled">
              <li><%= link_to 'http://demo1.1clic.immo/fr',:target=>"_blank" do %>Demo #1<% end %></li>
              <li><%= link_to 'http://demo2.1clic.immo/fr',:target=>"_blank" do %>Demo #2<% end %></li>
              <li><%= link_to 'http://demo3.1clic.immo/fr',:target=>"_blank" do %>Demo #3<% end %></li>
            </ul>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-xs-6 col-sm-4">
            <div class="fs13 uppercase mb20 bold color-zoomvisit"><%= t('app.follow') %></div>
            <ul class="list-unstyled">
              <li><a href="https://instagram.com/zoomvisit/" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-instagram"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span>Instagram</a></li>
              <li><a href="https://www.facebook.com/ZoomVisit" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-facebook"></i><i class="fa fa-facebook fa-stack-1x fa-inverse mr5"></i></span>Facebook</a></li>
              <li><a href="https://www.twitter.com/ZoomVisit" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-twitter"></i><i class="fa fa-twitter fa-stack-1x fa-inverse mr5"></i></span>Twitter</a></li>
              <li><a href="https://www.youtube.com/user/zoomvisit" target="_blank"><span class="fa-stack fa-lg mr10"><i class="fa fa-circle fa-stack-2x color-youtube"></i><i class="fa fa-youtube fa-stack-1x fa-inverse mr5"></i></span>Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <a class="twitter-timeline" href="https://twitter.com/zoomvisit" data-widget-id="615460973592379392">Tweets de @zoomvisit</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </section>
</div>
<section>
  <div class="container">
    <div class="a-right">
      <div class="fs11 mt5 mb5 color-white">©  <%= @my_provider.name %> - <%= Time.now.year %> - <%= t("app.mentions") %></div>
    </div>
  </div>
</section>
</footer>



