<nav id="navbar-shareimmo" class="navbar navbar-default  navbar-fixed-top bg-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-toggle no-border collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars color-primary bold fa-2x"></i></span>
      <%= link_to root_url(:protocol=>ENV['PROTOCOL'],:subdomain=>false), :class=>'navbar-brand absolute' do %>
      <%= image_tag("logos/zoomvisit.png",:id => "shareimmo_logo") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('app.home'),root_path%> </li>
        <li <%= action_name=="tour" ? "class=active" : "" %>><%= link_to t('app.tour'),tour_path%> </li>
        <% unless user_signed_in? %>
        <li><%= link_to t('app.sign_in'),new_user_session_path%></li>
        <% else %>
        <li><%= link_to t('app.dashboard'),dashboard_path(current_user.username) %></li>
        <% end %>
        <li class="dropdown pr0">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="flag flag-ca mr4"></span><%= I18n.locale %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pt0 pb0 a-left dropdown-menu-right">
            <li><%= link_to root_path(:locale =>'fr') do %><span class="flag flag-ca mr4"></span>fr<% end %></li>
            <li><%= link_to root_path(:locale =>'en') do %><span class="flag flag-ca mr4"></span>en<% end %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



