<% @title_for_layout = t('zoomvisit.metas.home.title').html_safe %>
<% @description_for_layout = t('zoomvisit.metas.home.description').html_safe %>
<% @canonical_for_layout = root_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>


<div id="videoHeroContainer" class="relative bg-cover">
  <%= render 'pages/zoomvisit/header' %>
  <div class="myVideoHero">
  </div>
  <div class="coverContent center">
    <section class="contentTable">
      <section class="headerText">
        <section class="hidden-xs">
          <h1 class="color-white fs40 bold"><%= t('zoomvisit.baseline').html_safe %></h1>
          <div class="h2 color-white"><%= t('zoomvisit.baseline_2') %></div>
        </section>
        <div class="container mt10 center">
          <div id="HomeActions" class="container">
            <div class="row">
              <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 center pt10">
                    <% unless user_signed_in? %>
                    <%= link_to t('app.sign_in'),new_user_session_path, :class=>"btn btn-custom-primary-zoomvisit btn-lg bold btn-block" %>
                    <% else %>
                    <%= link_to t('app.dashboard'),dashboard_path(current_user.username),:class=>"btn btn-custom-primary-zoomvisit btn-lg bold btn-block" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
<%= render  "pages/zoomvisit/footer" %>
