<% @title_for_layout = t('zoomvisit.metas.tour.title').html_safe %>
<% @description_for_layout = t('zoomvisit.metas.tour.description').html_safe %>
<% @canonical_for_layout = tour_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>

<%= render  "pages/zoomvisit/header" %>
<div class="container mt50 mb50">


  <div id="features" class="bg-white center pt20 pb50">
    <div class="container">
      <h2 class="mb20 h1 mt20">Le pouvoir de visiter vos propriétés comme si vous y étiez</h2>
      <p class="lead">Notre technologie de visite virtuelle permet d’attirer l’acheteur ou le locataire potentiel. Faites vivre à vos clients une experience unique. Le pouvoir de visiter vos propriétés comme si vous y étiez en un seul clic à l’aide de Youtube, le moteur de recherche de vidéos le plus visité au monde.</p>
      <div class="row mt50">
        <div class="col-xs-6 a-left">
          <ul class="list-unstyled pl0">
            <li>
              <h3 class="color-zoomvisit mt10">Photo HDR</h3>
              <p>La qualité visuelle de nos photographies représente beaucoup plus qu’une simple image. Chaque plan est empreint d'un perfectionnisme qui est presenté selon une charte de qualité supérieure.</p>
            </li>
            <li>
              <h3 class="color-zoomvisit mt20">Visite virtuelle</h3>
              <p>Notre objectif est de créer le sentiment d’une visite libre en tout temps. Le pouvoir de visionner vos propriétés de n’importe quel endroit et à n'importe quelle heure rend l’expérience incomparable et inoubliable.</p>
            </li>
            <li>
              <h3 class="color-zoomvisit mt20">Production vidéo</h3>
              <p>Vous désirez mettre de l'avant une propriété et attirer l’attention des acheteurs potentiels ? Sachez que notre produit vidéo permet de créer une courte publicité afin d'augmenter la visibilité. Attirez votre acheteur potentiel rapidement pour ensuite le charmer avec la visite virtuelle complète.</p>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 a-right">
          <%= image_tag "oneclic/big_ipad.png", :class=>"image-effect-left img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-zoomvisit pb20 pt20">
  <div class="container">
    <h1 class="h1 color-white mb10 center">Connaissez-vous ZoomVisit ?</h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="svgContainer">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yn-Rdmhdg7I" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render  "pages/zoomvisit/footer" %>



