<% @title_for_layout        = "#{@profile.public_name}  - #{@profile.job}"  %>
<% @description_for_layout  = "#{@profile.public_name } - #{@profile.job} #{@profile.baseline} " %>
<% @canonical_for_layout    = @main_domain.present? ?  "http://#{@main_domain.domain}" : "http://#{@user.username}.#{@my_provider.link_host}"%>
<% @image_for_share_url     = "#{ENV['AWS_BUCKET_URL_PREFIX']}/images/templates_backgrounds/bg_#{rand(1..50)}.jpg" %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'front_office/template_1/header' %>


<% if @properties_favorites.present? %>
<div class="hero">
  <div id="owl-demo" class="owl-carousel owl-theme bg carousel h_100_oour_100">
    <% @properties_favorites.where(:property_flag=>4).each do |property| %>
    <div class="item h_100_oour_100" style="background-image:url('<%= property.property_assets.present? ? property.property_assets.first.picture.url(:large) : PropertyAsset.new.picture.options[:default_url] %>')">
      <div class="container h_100_oour_100">
        <div class="row h_100_oour_100">
          <div class="col-xs-12 relative h_100_oour_100">
            <div class="hero-card">
              <div class="card-head">
                <div class="fs24">
                  <%= link_to broker_property_path(property.id) do %>
                  <%= property.title.blank? ?  "#{property.street_number} #{property.street_name}" : property.title %>
                  <% end %>
                </div>
              </div>
              <div class="card-body pl10 pt10 pr10 pb5">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="card-price bg-secondary">
                      <% if property.property_listing_id ==1 %>
                      <%= humanized_money_with_symbol(property.price) %>
                      <% else %>
                      <%= "#{humanized_money_with_symbol(property.rent)} /#{t('front_office.per_month')}" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <ul class="list-inline color-dark-grey a-right pt15">
                      <% if property.bedrooms.present? %>
                      <li><i class="fa fa-bed mr3"></i><%= property.bedrooms %></li>
                      <% end %>
                      <% if property.bathrooms.present? %>
                      <li><i class="flaticon-shower5 mr3"></i><%= property.bathrooms %></li>
                      <% end %>
                      <% if (property.area_living.present? and property.area_unit.present?) %>
                      <li><i class="flaticon-three1 mr3"></i><%= ("#{property.area_living} #{property.area_unit.symbol}").html_safe %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>



<div class="container center pt20 pb40">
  <% unless @properties.blank? %>
  <div class="sub-title uppercase"><%= @my_provider.provider_id == "kangalou" ? t("front_office.my_ads") :  t('front_office.properties') %></div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render :partial => "front_office/template_1/properties", locals: { :properties => @properties,:by_line=>@by_line,:username=>@user.username,:theme_id=>@theme_id} %>
    </div>
  </div>
  <% else %>
  <div class="center bold italic fs25"><%= t('front_office.no_result') %></div>
  <% end %>
</div>

<section class="bg-white mt10 pt20 pb20">
  <%= render 'front_office/partials/footer_broker' %>
</section>



<script type="text/javascript">
$(document).ready(function() {
  $("#owl-demo").owlCarousel({
    navigation : false,
    slideSpeed : 300,
    mouseDrag: false,
    pagination: true,
    paginationSpeed : 400,
    singleItem:true
  });
});
</script>
