<table>
  <tr>
    <td>Prénom & Nom</td>
    <td><%= @contact.full_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><%= @contact.phone %></td>
  </tr>
  <tr>
    <td>Note</td>
    <td><%= @contact.content %></td>
  </tr>
</table>
