<div class="a-left">
  <ul class="list-unstyled mt10 text-center">
    <% if controller_name != 'sessions' %>
    <li class="inline-block mr15 ml15"><%= link_to t('front_office.sign_in'), new_session_path(resource_name),:class=>"color-link" %></li>
    <% end %>
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li class="inline-block mr15 ml15"><%= link_to t('front_office.sign_up'), new_registration_path(resource_name),:class=>"color-link" %></li>
    <% end %>
    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li class="inline-block mr15 ml15"><%= link_to t('front_office.forget_password'), new_password_path(resource_name),:class=>"color-link" %></li>
    <% end %>
    <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li class="inline-block mr15 ml15"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name),:class=>"color-link" %></li>
    <% end %>
    <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li class="inline-block mr15 ml15"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name),:class=>"color-link" %></li>
    <% end %>
  </ul>
</div>
