<h2><%= t('app.history') %></h2>
<p><%= t('pixis.description') %></p><br>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t('pixis.picture') %></th>
        <th><%= t('pixis.address') %></th>
        <th><%= t('pixis.status') %></th>
        <th><%= t('pixis.date') %></th>
        <th><%= t('pixis.token') %></th>
        <th><%= t('app.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @pixis_orders.sort_by(&:created_at).reverse.each_with_index do |order, i| %>
      <tr>
        <td><%= image_tag(order.picture_url, size: "80") %></td>
        <td>
          <% if @response.present? %>
          <% p = @response[:results][:features].select{|p| p[:properties][:id] == order.property_id} %>
          <% if p.present? %>
          <% p = p.first[:properties] %>
          <div class="h5 color-primary"><%= "##{p[:uid].present? ? p[:uid] : p[:id]} #{p[:property_listing][:fr]} - #{p[:locality]}" %></div>
          <div class="h6"><%= p[:address] %></div>
          <div class="color-dark-grey"><%= p[:price_formated] %></div>
          <% end %>
          <% end %>
        </td>
        <td>
          <p class="color-primary h5"><%= "#{t("pixis.order")} ##{order.emmobilier_order_id}" %></p>
          <%= t("pixis.status#{order.status}") %>
        </td>
        <td><%= I18n.localize(order.created_at.to_time,:format=>("%d %b %Y #{t('app.at')} %Hh%m"))%></td>
        <td><%= order.token%></td>
        <td>
          <% if order.status > 0 %>
          <%= link_to "get pics", get_pictures_path(order.id), :remote => true, :class => "color-link" %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div id="pictures_modal" class="modal fade" tabindex="-1" role="dialog"></div>