<% if @is_authorized && @response.present? %>

<div class="row mt20">
  <div class="col-md-8">
    <div class="h4 medium color-dark-grey"><%= t('app.my_listings') %></div>
    <div id="properties" class="mt25">
      <% @response[:results][:features].each do |p| %>
      <div class="property bg-white bAll border-grey br3 relative">
        <div class="thumb bg-cover pull-left" style="background-image:url(<%= p[:properties][:cover_url] %>);"></div>
        <div class="infos pull-left">
          <div class="h5 ellipsis color-primary mt10 pr10 pl15"><%= "##{p[:properties][:uid].present? ? p[:properties][:uid] : p[:properties][:id]} #{p[:properties][:property_listing][:fr]} - #{p[:properties][:locality]}" %></div>
          <div class="h6 ellipsis pr10 pl15"><%= p[:properties][:address] %></div>
          <div class="color-dark-grey mt5 block ellipsis pl15"><%= p[:properties][:price_formated] %></div>
          <div class="absolute absolute-bottom-right">
            <div class="pull-right social-networks">
              <%= link_to t("app.use"), pixis_new_path(p[:properties][:id]), :class=> "pull-left btn btn-default color-grey bg-white " %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% else %>

<div class="fs25 center"><%= t('app.welcome') %></div>

<% if !@is_authorized %>
<div class="fs25 center"><%= t('app.no_auth') %></div>  
<% end %>

<% end %>