<h2 class="inline-block fs23 light"><%= t('documents.update_document') %></h2>
<%= simple_form_for @document, :url => dashboard_document_update_path(@listing, @document), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<%= f.input :documentable_id, as: :hidden, input_html: {value: @listing.id} %>
<%= f.input :documentable_type, as: :hidden, input_html: {value: "Listing"} %>
<div class="mt25">
  <%= f.association :document_type, include_blank: false %>
</div>
<div>
  <%= f.input :document_file_name %>
</div>
<div>
  <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.document.document_date") %></label>
  <%= f.input_field :document_date, :as =>:string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date" %>
</div>
<div>
  <%= f.input :document, label: false %>
</div>
<%= f.submit t("app.update"), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer'%>
<% end %>


<script type="text/javascript">
	  $('.date').pickadate()
</script>