<h2 class="inline-block fs23 light"><%= t('equipment.update_equipment') %></h2>

<%= simple_form_for @equipment, :url => dashboard_equipment_update_path(@listing, @equipment), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<%= f.input :listing_id, as: :hidden, input_html: {value: @listing.id} %>

<div class="mt25">
  <%= f.input :name %>
</div>

<div>
  <%= f.input :description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pt10 pb10 full-width mb20'}  %>
</div>

<%= f.submit t('app.update'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
<% end %>