<div class="mt70 pl40 pr40">
  <div class="row row-10">
    <div class="col-md-3 col-sm-push-9">
      <section class="pAll30 bg-white mt25 mb30">
        <h2 class="inline-block fs23 light"><%= t('activerecord.attributes.listing.listing_completeness') %></h2>
        <div class="property-gauge bAll border-black br20 overflow-hidden relative mt10">
          <%# .full if listing.listing_completeness >= 90 | for design purpose %>
          <% @listing.listing_completeness = 100*(@listing.attributes.keys.length - @listing.attributes.values.select(&:nil?).count)/ @listing.attributes.keys.length %>
          <span class="inline-block status bg-primary <%= @listing.listing_completeness >= 90 ? 'full' : nil %>" style="width:<%= @listing.listing_completeness < 10 ? 10 : @listing.listing_completeness %>%;">
            <span class="bg-white color-black br8 fs14 bold pl1 pr1"><%= @listing.listing_completeness %>%</span>
          </span>
        </div>
      </section>
    </div>
    <div class="col-md-9 col-sm-pull-3">
      <%= yield %>
    </div>
  </div>
</div>
