<div class="col-md-3" id="<%= "photo_#{photo.id}" %>" data-id="<%= photo.id %>">
  <div class="photo">
    <!-- <div class="pt5 pb5 pl10 pr10 bg-primary color-white bold fs13 place-main">Place main photo here</div> -->

    <div class="image bg-cover full-width" style="background-image:url(<%= photo.image.url(:medium) %>);">
      <%= link_to dashboard_photo_delete_path(@listing, photo.id),:method=>'delete',:class=>'btn btn-default bold', :remote=>true,:data=>{:confirm=>"Are you sure?"} do %><i class="fa fa-times color-red"></i><% end %>
    </div>
   
    <input type="text" placeholder="Say something about this photo..." class="no-border bg-transparent pt45 pl15 pb20">
  </div>
</div>


