<h2 class="inline-block fs23 light"><%= t('room.update_room') %></h2>

<%= simple_form_for @room, :url => dashboard_room_update_path(@listing, @room), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<%= f.input :listing_id, as: :hidden, input_html: {value: @listing.id} %>

      <div class="row row-10 mt25">
        <div class="col-md-6">
          <%= f.input :name  %>
        </div>

        <div class="col-md-6">
          <%= f.input :room_size %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :room_length %>
        </div>

        <div class="col-md-6">
          <%= f.input :room_width %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :room_level %>
        </div>

        <div class="col-md-6">
          <%#= f.association :room_type %>
        </div>
      </div>

<%= f.submit t('app.update'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
<% end %>