<h2 class="inline-block fs23 light"><%= t('tax.update_tax_roll') %></h2>

<%= simple_form_for @tax, :url => dashboard_tax_update_path(@listing, @tax), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>

<%= f.input :building_id, as: :hidden, input_html: {value: @building.id} %>

<div class="row row-10 mt25">
  <div class="col-md-6">
    <%= f.input :tax_roll_number %>
  </div>

  <div class="col-md-6">
    <%= f.input :tax_year %>
  </div>
</div>

<div class="row row-10">
  <div class="col-md-6">
    <%= f.input :building_assessment_year %>
  </div>

  <div class="col-md-6">
    <%= f.input :building_assessment_value_cents %>
  </div>
</div>

<div class="row row-10">
  <div class="col-md-6">
    <%= f.input :building_annual_tax_cents %>
  </div>

  <div class="col-md-6">
    <%= f.input :land_assessment_value_cents %>
  </div>
</div>

<div class="row row-10">
  <div class="col-md-6">
    <%= f.input :land_annual_tax_cents %>
  </div>
</div>

<div>
  <%= f.input :building_tax_description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width'}  %>
</div>

<%= f.submit t('app.update'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
<% end %>

