<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>
<section class="pt30 pl30 pr30 pb30 mt50 bg-white">
  <div class="inline-block full-width">
    <h2 class="inline-block fs23 light mb15"><%= t('equipment.uploaded_equipment') %></h2>

    <%= link_to t('equipment.add_equipment'), "#", :class=>"uppercase button-secondary pull-right fs13 pt14 pb14 pl25 pr25 br0", :data=>{:toggle=>"modal", :target=>"#myModal"} %>
  </div>

  <table class="full-width bAll border-light-grey mt25">
    <thead class="fs16 bg-secondary color-white">
      <th class="pl15 pr15 pt20 pb20" style="width:120px;"><i class="fa fa-caret-down mr4"></i> <%= t('equipment.name') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('equipment.description') %></th>
      <th class="pl15 pr15 pt20 pb20" style="width:180px;"><%= t('equipment.action') %></th>
    </thead>

    <tbody class="bg-light-grey">
      <% @equipment.each do |e| %>

      <tr class="bold fs14 bb border-light-grey">
        <td class="pl15 pr15 pt20 pb20"><%= e.name %></td>
        <td class="pl15 pr15 pt20 pb20 normal"><%= e.description %></td>
        <td class="pl15 pr15 pt20 pb20">
          <div class="block">
            <a href="#" class="inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20">
              <i class="fa fa-search-plus"></i>
            </a>
            <%= link_to dashboard_equipment_edit_path(@listing, e), remote: true, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to dashboard_equipment_delete_path(@listing, e), method: :delete, data: { confirm: 'Are you sure?' }, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-close"></i>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.inventory') %></h2>

  <%= simple_form_for @listing, :url => dashboard_listing_update_path(@listing,:redirect=>dashboard_listing_financing_path(@listing)), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>

  <div class="inline-block full-width mt20">
    <%= f.input :inventory_included, :label_html => { :class => 'pull-left color-grey pl5 fs14 pointer' }, :input_html => { id: "included_sale", :class => 'pull-left mt4 pointer'}  %>
  </div>

  <div class="mt20">
    <%= f.input :inventory_description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pt10 pb10 full-width mb20'}  %>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :inventory_value_cents %>
    </div>
  </section>

  <%= f.submit "Continue", :class => 'uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40' %>
  <% end %>

<% end %>
<% end %>

<%# Modal %>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      <h2 class="inline-block fs23 light"><%= t('equipment.add_equipment') %></h2>

      <%= simple_form_for Equipment.new, :url => dashboard_equipment_create_path(@listing), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
      <%= f.input :listing_id, as: :hidden, input_html: {value: @listing.id} %>

      <div class="mt25">
        <%= f.input :name  %>
      </div>

      <div>
        <%= f.input :description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pt10 pb10 full-width mb20'}  %>
      </div>

      <%= f.submit t('app.add'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
      <% end %>
    </div>
  </div>
</div>
</section>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="editEquipmentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      
    </div>
  </div>
</div>
