<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<%= simple_form_for @building, :url => dashboard_building_update_path(@building,:redirect=>dashboard_listing_room_path(@listing)),:defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>

<section class="mt25">
  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :building_name %>
    </div>
  </div>

  <div>
    <%= f.input :building_description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width'}  %>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.building_style') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :architecture_style %>
    </div>

    <div class="col-md-6">
      <%= f.association :structure_type %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :attached_style %>
    </div>

    <div class="col-md-6">
      <%= f.input :year_build %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :construction_status %>
    </div>

    <div class="col-md-6">
      <%= f.association :construction_type %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :foundation %>
    </div>

    <div class="col-md-6">
      <%= f.association :roof %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :nb_of_floor %>
    </div>

    <div class="col-md-6">
      <%= f.input :total_floor_area %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.property_legal_address') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :prop_legal_address_lot %>
    </div>

    <div class="col-md-6">
      <%= f.input :prop_legal_address_block %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :prop_legal_address_plan %>
    </div>

    <div class="col-md-6">
      <%= f.input :prop_legal_address_meridian %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :prop_legal_address_range %>
    </div>

    <div class="col-md-6">
      <%= f.input :prop_legal_address_township %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :prop_legal_address_section %>
    </div>

    <div class="col-md-6">
      <%= f.input :prop_legal_address_quarter %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :prop_legal_address_subdivision %>
    </div>
  </div>

  <div>
    <%= f.input :prop_legal_address_freeform, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'} %>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.elevator') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :elevator %>
    </div>

    <div class="col-md-6">
      <%= f.input :elevator_capacity %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :signage %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.parking') %></h2>
  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :parking %>
    </div>
    <div class="col-md-6">
      <%= f.input :parking_nb_space %>
    </div>
  </div>

  <div class="inline-block full-width">
    <%= f.input :parking_included_in_sale, :label_html => { id: "included_sale", :class => 'pull-left mt4 pointer color-grey' }, :input_html => { :class => 'pull-left color-grey pl5 fs14 pointer'}  %>
  </div>

  <hr class="border-light-grey mt30 mb30 ml-30 mr-30">

  <h2 class="inline-block fs23 light"><%=t('building.garage') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :garage_size %>
    </div>

    <div class="col-md-6">
      <%= f.input :garage_door_size %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :garage_nb_space %>
    </div>

    <div class="col-md-6">
      <%= f.association :uffi %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :boma %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.leed') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :leed %>
    </div>

    <div class="col-md-6">
      <%= f.association :leedwell %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.green_building_certifications') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :green %>
    </div>
  </div>

  <div>
    <%= f.input :green_certification_name, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20' } %>
  </div>

  <div>
    <%= f.input :present_use, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'} %>
  </div>

  <div class="inline-block full-width mb20">
    <%= f.input :vehicle_access, :label_html => { id: "vehicle_access", :class => 'pull-left mt4 pointer color-grey' }, :input_html => { :class => 'pull-left color-grey pl5 fs14 pointer'} %>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :frontson %>
    </div>

    <div class="col-md-6">
      <%= f.association :appliance %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.basement_detail') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :basement_development %>
    </div>

    <div class="col-md-6">
      <%= f.association :basement_type %>
    </div>
  </div>

  <div>
    <%= f.input :basement_name, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 mb20 full-width'} %>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :building_amenity %>
    </div>

    <div class="col-md-6">
      <%= f.association :ceiling %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :ceiling_height %>
    </div>

    <div class="col-md-6">
      <%= f.input :ceiling_clearance %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :cooling %>
    </div>

    <div class="col-md-6">
      <%= f.association :protection_system %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :flooring %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.heating') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :heating_type %>
    </div>

    <div class="col-md-6">
      <%= f.association :heating_fuel %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.loading') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :loading_qty %>
    </div>

    <div class="col-md-6">
      <%= f.association :loading_type %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.size_of_door') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :door_height %>
    </div>

    <div class="col-md-6">
      <%= f.input :door_width %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.storage') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :storage %>
    </div>

    <div class="col-md-6">
      <%= f.input :storage_size %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.utilities') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :power %>
    </div>

    <div class="col-md-6">
      <%= f.input :aperage %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :sewage %>
    </div>

    <div class="col-md-6">
      <%= f.association :water %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :communication %>
    </div>
  </div>
</section>

<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%=t('building.fireplace') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :fireplace_type %>
    </div>

    <div class="col-md-6">
      <%= f.association :fireplace_fuel %>
    </div>
  </div>
</section>

<%= f.submit "Continue", :class => 'uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40' %>


<% end %>
<% end %>
<% end %>


