<%= content_for :head do %>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />


<% end %>

<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<section class="pt30 pl30 pr30 pb10 mt50 bg-white">
  <h2 class="fs23 light"><%= t('location.property_location_description') %></h2>
  <%= simple_form_for @building, url: dashboard_building_update_path(@listing, redirect: dashboard_listing_building_path(@listing)), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
  <%= f.input :building_location_description, label: "Enter the description", :label_html => { :class => 'fs14 color-grey mt25' }, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pt10 pb10 full-width mb20'}  %>

</section>

<section class="mt25">
  <h2 class="inline-block fs23 light"><%= t('location.address_details') %></h2>
  <%= f.simple_fields_for :address, :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |p| %>

  <%= p.input_field :id, :as => :hidden %>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <label for="" class="fs14 color-black"><%= t('location.address_geolocation') %></label>
      <%= p.input_field :address, placeholder: t('location.enter_location'), id: "googleMapGeocoder", class: "mt10 border-grey bAll pl15 pr15 full-width mb20", :data => { lng: @building.address.longitude.present? ? @building.address.longitude : -97.13749, lat: @building.address.latitude.present? ? @building.address.latitude : 49.89975, marker: @building.address.latitude.present? ? true : false, mapboxtoken:ENV["MAPBOX_API_TOKEN"] } %>
      <div id='geocoder-container'></div>
    </div>

    <div class="col-md-6 mb20">
      <div id="map" style="height:350px;"</div>
      </div>
    </div>
  </section>

  <section class="pt30 pl30 pr30 pb10 mt5 bg-white">
    <h2 class="inline-block fs23 light"><%= t('location.property_municipal_address') %></h2>

    <div class="row row-10 mt30">
      <div class="col-md-6">
        <%= p.input :street_number %>
      </div>

      <div class="col-md-6">
        <%= p.input :street_name %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= p.input :sublocality %>
      </div>

      <div class="col-md-6">
        <%= p.input :locality %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= p.input :country %>
      </div>

      <div class="col-md-6">
        <%= p.input :zipcode %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= p.input :administrative_area_level_1 %>
      </div>

      <div class="col-md-6">
        <%= p.input :administrative_area_level_2 %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= p.input :latitude %>
      </div>

      <div class="col-md-6">
        <%= p.input :longitude %>
      </div>
    </div>
    <% end %>
  </section>


  <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
    <h2 class="inline-block fs23 light"><%= t('location.property_legal_address') %></h2>

    <div class="row row-10 mt30">
      <div class="col-md-6">
        <%= f.input :prop_legal_address_lot %>
      </div>

      <div class="col-md-6">
        <%= f.input :prop_legal_address_block %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= f.input :prop_legal_address_plan %>
      </div>

      <div class="col-md-6">
        <%= f.input :prop_legal_address_meridian %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= f.input :prop_legal_address_range %>
      </div>

      <div class="col-md-6">
        <%= f.input :prop_legal_address_township %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= f.input :prop_legal_address_section %>
      </div>

      <div class="col-md-6">
        <%= f.input :prop_legal_address_quarter %>
      </div>
    </div>

    <div class="row row-10">
      <div class="col-md-6">
        <%= f.input :prop_legal_address_subdivision %>
      </div>
    </div>

    <div>
      <%= f.input :prop_legal_address_freeform, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'}   %>
    </div>
  </section>

  <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
    <h2 class="inline-block fs23 light"><%= t('location.area') %></h2>

    <div class="row row-10 mt30">
      <div class="col-md-6">
        <%= f.association :area %>
      </div>

      <div class="col-md-6">
        <%= f.input :area_sub_area %>
      </div>
    </div>
  </section>

  <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
    <h2 class="inline-block fs23 light"><%= t('location.municipality_zoning') %></h2>

    <div class="row row-10 mt30">
      <div class="col-md-6">
        <%= f.association :zoning %>
      </div>
    </div>

    <div>
      <%= f.input :zoning_description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'}  %>
    </div>

  </section>

  <%= f.submit "Continue", :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>

  <% end %>
  <% end %>


  <% end %>

