<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<%= simple_form_for @listing, :url => dashboard_listing_update_path(@listing,:redirect=> dashboard_listing_lease_path(@listing)),:defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.financing') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :payment_frequency %>
      <%= f.input :additional_costs_amount_cents %>
    </div>
    <div class="col-md-6">
      <%= f.association :sale_type %>
      <%= f.input :list_price_cents %>
    </div>
  </div>

  <div class="row row-10 mb15">
    <div class="col-md-4">
      <%= f.input :finance_mortgage_must_be_paid_off, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_seller_may_carry_mortgage, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_vendor_take_back, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_sale_lease_back, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_agreement_for_sale, :input_html => { :class => 'mt25 ml90'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :finance_mortgage_must_be_assumed, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_buyer_to_finance, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_seller_may_buy_down_mortgage, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_trade_or_exchange, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_assume_with_qualification, :input_html => { :class => 'mt25 ml90'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :finance_lease_with_option_to_buy, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_option_to_renew, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_sale_lease_option, :input_html => { :class => 'mt25 ml90'} %>
      <%= f.input :finance_clear_title, :input_html => { :class => 'mt25 ml90'} %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-12">
      <%= f.input :additional_costs_details, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'} %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-12">
      <%= f.input :finance_notes, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'}   %>
    </div>
  </div>

</section>

<%= f.submit "Continue", :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt20" %>
<% end %>
<% end %>
<% end %>
