<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>



<h2 class="inline-block fs23 light mb10"><%= t('listing.type') %></h2>
<%= simple_form_for @listing, :url => dashboard_listing_update_path(@listing,:redirect=>dashboard_listing_location_path(@listing)),:defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<%= f.input :listing_completeness, :as => :hidden, :input_html =>{:value => 10 } %>


<%# Section #1 %>
<section class="pt10 pl30 pr30 pb10 bg-white">
  <%# row #1 %>
  <div class="row row-10 mt30">
    <div class="col-md-4">
      <%= f.association :listing_major_type, prompt: t('app.select_an_element') %>
    </div>
    <div class="col-md-4">
      <%= f.input :listing_minor_type_id, collection: ListingMajorType.order(:name),:include_blank=>false, as: :grouped_select, group_method: :listing_minor_types,:group_label_method => :name,:label_method => lambda { |c| "#{c.name}"} %>
    </div>
    <div class="col-md-4">
      <%#= f.association :listing_sub_type, prompt: t('app.select_an_element')%>
      <%= f.input :listing_sub_type_id, collection: ListingMinorType.order(:name),:include_blank=>false, as: :grouped_select, group_method: :listing_sub_types,:group_label_method => :name,:label_method => lambda { |c| "#{c.name}"} %>
    </div>
  </div>

  <hr class="border-light-grey mt15 mb35 ml-30 mr-30">

  <%# row #2 %>
  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :transaction_type,prompt: t('app.select_an_element') %>
    </div>
    <div class="col-md-6">
      <%= f.input :business_name  %>
    </div>
  </div>

  <%# row #3 %>
  <div class="row row-10">
    <div class="col-md-6">
      <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.listing.operating_since") %></label>
      <%= f.input_field :operating_since, :as => :string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date" %>
    </div>
    <div class="col-md-6">
      <%= f.association :sale_type %>
    </div>
  </div>

  <%# row #4 %>
  <div class="row row-10">
    <div class="col-md-6">
      <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.listing.list_date") %></label>
      <%= f.input_field :list_date, :as =>:string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date"   %>
    </div>
    <div class="col-md-6">
      <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.listing.listing_expiry_date") %></label>
      <%= f.input_field :listing_expiry_date, :as =>:string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date" %>
    </div>
  </div>

  <%# row #5 %>
  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :sellers_interest %>
    </div>
    <div class="col-md-6">
      <%= f.input :sellers_right_reserved %>
    </div>
  </div>

  <%# row 6 %>
  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :limited_service_contract %>
    </div>
  </div>
</section>

<%# Section #3 %>
<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.possession_occupancy') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :possession_occupation %>
    </div>

    <div class="col-md-6">
      <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.listing.list_date") %></label>
      <%= f.input_field :list_date, :as =>:string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date"   %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :selling_commission_rate %>
    </div>

    <div class="col-md-6">
      <%= f.input :selling_commission_amount_cents %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :list_price_cents %>
    </div>

    <div class="col-md-6">
      <%= f.input :sales_tax_cents %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.association :title_type %>
    </div>
  </div>
</section>

<%# Section #4 %>
<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.franchise') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :franchise_type %>
    </div>

    <div class="col-md-6">
      <%= f.input :franchisor_name %>
    </div>
  </div>

  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :franchise_name %>
    </div>
  </div>

  <div>
    <%= f.input :public_remarks, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'}  %>
  </div>

  <div>
    <%= f.input :private_remarks, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'}  %>
  </div>
</section>

<%= f.submit "Continue", :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>
<% end %>

<% end %>
<% end %>
