<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<section class="pt30 pl30 pr30 pb30 mt30 bg-white">
  <div class="inline-block full-width">
    <h2 class="inline-block fs23 light mb15"><%= t('tax.roll') %></h2>
    <%= link_to t('tax.add_tax'), "#", :class=>"uppercase button-secondary pull-right fs13 pt14 pb14 pl25 pr25 br0", :data=>{:toggle=>"modal", :target=>"#myModal"} %>
  </div>

  <table class="full-width bAll border-light-grey mt25">
    <thead class="fs16 bg-secondary color-white">
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.roll_number') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.year') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.assessment_year') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.building_assessment_value') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.building_taxes') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.land_assessment_value') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('tax.land_taxes') %></th>
      <th class="pl15 pr15 pt20 pb20" style="width:130px;"><i class="fa fa-caret-down mr4"></i> <%= t('tax.action') %></th>
    </thead>
    <tbody class="bg-light-grey">
      <% @taxes.each do |tax| %>
      <tr class="bold fs14">
        <td class="pl15 pr15 pt20 pb5 bold"><%= tax.tax_roll_number %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.tax_year %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.building_assessment_year %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.building_assessment_value_cents %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.building_annual_tax_cents %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.land_assessment_value_cents %></td>
        <td class="pl15 pr15 pt20 pb5 normal"><%= tax.land_annual_tax_cents %></td>
        <td class="pl15 pr15 pt20 pb5">
          <div class="block">
            <%= link_to dashboard_tax_edit_path(@listing, tax), remote: true, :class=>"inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to dashboard_tax_delete_path(@listing, tax), method: :delete, data: { confirm: 'Are you sure?' }, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-close"></i>
            <% end %>
          </div>
        </td>
      </tr>
      <% if !tax.building_tax_description.blank? %>
      <tr>
        <td class="pl15 pr15 pt5 pb20 bb border-light-grey" colspan="8">
          <span class="bold block"><%= t('tax.description') %></span>
          <p><%= tax.building_tax_description %></p>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</section>
<%= link_to "Continue", dashboard_listing_seller_path(@listing), :class=>"uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>
</div>
</div>

<% end %>
<% end %>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content br0 no-border pAll30">
      <h2 class="inline-block fs23 light"><%= t('tax.add_tax') %></h2>

      <%= simple_form_for Tax.new, :url => dashboard_tax_create_path(@listing), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>

      <%= f.input :building_id, as: :hidden, input_html: {value: @building.id} %>

      <div class="row row-10 mt25">
        <div class="col-md-6">
          <%= f.input :tax_roll_number  %>
        </div>

        <div class="col-md-6">
          <%= f.input :tax_year %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :building_assessment_year %>
        </div>

        <div class="col-md-6">
          <%= f.input :building_assessment_value_cents %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :building_annual_tax_cents %>
        </div>

        <div class="col-md-6">
          <%= f.input :land_assessment_value_cents %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :land_annual_tax_cents %>
        </div>
      </div>

      <div>
        <%= f.input :building_tax_description, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width'}  %>
      </div>

      <%= f.submit t('app.add'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editTaxModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      
    </div>
  </div>
</div>