<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>
<%= simple_form_for @listing, :url => dashboard_listing_update_path(@listing,:redirect=> dashboard_path),:defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.lease') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.association :lease_term %>
      <%= f.association :lease_include %>
      <%= f.input :lease_area_size %>
      <%= f.input :lease_price_cents %>
    </div>
    <div class="col-md-6">
      <%= f.association :lease_additional_cost %>
      <%= f.association :lease_type %>
      <%= f.input :current_lease_expiry, as: :string, class: "date" %>
      <%= f.input :total_monthly_lease_cents %>
    </div>
  </div>

	<div class="row row-10">
		<div class="col-md-12">
			<%= f.input :lease_details, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'} %>
			<%= f.input :leasehold_improvements_details, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20'} %>
		</div>
	</div>

</section>

<%= f.submit "Continue", :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt20" %>

<% end %>
<% end %>
<% end %>

