<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>
<section class="pt30 pl30 pr30 pb30 mt50 bg-white">
  <div class="inline-block full-width">
    <h2 class="inline-block fs23 light mb15"><%= t('documents.uploaded_documents') %></h2>
    <%= link_to "Add a document", "#", :class=>"uppercase button-secondary pull-right fs13 pt14 pb14 pl25 pr25 br0", :data=>{:toggle=>"modal", :target=>"#myModal"} %>
  </div>

  <table class="full-width bAll border-light-grey mt25">
    <thead class="fs16 bg-secondary color-white">
      <td class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i><%= t('documents.file') %></td>
      <td class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i><%= t('documents.name') %></td>
      <td class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i><%= t('documents.type') %></td>
      <td class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i><%= t('documents.date_added') %></td>
      <td class="pl15 pr15 pt20 pb20"><%= t('documents.action') %></td>
    </thead>

    <tbody class="bg-light-grey">
      <% @documents.each do |doc| %>
      <tr class="bold fs14 bb border-light-grey">
        <td class="pl15 pr15 pt20 pb20">
          <div class="pl25 relative">
              <%= link_to doc.document.url(:timestamp => false), class: "color-primary bold", target: "_blank" do %>
               <i class="fa fa-file-pdf-o absolute absolute-top-left fs23"></i>
               <%= doc.document_file_name %>
              <% end %>
            <span class="block fs10 light">(647 KB)</span>
          </div>
        </td>
        <td class="pl15 pr15 pt20 pb20"><%= doc.document_file_name %></td>
        <td class="pl15 pr15 pt20 pb20"><%= doc.document_content_type %></td>
        <td class="pl15 pr15 pt20 pb20"><%= I18n.localize doc.document_date.to_time,:format =>("%Y %b %d") if doc.document_date.present?  %></td>
        <td class="pl15 pr15 pt20 pb20">
          <div class="block">
            <!-- <a href="#" class="inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20">
              <i class="fa fa-search-plus"></i>
            </a> -->
            <%= link_to dashboard_document_edit_path(@listing, doc), remote: true, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to dashboard_document_delete_path(@listing, doc), method: :delete, data: { confirm: 'Are you sure?' }, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-close"></i>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="inline-block full-width mt40">
    <div class="pull-right">
      <a href="#" class="pull-left pt3 pb3 pl10 pr10">«</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10 br border-light-grey">1</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10 br border-light-grey color-white bg-primary">2</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10 br border-light-grey">3</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10 br border-light-grey">4</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10">5</a>
      <a href="#" class="pull-left pt3 pb3 pl10 pr10">»</a>
    </div>
  </div>
</section>

<%= link_to "Continue", dashboard_listing_taxes_path(@listing), :class=>"uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>

<% end %>
<% end %>

<%# Modal %>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      <h2 class="inline-block fs23 light"><%= t('documents.add_document') %></h2>
      <%= simple_form_for Document.new, :url => dashboard_document_create_path(@listing), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
      <%= f.input :documentable_id, as: :hidden, input_html: {value: @listing.id} %>
      <%= f.input :documentable_type, as: :hidden, input_html: {value: "Listing"} %>
      <div class="mt25">
        <%= f.association :document_type, include_blank: false %>
      </div>
      <div>
        <%= f.input :document_file_name  %>
      </div>
      <div>
        <label for="" class="fs14 color-grey"><%= t("activerecord.attributes.document.document_date") %></label>
        <%= f.input_field :document_date, :as =>:string, :class=> "mt10 border-grey bAll pl15 pr15 full-width mb20 date" %>
      </div>
      <div>
        <%= f.input :document, label: false %>
      </div>
      <%= f.submit "Add", :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer'%>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editDocumentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      
    </div>
  </div>
</div>

