<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<%= simple_form_for @listing, :url => dashboard_listing_update_path(@listing,:redirect=>dashboard_listing_equipment_path(@listing)),:defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
<section class="pt30 pl30 pr30 pb10 mt25 bg-white">
  <h2 class="inline-block fs23 light"><%= t('listing.seller') %></h2>

  <div class="row row-10 mt30">
    <div class="col-md-6">
      <%= f.input :sellers_interest %>
    </div>
    <div class="col-md-6">
      <%= f.input :sellers_right_reserved %>
    </div>
  </div>
  <div class="row row-10">
    <div class="col-md-6">
      <%= f.input :selling_commission_rate %>
    </div>
    <div class="col-md-6">
      <%= f.input :selling_commission_amount_cents %>
    </div>
  </div>

</section>

<%= f.submit "Continue", :class => "uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt20" %>
<% end %>
<% end %>
<% end %>
