<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>
<section class="pt30 pl30 pr30 pb30 mt50 bg-white">
  <h2 class="inline-block fs23 light"><%= t('photo.add_your_photos') %></h2>

  <!-- <a class="uppercase button-secondary pull-right fs13 pt14 pb14 pl25 pr25 br0" data-toggle="modal" data-target="#myModal" href="#">Add a photo</a> -->

  <%# PHOTOS %>
<div id="" class="" style="">
  <%= simple_form_for Photo.new, :url=>dashboard_photo_create_path(@listing),:html =>{:multipart => true} do |f| %>
  <%= f.input :photoable_id, as: :hidden, input_html: {value: @listing.id} %>
  <%= f.input :photoable_type, as: :hidden, input_html: {value: "Listing"} %>
  <div id="dropzone" class="block-dashed">
    <h4 ><%= t('photo.drop_here') %></h4>
    <p class="btn-custom-primary inline-block pointer withShadow pt4 pb6 pl10 pr10 mt20 mb0" id="input_file_button"><%= t('photo.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
    <%= f.file_field :image, :multiple => true, :name => 'photo[image]', :class=>"hide input-file" %>
  </div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="upload"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">{%=o.name%}</div></div></div>
  </script>
  <% end %>
</div>

  <div id="my-ui-list-picture" class="row row-20 photos-grid mt30" data-sort-url="<%= dashboard_listing_photo_sort_path(@listing)%>">
    <% @photos.order(:position).each do |photo| %>
      <%= render partial: 'photo', locals: {photo: photo} %>
    <% end %>
  </div>
</section>

<%= link_to "Continue", dashboard_listing_document_path(@listing), :class=>"uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>

<% end %>
<% end %>
