<%= render 'dashboard/layout' do %>
<%= render 'listing/layout' do %>

<section class="pt30 pl30 pr30 pb30 mt50 bg-white">
  <div class="inline-block full-width">
    <h2 class="inline-block fs23 light mb15"><%= t('equipment.uploaded_rooms') %></h2>

    <%= link_to t('room.add_room'), "#", :class=>"uppercase button-secondary pull-right fs13 pt14 pb14 pl25 pr25 br0", :data=>{:toggle=>"modal", :target=>"#myModal"} %>

  </div>

  <table class="full-width bAll border-light-grey mt25">
    <thead class="fs16 bg-secondary color-white">
      <th class="pl15 pr15 pt20 pb20" style="width:120px;"><i class="fa fa-caret-down mr4"></i> <%= t('room.name') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('room.room_type') %></th>
      <th class="pl15 pr15 pt20 pb20"><i class="fa fa-caret-down mr4"></i> <%= t('room.room_size') %></th>
      <th class="pl15 pr15 pt20 pb20" style="width:180px;"><%= t('room.action') %></th>
    </thead>

    <tbody class="bg-light-grey">
      <% @rooms.each do |room| %>

      <tr class="bold fs14 bb border-light-grey">
        <td class="pl15 pr15 pt20 pb20"><%= room.name %></td>
        <td class="pl15 pr15 pt20 pb20 normal"><%= room.room_type %></td>
        <td class="pl15 pr15 pt20 pb20 normal"><%= room.room_size %></td>
        <td class="pl15 pr15 pt20 pb20">
          <div class="block">
            <a href="#" class="inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20">
              <i class="fa fa-search-plus"></i>
            </a>
            <%= link_to dashboard_room_edit_path(@listing, room), remote: true, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to dashboard_room_delete_path(@listing, room), method: :delete, data: { confirm: 'Are you sure?' }, class: "inline-block mr8 mb5 br5 bAll border-light-grey bg-white pt3 pb6 pl10 pr10 fs20" do %>
              <i class="fa fa-close"></i>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>




<%= link_to "Continue", dashboard_listing_broker_path(@listing), :class=>"uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40" %>

<% end %>
<% end %>

<%# Modal %>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      <h2 class="inline-block fs23 light"><%= t('room.add_room') %></h2>

      <%= simple_form_for Room.new, :url => dashboard_room_create_path(@listing), :defaults => {:label_html => { :class => 'fs14 color-grey' },:input_html => { :class => 'mt10 br0 pl15 pr15 full-width border-grey mb20'}} do |f| %>
      <%= f.input :listing_id, as: :hidden, input_html: {value: @listing.id} %>

      <div class="row row-10 mt25">
        <div class="col-md-6">
          <%= f.input :name  %>
        </div>

        <div class="col-md-6">
          <%= f.input :room_size %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :room_length %>
        </div>

        <div class="col-md-6">
          <%= f.input :room_width %>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-md-6">
          <%= f.input :room_level %>
        </div>

        <div class="col-md-6">
          <%= f.association :room_type %>
        </div>
      </div>

      <%= f.submit t('app.add'), :class => 'uppercase button-secondary fs13 pt14 pb14 pl25 pr25 br0 mt20 pointer' %>
      <% end %>
    </div>
  </div>
</div>
</section>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="editRoomModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content br0 no-border pAll30">
      
    </div>
  </div>
</div>