

<section class="row mr0 ml0 same-height-col">
  <section class="col-lg-2 pr0 pl0" id="main-sidebar">
   <%= render 'dashboard/dashboard_sidebar' do %>
    <% end %>
  </section>

  <section class="col-lg-10 pr0 pl0 pb40" id="dashboard-content">
    <%= render 'dashboard/dashboard_header' do %>
      Building
    <% end %>

    <div class="mt70 pl40 pr40">
      <h2 class="bold fs19">All fields relative to all buildings (construction/use)</h2>

      <div class="row row-10">
        <div class="col-md-3 col-sm-push-9">
          <div class="hidden-xs hidden-sm mt50"></div>

          <%= render 'dashboard/dashboard_sidebar_right' %>
        </div>

        <%= simple_form_for @building, :url => {controller: "dashboard", :action => "new_3create"} do |f| %>

        <div class="col-md-9 col-sm-pull-3">
          <section class="mt25">
            <div class="row row-10 mt30">
              <div class="col-md-6">
                <%= f.input :building_name, :label => "Building Name", :label_html => { :class => 'fs14 color-grey' }, :input_html => { :class => 'mt10 border-grey bAll pl15 pr15 full-width mb20'}  %>
              </div>
            </div>

            <div>
              <%= f.input :building_description, :label_html => { :class => 'fs14 color-grey' }, :input_html => { rows: "8", :class => 'mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width'}  %>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Building Style</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Architectural Style</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :architecture_style %>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Structure Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :structure_type %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Attached Style</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :attached_style %>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Year Built</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
                <%= f.input :year_build %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Construction Status</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :construction_status %>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Construction Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :construction_type %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Foundation</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :foundation %>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Roof Construction</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
                <%= f.association :roof %>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Number of Floors</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
                <%= f.input :numeric_of_floor %>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Total Floor Area</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
                <%= f.input :total_floor_area %>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Property Legal Address</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Lot</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Block</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Plan</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Meridian</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Range</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Township</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Section</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Quarter</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Subdivision</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div>
              <label for="" class="fs14 color-grey">Private Remarks - member only'</label>
              <textarea name="" id="" rows="8" class="mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20"></textarea>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Elevator</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Capacity</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Signage</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Parking</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type of Parking</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Number of Spaces</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="inline-block full-width">
              <input type="checkbox" id="included_sale" class="pull-left mt4 pointer">
              <label for="included_sale" class="pull-left color-grey pl5 fs14 pointer">Included in sale/Lease</label>
            </div>

            <hr class="border-light-grey mt30 mb30 ml-30 mr-30">

            <h2 class="inline-block fs23 light">Parking</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Size</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Door Size(s)</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Number of spaces</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">UFFI Present</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">BOMA Rating</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">LEED</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">LEED Category</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">LEED WELL Certification</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Green Building Certifications</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div>
              <label for="" class="fs14 color-grey">Private Remarks - member only'</label>
              <textarea name="" id="" rows="8" class="mt10 border-grey bAll pl15 pr15 pt10 pb10 mb20 full-width"></textarea>
            </div>

            <div>
              <label for="" class="fs14 color-grey">Private Remarks - member only'</label>
              <textarea name="" id="" rows="8" class="mt10 border-grey bAll pl15 pr15 pt10 pb10 full-width mb20"></textarea>
            </div>

            <div class="inline-block full-width mb20">
              <input type="checkbox" id="vehicle_access" class="pull-left mt4 pointer">
              <label for="vehicle_access" class="pull-left color-grey pl5 fs14 pointer">Vehicle Access</label>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Fronts on</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Appliances</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Basement Detail</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Development</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div>
              <label for="" class="fs14 color-grey">Description</label>
              <textarea name="" id="" rows="8" class="mt10 border-grey bAll pl15 pr15 pt10 pb10 mb20 full-width"></textarea>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Building Amenities</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Ceiling Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Ceiling Height</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Ceiling Clearance</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Cooling Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Protection Systems</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Flooring</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Heating</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Heating Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Heating Fuel</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Loading</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Quantity</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Size of Door</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Height</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Width</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Storage</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Size</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Utilities</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Power Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Amperage</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Sewage Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Water Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Communications Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Rooms</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Total Rooms</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Room Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Room Size</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <hr class="border-light-grey mt10 mb30 mr-30 ml-30">

            <h2 class="inline-block fs23 light">Room Measurement</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Length</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Width</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Room Level</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Site Features</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Total Units</label>
                <input type="text" class="mt10 border-grey bAll pl15 pr15 full-width mb20">
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">View</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>

            <div class="row row-10">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Storefront</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <section class="pt30 pl30 pr30 pb10 mt25 bg-white">
            <h2 class="inline-block fs23 light">Fireplace</h2>

            <div class="row row-10 mt30">
              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Fireplace Type</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="" class="fs14 color-grey">Fireplace Fuel</label>
                <select name="" id="" class="mt10 br0 pl15 pr15 full-width border-grey mb20">
                  <option value="wda"></option>
                </select>
              </div>
            </div>
          </section>

          <input type="submit" value="Continue" class="uppercase button-secondary pull-right fs13 pl25 pr25 pt11 pb11 mt40">
        </div>
      </div>

    <% end %>

    </div>
  </section>
</section>
