#chosen_select_store_chosen, #chosen_select_client_chosen,
#chosen_select_store_modal_chosen, #chosen_select_client_modal_chosen {
  width: 300px !important;
  max-width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
}


.item {
  a img{
    margin: 0 auto;
  }
}


// GLOBAL STUFF
body{
  background: $grey;
  &.pages.home{
    background: #d6d6d6;
    background-image:image_url('noise-bg.png');
  }
  &.checkouts.view_cart,&.pages.contact,&.checkouts.infos{
    background: $light-grey;
  }
  font-family:'Ubuntu';
  font-weight:400;
  padding-top:50px;
  letter-spacing:.2px;
  -webkit-font-smoothing: antialiased;
  input:focus{outline:none; box-shadow:0 0 0;}
  small{color:inherit; font-weight:inherit;}
  a:focus{outline:none;}
  .sweet-alert{
    font-family:'Ubuntu';
    button.confirm{background-color:$green !important; @extend .button-primary;}
    button.cancel{background-color:$red !important; @extend .button-primary;}
  }
  .nav .dropdown-toggle{cursor:pointer;}
  .nav .dropdown-menu{position:absolute !important; left:auto; right:0;}
  .no-click-action{pointer-events:none;}
}

main{min-height:calc(100vh - 92px); overflow:hidden; position: relative;}

strong{@extend .bold;}

.container{
  &.colored-sides{position:relative;}
  .left-light-blue-bg, .right-light-blue-bg{
    background:$light-blue; position:absolute; top:0; width:100%; height:100%;
  }
  .left-light-blue-bg{left:0; transform:translateX(-100%);}
  .right-light-blue-bg{right:0; transform:translateX(100%);}
}

body.pages, body.dashboard, body.checkouts, body.credit_cards, body.devise{
  textarea, input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
    border-radius:3px;
    border:1px solid $grey;
    width:100%;
    resize:none;
    transition:border .2s;
    will-change:border;
    padding:0 15px;
    background:white;
    box-shadow:0 0 0;
    font-size:12px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    &:focus{
      outline:none;
      box-shadow:0 0 0;
      border-color:rgba($secondary, .5);
    }
  }
  input:not([type=submit]):not([type=checkbox]):not([type=radio]), select{
    height:40px; padding:0 15px;
    &.small-input{height:30px; font-size:12px; padding:0 10px;}
  }
  textarea{padding:10px 15px;}
  select{
    appearance:none; -moz-appearance:none; -webkit-appearance:none; background-image:image-url('select-dropdown.svg'); background-repeat:no-repeat; background-position:center right; padding-right:40px; box-shadow:0 0 0; line-height:30px;
    &:hover{cursor:pointer;}
  }
  .inline-checkbox{
    position:relative;
    input[type=checkbox], input[type=radio]{display:inline-block; position:absolute; top:9px; left:15px;}
    input[type=checkbox]{width:10px; height:10px; top:11px;}
    label{
      padding:9px 15px; @extend .normal; font-size:14px; color:$grey; border:1px solid $light-grey; border-radius:3px; cursor:pointer; padding-left:40px; margin:0;
      .medias{
        float:right; margin-right:-13px; margin-bottom:-5px;
        svg{
          display:inline-block; max-height:30px; margin:-5px 2px;
        }
      }
    }
    input[type=checkbox]:checked + label, input[type=radio]:checked + label{
      border-color:rgba($secondary, .5); color:$secondary !important;
      *{color:$secondary !important;}
    }
  }
  input[type=checkbox], input[type=radio]{cursor:pointer; outline:none !important; margin:0;}
}
// END GLOBAL STUFF
#flashMessageContainer{
  position:fixed;
  right:20px;
  top:60px;
  width: 420px;
  max-width:calc(100% - 40px);
  z-index:2000;
  div{
    background:white;
    border:1px solid $light-grey;
    padding: 15px;
    margin-bottom: 5px;
    border-left-width:5px;
    border-radius:0;
    border-color:$light-grey;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    &.flash-danger{
      border-color:$red; color:$red;
      .close{color:$red; opacity:1;}
    }
    &.flash-success{
      border-color:$green; color:$green;
      .close{color:$green; opacity:1;}
    }
    &.flash-info,&.flash-notice{
      border-color:#31708f; color:#31708f;
      .close{color:#31708f; opacity:1;}
    }
  }
}

@keyframes flashMessageIn{
  0%{transform:translateY(10px); opacity:0;}
  50%{transform:translateY(-5px); opacity:2;}
  100%{transform:translateY(0px);}
}

.hover-shadow{
  transition:all .2s;
  &.popped-out{box-shadow:0 0 10px 100px rgba($black, .1) inset;}
  &:hover{box-shadow:0 0 10px 100px rgba($white, .1) inset;}
  &:active{box-shadow:0 0 10px 100px rgba($black, .3) inset;}
}

.hover-shadow-white{
  transition:all .2s;
  &.popped-out{box-shadow:0 0 10px 100px rgba($white, .1) inset;}
  &:hover{box-shadow:0 0 10px 100px rgba($white, .2) inset; background:transparent;}
  &:active{
    box-shadow:0 0 10px 100px white inset; color:$grey !important;
    svg path{fill:$grey !important;}
  }
}

li.dropdown{
  .dropdown-menu{display:block; transform:translateY(-20px); visibility:hidden; opacity:0; transition:all .2s;}
  &.open{
    .dropdown-toggle.hover-shadow{box-shadow:0 0 10px 100px rgba($black, .3) inset; background:transparent;}
    .dropdown-toggle.hover-shadow-white{
      box-shadow:0 0 10px 100px white inset; background:transparent; color:$grey !important;
      svg path{fill:$grey !important;}
    }
    .dropdown-menu{transform:translateY(0); visibility:visible; opacity:1;}
  }
}

.dropdown-menu{
  // Override du dropdown bootstrap (version + triangle)
  &.with-arrow{
    border:0; border-radius:2px !important; box-shadow:0 2px 5px rgba($black, .1); padding:10px;
    a{
      padding:11px 25px 9px 15px; border-radius:2px;
      &:hover{background:$secondary; color:white;}
    }
    &::before{content:'\f0d8'; font:normal normal normal 14px/1 FontAwesome; font-size:35px; color:$white; position:absolute; top:0; left:0; transform: translate(14px, -22px);}
  }
  // Override du dropdown bootstrap (version no triangle)
  &.user-dropdown, &.user-basket-dropdown{
    border:0; border-radius:0 0 2px 2px !important; box-shadow:0 2px 5px rgba($black, .1) !important; margin:0;
  }
}




// ICI
#main-navbar{
  #user-dropdown{
    border-left:1px solid rgba($white, .2);
    border-right:1px solid rgba($white, .2);
  }
  .user-basket{
    box-shadow:-1px 0 0 rgba($white, .2), 1px 0 0 0 rgba($white, .2);
    .dropdown-toggle{height:50px; padding-right:18px;}
    .badge{color:white; height:15px; width:15px; line-height:15px; text-align:center; background:#D0021B; font-weight:200; padding:0; margin:0px 0 -10px -15px;}
    .dropdown-menu{
      width:300px;
      .articles{
        width:100%;
        .article{
          width:100%; display:inline-block; width:100%;
          .thumb{height:55px; width:55px; border-radius:4px; border:1px solid $light-grey;}
          .infos{
            width:calc(100% - 65px);
            .bottom{
              width:100%;
              .price{border:1px solid $primary;}
              .quantity{}
            }
          }
          &:last-child{margin-bottom:0 !important;}
        }
        .additionnal-articles{border:1px solid $light-grey;}
      }
    }
  }
}



#category-title{
  background-color:$light-grey;
}

.products{
  .product{
    article{
      border: 1px solid $light-grey;
      table{
        table-layout: fixed;
      }
      .valignMiddle{
        width: 150px;
        img{
          border:1px solid $light-grey;
        }
      }
    }
  }
}


#home-sidebar{
  &.affix{top:75px; width:262.5px;}
}

#newsletter-card{
  border-radius:2px; border:1px solid $light-grey;
  form{
    position:relative;
    input[type=email]{
      padding:8px 50px 8px 13px; border-radius:2px; border:1px solid $light-grey; width:100%; transition:all .2s; height:35px;
      &:focus{border-color:rgba($secondary, .5);}
    }
    input[type=submit]{
      position:absolute; top:0; right:0; border-radius:0 2px 2px 0; height:35px; background:white; border:1px solid $secondary; transition:all .2s; color:$secondary;
      &:hover{color:white; background:$secondary;}
    }
  }
}

footer#main-footer{
  .content{
    background:#FBFBFB; border-top:1px solid $light-grey; color:#aaa;
    a{color:#aaa;}
  }
}



.box-edit{
  border-radius:3px; box-shadow:0 1px 5px rgba(0,0,0,.1); background-color:white;
}

#connectForm-wrapper, #registerForm-wrapper{
  border-radius:3px; border:none; box-shadow:0 1px 5px rgba(0,0,0,.1); overflow:hidden; background-color:white;
  .connect,.register{background-repeat:no-repeat;}
  form{
    select{height:40px;}
    .checkbox{
      input[type=checkbox]{
        display:none;
        & + label{
          color: $grey; font-size:12px; @extend .normal; position:relative;
          &::before{content:''; height:16px; width:16px; background:$light-grey; display:inline-block; border-radius:100%; position:absolute; right:0; top:1;}
          &::after{content:''; height:10px; width:10px; transform:scale(0); background:$color-link; display:inline-block; border-radius:100%; position:absolute; right:3px; top:3px; transition:all .2s cubic-bezier(0, 1.57, 0.75, 1.65); opacity:0;}
        }
        &:checked + label{
          &::after{transform:scale(1); opacity:1;}
        }
      }
    }
  }
  .register{background-position:top right; border-left:1px solid $light-grey;}
  .register-info{background-color:$secondary;}
}

#product-slider{
  height:550px;
  img{max-height:100%;}
}

#product-header{
  background:white;
  .wrapper{
    height:70px;
    border:1px solid $grey;
    border-top:none;
    .button-box{
      border-left:1px dashed $grey;
    }
  }
  &.fixed{
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    z-index:1000;
  }
  img{max-height:52px;}
}
#fake-product-header{height:70px; width:100%;}

.product_description{
  color:$grey; line-height:30px; font-size:14px;
  p{
    color:$grey; line-height:30px; font-size:14px;
    &:empty{display:none;}
  }
  h2,h3,h4,h5,h6{
    font-size:15px !important; @extend .medium; color:$primary; margin-bottom:10px; margin-top:20px; display:inline-block;
    &:nth-of-type(0){margin-top:0;}
    span{font-size:15px !important;}
  }
  a{color:$secondary; @extend .medium;}
}




form#faq-form{
  background:white; border:1px solid $light-grey; border-radius:2px; height:35px;
  button{background:transparent; border:none; height:35px; width:35px; outline:none !important;}
  input[type=text]{background:none; border:none; width:calc(100% - 35px); border-left:1px solid $light-grey; height:25px; border-radius:0;}
}

ul#faq-questions{
  li{
    a{
      background:white; border:1px solid $light-grey; border-radius:2px; transition:border .2s, box-shadow .2s; will-change:border, box-shadow;
      &:hover{border-color:white; box-shadow:0 0 10px rgba(0,0,0,.2);}
      &.current{border-color:white; box-shadow:0 0 10px rgba($secondary, .5);}
    }
    &:last-of-type{margin-bottom:0 !important;}
  }
}

#faq-question{
  .description{
    color:$grey; line-height:30px; font-size:14px;
    p{
      color:$grey; line-height:30px; font-size:14px;
      &:empty{display:none;}
    }
    h2,h3,h4,h5,h6{
      font-size:15px; @extend .medium; color:$primary; margin-bottom:10px; margin-top:20px; display:inline-block;
      &:nth-of-type(0){margin-top:0;}
    }
    img{max-width:100%; margin:20px 0; border:1px solid $light-grey;}
    a{color:$secondary; @extend .medium;}
  }
}

.cart-product{
  display:inline-block;
  width:100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid $grey;
  border-radius:5px;
  background-color: $white;
  .thumb{height:65px; width:65px; border-radius:3px; border:2px solid $light-grey; float:left;}
  .infos{
    width:calc(100% - 75px); margin-left:10px; float:left;
  }
}



.price-card-wrapper{
  article.price-card{
    box-shadow:0 1px 5px rgba(0,0,0,.1); display:inline-block; width:100%; position:relative; z-index:50;
    hr{width:10px; height:2px; background:$light-grey;}
    select{line-height:20px;}
    .choice{
      input[type=radio]{display:none;}
      label{
        box-shadow:0 0 0 1px $light-grey inset; padding:7px 15px 5px 15px; margin:0; width:100%; @extend .pointer; position:relative; overflow:hidden;
        svg{
          position:absolute; bottom:-1px; right:-1px;
          path{fill:$light-grey;}
        }
      }
      &:first-of-type label{border-radius:2px 0 0 2px;}
      &:last-of-type label{border-radius:0 2px 2px 0; margin-left:-1px;}
      input[type=radio]:checked + label{
        box-shadow:0 0 0 1px $secondary inset; z-index:50;
        path{fill:$secondary;}
      }
    }
    .options{
      .option{
        &:last-of-type{margin-bottom:0 !important;}
        .input-group{
          float:left;
          input{width:70px; height:30px; font-size:12px; border-radius:2px 0 0 2px;}
          .input-group-btn{
            float:right; width:30px; height:30px;
            button{
              height:30px; width:30px; line-height:17px; margin:0; padding:0; text-align:center; color:$grey; border-color:$grey;
              &:focus{outline:none;}
            }
            &:first-of-type button{border-radius:0 2px 2px 0; margin-left:-2px;}
            &:last-of-type button{border-radius:0; margin-left:-1px;}
          }
        }
        select{
          width:auto; height:25px; appearance: none; -moz-appearance: none; -webkit-appearance: none; background:transparent; border:none; margin:-4px -10px -4px 0; border-left:1px solid $light-grey; background-image:asset_url('images/select-dropdown-2.svg'); background-position:center right; background-size:contain; background-repeat:no-repeat; border-radius:0;
        }
      }
    }
    .quantity{
      .quantity-options{
        .option{
          border-top:1px solid $light-grey;
          &:last-child{border-bottom:1px solid $light-grey;}
        }
      }
    }
    .global-quantity{
      background:rgba($light-grey,.2);
      border-top:1px solid $light-grey; width:calc(100% + 40px);
      border-bottom:1px solid $light-grey;
      .input-group{
        float:right;
        input[type=text]{width:70px; height:30px; font-size:12px; border-radius:2px 0 0 2px;}
        .input-group-btn{
          float:right; width:30px; height:30px;
          button{
            height:30px; width:30px; line-height:17px; margin:0; padding:0; text-align:center; color:$grey; border-color:$light-grey;
            &:focus{outline:none;}
          }
          &:first-of-type button{border-radius:0 2px 2px 0; margin-left:-2px;}
          &:last-of-type button{border-radius:0; margin-left:-1px;}
        }
      }
    }
    .warning{
      overflow:hidden; position:relative; box-shadow:0 0 0 1px $light-grey inset;
      svg{
        position:absolute; top:-1px; right:-1px;
      }
    }
  }
}



#payment-list{
  .payment{
    .medias{height:30px;}
  }
}


.orders-list, .delegates-list{
  hr:last-of-type{display:none;}
}



label.switchbox{
  height:25px; width:50px; background:#eee; position:relative; border-radius:20px; cursor:pointer;
  span{height:20px; width:20px; border-radius:100%; background:$primary; position:absolute; left:3px; top:2px; transition:left .2s;}
}
.switchbox-input{
  &:checked + label {
    span{left:27px;}
  }
  &[disabled] + label{
    span{background-color:$grey !important;}
  }
}

.cart-total-box{
  width:100%;
  &.affix{top:80px; width:360px;}
}



#product-description{
  color:$grey;
  line-height:30px;
  font-size:14px;
  p{
    color:$grey;
    line-height:30px;
    font-size:14px;
    &:empty{display:none;
    }
  }
  h2,h3,h4,h5,h6{
    font-size:15px;
    @extend .medium;
    margin-bottom:10px;
    margin-top:20px;
    display:inline-block;
    &:nth-of-type(0){margin-top:0;
    }
  }
  a{
    color:$color-link;
    @extend .medium;
  }
}



.layer, .layer > *{
  position:absolute;
  left:0;
  width:100%;
  border:0;
  background-color: $light-grey;
}
.flex-image{
  top:0; height: 100%; z-index: 10;
}
.flex-centered{
  top:0; height: 100%; z-index: 10; background: rgba(0,0,0,0.4);
  display: flex; justify-content: center; align-items: center;
  color: white;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  .new-line{width: 100%;}
}


// display tooltip for extras in cart
.options{
  cursor:pointer; position:relative;
  span{opacity:.6; transition:opacity .2s; will-change:opacity;}
  .option-dropdown-bottom{
    background:rgba($black, .9); position:absolute; bottom:0; left:50%; transform:translate(-50%, 100%); border-radius:3px; visibility:hidden; opacity:0; transition:transform .2s, opacity .2s, visibility .2s; padding:10px 15px 10px 15px; z-index:500;
    &::before{content:''; width:0; height:0; position:absolute; left:50%; transform:translate(-50%, -20px); border-bottom:5px solid black; border-right:5px solid transparent; border-left:5px solid transparent; border-top:5px solid transparent;}
    &::after{content:''; width:100%; height:15px; transform:translateY(-100%); position:absolute; top:0; left:0; background:transparent;}
  }
  .option-dropdown-top{
    background:rgba($black, .9); position:absolute; top:0; left:50%; transform:translate(-50%, -100%); border-radius:3px; visibility:hidden; opacity:0; transition:transform .2s, opacity .2s, visibility .2s; padding:10px 15px 10px 15px; z-index:500;
    &::after{content:''; width:0; height:0; position:absolute; left:50%; transform:translate(-50%, 100%) rotate(180deg); border-bottom:5px solid black; border-right:5px solid transparent; border-left:5px solid transparent; border-top:5px solid transparent;}
    &::before{content:''; width:100%; height:15px; transform:translateY(-100%); position:absolute; top:0; left:0; background:transparent;}
  }
  &:hover{
    span{opacity:1;}
    .option-dropdown-bottom{visibility:visible; opacity:1; transform:translate(-50%, calc(100% + 5px));}
    .option-dropdown-top{visibility:visible; opacity:1; transform:translate(-50%, calc(-100% - 5px));}
  }
}
