////////////
// RANGES //
////////////
// Smartphone & Tablet
@media(max-width:991px){
  #home-sidebar{position:static;}

  #product-slider{height:350px;}

  #product-header{
    .titles{
      padding-left:5px !important;
      h1, h2{display:block !important;}
      h2{margin-left:0 !important; margin-top:5px;}
    }
  }

  .cart-total-box{position:static; width:100% !important;}
}

// Tablet & Small Desktop
@media(min-width:768px) and (max-width:1199px){

}

// Smatphone & Tablet & Small Desktop
@media(max-width:1199px){

}

// Small Desktop only
@media (min-width:992px) and (max-width:1199px){
  #home-sidebar{width:212.5px !important;}
  .cart-total-box{
    &.affix{width:293.33px !important;}
  }
}

// Tablet only
@media (min-width:768px) and (max-width:991px){

}

// Smartphone Only
@media (max-width:767px){
  .price-card{height:auto !important;}
  #product-header{
    .titles{
      display:block; width:100%;
      h1{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width:100%;}
    }
  }



  #payment-list{
    .payment{
      .actions{
        margin-right:0 !important; display:block !important; text-align:right;
      }
    }
  }
}

// Small Smartphone Only
@media (max-width:360px){
  #payment-list{
    .payment{
      .actions{
        a{margin:0 !important;}
      }
    }
  }
}




