<% flash.each do |name, msg| %>
<% unless msg.blank? %>

<% if msg.is_a?(String) %>
<div id="flashMessage">
  <div id="flashMessageContainer">
    <div class=" mb3 mt3 alert alert-<%= name == :notice ? "info" : "warning" %>">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>
