<%#-- Default Meta -- %>
<% set_meta_tags :site => ENV['site_name'], :title => @title_for_layout ? @title_for_layout.html_safe : controller.action_name , :reverse => true %>
<% unless @description_for_layout.nil? %> <% set_meta_tags :description => @description_for_layout%> <% end %>
<% if @keywords_for_layout %> <% set_meta_tags :keywords => @keywords_for_layout %><% end %>
<% set_meta_tags :canonical => @canonical_for_layout ? @canonical_for_layout : request.original_url   %>

<% if @noindex_for_layout and @noindex_for_layout ==true %>
<% set_meta_tags :noindex => true %>
<% end %>
