<nav id="my--navbar" class="navbar navbar-default navbar-inverse mb0" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path,:class=>'navbar-brand' do%><%= ENV['site_name'] %><% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Monitoring<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header"><%="Mode : (#{Rails.env})" %></li>
            <li><%= link_to sidekiq_web_path, :target=>'blank' do %><i class="fa fa-weixin mr5"></i>Sidekiq<% end %></li>
            <li class="divider"></li>
            <li><%= link_to "/rails/mailers",:target=>"_blank" do %><i class="fa fa-paper-plane mr5"></i>Mails Tester<% end %></li>
          </ul>
        </li>
        <li <% if controller.controller_name == "centris"%> class="active"<% end %>><%= link_to dashboard_centris_path do %>Centris<% end %> </li>
        <li <% if controller.controller_name == "magex"%> class="active"<% end %>><%= link_to dashboard_magex_path do %>Magex<% end %> </li>
        <li <% if controller.controller_name == "zipcoodes"%> class="active"<% end %>><%= link_to dashboard_zipcode_path do %>ZipCode<% end %> </li>
        <li <% if controller.controller_name == "mybrokers"%> class="active"<% end %>><%= link_to my_brokers_path do %>My Brokers<% end %> </li>
        <li <% if controller.controller_name == "youtube"%> class="active"<% end %>><%= link_to dashboard_youtube_path do %>Youtube Vidéos<% end %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to(destroy_user_session_path, :method=>'delete') do %><i class="fa fa-sign-out mr5"></i>Déconexion<% end %></li>
        <% else %>
        <li><%= link_to new_user_session_path do %><i class="fa fa-sign-in mr5"></i>Connexion<% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
