<ul id="flashMessage" class="flashMessage list-unstyled" style="<% flash.present? ? nil : 'display:none;'  %>">
  <% flash.each do |name, msg| %>
  <% if msg.present? %>
  <% name = name == "alert" ? "danger" : (name == "notice" ? "info" : name) %>
  <li class="mb3 mt3 alert alert-<%= name.blank? ? "info" : name %>">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <div id="<%= "flash_#{name}" %>">
      <% if msg.kind_of?(Array) %>
      <ul>
        <% msg.each do |m| %>
        <li><%= m %></li>
        <% end %>
      </ul>
      <% else %>
      <%= msg %>
      <% end %>
    </div>
  </li>
  <% end %>
  <% end %>
</ul>