<!DOCTYPE html>
<html>
  <head>
    <title>Translations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <body class='<%= "#{controller_name} #{action_name} "%>'>
    <%= render partial: "layouts/messages" %>
    <%= yield %>
  </body>
</html>
