<div class="container center pt50">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well well-sm pt20">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= image_tag("logo_ouiflash_large.png", size: "253x253", :class=>"img-responsive")%>
          </div>
        </div>
        <hr>
        <%= minimal_form_for(User.new, :url =>  user_session_path) do |f| %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <div class="a-right">
          <%= f.submit :class => "btn btn-large btn-custom-primary", :value => t('app.signin') %>
        </div>
        <% end %>
        <% if !user_signed_in? %>
        <hr class="mt30 mb10">
        <div><%= t('app.signin') %></div>
        <ul class="list-inline mb0 mt10">
          <li><%= link_to "Gercop Store",  omniauth_authorize_path(User, "gercopstore"),:class=>"btn btn-default" %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>