<% @title_for_layout = t('app.dashboard')%>
<%= render 'layouts/generic_meta' %>


<div class="container mt20">
  <% if @projects.blank? %>
  <div class="center">
    <div class="mt50 h3 color-grey">Vous n'avez pas encore de projet sportif...</div>
    <%= link_to "Démarrer un projet", project_new_path,:class=>"btn btn-custom-primary mt10"  %>
  </div>
  <% else %>
  <%= link_to "Démarrer un projet", project_new_path,:class=>"btn btn-custom-primary mt10"  %>
  <section class="row projects mt40">
    <% @projects.each do |p| %>
    <article class="col-md-4">
      <div class="project">
        <div class="header bg-cover relative" style="background-image:url(<%= image_path p.picture.url(:small) %>);">
          <div class="dropdown">
            <button class="btn btn-lg a-right btn-link color-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-gear"></i><span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Voir", explore_show_path(p) %></li>
              <li><%= link_to "Éditer", project_edit_path(p) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Supprimer", project_delete_path(p), :method => "delete", :data =>{:confirm => "Êtes vous sur?"} %></li>
            </ul>
          </div>
        </div>
        <div class="infos bg-white">
          <h4><%= p.title %></h4>
          <h5 class="mt5">Sport : <%= p.sport.present? ? p.sport.name : nil %></h5>
          <div class="row mt10 pt10 pb10 pr15 pl15 sub-infos">
            <p class="hidden-xs"><%= truncate(strip_tags(p.summary),:length => 250) %></p>
            <hr class="hidden-xs">
            <div>
              <h5 class="pull-left color-primary uppercase"><%= p.sport_level.present? ? p.sport_level.name : nil %></h5>
              <h5 class="pull-right color-secondary uppercase"><%= p.sport_category.present? ? p.sport_category.name : nil %></h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-custom-primary btn-sm btn-block" data-toggle="modal" data-target="#myModal_<%= p.id %>">Ajouter visibilité</button>
          </div>
          <div class="col-xs-6">
            <%= link_to "Gérer mes sponsors", project_visibility_path(p),:class=>"btn btn-custom-secondary btn-sm btn-block"  %>
          </div>
        </div>
      </div>
    </article>
    <% end %>
  </section>
  <% end %>
</div>



<%# Modal %>
<% @projects.each do |p| %>
<div class="modal fade" id="myModal_<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Type de visibilité</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="well well-sm">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <%= link_to "Ajouter visibilité Physique", project_visibility_path(p),:class=>"btn btn-custom-primary btn-sm btn-block" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="well well-sm">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <%= link_to "Ajouter visibilité Digitale", project_visibility_digital_path(p),:class=>"btn btn-custom-secondary btn-sm btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

