<% @title_for_layout = t('app.dashboard')%>
<%= render 'layouts/generic_meta' %>


<div class="container mt50">
  <%= minimal_form_for  @profile, :url => dashboard_profile_update_path(@profile), :defaults => {:input_html=>{:class => "input-lg"}} do |f| %>
  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-4">
          <%= f.input :first_name %>
        </div>
        <div class="col-xs-4">
          <%= f.input :last_name %>
        </div>
        <div class="col-xs-4">
          <%= f.input :email %>
        </div>
      </div>
    </div>
    <div class="col-xs-3 center">
      <%= image_tag current_user.image_to_display ,:class=>"img-responsive " %>
      <%= f.input :avatar %>
    </div>
  </div>
  <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary btn-lg" %>
  <% end %>
</div>
