<% @title_for_layout = "Créez votre projet"%>
<%= render 'layouts/generic_meta' %>


<div class="container mt20 mb30">
  <div class="well mt15">
    <%= simple_form_for @project, :url => project_create_path(@project),:defaults => {:input_html=>{:class=>"input-lg"}}  do |f| %>
    <%= f.input :draft,:as =>"hidden",:input_html=>{:value =>0} %>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :title %>
      </div>
      <div class="col-md-4">
        <%= f.association :project_type,:include_blank => false %>
      </div>
    </div>
    <div class="a-right">
      <%= link_to "Annuler",dashboard_path,:class=>"btn btn-link color-link" %>
      <%= f.submit :class => 'btn btn-custom-primary', :value => 'Créer' %>
    </div>
    <% end %>
  </div>
</div>
