<% @title_for_layout = "Créez votre projet"%>
<%= render 'layouts/generic_meta' %>

<div class="container">
  <h3 class="mb15 mt10">Emplacements <small class="pointer" data-toggle="modal" data-target="#myModal">(Ajouter)</small></h3>
  <table class="table table-condensed table-bordered">
    <thead>
    </thead>
    <tbody>
      <% @project.ads.each do |ad| %>
      <tr>
        <td class="center bg-secondary"><%= image_tag ad.ad_support_detail.picture.url(:medium),:class=>"img-responsive",:style=>"max-height:50px;" %></td>
        <td><span class="uppercase"><%= ad.ad_support.name %></span> (<%= ad.ad_support_detail.name %>)</td>
        <td>Saisonnier (<%= ad.event_name.present? ? ad.event_name : '...'  %>)</td>
        <td><%= humanized_money_with_symbol(ad.price) %></td>
        <td><%= link_to "Effacer", ad_delete_path(@project.id,ad.id), :method => "delete", :data =>{:confirm => "Êtes-vous sur?"}  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%# MODAL %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= minimal_form_for Ad.new, :remote => false, :url => ad_create_path(@project.id),:defaults =>{:input_html=>{:class=>"input-lg"}} do |f| %>
      <%= f.input :project_id, :as => "hidden", :input_html => {:value => @project.id} %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un emplacement</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5">
            <%= f.association :ad_support ,:collection => AdSupport.where(:ad_support_type_id=>1).order(:name), :label => false,:include_blank => false %>
            <%= f.input :ad_support_detail_id,
            :collection => AdSupport.where(:ad_support_type_id=>1).order(:name),
            :include_blank=>false,
            :as =>:grouped_select,
            :group_method => :ad_support_details,
            :group_label_method => :name,
            :label_method => lambda { |c| "#{c.name}"}
            %>
            <div id="preview" class="center">
              <%= image_tag AdSupport.where(:ad_support_type_id=>1).order(:name).first.ad_support_details.first.picture.url(:medium), :class=>"img-responsive" %>
            </div>
          </div>
          <div class="col-sm-7">
            <%= f.input :ad_season, :collection => {"Saisonnier"=>"1","Temporaire" => "2"},:include_blank => false, :label =>false %>
            <%= f.input :event_name %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :date_from, :as => :string,:input_html=>{:class=>"datepicker input-lg"} %>
              </div>
              <div class="col-xs-6">
                <%= f.input :date_to, :as => :string,:input_html=>{:class=>"datepicker input-lg"} %>
              </div>
            </div>
            <div class="input-group input-group-lg">
              <%= f.input_field :price, :placeholder => "Montant",:class=>"form-control" %>
              <span class="input-group-addon">€</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-btn uppercase" data-dismiss="modal">Fermer</button>
        <%= f.submit "Sauvegarder", :class=>"btn btn-custom-secondary uppercase pull-right" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
window.supports_details = <%= raw @supports_details.to_json %>
<% end %>
