<% @title_for_layout = @project.title %>
<%= render 'layouts/generic_meta' %>


<div class="container mt20 mb30">
  <div class="well mt15">
    <%= simple_form_for @project, :url => project_update_path,:defaults => {:input_html=>{:class=>"input-lg"}}  do |f| %>
    <%= f.input :draft,:as =>"hidden",:input_html=>{:value =>0} %>
    <div class="row">
      <div class="col-md-4 center">

        <div id="dropzone_logo" class="well well-sm">
          <div id="uploaded_logo" class="mb10">
            <%= image_tag @project.picture.url(:medium), :class => "img-responsive" %>
          </div>

          <h4><%= t('back_office.drop_here') %></h4>
          <p class="pointer mt10" id="input_file_button_logo"><%= t('back_office.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
        </div>
        <div id="upload_progess_bar_logo" style="display: none;">
          <div class="progress"><div id="progress_bar_logo" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div></div>
        </div>
        
        <%= f.input :picture, :label => false, :input_html => {:id=>"input-file-logo", :class => "hide"} %>

      </div>
      <div class="col-md-8">
        <%= f.input :title %>
        <div class="row">
          <div class="col-md-4">
            <%= f.association :sport, :include_blank => false, :input_html => {:class=>"chosen-select input-lg"} %>
          </div>
        </div>
        <% unless @project.is_a_club? %>
        <div class="row">
          <div class="col-md-4">
            <%= f.association :gender,:include_blank => false %>
          </div>
          <div class="col-md-4">
            <%= f.association :sport_category,:include_blank => false %>
          </div>
          <div class="col-md-4">
            <%= f.association :sport_level,:include_blank => false %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= f.input :address,:input_html=>{:id=>"gmaps-input-address"} %>
    <%= f.input :website %>
    <%= f.input :google_place_id,:as => :hidden %>
    <%= f.input :latitude,:as => :hidden %>
    <%= f.input :longitude,:as => :hidden %>
    <%= f.input :zipcode,:as => :hidden %>
    <%= f.input :street_number,:as => :hidden %>
    <%= f.input :street_name,:as => :hidden %>
    <%= f.input :sublocality,:as => :hidden %>
    <%= f.input :locality,:as => :hidden %>
    <%= f.input :administrative_area_level_2,:as => :hidden %>
    <%= f.input :administrative_area_level_1,:as => :hidden %>
    <%= f.input :country,:as => :hidden %>
    
    <%= f.input :summary, :input_html=>{:class=>"froala"} %>
    <%= f.input :palmares,:input_html=> {:class=>"textarea-noresize",:rows=>6} %>

    <div class="well well-sm">
      <label>Pictures</label>
      <div id="dropzone">
        <h4><%= t('back_office.drop_here') %></h4>
        <p class="pointer mt20" id="input_file_button"><%= t('back_office.choose_pictures') %> <i class="ml5 fa fa-picture-o"></i></p>
        <div id="upload_progess_bar"></div>
        <ul id="uploaded_pictures" class="list-inline row">
          <% @project.project_assets.each do |asset| %>
          <%= render :partial => "back_office/partials/project_asset", locals: {project_asset: asset} %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="a-right">
      <%= link_to "Annuler",dashboard_path,:class=>"btn btn-link color-link" %>
      <%= f.submit :class => 'btn btn-custom-primary', :value => 'Sauvegarder' %>
    </div>
    <% end %>
  </div>
</div>

<!-- project assets form -->
<%= simple_form_for ProjectAsset.new, :url => back_office_project_asset_create_path, :remote => true, :html =>{:multipart => true,:class=>""} do |ff| %>
<%= ff.input :project_id, :input_html=>{:value=>@project.id},:as =>"hidden" %>
<%= ff.input :image,:label => false, :input_html => { :multiple => true,:name => 'project_asset[image]',:class=>"hide", :id=>"input-file" } %>
<% end %>


<%= javascript_tag do %>
window.froala_init = true;
window.picture_module = true;
window.froala_upload_url = "<%= wysiwyg_picture_manager_path(:id => @project.id, :asset_type =>"project") %>";
window.frola_delete_url = "<%= wysiwyg_picture_delete_path(:id => @project.id) %>";
<% end %>