<% if @project.errors.any? %>
swal("Failed to upload picture: <%= j @project.errors.full_messages.join(', ').html_safe %>");
<% else %>
$('#uploaded_logo').html('<%= image_tag @project.picture.url(:medium), :class => "img-responsive" %>');
<% end %>