<% @title_for_layout = "Créez votre projet"%>
<%= render 'layouts/generic_meta' %>


<div class="container">
  <%= simple_form_for @project, :url => project_update_path,:defaults => {:input_html=>{:class=>"input-lg"}}  do |f| %>
  <div class="row">
    <%# Facebook %>
    <div class="col-xs-3">
      <table class="table table-condensed table-valign-middle">
        <tr>
          <td class="bold">Facebook</td>
          <td class="a-right">
            <% if @facebook.present? %>
            <%= link_to t('app.log_out'),  dashboard_delete_provider_path(@facebook.id),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure?')} %>
            <% else %>
            <%= link_to t('app.log_in'),"/auth/facebook?user_id=#{@project.user_id}&project_id=#{@project.id}",:class=>"btn btn-xs color-white btn-custom-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @facebook.present? %>
      <% collection_facebook = [["",("#{image_tag @facebook.image,:class=>"img-responsive ml10 mr5 pull-left",:style=>"height:40px"} #{@facebook.name}<br>#{@facebook_count} amis").html_safe]] %>
      <% @facebook_pages.each do |page| %>
      <% collection_facebook.push([page[1]['id'],("#{image_tag page[1]['picture']['data']['url'],:class=>"img-responsive ml10 mr5 pull-left",:style=>"height:40px"} #{page[1]['name']}<br>#{page[1]['fan_count']} fans").html_safe])  %>
      <% end %>
      <%= f.collection_radio_buttons(:facebook,collection_facebook, :first, :last,:item_wrapper_tag => "div",:item_wrapper_class=>"tata") { |b| b.label { b.radio_button + b.text }} %>
      <% end %>
    </div>
    <%# Twitter %>
    <div class="col-xs-3">
      <table class="table table-condensed table-valign-middle">
        <tr>
          <td class="bold">Twitter</td>
          <td class="a-right">
            <% if @twitter.present? %>
            <%= link_to t('app.log_out'), dashboard_delete_provider_path(@twitter.id),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure?')} %>
            <% else %>
            <%= link_to t('app.log_in'), "/auth/twitter?user_id=#{@project.user_id}&project_id=#{@project.id}",:class=>"btn btn-xs color-white btn-custom-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @twitter.present? %>
      <%=image_tag @twitter.image,:class=>"img-responsive mr5 pull-left",:style=>"height:40px;" %>
      <%= ("@#{@twitter.nickname}<br>#{@twitter_user.followers_count} followers").html_safe %>
      <% end %>
    </div>
    <%# Instagram %>
    <div class="col-xs-3">
      <table class="table table-condensed table-valign-middle">
        <tr>
          <td class="bold">Instagram</td>
          <td class="a-right">
            <% if @instagram.present? %>
            <%= link_to t('app.log_out'), dashboard_delete_provider_path(@instagram.id),:class=>"btn btn-xs pl10 pr10 btn-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure?')} %>
            <% else %>
            <%= link_to t('app.log_in'),"/auth/instagram?user_id=#{@project.user_id}&project_id=#{@project.id}",:class=>"btn btn-xs color-white btn-custom-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @instagram.present? %>
      <%= image_tag @instagram.image,:class=>"img-responsive mr5 pull-left",:style=>"height:40px;" %>
      <%= ("#{@instagram.nickname}<br>#{@instagram_user['data']['counts']['followed_by']} followers").html_safe %>
      <% end %>
    </div>
    <%# Youtube %>
    <div class="col-xs-3">
      <table class="table table-condensed table-valign-middle">
        <tr>
          <td class="bold">Youtube</td>
          <td class="a-right">
            <% if @google.present? %>
            <%= link_to t('app.log_out'), dashboard_delete_provider_path(@google.id),:class=>"btn btn-xs pl10 pr10 color-link", :method => :delete,:data=>{:confirm => t('app.are_you_sure?')} %>
            <% else %>
            <%= link_to t('app.log_in'),"/auth/google_oauth2?user_id=#{@project.user_id}&project_id=#{@project.id}",:class=>"btn btn-xs color-white btn-custom-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @google.present? %>
      <%= image_tag @google.image,:class=>"img-responsive mr5 pull-left",:style=>"height:40px;" %>
      <%=("#{@google.name}<br>#{@channel.subscriber_count} abonnés (#{@channel.view_count} vues)").html_safe %>
      <% end %>
    </div>
  </div>
  <div class="a-right">
    <%= link_to "Annuler",dashboard_path,:class=>"btn btn-link color-link" %>
    <%= f.submit :class => 'btn btn-custom-primary', :value => 'Sauvegarder' %>
  </div>
  <% end %>
</div>
