<!-- Modal -->
<div class="modal fade" id="add_track_modal" tabindex="-1" role="dialog" aria-labelledby="add_track_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un morceau</h4>
      </div>
      <div class="modal-body">

        <div id="alert_add_form" class="alert alert-danger" role="alert" hidden>
        </div>

        <%= simple_form_for :track, :remote => true, :url =>track_create_path do |f| %>
        <div class="well well-sm">
          <%= f.input :url %>
          <div id="video_id" hidden>
            <%= f.input :video_id, :label => "Video ID" %>
            <span id="helpBlock" class="help-block">Exemple : https://www.youtube.com/watch?v=<b><big>2TU7dE_9Vi4</big></b></span>
          </div>
          <%= f.input :playlist_id, :label => "Ajouter a la playlist : ", :collection => @playlists.map{ |c| [c.name, c.id] } %>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>