<!-- Modal -->
<div class="modal fade" id="edit_track_modal<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="edit_track_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modifier un morceau</h4>
      </div>
      <div class="modal-body">

        <%= simple_form_for :track, :url => {:action => "update", :id => t.id } do |f| %>
        <div class="well well-sm">
          <%= f.input :name, :input_html => { :value => t.name } %>
          <%= f.input :playlist_id, :label => "Ajouter a la playlist : ", :collection => @playlists.map{ |c| [c.name, c.id] }, :selected => t.playlist_id %>
          <%= f.submit "Sauvegarder", :class => "btn btn-custom-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>