<% @title_for_layout = ENV['SITE_NAME'] %>
<%= render 'layouts/partials/generic_meta' %>

<h2>Mes morceaux</h2>

<div class="mb10 mt10 center">
  <a class="btn btn-custom-primary btn-sm" href="#" data-toggle="modal" data-target="#add_track_modal"><i class="fa fa-plus mr4"></i> Ajouter un morceau</a>
</div>
<%= render 'tracks/add_track_form' %>

<table class="table table-condensed table-bordered bg-white">
  <tr class="active">
    <th style="width:50px">ID</th>
    <th>Name</th>
    <th>URL</th>
    <th>Video ID</th>
    <th>Playlist</th>
    <th>Ajouté par</th>
    <th>Actions</th>
  </tr>
  <% @tracks.each do |z| %>
  <tr>
    <td><%= z.id %></td>
    <td><%= z.name %></td>
    <td><a href="<%= z.url%>"><%= z.url %></a></td>
    <td><%= z.video_id %></td>
    <td><%= z.playlist.nil? ?  "-" : z.playlist.name %></td>
    <td><%= z.user.username %></td>
    <td>



    <% if current_user.id == z.user_id %>

      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-custom-primary" href="#" data-toggle="modal" data-target="#edit_track_modal<%= z.id %>">Modifier</a>
        <%= render 'tracks/edit_track_form', :t => z %>
        <%= link_to "Supprimer", track_destroy_path(z),:method => "delete", :data=>{:confirm=>"Are you sure?"}, :class => "btn btn-custom-primary" %>
      </div>

<% else %>
-
<% end %>


    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @tracks, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>