<% @title_for_layout = "Prestige MLS Sign in | Sign up" %>
<% @noindex_for_layout = true %>
<%= render 'layouts/generic_meta' %>


<header class="text-center pt50">
  <%= link_to root_url(:subdomain => "beta") do %>
  <%= image_tag 'logo-prestige-signature.png', :class=>"img-responsive pl35 pr35 mt15" %>
  <% end %>
</header>


<%= yield %>
<%= render "devise/shared/links" %>
