<div class="svgContainer ratio_67">
  <div id="mapContainer"></div>
</div>
<%#= debug @geocoder %>
<%#= debug @hash %>
<script>

handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
  },
  internal: {id: 'mapContainer'}
}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(9);
});



</script>
