<%= content_for (:head) do %>
<script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&signed_in=true&libraries=places,geometry"%> "></script>
<script src='//assets.wgroupe.com/markercluster_packed.js' type='text/javascript'></script>
<% end %>

<div class="container-fluid pt30">
  <h1 class="center mb30"><%= @zip.zipcode %><small class="ml10"><%= link_to "View on Map", dashboard_debug_zipcode_path(@zip.id), :remote=>true  %></small></h1>
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for @zip, :remote=>true do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-sm pt10">
            <h3 class="color-secondary">Kijiji</h3>
            <%= f.association :kijiji_location,:collection=>@kijiji_locations,:include_blank => false, :input_html=>{:class=>"ajax_update_status"}%>
            <%= f.input :best_sector %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="well well-sm pt10">
            <h3 class="color-secondary">Louer.com</h3>
            <%= f.association :louercom_location,:collection=>@louer_com_locations,:input_html=>{:id=>"chosen-select_louer"}%>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="well well-sm pt10">
            <h3 class="color-secondary">Centris</h3>
            <%= f.association :centris_city,:collection=>@centris_cities,:label_method=>lambda { |city| ("#{city.description}") },:include_blank=>false %>
            <script type="text/javascript">$("#zipcode_centris_city_id").chosen();</script>
            <%= f.input :centris_neighborhood_id, collection: CentrisCity.order(:description),:include_blank=>true, as: :grouped_select, group_method: :centris_neighborhoods,:group_label_method => :description,:label_method => lambda { |c| "#{c.description_francaise}"} %>
          </div>
        </div>
      </div>
      <% if @zip.prev.present? %>
        <%= link_to "Previous", dashboard_zipcode_edit_path(@zip.prev.zipcode),:class=>"btn btn-custom-primary" %>
        <% end %>
        <%= f.submit :class => 'btn btn-custom-primary', :value => 'Sauvegarder',:data=>{:disable_with => 'Submitting...'} %>
      <% if @zip.next.present? %>
        <%= link_to "Next", dashboard_zipcode_edit_path(@zip.next.zipcode),:class=>"btn btn-custom-primary" %>
      <% end %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div id="postalDebbuger"></div>
    </div>
  </div>
</div>

