

<div id="zipcode--section" class="container mt40">
  <%#= will_paginate @zips, renderer: BootstrapPagination::Rails %>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>ZipCode</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @zips.each do |zip| %>
    <tr>
      <td><%= zip.id %></td>
      <td><%= zip.zipcode %></td>
      <td><%= link_to "Edit", dashboard_zipcode_edit_path(zip.zipcode),:class=>"btn btn-sm btn-custom-primary" %></td>
    </tr>
    <% end %>
  </table>
</div>



