<% @title_for_layout = t('app.sign_in') %>
<% @noindex_for_layout = true %>
<%= render 'layouts/partials/generic_meta' %>


<%= render 'front_office/header' %>


<div class="container center pt50">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

