<% if @roads.present? %>
<div class="center">
  <%= t('app.print.postal_road',:zipcode => @zipcode)%></span><%= link_to "(#{t('app.print.show_map')})",@map, :target => "_blank fs10" if @map %>
</div>
<table class="table table-condensed table-bordered mt5 table-striped bg-white">
  <thead>
    <tr>
      <th class="center">
        <%= t('app.print.road') %>
      </th>
      <th class="center">
        <label>
          <%= t('app.print.domiciles') %>
          <input type="checkbox" data-type="domiciles" class="publipostage_checkbox_type">
        </label>
      </th>
      <th class="center">
        <label>
          <%= t('app.print.appartments') %>
          <input type="checkbox"  data-type="appartments" class="publipostage_checkbox_type">
        </label>
      </th>
      <th class="center">
        <label>
          <%= t('app.print.shops') %>
          <input type="checkbox" data-type="shops" class="publipostage_checkbox_type">
        </label>
      </th>
      <th class="center">
        <label>
          <%= t('app.print.farms') %>
          <input type="checkbox" data-type="farms" class="publipostage_checkbox_type">
        </label>
      </th>
    </tr>
  </thead>
  <% @roads.each do |r| %>
  <tr>
    <td>
      <label>
        <%= r[:road_id] %>
        <input type="checkbox" class="ml5 publipostage_checkbox_road" data-domiciles="<%= r[:domiciles] %>" data-appartments="<%= r[:appartments] %>" data-shops="<%= r[:shops] %>" data-farms="<%= r[:farms] %>">
      </label>
    </td>
    <td><%= r[:domiciles] %></td>
    <td><%= r[:appartments] %></td>
    <td><%= r[:shops] %></td>
    <td><%= r[:farms] %></td>
  </tr>
  <% end %>
</table>
<div class="h3"><%= t('app.print.my_selection') %><span id="my_total"></span></div>
<% else %>
<div class="h3"><%= t('app.print.any_roads') %></div>
<% end %>
