$primary_color: <%= primary_color %>;
$secondary_color: <%= secondary_color %>;



a.color-primary,.color-primary{color:$primary_color !important;}
a.color-secondary,.color-secondary{color:$secondary_color !important;}

.border-primary{border-color:$primary_color !important;}
.border-secondary{border-color:$secondary_color !important;}



.bg-primary{background: $primary_color !important;}
.bg-secondary{background: $secondary_color !important;}

.btn-custom-primary{
  background-color: $primary_color !important;
  border:1.5px solid darken($primary_color, 5%) !important;
  &:hover{
    color:darken(#FFFFFF,2%);
    background-color: darken($primary_color, 5%)!important;
  }
}

.btn-custom-secondary{
  background-color: $secondary_color !important;
  border:1.5px solid darken($secondary_color, 5%) !important;
  &:hover{
    background-color: darken($secondary_color, 5%) !important;
  }
}



.border-right-primary{border-right:1px solid $primary-color;}
.border-right-secondary{border-right:1px solid $secondary-color;}



.border-top-primary{border-top:1px solid $primary-color;}
.border-top-secondary{border-top:1px solid $secondary-color;}



.border-bottom-primary{border-bottom:1px solid $primary-color;}
.border-bottom-secondary{border-bottom:1px solid $secondary-color;}



.border-left-primary{border-left:1px solid $primary-color;}
.border-left-secondary{border-left:1px solid $secondary-color;}



#sync2 .synced .item{background:$secondary-color;}

body{
  font-family: <%= font.css_invok %> !important;
}



h1,h2,h3,h4,h5,h6,.special_font,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: <%= Font.find(font_special_id).css_invok %> !important;
}

#frontOfficeBlogContent{
  div,b,span,ul,li,td{
    font-family: <%= font.css_invok %> !important;
  }
  h1,h2,h3,h4,h5,h6{
  font-family: <%= Font.find(font_special_id).css_invok %> !important;
  }
}

a:hover{
  color:$primary-color !important;
}


