<ul class='list-unstyled no-margin mt20'>
  <% if controller_name != 'sessions' %>
  <li><%= t('app.already_account') %> <%= link_to t('.sign_in'), new_session_path(resource_name)%></li>
  <% end %>
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li><%= t('app.dont_have_an_acount') %> <%= link_to t('.sign_up'), new_user_registration_path %></li>
  <% end %>
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <li><%= link_to t('app.forgot_password'), new_password_path(resource_name),:class=>"" %></li>
  <% end%>
  <li><%= link_to 'Accueil', root_url(:subdomain=>false),:class=>"color-white" %></li>
</ul>
