<a class="dropdown-toggle pl20 pt15 pb15 hover-shadow-white popped-out color-white fs16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <%= render 'icons/cart' %>
  <span class="badge fs10 medium <%= !(@cart.present? && @cart.cart_items.present?) ? 'invisible' : nil %>"><%= @cart.present? && @cart.cart_items.present? ? @cart.cart_items.uniq.length : nil %></span>
</a>
<ul class="dropdown-menu bg-white user-basket-dropdown pt20 pr15 pl15 pb15">
  <% if @cart.present? && @cart.cart_items.present? %>
  <div class="articles">
    <% @cart.cart_items.order(created_at: :desc).limit(4).each do |item| %>
    <div class="article mb10 relative">
      <%= link_to 'x'.html_safe, cart_remove_path(item), :class => "pull-right absolute absolute-top-right lh10 color-grey mt5", :remote => true, :method => :delete, :data=>{:confirm =>t('app.are_you_sure')}  %>
      <div class="thumb bg-cover inline-block pull-left" style="background-image:url(<%= item.pricing.product.logo.url(:medium) %>);"></div>
      <div class="infos ml10 pull-left">
        <h4><%= link_to item.pricing.product.name, product_show_path(item.pricing.product.id),:class=>"color-link fs12 inline-block medium ellipsis" %></h4>
        <h5 class="mt4 mb5 fs12 color-grey normal ellipsis"><%= "x#{t('cart.numbers', :count => item.quantity)} " %><%= item.pricing.name.present? ? item.pricing.name : nil %></h5>
      </div>
    </div>
    <% end %>
    <% if @cart.cart_items.length > 4 %>
    <a href="<%= checkout_cart_path %>" class="additionnal-articles pull-right pt5 pb5 pl10 pr10 br2 color-grey fs10">+<%= t('cart.products', :count => @cart.cart_items.length - 4).downcase %>...</a>
    <% end %>

    <div class="mt25 inline-block full-width">
      <p class="h4 medium color-grey fs16 mt0 mb0 inline-block"><%= t("cart.sub_total") %></p>
      <span class="fs18 color-grey medium pull-right lh17"><%= humanized_money_with_symbol @cart.subtotal %></span>
    </div>
  </div>

  <div class="row mt10">
    <div class="col-xs-6 pl15 pr5"><%= link_to t("app.back_to_home"), root_path, :class=>"btn-secondary pt8 pb8 full-width color-white inline-block fs14 text-center" %></div>
    <div class="col-xs-6 pl5 pr15"><%= link_to t('cart.view_cart'), checkout_cart_path, :class=>"btn-primary pt8 pb8 full-width color-white inline-block fs14 text-center"  %></div>
  </div>
  <% else %>
  <h3 class="medium fs14 color-dark-grey"><%= t('cart.no_items') %></h3>
  <% end %>
</ul>
