<% @title_for_layout = t('shareimmo.metas.tour.title').html_safe %>
<% @description_for_layout = t('shareimmo.metas.tour.description').html_safe %>
<% @canonical_for_layout = tour_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>

<%= render 'pages/header' %>

<nav id="navbar-shareimmo-level2" class="navbar navbar-default navbar-fixed-top bg-white hidden-xs">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="scrollSpy"><%= link_to t('shareimmo.tour.national_portals'),"#", :data=>{:section=>'local'}%> </li>
        <li class="scrollSpy"><%= link_to 'Youtube',"#", :data=>{:section=>'youtube'}%> </li>
        <li class="scrollSpy"><%= link_to t('shareimmo.tour.social_networks'),"#", :data=>{:section=>'socials'}%> </li>
        <li class="scrollSpy"><%= link_to t('shareimmo.tour.international'),"#", :data=>{:section=>'international'}%> </li>

      </ul>
    </div>
  </div>
</nav>


<div class="bg-white pt50  bg-primary">
  <div class="container mt50">
    <h2 class="h1 center mt30 color-white"><%= t('shareimmo.tour.title') %></h2>
    <p class="lead color-white justify"><%= t('shareimmo.tour.para').html_safe %></p>
    <div class="row pt20">
      <div class="col-xs-10 col-xs-offset-1">
        <%= image_tag 'home/shareimmo_dashboard.png',:class=>'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<hr class="mt0 mb0">


<div id="local" class="bg-white pt50 pb30">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="h3"><%= t("app.for_sell") %></div>
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag 'apps/kijiji.png',:class=>"img-responsive" %>
          </div>
        </div>
        <div class="h3"><%= t('app.for_rent') %></div>
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag 'apps/kijiji.png',:class=>"img-responsive" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag 'apps/lespac.png',:class=>"img-responsive" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag 'apps/kangalou.png',:class=>"img-responsive" %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <h2><%= t('shareimmo.tour.national_portals') %></h2>
        <p class="lead"><%= t('shareimmo.tour.national_portals_detail').html_safe %></p>
      </div>
    </div>
  </div>
</div>

<hr class="mt0 mb0">

<div id="youtube" class="bg-white pt50 pb30">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="mb30"><%= t('shareimmo.tour.youtube_title') %></h2>
        <p class="lead"><%= t('shareimmo.tour.youtube_description').html_safe %></p>
      </div>
      <div class="col-sm-6">
        <div class="svgContainer ratio67">
          <iframe src="//fast.wistia.net/embed/iframe/git1jacpaq" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="960" height="540"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="mt0 mb0">

<div id="socials" class="bg-primary pt50 pb30">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <%= image_tag "home/shareimmo_twitter.png",:class=>"img-responsive" %>
      </div>
      <div class="col-sm-6">
        <h2 class="color-white mb30"><%= t('shareimmo.tour.social_title') %></h2>
        <p class="lead"><%= t('shareimmo.tour.social_description').html_safe %></p>
      </div>
    </div>
  </div>
</div>

<hr class="mt0 mb0">

<div id="international" class="bg-white pt50 pb30">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="mb30"><%= t('shareimmo.tour.international_title') %></h2>
        <p class="lead"><%= t('shareimmo.tour.international_description') %></p>
      </div>
      <div class="col-sm-8">
        <%= image_tag 'home/shareimmo_international.jpg',:class=>"img-responsive" %>
      </div>
    </div>
  </div>
</div>



<hr class="mt0 mb0">


<section class="bg-kangalou-primary pt30 pb30">
  <div class="container">
    <dib class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= link_to "http://kangalou.com" do %>
          <%= image_tag 'logos/kangalou_white.png',:class=>"img-responsive" %>
        <% end %>
      </div>
    </dib>
    <p class="lead color-white"><%= t('shareimmo.tour.kangalou_description') %></p>
  </div>
</section>






<%= render 'pages/footer' %>
