<% @title_for_layout = t('oneclic.metas.tour.title').html_safe %>
<% @description_for_layout = t('oneclic.metas.tour.description').html_safe %>
<% @canonical_for_layout = tour_url(:protocol => ENV['PROTOCOL']) %>
<%= render 'layouts/partials/generic_meta' %>
<%= render 'pages/header' %>



<div id="features" class="bg-white center pt50 pb50">
  <div class="container">
    <h2 class="mb20 h1 mt20">Un site tout compris en 5 minutes !</h2>
    <p class="lead">Vous êtes courtier immobilier, agence immobilière, gestionnaire immobilier ou constructeur, vous avez des annonces de propriétés à vendre et/ou à louer  (appartement, condo, maison, immeuble à revenu, …) ou vous voulez tout simplement avoir une image web de qualité, 1clic.IMMO est votre solution.</p>
    <div class="row mt50">
      <div class="col-xs-6 a-left">
        <ul class="list-unstyled pl0">
          <li>
            <h3 class="color-primary-oneclic">Visibilité web optimale</h3>
            <p>une architecture optimisée pour votre référencement naturel (SEO) et  votre référencement local (Google Place), un site connecté automatiquement sur les réseaux sociaux (Facebook, Twitter) et  multi-lingues (Français, Anglais, Espagnol).</p>
          </li>
          <li>
            <h3 class="color-primary-oneclic">Le meilleur de la technologie </h3>
            <p>un design adaptatif (responsive) pour être compatible avec tous les supports (smartphone, tablette, ordinateur), gardez un contact 2.0 avec vos clients grâce aux dernières applications web (SMS, formulaires, chat), importation automatique de vos annonces (Centris, Magex, autres logiciels immobiliers).</p>
          </li>
          <li>
            <h3 class="color-primary-oneclic">Personnalisez votre site</h3>
            <p>choix de template, choix des couleurs, avec ou sans annonce à publier, module « Blogue », module « A propos », nom de domaine personnalisable. C’est simple et sans programmation.</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 a-right">
        <%= image_tag "oneclic/big_ipad.png", :class=>"image-effect-left img-responsive" %>
      </div>
    </div>
  </div>
</div>

<hr class="mt0 mb0">


<div id="videoHeroContainer" class="bg-cover">
  <div id="templates" class="bg-opaque pt50 pb20">
    <div class="container pb30">
      <h2 class="h1 center mt30 color-white">Sélectionnez un Template</h2>
      <p class="lead color-white center mb20">Choisissez en un et personnalisez le à volonté!</p>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 mt10 mb10">
          <%= link_to "http://demo3.1clic.immo",:class=>"a-left",:target=>"_blank" do %>
          <%= image_tag "themes_demo/demo3.png",:class=>"img-responsive img-thumbnail bg-grey" %>
          <% end %>
          <div class="mb5 mt10 h3 color-white">Template #3</div>
          <%= link_to "http://demo3.1clic.immo",:class=>"bold color-white",:target=>"_blank" do %>Voir ce template <i class="fa fa-chevron-right"></i><% end %>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 mt10 mb10">
          <%= link_to "http://demo2.1clic.immo",:class=>"a-left",:target=>"_blank" do %>
          <%= image_tag "themes_demo/demo2.png",:class=>"img-responsive img-thumbnail bg-grey" %>
          <% end %>
          <div class="mb5 mt10 h3 color-white">Template #2</div>
          <%= link_to "http://demo2.1clic.immo",:class=>"bold color-white",:target=>"_blank" do %>Voir ce template <i class="fa fa-chevron-right"></i><% end %>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 mt10 mb10">
          <%= link_to "http://demo1.1clic.immo",:class=>"a-left",:target=>"_blank" do %>
          <%= image_tag "themes_demo/demo1.png",:class=>"img-responsive img-thumbnail bg-grey" %>
          <% end %>
          <div class="mb5 mt10 h3 color-white">Template #1</div>
          <%= link_to "http://demo1.1clic.immo",:class=>"bold color-white",:target=>"_blank" do %>Voir ce template <i class="fa fa-chevron-right"></i><% end %>
        </div>
      </div>
    </div>
  </div>
</div>






<hr class="mt0 mb0">

<div id="testimonial" class="bg-white center pt30 pb50">
  <div class="container">
    <h2 class="mb20 h1">Témoignages</h2>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-sm a-left">
          <div class="row">
            <div class="col-xs-3">
              <%= link_to "http://sylvierovida.shareimmo.com/", :target=>"_blank" do %>
              <%= image_tag 'oneclic/sylvie_rovida.png',:class=>"img-circle img-responsive img-thumbnail" %>
              <% end %>
            </div>
            <div class="col-xs-9">
              <div class="h4 mb0">Sylvie Rovida</div>
              <div class="h5 color-primary-oneclic">Courtier immobilier résidentiel</div>
              <p>« J’avais besoin d’un site internet de qualité rapidement: 1clic.IMMO m’a proposé une solution simple pour optimiser la visibilité de mes annonces »</p>
              <div class="center">
                <%= link_to "Voir le site","http://sylvierovida.com", :target=>"_blank",:class=>"btn btn-custom-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-sm a-left">
          <div class="row">
            <div class="col-xs-9">
              <div class="h4 mb0">Evo</div>
              <span class="h5 color-primary-oneclic">Résidences étudiantes</span>
              <p>« Avec 1clic.IMMO, j’ai pu personnaliser mon site immobilier en fonction de ma cible  »</p>
              <div class="center mt20">
                <%= link_to "Voir le site","http://evomontrealvm.com", :target=>"_blank",:class=>"btn btn-custom-secondary" %>
              </div>
            </div>
            <div class="col-xs-3">
              <%= link_to "http://evomontrealvm.com/", :target=>"_blank" do %>
              <%= image_tag 'oneclic/evo_montreal_logo.png',:class=>"img-circle img-responsive img-thumbnail" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="mt0 mb0">
<section class="bg-primary pt30 pb50">
  <div class="container">
    <h2 class="mb20 h3 center bold">Notre partenaire privilégié de diffusion</h2>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="oneclicPlusShareimmo">
          <ul class="like--table pl0 mb0">
            <li class="w50 pl20 pr20 pt10 pb10 valignMiddle">
              <%= link_to "https://shareimmo.com", :target=>"_blank" do %>
              <%= image_tag "logos/shareimmo_white.png",:class=>"img-responsive" %>
              <% end %>
              <div class="center mt20">
                <%= link_to "https://shareimmo.com", :target=>"_blank", :class=>"btn btn-custom-secondary bold" do %>en savoir plus<% end %>
              </div>
            </li style>
            <li id="oneclicPlusShareimmoRight" class="bg-primary">
              <section class="a-left pl10">
                <h3 class="color-dark-grey h2">Optimisez la diffusion de vos annonces</h3>
                <p class="color-white">Sur les portails dédiés (Kijiji, LesPacs, Craigslist)</p>
                <p class="color-white">Sur les portails internationaux (ListGlobally)</p>
                <p class="color-white">Sur les réseaux sociaux (Facebook, Twitter)</p>
                <p class="color-white">Sur Youtube : génération automatique</p>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<%= render 'pages/footer' %>
