<% @title_for_layout = 'Connexion / Inscription' %>
<% @noindex_for_layout = true %>
<%= render 'layouts/partials/generic_meta' %>

<div class="coverContent">
  <div class="contentTable">
    <div class="headerText">
      <div class="container center">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div id="deviseContainer">
                  <div class="dialog-input-container">
                    <div class="mb20">
                      <%= link_to root_path do %>
                      <%= image_tag "logos/#{@my_provider.logo}",:class=>"img-responsive" %>
                      <% end %>
                    </div>
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
