/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;


$color-link:#56A7FF;

/*Colors*/
$white:#ffffff;
$blue:#348fe2;
$black:#2d353c;
$purple:#727cb6;
$orange:#f85203;
$yellow:#f59c1a;
$green:#00acac;
$red:#f35958;
$grey:#B3B3B3;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$gold:#ffd700;

/*Light Colors*/
$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f3f3f3;
$light-orange:#ED8350;


$dark-grey:#777777;
$dark-blue:#2f4050;
$dark-orange:#fa6132;
$dark-green:#26D26E;
$dark-red:#531a1f;
$dark-grey-blue:#31373D;
$grey-blue:#9eb8c1;




$facebook:#3c5a99;
$google:#C63D2D;
$instragram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$listglobally:#273f57;
$magex:#e4271c;
$kijiji:#4c4b6d;
$solihome:#147fc0;
$craigslist:#5D008F;
$lespac: #2C7FC1;
$prestige: #f49f00 ;
$athome: #E4002B;
$immotop: #A42836;
$wortimmo: #00ADE5;
$habiter_lu: #0089CF;
$isquare:#d02e84;
$centris:#004367;



$primary:#34495e;
$secondary:#ED5565;


