@font-face{
  font-family:'MontserratLight';
  font-weight: lighter;
  font-style: lighter;
  src: asset-url("Montserrat/light/montserrat-light-webfont.eot");
  src: asset-url('Montserrat/light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('Montserrat/light/montserrat-light-webfont.woff') format('woff'),
  asset-url('Montserrat/light/montserrat-light-webfont.ttf') format('truetype'),
  asset-url('Montserrat/light/montserrat-light-webfont.svg#montserratlight') format('svg')
}

@font-face{
  font-family:'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: asset-url("Montserrat/regular/montserrat-regular-webfont.eot");
  src: asset-url('Montserrat/regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('Montserrat/regular/montserrat-regular-webfont.woff') format('woff'),
  asset-url('Montserrat/regular/montserrat-regular-webfont.ttf') format('truetype'),
  asset-url('Montserrat/regular/montserrat-regular-webfont.svg#montserratregular') format('svg')
}