// Linear Gradient
@mixin  linearGrad($color1 : #FFFFFF, $color2: #F0F0F0){
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  '#'$color1 0%, '#'$color2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1),color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color1 0%,$color2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color1 0%,$color2 100%); /* W3C */
}


@mixin  circleGrad($color1 : #cf1b2c, $color2: #991c27){
  background: $color1; /* Old browsers */
  background: -webkit-radial-gradient( center, circle, $color1, $color2);
  background:    -moz-radial-gradient( center, circle, $color1, $color2);
  background:     -ms-radial-gradient( center, circle, $color1, $color2);
  background:      -o-radial-gradient( center, circle, $color1, $color2);
  background:         radial-gradient( circle at center, $color1, $color2);
}

@mixin linearGradPrimary(){
 @include linearGrad($primary,darken($primary, 10%));
}





@mixin jackiepro-bold{
  font-family: jackiepro-bold;
  font-weight: normal;
  font-style: normal;
}

/***************************
*ShareImmo Spin
****************************/
@mixin shareimmo_spin($time:2s){
  -webkit-animation: shareimmo_spin $time infinite linear;
  -moz-animation:    shareimmo_spin $time infinite linear;
  -o-animation:      shareimmo_spin $time infinite linear;
  animation:         shareimmo_spin $time infinite linear;
}


@-webkit-keyframes shareimmo_spin {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes shareimmo_spin {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}

@-o-keyframes shareimmo_spin {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}


@keyframes shareimmo_spin {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}



/***************************
*ShareImmo Spin_inverse
****************************/
@mixin shareimmo_spin_inverse($time:2s){
  -webkit-animation: shareimmo_spin_inverse $time infinite linear;
  -moz-animation:    shareimmo_spin_inverse $time infinite linear;
  -o-animation:      shareimmo_spin_inverse $time infinite linear;
  animation:         shareimmo_spin_inverse $time infinite linear;
}


@-webkit-keyframes shareimmo_spin_inverse {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes shareimmo_spin_inverse {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(-360deg);}
}

@-o-keyframes shareimmo_spin_inverse {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(-360deg);}
}


@keyframes shareimmo_spin_inverse {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(-360deg);}
}








