

.svgContainer{
  height:0px;
  padding-bottom:56.25%;
  position:relative;
  width:100%;
  svg,iframe,object,canvas{
    position:absolute;
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
  }
}


.support_show{
  .highlight{
    pre{
      counter-reset: line-numbering;
      border: solid 1px #d9d9d9;
      border-radius: 0;
      background: #fff;
      padding: 0;
      line-height: 23px;
      margin-bottom: 10px;
      white-space: pre;
      overflow-x: auto;
      font-family:Consolas, "Courier New", monospace;
      span{
        word-wrap: normal;
      }
      > span{
        counter-increment: linenumbers;
        &:before {
          content: counter(linenumbers);
          padding-right: 1em; /* space after numbers */
          width: 50px;
          text-align: right;
          opacity: 0.7;
          display: inline-block;
          color: $light-grey;
          background: lighten($light-grey,40%);
          margin-right: 5px;
          padding: 0px 10px;
          font-size: 13px;
          border-right: 1px solid darken($light-grey,40%);
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }
    &.highlight_black{
      pre{
        color:$light-grey;
        background:$dark-grey;
        .nb{color:$blue;}
        .s1{color:$light-red;}
        .k,.kd,.kn{color:$purple;font-weight:bold;}
        .nf{color:$blue;font-weight:bold;}
        .p {color:$yellow;font-weight:bold;}
        .n{color:$light-grey;}
        .o{color:$yellow;font-weight:bold;margin:0 2px;}
        .no{color:$yellow;font-weight:bold;}
        .c1,.sd {color:lighten($dark-grey, 20%);font-style:italic;}
        .vi{color:$light-red;font-weight:bold;}
        .kp,.kc{color:$yellow;font-style:italic}
        .mi{color:$light-red;}
        .ss{color:$green;}
        .nc{color:$blue;font-weight:bold;text-decoration:none;font-style:italic;}
        .cp{color: $light-red;font-weight:bold}
        .nv{color:$light-red;font-weight:bold}
        .s2{color:$green;}
        .nx{color:$light-grey;}
        .nt {color:$light-red;}
        .err{color:$light-red;font-weight:bold;background:none;}
        .nd{color:$orange}
        .m{color:$orange;font-weight:bold;}
        .s{color:$yellow;}
        .na{color:$blue;}
      //je ne sais pas encore à quoi correspondent les autres...
      .ni {color: pink;}
      .w {color: pink;}
      .sr {color: pink;}
      .c, .cm, {color: pink;font-style: italic;}// comments
      .kt {color: pink;}// keyword ??
      .bp {color: pink;}// special variables e.g. __FILE__, None
      .nn {color: pink;}// module names e.g. "sys" in "import sys"
      .mf, .mh,  .mo, .il {color: pink;}// literals
      .sb, .sc, .se, .sh, .si, .sx{color: pink;}// strings
      .vc, .vg, {color: pink;}
    }
  }
}
}


.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
