@charset "UTF-8";
/*NEWS TAGS HMTL5*/
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

img {-webkit-user-drag: none;}
label{font-weight:normal}

a:focus{outline:none;}
a:hover{text-decoration:none;}

.button-primary{
  border-radius:3px; background:$primary; color:white !important; text-decoration:none !important; transition:all .2s;
  &:hover{background:lighten($primary, 5%)}
}

.button-secondary{
  border-radius:3px; background:$secondary; color:white !important; text-decoration:none !important; transition:all .2s;
  &:hover{background:lighten($secondary, 5%)}
}

.button-tertiary{
  border-radius:3px; background:$tertiary; color:white !important; text-decoration:none !important; transition:all .2s;
  &:hover{background:lighten($tertiary, 5%)}
}

.button-view-more-primary{
  border-radius:3px; padding:2px 20px; border:1px solid $primary; color:$primary !important;
}

/*UTILES*/
.absolute{position:absolute;}
.relative{position:relative;}
.overflowAuto{overflow:auto;}
.w100_pour_100{width:100% !important}
.h_100_oour_100{height:100% !important }
.full-width{width:100% !important;}
.bg-cover{background-size:cover;background-position: center center;}
.bg-cover-center{background-size:cover;background-position:center top;}
.bg-cover-bottom{background-size:cover;background-position:center bottom;}
.centered-content{
  display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
  -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center;
  -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; align-items:center;
}

.lighter{font-weight:100}

.opacity-0{opacity:0;}
.opacity-1{opacity:1;}


.absolute-top-left{top:0;left:0;}
.absolute-top-right{top:0;right:0;}
.absolute-bottom-left{bottom:0;left:0;}
.absolute-bottom-right{bottom:0;right:0;}
.z-index-1000{z-index:1000;}
.z-index-10000{z-index:10000;}


.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}


/* --- */
ul.no-margin{margin:0;}
/* --- */
.bold{font-weight:bold;}
.medium{font-weight:500;}
.normal{font-weight:normal;}
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.italic{font-style: italic;}
/* --- */
.center{text-align:center;}
.justify{text-align:justify;}
.a-left{text-align:left;}
.a-right{text-align:right;}
.f-left{float:left;}
.f-right{float:right;}
.clear-block{clear:both;}
.inline-block{display:inline-block !important;}
.block{display: block;}
.flex{display: flex;}
.flex_1{flex:1;}
.align-items{align-items:center}
.pointer{cursor:pointer !important}
.ns-resize{cursor:ns-resize !important}
.no-border{border:none !important}
.no-border-radius{border-radius:0 !important}
/* --- */
textarea.textarea-noresize{resize:none;}
table.centpourcent{width:100%;}
table.center-table{margin-left:auto;margin-right:auto;}
table.table-valign-middle td{vertical-align:middle!important;}
.valignTop{vertical-align: top !important;}
.valignMiddle{vertical-align: middle !important;}
.borderTopNone{border-top:none !important;}
.border-dotted{border-style: border-dotted}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Colonnes de mêmes tailles
.same-height-col{
  display:flex; align-items:stretch;
}
@media (max-width:991px){
  .same-height-col{
    display:block;
  }
}

/* Bootstrap overwrite */
.img-responsive{display: inline-block;}
.btn{
  @include border-radius(2px);
  &.btn-default{
    &:hover{
      background:#FFF;
      color:$primary;
      border-color:#ccc;
    }
  }
}
.label-success{background: $green;}
table a.active.asc,table a.active.desc{color:$primary;}
.pagination{
  li{
    a{
      color:$primary;
    }
    &.active{
      span{
        border-color:darken($primary,10%);
        background: $primary;
      }
    }
  }
}


h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0; font-weight:normal;}

/* COLOR */
a{
  color:#444444;
  &.color-secondary{
    color: $secondary !important;
  }
  &.color-primary{
    color: $primary !important;
  }
}
.white, a.white{
  color:$white !important;
}


.colorPrimary{color:$primary;}
.color-primary{color:$primary !important;}
.color-secondary{color:$secondary !important;}
.color-tertiary{color:$tertiary !important;}



.color-link{color:$color-link !important;}
.color-grey{color:$grey !important;}
.color-white{color:$white !important;}
.color-black{color:$black !important;}
.color-green{color:$green !important;}
.color-red{color:$red !important;}
.color-dark-grey{color:$dark-grey !important;}
.color-light-grey{color:$light-grey !important;}
.color-gold{color:$gold !important;}

.color-twitter{color:$twitter !important;}
.color-facebook{color:$facebook !important;}
.color-google{color:$google !important;}
.color-youtube{color:$youtube !important;}
.color-linkedin{color:$linkedin !important;}
.color-instagram{color:$instagram !important;}
.color-listglobally{color:$listglobally !important;}
.color-copilote{color:$copilote !important;}
.color-magex{color:$magex !important;}
.color-kijiji{color:$kijiji !important;}
.color-solihome{color:$solihome !important;}
.color-craigslist{color:$craigslist !important;}
.color-lespac{color:$lespac !important;}
.color-kangalou{color:$kangalou !important;}
.color-zoomvisit{color:$zoomvisit !important;}


.border-twitter{border-color:$twitter !important;}
.border-facebook{border-color:$facebook !important;}
.border-google{border-color:$google !important;}
.border-youtube{border-color:$youtube !important;}
.border-linkedin{border-color:$linkedin !important;}
.border-instagram{border-color:$instagram !important;}
.border-listglobally{border-color:$listglobally !important;}
.border-copilote{border-color:$copilote !important;}
.border-magex{border-color:$magex !important;}
.border-kijiji{border-color:$kijiji !important;}
.border-solihome{border-color:$solihome !important;}
.border-craigslist{border-color:$craigslist !important;}
.border-lespac{border-color:$lespac !important;}
.border-kangalou{border-color:$kangalou !important;}
.border-zoomvisit{border-color:$zoomvisit !important;}




.bg-green{background: $green !important;}
.bg-grey{background: $grey !important;}
.bg-blue{background: $blue !important;}
.bg-purple{background: $purple !important;}
.bg-red{background:$red !important;}
.bg-yellow{background:$yellow !important;}
.bg-black{background:$black !important;}
.bg-orange{background:$light-orange !important}


.bg-shareimmo{background: $light-green !important}
.bg-oneclic{background: $orange !important}
.bg-twitter{background:$twitter !important;}
.bg-facebook{background:$facebook !important;}
.bg-pinterest{background:$pinterest !important;}
.bg-google{background:$google !important;}
.bg-youtube{background:$youtube !important;color:$white !important;}
.bg-linkedin{background:$linkedin !important;}
.bg-instagram{background:$instagram !important;}
.bg-listglobally{background:$listglobally !important;}
.bg-copilote{background:$copilote !important;}
.bg-magex{background:$magex !important;}
.bg-kijiji{background:$kijiji !important; color: $white !important;}
.bg-solihome{background:$solihome !important;}
.bg-craigslist{background:$craigslist !important;}
.bg-lespac{background:$lespac !important;}
.bg-kangalou{background:$kangalou !important;}
.bg-zoomvisit{background:$zoomvisit !important;}



.bg-transparency{background: transparent;}
.bg-light-grey{background: $light-grey;}
.bg-dark-grey{background: $dark-grey;}
.bg-white{background:$white;}
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-tertiary{background: $tertiary;}



.border-light-grey{border:1px solid darken($light-grey,10%)}


// Font Weight
$fW:100;
@while $fW <= 900{
  .fw#{$fW}{
    font-weight:$fW;
    $fW:$fW + 100;
  }
}

//Font Size
$i:10;
@while $i <= 100{
  .fs#{$i}{
    font-size: $i*1px;
  }
  .lh#{$i}{
    line-height: $i*1px ;
  }
  @if $i <= 29{
    $i:$i+1;
  }
  @else{
    $i:$i+5;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio_#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}

// Ratio
$ratio:1;
@while $ratio <= 200{
  .ratio#{$ratio}{
    padding-bottom:$ratio*1% !important;
    $ratio:$ratio + 1;
  }
}


// font awesome size
$size:10;
@while $size <= 102{
  .fa-#{$size}x {
    font-size:$size/10 *1em !important;
    $size:$size + 1;
  }
}


// font awesome size
$size:0;
@while $size <= 11{
  .br#{$size} {
    border-radius:$size *1px !important;
    $size:$size + 1;
  }
}




// Margin and Padding
$a:0;
@while $a <= 120{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a < 15{
    $a:$a+1;
  }
  @else if $a < 70{
    $a:$a+5
  }
  @else{
    $a:$a+10;
  }
}