
.btn-custom-primary{
  white-space: normal;
  color:$white !important;
  background-color: $primary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.7s);
  border:1.5px solid darken($primary, 5%);
  &:hover{
    color:lighten($primary,45%);
    background-color: darken($primary, 5%) ;
    @include transition-property(color,background-color);
    @include transition-duration(0.7s);
  }
}


.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.7s);
  border:1.5px solid darken($secondary, 5%);
  &:hover{
    color:darken($secondary, 4%);
    background-color: darken($secondary, 10%);
    border:1.5px solid darken($secondary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.7s);
  }
}



.btn-custom-tertiary {
  color:$white !important;
  background-color: $tertiary;
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.7s);
  border:1.5px solid darken($tertiary, 5%);
  &:hover{
    color:darken($tertiary, 4%);
    background-color: darken($tertiary, 10%);
    border:1.5px solid darken($tertiary, 10%);
    @include transition-property(color,background-color);
    @include transition-duration(0.7s);
  }
}

.btn-custom-slim{
   color:$white !important;
  background-color: rgba(250,250,250,0.3);
  @include border-radius(2px);
  @include transition-property(color,background-color);
  @include transition-duration(0.2s);
  border: 1.5px solid darken($white, 5%);
  &:hover{
    color:$black !important;
    background-color: $white;
    border: 1.5px solid darken($white, 5%);
    @include transition-property(color,background-color);
    @include transition-duration(0.2s);
  }
}



#flashMessage{
  position: fixed;
  top:30px;
  left: 20px;
  width: 420px;
  z-index:2000;
  .alert{
    border-width: 5px;
    &.alert-danger{
      border-color: #a94442;
    }
  }
}


/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContentContainer{
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1{
        font-size: 50px;
      }
    }
  }
}



#logoNavbar{
  width: 140px;
}


#navbarHome{
  a{
    &.active{
      background: $primary;
      color:$white;
    }
  }
}
