/************************************************************************
/* Pour centrer verticalement + horizontalement une div par rapport à
/* une div parente en relative
*************************************************************************/
.coverContentContainer{
  width: 100%;
  height: 100%;
  .contentTable{
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
    .headerText{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}



/************************************************************************
/* Flash Message
*************************************************************************/
#flashMessage{
  position: fixed;
  top:30px;
  left: 20px;
  width: 420px;
  z-index:20001;
  .alert{
    border-width: 5px;
    &.alert-danger{
      border-color: #a94442;
    }
  }
}


/************************************************************************
/* Bar de Menu
*************************************************************************/
#MyHeaderHeroNav{position: fixed; top:0; height:60px; z-index: 1050; width: 100%; background:$white; @include transition-property(background); @include transition-duration(0.7s); border-bottom:1px solid #eee;
  #menu_wrapper{
    height:60px; line-height:55px;
    nav{
      height:60px; line-height:60px;
      a{
        font-size:16px;
        i{font-size:18px;}
      }
      #find{
        color:#FF974A; height:60px; line-height:60px; display:inline-block;
        &:hover{text-decoration:underline;}
      }
      #sponsor{
        color:#3891B9; height:60px; line-height:60px; display:inline-block;
        &:hover{text-decoration:underline;}
      }
      #connect{
        padding:7px 20px; color:white; background:#FF974A; font-size:15px; border-radius:3px; transition:all .2s;
        &:hover{background:darken(#FF974A, 10%);}
      }
      .menu-dropdown{
        height:60px; line-height:60px; font-size:16px; cursor:pointer; position:relative; display:inline-block;
        span{padding:5px 15px 7px 15px; border-left:1px solid #eee;}
        .dropdown{
          display:none; position:absolute; right:15px; top:60px; background:white; border-radius:0 0 3px 3px; box-shadow:0 1px 3px rgba(0,0,0,.1);
          a{
            height:auto; line-height:normal; display:block; padding:7px 15px 7px 40px; border-bottom:1px solid #eee; white-space:nowrap; text-align:right; font-size:14px;
            &:last-child{border-bottom:0;}
          }
        }
        &:hover{
          .dropdown{display:inline-block;}
        }
      }
    }
  }
}



/************************************************************************
/* Footer
*************************************************************************/
#logoFooter{
  max-width: 170px;
}


/************************************************************************
/* Effet pour les titres
*************************************************************************/
.sub-title{
  display: inline-block;
  padding: 0 35px;
  position: relative;
  opacity: 0.6;
  margin: 10px 0;
  &:before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
  }
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%
  }
}


/************************************************************************
/* Cards Effect
*************************************************************************/
.greyBorder {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: solid 2px #dddddd;
  padding-left: 15px;
  padding-right: 15px;
}

/************************************************************************
/* Projects
*************************************************************************/
.projects{
  .project{
    border-radius:5px;
    overflow:hidden;
    background:#F6F6F6;
    display:inline-block;
    width:100%;
    margin-bottom:30px;
    .header{width:100%; height:220px; opacity:.8; transition:all .2s; border-radius:5px 5px 0 0;}
    .infos{
      width:100%; padding:10px 15px 0 15px;
      h4{margin:0; font-size:15px; color:#999;}
      h5{margin:0; font-size:12px; color:#bbb;}
      .sub-infos{
        background:white; border:1px solid #F6F6F6; border-radius:0 0 4px 4px;
        p{font-size:12px; line-height:20px; color:#bbb; margin:0; text-align:justify;}
        hr{margin:10px 0; border-width:2px; border-radius:100%;}
      }
    }
    &:hover{
      .header{opacity:1;}
    }
  }
}


body.back_office.project_show{
  .header{
    height: 70vh;
  }
}

/************************************************************************
/* Remove Unregistred Licence from Froala
*************************************************************************/
div.fr-box{
  a[href^="https:"], span.fr-counter{
  display: none !important;
  }
}