.header{
  height: 170px;
  background-size:cover;
  background-position: center center;
}

#homeCover{
  height: 600px;
  &:before{
    content: "";
    display: block;
    background-color: rgba(101, 56, 56, 0.22);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}



#MyVideo{
  background: asset_url('happy_couple.jpg');
  height: 566px;
  position: relative;
  background-size:cover;
  &:before{
    content: "";
    display: block;
    background-color: rgba(101, 56, 56, 0.22);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


.toto{
  background: darken($light-grey, 5%);
  border: 2px solid darken($light-grey, 20%);
  background-position: center center;
  background-repeat: no-repeat;
}
