body{padding-top:55px; font-family:'Helvetica Neue', 'Open sans', Arial; -webkit-font-smoothing: antialiased;}

#preview{
  background-image: linear-gradient(-150deg, #69C4DD 0%, #3891B9 50%);
}

a:focus{text-decoration:none;}

#top-header{
  height:55px;
  line-height:55px;
  width:100%;
  background:white;
  position:fixed;
  top:0;
  left:0;
  border-bottom:1px solid #eee;
  z-index:600;
  .logo{margin-top:-5px;}
  .start-project{
    line-height:50px; margin-left:30px; transition:color .2s;
    &:hover{color:$grey !important;}
  }
  ul{
    float:left;
    li{
      float:left; list-style:none;
      &.how-it-works.wrapper{
        padding:10px 0; border-right:1px solid #eee; line-height:20px; margin-top:7px; overflow:hidden;
        a{padding:5px 10px; border-radius:3px; border:1px dotted rgba($secondary, .5); margin-right:-2px; transition:all .2s;}
        &:hover a{margin-right:10px;}
      }
      &.register a{
        padding:7px 15px; border-radius:2px; border:1px solid $primary; transition:all .2s;
        &:hover{background:$primary; color:white !important;}
      }
    }
  }
  .user-nav{
    width:220px;
    .user-infos{
      height:55px; line-height:55px; position:relative;
      .thumb{
        padding:2px; border-radius:4px; border:1px dashed lighten($light-grey, 10%);
        div{border-radius:3px; height:35px; width:35px;}
      }
      .name{width: 90px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
      .hamburger{
        width:20px; margin-top:20px; margin-right:20px;
        span{
          width:20px; height:2px; background:lighten($light-grey, 10%); border-radius:2px; margin-bottom:5px; float:left;
          &:last-child{margin-bottom:0;}
        }
      }
    }
    .dropdown{
      display:none; float:right; width:100%; background:white; border-radius:0 0 4px 4px; overflow:hidden;
      ul{
        padding:0;
        li{
          display:block; width:100%; height:35px; line-height:35px;
          a{
            color:$grey; padding-left:15px; display:inline-block; height:35px; width:100%;  transition:all .2s; position:relative;
            &:hover{background:lighten($light-grey, 25%);}
            &::after{content:''; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:90%; height:1px; background:#eee;}
          }
          &:last-child a::after{display:none;}
        }
      }
    }
    &.active{
      box-shadow:0 0 0 1px #eee; background:white; border-radius:0 0 4px 4px;
      .dropdown{display:block;}
    }
  }
}

.page-main-header{
  height:150px; position:relative;
  .filigrane{
    position:absolute; height:100%; width:100%; background-image:asset-url("home-header-filigrane.png");
    .countdown{border:1px solid white; border-radius:3px; padding:3px 30px 5px 30px;}
  }

  #search-bar{
    position: absolute; bottom:0; left:0; left:0; right:0; height:50px; background:$primary; border-radius:4px 4px 0 0; z-index:550; transition:all .3s;
    .categories{
      height:50px; line-height:50px; position:relative; border-radius:4px 0 0 0; color:white;
      .selected{
        height:50px; padding-left:20px; padding-right:15px;
        .selected-icon{margin-right:10px;}
        .fa-angle-down{margin-top:17px;}
      }
      .separator{position:absolute; height:40px; width:1px; background:rgba($white, .4); bottom:0; right:0;}
      .dropdown{
        display:none; position:absolute; left:0; bottom:0; @include transform(translateY(100%)); width:300px; background:white; border-radius:0 0 0 3px; box-shadow:0 1px 5px rgba(0,0,0,.2); list-style:none; padding:0; margin:0;
        li{
          height:40px; line-height:40px; width:100%; padding:0 15px; color:$grey; text-align:right; float:left; border-bottom:1px solid lighten($light-grey, 20%);
          .dropright{
            display:none; position:absolute; width:250px; height:100%; overflow-y:scroll; border-radius:0 0 3px 0; top:0; right:0; @include transform(translateX(100%)); background:white; box-shadow:0 1px 5px rgba(0,0,0,.2); padding:0; margin:0;
            li{
              text-align:left;
              &:last-child{border-radius:0;}
            }
          }
          &:hover{
            background:$secondary; color:white;
            .dropright{display:inline-block;}
          }
          &:last-child{border-bottom:0; border-radius:0 0 3px 3px;}
        }
      }
      &.active{
        background:white; color:$primary; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        .dropdown{display:block;}
      }
    }
    .location{
      border-left:1px solid rgba($white, .4); height:50px; position:relative;
      label{position:absolute; top:15px; right:20px; font-size:18px; color:white; cursor:text;}
      input{padding-right:70px;}
    }
    input{height:50px; width:100%; background:transparent; border:none; padding:0 20px; outline:none !important; font-size:16px; color:white; box-shadow:0 0 0 !important;
      &::-webkit-input-placeholder {color: rgba($white, .7);}
      &:-moz-placeholder {color: rgba($white, .7);}
      &::-moz-placeholder {color: rgba($white, .7);}
      &:-ms-input-placeholder {  color: rgba($white, .7);}
    }
    button[type=submit]{
      position:absolute; top:0; right:0; color:white; border:none; height:50px; line-height:58px; padding:0 20px; font-size:18px; outline:none !important; transition:all .2s; background:transparent; border-radius:0 4px 0 0;
      &:hover{background:rgba($white, .2);}
    }
    &.fixed{
      position:fixed; top:0px; border-radius:0 0 4px 4px; box-shadow:0 1px 3px rgba(0,0,0,.2);
      .categories.active{border-radius:0 0 0 0;}
      &.visible{top:55px;}
    }
  }
  &.home{
    height:450px;
  }
}

#search-bar-filters{
  height:35px; width:calc(100% + 30px); border:1px solid lighten($light-grey, 17%); border-top:0; z-index:500; position:relative; display:inline-block;
  .filter{
    float:left; height:35px; line-height:35px; color:$grey; cursor:pointer; position:relative;
    .title{
      padding:0 150px 0 10px; position:relative; z-index:500;
      i{position:absolute; top:50%; right:10px; transform:translateY(-50%);}
      &:after{content:''; width:1px; height:75%; background:lighten($light-grey, 17%); position:absolute; bottom:0; right:0;}
    }
    .dropdown{
      visibility:hidden; opacity:0; position:absolute; bottom:0; left:0; transform:translateY(90%); width:100%; background:white; box-shadow: 0 1px 5px rgba(0,0,0,.1); border-radius:0 0 3px 3px; transition:all .2s; z-index:0;
      .checkbox{
        margin:0; border-bottom:1px solid lighten($light-grey, 17%);
        input[type=checkbox]{display:none;}
        label{
          width:100%; padding-left:15px; position:relative; transition:all .2s; padding-top:5px; padding-bottom:5px; line-height:25px;
          &:after{content:''; width:5px; height:calc(100% + 2px); position:absolute; right:0; top:-1px; background:$secondary; opacity:0; transition:all .2s;}
        }
        input[type=checkbox]:checked + label{
          background:lighten($light-grey, 25%);
          &:after{opacity:1;}
        }
        &:hover label{background:lighten($light-grey, 25%);}
        &:last-of-type{border-bottom:0;}
      }
    }
    &.active{
      .dropdown{visibility:visible; opacity:1; transform:translateY(100%);}
      .title{color:$secondary;}
    }
  }
}

.project-card-wrapper{
  margin-bottom:30px;
  .project-card{
    border-radius:3px; overflow:hidden; border:1px solid lighten($light-grey, 17%);
    .image{
      height:270px;
    }
    .infos{
      h4{font-size:20px; color:black; font-weight:medium;}
      p{font-size:14px; line-height:22px; margin-bottom:0; margin-top:15px; height:44px;}
      .emplacement-ville{
        margin-top:10px;
        .emplacement{
          font-size:12px;
          span{
            font-size:24px;
            small{font-size:14px; margin-left:-5px;}
          }
          .fraction{
            position:relative; cursor:pointer;
            .dropdown{
              width:180px;; padding:10px 15px; position:absolute; left:50%; bottom:0; background:rgba($black,.8); transform:translate(-50%, calc(100%)); z-index:200; border-radius:3px; visibility:hidden; opacity:0; transition:all .2s;
              svg{position:absolute; top:0; left:50%; transform:translate(-50%, -100%);}
              ul{
                list-style:none; padding-left:0; margin:0;
                li{
                  color:white; font-size:12px; margin-bottom:10px;
                  &:last-child{margin-bottom:0;}
                }
              }
            }
            &:hover .dropdown{opacity:1; visibility:visible; transform:translate(-50%, calc(100% + 8px));}
          }
        }
        .ville{
          h5{font-size:20px; margin:7px 0 0 0;}
        }
        .gauge-wrapper{
          .gauge{
            width:100%; background:lighten($light-grey, 17%); height:4px; border-radius:2px;
            .status{height:4px; background:$secondary; border-radius:2px;}
          }
        }
      }
      .more-infos{
        height:130px;
        .category{
          margin-top:15px;
          h6{font-size:16px;}
          div:nth-of-type(2){text-align:right;}
        }
        .gender{
          margin-top:10px;
          h6{font-size:14px;}
          div:nth-of-type(2){text-align:right;}
        }
        .age{
          margin-top:10px;
          h6{font-size:14px;}
          div:nth-of-type(2){text-align:right;}
        }
        .right{
          border-left:1px solid lighten($light-grey, 17%);
          .budget{
            font-size:16px; padding:11px 0; border-bottom:1px solid lighten($light-grey, 17%);
            h6{font-size:14px; margin-top:5px;}
          }
          .engagement{
            font-size:16px; padding:11px 0;
            .grade{
              font-size:16px; line-height:0;
              span{font-size:36px;}
            }
          }
        }
      }
    }
  }

  &.small{
    .project-card{
      .image{height:210px;}
      .infos{
        h4{font-size:16px;}
        p{margin-top:5px; font-size:12px; line-height:18px; height:auto; height:36px;}
        .emplacement-ville{
          margin-top:10px;
          .ville{
            h5{
              font-size:16px;
              i{color:$grey; font-size:16px;}
            }
          }
        }
        .more-infos{
          height:90px;
          .category{
            margin-top:10px;
            h6{font-size:14px;}
          }
          .age{
            margin-top:5px;
            h6{font-size:12px;}
          }
          .gender{
            margin-top:5px;
            h6{font-size:12px;}
          }
        }
        .right{
          .budget{
            font-size:14px; padding:5px 0;
            h6{font-size:12px;}
          }
          .engagement{
            font-size:13px; padding:5px 0;
            .grade{
              font-size:14px;
              span{font-size:34px;}
            }
          }
        }
      }
    }
  }
}

#categories-links{
  h3{
    overflow:hidden; position:relative;
    &:after{content:''; position:absolute; top:50%; height:1px; width:100%; background:lighten($light-grey, 17%); margin-left:10px;}
  }
  ul{
    list-style:none; padding:0; display:flex; margin:0 -10px; flex-wrap:wrap;
    li{
      display:inline-block; flex-grow:1; padding:0 10px; margin-bottom:20px; min-width:200px;
      a{
        text-align:right; display:inline-block; width:100%; height:35px; line-height:35px; padding:0 10px; border-radius:3px; border:1px solid $light-grey; font-size:14px; transition:all .2s; color:$grey;
        i{float:left; margin-top:9px;}
        &:hover{border-color:$secondary; color:$secondary;}
      }
    }
  }
}

main{
  #expose-your-brand{
    border-radius:3px; box-shadow:0 1px 5px rgba(0,0,0,.2);
    .left{
      border-right:1px solid lighten($light-grey, 17%);
      .button-primary{margin-right:-40px; margin-top:30px;}
      .how-it-works{margin-top:45px;}
    }
  }
}

body.explore_show{
  #project-header{
    .infos{
      .project-image{
        height:480px; border-radius:3px;
        img{visibility:hidden;}
      }
      .creator{
        .creator-thumb{height:45px; width:45px; border-radius:2px; background-color:grey; border:1px solid lighten($light-grey, 18%);}
      }
      .creator-socials{
        .cells{
          border-radius:2px; border:1px solid lighten($light-grey, 17%);
          .cell{
            padding:0 10px;
            border-right:1px solid lighten($light-grey, 17%);
            &:last-child{
              border-right: none;

            }
          }
        }
      }
      .sharings{
        margin-top:25px;
        button{
          font-size:14px; color:lighten($light-grey, 5%); border-radius:3px; border:1px solid lighten($light-grey, 5%); margin-top:5px; height:30px; width:30px; line-height:30px; text-align:center; display:inline-block; margin-right:5px; background:white; padding:0; transition:color,border .2s; outline:none !important;
          &:hover{color:$grey; border-color:$grey;}
        }
      }
    }
  }

  .gauge-wrapper{
    .gauge{
        margin-top:-5px; width:100%; background:lighten($light-grey, 17%); height:4px; border-radius:2px;
        .status{height:4px; background:$secondary; border-radius:2px;}
      }
  }

  main{
    .project-desc{
      padding-right:30px;
      p{color:$grey; line-height:27px; font-size:16px; margin-bottom:25px;}
      img{border-radius:3px; margin-bottom:25px;}
    }

    .emplacements{
      .emplacement{
        display:inline-block; width:100%; margin-bottom:35px; border:1px solid lighten($light-grey, 17%); border-radius:4px;
        .image{background-image:radial-gradient(circle farthest-side at center bottom, #C0EBFF, #54C7FC); border-radius:4px 4px 0 0; margin:-1px -1px 0 -1px;}
        .infos{
          padding:15px 20px; display:inline-block; width:100%;
          h4{font-size:16px;}
          h5{font-size:13px;}
          hr{margin:15px 0 10px; float:right; width:100%;}
          .sharing{font-size:18px;}
          .sponsorise{padding:5px 15px;}
          .time-range{
            time{padding:2px 4px 1px; border:1px solid $secondary; color:$secondary !important; background:white; border-radius:2px;}
          }
        }
      }
    }
  }
}

#main-footer{
  margin-top:80px;
  background-image: linear-gradient(-150deg, #69C4DD 0%, #3891B9 50%); color:white;
  h3{font-weight:bold; font-size:16px;}
  h4{font-size:14px;}
  ul{
    margin-top:20px; margin-bottom:0;
    li{
      margin-bottom:15px;
      a{color:white !important; font-size:14px;}
      &:last-child{margin-bottom:0;}
    }
  }
  .newsletter-wrapper{
    position:relative;
    .newsletter{
      padding:25px 0;
      form{
        border:1px solid white; border-radius:3px; position:relative;
        input[type=email]{
          height:40px; width:100%; background:transparent; color:white; border:0; padding-left:15px; outline:none !important; padding-right:120px;
          &::-webkit-input-placeholder {color: white;}
          &:-moz-placeholder {color: white;}
          &::-moz-placeholder {color: white;}
          &:-ms-input-placeholder {color: white;}
        }
        input[type=submit]{
          position:absolute; top:0; right:0; height:40px; background:white; border:none; border-radius:0 2px 2px 0; color:$secondary; padding:0 15px; text-transform:uppercase; outline:none !important; @extend .medium; transition:all .2s;
          &:hover{color:rgba($secondary, .7);}
        }
      }
    }
    &::before{content:''; width:1px; height:100%; position:absolute; left:0; top:50%; transform:translateY(-50%); background:white;}
  }

  .bottom{border-top:1px solid white;}
}

body.blog, body.blog_show{
  background-color:#FCFCFC;
  .mosaic-left{position:absolute; top:55px; left:0;}
  .mosaic-right{position:absolute; top:55px; right:0; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH";}
  .mosaic-center{position:absolute; top:55px; left:50%; transform:translateX(-50%);}
  h2{font-weight:700; font-size:30px; color:$grey; text-shadow:0 0 80px white; display:inline-block;}
  main{font-family:Gotham-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;}
  article{
    border-radius:4px; overflow:hidden; background:white; box-shadow:0 1px 3px rgba(0,0,0,.1); margin-bottom:150px;
    header{height:450px; transition:opacity .2s;}
    h3{display:inline-block; font-size:20px; color:black; font-weight:700; margin-top:25px;}
    time{font-size:14px; color:$grey; float:right; margin-top:28px; font-weight:700;}
    p{
      font-size:14px; color:$grey; line-height:26px; margin: 0 0 15px;
      span{color:$primary; font-weight:700;}
      &:first-of-type{margin-top:15px;}
      &:last-of-type{margin-bottom:0;}
    }
    footer{
      padding:15px 30px; border-top:1px dashed white; background-image: linear-gradient(-150deg, #F2BE23 0%, #f28b23 50%);
      span{font-size:14px; color:white;}
      a{font-weight:bold; color:white; text-transform:uppercase;}
      .a-right{
        display:inline-block; float:right; margin:-7px -22px 0 0 !important;
        button{width:35px; height:35px; line-height:35px; padding:0 !important; text-align:center; display:inline-block; outline:none !important; margin-right:5px; padding:1px 5px !important;}
      }
    }
  }
}

body.blog{
  article{
    header{
      &:hover{opacity:.85;}
    }
  }
}
