// SMARTPHONE
@media (max-width: 767px) {
  #top-header{
    .container{padding-right:0;}
    .start-project{margin-left:0px;}
    .user-nav{
      width:100px;
      .thumb{margin-right:15px !important;}
      .hamburger{margin-right:15px !important;}
      .dropdown{width:250px;}
    }
  }

  .page-main-header{
    #search-bar{
      .categories{
        .selected{
          padding-left:15px; padding-right:10px;
          .selected-icon{margin-right:0;}
        }
      }
      input{padding:0 15px;}
      .location{
        input{padding-right:35px;}
        label{right:15px;}
      }
    }
  }

  .project-card-wrapper.large{
    .project-card{
      .image{
        height:270px;
      }
      .infos{
        h4{font-size:16px;}
        p{margin-top:5px; font-size:12px; line-height:18px; height:auto;}
        .emplacement-ville{
          margin-top:10px;
          .ville{
            h5{font-size:16px;}
          }
        }
        .more-infos{
          height:90px;
          .type{
            margin-top:10px;
            h6{font-size:12px;}
            div:nth-of-type(2){text-align:left; font-size:10px;}
          }
          .category{
            margin-top:12px;
            h6{font-size:14px;}
          }
          .age{
            margin-top:5px;
            h6{font-size:12px;}
          }
          .gender{
            margin-top:5px;
            h6{font-size:12px;}
          }
        }
        .right{
          .budget{
            font-size:14px; padding:5px 0;
            h6{font-size:12px;}
          }
          .engagement{
            font-size:13px; padding:5px 0;
            .grade{
              font-size:14px;
              span{font-size:34px;}
            }
          }
        }
      }
    }
  }

  .project-card-wrapper{
    &.small{
      .project-card{
        .infos{
          p {height:54px;}
        }
      }
    }
  }

  #expose-your-brand{
    .right{padding-bottom:20px; border-bottom:1px solid lighten($light-grey, 17%);}
    .left{
      border-right:0 !important;
      h3{font-size:22px;}
      .how-it-works{margin-top:20px !important;}
      .button-primary{margin-right:0 !important; margin-top:15px !important;}
    }
  }

  body.blog, body.blog_show{
    article{
      header{height:300px;}
    }
  }

  body.explore_show{
    #project-header{
      .infos{
        .project-image{
          height:300px !important;
        }
      }
    }
  }
}


// TABLET
@media (max-width: 991px) and (min-width: 768px) {
  #expose-your-brand{
    .left{
      h3{font-size:25px;}
    }
  }

  .project-card-wrapper.large{
    .project-card{
      .image{height:258px;}
      .emplacement-ville{
        margin-top:20px;
      }
      .more-infos{
        height:109px !important;
        .category{margin-top:15px !important;}
        .engagement{padding:5px 0 !important;}
        .budget{padding:6px 0 !important;}
      }
      .infos{
        p{font-size:12px;}
      }
    }
  }
}


// TABLET + SMARTPHONE
@media (max-width: 991px) {
  body.explore_show{
    #project-header{
      .infos{
        .project-image{
          height:350px;
        }
      }
    }
  }

  footer{
    .newsletter-wrapper{
      &::after{content:''; position:absolute; top:0; left:50%; transform:translateX(-50%); height:1px; width:calc(100% - 30px); background:white;}
      &::before{display:none;}
      .newsletter{padding-bottom:0 !important;}
    }
  }
}


// SMALL DESKTOPS
@media (min-width:992px) and (max-width:1199px){
  .project-card-wrapper{
    &.large{
      .infos{
        p{font-size:12px;}
      }
    }
    &.small{
      .project-card{
        .infos{
          p {height:54px;}
        }
      }
    }
  }
}
