<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= yield(:head) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 10]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body class='<%= "#{controller_name} #{action_name}  #{devise_controller? ? 'devise' : nil}"%>'>
  <%= render 'layouts/partials/messages' %>
  <%= render 'layouts/partials/header'  if user_signed_in? %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>


