@font-face{
  font-family:'Gotham-Light';
  font-weight: normal;
  font-style: normal;
  src: asset-url("Gotham-Light/Gotham-Light.eot");
  src: asset-url('Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  asset-url('Gotham-Light/Gotham-Light.woff') format('woff'),
  asset-url('Gotham-Light/Gotham-Light.ttf') format('truetype'),
  asset-url('Gotham-Light/Gotham-Light.svg#Gotham-Light') format('svg')
}

@font-face{
  font-family:'Helvetica Neue';
  font-weight: normal;
  src: asset-url("helveticaneue/regular/Helvetica.eot");
  src: asset-url('helveticaneue/regular/Helvetica.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/regular/Helvetica.woff') format('woff'),
  asset-url('helveticaneue/regular/Helvetica.ttf') format('truetype'),
  asset-url('helveticaneue/regular/Helvetica.svg#Helvetica') format('svg')
}

@font-face{
  font-family:'Helvetica Neue';
  font-weight: 500;
  src: asset-url("helveticaneue/medium/HelveticaNeue-Medium.eot");
  src: asset-url('helveticaneue/medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.woff') format('woff'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.ttf') format('truetype'),
  asset-url('helveticaneue/medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg')
}

@font-face{
  font-family:'Helvetica Neue';
  font-weight: bold;
  src: asset-url("helveticaneue/bold/HelveticaNeue-Bold.eot");
  src: asset-url('helveticaneue/bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.woff') format('woff'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.ttf') format('truetype'),
  asset-url('helveticaneue/bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg')
}