/*Variables SCSS*/


/*Color*/
$white:#ffffff;
$blue:#0D73B5;
$black:black;
$purple:#727cb6;
$orange:#eb6e2a;
$yellow:#f59c1a;
$green:#00acac;
$red:#ff5a5f;
$grey:#929292;
$brown: #836e2e;
$salmon: #fa6b68;
$raspberry:#cb2b5c;
$gold:#ffd700;

$light-green:#7ac5c8;
$light-blue:#8CA0B3;
$light-red:#e6777a;
$light-grey:#BABABA;
$light-orange:#ED8350;


$dark-grey:#31373d;
$dark-blue:#2f4050;
$dark-orange:#fa6132;
$dark-green:#466e78;
$dark-red:#531a1f;
$dark-grey-blue:#31373D;


$grey-blue:#9eb8c1;



$facebook:#3c5a99;
$pinterest:#CA3737;
$google:#C63D2D;
$instragram:#4E433C;
$linkedin:#4875B4;
$instagram:#205c81;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$listglobally:#273f57;
$copilote:#7ca2a7;
$magex:#e4271c;
$kijiji:#4c4b6d;
$solihome:#147fc0;
$craigslist:#5D008F;
$lespac: #2C7FC1;
$kangalou: #f54029;
$immopad_blue: #137EC2;
$immopad_pink: #E3147E;
$zoomvisit: #998675;




$color-link:#56A7FF;
$primary:#F28B23;
$secondary:#3891B9;
$tertiary:#7ED327;



