<nav id="navPrestige" class="navbar navbar-inverse pt10 pb10">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class => "navbar-brand pt0" do %>
      <%= image_tag "/logo_prestigemls_white.png", :class=>"img-responsive", :style => "height:45px;" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Current Version", "http://prestige-mls.com", :class=>"color-white", :target => "_blank" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">My Account</li>
            <li><%= link_to "My invoices", my_invoices_path %></li>
            <li><%= link_to "My payments", my_payments_path %></li>
            <li><%= link_to "My credit cards", credit_cards_path %></li>
            <li><%= link_to "Edit password", edit_user_path %></li>
            <% if current_user.has_any_role?(:admin) %>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Admin</li>
            <li><%= link_to "Invoices", admin_invoices_url(:subdomain => "beta") %></li>
            <li><%= link_to "Payments", admin_payments_url(:subdomain => "beta") %></li>
            <li><%= link_to "Leads", lead_instapages_url(:subdomain => "beta") %></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">My services</li>
            <li><%= link_to "Lead", root_url(:subdomain => "lead") %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path, :class=>"color-white" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
