<!DOCTYPE html>
<html>
<head>
  <title>PRESTIGE MLS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag "/favicon.ico", rel: 'icon', type: 'image/png'%>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>

<body class='<%="#{devise_controller? ? "devise" : nil} #{controller_name} #{action_name}"%>'>
  <%= render 'layouts/header' if controller_name != "leads" %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</body>
</html>
