<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
  /* Email styles need to be inline */
  </style>
</head>

<body>
  <span style="color: rgb(102, 102, 102);">

    <%= yield %>
    
    <br><br>
  </span>
  <span style="color: rgb(102, 102, 102);font-size:0.8em;">
    <a href="http://www.prestige-mls.com" target="_blank" style="text-decoration:none;">
      <img src="https://s3.amazonaws.com/prestigemls/public/email_signs/prestigemls_logo.png" alt="Prestige MLS" style="border:none;width: 260px; height: 56px">
    </a>
    <br>
    <a href="http://event.prestige-mls.com/event16" target="_blank" style="text-decoration:none;">
      <img src="https://s3.amazonaws.com/prestigemls/public/email_signs/banniereprestigemls.png" alt="Prestige MLS, Congress" style="border:none;">
    </a>
  </span>
</body>
</html>
