<% @title_for_layout = "MyPrint.io" %>
<% @description_for_layout = 'MyPrint.io - printable engine' %>
<% @canonical_for_layout = root_url %>
<%= render 'layouts/partials/generic_meta' %>

<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<% end %>

<div class="container">
  <div class="row mt50 center">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= link_to dashboard_path do %>
            <%= image_tag("logo_myprint_large.png", size: "253x253", :class=>"img-responsive")%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

