<p class="h1 mt20">My Invoices</p>

<table class="table table-condensed mb0 table-bordered mt30">
  <thead>
    <th>Number</th>
    <th>Amount</th>
    <th>Payments</th>
    <th>Actions</th>
  </thead>
  <tbody id="extrasTable">
    <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.invoice_number %></td>
      <td><%= humanized_money_with_symbol invoice.amount %></td>
      <td>
        <ul class="list-unstyled mb0">
          <% invoice.payments.each do |p| %>
          <li>
            <%= "#{humanized_money_with_symbol(p.amount)} - " %>
            <%= p.is_paid == 1 ? "Paid on #{p.payment_date}" : (link_to "Pay", make_payment_url(p.secure_id,:subdomain => "payment"), :class => "btn btn-xs btn-custom-primary") %>
          </li>
          <% end %>
        </ul>
      </td>
      <td>
        <% if invoice.file.present? %>
        <%= link_to "See", invoice.file.url, :class=>'color-link', :target => "_blank" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
