<div class="container mb10">
  <div class="row mt15">
    <div class="col-sm-6 col-sm-offset-3">
      <%= image_tag "/logo_prestigemls_white.png", :class=>"img-responsive" %>
    </div>
  </div>
  <p class="h1 mb20">Payment</p>
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for :pay, :url => payment_stripe_path(@payment.secure_id), :html=>{:class=>"inline-block full-width"}, :defaults => {:input_html=>{:class=>"form-control input-sm"}} do |f| %>
      <table class="table table-condensed table-bordered">
        <tr>
          <td>Invoice :</td>
          <td><%= @payment.invoice.invoice_number %></td>
        </tr>
        <tr>
          <td>Amount :</td>
          <td><%= humanized_money_with_symbol @payment.amount %></td>
        </tr>
        <tr>
          <td>Credit Card</td>
          <td>
            <% if @cards.present? %>
            <%= f.input_field :stripe_id,:label => false, :collection => @cards.map {|c| ["#{c.name}(**** #{c.last4}) - #{c.brand}", c.id]}, :selected => @default_card %>
            <% else %>
            <%= link_to "Add credit Card", credit_cards_path, :class => "color-link" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @cards.present? %>
      <%= f.submit "Pay", :class => "btn btn-custom-primary" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

