<p class="h1 mt20">Payments</p>

<table class="table table-condensed table-bordered mt30">
  <thead>
    <th>Id</th>
    <td>Invoice</td>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Is Paid</th>
  </thead>
  <tbody id="extrasTable">
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.secure_id %></td>
      <td><%= payment.invoice.invoice_number %></td>
      <td><%= humanized_money_with_symbol payment.amount %></td>
      <td><%= payment.due_date %></td>
      <td>
        <%= "Paid on #{payment.payment_date}" if payment.is_paid == 1 %>
        <%  if payment.is_paid == 0 %>
        <ul class="list-inline mb0">
          <li><%= link_to "Pay", make_payment_url(payment.secure_id,:subdomain => "payment"), :class => "color-link" %></li>
        </ul>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>