<div class="container mb10">
  <div class="row mt15">
    <div class="col-sm-6 col-sm-offset-3">
      <%= image_tag "/logo_prestigemls_white.png", :class=>"img-responsive" %>
    </div>
  </div>
  <p class="h1 mb20">Payment</p>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-condensed table-bordered">
        <tr>
          <td>Invoice :</td>
          <td><%= @payment.invoice.invoice_number %></td>
        </tr>
        <tr>
          <td>Amount :</td>
          <td><%= humanized_money_with_symbol @payment.amount %></td>
        </tr>
        <tr>
          <td>Paid on :</td>
          <td><%= @payment.payment_date %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

