<div id="history-list">
  <div class="h4 medium color-dark-grey mb25"><%= link_to t("dashboard.history_title"), dashboard_history_path %></div>
  <% @orders.sort_by(&:created_at).reverse.each do |order| %>
  <div class="history mb20">
    <div class="thumb bg-cover pull-left" style="background-image: url(<%= order.picture_url %>)";></div>
    <div class="infos pull-left">
      <div class="ellipsis block medium fs12 pr10 pl10"><%= "# #{order.uid}" %><br><%= order.address%></div>
      <span class="normal color-grey fs12 block ellipsis pr10 pl10"><%= order.print_template.name %></span>
      <div class="bottom inline-block full-width bt border-light-grey mt8 fs10 pt5 pb5 pl10 relative">
        <div class="color-grey italic">
          <%= t((order.print_template.print_template_type_id == 1 ? "dashboard.ordered_on" : "dashboard.printed_on"), date: I18n.localize(order.created_at.to_time,:format=>("%d %b %Y")))%>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
