<div class="modal-dialog modal-lg modal-xlg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-title" id="myModalLabel"><%= t("print_template.select") %></div>
    </div>
    <div class="modal-body">
      <% @templates.in_groups_of(3,false).each do |row_templates| %>
      <div class="row">
        <% row_templates.each do |template| %>
        <div class="col-sm-4">
          <div class="well well-sm">
            <div><%= template.name %></div>
            <% first = template.print_template_pdfs.first %>
            <%= link_to app_preview_path(:uids => @uid,:pdf =>first.id), :onclick => "$('#templates_modal').modal('hide')", :target => "_blank" do %>
            <%= image_tag "#{File.dirname(first.model.url)}/#{first.id}_1.png", :class => "img-responsive img-thumbnail" %>
            <% end %>
            <% if template.print_template_pdfs.size > 1  %>
            <ul class="list-unstyled mb0">
              <% template.print_template_pdfs.each do |pdf| %>
              <li><%= link_to pdf.description ,app_preview_path(:uids => @uid ,:pdf =>pdf.id), :onclick => "$('#templates_modal').modal('hide')",:target => "_blank" %></li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
