

<div class="container">
  <h2><%= t("dashboard.history_title") %></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed mt10 sortable mb0 bg-white">
      <thead>
        <tr>
          <th><%= t("dashboard.picture") %></th>
          <th><%= t("dashboard.address") %></th>
          <th><%= t("dashboard.template") %></th>
          <th><%= t("dashboard.date") %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= image_tag(order.picture_url, size: "80") %></td>
          <td>#<%= order.uid %><br><%= order.address %></td>
          <td><%= order.print_template.name %></td>
          <td><%= I18n.localize(order.created_at.to_time,:format=>("%d %b %Y #{t('app.at')} %Hh%m"))%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
