<div class="container">

  <% if @is_authorized %>
  <% if @response.present?  %>
  <div class="row pt10">
    <div class="col-md-8">
      <div class="h4 medium color-dark-grey mb25"><%= t('app.my_listings') %></div>
      <div id="properties">
        <% @response[:results][:features].each do |p| %>
        <div class="property bg-white bAll border-grey br3 relative">
          <div class="thumb bg-cover pull-left" style="background-image:url(<%= p[:properties][:cover_url] %>);"></div>
          <div class="infos pull-left">
            <div class="h5 ellipsis color-primary mt10 pr10 pl15"><%= "##{p[:properties][:uid].present? ? p[:properties][:uid] : p[:properties][:id]} #{p[:properties][:property_listing][:fr]} - #{p[:properties][:locality]}" %></div>
            <div class="h6 ellipsis pr10 pl15"><%= p[:properties][:address] %></div>
            <div class="color-dark-grey mt5 block ellipsis pl15"><%= p[:properties][:price_formated] %></div>
            <div class="absolute absolute-bottom-right">
              <div class="pull-right social-networks mr5 mb5">
                <%= link_to t("app.print"), dashboard_showcase_path(:uid => p[:properties][:id]), :class=> " btn btn-sm btn-default", :remote => true %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%#= render "dashboard/history" %>
    </div>
  </div>
  <% else %>
  <div class="fs25 center"><%= t('app.welcome') %></div>
  <% end %>
</div>

<div id="templates_modal" class="modal fade" tabindex="-1" role="dialog"></div>

<% else %>
<div class="fs40 center">
  <%= t("dashboard.no_auth") %>
</div>

<% end %>
