<%= render :layout => 'devise/devise_layout' do %>
<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: user_session_path,:defaults => { :input_html => { :class => 'form-control'}}) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="mt10">
    <%= f.submit :class => 'btn btn-custom-primary', :value => 'Connexion' %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<% end %>
