<section class="panel">
  <h6><%= t('front_office.ref') %></h6>
  <div><%= @broker_contact.ref %></div>
</section>
<section class="panel">
  <h6><%= t('front_office.name') %></h6>
  <div><%= @broker_contact.full_name %></div>
</section>
<section class="panel">
  <h6><%= t('front_office.email') %></h6>
  <div><%= @broker_contact.email %></div>
</section>
<section class="panel">
  <h6><%= t('front_office.phone') %></h6>
  <div><%= @broker_contact.phone %></div>
</section>
<section class="panel">
  <h6><%= t('front_office.message') %></h6>
  <div><%= @broker_contact.message %></div>
</section>

