Bonjour <%= @testimonial.user.profile.public_name %>,<br>
<br>
Vous venez de recevoir un nouveau témoinage sur votre site web :
<hr>
<br>
<div><strong><%= @testimonial.title %></strong></div>
<div><%= @testimonial.content %></div>
<div class="a-right">Écrit par : <%= @testimonial.full_name %></div>

Rendez vous dans votre back-office pour l'activer en <%= link_to "cliquant ici ", dashboard_testimonials_url(@testimonial.user.username,:protocol => "http")  %>
