body.leads,body.beta,body.devise{
  width:100%; min-height:100vh; background-image:radial-gradient(circle farthest-side at center bottom, #46495C, #1F2029 80%, #000000); background-repeat:no-repeat; color:lighten($black, 50%); -webkit-font-smoothing: antialiased; line-height:normal;

  label{font-weight:normal;}
  input:not([type=submit]):not([type=checkbox]){width:100%; background-color:#F6F6F6; border-radius:7px; border:1px solid $primary; height:55px; padding:0 10px; font-size:14px; margin-bottom:10px; color:black; box-shadow:0 0 0; -webkit-appearance: none;}
  input[type=checkbox]{height:20px; width:20px;}
  select{width:100%; background-color:#F6F6F6; background-image:asset-url('select-bg.svg'); background-size:contain; background-position:top right; background-repeat:no-repeat; border-radius:7px; border:1px solid $primary; height:55px; padding:0 10px; font-size:14px; margin-bottom:10px; color:black; box-shadow:0 0 0;}
  textarea{width:100%; background-color:#F6F6F6; border-radius:7px; border:1px solid $primary; padding:10px; font-size:14px; margin-bottom:10px; color:black; resize:none;}

  #home-buttons{
    a{
      &:active, &:hover{
        circle{fill:#2979FF;}
      }
    }
    svg{width:100%;}
  }

  #main-header{
    background-image:radial-gradient(circle farthest-side at center center, #46495C, #161A2E); height:60px; position:fixed; top:0; left:0; width:100%; z-index:100;
  }

  #main-content{
    height:calc(100vh - 60px); background:#F9F9F9; margin-top:60px; display:inline-block; width:100%; overflow:scroll; margin-bottom:-3px;
    &.main-content_with-button{height:calc(100vh - 60px - 45px);}
    &.centered-content{display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
  }

  .striped-bg{background:asset-url("stripe-bg.svg");}

  .user-avatar{width:80px; height:80px; border-radius:100%; background-color:#222527;}

  .bottom-button{
    height:45px; line-height:45px; background:$primary;
    &.disabled{pointer-events:none; background:$grey;}
    &:hover{background:lighten($primary, 10%);}
  }

  .electronic-signature{height:130px; width:100%; border:2px solid $grey;}

  .referral-toolbar{
    a, span{
      height:40px; width:100%;
      &.highlighted{
        background-color:#2979FF;
        svg *{fill:white;}
        &:hover{background-color:lighten(#2979FF, 10%);}
      }
      &:hover{background:#f8f8f8;}
    }
    [class^="col"]{padding:0;}
    svg{height:18px;}
  }

  .referal-flag{width:25px;}

  #referral-actions{
    svg{width:100%;}
    a{
      &:active, &:hover{
        svg circle{fill:#2979FF;}
      }
    }
  }

  .modal-notif{
    position:fixed; top:60px; left:0; width:100vw; height:calc(100vh - 60px); z-index:50; background-color:rgba(0,0,0,.75); visibility:hidden; opacity:0; transition:all .2s;
    &.opened{visibility:visible; opacity:1;}
  }
}
