body{
  background: $black;
  color: $white;
  &.beta{
    background-size:cover;
    background-image: image-url('oneclic_back.jpeg');
    height: calc(100vh);
  }
}

.modal-content{
  color: $black;
}



.flashMessage, #jsFlashMessage{
  position: fixed; bottom:20px; left:50%; transform:translateX(-50%); width: 420px; max-width:calc(100% - 40px); z-index:2000;
  .alert{
    border-width: 0px; background:white; border:1px solid $light-grey; animation:flashMessageIn .2s; @extend .medium; border-left-width:5px; border-radius:0; border-color:$light-grey; box-shadow:0 0 5px rgba(0,0,0,.1);
    &.alert-danger{
      border-color:$red; color:$red;
      .close{color:$red; opacity:1;}
    }
    &.alert-success{
      border-color:$green; color:$green;
      .close{color:$green; opacity:1;}
    }
    &.alert-info{
      border-color:#31708f; color:#31708f;
      .close{color:#31708f; opacity:1;}
    }
  }
}

#navPrestige{
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid grey;
}



#payment-list{
  .medias{
    height: 30px;
    margin: 8px 10px 0px 0px;
  }
}
