<% if @projects.present? %>
<section class="row projects mt40">
  <% @projects.each do |p| %>
  <article class="col-md-4">
    <%= link_to explore_show_path(p) ,:class=>"project" do %>
      <div class="header bg-cover" style="background-image:url(<%= image_path p.picture.url(:small) %>);"></div>
      <div class="infos">
        <h4><%= p.title %></h4>
        <h5 class="mt5">Sport : <%= "#{p.sport.name}" %></h5>
        <div class="row mt10 pt10 pb10 pr15 pl15 sub-infos">
          <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam vitae libero asperiores officiis hic ipsam iure, voluptatum unde aspernatur magni, optio. Ullam fugit non illo, nobis sed. Debitis, ut.</p>
          <hr class="hidden-xs">
          <div>
            <h5 class="pull-left color-primary uppercase"><%= "#{p.sport_level.name}" %></h5>
            <h5 class="pull-right color-secondary uppercase"><%= "#{p.sport_category.name}" %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </article>
  <% end %>
</section>
<% end %>
