<div class="container">
  <div class="row" id="search-bar-filters">
    <div class="filter">
      <div class="title">
        Type
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="dropdown">
        <div class="form-group check_boxes optional property_classification mb0"><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="1" id="property_classification_1"><label class="collection_check_boxes" for="property_classification_1">House</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="2" id="property_classification_2"><label class="collection_check_boxes" for="property_classification_2">Apartement</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="3" id="property_classification_3"><label class="collection_check_boxes" for="property_classification_3">Parking</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="4" id="property_classification_4"><label class="collection_check_boxes" for="property_classification_4">Land</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="5" id="property_classification_5"><label class="collection_check_boxes" for="property_classification_5">Income Building</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="6" id="property_classification_6"><label class="collection_check_boxes" for="property_classification_6">Allotment</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="7" id="property_classification_7"><label class="collection_check_boxes" for="property_classification_7">Résidence</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="8" id="property_classification_8"><label class="collection_check_boxes" for="property_classification_8">Commercial</label></span><input type="hidden" name="classification[]" value=""></div>
      </div>
    </div>
    <div class="filter">
      <div class="title">
        Budget
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="dropdown">
        <div class="form-group check_boxes optional property_classification mb0"><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="1" id="property_classification_1"><label class="collection_check_boxes" for="property_classification_1">House</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="2" id="property_classification_2"><label class="collection_check_boxes" for="property_classification_2">Apartement</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="3" id="property_classification_3"><label class="collection_check_boxes" for="property_classification_3">Parking</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="4" id="property_classification_4"><label class="collection_check_boxes" for="property_classification_4">Land</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="5" id="property_classification_5"><label class="collection_check_boxes" for="property_classification_5">Income Building</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="6" id="property_classification_6"><label class="collection_check_boxes" for="property_classification_6">Allotment</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="7" id="property_classification_7"><label class="collection_check_boxes" for="property_classification_7">Résidence</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="8" id="property_classification_8"><label class="collection_check_boxes" for="property_classification_8">Commercial</label></span><input type="hidden" name="classification[]" value=""></div>
      </div>
    </div>
    <div class="filter">
      <div class="title">
        Catégorie
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="dropdown">
        <div class="form-group check_boxes optional property_classification mb0"><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="1" id="property_classification_1"><label class="collection_check_boxes" for="property_classification_1">House</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="2" id="property_classification_2"><label class="collection_check_boxes" for="property_classification_2">Apartement</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="3" id="property_classification_3"><label class="collection_check_boxes" for="property_classification_3">Parking</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="4" id="property_classification_4"><label class="collection_check_boxes" for="property_classification_4">Land</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="5" id="property_classification_5"><label class="collection_check_boxes" for="property_classification_5">Income Building</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="6" id="property_classification_6"><label class="collection_check_boxes" for="property_classification_6">Allotment</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="7" id="property_classification_7"><label class="collection_check_boxes" for="property_classification_7">Résidence</label></span><span class="checkbox"><input name="classification[]" class="check_boxes optional" type="checkbox" value="8" id="property_classification_8"><label class="collection_check_boxes" for="property_classification_8">Commercial</label></span><input type="hidden" name="classification[]" value=""></div>
      </div>
    </div>
  </div>
</div>
