<div class="project-card">
  <%= link_to explore_show_path(project['id']) do %>
  <div class="col-sm-5 col-md-4 image bg-cover" style="background-image:url(<%= project['cover_url'] %>);"></div>
  <% end %>


  <div class="col-sm-7 col-md-8 infos pt10">
    <%= link_to explore_show_path(project['id']) do %>
    <h4><%= project['title'] %></h4>
    <% end %>
    <p class="color-grey"><%= truncate(strip_tags(project['summary']),:length => 220) %></p>

    <div class="row emplacement-ville">
      <div class="col-xs-7 col-sm-6 emplacement color-grey">
        <% if  project['ads_count'] != 0 %>
        <span class="color-secondary fraction">
          <%= project['ads_count_available'] %> <small class="color-black">/<%= project['ads_count'] %></small>
          <div class="dropdown">
            <svg width="20px" height="9px" viewBox="32 797 33 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M46.3429132,799.091721 C47.5342393,797.936495 49.4584287,797.929385 50.6570868,799.091721 L65,813 L32,813 L46.3429132,799.091721 Z" id="Triangle-2" stroke="none" fill="rgba(0,0,0,.8)" fill-rule="evenodd"></path>
            </svg>
            <ul>
              <li>maillot ( manche gauche )</li>
              <li>maillot ( manche gauche )</li>
            </ul>
          </div>
        </span> emplacmt. restants
        <% end %>
      </div>
      <div class="col-xs-5 col-sm-6 ville text-right">
        <% if project['locality'].present?  %>
        <h5 class="color-black bold">
          <i class="fa fa-map-marker mr5" aria-hidden="true"></i>
          <%= project['locality'] %>

        </h5>
        <% end %>
      </div>

      <div class="gauge-wrapper col-xs-12 pr0">
        <div class="gauge">
          <div class="status" style="width:<%= project['ads_count_available'].to_f/project['ads_count'].to_f*100 %>%;"></div>
        </div>
      </div>
    </div>

    <div class="row more-infos">
      <div class="col-sm-7 col-md-8 col-xs-7 left">
        <div class="row category">
          <div class="col-sm-6">
            <h6 class="color-tertiary normal"><%= project['sport'].present? ? project['sport']['fr'] : nil %></h6>
          </div>
          <div class="col-sm-6 hidden-xs hidden-sm">
            <span class="color-light-grey"><%= project['sport_univer'].present? ? project['sport_univer']['fr']: nil %></span>
          </div>
        </div>
        <div class="row gender">
          <div class="col-sm-12 col-md-6">
            <h6 class="color-secondary normal"><%= project['project_type'].present? ? project['project_type']['fr']: nil %></h6>
          </div>
          <div class="col-sm-6 hidden-xs hidden-sm">
            <h6 class="color-light-grey normal"><%= project['gender'].present? ? project['gender']['fr']: nil %></h6>
          </div>
        </div>
        <div class="row age">
          <div class="col-sm-12 col-md-6">
            <h6 class="color-secondary normal"><%= project['sport_category'].present? ? project['sport_category']['fr']: nil %></h6>
          </div>
          <div class="col-sm-6 hidden-xs hidden-sm">
            <span class="color-light-grey"><%= project['sport_level'].present? ? project['sport_level']['fr']: nil %></span>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-4 col-xs-5 right">
        <div class="budget color-light-grey">
          Budget
          <% if project['min_max'][0].present? and  project['min_max'][1].present? %>
          <h6 class="color-black"><%= humanized_money_with_symbol(project['min_max'][0]/100)  %> <span class="color-light-grey">à</span> <%= humanized_money_with_symbol(project['min_max'][1]/100)  %></h6>
          <% end %>
        </div>
        <div class="engagement color-light-grey">
          <!-- <span>Notoriété<br>digitale</span> -->
          <!-- <div class="grade pull-right color-light-grey"><span class="color-primary">4</span>/5</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
