<div class="project-card">
  <%= link_to explore_show_path(project['id']) do %>
  <div class="col-md-12 image bg-cover" style="background-image:url(<%= project['cover_url'] %>);"></div>
  <% end %>
  <div class="col-md-12 infos pt10">
    <%= link_to explore_show_path(project['id']) do %>
    <h4 class="ellipsis"><%= project['title'] %></h4>
    <% end %>
    <p class="color-grey"><%= truncate(strip_tags(project['summary']),:length => 110) %></p>

    <div class="row emplacement-ville">
      <div class="col-xs-7 col-sm-6 emplacement color-grey">
        <% if  project['ads_count'] != 0 %>
        <span class="color-secondary"><%= project['ads_count_available']  %> <small class="color-black">/<%= project['ads_count']  %></small></span> emplacmt. restants
        <% end %>
      </div>
      <div class="col-xs-5 col-sm-6 ville text-right">
        <h5 class="color-black bold ellipsis mb3">
          <% if project['locality'].present?  %>
          <i class="fa fa-map-marker mr5" aria-hidden="true"></i>
          <%= project['locality'] %>
          <% end %>
        </h5>
      </div>
      <div class="gauge-wrapper col-xs-12 pr0">
        <div class="gauge">
          <div class="status" style="width:<%= project['ads_count_available'].to_f/project['ads_count'].to_f*100 %>%;"></div>
        </div>
      </div>
    </div>
    <div class="row more-infos">
      <div class="col-xs-7 left">
        <div class="row category">
          <div class="col-md-12">
            <h6 class="color-tertiary normal"><%= project['sport'].present? ? project['sport']['fr'] : nil %></h6>
          </div>
        </div>
        <div class="row gender">
          <div class="col-sm-12">
            <h6 class="color-secondary normal"><%= project['project_type'].present? ? project['project_type']['fr']: nil %></h6>
          </div>
        </div>
        <div class="row age">
          <div class="col-md-12">
            <h6 class="color-secondary normal"><%= project['sport_category'].present? ? project['sport_category']['fr']: nil %></h6>
          </div>
        </div>
      </div>
      <div class="col-xs-5 pl10 pr10 right">
        <div class="budget color-light-grey">
          Budget
          <% if project['min_max'][0].present? and  project['min_max'][1].present? %>
          <h6 class="color-black"><%= humanized_money_with_symbol(project['min_max'][0]/100) %> <span class="color-light-grey">à</span> <%= humanized_money_with_symbol(project['min_max'][1]/100) %></h6>
          <% end %>
        </div>
        <div class="engagement color-light-grey">
          <!-- <span>Notoriété<br>digitale</span> -->
          <!-- <div class="grade pull-right color-light-grey"><span class="color-primary">4</span>/5</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
