<div class="container" id="search-bar">
  <form action="/explore" method="get">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-xs-2 categories pointer pl0 pr0">
        <input type="hidden" value="all">
        <div class="pt2 selected">
          <i class="fa fa-align-left fs16 selected-icon"></i>
          <span class="fs16 hidden-xs">Sports</span>
          <i class="fa fa-angle-down pull-right fs16"></i>
          <div class="separator"></div>
        </div>
        <ul class="dropdown">
          <% SportUniver.all.each do |s| %>
          <li data-category="<%= s.name %>">
            <%= s.name %>
            <ul class="dropright">
              <% s.sports.each do |sport| %>
              <li data-category="<%= sport.name %>"><%= sport.name %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="col-lg-7 col-sm-6 col-xs-5 pl0 pr0 keywords">
        <input id="search_what" class="ellipsis" type="text" name="what" placeholder="Que cherchez vous?" value="<%= @what.present? ?  @what : nil %>">
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-5 pl0 pr0 location">
        <input id="search_where" type="text" name="where" placeholder="Où?" value="<%= params['where'].present? ?  params['where'] : nil %>">
        <button type="submit">
          <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M11.72 12.638c-1.24 1.033-2.834 1.654-4.574 1.654C3.2 14.292 0 11.092 0 7.146 0 3.2 3.2 0 7.146 0c3.947 0 7.146 3.2 7.146 7.146 0 1.74-.62 3.334-1.654 4.573L18 17.08l-.92.92-5.36-5.362zm-4.574.355c3.23 0 5.847-2.618 5.847-5.847 0-3.23-2.618-5.847-5.847-5.847C3.916 1.3 1.3 3.916 1.3 7.145c0 3.23 2.617 5.847 5.846 5.847z" fill="#FFF" fill-rule="evenodd"/></svg>
        </button>
      </div>
    </div>
  </form>
</div>
