<div class="a-right mt10 mr10">
  <span class="bold uppercase mr10 color-primary"><%= t('front_office.share') %></span>
  <button class="btn btn-sm bg-twitter color-white share_twitter"      data-url="<%= canonical_for_layout %>"><i class="fa fa-twitter"></i></button>
  <button class="btn btn-sm bg-facebook color-white share_facebook"    data-url="<%= canonical_for_layout %>"><i class="fa fa-facebook"></i></button>
  <button class="btn btn-sm bg-google color-white share_gplus hidden-xs"         data-url="<%= canonical_for_layout %>"><i class="fa fa-google-plus"></i></button>
  <button class="btn btn-sm bg-linkedin color-white share_linkedin"    data-url="<%= canonical_for_layout %>"><i class="fa fa-linkedin"></i></button>
  <button class="btn btn-sm bg-pinterest color-white share_pinterest hidden-xs"  data-url="<%= canonical_for_layout %>"><i class="fa fa-pinterest"></i></button>
</div>
