<% @title_for_layout = "Sponsora | About" %>
<% @description_for_layout =  "Sponsorisez les sportifs de votre choix" %>
<% @canonical_for_layout = about_url %>
<%= render 'layouts/generic_meta' %>




<div class="container mt20 pt40 pb40">
  <div class="h1 color-primary">Pourquoi?</div>
  <p class="lead">Nous avons constater combien il était difficile pour les sportifs amateurs de trouver un sponsor : pas le temps de rechercher, pas l’expertise pour rédiger les contrats de sponsoring et pas le réseau suffisant.<br> Pourtant nous sommes convaincus que le sport amateur est vecteur de valeurs universelles : solidarité, engagement, travail, authenticité, dépassement de soi.</p>
  <hr>
  <div class="h1 color-primary">Fluidifier le marché du sponsoring amateur</div>
  <p class="lead">En mettant directement en relation les sportifs et les sponsors qui ne sont plus qu’à quelques clics d’écart<br>En les délaissant de la contrainte juridique <br>En proposant des outils innovant pour maximiser la visibilité du partenariat</p>
  <hr>
  <div class="h1 color-primary">Quels avantages?</div>
  <p class="lead">Une présence locale, au plus près de la population<br>Un coût très faible comparé au sport professionnel<br>Des valeurs défendues par passion : détachement du sport professionnel et gangréné par les scandales et l’argent</p>
</div>


<section class="bg-white">
  <div class="container center pb30">
    <div class="h1 color-primary center mt30 mb20">Vous êtes un sportif ?</div>
    <p class="lead">Vous cherchez un sponsor pour financer vos déplacements, votre équipement, vos compétitions, vos évènments sportifs ? <br>Vous avez des supports de publicité disponibles? (Maillot, short, casque, banderoles, ...)</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="center">
          <%= image_tag "infographie_1.png",:class=>"img-responsive img-thumbnail" %>
          <div class="a-left mt10">
            <div class="h1 color-primary mt30 mb5">Les +  :</div>
            <p class="h4">Maximisez vos chances de trouver des sponsors en quelques clics seulement</p>
            <p class="h4">Les contrats juridiques de sponsoring sont générés automatiquement! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container center pt10 pb30">
    <div class="h1 color-primary center mb20 mt50">Vous êtes un sponsor ?</div>
    <p class="lead">Vous cherchez à communiquer sur votre enseigne ou vos produits? <br> Avez-vous déjà pensé à accoler votre logo aux équipes sportives de votre village, de votre quartier ou de votre ville?</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="center">
          <%= image_tag "infographie_2.png",:class=>"img-responsive img-thumbnail" %>
          <div class="a-left mt10">
            <div class="h1 color-primary mt30 mb5">Les +  :</div>
            <p class="h4">Accoler votre logo a un sportif en quelques clics seulement</p>
            <p class="h4">Profitez d’une visibilité locale mais aussi digitale, grâce au relai sur les réseaux sociaux</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="MyVideo" class="relative">
 <div class="coverContentContainer">
  <div class="contentTable">
    <div class="headerText">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h1 class="color-white uppercase">Une expérience (enfin) agréable</h1>
            <div class="h4 color-white uppercase bold">Découvrez comment Sponsora révolutionne le sponsoring sportif</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<hr>



<div  class="container pb50">
  <h1 class="mb50 center">L'équipe</h1>
  <div class="row center">
    <div class="col-sm-6">
      <h3><a href="https://fr.linkedin.com/in/fabmoyon" target="_blank">Fabien Moyon <i class="fa fa-linkedin-square ml5"></i></a></h3>
      <div class="h4">Co-fondateur</div>
      <div><a href="mailto:fabien@sponsora.io">fabien@sponsora.io</a></div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= image_tag "fab.png", :class=>"img-thumbnail img-circle img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3><a href="https://ca.linkedin.com/pub/jules-welsch/91/463/991" target="_blank">Jules Welsch <i class="fa fa-linkedin-square ml5"></i></a></h3>
      <div class="h4">Co-fondateur</div>
      <div><a href="mailto:jules@sponsora.io">jules@sponsora.io</a></div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= image_tag "jules.png", :class=>"img-thumbnail img-circle img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row center mt40">
    <div class="col-sm-6">
      <h3><a href="https://www.linkedin.com/in/agn%C3%A8s-perraud-55304784" target="_blank">Agnès Perraud  <i class="fa fa-linkedin-square ml5"></i></a></h3>
      <div class="h4">EXPLORA Digital Development</div>
      <div><a href="mailto:contact@sponsora.io">contact@sponsora.io</a></div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= image_tag "agnes.jpg", :class=>"img-thumbnail img-circle img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3><a href="https://www.linkedin.com/in/andrea-berteil-pons-99b1528b" target="_blank">Andréa Berteil <i class="fa fa-linkedin-square ml5"></i></a></h3>
      <div class="h4">EXPLORA Digital Development</div>
      <div><a href="mailto:contact@sponsora.io">contact@sponsora.io</a></div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= image_tag "andrea.jpg", :class=>"img-thumbnail img-circle img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
