<% @title_for_layout = "#{ENV['SITE_NAME']} - #{@blog.title}" %>
<% @description_for_layout =  "#{truncate(@blog.summary, :length=>157)}" %>
<% @canonical_for_layout = blog_show_url(@blog) %>
<%= render 'layouts/generic_meta' %>

<%= image_tag 'mosaic.svg', :class=>"mosaic-left hidden-xs hidden-sm" %>
<%= image_tag 'mosaic.svg', :class=>"mosaic-right hidden-xs hidden-sm" %>
<%= image_tag 'mosaic-center.svg', :class=>"mosaic-center" %>

<main class="container pt60">
  <div class="row mb40">
    <div class="col-md-10 col-md-offset-1">
      <%= link_to blog_path do %>
        <h2>Blog</h2>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <article>
        <header class="bg-cover" style="background-image:url(<%= image_path @blog.picture.url(:medium) %>)">
        </header>
        <div class="body pr30 pl30 pb15">
          <h3><%= @blog.title %></h3>
          <time><%= "#{I18n.localize @blog.created_at.to_time,:format =>("%d %B %Y")}" %></time>
          <p>
            <%= @blog.content.html_safe %>
          </p>
        </div>
        <footer>
          <span><span class="hidden-xs">Par</span> <strong>Benjamin Gagnon</strong></span>
          <%= render :partial =>'pages/social_sharing',:locals =>{:canonical_for_layout => @canonical_for_layout} %>
        </footer>
      </article>
    </div>
  </div>
</main>
