<% @title_for_layout = "#{ENV['SITE_NAME']} - Blog" %>
<% @description_for_layout =  "TODO" %>
<% @canonical_for_layout = blog_url %>
<%= render 'layouts/generic_meta' %>

<%= image_tag 'mosaic.svg', :class=>"mosaic-left hidden-xs hidden-sm" %>
<%= image_tag 'mosaic.svg', :class=>"mosaic-right hidden-xs hidden-sm" %>
<%= image_tag 'mosaic-center.svg', :class=>"mosaic-center" %>


<main class="container pt60">

  <div class="row mb40">
    <div class="col-md-10 col-md-offset-1">
      <%= link_to blog_path do %>
        <h2>Blog</h2>
      <% end %>
    </div>
  </div>

  <% @blogs.in_groups_of(3,false).each do |row_blogs| %>
  <div class="row">
    <% row_blogs.each do |blog| %>
    <div class="col-md-10 col-md-offset-1">
      <article>
        <%= link_to blog_show_path(blog) do %>
          <header class="bg-cover" style="background-image:url(<%= image_path blog.picture.url(:medium) %>)">
          </header>
        <% end %>
        <div class="body pr30 pl30 pb30">
          <%= link_to blog_show_path(blog) do %>
            <h3><%= blog.title %></h3>
          <% end %>
          <time><%= "#{I18n.localize blog.created_at.to_time,:format =>("%d %B %Y")}" %></time>
          <p>
            <%= blog.summary %>
          </p>
        </div>
        <footer>
          <span>Par <strong>Benjamin Gagnon</strong></span>
          <%= link_to "Lire la suite",blog_show_path(blog),:class=>"pull-right" %>
        </footer>
      </article>
    </div>
    <% end %>
  </div>
  <% end %>
</main>
