<% @title_for_layout = @project.title %>
<% @canonical_for_layout = explore_show_url(@project) %>
<%= render 'layouts/generic_meta' %>

<div class="page-main-header bg-cover" style="background-image:url(<%= image_path("home-header.jpg") %>);">
  <div class="filigrane centered-content pb50">
    <div class="text-center pt40 pb40">
    </div>
  </div>
  <%= render '/pages/searchbar' %>
</div>


<main>
  <div class="container">
    <section class="pt40">
      <header id="project-header">
        <h1 class="medium fs30 color-black"><%= @project.title %></h1>
        <div class="row infos mt35">
          <div class="col-md-8">
            <div class="project-image bg-cover" style="background-image:url(<%= @project.picture.url(:medium) %>);">
            </div>
          </div>
          <div class="col-md-4 more-infos">
            <div class="creator inline-block full-width">
              <div class="color-grey fs14 text-right hidden-xs hidden-sm">Un projet de</div>
              <div class="mt10">
                <div class="pull-left mt2">
                  <!-- <span class="color-grey fs14">Démarré le</span><br> -->
                  <!-- <time><%#= "#{I18n.localize @project.created_at.to_time,:format =>("%d %B %Y")}" %></time> -->
                </div>
                <div class="pull-right text-right">
                  <div class="creator-thumb bg-cover pull-right ml15" style="background-image:url(<%= @project.user.image_to_display  %>);"></div>
                  <div class="pull-right mt5">
                    <h2 class="fs14 normal"><%= @project.user.name_to_display_full %></h2>
                    <% if @project.website.present? %>
                    <%= link_to 'voir site', @project.website, :class=>"color-secondary fs12 mt5", :target => '_blank' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% if @facebook.present? or @instagram.present? or @twitter.present? or @google.present?  %>
            <div class="creator-socials mt10">
              <span class="fs12 color-grey">Followers</span>
              <div class="row pl15 pr15">
                <div class="cells inline-block full-width pt5 pb5">
                  <% if @facebook.present?  %>
                  <div class="col-xs-3 cell">
                    <span class="fs14 block"><%= link_to "facebook",@facebook_link,:class=>"color-link",:target=>"_blank" %></span>
                    <span class="color-light-grey fs18 block"><%= @facebook_count %></span>
                  </div>
                  <% end %>
                  <% if @instagram.present?  %>
                  <div class="col-xs-3 cell">
                    <span class="color-secondary fs14 block"><%= link_to "instagram",@instagram_link,:class=>"color-link",:target=>"_blank" %></span>
                    <span class="color-light-grey fs18 block"><%= @instagram_user['data']['counts']['followed_by'] %></span>
                  </div>
                  <% end %>
                  <% if @twitter  %>
                  <div class="col-xs-3 cell">
                    <span class="color-secondary fs14 block"><%= link_to "twitter",@twitter_link,:class=>"color-link",:target=>"_blank" %></span>
                    <span class="color-light-grey fs18 block"><%= @twitter_user.followers_count %></span>
                  </div>
                  <% end %>
                  <% if @google.present?  %>
                  <div class="col-xs-3 cell">
                    <span class="color-secondary fs14 block"><%= link_to "youtube",@youtube_link,:class=>"color-link",:target=>"_blank" %></span>
                    <span class="color-light-grey fs18 block"><%= @youtube_channel.subscriber_count %></span>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <div class="category mt20">
              <h3 class="fs20 color-tertiary"><%= @project.sport.present? ? @project.sport.name : nil %></h3>
              <h4 class="fs14 color-light-grey mt5"><%= @project.sport.present? ?  @project.sport.sport_univer.name : nil %></h4>
            </div>

            <div class="gender mt20">
              <h3 class="fs20 color-secondary"><%= @project.project_type.present? ? @project.project_type.name : nil %></h3>
              <h4 class="fs14 color-light-grey mt5"><%=  @project.gender.present? ? @project.gender.name : nil %></h4>
            </div>

            <div class="age mt20">
              <h3 class="fs20 color-secondary"><%=  @project.sport_category.present? ? @project.sport_category.name : nil %></h3>
              <h4 class="fs14 color-light-grey mt5"><%= @project.sport_level.present? ? @project.sport_level.name : nil %></h4>
            </div>

            <div class="ville mt20">
              <h2 class="fs26"><%= @project.locality %></h2>
            </div>

            <div class="sharings">
              <div class="row">
                <div class="col-md-12">
                  <span class="fs14 block">partagez le projet</span>
                  <button class="share_twitter"    data-url="<%= @canonical_for_layout %>"><i class="fa fa-twitter"></i></button>
                  <button class="share_facebook"   data-url="<%= @canonical_for_layout %>"><i class="fa fa-facebook"></i></button>
                  <button class="share_gplus"      data-url="<%= @canonical_for_layout %>"><i class="fa fa-google-plus"></i></button>
                  <button class="share_linkedin"   data-url="<%= @canonical_for_layout %>"><i class="fa fa-linkedin"></i></button>
                  <button class="share_pinterest"  data-url="<%= @canonical_for_layout %>"><i class="fa fa-pinterest"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="gauge-wrapper inline-block full-width">
        <% if @ad_price_range[0].present? and  @ad_price_range[1].present? %>
        <div class="pull-left fs14 mt40"><%= humanized_money_with_symbol(@ad_price_range[0]/100) %> <span class="color-grey">à</span> <%= humanized_money_with_symbol(@ad_price_range[1]/100) %></div>
        <% end %>
        <div class="pull-right fs14">emplacements restants <span class="color-secondary fs50 ml5"><%= @project.ads.count %></span></div>
        <div class="gauge pull-left">
          <div class="status" style="width:40%;"></div>
        </div>
      </div>

      <main class="mt25">
        <div class="row">
          <div class="col-md-8 project-desc">
            <p><%= simple_format @project.summary %></p>
            <% if @project.palmares.present? %>
            <div class="h3">Palmares</div>
            <p><%= simple_format @project.palmares %></p>
            <% end %>
            <hr>

            <% @project.project_assets.each do |asset| %>
            <a href="<%= asset.image.url(:large) %>" data-lighter>
              <img src="<%= asset.image.url(:small) %>" class="img-thumbnail"/>
            </a>
            <% end %>

          </div>
          <div class="col-md-4 emplacements">
            <% if @project.ads.present? %>
            <h3 class="fs20 mb20">Emplacements</h3>
            <div class="row">
              <% @project.ads.order(:price_cents).each do |a| %>
              <div class="col-md-12 col-sm-6">
                <div class="emplacement">
                  <div class="image centered-content pt20">
                    <%= image_tag(a.ad_support_detail.picture.url(:medium)) %>
                  </div>
                  <div class="infos">
                    <div>
                      <h4 class="inline-block"><%= a.ad_support.name %></h4>
                      <h5 class="color-primary pull-right mAll0 normal"><%= a.ad_support_detail.name %> (<%= a.dimensions %>)</h5>
                    </div>
                    <div class="fs13 color-grey mt5">
                      <%= a.ad_season == 1 ? "Saisonnier" : "Temporaire" %>
                      <%= a.ad_season == 2 ? "<span class='pull-right color-secondary'>#{a.event_name}</span>".html_safe : nil %>
                    </div>
                    <% if a.date_from.present? and a.date_to.present? %>
                    <div class="fs12 color-grey inline-block mt10 time-range">
                      <time><%= I18n.localize a.date_from.to_time,:format =>("%d %b %Y") %></time>
                      <span class="ml5 mr5">à</span>
                      <time><%= I18n.localize a.date_to.to_time,:format =>("%d %b %Y") %></time>
                    </div>
                    <% end %>
                    <div class="inline-block full-width">
                      <hr>
                    </div>
                    <div class="color-light-grey inline-block sharing mt5">
                      <i class="fa fa-share-square-o"></i>
                      <i class="fa fa-bookmark-o"></i>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="sponsorise button-secondary pull-right">Je sponsorise !</a>
                      <h6 class="fs18 mr15 inline-block pull-right mt7"><%= humanized_money_with_symbol(a.price) %></h6>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </main>
    </section>
  </div>
</main>
