<% @title_for_layout = ENV['SITE_NAME'] %>
<% @description_for_layout =  "Sponsorisez les sportifs de votre choix" %>
<% @canonical_for_layout = root_url %>
<%= render 'layouts/generic_meta' %>


<div class="page-main-header home bg-cover" style="background-image:url(<%= image_path("home-header.jpg") %>);">
  <div class="filigrane centered-content pb50">
    <div class="text-center">
      <h1 class="uppercase fs30 color-white medium">Trouvez des sponsors<br>Sponsorisez des sportifs</h1>
      <h2 class="fs20 color-white mt10 normal">Plateforme de sponsoring sportif</h2>
      <div class="countdown mt30 inline-block">
        <p class="fs14 mb0 color-white medium">Encore <span class="underline fs18"><%= 1000-Project.count %></span> inscriptions avant le lancement</p>
      </div>
    </div>
  </div>
  <%= render '/pages/searchbar' %>
</div>


<main>
  <div class="container">
    <section class="pt15">
      <div class="pull-right text-center" id="this-month-count">
        <span class="fs14 medium color-grey inline-block mt10 mb10"><a href="#" class="color-secondary underline"><%= @elastic["results"].size %> projets</a> créés ce mois-ci</span>
      </div>
      <div class="inline-block mt20">
        <h3 class="color-grey fs18 medium">Populaire en ce moment</h3>
      </div>
      <div class="row mt15">
        <article class="project-card-wrapper large col-md-12">
          <%= render 'project_large', :project => @elastic["results"][0]['_source'] if @elastic["results"][0].present? %>
        </article>
      </div>
    </section>

    <section class="mt90" id="expose-your-brand">
      <div class="row mr0 ml0">
        <div class="col-md-4 col-sm-5 col-sm-push-7 col-xs-12 col-md-push-8 right text-center">
          <img src="<%= image_path "expose-your-brand.svg" %>" alt="" class="img-responsive mt10">
          <span class="color-grey fs12 pull-right mt30">et pleins d'autres supports...</span>
        </div>
        <div class="col-md-8 col-sm-7 col-sm-pull-5 col-xs-12 col-md-pull-4 pl30 pt30 pb20 left">
          <h3 class="fs40 color-secondary bold">Faites connaître votre marque à travers le sponsoring</h3>
          <h4 class="color-grey fs16 normal mt20">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h4>
          <a href="#" class="pull-left underline color-primary fs12 how-it-works">comment ça marche ?</a>
          <%= link_to "Trouvez votre ambassadeur idéal", explore_path, :class=>"button-primary pt10 pb10 pr20 pl20 fs15 fs15 pull-right mt30" %>
        </div>
      </div>
    </section>



    <% @elastic["results"].group_by {|x| x['_source']['sport_univer']['id']}.each do |a,b| %>
    <section class="mt90">
      <div>
        <%= image_tag b[0]['_source']['sport_univer']['url'],:class=>"mr5",:style=>"height:50px;" %>
        <h3 class="color-grey fs18 medium mt20 inline-block"><%= b[0]['_source']['sport_univer']['fr'] %></h3>
        <%= link_to "voir tous", explore_path(:sport_univer => a),:class=>"button-view-more-primary pull-right fs16 mt10" %>
      </div>
      <div class="row mt20">
        <% b.each_with_index do |project,x| %>
        <% if  x < 3 %>
        <article class="project-card-wrapper small col-md-4 col-sm-6 col-xs-12">
          <%= render 'project_little', :project => project['_source'] %>
        </article>
        <% end %>
        <% end %>
      </div>
    </section>
    <% end %>
  </div>
</main>





