<% @title_for_layout = ENV['SITE_NAME'] %>
<% @description_for_layout =  "Sponsorisez les sportifs de votre choix" %>
<% @canonical_for_layout = root_url %>
<%= render 'layouts/generic_meta' %>


<div class="container mt50">
  <h1 class="h3 center mb50">Conditions générales au 25 Janvier 2016</h1>
  <div>Définitions</div>
  <ul>
    <li>Sponsor : organisme réalisant une action de sponsoring.</li>
    <li>Parrain : sponsor.</li>
    <li>Sponsorisé : entité (personne ou organisme) responsable d’un projet sportif.</li>
    <li>Sponsoring : action d’apporter un soutien (matériel ou financier) à un projet ou une entité (personne ou organisme) en vue d’en retirer un bénéfice direct ou indirect.</li>
    <li>Parrainage : sponsoring.</li>
    <li>Contrepartie : service rendu au sponsor par un sponsorisé en échange du soutien apporté par le sponsor.</li>
    <li>Utilisateur : personne qui navigue sur le site et en utilise les services proposés.</li>
    <li>Site : le site web sponsora.io (URL principale : http://sponsora.io).</li>
  </ul>
  <div>Sauf mention contraire, dans la suite des présentes conditions générales d’utilisation, les définitions des termes ci-dessus sont appliquées.</div>

  <h2 class="mt20">1. Dispositions générales</h2>
  <p>Le site web sponsora.io (ci-après « le site ») fournit un service de mise en relation entre des sponsors et les porteurs de projet, en offrant un la possibilité aux utilisateurs porteurs de projet de publier des dossiers de sponsoring (incluant la description de leur projet, les services attendus de la part du sponsor et les contreparties apportées) , et aux sponsors de prendre connaissance de ces dossiers et d’initier le contact avec les porteurs de projet en vue de la conclusion éventuelle d’un accord de sponsoring.</p>
  <p>Ce service de mise en relation est complété par d’autres services proposés aux utilisateurs, en particulier la fonction de suivi de réalisation des actions de soutien des sponsors et des contreparties des porteurs de projet. L’ensemble des services proposés par le site sont soumis aux présentes conditions générales d’utilisation. Les informations fournies sur le site sont susceptibles d’être modifiées, supprimées ou enrichies à tout moment.</p>

  <h2 class="mt20">2. Utilisateurs</h2>
  <p>Préalablement à la création d’un compte utilisateur, conférant à l’utilisateur du site le profil de sponsor ou de sponsorisé, l’utilisateur doit accepter explicitement les présentes conditions générales d’utilisation en cochant la case « J'ai lu et j'accepte les conditions générales d'utilisation » de la page de création de compte utilisateur du site.</p>
  <p>Après création de leur compte les utilisateurs doivent renseigner leur profil avec des informations exactes, à jour et complètes, et doivent ensuite tenir à jour ces informations.</p>
  <p>Tout utilisateur inscrivant un organisme en tant que sponsor engage celui-ci à être constitué en une structure légale (ex. : société, association) lui permettant légalement de sponsoriser des projets.</p>
  <p>Les utilisateurs acceptent de respecter les lois en vigueur concernant le sponsoring, les taxes, les charges sociales et impôts de leur juridiction.</p>

  <h2 class="mt20">3. Services</h2>
  <p>1- Le site facilite la mise en relation entre utilisateurs sponsors et utilisateurs porteurs de projet, mais ne contrôle pas les échanges ayant lieu entre les parties prenantes. Les informations publiées sur le site sont modérées, soit a priori (ex. : profils des utilisateurs, dossiers de sponsoring), soit a posteriori (ex. : commentaires). Cette modération porte uniquement sur la forme et non sur le contenu – hors contenus illicites ou en infraction des conditions générales d’utilisation – et ce afin d'améliorer la qualité des services proposés. Le site n’est pas responsable :</p>
  <ul>
    <li>des besoins de soutien financier ou matériel exprimés par les porteurs de projet, et en particulier de la légalité de ces besoins au regard du contexte réglementaire et légal en vigueur dans les juridictions concernées,</li>
    <li>de la capacité des porteurs de projets à publier des demandes de sponsoring,</li>
    <li>de la capacité des sponsors à émettre des propositions de sponsoring,</li>
    <li>de la capacité des sponsors à assumer leurs engagements de sponsoring, ni de la capacité des porteurs de projet à s’acquitter des contreparties convenues avec leur(s) sponsor(s).</li>
    <li>la réalisation des contributions des sponsors aux porteurs de projet, ni de l'exactitude, l'accomplissement, et l'exécution des contreparties ou des projets,</li>
    <li>de la manière dont les utilisateurs opèrent, et n’est pas impliqué ni ne contrôle les relations entre les utilisateurs.</li>
    <li>des mises en relation entre utilisateurs non effectuées par l’intermédiaire du service de mise en relation proposé par le site,</li>
    <li>des accords convenus, contrats signés, ou résultats de mises en relation entre les utilisateurs, de la vérification des informations publiées par les utilisateurs, lesquels s’engagent par ailleurs à fournir des informations exactes au titre des présentes conditions générales d’utilisation : il incombe donc aux utilisateurs de s’assurer de l’identité et des capacités de réalisation des entités avec lesquels ils sont mis en relation par le biais du site,</li>
    <li>de toute infraction aux droits d'entreprises, de marques, de noms ou d'autres tiers de par l'inscription par l'utilisateur d'un nom de domaine, d'un site Internet, ou d’un nom d’entité,</li>
    <li>de toute violation ou non-respect par les utilisateurs des statuts ou lois en vigueur concernant le sponsoring, les taxes, les charges sociales et impôts,</li>
    <li>du calcul des taxes qui incombent aux à utilisateurs conséquemment la conclusion d’un accord de sponsoring, le site ne pouvant pas offrir et n’offrant pas de conseil en matière de taxation aux utilisateurs.</li>
  </ul>

  <p>2 - Afin de faciliter la réalisation et le suivi d’une opération de sponsoring, le site propose un ensemble de services permettant au sponsorisé et au sponsor prenant partie à l’opération de communiquer sur celle-ci notamment par l'intermédiaire de :</p>
  <ul>
    <li>la notification d’intention de sponsoriser de la part des sponsors,</li>
    <li>la possibilité pour les sponsors d’évaluer et de publier un commentaire sur les porteurs de projet, les projets et contreparties ; et pour les porteurs de projet d’évaluer et de publier un commentaire sur les sponsors</li>
  </ul>
  <p>Le sponsor apportant son soutien à un sponsorisé doit tenir à jour l’état d’avancement de ses contributions sur la page de suivi concernée, et le sponsorisé doit valider cet état d’avancement sur la page de suivi correspondante.</p>


  <p>3 - Les présentes conditions générales d’utilisation sont applicables sans réserve à l’utilisateur. Tout amendement ou condition divergente proposée par le client sont inopposables au site quand bien même ils n'auraient pas été explicitement refusés.</p>

  <p>4. Contenu et tarif des prestations</p>
  <p>Le contenu des prestations proposées ainsi que les tarifs correspondants et leur mode de paiement sont définis sur le site et précisés dans le présent alinéa.</p>
  <p>Les prix indiqués sur le site sont fermes et toutes taxes comprises (TTC).</p>
  <ul>
    <li>A. Les coordonnées d’un sponsorisé seront uniquement visibles des sponsors, et les coordonnées des sponsors ayant émis une intention de sponsoriser seront uniquement visibles du sponsorisé correspondant dès lors qu’il rentre en contact.</li>
    <li>B. Le paiement en ligne des services payants proposés par le site sont réalisés par le biais du service Paypal (accessible via l’URL http://paypal.com), c’est donc paypal en tant que prestataire qui fournit la facture des transactions réalisées, pour les paiements de prestations fournies par sponsora.io  (Mise en relation, abonnement).</li>
    <li>C. Le site n’intervient en aucun cas dans les transactions financières effectuées entre les utilisateurs.</li>
  </ul>

  <p>5. Responsabilité du site</p>
  <ul>
    <li>A. Chaque utilisateur garantit qu'il a le droit, les pouvoirs et l’autorité d'accepter ces conditions générales d’utilisation.</li>
    <li>B. L’utilisation des services proposés par le site se fait aux risques et périls de ses utilisateurs. Le site ne fournit aucune garantie expresse ou implicite quant à l’utilisation des services qu’il propose.</li>
    <li>
      C. Le site ne garantit pas que
      <ul>
        <li>(i) Les services répondront parfaitement aux attentes des utilisateurs</li>
        <li>(ii) Les services seront ininterrompus et intègres.</li>
        <li>(iii) Les résultats qui peuvent être obtenus en utilisant le service seront exacts et fiables.</li>
      </ul>
    </li>
    <li>D. Toute exécution de logiciel téléchargé depuis le site ou un lien publié sur le site, ou tout clic menant à un lien externe au site lors de l’utilisation au service, se feront aux risques et périls de l’utilisateur. L’utilisateur est seul responsable de tout dommage subi par son terminal informatique et/ou toute perte de données consécutifs à de telles actions. Aucun conseil et aucune information, qu’ils soient oraux ou écrits, obtenus par l’utilisateur du site ou lors de l’utilisation de ses services ne sont susceptibles de créer des garanties non expressément prévues par les présentes conditions générales d’utilisation.</li>
    <li>E. Le site ne répond que des dommages résultant d'une faute intentionnelle ou d'une négligence grave de sa part, ou de ses représentants légaux. Le site n’est en aucun cas responsable des dommages, de quelque nature que ce soit, directs ou indirects, spéciaux, punitifs ou consécutifs, résultant de l'accès à ce site ou de son utilisation, ou encore de toute information contenue sur ce site. Sont ainsi exclus toutes sortes de dommages, y compris les pertes de bénéfices, qu'ils soient relatifs aux parties ou non, ou qu'ils résultent de la responsabilité du fait des services proposés par le site, y compris si le site a été averti de l'éventualité d'un tel dommage. Le site exclut en outre toute responsabilité pour les dommages résultant d'une erreur de transmission de données, d'une perte de données ou de la reproduction erronée de données qu’il stocke à la suite de son enregistrement initial.</li>
    <li>F. Les contrats du site avec ses fournisseurs, notamment avec l’hébergeur du site, impliquent qu’une maintenance d'urgence ou planifiée peut être effectuée à tout moment. Le site ne prend aucun engagement de qualité de service (ex. : disponibilité, délai de restauration de service) à l’égard de ses utilisateurs. Le site n’est pas responsable d’éventuelles pertes de données ou transactions résultant du retard, de non disponibilité ou erreur de ses services.</li>
  </ul>

  <p>6. Protection des données informatiques.</p>
  <p>Par l’acceptation des présentes conditions générales d’utilisation, le client donne son accord au site pour tout traitement et enregistrement informatique de ses données.</p>
  <p>Le site s’engage à ne pas transmettre les données non publiées des utilisateurs à des tiers sans autorisation, sauf lorsque la transmission de ces données est nécessaire à l’exécution des services. Il ne peut néanmoins être exclu, compte tenu de l'état actuel des techniques relatives aux transmissions de données par Internet, que des tiers non autorisés parviennent à accéder aux données lors de la transmission de celles-ci sur Internet.</p>

  <p>7. Relations entre les parties</p>
  <ul>
    <li>A. Toutes les parties sont indépendantes vis-à-vis du site en dehors des engagements qui les lient dans le cadre des présentes conditions générales d’utilisation.</li>
    <li>B. Le site n’est lié a aucun utilisateur ni à aucun dossier de sponsoring posté. Le site ne fournit aucune contribution directe aux porteurs de projet pour qu’ils réalisent le projet qu’ils souhaitent voir sponsoriser. Toutefois, dans le cadre de promotion de son service, le site se réserve le droit de sponsoriser un projet publié sur le site.</li>
  </ul>
  <p>Tout problème, plainte ou question concernant le projet, les performances ou autre accord conclu entre un sponsorisé et un sponsor devront être résolus par ceux-ci. Le site n’interviendra en aucun cas dans les litiges susceptibles d’intervenir entre les parties.</p>
</div>

