<svg width="31" height="32" viewBox="498 -1 31 32" xmlns="http://www.w3.org/2000/svg"><path d="M498 0h28.008c1.1 0 1.992.898 1.992 1.992V30L498 0zm19.322 7.932v-2.1h3.556v2.1l-.98 4.648h-1.596l-.98-4.648zm.154 5.18h3.248v2.52h-3.248v-2.52z" fill="#F5A623" fill-rule="evenodd"/></svg>